.broadcastmain {
    .topRow {
        .breadcrumb {
            float: left;
            width: 80%;
        }
        .btn {
            margin-top: 21px;
        }
    }
    .cmpnyMsgbox {
        padding: 0px 0px;
        p {
            overflow: hidden;
        }
    }
}

@media only screen and (max-width: 767px) {
    .messageList .user {
        float: left !important;
    }
}