<section class="container-fluid with-maxwidth chapter">
    <article class="article broadcastmain">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/broadcast']">Broadcast</li>
                    <li class="breadcrumb-item active">{{heading}}</li>
                </ol>
                <button *ngIf="(groupInfo != 'from-super-admin') && (groupInfo != 'company-main-admin') " type="button" (click)="onAddMessage()" class="btn btn-primary float-right">Post</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <div class="messageBox cmpnyMsgbox">
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing" class="messageList">
                            <ul>
                                <li *ngFor="let message of broadcastMessages">
                                    <div class="user">
                                        <div class="adjustsnap"><img src="{{message.user.imageUrl}}" /></div>
                                    </div>
                                    <div class="msgDetail">
                                        <h5>{{message?.user?.name}}</h5>
                                        <div *ngIf='message.time' class="dateTime">
                                            {{message.time| dateFormat}}<span>{{message.time| dateFormat:'shortTime'}}</span>
                                        </div>
                                        <p [innerHTML]='message.message'>
                                        </p>
                                    </div>
                                </li>
                                <li *ngIf="!broadcastMessages.length">
                                    <p class="color-danger">Message list is empty. </p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>