.welcomeForm{
    width:100%;   
    height: 100%;
    .modal{
       
        .modal-dialog{
        width:100%;
        padding:30px 7%;
        max-width:750px;
        background:#fff;
        border:1px solid #d4d4d4;
        border-radius:4px;
        text-align: center;
        margin: 0 auto;
        }
        
        .modal-title{
            font-size:45px;
            margin-bottom:100px;
        }
        .modal-body{
            p{
            font-size:30px;
            margin-bottom:65px;
            }
            
        }
        .modal-footer{
            margin: 50px 0 20px;
            .btn-blue{    background-color: #64c3fa;
    padding: 13px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;}
        }
    }
}