
       

<div class="header">
    <div class="top-header"><img src="assets/images/logo-white.png" width="160"></div>
</div>
 
<div class="page-auth">
  <!-- Modal --> <br>
   <div class="container"></div>
  <section class="welcomeForm">
    <div id="myModal" class="modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div *ngIf="!isCompleted" class="modal-content">
           <form #managerAssessmentNoteForm="ngForm">
            <div class="row">
              <div class=" col-sm-12 form-group">
                <h4 class="heading" >{{title}}</h4>
              </div>
              <div class=" col-sm-12 form-group">
                <div class="lftinpt20">
                  <label class="form-inline">Manager note</label>
                </div>
                <div class="">
                  <textarea style="height:170px; width:100%;" class="form-control" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="note"
                    myNoSpaces rows="4"></textarea>
                  <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                      Manager note is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
      </form>
      <div class="clearfix"></div>
        <div class="text-center">
            <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <button *ngIf="!isCreateProcessing" (click)="onThirdPartyNote(managerAssessmentNoteForm.form.valid)" class="btn btn-primary btn-lg">Save</button>
          </div>
        </div>
        <div *ngIf="isCompleted" >

          <h3>  Thank you</h3>
        </div>
      </div>
    </div>
  </section>
</div>