<div class="container-fluid chapter">
  <article class="article">
    <div class="row">
      <div class="col-md-12 pageHead">
        <h2 class="article-title">Add checklist</h2>
      </div>
    </div>
    <div class="box box-default boardingList">
      <div class="box-header box-dark">PD & KPI
        <i class="material-icons">border_color</i>
        <i class="material-icons float-right arrow">keyboard_arrow_down</i>
      </div>
      <div class="box-body">
        <div class="form-group">
          <table width="100%">
            <tbody>
              <tr>
                <td colspan="2" class="title">Title</td>
              </tr>
              <tr>
                <td>Gone through position description</td>
                <td></td>
              </tr>
              <tr>
                <td>Employee understand the KPI's</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
        <div class="btn-wrapper text-right col-md-12 addUserBtn">
          <button md-raised-button color="accent" [routerLink]="['/app/super-admin/checklist/create-list']" class="addButton"><span class="icon">+</span> Add another list</button> 
        </div>
      </div>
      </div>
    </div>
   </article>
</div>