<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee/activites']">Performance appraisal</a></li>
                    <li class="breadcrumb-item active">Self assessment</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer">
        <app-steps [progress]='progress'></app-steps>
      </div> -->
        </div>
        <div class="cmpnycontentBox">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="noResult && !isProcessing" class="row">
                <div class="col-sm-12"> No result found.</div>
            </div>
            <div *ngIf="!noResult && !isProcessing" class="row PIPmainBox">
                <div class="col-sm-12 pipHeader">
                    <div class="row">
                        <div class="col-lg 6 col-md-4">
                            <h3 class="heading">Performance appraisal</h3>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye" *ngIf="isValidData(pa?.managerID)">
                                <div class="title">Assigned manager</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img class="img-circle" height="40px" [src]="pa?.managerID?.imageUrl" width="40px"></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.managerID?.name}}</h5>
                                        <div class="designation">{{pa?.managerID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye">
                                <div class="title">Assigned to</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img class="img-circle" height="40px" [src]="pa?.userID?.imageUrl" width="40px"></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.userID?.name}}</h5>
                                        <div class="designation">{{pa?.userID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <br>
                <div class="col-sm-12">
                    <br>
                    <br>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Answers to performance indicators<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                            <div class="box" *ngFor="let pi of pa?.performanceIndicator">
                                <ul class="indicator">
                                    <li class="lftside">
                                        <h6>Performance indicator</h6>
                                        <label>{{pi?.title}}</label>
                                    </li>
                                    <li class="rghtside">
                                        <h6>Measurement performance indicator</h6>
                                        <label>{{pi?.measure}}</label>
                                    </li>
                                </ul>
                                <h5 class="heading">Employee self assessment of performance indicator
                                    <button *ngIf="!pi['isEditing']" class="pull-right btn btn-special" (click)="pi['isEditing']=true">Edit <i class="fa fa-pencil"></i></button>
                                </h5>
                                <p *ngIf="!pi['isEditing']">{{pi?.response}}</p>
                                <textarea *ngIf="pi['isEditing']" class="form-control" [(ngModel)]="pi.response" style="height:90px;"></textarea>
                                <div class="color-danger" *ngIf="!pi.response && submitted">Please enter your response.</div>
                                <div *ngIf="pi['isEditing']" class="buttonWrap text-right">
                                    <button style="margin-top:15px;" [disabled]="!pi.response" class="btn btn-primary" (click)="pi['isEditing']=false">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">Answers to survey questions<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox">
                            <div class="box addIndicator" *ngFor="let qsn of pa?.question">
                                <h5 class="heading">{{qsn?.questionTitle}}
                                    <button *ngIf="!qsn['isEditing']" class="pull-right btn btn-special" (click)="qsn['isEditing']=true">Edit <i class="fa fa-pencil"></i></button>
                                </h5>
                                <p *ngIf="!qsn['isEditing']">{{qsn?.response}}</p>
                                <textarea *ngIf="qsn['isEditing']" class="form-control" [(ngModel)]="qsn.response"></textarea>
                                <div class="color-danger" *ngIf="!qsn.response && submitted">Please enter your answer.</div>
                                <div *ngIf="qsn['isEditing']" class="buttonWrap text-right">
                                    <button [disabled]="!qsn.response" class="btn btn-primary" (click)="qsn['isEditing']=false">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse2']=!collapse['personalinfoCollapse2']" [ngClass]="{active:!collapse['personalinfoCollapse2']}">Date for up comming assessment<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse2']}" class="collapseContentbox">
                            <h6 style="margin-top:0px;" class="heading">Date & time of performance of performance appraisal <span class="tag"> {{formatDate(pa?.assessmentDate)}}</span></h6>
                        </div>
                    </div>

                    <md-progress-spinner *ngIf="isSubmitting" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isSubmitting" class="col-sm-12 text-center">
                        <button class="btn btn-primary btn-lg" (click)="saveResponse()">Save response</button>
                    </div>
                </div>
            </div>
        </div>
    </div>