.circle-inner-container .circle-data {
    max-width: 188px;
}

.media-right {
    padding-left: 12px;
    .tag {
        display: block;
        padding: 0px 3px;
        background: #cce8ff;
        border: 1px solid #39adf1;
    }
}

.indicator {
    display: flex;
    border: 1px solid #d6d6d6;
    @media screen and (max-width: 767px) {
        display: block;
    }
    h6 {
        background: #ebebeb;
        padding: 7px 15px;
        margin: 0;
        border: 1px solid #ebebeb;
    }
    .lftside {
        width: 50%;
        label {
            padding: 4px 15px;
            border-bottom: 1px dotted #d4d4d4;
            display: block;
            &:last-child {
                border-bottom: 0px;
            }
        }
        @media screen and (max-width:767px) {
            width: 100%;
        }
    }
    .rghtside {
        width: 50%;
        @media screen and (max-width: 767px) {
            width: 100%;
            margin-top: 30px;
        }
        label {
            padding: 4px 15px;
            border-bottom: 1px dotted #d4d4d4;
            display: block;
            &:last-child {
                border-bottom: 0px;
            }
        }
    }
}

table {
    background: #f3f3f3;
}

.addIndicator {
    textarea {
        height: 90px;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.toggleSwitch .slider i {
    font-weight: 500;
    font-size: 17px;
    font-family: Lato;
}