<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <!-- <li class="breadcrumb-item" [routerLink]="['/app/employee/activites']">Training day</li> -->
                    <li class="breadcrumb-item active">Training plan detail</li>
                </ol>
            </div>
            <!--<div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>-->
        </div>
        <div class="row">
            <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessingDetail" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessingDetail && noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox text-center">No result found.</div>
            </div>
            <div *ngIf="!isProcessingDetail && !noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox">
                    <div class="date text-right"><strong>Completed</strong>&nbsp;&nbsp; {{formatDateTime(trainingPlan?.completedOn)}} </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Training plan</h4>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training plan title</label>
                            </div>
                            <div class="rghtinput10">
                                {{trainingPlan?.title}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Reason</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.reason |safe:'html'">
                                <!-- {{trainingPlan?.reason}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Action plan</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.actionPlan |safe:'html'">
                                <!-- {{trainingPlan?.actionPlan}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Objective</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.objective |safe:'html'">
                                <!-- {{trainingPlan?.objective}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Assigned manager</label>
                            </div>
                            <div class="rghtinput10 userList">
                                <div class="userName">
                                    <img class="profile-round" [src]="trainingPlan?.assignedBy?.imageUrl">
                                    <div class="name">{{trainingPlan?.assignedBy?.name}}
                                        <div class="department">{{trainingPlan?.assignedBy?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!trainingPlan?.acknowledgementSignature || !trainingPlan?.acknowledgementSignature?.type">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10"><label class="form-inline"></label></div>
                        <div class="rghtinput10">
                            <div class="customchkbox">
                                <input id="roll3" name="fs" type="checkbox" #accept="ngModel" ngModel="accept.value" class="required" aria-required="true" checked>
                                <label for="roll3"></label>
                            </div>
                            <span>I acknowledge that I have received training under the guidance of <b>{{trainingPlan?.assignedBy?.name}}</b> on <b>{{formatDateTime(trainingPlan?.completedOn)}}</b></span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10"><label class="form-inline">Signature</label></div>
                        <div class="rghtinput10">
                            <div class="signaturebox form-control text-center" style="padding: 30px 0 30px;">
                                <span class="signDemo" [ngClass]="signature?.type">{{signature?.text}}</span>
                            </div>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing" class="col-sm-12 text-right form-group nextstepbtn">
                        <button [disabled]="!accept.value || !signature || !signature?.type" (click)="acknowledge()" class="btn btn-lg btn-primary"> Acknowledge</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>