<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Trophy list</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-6 col-xl-10  col-lg-8">
                            <div class="empSrearch topSearchFilter">
                                <form name="searchForm">
                                    <div id="custom-search-input">
                                        <form #searchForm="ngForm" (ngSubmit)="getTrophyList()">
                                            <div class="input-group">
                                                <input type="text" name="searchKey" #searchKey="ngModel" [(ngModel)]="searchText" class="form-control" placeholder="Search by trophy title" required>
                                                <span class="input-group-btn">
                          <button class="btn" type="submit">
                              <i class="fa fa-search"></i>
                          </button>
                        </span>
                                            </div>
                                        </form>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6  col-xl-2 col-lg-4 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filter<span class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" style="margin-top: 3px;"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]="toggleFilter">
                    <div class="col-sm-12">
                        <!--custome filter pop up-->
                        <div class="filterController row">
                            <div class="col-sm-12">
                                <h3 class="title">Status</h3>
                                <ul class="checkbox over250">
                                    <li><label><input type="checkbox" [(ngModel)]="filter.Pending"><span>Pending</span></label></li>
                                    <li><label><input type="checkbox" [(ngModel)]="filter.Voted"><span>Voted</span></label></li>
                                </ul>
                            </div>
                            <button (click)="isChecked() && getTrophyList()" class="btn pull-right btn-lg outlined" [ngClass]="{'btn-default': !isChecked(), 'btn-primary': isChecked()}">Apply filter <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table class="full-width table" #mf="mfDataTable" [mfData]="trophyList" [mfRowsOnPage]="10">
                        <thead>
                            <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="awardFor">Award for &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                            </th>
                            <th>Trophy</th>
                            <th class="text-center">
                                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                            </th>
                            <th class="text-center" style="width:200px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trophy of mf.data; let i=index;">
                                <td>{{trophy?.title}}</td>
                                <td>{{trophy?.awardFor}}</td>
                                <td class="text-center">
                                    <div class="trophyClr">
                                        <i class="fa fa-trophy"></i>
                                        <img [src]="trophy.icon" />
                                    </div>
                                </td>
                                <td class="text-center">{{trophy?.status}}</td>
                                <td style="width:150px;" class="text-center">
                                    <button *ngIf="trophy.status =='Pending'" class="btn btn-primary" [routerLink]="['/app/employee/trophy/voting',trophy.trophyID]">Vote </button>
                                    <button *ngIf="trophy.status =='Voted'" class="btn btn-special" [routerLink]="['/app/employee/trophy/view-voted',trophy.trophyID]">View </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div class="text-center">
                        <span *ngIf="trophyList.length==0"> No result found. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>