<md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<section *ngIf="!isProcessing"  class="contract-version innerAdmins">
 
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h2 class="sub-title">Edited Version {{policy?.edited?.version}}</h2>
        <div class="box">
          <div class="versionDetails">
            <!--<p [innerHTML]="contract.edited.description"></p>-->
            <p  [innerHTML]="policy?.edited?.description" class="white-space-pre"></p>     
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <h2 class="sub-title">Super admin Version {{policy?.accepted?.version}}</h2>
        <div class="box">
          <div class="versionDetails">
            <p [innerHTML]="policy?.accepted?.description" class="white-space-pre"></p>           
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <h2 class="sub-title">Edit</h2>
        <form #compareForm="ngForm">
        <div class="quillEditor">
            <quill-editor [(ngModel)]="policy.new.description" myNoSpaces #discription="ngModel" name="discription" required>
              <div quill-editor-toolbar>
                <span class="ql-formats">
                    <button class="ql-bold" [title]="'Bold'"></button>
                    <button class="ql-italic" [title]="'Italic'"></button>
                    <button class="ql-underline" [title]="'Underline'"></button>
                    <button class="ql-strike" [title]="'Strike'"></button>
                </span>

                <span class="ql-formats">
                  <button class="ql-blockquote" [title]="'Block Quote'"></button>
                    <button class="ql-code-block" [title]="'Code Block'"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-header" value="1" [title]="'Header 1'"></button>
                    <button class="ql-header" value="2" [title]="'Header 2'"></button>
                </span>

                <span class="ql-formats">
                  <button class="ql-list" value="ordered" [title]="'Ordered List'"></button>
                  <button class="ql-list" value="bullet" [title]="'Bullet List'"></button>
                </span>

                <span class="ql-formats">
                  <button class="ql-script" value="sub"[title]="'Subscript'"></button>
                  <button class="ql-script" value="super"[title]="'Superscript'"></button>
                </span>
                <span class="ql-formats">
                <button class="ql-indent"  value="-1" [title]="'Indent'"></button>
                  <button class="ql-indent"  value="+1" [title]="'Indent'"></button>
                </span>

                <span class="ql-formats">
                <button class="ql-direction" value="rtl" [title]="'Direction'"></button>
                </span>

                <span class="ql-formats">
                  <select class="ql-size" [title]="'Size'">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>

                <span class="ql-formats">
                  <select class="ql-header" [title]="'Header'">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option selected></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <select class="ql-color" [title]="'Color picker'">
                    <option value="#ffffff"></option>
                    <option value="#00000"></option>
                    <option value="#e34fff"></option>
                    <option value="#a34565"></option>
                    <option value="#dd4545"></option>
                    <option selected></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <select class="ql-background" [title]="'Background Color Picker'">
                    <option value="#ffffff"></option>
                    <option value="#00000"></option>
                    <option value="#e34fff"></option>
                    <option value="#a34565"></option>
                    <option value="#dd4545"></option>
                    <option selected></option>
                  </select>
              </span>

              <span class="ql-formats">
                <select class="ql-font" [title]="'Font'">
                  <option selected></option>
                  <option value="serif"></option>
                  <option value="monospace"></option>
                </select>
              </span>

                <span class="ql-formats">
                  <select class="ql-align" [title]="'Alignment'">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>

                <span class="ql-formats">
                  <button class="ql-clean" [title]="'Clean'"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-link" [title]="'Link'"></button>
                    <button class="ql-image" [title]="'Image'"></button>
                    <button class="ql-video" [title]="'Video'"></button>
                </span>

              </div>
            </quill-editor>
          </div>
         
        </form>
      </div>
    </div>
    <div class="text-center">
      <button [disabled]="!compareForm.form.valid" (click)="onAccept(compareForm.form.valid)" class="btn btn-lg btn-primary" >Accept / Save</button>
    </div>

     
  </div>
</section>