// layout
.app-header {
    display: block;
    position: relative;
    z-index: $l_zindex_navbar;
    // height: $l_header_height;
    width: 100%;
    background-color: $l_white;
    .toggle-sidebar {
        display: block;
    }
    .top-nav-left {
        .mat-button-wrapper {
            color: #4b4c4d;
            font-size: 20px;
            .badge {
                font-size: 14px;
            }
        }
    }
}

.otherInfo {
    padding: 0px 15px 1px 15px;
    border-top: 1px solid #dedede;
    .actionStats {
        margin-top: 15px;
        li {
            height: auto !important;
            margin-bottom: 6px;
            font-size: 13px;
            .ststsInfo {
                line-height: 17px;
                //float: left;
                //width: 141px;
                span {
                    color: #64c3fb
                }
            }
            .percentage {
                float: right;
                width: 80px;
                text-align: right;
                margin-left: 10px;
                line-height: 18px;
                color: #acacac
            }
        }
    }
    h4 {
        margin: 2px 0px 18px;
        font-size: 19px;
        font-weight: 700;
        color: #4b4c4d;
        padding-top: 16px;
    }
    .progressBox {
        .progress {
            width: 50%;
            float: left;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -o-border-radius: 4px;
            -ms-border-radius: 4px;
            .progress-bar {
                background-color: #f79e31;
                height: 10px;
            }
        }
        .progressStatus {
            float: right;
            color: #acacac;
            font-style: italic;
            line-height: 7px;
        }
    }
}

.fixed-header {
    .app-header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
    }
}

// desktop
@media only screen and (min-width: $l_screen_md_min) {
    .app-header {
        .toggle-sidebar-btn {
            display: none;
        }
        .brand {
            display: inline-block;
            width: 221px;
            padding: 0 0 0 $l_sidebar_width_collapsed;
            transition: padding .25s $l_transition_ease_out;
            a {
                text-decoration: none;
                font-weight: normal;
            }
        }
    }
    .nav-behind {
        .app-header {
            .brand {
                padding-left: 0;
            }
        }
    }
}

.customChoice {
    display: inline-block;
    margin-right: 30px;
    position: relative;
    input {
        +label {
            height: 19px;
            padding-left: 28px;
            cursor: pointer;
            font-weight: normal !important;
            position: relative;
            &:before {
                content: "";
                height: 19px;
                width: 19px;
                display: inline-block;
                border: 1px solid #acacac;
                position: absolute;
                left: 0px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
            }
        }
        display:none;
        &:checked+label {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 7px;
                width: 7px;
                display: inline-block;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                left: 6px;
                top: 6px;
                background: #444444;
            }
        }
    }
}