// Style with angular-material


// Header
// --------------------------------------------------

.top-nav-left,
.top-nav-right {
    // only apply to first level, not dropdown
    li {
        .header-btn {
            &.md-button {
                margin: 0;
                line-height: $l_header_height;
                border-radius: 0;
                min-width: 52px;
                @media only screen and (min-width: $l_screen_md_min) {
                    min-width: 58px;
                }

                > .material-icons {
                    vertical-align: middle;
                }

                .badge {
                        position: absolute;
                        bottom: 9px;
                        right: 0px;
                        color: inherit;
                        height: 22px;
                        width: 22px;
                        font-size: 13px;
                        display: block;
                        background: #ff8383;
                        line-height: 22px;
                        text-align: center;
                        padding: 0;
                        margin: 0;
                        @include border-radius(50%);
                }
            }
        }

    }
}



// Sidebar
// --------------------------------------------------
.app-sidebar {
    .md-button {
        margin: 0;
        text-align: left;
        text-transform: none;
        border-radius: 0;
        font-weight: normal;

        line-height: inherit;
        min-height: inherit;
        min-width: inherit; // for collapsed nav
    }
}



// Sidebar
// --------------------------------------------------
.quickview-app {
    md-tabs {
        > md-tabs-wrapper {
            background-color: #eee;
            padding: 0 40px;
        }

        md-pagination-wrapper {
            width: 100% !important;
        }
    }
}