<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <form #mandatoryDocForm="ngForm">
                        <!-- <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div style="margin-bottom:30px;"  class="lftinpt10">
                                    <label class="form-inline" style="display:inline-block">Please add mandatory documents</label>
                                </div>
                                <div  style="margin-bottom:10px;"  class="rghtinput10 row" >
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input style="display:inline-block"  [(ngModel)]="document.name" name="mandatoryDocument" required myNoSpaces #mandatoryDocument="ngModel" type="text" class="form-control" placeholder="What is name the of the document" />                                        
                                    </div>
                                    <!--<div class="col-md-2 col-sm-6 col-xs-12" >
                                        <span class="input-group-btn ">
                                        <button class="btn-md btn btn-danger" type="submit" (click)="removeOption(i)"><i>-</i></button>
                                    </span>
                                    </div>-->

                                    <div *ngIf="mandatoryDocument.errors && ( (mandatoryDocument.dirty || mandatoryDocument.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(mandatoryDocument.errors.required || mandatoryDocument.errors.whitespace)">
                                            Mandatory document is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">&nbsp;</label>
                                </div>
                                <div class="rghtinput10 text-left" style="max-width:600px;">
                                    <!-- <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
                                    <button [disabled]="isProcessing && mandatoryDocForm.form.valid" (click)="isButtonClicked= true;save(mandatoryDocForm)" class="btn btn-primary btn-lg">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>