<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
    <div class="col-md-12">
      <h2 class="article-title">Transaction Report
        <span class="cvsReport float-right"><i class="fa fa-share-square-o" aria-hidden="true"></i><div class="iconTitle">Extract CSV</div></span>
      </h2>
    </div>
  </div>
  <!--Filter Box-->
  <div class="filter-wrapp box box-default contentBox positionFilter">
       <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span>
    <div class="row">
        <div class="filterColumn">
          <h5 class="filterTitle">Status</h5>
          <div class="input-group gapleft">
              <input class="form-control" placeholder="Search" type="text">
              <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
          </div>
         <div class="filterItems">
            <ul>
                <li><md-checkbox name="active" >Active </md-checkbox></li>  
                <li><md-checkbox name="inactive" >InActive </md-checkbox></li>   
              </ul>
          </div>
        </div>
        <div class="filterColumn">
          <h5 class="filterTitle">Employee Count</h5>
          <div class="input-group gapleft">
              <input class="form-control" placeholder="Search" type="text">
              <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
          </div>
         <div class="filterItems">
            <ul>
                <li><md-checkbox name="100" >100 </md-checkbox></li>  
                <li><md-checkbox name="200" >200 </md-checkbox></li>   
              </ul>
          </div>
        </div>
        <div class="filterColumn">
          <h5 class="filterTitle">Revenue</h5>
          <div class="input-group gapleft">
              <input class="form-control" placeholder="Search" type="text">
              <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
          </div>
         <div class="filterItems">
            <ul>
                <li><md-checkbox name="" >$1000 - $20,000 </md-checkbox></li>  
                <li><md-checkbox name="" >$2000 - $30,000 </md-checkbox></li>   
              </ul>
          </div>
        </div>
        <div class="filterColumn gapleft">
           <h5 class="filterTitle blankhead"></h5> 
           <my-date-picker [options]="myDatePickerOptions"(dateChanged)="onDateChanged($event)" placeholder="Filter by Date"></my-date-picker>
        </div>
     </div>
  </div>  
  
  
      <div class="box box-default table-box table-responsive mdl-shadow--2dp">
          <table class="mdl-data-table">
            <thead>
              <tr>
                  <th>Transaction ID</th>
                  <th>Transaction Date</th>
                  <th>Company Name</th>
                  <th>Company Type</th>
                  <th>Employee Count</th>
                  <th>Transaction Amount</th>
                  <th>Type of Transaction</th>
                  <th>Plan Type Support</th>
                  <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td> </td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> 
              <tr>
                <td></td>
                <td> </td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td> </td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>
             </tfoot>
          </table>
        </div>
    
    
  
  </article>
</div>
