.positionFilter {
    padding: 0 30px 25px;
    md-input-container {
        width: 100%;
    }
}

.mdl-data-table td.outerTbl:last-of-type {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}

.mdl-data-table td.tableHead {
    font-weight: bold;
    font-size: 15px;
    background-color: #ebebeb;
    color: #808080;
}

.selectWrapper {
    width: 80%;
    md-input-container {
        width: 100%;
    }
}

.mat-checkbox-layout {
    margin-bottom: 0px;
}

.positionListTable {
    .mdl-data-table {
        th {
            padding: 15px;
        }
        td {
            &:last-child {
                width: 12%;
            }
        }
    }
}

.box {
    &:last-child {
        &.box-default {
            .mdl-data-table {
                border-left: 0px;
                border-right: 0px;
                tr {
                    &:hover {
                        background-color: rgba(202, 202, 202, 0.08);
                    }
                    th {
                        border-top: 1px solid #cccccc;
                        border-bottom: 1px solid #cccccc;
                        background: #CCCCCC;
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.mdl-data-table td:first-of-type {
    padding-left: 16px;
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

.addUserBtn {
    span {
        position: relative;
        top: 0;
    }
}

.filterItems {
    overflow-y: auto;
    ul {
        height: 100px;
    }
}

.thead {
    background: #cccccc;
    padding: 15px;
    margin-bottom: 1px;
    font-family: 'LatoWebHeavy';
    color: #1b1b1b;
    font-size: 15px;
}

.tableWrapper{
    overflow:auto;
    table{
        min-width:751px;
        width:100%;
    }
}