<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">Policy document management</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <!--Filter Box-->
        <div *ngIf="!isProcessing">
            <div class="box box-default  paddingBox policyDetail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="selectWrapper float-left">
                            <div class="searchbar row">
                                <div class="input-group col-md-12">
                                    <input class="form-control" type="text" placeholder="Search by policy title" #searching maxlength="50" (keyup)="onFilter()" [(ngModel)]="searchText" />
                                    <div class="input-group-addon">
                                        <md-icon>search</md-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a *ngIf="permission.add" class="addUserBtn float-right" [routerLink]="['/app/super-admin/policy/newPolicy']">
                            <button md-raised-button color="accent" class="addButton"><span class="icon">+</span> Add new</button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4">


                        <h5 class="filterTitle">Policy type</h5>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let policyType of policyDocumentTypes|searchByTitle:searchKeyPolicyType;let i=index">
                                    <md-checkbox name="policyType_{{i}}" (change)="onFilter()" [(ngModel)]="filters.policyDocumentTypeID[policyType.policyDocumentTypeID]"> {{policyType.title}} </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-md-4">
                        <h5 class="filterTitle">Status</h5>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let s of status|search:searchKeyStatusType;let i=index">
                                    <md-checkbox name="active" (change)="onFilter()" [(ngModel)]="filters.status[s]">
                                        <div *ngIf="s=='Active'">Active</div>
                                        <div *ngIf="s=='Inactive'">Inactive</div>
                                    </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h5 class="filterTitle">Version</h5>
                        <div class="input-group">
                            <input class="form-control" id="inlineFormInputGroup" placeholder="Search For" [(ngModel)]="searchKeyVersionType" type="text">
                            <div class="input-group-addon">
                                <md-icon aria-label="search" class="material-icons mat-icon" role="img">search</md-icon>
                            </div>
                        </div>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let version of versions|searchByKey:searchKeyVersionType:'version';let i=index">
                                    <md-checkbox name="version_{{i}}" (change)="onFilter()" [(ngModel)]="filters.version[version.version]">{{version.version}}</md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Filter Box close-->
            <div class="positionListTable box box-default">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-box table-responsive">
                            <div style="background-color:danger; width:100%" *ngIf="policies.length==0 && !listProcessing">
                                <div class="alert alert-danger" style="width:100%" align="center" id="textCenter">No record found</div>
                            </div>
                            <ng-container *ngIf="!listProcessing">
                                <ng-container *ngFor="let pType of policyDocumentTypes">
                                    <div class="thead" *ngIf="differentPoliciesData[pType.title]?.length != 0 && differentPoliciesData[pType.title]">{{pType.title}}</div>
                                    <div class="tableWrapper">
                                        <table style="border-bottom:0px;" *ngIf="differentPoliciesData[pType.title]?.length != 0 && differentPoliciesData[pType.title]" class="mdl-data-table full-width" [mfData]="differentPoliciesData[pType.title]" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Date of creation</th>
                                                    <th>Last updated</th>
                                                    <th>Version</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let policy of mf.data;let i=index">
                                                <tr class="cursor" *ngIf="policy?.policyDocumentType?.title==pType.title" (click)="getPolicyDetails(policy.policyDocumentID);$event.stopPropagation()">
                                                    <td>{{policy.title}}</td>
                                                    <td>{{policy.insertTime| dateFormat:'longDate'}}</td>
                                                    <td>{{policy.updateTime| dateFormat:'longDate'}}</td>
                                                    <td>{{policy.version}}</td>
                                                    <td>{{policy.status}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr>
                                                    <td class="progressSpinner" colspan="5" style="background:#ffffff !important;border-bottom:0px !important;">
                                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="full-width text-center">
                            <md-progress-spinner *ngIf="listProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </article>
</div>