<div class="container-fluid chapter discount-coupon-sa">
    <form #discountCouponForm="ngForm" class="md-form-auth form-validation">
        <article class="article">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="article-title">{{title}}</h2>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header box-dark">General details</div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="boldTitle" style="margin-right:20px">Coupon name</label>
                                    <md-input-container>
                                        <input name="couponName" mdInput myNoSpaces required placeholder="Enter coupon name" #couponName="ngModel" [(ngModel)]="discountCoupon.couponName">
                                    </md-input-container>
                                    <div *ngIf="couponName.errors && (couponName.dirty || couponName.touched)">
                                        <div class="alert alert-danger" [hidden]="!(couponName.errors.required || couponName.errors.whitespace)">
                                            Coupon name is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="boldTitle" style="margin-right:20px">Max. user count</label>
                                    <md-input-container>
                                        <input name="maxUserCount" mdInput required placeholder="Maximum user count" #maxUserCount="ngModel" type="number" [(ngModel)]="discountCoupon.couponMaxUseCount">
                                    </md-input-container>
                                    <div *ngIf="maxUserCount.errors && (maxUserCount.dirty || maxUserCount.touched)">
                                        <div class="alert alert-danger" [hidden]="!(maxUserCount.errors.required || maxUserCount.errors.whitespace)">
                                            User count is required !
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="boldTitle">Valid from</label>
                                            <dp-date-picker class="form-control" name="validFrom" #validFrom="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="discountCoupon.couponValidFrom" [config]="config" placeholder="Valid from"></dp-date-picker>
                                            <!-- <div *ngIf="validFrom.errors && (validFrom.dirty || validFrom.touched) && discountCouponForm.submitted">
                                                <div class="alert alert-danger" [hidden]="!(validFrom.errors.required)">
                                                    Valid from is required !
                                                </div>
                                            </div> -->
                                            <!-- <div *ngIf="completion.touched || inviteForm.submitted">
                                <div class="alert alert-danger" [hidden]="!active || completion.valid"> Please select the completion date. </div>
                            </div> -->


                                            <!-- <my-date-picker [options]="myDatePickerOptions" name="validFrom" required
                                        (dateChanged)="onValidFromDateChange($event)" 
                                        placeholder="Valid from" #validFrom="ngModel"
                                        [(ngModel)]="discountCoupon.validFrom">
                        </my-date-picker>
                         <div *ngIf="validFrom.errors && (validFrom.dirty || validFrom.touched)">
                          <div class="alert alert-danger" [hidden]="!(validFrom.errors.required || validFrom.errors.whitespace)">
                            Date is required !
                          </div>
                        </div> -->
                                        </div>
                                        <div class="col-md-6">
                                            <label class="boldTitle">Valid till</label>
                                            <dp-date-picker class="form-control" name="validTill" #validTill="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="discountCoupon.couponTypeValidTill" [config]="config" placeholder="Valid till"></dp-date-picker>
                                            <!-- <div *ngIf="validTill.errors && (validTill.dirty || validTill.touched) && discountCouponForm.submitted">
                                                <div class="alert alert-danger" [hidden]="!(validTill.errors.required)">
                                                    Valid till is required !
                                                </div>
                                            </div> -->

                                            <!-- <my-date-picker [options]="myDatePickerOptions" name="validTill" required (dateChanged)="onValidTillDateChange($event)" placeholder="Valid till" #validTill="ngModel" [(ngModel)]="discountCoupon.validTill">
                                            </my-date-picker>
                                            <div *ngIf="validTill.errors && (validTill.dirty || validTill.touched)">
                                                <div class="alert alert-danger" [hidden]="!(validTill.errors.required || validTill.errors.whitespace)">
                                                    Date is required !
                                                </div>
                                            </div> -->
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <md-input-container>
                                        <input name="maxUserCount" mdInput required placeholder="Maximum user count" #maxUserCount="ngModel" type="number" [(ngModel)]="discountCoupon.couponMaxUseCount">
                                    </md-input-container>
                                    <div *ngIf="maxUserCount.errors && (maxUserCount.dirty || maxUserCount.touched)">
                                        <div class="alert alert-danger" [hidden]="!(maxUserCount.errors.required || maxUserCount.errors.whitespace)">
                                            User count is required !
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header box-dark">Add / Discount to employee / User
                    <md-slide-toggle class="pull-right" color="primary" [(ngModel)]="discountToEmployee" name="discountSupport"></md-slide-toggle>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="boldTitle">Add discount per user</label>
                                    <angular2-multiselect [data]="dropDownListType" [(ngModel)]="selectedItemsOfDiscountPerUserType" #DiscountPerUserType="ngModel" name="DiscountPerUserType" required [selectedItems]="selectedItemsOfDiscountPerUserType" [settings]="dropDownSettingSingleSelect"
                                        (onSelect)="onDiscountPerUserDropdownSelect($event)" (onDeSelect)="onDiscountPerUserDropdownDeSelect($event)">
                                    </angular2-multiselect>
                                    <div id="error_div" class="alert alert-danger" *ngIf="(DiscountPerUserType.errors && isAddButtonClicked) ||  (DiscountPerUserType.errors && (DiscountPerUserType.dirty || DiscountPerUserType.touched))">
                                        Discount type is required !
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="boldTitle">Value</label>
                                    <md-input-container class="col-md-6">
                                        <input name="discountPerUserAmount" mdInput required placeholder="Enter value" #discountPerUserAmount="ngModel" type="number" [(ngModel)]="discountCoupon.discountToEmployeeValue">
                                    </md-input-container>
                                    <div *ngIf="discountPerUserAmount.errors && (discountPerUserAmount.dirty || discountPerUserAmount.touched)">
                                        <div class="alert alert-danger" [hidden]="!(discountPerUserAmount.errors.required || discountPerUserAmount.errors.whitespace)">
                                            Value is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="boldTitle fullwidthlbl">Select plan</label>
                                    <angular2-multiselect [data]="dropDownListSubscriptionPlans" [(ngModel)]="selectedItemsOfSubscriptionPlanDropdownSelect" #selectedPlan="ngModel" name="selectedPlan" required [selectedItems]="selectedItemsOfSubscriptionPlanDropdownSelect" [settings]="dropDownSettingMultiSelect"
                                        (onSelect)="onSubscriptionPlanDropdownSelect($event)" (onDeSelect)="onSubscriptionPlanDropdownDeSelect($event)">
                                    </angular2-multiselect>
                                    <div id="error_div" class="alert alert-danger" *ngIf="(selectedPlan.errors && isAddButtonClicked) ||  (selectedPlan.errors && (selectedPlan.dirty || selectedPlan.touched))">
                                        Select atleast one plan !
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header box-dark">Add discount to support
                    <md-slide-toggle class="pull-right" color="primary" [(ngModel)]="discountToSupport" name="discountSupport">
                    </md-slide-toggle>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="boldTitle">Add discount to support</label>
                                    <angular2-multiselect [data]="dropDownListType" [(ngModel)]="selectedItemsOfDiscountOnServicesType" #DiscountOnServices="ngModel" name="DiscountOnServices" required [selectedItems]="selectedItemsOfDiscountOnServicesType" [settings]="dropDownSettingSingleSelect"
                                        (onSelect)="onServiceDiscountDropdownSelect($event)" (onDeSelect)="onServiceDiscountDropdownDeSelect($event)">
                                    </angular2-multiselect>
                                    <div id="error_div" class="alert alert-danger" *ngIf="(DiscountOnServices.errors && isAddButtonClicked) ||  (DiscountOnServices.errors && (DiscountOnServices.dirty || DiscountOnServices.touched))">
                                        Discount type is required !
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="boldTitle">Value</label>
                                    <md-input-container class="col-md-6">
                                        <input name="discountToSupportAmount" mdInput required placeholder="Enter value" #discountToSupportAmount="ngModel" type="number" [(ngModel)]="discountCoupon.discountToSupportValue">
                                    </md-input-container>
                                    <div *ngIf="discountToSupportAmount.errors && (discountToSupportAmount.dirty || discountToSupportAmount.touched)">
                                        <div class="alert alert-danger" [hidden]="!(discountToSupportAmount.errors.required || discountToSupportAmount.errors.whitespace)">
                                            Value is required !
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="boldTitle fullwidthlbl">Select support service</label>
                                    <angular2-multiselect [data]="dropDownListSupportServices" [(ngModel)]="selectedItemsOfSupportServiceDropdownSelect" #selectedSupportService="ngModel" name="selectedSupportService" required [selectedItems]="selectedItemsOfSupportServiceDropdownSelect"
                                        [settings]="dropDownSettingMultiSelect" (onSelect)="onSupportServiceDropdownSelect($event)" (onDeSelect)="onSupportServiceDropdownDeSelect($event)">
                                    </angular2-multiselect>
                                    <div id="error_div" class="alert alert-danger" *ngIf="(selectedSupportService.errors && isAddButtonClicked) ||  (selectedSupportService.errors && (selectedSupportService.dirty || selectedSupportService.touched))">
                                        Select atleast one support service!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrapper col-md-12 text-center addUserBtn">
                <button md-raised-button color="accent" [disabled]='!discountCouponForm.form.valid' (click)="onSubmit(discountCouponForm.form.valid)" class="addButton"> Generate Coupon Code</button>
            </div>
        </article>
    </form>
</div>