.currentEmpoption {
    margin-top: 10px;
    .customChoice {
        display: inline-block;
        &:last-child {
            margin-left: 20px;
        }
    }
}

.timePeriod {
    display: block;
}

.form-group .input-group .form-control {
    max-width: inherit;
}

.form-group .form-control {
    max-width: inherit;
}

.registrationForm {
    h4 {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 20px;
    }
}

.form-group .lftinpt30 {
    width: 46%;
}

.form-group .rghtinput {
    width: 54%;
}

.form-group .lftinpt10 {
    width: 22.5%;
}

.form-group .rghtinput10 {
    width: 77.5%;
}

.awardsField {
    position: relative;
    .form-control[readonly] {
        background: #ffffff;
    }
    &:after {
        content: "";
        height: 36px;
        width: 9px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 0px;
        background: url('/assets/images/arrows.png') no-repeat center center;
    }
}

.inlineFields {
    .info {
        display: block;
        width: 100%;
        float: left;
        color: #bdbdbd;
    }
}

.maxformWidth {
    max-width: 87%;
    margin: 0px auto;
}

// .inlineFields .symboliconinput {
//     width: 70%;
//     float: right;
// }
.admin-panel {
    .empTypeDD {
        &.fullWidthDD {
            .cuppa-dropdown {
                max-width: inherit !important;
            }
        }
    }
}

dp-date-picker {
    max-width: inherit !important;
}

.awardsFilter {
    li {
        display: inline-block;
    }
}