<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/employee-management']">Employee management</li>
                    <li class="breadcrumb-item active">General information</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox registrationForm">
                    <h4 class="heading">Step 2: General information</h4>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <form *ngIf="!isProcessing" #generalInformation="ngForm" class="form-horizontal" (ngSubmit)="generalInformation.valid && saveAndNext()">
                        <div class="row maxformWidth">
                            <div class=" col-sm-6 form-group">
                                <div class="lftinpt30">
                                    <label class="form-inline">First name</label>
                                </div>
                                <div class="rghtinput">
                                    <input class="form-control" name="firstName" type="text" placeholder="First Name" #firstName="ngModel" [(ngModel)]="info.firstName" placeholder="Name" required>
                                    <div *ngIf="firstName.dirty || firstName.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="firstName.valid">
                                            First name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6 form-group">
                                <div class="lftinpt30">
                                    <label class="form-inline">Last name</label>
                                </div>
                                <div class="rghtinput">
                                    <input class="form-control" name="lastName" type="text" placeholder="Last name" #lastName="ngModel" [(ngModel)]="info.lastName">
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group emailRow">
                                <div class="lftinpt10">
                                    <label class="form-inline">Email</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>
                                        <input class="form-control" name="email" type="email" placeholder="Email" #email="ngModel" [(ngModel)]="info.email"  pattern=".*@.*\.*[A-Za-z/d]$" required>
                                    </div>
                                    <div *ngIf="email.dirty || email.touched || generalInformation.submitted">
                                        <!-- <div class="color-danger" [hidden]="email.valid">
                                            Email is required.
                                        </div> -->
                                        <div class="color-danger" *ngIf="!email.value && !email.valid"> Email is required. </div>
                                        <div class="color-danger" *ngIf="email.value && !email.valid">Email is not valid.</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="employementLevelList.length" class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Employment level</label>
                                </div>
                                <div class="rghtinput10 empTypeDD fullWidthDD">
                                    <angular2-multiselect [data]="employementLevelList" [(ngModel)]="selectedEmployementLevel" #employementLevel="ngModel" name="employementLevel" required [selectedItems]="selectedEmployementLevel" [settings]="dropdownSettings2" (onSelect)="onSelectSelectedEmployementLevel($event,true)"
                                        (onDeSelect)="onSelectSelectedEmployementLevel($event,false)">
                                    </angular2-multiselect>
                                    <div *ngIf="employementLevel.dirty || employementLevel.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="employementLevel.valid">
                                            Employee level is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Employment type</label>
                                </div>
                                <div class="rghtinput10 empTypeDD fullWidthDD">
                                    <angular2-multiselect [data]="employementList" [(ngModel)]="selectedEmployeeTypes" #employeeType="ngModel" name="duration1" required [selectedItems]="selectedEmployeeTypes" [settings]="dropdownSettings" (onSelect)="onSelectEmployementType($event,true)"
                                        (onDeSelect)="onSelectEmployementType($event,false)">
                                    </angular2-multiselect>
                                    <div *ngIf="employeeType.dirty || employeeType.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="employeeType.valid">
                                            Employee type is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group" *ngIf="employmentTypeID=='x'">
                                <div class="lftinpt10">
                                    <label class="form-inline">Own contract type</label>
                                </div>
                                <div class="rghtinput10">
                                    <angular2-multiselect [data]="ownContractList" [(ngModel)]="selectedOwnContract" #ownContractType="ngModel" name="duration111" required [selectedItems]="selectedOwnContract" [settings]="dropdownSettings3" (onSelect)="onSelectOwnContractTypes($event,true)" (onDeSelect)="onSelectOwnContractTypes($event,false)">
                                    </angular2-multiselect>
                                    <div *ngIf="ownContractType.dirty || ownContractType.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="ownContractType.valid">
                                            Contract type is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group" *ngIf="ownContractID!=null">
                                <div class="lftinpt10">
                                    <label class="form-inline">Contract type</label>
                                </div>
                                <div class="rghtinput10">
                                    <angular2-multiselect [data]="owncontractListTypes" [(ngModel)]="selectedContractTypes" #contractType="ngModel" name="duration11" required [selectedItems]="selectedContractTypes" [settings]="dropdownSettings" (onSelect)="onSelectContractType($event,true)" (onDeSelect)="onSelectContractType($event,false)">
                                    </angular2-multiselect>
                                    <div *ngIf="contractType.dirty || contractType.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="contractType.valid">
                                            Contract type is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ******************************************* -->
                            <!-- Full Time -->
                            <div class=" col-sm-12 form-group" *ngIf="employmentTypeID == 1 || contractTypeID == 1">
                                <div class="lftinpt10">
                                    <label class="form-inline">Salary</label>
                                </div>
                                <div class="rghtinput10 inlineFields">
                                    <div class="currentEmpoption">
                                        <div class="customChoice">
                                            <input (click)="setEmployeeSalary()" id="hourly1" type="radio" name="remunarationPeriod" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Hourly" class="required" required>
                                            <label for="hourly1">Hourly</label>
                                        </div>
                                        <div class="customChoice">
                                            <input (click)="resetEmployeeSalary()" id="annually1" type="radio" name="remunarationPeriod" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Annually" class="required" required>
                                            <label for="annually1">Annually</label>
                                        </div>
                                        <div style="float:left;width:100%;" *ngIf="remunarationPeriod.dirty || remunarationPeriod.touched || generalInformation.submitted">
                                            <div class="color-danger" [hidden]="remunarationPeriod.valid">
                                                Remuneration period is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-bottom:2px;margin-top:15px;float:left;width:100%;">
                                        <span class="input-group-addon" style="padding:0.5rem 0.9rem;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input style="max-width:270px;" class="form-control" name="amount" placeholder="Amount" #amount="ngModel" [(ngModel)]="info.remunarationRate" required type="text" (blur)="isValidSalary()">
                                    </div>
                                    <div style="float:left;width:100%;" *ngIf="amount.dirty || amount.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="amount.valid">
                                            Amount is required.
                                        </div>
                                        <div class="color-danger" [hidden]="validSalary">
                                            Amount must be greater than {{minSalary}}.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Part Time -->
                            <div class=" col-sm-12 form-group" *ngIf="employmentTypeID == 2 || contractTypeID == 2">
                                <div class="lftinpt10">
                                    <label class="form-inline">Salary</label>
                                </div>
                                <div class="rghtinput10 inlineFields">
                                    <div class="currentEmpoption">
                                        <div class="customChoice">
                                            <input (click)="setEmployeeSalary()" id="hourly1" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Hourly Rate" class="required" required>
                                            <label for="hourly1">Hourly rate</label>
                                        </div>
                                        <div class="customChoice">
                                            <input (click)="resetEmployeeSalary()" id="annually1" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Annually Pro Rate" class="required" required>
                                            <label for="annually1">Annually pro rata</label>
                                        </div>
                                    </div>
                                    <div style="float:left;width:100%;" *ngIf="remunarationPeriod.dirty || remunarationPeriod.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="remunarationPeriod.valid">
                                            Remuneration period is required.
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-bottom:2px;margin-top:15px;float:left;width:100%;">
                                        <span class="input-group-addon" style="padding:0.5rem 0.9rem;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input style="max-width:270px;" class="form-control" name="amount" placeholder="Amount" #amount="ngModel" [(ngModel)]="info.remunarationRate" required type="text" (blur)="isValidSalary()">
                                    </div>
                                    <div style="float:left;width:100%;" *ngIf="amount.dirty || amount.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="amount.valid">
                                            Amount is required.
                                        </div>
                                        <div class="color-danger" [hidden]="validSalary">
                                            Amount must be greater than {{minSalary}}.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Casual -->
                            <div class=" col-sm-12 form-group" *ngIf="employmentTypeID == 3 || contractTypeID == 3">
                                <div class="lftinpt10">
                                    <label class="form-inline">Salary</label>
                                </div>
                                <div class="rghtinput10 inlineFields">
                                    <div class="currentEmpoption">
                                        <div class="customChoice">
                                            <input (click)="setEmployeeSalary()" id="hourly1" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Hourly" class="required" required>
                                            <label for="hourly1">Hourly</label>
                                        </div>
                                        <div style="float:left;width:100%;" *ngIf="remunarationPeriod.dirty || remunarationPeriod.touched || generalInformation.submitted">
                                            <div class="color-danger" [hidden]="remunarationPeriod.valid">
                                                Remuneration period is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-bottom:2px;margin-top:15px;float:left;width:100%;">
                                        <span class="input-group-addon" style="padding:0.5rem 0.9rem;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input style="max-width:270px;" class="form-control" name="amount" placeholder="Amount" #amount="ngModel" [(ngModel)]="info.remunarationRate" required type="text" (blur)="isValidSalary()">
                                    </div>
                                    <div style="float:left;width:100%;" *ngIf="amount.dirty || amount.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="amount.valid">
                                            Amount is required.
                                        </div>
                                        <div class="color-danger" [hidden]="validSalary">
                                            Amount must be greater then {{minSalary}}.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Contract -->
                            <div class=" col-sm-12 form-group" *ngIf="employmentTypeID == 4 || contractTypeID == 4">
                                <div class="lftinpt10">
                                    <label class="form-inline">Salary</label>
                                </div>
                                <div class="rghtinput10 inlineFields">
                                    <div class="currentEmpoption">
                                        <div class="customChoice">
                                            <input id="hourly1" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Hourly" class="required" required>
                                            <label for="hourly1">Hourly</label>
                                        </div>
                                        <div class="customChoice">
                                            <input id="annually1" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Annually (Full Time)" class="required" required>
                                            <label for="annually1">Annually (Full time)</label>
                                        </div>
                                        <div class="customChoice">
                                            <input id="annually2" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Annually (Pro Rate)" class="required" required>
                                            <label for="annually2">Annually (Pro rate)</label>
                                        </div>
                                        <div class="customChoice">
                                            <input id="annually3" type="radio" name="Salary" #remunarationPeriod="ngModel" [(ngModel)]="info.remunarationPeriod" value="Day Rate" class="required" required>
                                            <label for="annually3">Day rate</label>
                                        </div>
                                        <div style="float:left;width:100%;" *ngIf="remunarationPeriod.dirty || remunarationPeriod.touched || generalInformation.submitted">
                                            <div class="color-danger" [hidden]="remunarationPeriod.valid">
                                                Remuneration period is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group" style="margin-bottom:2px;margin-top:15px;float:left;width:100%;">
                                        <span class="input-group-addon" style="padding:0.5rem 0.9rem;">
                                            <i class="fa fa-dollar"></i>
                                        </span>
                                        <input style="max-width:270px;" class="form-control" name="amount" placeholder="Amount" #amount="ngModel" [(ngModel)]="info.remunarationRate" required type="text" (blur)="isValidSalary()">
                                    </div>
                                    <div style="float:left;width:100%;" *ngIf="amount.dirty || amount.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="amount.valid">
                                            Amount is required.
                                        </div>
                                        <div class="color-danger" [hidden]="validSalary">
                                            Amount must be greater than {{minSalary}}.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- **************************************************** -->

                            <div class=" col-sm-12 form-group" *ngIf="(employmentTypeID && employmentTypeID != 5) || (contractTypeID && contractTypeID != 5)">
                                <div class="lftinpt10">
                                    <label class="form-inline">Superannuation</label>
                                </div>
                                <div class="rghtinput10 inlineFields">
                                    <div class="currentEmpoption">
                                        <div class="customChoice">
                                            <input id="superannuation1" type="radio" name="referalfee" #superannuation="ngModel" [(ngModel)]="info.superannuation" value="No" class="required" required>
                                            <label for="superannuation1">Excluding superannuation</label>
                                        </div>
                                        <div class="customChoice">
                                            <input id="superannuation2" type="radio" name="referalfee" #superannuation="ngModel" [(ngModel)]="info.superannuation" value="Yes" class="required" required>
                                            <label for="superannuation2">Including superannuation</label>
                                        </div>
                                    </div>
                                    <div class="info">Choose whether superannuation is excluded or included in the salary.</div>
                                    <div style="width:100%;float:left;" *ngIf="superannuation.dirty || superannuation.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="superannuation.valid">
                                            Superannuation is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6 form-group" *ngIf="employmentTypeID == 4 || contractTypeID == 4">
                                <div class="lftinpt30">
                                    <label class="form-inline">Contract start date</label>
                                </div>
                                <div class="rghtinput">
                                    <dp-date-picker class="form-control" #contractStartDate="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="info.contractStartDate" [config]="config" name="contractStartDate" placeholder="Pick a date" [required]="true"></dp-date-picker>
                                    <div *ngIf="contractStartDate.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="contractStartDate.valid">
                                            Contract start date is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-6 form-group" *ngIf="employmentTypeID == 4 || contractTypeID == 4">
                                <div class="lftinpt30">
                                    <label class="form-inline">Contract end date</label>
                                </div>
                                <div class="rghtinput">
                                    <dp-date-picker class="form-control" [theme]="'dp-material'" name="contractEndDate" #contractEndDate="ngModel" [mode]="'day'" [(ngModel)]="info.contractEndDate" [config]="config" placeholder="Pick a date" [required]="true"></dp-date-picker>
                                    <div *ngIf="contractEndDate.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="contractEndDate.valid">
                                            Contract end date is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Is the person a current employee?</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="currentemp1" type="radio" name="isCurrentEmployee" #isCurrentEmployee="ngModel" [(ngModel)]="info.isCurrentEmployee" value="Yes" class="required" (change)="onChangeCurrentEmp($event)" required>
                                        <label for="currentemp1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="currentemp2" type="radio" name="isCurrentEmployee" #isCurrentEmployee="ngModel" [(ngModel)]="info.isCurrentEmployee" value="No" class="required" (change)="onChangeCurrentEmp($event)" required>
                                        <label for="currentemp2">No</label>
                                    </div>
                                    <div *ngIf="isCurrentEmployee.dirty || isCurrentEmployee.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="isCurrentEmployee.valid">
                                            Current employment is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="info.isCurrentEmployee=='No'" class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Offer expiry date</label>
                                </div>
                                <div class="rghtinput10">
                                    <dp-date-picker class="form-control" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="info.offerExpiryDate" [config]="config" name="offerExpiryDate" #offerExpiryDate="ngModel" [required]="true" placeholder="Pick a date"></dp-date-picker>
                                    <div *ngIf="offerExpiryDate.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="offerExpiryDate.valid">
                                            Offer expiry date is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">{{(info.isCurrentEmployee && info.isCurrentEmployee=='Yes')? "Employee's actual start
                                        date":"Employee's start date"}}</label>
                                </div>
                                <div class="rghtinput10">
                                    <dp-date-picker class="form-control" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="info.employeeStartDate" [config]="configEmp" name="employeeStartDate" #employeeStartDate="ngModel" placeholder="Pick a date" [required]="true"></dp-date-picker>
                                    <div *ngIf="employeeStartDate.touched || generalInformation.submitted">
                                        <div class="color-danger" [hidden]="employeeStartDate.valid">
                                            Employment start date is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Award</label>
                                </div>
                                <div class="rghtinput10">
                                    <input *ngIf="!info.awardName" readonly class="form-control" (click)="onClick()" placeholder="Select awards">
                                    <div *ngIf="info.awardName" class=" col-sm-12 form-group">
                                        <label class="control-label">{{info.awardName || 'Not specified'}}</label>
                                        <button type="button" class="btn pull-right" (click)="onClick()">Edit
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </div>
                                    <div>
                                        <div *ngIf="generalInformation.submitted">
                                            <div class="color-danger" [hidden]="info.awardName">
                                                Award is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Mandatory documents (optional)</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        Would you like to request Mandatory documents from the contractor ? <br>
                                        The documents requested will be safety card , Drivers licence, certificate of currency , first aid  etc. <br>
			                            Please click button to request the documents. 
                                        <button type="button" (click)="openMandatoryDocPopup('add',{name:''},null);false" class="btn btn-primary btn-md">Request mandatory documents</button>
                                        <br><br>
                                        <div *ngIf="info.mandatoryDocuments && info.mandatoryDocuments.length>0" class="table-responsive Invitetable">
                                            <table>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr *ngFor="let s of info.mandatoryDocuments; let i = index;">
                                                    <td class="white-space-pre">Mandatory document {{i+1}}</td>
                                                    <td>{{s?.title}}</td>
                                                    <td>
                                                        <button type="button" (click)="openMandatoryDocPopup('edit',s,i)" class="btn btn-primary btn-sm">Edit <i class="fa fa-pencil"></i></button>
                                                        <button type="button" (click)="onDeleteDoc(i)" class="btn btn-danger btn-sm">Delete <i class="fa fa-trash"></i> </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>