<section class="container-fluid with-maxwidth chapter">
    <article class="article broadcastmain">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/broadcast']">Broadcast</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox cadminMsglist">

                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <ul *ngIf="!isProcessing" class="messageBox">
                        <li *ngFor="let g of broadcastGroups">
                            <h4 [routerLink]="['/app/company-admin/broadcast/detail/'+g.group]">{{g?.title}}</h4>
                            <div class="infoMsg">
                                <span class="dateTime">Last message on : {{formatDate(g.lastMessageTime)}}</span>
                                <span class="msgCount">{{g?.count}} <i class="material-icons">message</i></span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>