<div class="container-fluid chapter">
    <div class="dashboard article">
         <h2 class="article-title">Support package purchased</h2>        
            <div class="cmpnycontentBox recentActivity">
                <div class="cmpnycontentBoxInner">                   
                    <div class="recentActiDateList">
                        <div class="tableWrapper">
                            <table class="mdl-data-table">
                                <thead>
                                    <th style="width:50px;">
                                        Transaction
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Company name
                                    </th>
                                    <th>
                                        Company type
                                    </th>
                                    <th>
                                        Email id
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Payment for
                                    </th>
                                    <th>
                                        Payment by
                                    </th>
                                    <th>
                                        Payment status
                                    </th>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td>xjs52sl</td>
                                        <td>22 march 2017</td>
                                        <td>22:46</td>
                                        <td>abc@mail.com</td>
                                        <td>Tata</td>
                                        <td>Main</td>
                                        <td>tata@gmial.com</td>
                                        <td>$5000</td>
                                        <td>Direct debit</td>
                                        <td>Successful</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>        
    </div>
</div>