.mdl-data-table{
    tr{
        &.tHead{
            td{
                font-size:15px;
            }
        }
        th{
            padding-top:10px;
        }
    }
}
.filter-wrapp {
    &.box{
        margin-bottom:0px;
    }
.filterItems {
    overflow-y: visible; 
  }
  .filtericn {
        @media (max-width:479px){
           right: 4px;
           top: 7px;
           font-size: 28px;
        }
     }
}