<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
    <div class="col-md-12">
      <h2 class="article-title">Company Wise API</h2>
    </div>
  </div>
  <!--Filter Box-->
   <div class="box box-default  paddingBox">
     <div class="topFilter full-width">
              <div class="input-group">
                 <input class="form-control" [(ngModel)]="search.name" placeholder="Search" type="text" (keyup)="onSearch()">
                 <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
              </div>
              
            </div>
     <div class="filter-wrapp box box-default contentBox">
       <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span>
    <div class="row">
        <div class="filterColumn">
          <my-date-picker [options]="myDatePickerOptions"(dateChanged)="onDateChangedFrom($event)" placeholder="From"></my-date-picker>
        </div>
        <div class="filterColumn">
           <my-date-picker [options]="myDatePickerOptions"(dateChanged)="onDateChangedTo($event)" placeholder="To"></my-date-picker>
        </div>
      </div>
  </div>  
  </div>
      <div class="box box-default table-box table-responsive mdl-shadow--2dp">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>            
          <table *ngIf="!isProcessing" class="mdl-data-table">
            <thead *ngIf="data.length>0">
               <tr>
                  <th colspan="3"><img src="{{logo}}"/></th>
               </tr>
               <tr class="tHead">
                  <td><strong>Companty Name</strong></td>
                  <td><strong>Total Calls</strong></td>
                  <td><strong>Logs</strong></td>
               </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let d of data">
                <td>{{d.companyName}}</td>
                <td>{{d.count}}</td>
                <td><button md-raised-button color="special" class="addButton" (click)="showLogs(d)"><i class="material-icons">view_list</i> View Log</button></td>
              </tr> 
              <!-- <tr>
                <td>Company 2</td>
                <td>10,000</td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr> 
              <tr>
                <td>Company 3</td>
                <td>14,000</td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr> 
              <tr>
                <td>Company 4</td>
                <td>11,000</td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr>  -->
            </tbody>
            <tfoot>
             </tfoot>
             <div *ngIf="data.length==0">
                <div class="text-center">Record not found</div>
              </div>
          </table> 
        </div> 
  </article>
</div>
