<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>500</h1>
            <h2>Sorry, server goes wrong</h2>
        </div>

        <div class="err-body">
            <a md-raised-button [routerLink]="['/user/login']" class="btn-lg">Go back to home page</a>
        </div>
    </div>
</div>