<div class="userLatterActions">

    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

    <div class="UserActionPopup" *ngIf="!isProcessing">
        <h4 class="heading">Reference questions </h4>

        <form #ActionForm="ngForm" class="full-width">
            <div *ngIf="isquestionOnly" class="EmpList" style="margin-bottom:20px;">

                <div class="row">
                    <div class="col-md-12">In accordance with the privacy amendment (Private Sector) Act 2001, the information collected during this reference check will be disclosed to internal stakeholders and the candidate in question may access the information. Are you
                        happy to proceed? </div>
                </div>
                <div class="row">
                    <div class="currentEmpoption col-md-12">
                        <div class="customChoice">
                            <input id="Yes" type="radio" name="remunarationPeriod" #remunarationPeriod="ngModel" [(ngModel)]="isStatement" value="yes" class="required" required>
                            <label for="Yes">Yes</label>
                        </div>
                        <div class="customChoice">
                            <input id="No" type="radio" name="remunarationPeriod" #remunarationPeriod="ngModel" [(ngModel)]="isStatement" value="no" class="required" required>
                            <label for="No">No</label>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="isquestionOnly">

                <div *ngIf="isStatement=='yes'">
                    <div *ngFor="let c of questions" class="EmpList" style="margin-bottom:20px;">
                        <h5 class="heading">{{c?.heading}}</h5>
                        <div *ngIf="(c.referenceID != 8 || c.referenceID != 9 || c.referenceID != 10 )">
                            <div *ngFor="let q of c.data; let j=index;">
                                <div *ngIf="q.referenceQuestionID != '2'">
                                    <div class="heading"><strong>{{q?.title}}</strong></div>
                                    <div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="attt{{q.referenceQuestionID}}" [(ngModel)]="q.answer" #question="ngModel" myNoSpaces required>
                                        </div>
                                        <div *ngIf="question.errors && ( (question.dirty || question.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(question.errors.required || question.errors.whitespace)">
                                                Answer is required !
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(c.referenceID == 8 || c.referenceID == 10)">
                            <div class="form-group neMessage">
                                <textarea #quest="ngModel" myNoSpaces [(ngModel)]="c.answer" name="fdsfdf{{c.referenceID}}" class="form-control"></textarea>
                                <div *ngIf="quest.errors && ( (quest.dirty || quest.touched) || isButtonClicked )">
                                    <div class="alert alert-danger" [hidden]="!(quest.errors.required || quest.errors.whitespace)">
                                        Note is required !
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="c.referenceID == 9">
                            <div class="customChoice">
                                <input id="one" type="radio" name="asdsad" #remunarfationPeriod="ngModel" [(ngModel)]="c.answer" value="yes" class="required" required>
                                <label for="one">Yes</label>
                            </div>
                            <div class="customChoice">
                                <input id="two" type="radio" name="asdsad" #remunarfationPeriod="ngModel" [(ngModel)]="c.answer" value="no" class="required" required>
                                <label for="two">No</label>
                            </div>
                        </div>

                    </div>
                </div>
                <div *ngIf="isStatement=='no'" class="EmpList" style="margin-bottom:20px;">
                    <h5 class="heading">Write note</h5>
                    <textarea #note="ngModel" myNoSpaces [(ngModel)]="RefrenceNote" name="rNote" class="form-control"></textarea>
                    <div *ngIf="note.errors && ( (note.dirty || note.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(note.errors.required || note.errors.whitespace)">
                            Note is required !
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="!isquestionOnly">
                <div>
                    <div *ngIf="!questions.referenceNote">
                        <div *ngFor="let c of questions" class="EmpList" style="margin-bottom:20px;">
                            <h5 class="heading">{{c?.heading}}</h5>

                            <div *ngIf="(c.referenceID != 9  || c.referenceID != 8 || c.referenceID != 10)">
                                <div *ngFor="let q of c.data; let j=idex;">
                                    <div class="heading"><strong>{{q?.title}}</strong></div>
                                    <div style="margin-bottom: 10px;" *ngIf="!isquestionOnly">
                                        <div>{{q?.answer}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="white-space-pre" *ngIf="(c.referenceID == 9  || c.referenceID == 8 || c.referenceID == 10)">
                                {{c.answer}}
                            </div>


                        </div>
                    </div>
                    <div *ngIf="questions.referenceNote">
                        <div style="margin-bottom: 10px;" *ngIf="!isquestionOnly">
                            <div>{{questions.referenceNote}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="isquestionOnly && (isStatement=='no' || isStatement=='yes')" style="margin-top: 20px;" class="text-center">
                <button *ngIf="!isActionProcessing" class="btn btn-lg btn-primary" [disabled]="!ActionForm.form.valid" (click)="onSave(ActionForm.form.valid)"> Send </button>
                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
            </div>
        </form>
    </div>
</div>