<form #rescheduleForm="ngForm">
    <div class=" col-sm-12 form-group">
        <div class="lftinpt10">
            <label class="form-inline">Select date and time</label>
        </div>
        <div class="rghtinput10 reschedule-empPopup">
            <dp-date-picker style="width:70%;display:inline-block;float:left;margin-right:10px;" [(ngModel)]="tempDateTime" name="trainingtime" required class="form-control" #trainingTime="ngModel" placeholder="Select date and time" [theme]="'dp-material'" [mode]="'daytime'"
                [config]="config"></dp-date-picker>
            <div *ngIf="trainingTime.errors && ( (trainingTime.dirty && trainingTime.touched) || isButtonClicked )">
                <br>
                <div class="alert alert-danger" [hidden]="!(trainingTime.errors.required || trainingTime.errors.whitespace)">
                    Time is required.
                </div>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <button *ngIf="!isProcessing" (click)="onSave(rescheduleForm.form.valid)" class="btn btn-primary">save</button>
    </div>

</form>