<section class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink='/app/{{relPath}}'><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" routerLink='/app/{{relPath}}/policy-documents'>Policy documents</li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>

        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-12">
                <div class="col-sm-6 text-center">
                    <h2 *ngIf="policies.oldVersion" class="sub-title">Current Version {{policies?.oldVersion?.version}}</h2>
                </div>
                <div class="col-sm-6 text-center">
                    <h2 *ngIf="policies.newVersion" class="sub-title">New version {{policies?.newVersion?.version}}</h2>
                </div>
            </div>
        </div>

        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <section *ngIf="policies.oldVersion" id="printBox" class="note-preview cmpnycontentBox">
                    <div class="headingDiv">
                        <h4 class="heading">{{policies?.oldVersion?.title}}</h4>
                        <p class="white-space-pre" [innerHTML]="policies?.oldVersion?.description"> </p>
                    </div>
                    <div *ngFor="let s of policies?.oldVersion?.policySubjects" class="content">
                        <h6 class="heading">{{s?.title}}</h6>
                        <p class="white-space-pre" [innerHTML]="s.description"> </p>
                    </div>
                </section>
                <section *ngIf="!policies.oldVersion" id="printBox" class="note-preview cmpnycontentBox">
                    <div class="headingDiv">
                        <h4 class="heading">Older version of this policy was not found.</h4>
                        <!-- <p class="white-space-pre" [innerHTML]="contracts?.oldVersion?.description"> </p> -->
                    </div>

                </section>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <section id="printBox" class="note-preview cmpnycontentBox">
                    <div class="headingDiv">
                        <h4 class="heading">{{policies?.newVersion?.title}}</h4>
                        <p class="white-space-pre" [innerHTML]="policies?.newVersion?.description"> </p>
                    </div>
                    <div *ngFor="let s of policies?.newVersion?.policySubjects" class="content">
                        <h6 class="heading">{{s?.title}}</h6>
                        <p class="white-space-pre" [innerHTML]="s.description"> </p>
                    </div>
                </section>
            </div>

        </div>
        <div class="text-center" style="margin-top:20px;">
<button (click)="onAccept()" class="btn btn-lg btn-primary">Accept / Save</button>
</div>
</div>
</section>