<div class="contract">
    <h4 class="heading" [hidden]="true">Contract listing</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Contracts</li>
    </ol>
    <div class="cmpnycontentBox">
        <div class="EmpHeader">
            <div class="row">
                <div class="col-md-5 col-xl-7 col-lg-5">
                    <div class="empSrearch">
                        <div id="custom-search-input">
                            <div class="input-group">
                                <input (keyup)="onSearch()" [(ngModel)]="tempReqBody.search" name="title" type="text" class="form-control input-lg" placeholder="Search title" />
                                <span class="input-group-btn">
                                    <button class="btn">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xl-2 col-lg-3 col-sm-6 text-left">
                    <button (click)="toggleFilter=!toggleFilter" class="btn btn-filter ploicyActions full-width text-left">
                Filters <i [ngClass]="toggleFilter?'fa fa-angle-down':'fa fa-angle-up'"></i>
                 <!--<i *ngIf="toggleFilter" class="fa fa-angle-down"></i><i  *ngIf="!toggleFilter" class="fa fa-angle-up"></i>               -->
            </button>
                </div>
                <!-- <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right">
                    <div *ngIf='!subUrl'>
                        <button *ngIf="contractLength <= 5  &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new" class="btn ploicyActions btn-success full-width">
                            Add new own {{(subUrl)?'sub':''}} contract<i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div *ngIf='subUrl'>
                        <button *ngIf="contractLength <= 1   &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new" class="btn ploicyActions btn-success full-width">
                            Add new own {{(subUrl)?'sub':''}} contract<i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div> -->
            </div>
            <div class="row" [hidden]="toggleFilter">
                <div class="col-sm-12">
                    <!--custome filter pop up-->
                    <div class="filterController row">
                        <div *ngIf="!subUrl" class="col-xl-3 col-lg-3  col-md-6 col-sm-6">
                            <h3 class="title">Type</h3>
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input name="vsr" [(ngModel)]="typeSearch" type="text" class="form-control input-lg" placeholder="Search type" />
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                <li *ngFor=" let c of tempReqBody.filter.types |searchByKey:typeSearch:'type' ;let  i = index;">
                                    <label>
                                        <input type="checkbox" name="vtype{{i}}" [(ngModel)]="c.isChecked" />
                                        <span>{{c?.type}} </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-3  col-lg-3 col-md-6 col-sm-6">
                            <h3 class="title">Version</h3>
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" name="vsr" [(ngModel)]="versionSearch" class="form-control input-lg" placeholder="Search version" />
                                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                            <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                <li *ngFor=" let c of tempReqBody.filter.versions |searchByKey:versionSearch:'version' ;let  i = index;">
                                    <label>
                                        <input type="checkbox" name="versoion{{i}}" [(ngModel)]="c.isChecked" />
                                        <span>{{c?.version}} </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                            <h3 class="title">Last updated</h3>
                            <ul class="checkbox">
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int7" /><span>Week ago</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int30" /><span>Month ago</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int90" /><span>3 Months ago</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int180" /><span>6 Months ago</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int365" /><span>Year ago</span></label></li>
                            </ul>
                        </div>-->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <h3 class="title">Contract type</h3>
                            <ul class="checkbox">
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.category.Own" /><span>OWN contracts</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.category.Own_2" /><span>OWN contracts 2</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.category.Own_3" /><span>OWN contracts 3</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.category.Own_4" /><span>OWN contracts 4</span></label></li>                                                                                                
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.category.HHR" /><span>HAPPY HR contracts</span></label></li>
                            </ul>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <h3 class="title">Status</h3>
                            <ul class="checkbox">
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.status.Active" /><span>Active</span></label></li>
                                <li><label><input type="checkbox" [(ngModel)]="tempReqBody.filter.status.Inactive" /><span>Inactive</span></label></li>
                            </ul>

                        </div>
                        <button (click)="onApplyfilters()" class="btn btn-lg outlined btn-default btn-filter">Apply filter <i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tableWrapper paddingNone">
            <table class="full-width">
                <tbody>
                    <tr style="padding:0;border: 0;">
                        <td colspan="7" style="padding:0;">
                            <div class="collapseInfoBox" style="padding:0;">
                                <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Happy HR {{(subUrl)?'sub':''}} contracts<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox" style="padding:0;">
                                    <div class="paddingBox" style="padding:0;">
                                        <table *ngIf="this.reqBody.filter.category.HHR" [mfData]="happyHRContracts" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" class="full-width table" style="border:0;margin:0; padding:0;margin-top:-1px;min-width:1165px;">

                                            <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <thead class="mainHeader">
                                                <th style="width:90px">S. no.</th>
                                                <th style="width:120px">Status</th>
                                                <th>Title</th>
                                                <th style="width:120px">Type</th>
                                                <!--<th>Last updated</th>-->
                                                <th style="width:140px;">Current version</th>
                                                <th style="width:142px;">Details</th>
                                                <th style="width:130px">Action</th>
                                            </thead>
                                            <tbody [hidden]="hrToggle" *ngIf="(!isOwnContractProcessing) && happyHRContracts.length>0">
                                                <tr *ngFor="let c of mf.data;let i =index">
                                                    <td style="width:90px;">{{i+1}}</td>
                                                    <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                                    <td style="max-width:250px;">{{c?.title || 'N/A'}}</td>
                                                    <td style="width:120px;">{{c?.contracttype?.ctTitle || 'N/A'}}</td>
                                                    <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                    <td>{{c?.version || 'N/A'}} </td>
                                                    <td><button (click)="onContractDetails(c)" class="btn btn-default">View details</button></td>
                                                    <td>
                                                        <label *ngIf="!c.contractID" class="color-success">  Accepted</label>
                                                        <div *ngIf="c.contractID" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                <button (click)="onAcceptReject(c.contractID)" *ngIf="c.contractID" class="dropdown-item btn-none color-danger"><i class="fa fa-times-square-o"></i> Accept / Reject</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot [hidden]="hrToggle" colspan="6">
                                                <div class="col-sm-12">
                                                    <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                </div>
                                                <tr class="danger" style="text-align:center" *ngIf="(!isOwnContractProcessing) && !happyHRContracts.length">
                                                    <td colspan="4"> Record not found</td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="padding:0;border: 0;">
                        <td colspan="7" style="padding:0;">
                            <div class="collapseInfoBox">
                                <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">Own {{(subUrl)?'sub':''}} contracts<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox" style="padding:0;">
                                        <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right" style="float: right;">
                                                <div *ngIf='!subUrl'>
                                                    <button *ngIf="contractLength < 5  &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf='subUrl'>
                                                    <button *ngIf="contractLength < 1   &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                    <div class="paddingBox" style="padding:0;">
                                        <table *ngIf="this.reqBody.filter.category.Own" class="full-width" [mfData]="ownContracts" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" style="border:0;margin:0; padding:0;min-width:1070px;">
                                            <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <thead class="mainHeader">
                                                <th style="width:90px">S. no.</th>
                                                <th style="width:120px">Status</th>
                                                <th>Title</th>
                                                <th style="width:120px">Type</th>
                                                <!--<th>Last updated</th>-->
                                                <th style="width:140px;">Current version</th>
                                                <th style="width:142px;">Details</th>
                                                <th  style="width:130px">Action</th>
                                            </thead>
                                            <tbody *ngIf="(!isOwnContractProcessing) && ownContracts.length>0">
                                                <tr *ngFor="let c of mf.data;let i =index">
                                                    <td style="width:80px;">{{i+1}}</td>
                                                    <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                                    <td style="max-width:245px;">{{c?.title || 'N/A'}}</td>
                                                    <td style="width:120px;">{{c?.contracttype?.ctTitle || 'N/A'}}</td>
                                                    <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                    <td>{{c?.version || 'N/A'}} </td>
                                                    <td><button (click)="onContractDetails(c)" class="btn btn-default">View details</button></td>
                                                    <td>
                                                            <md-progress-spinner *ngIf="c.isDeleteProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                        
                                                        <div *ngIf="c.isNative && !c.isDeleteProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                            <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                <button (click)="onEditContract(c)" class="dropdown-item btn-none color-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                                                <button (click)="c.isDeleteProcessing=true; onDeleteContract(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-trash"></i> Delete</button>                                                                 
                                                                
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <tfoot [hidden]="ownerToggle" colspan="6">
                                                <div class="col-sm-12">
                                                    <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                </div>
                                                <tr *ngIf="(!isOwnContractProcessing) && !ownContracts.length" class="danger" style="text-align:center">
                                                    <td colspan="4"> Record not found</td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="padding:0;border: 0;">
                        <td colspan="7" style="padding:0;">
                            <div class="collapseInfoBox">
                                <h4 (click)="collapse['personalinfoCollapse2']=!collapse['personalinfoCollapse2']" [ngClass]="{active:!collapse['personalinfoCollapse2']}">Own {{(subUrl)?'sub':''}} contracts 2<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                <div [ngClass]="{open:!collapse['personalinfoCollapse2']}" class="collapseContentbox" style="padding:0;">
                                        <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right" style="float: right;">
                                                <div *ngIf='!subUrl'>
                                                    <button *ngIf="ownContracts_2.length < 5  &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own_2}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract 2<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf='subUrl'>
                                                    <button *ngIf="ownContracts_2.length < 1   &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own_2}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract 2<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                    <div class="paddingBox" style="padding:0;">
                                        <table *ngIf="this.reqBody.filter.category.Own_2" class="full-width" [mfData]="ownContracts_2" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" style="border:0;margin:0; padding:0;min-width:1070px;">
                                            <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <thead class="mainHeader">
                                                <th style="width:90px">S. no.</th>
                                                <th style="width:120px">Status</th>
                                                <th>Title</th>
                                                <th style="width:120px">Type</th>
                                                <!--<th>Last updated</th>-->
                                                <th style="width:140px;">Current version</th>
                                                <th style="width:142px;">Details</th>
                                                <th  style="width:130px">Action</th>
                                            </thead>
                                            <tbody *ngIf="(!isOwnContractProcessing) && ownContracts_2.length>0">
                                                <tr *ngFor="let c of mf.data;let i =index">
                                                    <td style="width:80px;">{{i+1}}</td>
                                                    <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                                    <td style="max-width:245px;">{{c?.title || 'N/A'}}</td>
                                                    <td style="width:120px;">{{c?.contracttype?.ctTitle || 'N/A'}}</td>
                                                    <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                    <td>{{c?.version || 'N/A'}} </td>
                                                    <td><button (click)="onContractDetails(c)" class="btn btn-default">View details</button></td>
                                                    <td  >
                                                            <md-progress-spinner *ngIf="c.isDeleteProcessing" mode="indeterminate" color=""></md-progress-spinner>                                                        
                                                        <div *ngIf="c.isNative && !c.isDeleteProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                <button (click)="onEditContract(c)" class="dropdown-item btn-none color-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                                                <button (click)="c.isDeleteProcessing =true; onDeleteContract(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-trash"></i> Delete</button>                                                                 
                                                                
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <tfoot [hidden]="ownerToggle" colspan="6">
                                                <div class="col-sm-12">
                                                    <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                </div>
                                                <tr *ngIf="(!isOwnContractProcessing) && !ownContracts_2.length" class="danger" style="text-align:center">
                                                    <td colspan="4"> Record not found</td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="padding:0;border: 0;">
                        <td colspan="7" style="padding:0;">
                            <div class="collapseInfoBox">
                                <h4 (click)="collapse['personalinfoCollapse3']=!collapse['personalinfoCollapse3']" [ngClass]="{active:!collapse['personalinfoCollapse3']}">Own {{(subUrl)?'sub':''}} contracts 3<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                <div [ngClass]="{open:!collapse['personalinfoCollapse3']}" class="collapseContentbox" style="padding:0;">
                                        <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right" style="float: right;">
                                                <div *ngIf='!subUrl'>
                                                    <button *ngIf="ownContracts_3.length < 5  &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own_3}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract 3<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf='subUrl'>
                                                    <button *ngIf="ownContracts_3.length < 1   &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own_3}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract 3<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                    <div class="paddingBox" style="padding:0;">
                                        <table *ngIf="this.reqBody.filter.category.Own_3" class="full-width" [mfData]="ownContracts_3" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" style="border:0;margin:0; padding:0;min-width:1070px;">
                                            <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <thead class="mainHeader">
                                                <th style="width:90px">S. no.</th>
                                                <th style="width:120px">Status</th>
                                                <th>Title</th>
                                                <th style="width:120px">Type</th>
                                                <!--<th>Last updated</th>-->
                                                <th style="width:140px;">Current version</th>
                                                <th style="width:142px;">Details</th>
                                                <th  style="width:130px">Action</th>
                                            </thead>
                                            <tbody *ngIf="(!isOwnContractProcessing) && ownContracts_3.length>0">
                                                <tr *ngFor="let c of mf.data;let i =index">
                                                    <td style="width:80px;">{{i+1}}</td>
                                                    <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                                    <td style="max-width:245px;">{{c?.title || 'N/A'}}</td>
                                                    <td style="width:120px;">{{c?.contracttype?.ctTitle || 'N/A'}}</td>
                                                    <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                    <td>{{c?.version || 'N/A'}} </td>
                                                    <td><button (click)="onContractDetails(c)" class="btn btn-default">View details</button></td>
                                                    <td  >
                                                            <md-progress-spinner *ngIf="c.isDeleteProcessing" mode="indeterminate" color=""></md-progress-spinner>                                                        
                                                        
                                                        <div *ngIf="c.isNative && !c.isDeleteProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <button (click)="onEditContract(c)" class="dropdown-item btn-none color-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                                                <button (click)="c.isDeleteProcessing=true; onDeleteContract(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-trash"></i> Delete</button>                                                                 
                                                                
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <tfoot [hidden]="ownerToggle" colspan="6">
                                                <div class="col-sm-12">
                                                    <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                </div>
                                                <tr *ngIf="(!isOwnContractProcessing) && !ownContracts_3.length" class="danger" style="text-align:center">
                                                    <td colspan="4"> Record not found</td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr style="padding:0;border: 0;">
                        <td colspan="7" style="padding:0;">
                            <div class="collapseInfoBox">
                                <h4 (click)="collapse['personalinfoCollapse4']=!collapse['personalinfoCollapse4']" [ngClass]="{active:!collapse['personalinfoCollapse4']}">Own {{(subUrl)?'sub':''}} contracts 4<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                <div [ngClass]="{open:!collapse['personalinfoCollapse4']}" class="collapseContentbox" style="padding:0;">
                                        <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right" style="float: right;">
                                                <div *ngIf='!subUrl'>
                                                    <button *ngIf="ownContracts_4.length < 5  &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own_4}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract 4<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div *ngIf='subUrl'>
                                                    <button *ngIf="ownContracts_4.length < 1   &&  !isSubCompany" routerLink="/app/company-admin/{{subUrl}}contract/create-new/{{contract.Own_4}}" class="btn ploicyActions btn-success full-width pull-right">
                                                        Add new own {{(subUrl)?'sub':''}} contract 4<i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                    <div class="paddingBox" style="padding:0;">
                                        <table *ngIf="this.reqBody.filter.category.Own_4" class="full-width" [mfData]="ownContracts_4" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" style="border:0;margin:0; padding:0;min-width:1070px;">
                                            <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <thead class="mainHeader">
                                                <th style="width:90px">S. no.</th>
                                                <th style="width:120px">Status</th>
                                                <th>Title</th>
                                                <th style="width:120px">Type</th>
                                                <!--<th>Last updated</th>-->
                                                <th style="width:140px;">Current version</th>
                                                <th style="width:142px;">Details</th>
                                                <th  style="width:130px">Action</th>
                                            </thead>
                                            <tbody *ngIf="(!isOwnContractProcessing) && ownContracts_4.length>0">
                                                <tr *ngFor="let c of mf.data;let i =index">
                                                    <td style="width:80px;">{{i+1}}</td>
                                                    <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                                    <td style="max-width:245px;">{{c?.title || 'N/A'}}</td>
                                                    <td style="width:120px;">{{c?.contracttype?.ctTitle || 'N/A'}}</td>
                                                    <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                    <td>{{c?.version || 'N/A'}} </td>
                                                    <td><button (click)="onContractDetails(c)" class="btn btn-default">View details</button></td>
                                                    <td  >
                                                            <md-progress-spinner *ngIf="c.isDeleteProcessing" mode="indeterminate" color=""></md-progress-spinner>                                                        
                                                        
                                                        <div *ngIf="c.isNative && !c.isDeleteProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <button (click)="onEditContract(c)" class="dropdown-item btn-none color-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                                                <button (click)="c.isDeleteProcessing=true; onDeleteContract(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-trash"></i> Delete</button>                                                                 
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <tfoot [hidden]="ownerToggle" colspan="6">
                                                <div class="col-sm-12">
                                                    <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                </div>
                                                <tr *ngIf="(!isOwnContractProcessing) && !ownContracts_4.length" class="danger" style="text-align:center">
                                                    <td colspan="4"> Record not found</td>
                                                </tr>
                                            </tfoot>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>