.contract {
    padding: 0px 20px 20px;
    .empSrearch .btn {
        background: #fbcb27;
        color: #fff;
    }
    .EmpHeader {
        .btn {
            &.btn-success {
                @media(max-width: 576px) {
                    margin-top: 12px;
                }
            }
        }
    }
    .filterController {
        padding: 14px 0px 20px;
        background: #f5f5f5;
        margin: 0px 0px 20px;
        border-radius: 3px;
        border: 1px solid #d0d0d0;
        .over180 {
            border-top: 0px;
        }
    }
    .EmptableList {
        margin-top: 15px;
        border: 1px solid #ebebeb;
        .mainHeader {
            th {
                font-size: 15px;
                font-weight: bold;
                background: #424242;
                color: #fff;
                padding: 8px 15px;
                height: 43px;
            }
        }
        td {
            cursor: pointer;
        }
    }
    .tableWrapper {
        h6 {
            margin: 0;
        }
        thead {
            // background:#ebebeb;
            .heading {
                color: #333;
            }
            a {
                color: #333;
            }
        }
    }
}

.paddingNone {
    padding: 0 !important;
}

table .btn-sm {
    padding: 3px 12px;
    height: 26px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

button.btn.btn-filter i {
    margin-top: 3px;
}

.btn-success{
    margin-top: 10px;
}

.admin-panel {
    .tableWrapper {
        table {
            &.table {
                min-width: 1180px !important;
            }
        }
    }
}