<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page']">Performance improvement plans</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>

        </div>

        <md-progress-spinner *ngIf="reassessmentFormProcessing" mode="indeterminate" color=""></md-progress-spinner>




        <div *ngIf="!reassessmentFormProcessing" class="row">


            <div class="col-md-12 PIPmainBox">

                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h3 class="heading">Create performance improvement plan (PIP)</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">PIP for:</div>
                                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="!isProcessing" class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{userInfo.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{userInfo?.name}}</h5>
                                            <div class="designation">{{userInfo?.role}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic" *ngFor="let c of dropdownListEmployees">
                                        <div *ngIf="c.isSelected">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{c?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{c?.name}}</h5>
                                                <div class="designation">{{c?.role }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <form style="margin-top:30px;" #pipiForm="ngForm" autocomplete="off">
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Title</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" #planTilte="ngModel" name="title" required [(ngModel)]="pipPlan.title" myNoSpaces placeholder="Enter title" />
                                        <div *ngIf="planTilte.errors && ( (planTilte.dirty || planTilte.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(planTilte.errors.required || planTilte.errors.whitespace)">
                                                Title is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control" #planReason="ngModel" name="reason" required [(ngModel)]="pipPlan.reason" myNoSpaces></textarea>
                                        <div *ngIf="planReason.errors && ( (planReason.dirty || planReason.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(planReason.errors.required || planReason.errors.whitespace)">
                                                Reason is required.
                                            </div>
                                        </div>
                                        <div class="instruction">
                                            Detail specific dates and examples of where the standards have not been met.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Objective</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control" #planObjective="ngModel" name="objective" required [(ngModel)]="pipPlan.objective" myNoSpaces></textarea>
                                        <div *ngIf="planObjective.errors && ( (planObjective.dirty || planObjective.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(planObjective.errors.required || planObjective.errors.whitespace)">
                                                Objective is required.
                                            </div>
                                        </div>
                                        <div class="instruction">
                                            Detail what is expected of the employee in terms of their performance i.e. what does 'good' look like. </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Action plan</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control" #actionPlan="ngModel" name="objectivedf" required [(ngModel)]="pipPlan.actionPlan" myNoSpaces></textarea>
                                        <div *ngIf="actionPlan.errors && ( (actionPlan.dirty || actionPlan.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(actionPlan.errors.required || actionPlan.errors.whitespace)">
                                                Action plan is required.
                                            </div>
                                        </div>
                                        <div class="instruction">
                                            Detail what actions need to be taken to meet expected standard of performance.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Training date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <dp-date-picker [(ngModel)]="tempTrainingTime" name="trainingtime" required (ngModelChange)="ontrainingTimeChange()" class="form-control" #trainingTime="ngModel" placeholder="Select training time" [theme]="'dp-material'" [mode]="'daytime'" [config]="config"></dp-date-picker>
                                        <div *ngIf="trainingTime.errors && ( (trainingTime.dirty && trainingTime.touched) || isButtonClicked )">
                                            <br>
                                            <div class="alert alert-danger" [hidden]="!(trainingTime.errors.required || trainingTime.errors.whitespace)">
                                                Training time is required.
                                            </div>
                                        </div>
                                        <div class="instruction topgapremove">
                                            When would you like to conduct the training with
                                            <span style="cursor: pointer" (click)="onViewUserDetails(userInfo.userId)" class="name">{{userInfo?.name}}</span> ?
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="chk" class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assessment date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <dp-date-picker [(ngModel)]="tempAssessmentTime" name="assessmentTime" (ngModelChange)="onAssessmentTimeChange()" class="form-control" [disabled]="!this.pipPlan.trainingTime" required #AssessmentTime="ngModel" placeholder="Select assessment time" [theme]="'dp-material'"
                                            [mode]="'daytime'" [config]="assessmentTimeConfig"></dp-date-picker>
                                        <div *ngIf="AssessmentTime.errors && ( (AssessmentTime.dirty && AssessmentTime.touched) || isButtonClicked )">
                                            <br>
                                            <div class="alert alert-danger" [hidden]="!(AssessmentTime.errors.required || AssessmentTime.errors.whitespace)">
                                                Assessment time is required.
                                            </div>
                                        </div>
                                        <div class="instruction topgapremove">
                                            After
                                            <span style="cursor: pointer" (click)="onViewUserDetails(userInfo.userId)" class="name">{{userInfo?.name}}'s</span> training you conduct an assessment to determine if the objective has been met.
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="pipPlan.reaccess=='No'" class=" col-sm-12 form-group removebottomGap">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assign manager</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="halfDD">
                                            <angular2-multiselect required [data]="dropdownListEmployees" (onDeSelect)="OnItemDeSelect($event)" (onSelect)="onItemSelect($event)" [(ngModel)]="selectedItems" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline" style="margin-top:15px;">Invite 3rd party <br>(Optional)</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="rghtinput">
                                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <div *ngIf="!isProcessing">
                                                <div class="customDDmain">
                                                    <div class="selectedList" *ngFor=" let e of thirdPartyList">
                                                        <div class="itemName" *ngIf="e.isSelected">
                                                            {{e?.name}}
                                                            <span style="margin-left:5px; cursor: pointer" (click)="onThirdPartySelect(e)" class="fa fa-close"></span>
                                                        </div>
                                                    </div>
                                                    <div class="selectItems">

                                                        <div class="inviteEmpMain" style="display:block !important;border:0;">
                                                            <input class="form-control searchfield" placeholder="Select third party or enter third party email" name="daste" type="text" (keyup.enter)="onEnterExternalThirdParty(!(email.errors && ( (email.dirty || email.touched) || isEnterPressed  )))" pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
                                                                (ngModelChange)="isEnterPressed=false" [(ngModel)]="thirdPartyName" #email="ngModel" (click)="isFocused=!isFocused" aria-describedby="basic-addon1" on-focus="isFocused=true">
                                                            <span class="input-group-btn userIconbtn"></span>
                                                            <ul class="inviteList" *ngIf="isFocused" style="max-height: 170px; z-index: 99;position: relative;top: 0px;">
                                                                <li (click)="onThirdPartySelect(e)" *ngFor=" let e of thirdPartyList |searchByName:thirdPartyName ;let i=index">
                                                                    <div class="customchkbox">
                                                                        <input aria-required="true" class="required" type="checkbox" name="customchk1{{i}}" [(ngModel)]="e.isSelected" id="custom{{e.userId}}">
                                                                        <label for="customchk1{{i}}"></label>
                                                                    </div>
                                                                    <img src="{{e?.imageUrl}}" alt="" />
                                                                    <div class="empinfo">
                                                                        <label>{{e?.name}}</label>
                                                                        <div class="userprofile">{{e?.employeeProfile || 'N/A'}}</div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="footerBtn text-right" *ngIf="isFocused">
                                                                <button class="btn btn-success btn-sm" (click)="isFocused=!isFocused">Ok</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div *ngIf="email.errors && ( (email.dirty || email.touched) && isEnterPressed )">
                                                        <div class="alert alert-danger" *ngIf="email?.errors?.pattern"> Not a valid email.</div>
                                                    </div>
                                                    <div *ngIf="isThirdPartyAlreadyExist" class="alert-danger">user already exist with this email address.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="lftinpt30">
                                            <label class="form-inline">Invite 3rd party <br>(Optional)</label>
                                        </div>
                                        <div class="rghtinput">
                                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <div *ngIf="!isProcessing" class="inviteEmp">
                                                <div class="customDDmain">
                                                    <div class="selectedList" *ngFor=" let e of thirdPartyList">
                                                        <div class="itemName" *ngIf="e.isSelected">
                                                            {{e?.name}}
                                                            <span style="margin-left:5px; cursor: pointer" (click)="onThirdPartySelect(e)" class="fa fa-close"></span>
                                                        </div>
                                                    </div>
                                                    <div class="selectItems">
                                                        <div class="inviteEmpMain" style="display:block !important; border:0;">
                                                            <input class="form-control searchfield" placeholder="Select third party or enter third party email" name="daste" type="text" (keyup.enter)="onEnterExternalThirdParty(!(email.errors && ( (email.dirty || email.touched) || isEnterPressed  )))" pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
                                                                (ngModelChange)="isEnterPressed=false" [(ngModel)]="thirdPartyName" #email="ngModel" (click)="isFocused=!isFocused" aria-describedby="basic-addon1">

                                                            <span class="input-group-btn userIconbtn"></span>
                                                            <ul class="inviteList" *ngIf="isFocused" style="max-height: 170px; z-index: 99;position: relative;top: 0px;">
                                                                <li (click)="onThirdPartySelect(e)" *ngFor=" let e of thirdPartyList |searchByName:thirdPartyName ;let i=index">
                                                                    <div class="customchkbox">
                                                                        <input aria-required="true" class="required" type="checkbox" name="customchk1{{i}}" [(ngModel)]="e.isSelected" id="custom{{e.userId}}">
                                                                        <label for="customchk1{{i}}"></label>
                                                                    </div>
                                                                    <img src="{{e?.imageUrl}}" alt="" />
                                                                    <div class="empinfo">
                                                                        <label>{{e?.name}}</label>
                                                                        <div class="userprofile">{{e?.employeeProfile || 'N/A'}}</div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="footerBtn text-right" *ngIf="isFocused">
                                                                <button class="btn btn-success btn-sm" (click)="isFocused=!isFocused">Ok</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div *ngIf="email.errors && ( (email.dirty || email.touched) && isEnterPressed )">
                                                        <div class="alert alert-danger" *ngIf="email?.errors?.pattern"> Not a valid email.</div>
                                                    </div>
                                                    <div *ngIf="isThirdPartyAlreadyExist" class="alert-danger">User already exist with this email address.</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="rghtinput float-right">
                                            <label class="form-inline text-left">Third party</label>
                                            <div class="thirdPartyList">
                                                <div class="managerBx" *ngFor="let c of thirdPartyList">
                                                    <div *ngIf="c.isSelected" class="_emplist">
                                                        <div class="roundImgIcon">
                                                            <img src="{{c.imageUrl}}" alt="" />
                                                        </div>
                                                        <div class="managerDesc">
                                                            <strong>{{c?.name}}</strong>
                                                            <span>{{c?.designation || '-'}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-12 text-center">
                            <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isCreateProcessing" class="btn btn-success btn-lg" (click)="onCreatePip(pipiForm.form.valid)" style="padding:0.75rem 1.5rem;">Update performance improvement plan </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>