<div class="admin-panel">
    <h4>{{notesDetails?.title}}</h4>
    <div class="row">
        <div class="col-sm-12">
            <p class="box white-space-pre" [innerHTML]="notesDetails?.note"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7"></div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8 footerDetails">
            <div class="row">
                <div class="col-sm-6">
                    <p><b>Created on</b></p>
                </div>
                <div class="col-sm-6">
                    <p>{{notesDetails?.insertTime | dateFormat}}</p>
                </div>
            </div>
        </div>
    </div>
</div>