<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/disciplinary-meeting']">Disciplinary meeting</li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/disciplinary-meeting/employee/invite-thirdparty']">Invite third party</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Invite third party</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Employee:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Paul</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Manager/owner:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <form>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Tltle</label>
                                    </div>
                                    <div class="rghtinput10">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit.
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline" style="margin-top:0px;">Invite 3rd party <br>(Optional)</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <!--<angular2-multiselect [(ngModel)]="inviteSelectedItems" name="thirdparty" #inviteEmp="ngModel" [settings]="invitedropdownSettings" [selectedItems]="inviteSelectedItems">
                                        </angular2-multiselect>-->
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Date</label>
                                    </div>
                                    <div class="rghtinput10 dateTimeAlign">
                                        April 17 2017 &nbsp;&nbsp;&nbsp; <button class="btn btn-special">Propose new time</button>
                                        <div class="proposeTime">
                                            <dp-date-picker class="form-control" placeholder="Select date time" [theme]="'dp-material'" [mode]="'daytime'" [config]="config"></dp-date-picker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Attendees</label>
                                    </div>
                                    <div class="rghtinput10 pipHeader">
                                        <div class="pipEmploye attendeesList">
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Joe</h5>
                                                    <div class="designation">Sales</div>
                                                </div>
                                            </div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Joe</h5>
                                                    <div class="designation">Sales</div>
                                                </div>
                                            </div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Joe</h5>
                                                    <div class="designation">Sales</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center btnwrap">
                                    <button class="btn btn-success btn-lg" [routerLink]="['/app/company-admin/disciplinary-meeting/disciplinary-meeting/formal']">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>