.messagewrapp{
.messageList{
    li{
        padding:15px;
        border:1px solid #e2e2e2;
        margin:10px 0px;
    }
}
.messageBox{
    padding: 15px;
    border: 1px solid #cccccc;
    height: 500px;
    overflow-y: auto;
}
.writeBox{
    margin-top:20px;
    textarea{
        height:90px;
    }
}
}