<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item">Report grievance</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="PIPFormbox">
                        <form class="maxformWidth" name="grievanceForm" #grievanceForm="ngForm" (ngSubmit)="grievanceForm.valid && reportGrievance()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Title</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input class="form-control" type="text" name="title" placeholder="Enter title" #title="ngModel" [(ngModel)]="report.title" required>
                                                <div *ngIf="title.dirty || title.touched || grievanceForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="title.valid"> Please enter a title. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Send grievance to</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <!-- <select class="form-control">
                                                 <option>User 1</option>
                                               </select> -->
                                                <angular2-multiselect name="sendTo" #sendTo="ngModel" [data]="managersList" [(ngModel)]="selectedManagers" [settings]="multiSelectSettings"
                                                    [selectedItems]="selectedManagers" required>
                                                </angular2-multiselect>
                                                <div *ngIf="sendTo.touched || grievanceForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="selectedManagers.length"> Please select a manager. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Send grievance about person</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <!-- <select class="form-control">
                                                   <option>person 1</option>
                                               </select> -->
                                                <angular2-multiselect name="about" #about="ngModel" [data]="employeeList" [(ngModel)]="selectedAboutPerson" [settings]="singleSelectSettings"
                                                    [selectedItems]="selectedAboutPerson" required>
                                                </angular2-multiselect>
                                                <div *ngIf="about.touched || grievanceForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="selectedAboutPerson.length"> Please select a person. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Notes</label>
                                            </div>
                                            <div class="rghtinput10 noAlert">
                                                <textarea class="form-control full-width" name="notes" placeholder="Enter a note" #notes="ngModel" [(ngModel)]="report.notes" required></textarea>
                                                <div *ngIf="notes.dirty || notes.touched || grievanceForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="notes.valid"> Please enter a note. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Date & time</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <dp-date-picker class="form-control" placeholder="Pick date & time" name="dt" #dt="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="incidentDateTime"
                                                    [config]="config" [required]="true"></dp-date-picker>
                                                <div *ngIf="dt.touched || grievanceForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="dt.valid"> Please enter the incident time. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Evidence</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <div class="customchoosefilebtn">
                                                    <label *ngIf="!isUploading" class="btn-bs-file btn btn-lg btn-primary">Upload
                                                        <input name="companyProfile" type="file" accept=".doc,.docx,.pdf,image/png,image/jpg,image/jpeg" multiple (change)="uploadEvidence($event)">
                                                    </label>
                                                    <md-progress-spinner class="pull-left" *ngIf="isUploading" mode="indeterminate" color=""></md-progress-spinner>
                                                    <span class="form-control"> <span *ngIf="report.evidence.length">
                                                        {{report.evidence.length}} files</span> </span>
                                                    <!-- <div *ngIf="grievanceForm.submitted">
                                                        <div class="alert alert-danger" [hidden]="report.evidence.length"> Please upload an evidence. </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Witness</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <!-- <select class="form-control">
                                                   <option>Witness 1</option>
                                               </select> -->
                                                <angular2-multiselect name="witness" #witness="ngModel" [data]="employeeList" [(ngModel)]="selectedWitness" [settings]="multiSelectSettings"
                                                    [selectedItems]="selectedWitness" required>
                                                </angular2-multiselect>
                                                <div *ngIf="witness.touched || grievanceForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="selectedWitness.length"> Please select a witness. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                        <div *ngIf="!isProcessing" class="col-sm-12 form-group text-center">
                                            <button class="btn btn-lg btn-primary">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>