.marginBottom{
    margin-bottom:20px;
}
.marginTop{
    margin-top:20px;
}
.attendeesList{
    .pipEmpuserPic{
        display:inline-block;
        margin-right:20px;
    }
}
.form-group{
    .lftinpt10 {
       width: 18.5%;
       .form-inline{
            margin-top:0px;
            margin-bottom:0px;
        }
    }
    .rghtinput10 {
      width: 81.5%;
    }
}
.downloads{
    li{
        margin-bottom:4px;
        text-align:center;
        display:inline-block;
        margin-right:20px;
        .downloadfile{
           font-size:30px;
        }
     }
}
.pipHeader{
  .pipEmploye{
    border-bottom:1px dashed #cccccc;
    padding:3px 0px 5px;
    &:last-child{
        border-bottom:0px;
    }
  }
}
.cmpnycontentBox{
    &.nextStep{
        margin-top:25px;
    }
    h4{
        margin-top:0px;
    }
}

.form-group {
    textarea{
            max-width:inherit;
            height:90px;
            resize:none;
    }
}
.btnWraper{
    button{
        &:first-child{
            margin-right:10px;
        }
    }
}
.noAlert{
    .alert{
        &::after{
            display:none;
        }
    }
}