.cmpnycontentBox {
    .form-group {
        .lftinpt10 {
            .form-inline {
                margin: 0px 0px;
            }
        }
    }
    .resultlabel {
        .btn {
            min-width: 200px;
        }
    }
}