<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee/probationary-period-meeting']">Probationary meeting</a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/app/employee/probationary-period-meeting/termination-letter']">termination letter</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="eventDate float-right">
                                2 March 2017 at 12:00
                            </div>
                            <h4 class="heading">termination letter</h4>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Title</label>
                            </div>
                            <div class="rghtinput10">
                                Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et.
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Write incident or issue</label>
                            </div>
                            <div class="rghtinput10">
                                Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et.
                            </div>
                        </div>
                        <div class="col-sm-12 form-group PIPmainBox">
                            <div class="lftinpt10">
                                <label class="form-inline">Action taken by</label>
                            </div>
                            <div class="rghtinput10 pipHeader">
                                <div class="pipEmploye attendeesList">
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>John Roanic</h5>
                                            <div class="designation">manager</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>