<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day/training-plan/list']">Training plan</li>
                    <li class="breadcrumb-item active">{{heading}}</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <md-progress-spinner *ngIf="isProcessingMaster" mode="indeterminate" color=""></md-progress-spinner>
                    <div [hidden]="isProcessingMaster">
                        <!-- <div class="date text-right" style="margin-bottom:10px;">22 March 2017 at 12:00</div> -->
                        <form class="maxformWidth" name="planForm" #planForm="ngForm">
                            <div class="row">
                                <!-- <div *ngIf="!trainingPlan.trainningID" class="col-md-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Choose other master training plan</label>
                                    </div>
                                    <div class="rghtinput">
                                        <md-progress-spinner *ngIf="isProcessingList" mode="indeterminate" color=""></md-progress-spinner>
                                        <select *ngIf="!isProcessingList" class="form-control" name="master" [(ngModel)]="trainingPlan.masterTrainningID" (ngModelChange)="onSelectMasterPlan($event)">
                                            <option value="" disabled>Select a master plan</option>
                                            <option [value]="plan.masterTrainningPlanID" *ngFor="let plan of masterPlanList;let i=index;">{{plan.title}}</option>
                                        </select>
                                    </div>
                                </div> -->
                                <!-- <div *ngIf="!trainingPlan.trainningID" class="col-md-12 text-center" style="margin-bottom:10px;">
                                    <div class="col-md-6 text-center">OR</div>
                                </div> -->
                                <div class="col-md-12 form-group">

                                    <div class="lftinpt10">
                                        <label class="form-inline">Title</label>
                                    </div>
                                    <div class="rghtinput">
                                        <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="trainingPlan.title" required />
                                        <div *ngIf="title.dirty || title.touched || planForm.submitted">
                                            <div class="color-danger" [hidden]="title.valid">Please enter a title.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Training date & time</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <dp-date-picker class="form-control" name="dt" #dt="ngModel" [(ngModel)]="trainningTime" [required]="true" [theme]="'dp-material'"
                                            [mode]="'daytime'" [config]="config" placeholder="Select time"></dp-date-picker>
                                        <div *ngIf="planForm.submitted">
                                            <div class="color-danger" [hidden]="dt.valid">Please enter a training time.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Invite attendee</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="form-control dateTimePicker" style="height:auto;padding:0px;border:0px;line-height:inherit;">
                                            <angular2-multiselect required name="attendee" #attendee="ngModel" [(ngModel)]="selectedEmployee" [data]="employeeList" [settings]="dropdownSettings"
                                                [selectedItems]="selectedEmployee">
                                            </angular2-multiselect>
                                            <div *ngIf="attendee.dirty || attendee.touched || planForm.submitted">
                                                <div class="color-danger" [hidden]="attendee.valid">Please select a attendee.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <!-- <textarea class="form-control" name="reason" #reason="ngModel" [(ngModel)]="trainingPlan.reason" required></textarea> -->
                                        <!-- <app-tinymce class="form-control" style="height: inherit; max-width: inherit;" name="reason" #reason="ngModel" [(ngModel)]="trainingPlan.reason"
                                            required></app-tinymce> -->
                                        <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="reason" #reason="ngModel" [(ngModel)]="trainingPlan.reason" required></quill-editor>
                                        <div *ngIf="reason.dirty || reason.touched || planForm.submitted">
                                            <div class="color-danger" [hidden]="reason.valid">Please enter a reason.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Action plan</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <!-- <textarea class="form-control" name="actionPlan" #actionPlan="ngModel" [(ngModel)]="trainingPlan.actionPlan" required></textarea> -->
                                        <!-- <app-tinymce class="form-control" style="height: inherit; max-width: inherit;" name="actionPlan" #actionPlan="ngModel" [(ngModel)]="trainingPlan.actionPlan"
                                            required></app-tinymce> -->
                                        <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="actionPlan" #actionPlan="ngModel" [(ngModel)]="trainingPlan.actionPlan" required></quill-editor>
                                        <div *ngIf="actionPlan.dirty || actionPlan.touched || planForm.submitted">
                                            <div class="color-danger" [hidden]="actionPlan.valid">Please enter a action plan.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Objective</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <!-- <textarea class="form-control" name="objective" #objective="ngModel" [(ngModel)]="trainingPlan.objective" required></textarea> -->
                                        <!-- <app-tinymce class="form-control" style="height: inherit; max-width: inherit;" name="objective" #objective="ngModel" [(ngModel)]="trainingPlan.objective"
                                            required></app-tinymce> -->
                                        <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="objective" #objective="ngModel" [(ngModel)]="trainingPlan.objective" required></quill-editor>
                                        <div *ngIf="objective.dirty || objective.touched || planForm.submitted">
                                            <div class="color-danger" [hidden]="objective.valid">Please enter an objective.</div>
                                        </div>
                                    </div>
                                </div>
                                <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                                <!-- <div *ngIf="!isProcessingForm" style="max-width:inherit !important;" class="col-sm-12 text-center form-group nextstepbtn">
                                    <button type="submit" (click)="createTrainingPlan(planForm.valid)" class="btn btn-lg btn-primary">Submit</button>
                                </div> -->
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline"></label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div *ngIf="!isProcessingForm" style="max-width:inherit !important;" class="col-sm-12 text-center form-group nextstepbtn">
                                            <button type="submit" (click)="createTrainingPlan(planForm.valid)" class="btn btn-lg btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>