.form-group {
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
    }
}

.nextstepbtn {
    max-width: 600px;
}

.form-group {
    .form-control {
        &textarea {
            max-width: inherit;
        }
        &.dateTimePicker {
            max-width: 350px;
        }
    }
}

.dp-material {
    max-width: 350px;
}