<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/sub-company']">Sub companies</a></li>
                    <li class="breadcrumb-item active">Invite</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <form #inviteSubForm="ngForm">
                        <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">First name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.firstName" name="firstName" required myNoSpaces #firstName="ngModel" type="text" class="form-control" placeholder="First name" />
                                    <div *ngIf="firstName.errors && ( (firstName.dirty || firstName.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(firstName.errors.required || firstName.errors.whitespace)">
                                            First name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Last name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.lastName" required myNoSpaces name="lastName" #lastName="ngModel" type="text" class="form-control" placeholder="Last name" />
                                    <div *ngIf="lastName.errors && ( (lastName.dirty || lastName.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(lastName.errors.required || lastName.errors.whitespace)">
                                            Last name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Company name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.companyName" required myNoSpaces name="companyName" #companyName="ngModel" type="text" class="form-control" placeholder="Company name" />
                                    <div *ngIf="companyName.errors && ( (companyName.dirty || companyName.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(companyName.errors.required || companyName.errors.whitespace)">
                                            Company name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">ABN</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.ABN" myNoSpaces required #ABN="ngModel" name="ABN" type="text" class="form-control" placeholder="ABN" />
                                    <div *ngIf="ABN.errors && ( (ABN.dirty || ABN.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(ABN.errors.required || ABN.errors.whitespace)">
                                            ABN is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Company address</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.streetAddress" required myNoSpaces name="streetAddress" #streetAddress="ngModel" type="text" class="form-control" placeholder="Company address" />
                                    <div *ngIf="streetAddress.errors && ( (streetAddress.dirty || streetAddress.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(streetAddress.errors.required || streetAddress.errors.whitespace)">
                                            Company address is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Postcode</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.postalCode" required myNoSpaces name="postalCode" #postalCode="ngModel" type="text" class="form-control" placeholder="Postcode" />
                                    <div *ngIf="postalCode.errors && ( (postalCode.dirty || postalCode.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(postalCode.errors.required || postalCode.errors.whitespace)">
                                            Postal code is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Suburb</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.suburb" myNoSpaces required #suburb="ngModel" name="suburb" type="text" class="form-control" placeholder="Suburb" />
                                    <div *ngIf="suburb.errors && ( (suburb.dirty || suburb.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(suburb.errors.required || suburb.errors.whitespace)">
                                            Suburb is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Email</label>
                                </div>
                                <div class="rghtinput10">
                                    <input type="email" #email="ngModel" required pattern=".*@.*\.*[A-Za-z/d]$" [(ngModel)]="invite.email" name="email" class="form-control" placeholder="Email" />
                                    <div *ngIf="email.errors && (email.dirty || email.touched)">
                                        <div class="alert alert-danger" [hidden]="!email.errors.required">
                                            Email is required.
                                        </div>
                                        <div class="alert alert-danger" [hidden]="!email.errors.pattern">
                                            Not a valid email pattern.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Payment</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="customChoice">
                                        <input id="one" type="radio" name="payment" #paymentVal="ngModel" [(ngModel)]="payment" value="company" class="required" required>
                                        <label for="one">Company will pay</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="two" type="radio" name="payment" #paymentVal="ngModel" [(ngModel)]="payment" value="subcompany" class="required" required>
                                        <label for="two">Sub company will pay</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">&nbsp;</label>
                                </div>
                                <div class="rghtinput10 text-right" style="max-width:600px;">
                                    <button [disabled]="isProcessing && inviteSubForm.form.valid" (click)="isButtonClicked= true;register(inviteSubForm)" class="btn btn-primary btn-lg">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>