<div class="container-fluid chapter questionDetailwrap">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">Add category
                    <a class="addUserBtn float-right">
                        <button *ngIf="!isProcessing" md-raised-button color="accent" (click)="addNewCategory()" class="theme-button btn-w-md">
             <span class="icon">+</span>  Add new category</button>
                    </a>
                </h2>
                <h5 *ngIf="!isProcessing">Total category: {{categories.length}}</h5>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="positionListTable">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default contentBox">
                        <div class="table-responsive">
                            <table class="full-width mdl-data-table surveyDetail">
                                <thead>
                                    <tr>
                                        <th>Category list</th>
                                        <th>Number of questions</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor" [routerLink]="['/app/super-admin/survey/detail',c.surveyCatID]" *ngFor="let c of categories;let in=index">
                                        <td>{{c?.title}}</td>
                                        <td>{{c?.questionCount}}</td>
                                        <td>{{c?.status}}</td>
                                    </tr>
                                    <tr *ngIf="categories.length==0">
                                        <td class="alert alert-danger" id="textCenter" colspan="3">No Record Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box contentBox" *ngIf="hideAddPanel">
                        <form #addCategory="ngForm">
                            <md-input-container class="full-width">
                                <textarea mdInput id="categoryName{{i}}" name="categoryName{{i}}" placeholder="Category" myNoSpaces [(ngModel)]="category.title" #categoryName="ngModel" type="text" required></textarea>
                            </md-input-container>
                            <span *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)">
                <span class="alert alert-danger" [hidden]="!(categoryName.errors.required || categoryName.errors.whitespace)">
                  Category title is required !
                </span>
                            </span>
                        </form>
                        <md-progress-spinner *ngIf="isAddProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isAddProcessing" class="saveWrap text-right">
                            <button md-raised-button type="submit" color="primary" [disabled]="!category.title" (click)="saveCategory()" class="theme-button btn-w-md">Add</button>
                            <button md-raised-button color="default" (click)="cancelCategory()" class="theme-button btn-w-md">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </article>
</div>