<div class="pipLisingPopUp">
  <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

  <angular2-multiselect *ngIf="!isProcessing" (click)="attactImageAndRolesDropDownList()" required [data]="dropdownListEmployees"
    [(ngModel)]="selectedItems" name="pipListingDdl" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" class="full-width"
    [selectedItems]="selectedItems">
  </angular2-multiselect>

</div>