 .pipLisingPopUp {
     width: 250px;
     .dropdown-list {
         position: relative;
     }
 }
 
 .mat-dialog-container {
     padding: 0px !important;
 }
 
 .list-area {
     border: 0 !important;
     border-radius: 0 !important;
     background: #fff;
     /* margin: 0px; */
     box-shadow: none !important;
     margin-left: -15px;
     margin-right: -15px;
     width: 100%;
 }