<div class="container-fluid">
    <div class="dashboard">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/sub-contractor']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>


        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="row">

                <div class="col-lg-12 col-sm-12 flWidth">
                    <div class="cmpnycontentBox">
                        <div class="cmpnycontentBoxInner">
                            <h4 class="heading">Waiting for approval</h4>
                            <div class="tableWrapper">
                                <br>
                                <table>
                                    <thead>
                                        <th class="activityFrstH">Tasks</th>
                                        <th>
                                            Pending
                                        </th>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let status of dashBoard?.approvalData">
                                            <td>
                                                <div style="position:relative; padding-left:53px;">
                                                    <span class="task" style="position:absolute;left:0;">{{status?.abbr}}</span>
                                                    <div class="task-dtl">{{status?.title}}</div>
                                                </div>
                                            </td>
                                            <td [innerHTML]="status.pending"></td>
                                        </tr>
                                        <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !dashBoard?.approvalData.length">
                                            <td colspan="2"> Record not found</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12 col-sm-12 flWidth">
                    <div class="cmpnycontentBox recentActivity">
                        <div class="cmpnycontentBoxInner">
                            <div class="topHead">
                                <h4 class="heading">Recent activity</h4>
                            </div>
                            <div class="recentActiDateList">
                                <h5>Today</h5>
                                <ul>
                                    <li *ngFor="let status of dashBoard?.activityLog['Today']">
                                        <div class="media">
                                            <div class="media-right">
                                                <div [innerHTML]="status.message"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="danger" style="text-align:center" *ngIf="(!isProcessing) && (!dashBoard?.activityLog['Today'])">
                                        <div> Record not found</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="recentActiDateList">
                                <h5>Yesterday</h5>
                                <ul>
                                    <li *ngFor="let status of dashBoard?.activityLog['Yesterday']">
                                        <div class="media">
                                            <div class="media-right">
                                                <div [innerHTML]="status.message"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="danger" style="text-align:center" *ngIf="(!isProcessing) && (!dashBoard?.activityLog['Yesterday'])">
                                        <div> Record not found</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>


    </div>
</div>