.management{
    padding:0 20px 30px;
    .toggleSwitch{
        position: absolute;
        left: 10px;
        top:9px;
        @media (max-width: 1199px){
            right: 15px;
        }
        @media (max-width:769px){
            right: 0;
            
            position: inherit;
        }
        .switch{
            margin:0;
            padding: 0;
        }
    }
    table{
        td{
            position:relative;            
        }
    }
}