<div class="management">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">Module management</li>
    </ol>
    <ul class="cmpnycontentBox">
        <div class="tableWrapper">
            <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
            <table>
                <thead>
                    <th style="width:70px;">#</th>
                    <th>Module description &nbsp;<i class="fa fa-sort"></i></th>
                    <th style="width:140px;">Action</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Trophy</td>
                        <td>
                            <div class="toggleSwitch">
                                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round">
                      <i class="chk">On</i>
                      <i class="unchk">Off</i>
                    </span>
                  </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Awards</td>
                        <td>
                            <div class="toggleSwitch">
                                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round">
                      <i class="chk">On</i>
                      <i class="unchk">Off</i>
                    </span>
                  </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Feature most used</td>
                        <td>
                            <div class="toggleSwitch">
                                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round">
                      <i class="chk">On</i>
                      <i class="unchk">Off</i>
                    </span>
                  </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ul>
</div>