<section class="employeeResponse">
    <div class="divheader">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/survey']">Survey list</a></li>
            <!-- <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/survey/detail',empResponse?.companySurveyID]">Survey detail</a></li> -->
            <li class="breadcrumb-item active">360 degree survey response</li>
        </ol>
    </div>
    <!-- <div class="tableHead">
        <h4>This Survey will be visible to this manager only</h4>
    </div> -->
    <div *ngIf="!empResponse?.data.length" class="cmpnycontentBox text-center">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <span *ngIf="!isProcessing">No result found.</span>
    </div>
    <div class="cmpnycontentBox" *ngFor="let qsn of empResponse?.data;let i=index;">
        <!--Questions-->
        <div class="questionBox">
            <h6 class="questionHeading">{{i+1}}. {{qsn?.questionTitle}}</h6>
            <div class="answerBx">
                <h5>Answer survey questions</h5>
                <ul class="allEmployee">
                    <li *ngFor="let ans of qsn?.answer">
                        <div class="listHeading">
                            <div class="roundImgIcon">
                                <a *ngIf="ans.assigndTo.anonymous!='Yes'" [routerLink]="['/app/company-admin/employee-management/profile', ans?.assigndTo?.userID]">
                                    <img [src]="ans?.assigndTo?.imageUrl" alt="" />
                                </a>
                                <a *ngIf="ans.assigndTo.anonymous=='Yes'">
                                    <img src="assets/images/user.png" height="40px" width="40px" alt="" />
                                </a>
                            </div>
                            <div class="employeDesc">
                                <strong *ngIf="ans.assigndTo.anonymous!='Yes'">{{ans?.assigndTo?.name}}</strong>
                                <strong *ngIf="ans.assigndTo.anonymous=='Yes'">Anonymous</strong>                                
                                <span *ngIf="ans.assigndTo.anonymous!='Yes'">{{ans?.assigndTo?.position || 'Not specified'}}</span>
                            </div>
                        </div>
                        <p>{{ans?.answer}}</p>
                    </li>
                    <li *ngIf="!qsn?.answer.length">No result found.</li>
                </ul>
            </div>
        </div>
    </div>
</section>