.employeeResponse{
    padding: 20px 20px;
    .cmpnycontentBox{
        margin-bottom: 30px;
        background-color: #fff;
        .questionHeading{
            background-color: #fff;
        }
    }
}
.btn-none{
    background: transparent;
    border: 0;
}
.tableHead{
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4{
        margin: 5px 0;
        font-size: 22px;
        @media (max-width: 767px){
            font-size: 18px;
        }
    }
}
.allEmployee{
    li{
        padding: 20px 0;
        border-bottom: 1px dotted #ccc;
    }
    .listHeading{
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }
    .roundImgIcon{
        float: left;
    }
    .employeDesc{
        overflow: hidden;
        line-height: 1.4em;
        strong{
            display: block;
        }
        span{
            display: block;
        }
    }
}
