.collapseInfoBox {
    .collapseContentbox {
        .addNewBtn {
            padding: 10px;
        }
    }
}

.EmpHeader {
    .InviteUser {
        .btn {
            width: 100%;
            height: 39px;
            font-family: 'LatoWebMedium';
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            font-size: 15px;
            padding: 0px 0px;
        }
    }
}

.EmpList .table tbody tr td:first-child {
    width: inherit;
}
.admin-panel .filterController button.outlined {
    height: 45px !important;
    position: absolute;
    bottom: 0;
    right: 9px;
    @media screen and (max-width:479px){
        position:initial;
    }
}