.traingForm {
    margin: 10px 0 25px;
    textarea {
        resize: none;
        height: 90px;
    }
}

.leftAlgn {
    @media (max-width: 575px) {
        text-align: left!important;
    }
}

.assessmentbox {
    margin-bottom: 20px;
}

.managerListBlock {
    .managerBx {
        display: block;
        margin-top: 15px;
    }
}

form {
    width: 100%;
}

.trainingNotes {
    margin-bottom: 20px;
    .form-group {
        .form-control {
            height: 100px;
            resize: none;
        }
    }
}

.notesList i.fa-pencil:after {
    display: none;
}

.notesList i:after {
    content: "\f05a";
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 18px;
    font-family: FontAwesome;
    height: 12px;
    font-style: normal;
    color: #f1c645;
}

.trainingNotes .instruction {
    color: #acacac;
    margin-top: 5px;
    position: relative;
    padding-left: 34px;
    display: inline-block;
}

.notesList p {
    font-size: 15px;
    padding-left: 16px;
}

.notesList {
    position: relative;
    margin-bottom: 30px;
}

.box .full-width:last-child .notesList {
    margin-bottom: 0;
}

.notesList:after {
    content: '';
    position: absolute;
    top: 6px;
    width: 2px;
    height: calc(100% - 11px);
    background: #bfbfbf;
    left: 0;
}

.trainingNotes .instruction:before {
    content: '';
    position: absolute;
    width: 2px;
    left: 0;
    top: -2px;
    z-index: 99;
    height: 100%;
    background: #64c3fb;
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}

.rghtinput {
    width: 100%;
    float: left;
    max-width: 600px;
}

.inviteEmp {
    .alert {
        top: 36px;
    }
}

.itemName {
    word-break: break-all;
}

.customDDmain .inviteEmpMain .searchfield {
    padding-left: 10px;
}

.instruction {
    color: #c1c1c1;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 100;
    .name {
        color: #61ceff;
    }
}

button.btn-lg,
a.btn-lg {
    padding: 0.75rem 1.5rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.2rem !important;
}

.form-inline {
    text-align: right;
}

.selectItems {
    float: left;
    width: 100%;
}

.customDDmain .selectedList {
    float: left;
    padding: 0;
    margin: 0;
}

.footerBtn {
    .btn {
        padding: 0px 9px;
        font-size: 12px;
        border-radius: 0;
    }
}