<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/development-plan-list']">Development plan</a></li>
        <li class="breadcrumb-item active">{{heading}}</li>
    </ol>
    <div class="row innerAdmins">
        <div *ngIf="serviceDetails" class="col-md-12 stepsContainer">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 PIPmainBox">
            <div *ngFor="let developmentPlan of developmentPlan; let i =index" class="collapseInfoBox">
                <h4 *ngIf="developmentPlan" (click)="originalPIPToggle[i]=!originalPIPToggle[i]" [ngClass]="{active:originalPIPToggle[i]}">{{developmentPlan?.title}}
                    <span class="float-right"><i class="fa fa-angle-down"></i></span>
                    <div style="font-size: 14px; padding-right: 10px; margin-top: 4px;" class="float-right">Created on : {{developmentPlan?.insertTime| dateFormat}}</div>
                    <div style="font-size: 16px; padding-right: 10px; margin-right: 8px;margin-top: 4px;" class="float-right">V {{i+1}}</div>
                </h4>
                <div *ngIf="developmentPlan" class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle[i]}">
                    <div class="cmpnycontentBox">
                        <div class="pipHeader">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <h3 class="heading">Development plan</h3>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Development plan for:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlan?.developmentFor?.employee}}</h5>
                                                <div class="designation">{{developmentPlan?.developmentFor?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Assigned manager:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlan?.assinedBy?.imageUrl}}" alt="" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlan?.assinedBy?.employee}}</h5>
                                                <div class="designation">{{developmentPlan?.assinedBy?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Involved third parties</div>
                                        <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                            <input type="text" readonly class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                            <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                <li *ngFor="let e of developmentPlan.thirdParty">
                                                    <img src="{{e?.imageUrl}}" alt="" />
                                                    <div class="empinfo">
                                                        <label>{{e?.name}}</label>
                                                        <div class="userprofile">{{e?.position}}</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="PIPFormbox detailPIP">
                            <div class="float-right">
                                <span>{{developmentPlan?.dpInsetTime}}</span><br><br>
                            </div>
                            <h5>Development plan</h5>
                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div class="row">
                                <div *ngIf="!isProcessing">
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Development plan title</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.title}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.trainingTime| dateFormat}} | {{developmentPlan?.trainingTime| dateFormat:'shortTime'}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.assessmentTime| dateFormat}} | {{developmentPlan?.assessmentTime| dateFormat:'shortTime'}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.reason}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action plan</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.actionPlan}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objectives</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.objective}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>Training notes</h5>
                    <div *ngIf="developmentPlan.trainingNote && developmentPlan.trainingNote.length>0" class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlan?.trainingTime| dateFormat}} at  {{developmentPlan?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-12 form-group" *ngFor="let k of developmentPlan.trainingNote">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10 white-space-pre">
                                        {{k.note}}
                                    </div>
                                    <div class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <h5>Assessment notes</h5>
                    <div *ngIf="developmentPlan.assessmentNote && developmentPlan.assessmentNote.length>0" class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlan?.assessmentTime| dateFormat}} at  {{developmentPlan?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                        </div>
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div>
                            <div class="row">
                                <div class="col-sm-12 form-group" *ngFor="let k of developmentPlan.assessmentNote">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10 white-space-pre">
                                        {{k.note}}
                                    </div>
                                    <div class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlan?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlan?.trainingTime | dateFormat:'shortTime'}}</span>
                        </div>
                        <h5>Result</h5>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing">
                            <div class="traingForm">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Result</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="btn btn-primary">{{developmentPlan?.result}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Development plan for</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <div class="managerBx">
                                                <div class="roundImgIcon">
                                                    <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" />
                                                </div>
                                                <div class="managerDesc">
                                                    <strong>{{developmentPlan?.developmentFor?.employee}}</strong>
                                                    <span>{{developmentPlan?.developmentFor?.employeeProfile}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--********************************************************** re-assessment plan *******************************************************************-->
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="cmpnycontentBox assessnextbox reassessmargibtop">
                <div class="pipHeader">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <h3 class="heading">{{heading}}</h3>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Development plan for:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{developmentPlanNew?.developmentFor?.imageUrl}}" alt="" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{developmentPlanNew?.developmentFor?.employee}}</h5>
                                        <div class="designation">{{developmentPlanNew?.developmentFor?.employeeProfile}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Assigned manager:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{developmentPlanNew?.assinedBy?.imageUrl}}" alt="" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{developmentPlanNew?.assinedBy?.employee}}</h5>
                                        <div class="designation">{{developmentPlanNew?.assinedBy?.employeeProfile}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Involved third parties</div>
                                <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                    <input readonly type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                    <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                        <li *ngFor="let e of developmentPlanNew.thirdParty">
                                            <img src="{{e?.imageUrl}}" alt="" />
                                            <div class="empinfo">
                                                <label>{{e?.name}}</label>
                                                <div class="userprofile">{{e?.position}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="PIPFormbox detailPIP">
                    <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                    <div *ngIf="!isProcessing" class="contentBoxWrap">
                        <div *ngIf="permission?.edit && !(developmentPlanNew.trainingNote && developmentPlanNew.trainingNote.length>0)" class="text-right" style="margin-top:15px;">
                            <span style="margin-right:20px;">{{developmentPlanNew?.insertTime| dateFormat}} at {{developmentPlanNew?.insertTime| dateFormat:'shortTime'}}</span>
                            <button (click)="onEditDevelopmentPlan(developmentPlanNew.developmentPlanID)" class="btn btn-special">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                        <h5>Development plan</h5>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Development plan title</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanNew?.title}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training date</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanNew?.trainingTime| dateFormat}} | {{developmentPlanNew?.trainingTime| dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment date</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanNew?.assessmentTime| dateFormat}} | {{developmentPlanNew?.assessmentTime| dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanNew?.reason}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanNew?.actionPlan}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objectives</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanNew?.objective}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--***************************************************** employee notes ***********************************-->
            <div *ngIf="!isProcessing && developmentPlanNew.employeeNote && (developmentPlanNew.employeeNote.length>0) " class="cmpnycontentBox trainingNotes">
                <h5 class="heading">Employee notes</h5>
                <div *ngIf="developmentPlanNew.employeeNote.length>0" class="full-width">
                    <!--<div class="full-width text-right">
              <span><i class="fa fa-caleder"></i>&nbsp; {{planNew?.trainingTime| dateFormat}} at  {{planNew?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
            </div>-->
                    <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                    <div class="box">
                        <div class="full-width" *ngFor="let k of developmentPlanNew.employeeNote">
                            <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                            <div class="notesList">
                                <p class="white-space-pre">{{k.note}}</p>
                                <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                <!--<span class="fa fa-pencil color-special pull-right" *ngIf="k.noteID" (click)="onEditNotes(k)"></span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--*************************************************************************Training notes ***************************************************************-->
            <div *ngIf="!isProcessing" class="cmpnycontentBox trainingNotes">
                <h5 class="heading">Training notes</h5>
                <div *ngIf="developmentPlanNew.trainingNote && developmentPlanNew.trainingNote.length>0" class="full-width">
                    <div class="full-width text-right">
                        <span><i class="fa fa-caleder"></i>&nbsp; {{developmentPlanNew?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlanNew?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                    </div>
                    <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                    <div class="box">
                        <div class="full-width" *ngFor="let k of developmentPlanNew.trainingNote">
                            <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                            <div class="notesLis">
                                <p class="white-space-pre">{{k.note}}</p>
                                <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                <div *ngIf="!(developmentPlanNew.assessmentNote && developmentPlanNew.assessmentNote.length>0)" class="clearfix"> <button *ngIf="permission?.edit && k.noteID" (click)="onEditNotes(k)" class="btn btn-special pull-right">Edit <span class="fa fa-pencil"></span></button> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(permission?.edit && !( (developmentPlanNew.trainingNote && developmentPlanNew.trainingNote.length>0 &&  !trainingNoteAddPermission) || (developmentPlanNew.status == 'Complete')))">
                    <form #managerNoteForm="ngForm" class="full-width">
                        <div class="row form-group">
                            <!-- <div class="col-md-12">
                  <label class="form-inline">manager Note</label>
                </div> -->
                            <div class="col-md-9">
                                <textarea class="form-control full-width" style="display:block;" name="planObjectivse" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="developmentPlanManagerNote.managerTraNote" myNoSpaces rows="4"></textarea>
                                <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isTraButtonClicked )">
                                    <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                        Manager note is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="text-left">
                        <md-progress-spinner *ngIf="isTraCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <button *ngIf="!isTraCreateProcessing" (click)="onAddManagerTrainingNote(managerNoteForm)" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <!--*************************************************************************Assessment notes ***************************************************************-->
            <div *ngIf="( (!isProcessing) && ( (developmentPlanNew.assessmentNote && developmentPlanNew.assessmentNote.length>0) || ( (developmentPlanNew.status != 'Complete') && (developmentPlanNew.trainingNote && developmentPlanNew.trainingNote.length>0)  ) ) )"
                class="cmpnycontentBox trainingNotes">
                <h5>Assessment notes</h5>
                <div *ngIf="developmentPlanNew.assessmentNote && developmentPlanNew.assessmentNote.length>0">
                    <div class="full-width text-right">
                        <span>{{developmentPlanNew?.assessmentTime| dateFormat:'longDate'}} at  {{developmentPlanNew?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                    </div>
                    <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                    <div class="box">
                        <div class="full-width" *ngFor="let k of developmentPlanNew.assessmentNote">
                            <div class="notesList">
                                <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                <div *ngIf="permission?.edit && !developmentPlanNew.result" class="clearfix"><button class="btn btn-special pull-right" *ngIf="k.noteID" (click)="onEditNotes(k)">Edit <span class="fa fa-pencil color-special"></span></button></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="permission?.edit &&  !( (developmentPlanNew.assessmentNote && developmentPlanNew.assessmentNote.length>0 &&  !assessmentNoteAddPermission) || (developmentPlanNew.status == 'Complete') )">
                    <form #managerAssessmentNoteForm="ngForm">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" style="display:block;" name="planObjectivsde" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="developmentPlanManagerNote.managerNote" myNoSpaces rows="4"></textarea>
                                <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                                    <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                        Manager note is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <button *ngIf="!isCreateProcessing" (click)="onAddManagerAssessmentNote(managerAssessmentNoteForm)" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div *ngIf="!isProcessing && (developmentPlanNew.status=='Complete' || developmentPlanNew.assessmentNote && developmentPlanNew.assessmentNote.length>0)" class="cmpnycontentBox trainingNotes">
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="heading"> Result</h5>
                    </div>
                    <div *ngIf="!isProcessing && (developmentPlanNew.status=='Complete')" class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Result</label>
                        </div>
                        <div *ngIf="developmentPlanNew.status=='Complete'" class="rghtinput10">
                            <b [ngClass]="{'color-success':developmentPlanNew?.result=='Pass','color-danger':developmentPlanNew?.result=='Fail'}" *ngIf="developmentPlanNew.result=='Re-Access'" class="white-space-pre">Re-assess</b>
                            <!-- <b [ngClass]="{'color-success':developmentPlanNew?.result=='Pass','color-danger':developmentPlanNew?.result=='Not Passed'}" *ngIf="developmentPlanNew.result=='Not Passed'" class="white-space-pre">{{developmentPlanNew?.result}}</b>                             -->
                            <b [ngClass]="{'color-success':developmentPlanNew?.result=='Pass','color-danger':developmentPlanNew?.result=='Fail' || developmentPlanNew?.result=='Not Passed' }" *ngIf="developmentPlanNew.result!='Re-Access'" class="white-space-pre">{{developmentPlanNew?.result}}</b>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">&nbsp;</label>
                        </div>
                        <div class="rghtinput10" *ngIf="!isProcessing && (developmentPlanNew.assessmentNote && developmentPlanNew.assessmentNote.length>0) ">
                            <md-progress-spinner *ngIf="isResultProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="permission?.edit && !isResultProcessing">
                                <button *ngIf="developmentPlanNew.result!='Pass' && developmentPlanNew.result!='Not Passed'" (click)="onAddResult(developmentPlanNew.developmentPlanID,'Pass')" class="btn btn-success btn-lg" style="margin-right:20px;">Pass</button>
                                <button *ngIf="developmentPlanNew.result!='Not Passed' && developmentPlanNew.result!='Pass'" (click)="onAddResult(developmentPlanNew.developmentPlanID,'Fail')" class="btn btn-danger btn-lg" style="margin-right:20px;">Not Passed</button>                                
                                <div *ngIf="developmentPlanNew.result!='Pass' && developmentPlanNew.result!='Not Passed'" class="dropdown" style="display:inline-block;max-width:200px; width:100%;">
                                    <button class="btn btn-default btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action &nbsp;<i class="fa fa-angle-down"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="bottom: 39px; max-width: 220px; width: 100%; top: initial;">
                                        <a class="dropdown-item" (click)="onAddResult(developmentPlanNew.developmentPlanID,'Re-Assess')">Re-assess</a>
                                        <a class="dropdown-item" (click)="onAddResult(developmentPlanNew.developmentPlanID,'Fail')">Fail</a>
                                    </div>
                                </div>
                            </div>
                            <!--<button *ngIf="permission?.edit && !isResultProcessing" (click)="onAddResult(developmentPlanNew.developmentPlanID)" class="btn btn-primary">Result</button>-->
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">&nbsp;</label>
                        </div>
                        <div class="rghtinput10">
                            <button *ngIf="permission?.edit && (developmentPlanNew.result=='Re-Assess') || (developmentPlanNew.result=='Fail')" (click)="onReAssessment(developmentPlanNew.developmentPlanID,developmentPlanNew.developmentFor.employeeID)" class="btn btn-primary">Proceed to re-assess</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>