
<div class="container-fluid userLatterActions">

<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<div class="UserActionPopup" *ngIf="!isProcessing">
<h5 class="heading"> Rejection note </h5>

<form #ActionForm="ngForm" class="full-width">

  <app-tinymce name="des" [(ngModel)]="rejectionNote" #description="ngModel" required></app-tinymce>
  <div *ngIf="description.errors && ( (description.dirty || description.touched) || isButtonClicked )">
      <div class="alert alert-danger" [hidden]="!(description.errors.required || description.errors.whitespace)">
          Manager note is required !
      </div>
  </div>
  <div class="text-center">
    <button *ngIf="!isActionProcessing" class="btn btn-primary" [disabled]="!ActionForm.form.valid" (click)="onSave(ActionForm.form.valid)"> send </button>
    <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>    
  </div>
</form>
</div>
</div>