<div class="container-fluid chapter">
    <article class="article">
        <div class="col-md-12 ">
            <h2 class="article-title">Create new list</h2>
        </div>
        <form>
            <div class="col-md-12">
                <input class="form-control" required name="title" placeholder="List Name" />
            </div>
        </form>
        <div class="btn-wrapper col-md-12 addUserBtn">
            <button class="btn btn-success"><i class="fa fa-plus"></i> Add</button> &nbsp;
            <button class="btn btn-default">Cancel</button>
        </div>
    </article>
</div>