.marginBottom {
    margin-bottom: 20px;
}

.marginTop {
    margin-top: 20px;
}

.attendeesList {
    .pipEmpuserPic {
        display: inline-block;
        margin-right: 20px;
    }
}

.form-group {
    .lftinpt10 {
        width: 21.5%;
        .form-inline {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .rghtinput10 {
        width: 78.5%;
    }
}

.lastbox {
    .form-group {
        .lftinpt10 {
            width: 16.5%;
            margin-right: 5px;
            .form-inline {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .rghtinput10 {
            width: 73.5%;
        }
    }
}

.downloads {
    li {
        margin-bottom: 4px;
        text-align: center;
        display: inline-block;
        margin-right: 20px;
        .downloadfile {
            font-size: 30px;
        }
    }
}

.pipHeader {
    .pipEmploye {
        border-bottom: 1px dashed #cccccc;
        padding: 3px 0px 5px;
        &:last-child {
            border-bottom: 0px;
        }
    }
}

.cmpnycontentBox {
    &.nextStep {
        margin-top: 25px;
    }
    h4 {
        margin: 20px 0px 30px;
    }
}

.form-group {
    textarea {
        max-width: inherit;
        height: 90px;
        resize: none;
    }
    .instruction {
        margin-top: 4px;
        color: #acacac;
    }
}

.btnWraper {
    button {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.primaryLink {
    color: #64c3fb;
}

.rghtinput10 {
    &.pipHeader {
        position: relative;
        top: -14px;
    }
}

.PIPmainBox {
    .PIPFormbox {
        .form-group {
            &:last-child {
                margin-bottom: 0px !important;
            }
            &.witnessRow {
                margin-bottom: 10px !important;
            }
        }
    }
}

.injuryDetail {
    .customchkbox {
        display: inline-block;
        margin-right: 10px;
        min-width: 207px;
        &:first-child {
            width: 100%;
            display: block;
        }
    }
    .form-group .form-control {
        max-width: inherit;
    }
    .customChoice {
        display: inline-block;
        margin-right: 20px;
        margin-top: 10px;
        min-width: 177px;
    }
}

.injurymarkerbox {
    padding: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    background: #fafafa;
    overflow: auto;
    .markerimg {
        cursor: pointer;
        img {
            max-width: 100%;
        }
    }
    .writedetail {
        margin-top: 10px;
        textarea {
            width: 100%;
            resize: none;
            height: 90px;
        }
    }
    .actions {
        margin-top: 10px;
        button {
            &:first-child {
                width: 59%;
                margin-right: 5%;
                @media(max-width: 1321px) {
                    margin-bottom: 8px;
                    width: auto;
                }
                @media(max-width: 489px) {
                    width: 100%;
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }
            &:last-child {
                width: 35%;
                @media(max-width: 1321px) {
                    width: auto;
                    margin-bottom: 8px;
                }
                @media(max-width: 489px) {
                    width: 100%;
                }
            }
        }
    }
}

.correctiveActions {
    ul {
        padding-top: 25px;
        li {
            text-align: center;
            margin: 10px 0px;
            display: block;
            button {
                min-width: 70%;
                display: inline-block;
            }
        }
    }
}