<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/ohs-listing']">OH&S</li>
                    <li class="breadcrumb-item active">OH&S or company admin is notified</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div [hidden]="isProcessing || !noResult" class="col-md-12 PIPmainBox grievanceMain text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div [hidden]="isProcessing && noResult" class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="heading">An accident/injury/hazard has been reported </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="pipEmploye float-right">
                                    <div class="title">Reported by:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img [src]="ohs?.reportedBy?.imageUrl" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{ohs?.reportedBy?.name}}</h5>
                                            <div class="designation">{{ohs?.reportedBy?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox marginTop">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="heading">
                                            {{ohs?.title}}
                                        </h4>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Type of issue</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.issueType}}
                                        </div>
                                    </div>
                                    <div *ngIf="ohs?.issueType=='Other'" class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Other issue type</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.issueOtherType}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Description of what is happening and what is being reported</label>
                                        </div>
                                        <div class="rghtinput10">{{ohs?.description}} </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Date & time of incident</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{formatDateTime(ohs?.issueDate)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Document</label>
                                        </div>
                                        <div *ngIf="ohs?.document.length" class="rghtinput10">
                                            <span class="primaryLink" style="display: inline-block;" *ngFor="let item of ohs?.document">
                                                <a href="{{item}}" style="margin-right:10px;" download><span><i class="fa fa-download"></i> {{getName(item)}} &nbsp;</span></a>
                                            </span>
                                        </div>
                                        <div *ngIf="!ohs?.document.length" class="rghtinput10">
                                            Not specified
                                        </div>

                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Location</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.location}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group witnessRow">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Witnesses</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of ohs?.witness">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">People involved</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of ohs?.personInvolved">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="ohs?.injuryDetail">
                    <div class="cmpnycontentBox nextStep injuryDetail">
                        <form name="injuryForm" #injuryForm="ngForm">
                            <h4 class="heading">Injury details</h4>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Nature of injury</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input class="form-control" type="text" name="nature" #nature="ngModel" [(ngModel)]="assessment.nature" required>
                                                <div [ngClass]="(!nature.valid && submitted) ?'alert alert-danger': 'instruction'">Describe the principle physical characteristics of the injury,i.e.burn.</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">First aid treatment provided</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <textarea class="form-control" name="firstAid" #firstAid="ngModel" [(ngModel)]="assessment.firstAid" required></textarea>
                                                <div [ngClass]="(!firstAid.valid && submitted) ?'alert alert-danger': 'instruction'">Enter the details of first aid given</div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Further action taken</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <div class="customchkbox" *ngFor="let item of actions;let i=index;">
                                                    <input class="required" (change)="onCheckOption($event,item)" [id]="'action'+i" type="checkbox" [value]="item?.action">
                                                    <label [for]="'action'+i">{{item?.action}}</label>
                                                </div>
                                                <div [ngClass]="(!options.length && submitted) ?'color-danger': 'instruction'">Only tick the boxes that apply.</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Employee taken to doctor by</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <angular2-multiselect [data]="employeeList" [settings]="dropdownSettings" [selectedItems]="selectedEmployee" name="emp" #emp="ngModel" [(ngModel)]="selectedEmployee" required>
                                                </angular2-multiselect>
                                                <div *ngIf="emp.dirty || emp.touched || submitted">
                                                    <div class="alert alert-danger" [hidden]="emp.valid">Please select a employee.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="injurymarkerbox">
                                        <p>Mark the part of the body that is directly affected by the injury and add a note</p>
                                        <!-- <div class="markerimg">
                                    <img src="assets/images/injury.jpg" />
                                </div> -->
                                        <div id="container" style="background:url('assets/images/injury.jpg') no-repeat center; height:300px; position: relative;width: 485px;">
                                        </div>
                                        <button class="btn btn-primary" (click)="clearMarker()">Clear marker</button>
                                        <div style="color: #acacac;display: inline-block;">Select a marker and enter the note.</div>
                                        <div *ngIf="addNote?.add">
                                            <div class="writedetail">
                                                <textarea #markerNote class="form-control" placeholder="Enter the note" name="markerNote" [(ngModel)]="addNote.note"></textarea>
                                            </div>
                                            <div class="actions">
                                                <button class="btn btn-danger" (click)="deleteMarkerAndNote()">Delete marker & note <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                <button class="btn btn-special" (click)="submitNote()">Submit note <i class="fa fa-check" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div *ngIf="submitted">
                                            <!-- <div class="alert alert-danger" [hidden]="invalidMarker || !assessment.marker.length">Please select a mark.</div> -->
                                            <div class="color-danger" style="margin-top:10px;" [hidden]="!invalidMarker">Please select a mark and note.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="cmpnycontentBox nextStep injuryDetail lastbox">
                        <h4 class="heading">Injury, incident and hazard assessment</h4>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">
                                     Severity of the hazard, resulting a disability, ill health or a fatal accident
                                 </label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="customChoice">
                                        <input class="required" id="injury1" name="injury" value="Very Likely To Happen" type="radio" #injury="ngModel" [(ngModel)]="assessment.servityHazard" required>
                                        <label for="injury1">Very Likely To Happen</label>
                                    </div>
                                    <div class="customChoice">
                                        <input class="required" id="injury2" name="injury" value="Likely Happen" type="radio" #injury="ngModel" [(ngModel)]="assessment.servityHazard" required>
                                        <label for="injury2">Likely- could happen</label>
                                    </div>
                                    <div class="customChoice" style="min-width: 148px;">
                                        <input class="required" id="injury3" name="injury" value="Part Of Job" type="radio" #injury="ngModel" [(ngModel)]="assessment.servityHazard" required>
                                        <label for="injury3">Part of job ,likely</label>
                                    </div>
                                    <div class="customChoice">
                                        <input class="required" id="injury4" name="injury" value="Very Unlikely" type="radio" #injury="ngModel" [(ngModel)]="assessment.servityHazard" required>
                                        <label for="injury4">Very unlikely, low risk</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">
                                     Resulting in the employee requiring first aid
                                 </label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="customChoice">
                                        <input class="required" id="firstaid1" name="incident" value="Very Likely To Happen" type="radio" #incident="ngModel" [(ngModel)]="assessment.requiringFirstAid" required>
                                        <label for="firstaid1">Very likely to happen</label>
                                    </div>
                                    <div class="customChoice">
                                        <input class="required" id="firstaid2" name="incident" value="Likely Happen" type="radio" #incident="ngModel" [(ngModel)]="assessment.requiringFirstAid" required>
                                        <label for="firstaid2">Likely- could happen</label>
                                    </div>
                                    <div class="customChoice" style="min-width: 148px;">
                                        <input class="required" id="firstaid3" name="incident" value="Part Of Job" type="radio" #incident="ngModel" [(ngModel)]="assessment.requiringFirstAid" required>
                                        <label for="firstaid3">Part of job ,likely</label>
                                    </div>
                                    <div class="customChoice">
                                        <input class="required" id="firstaid4" name="incident" value="Very Unlikely" type="radio" #incident="ngModel" [(ngModel)]="assessment.requiringFirstAid" required>
                                        <label for="firstaid4">Very unlikely, low risk</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">
                                     Resulting intime off work due to injury
                                 </label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="customChoice">
                                        <input class="required" id="offwork1" name="hazard" value="Very Likely To Happen" type="radio" #hazard="ngModel" [(ngModel)]="assessment.workTimeOff" required>
                                        <label for="offwork1">Very likely to happen</label>
                                    </div>
                                    <div class="customChoice">
                                        <input class="required" id="offwork2" name="hazard" value="Likely Happen" type="radio" #hazard="ngModel" [(ngModel)]="assessment.workTimeOff" required>
                                        <label for="offwork2">Likely- could happen</label>
                                    </div>
                                    <div class="customChoice" style="min-width: 148px;">
                                        <input class="required" id="offwork3" name="hazard" value="Part Of Job" type="radio" #hazard="ngModel" [(ngModel)]="assessment.workTimeOff" required>
                                        <label for="offwork3">Part of job ,likely</label>
                                    </div>
                                    <div class="customChoice">
                                        <input class="required" id="offwork4" name="hazard" value="Very Unlikely" type="radio" #hazard="ngModel" [(ngModel)]="assessment.workTimeOff" required>
                                        <label for="offwork4">Very unlikely, low risk</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12 form-group" *ngIf="(!assessment.servityHazard || !assessment.requiringFirstAid || !assessment.workTimeOff) && submitted">
                                <div class="color-danger">Please answer all assesment.</div>
                            </div>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isSaving" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isSaving" class="btnWrap text-center marginTop">
                        <button class="btn btn-lg btn-primary" (click)="submitted=true;injuryForm.valid && isValidMarker() && onClick();">Action <i class="fa fa-angle-down"></i></button>
                    </div>
                </div>

                <div [hidden]="!ohs?.injuryDetail">
                    <div class="cmpnycontentBox nextStep injuryDetail">
                        <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                        <h4 class="heading">Injury details</h4>
                        <div class="row">
                            <div class="col-md-8">
                                <div cklass="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Nature of injury</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.injuryDetail?.nature}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">First aid treatment provided</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.injuryDetail?.firstAid}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Further action taken</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <ul>
                                                <li *ngFor="let item of ohs?.injuryDetail?.furtherAction">
                                                    {{item?.action}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">By whom</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="ohs?.injuryDetail?.takenToDoctoruserID?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{ohs?.injuryDetail?.takenToDoctoruserID?.name}}</h5>
                                                        <div class="designation">{{ohs?.injuryDetail?.takenToDoctoruserID?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="injurymarkerbox">
                                    <p>Indicate the location of injury</p>
                                    <div id="container" style="background:url('assets/images/injury.jpg') no-repeat ; height:300px; position: relative;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmpnycontentBox nextStep injuryDetail">
                        <h4 class="heading">Injury, incident and hazard assessment</h4>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">
                                    Severity of the hazard, resulting a disability, ill health or a fatal accident
                                </label>
                                </div>
                                <div class="rghtinput10"> {{ohs?.injuryDetail?.servityHazard}}</div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">
                                    Resulting in the employee requiring first aid
                                </label>
                                </div>
                                <div class="rghtinput10">{{ohs?.injuryDetail?.requiringFirstAid}}</div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">
                                    Resulting in time off work due to injury
                                </label>
                                </div>
                                <div class="rghtinput10">{{ohs?.injuryDetail?.workTimeOff}}</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>