<md-progress-spinner *ngIf="isPolicyDetailProcessing" mode="indeterminate" color="">
</md-progress-spinner>
<section *ngIf="!isPolicyDetailProcessing" class="creatContract innerAdmins container-fluid">
    <div class="header col-sm-12">
        <h2 class="article-title pull-left" [hidden]="true">{{isAddEdit}} policy documents</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/policy-documents/']">Policy documents</a></li>
            <li class="breadcrumb-item active">{{isAddEdit}} own policy documents</li>
        </ol>
    </div>
    <div class="box box-default paddingBox">
        <form #createPolicyForm="ngForm">
            <div class="clearfix"></div>
            <div class="selectContract">
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-md-5 form-group">
                        <p class="form-inline">Select own policy type</p>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-4">
                        <div class="text-left">
                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!isProcessing" class="asasas chooseQuestion DDaction">
                                <angular2-multiselect [data]="dropdropdownListPolicyTypes" [(ngModel)]="selectedItemsPolicyTypes" #PolicyTypes="ngModel" name="duration" required [selectedItems]="selectedItemsPolicyTypes" [settings]="dropdownSettingsPolicyTypes">
                                </angular2-multiselect>
                                <div *ngIf="PolicyTypes.errors && (PolicyTypes.dirty || PolicyTypes.touched)">
                                    <div class="alert alert-danger" [hidden]="!(PolicyTypes.errors.required && buttonClicked)">
                                        Policy type is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-6 col-md-3">
                        <button (click)="policy.status=(policy.status=='Active')?'Inactive':'Active'" [ngClass]="(policy.status=='Active')?'btn-primary':'btn-default'" class="btn  pull-right">{{policy?.status}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                    <div class="box">
                        <div class="subhead">
                            <div class="form-group">
                                <input type="text" class="form-control" #contarctTitle="ngModel" name="title" required [(ngModel)]="policy.title" myNoSpaces placeholder="Enter policy name" />
                                <div *ngIf="contarctTitle.errors && (contarctTitle.dirty || contarctTitle.touched)">
                                    <div class="alert alert-danger" [hidden]="!(contarctTitle.errors.required || contarctTitle.errors.whitespace)">
                                        Policy title is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quillEditor">
                            <quill-editor [(ngModel)]="policy.description" myNoSpaces #discription="ngModel" name="discription" required>
                                <div quill-editor-toolbar>
                                    <span class="ql-formats">
                      <button class="ql-bold" [title]="'Bold'"></button>
                      <button class="ql-italic" [title]="'Italic'"></button>
                      <button class="ql-underline" [title]="'Underline'"></button>
                      <button class="ql-strike" [title]="'Strike'"></button>
                  </span>

                                    <span class="ql-formats">
                    <button class="ql-blockquote" [title]="'Block Quote'"></button>
                      <button class="ql-code-block" [title]="'Code Block'"></button>
                  </span>
                                    <span class="ql-formats">
                      <button class="ql-header" value="1" [title]="'Header 1'"></button>
                      <button class="ql-header" value="2" [title]="'Header 2'"></button>
                  </span>

                                    <span class="ql-formats">
                    <button class="ql-list" value="ordered" [title]="'Ordered List'"></button>
                    <button class="ql-list" value="bullet" [title]="'Bullet List'"></button>
                  </span>

                                    <span class="ql-formats">
              <button class="ql-script" value="sub"[title]="'Subscript'"></button>
              <button class="ql-script" value="super"[title]="'Superscript'"></button>
            </span>

                                    <span class="ql-formats">
              <button class="ql-indent"  value="-1" [title]="'Indent'"></button>
                <button class="ql-indent"  value="+1" [title]="'Indent'"></button>
            </span>

                                    <span class="ql-formats">
              <button class="ql-direction" value="rtl" [title]="'Direction'"></button>
            </span>

                                    <span class="ql-formats">
              <select class="ql-size" [title]="'Size'">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
              </select>
            </span>

                                    <span class="ql-formats">
              <select class="ql-header" [title]="'Header'">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
                <option selected></option>
              </select>
            </span>


                                    <span class="ql-formats">
              <select class="ql-color" [title]="'Color picker'">
                <option value="#ffffff"></option>
                <option value="#00000"></option>
                <option value="#e34fff"></option>
                <option value="#a34565"></option>
                <option value="#dd4545"></option>
                <option selected></option>
              </select>
            </span>

                                    <span class="ql-formats">
              <select class="ql-background" [title]="'Background Color Picker'">
                <option value="#ffffff"></option>
                <option value="#00000"></option>
                <option value="#e34fff"></option>
                <option value="#a34565"></option>
                <option value="#dd4545"></option>
                <option selected></option>
              </select>
            </span>

                                    <span class="ql-formats">
              <select class="ql-font" [title]="'Font'">
                <option selected></option>
                <option value="serif"></option>
                <option value="monospace"></option>
              </select>
            </span>

                                    <span class="ql-formats">
              <select class="ql-align" [title]="'Alignment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>

                                    <span class="ql-formats">
              <button class="ql-clean" [title]="'Clean'"></button>
            </span>
                                    <span class="ql-formats">
              <button class="ql-link" [title]="'Link'"></button>
                <button class="ql-image" [title]="'Image'"></button>
                <button class="ql-video" [title]="'Video'"></button>
            </span>

                                </div>
                            </quill-editor>
                            <div *ngIf="discription.errors && (discription.dirty || discription.touched)">
                                <div class="alert alert-danger" [hidden]="!(discription.errors.required || discription.errors.whitespace)">
                                    Policy description is required.
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="newContract box" *ngFor="let c of policy.policySubjects; let i =index">
                        <div class="subhead">
                            <div class="form-group">
                                <input type="text" name="Subject{{i}}" required myNoSpaces #subjectName="ngModel" class="form-control" [(ngModel)]="c.title" placeholder="Enter subject name" />
                                <div *ngIf="subjectName.errors && (subjectName.dirty || subjectName.touched)">
                                    <div class="alert alert-danger" [hidden]="!(subjectName.errors.required || subjectName.errors.whitespace)">
                                        Subject name is required.
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="policy.policySubjects.length>1" class="pull-right deleteBtn">
                                <a (click)="OnDeleteSubject(i)" md-tooltip="Delete" href="javascript:void(0)" class="color-danger">
                                    <i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>

                        <div class="quillEditor">
                            <quill-editor [(ngModel)]="c.description" myNoSpaces #subjectDesc="ngModel" name="subjectDes{{i}}" required>
                                <div quill-editor-toolbar>
                                    <span class="ql-formats">
                          <button class="ql-bold" [title]="'Bold'"></button>
                          <button class="ql-italic" [title]="'Italic'"></button>
                          <button class="ql-underline" [title]="'Underline'"></button>
                          <button class="ql-strike" [title]="'Strike'"></button>
                      </span>

                                    <span class="ql-formats">
                        <button class="ql-blockquote" [title]="'Block Quote'"></button>
                          <button class="ql-code-block" [title]="'Code Block'"></button>
                      </span>
                                    <span class="ql-formats">
                          <button class="ql-header" value="1" [title]="'Header 1'"></button>
                          <button class="ql-header" value="2" [title]="'Header 2'"></button>
                      </span>

                                    <span class="ql-formats">
                        <button class="ql-list" value="ordered" [title]="'Ordered List'"></button>
                        <button class="ql-list" value="bullet" [title]="'Bullet List'"></button>
                      </span>

                                    <span class="ql-formats">
                  <button class="ql-script" value="sub"[title]="'Subscript'"></button>
                  <button class="ql-script" value="super"[title]="'Superscript'"></button>
                  </span>

                                    <span class="ql-formats">
                    <button class="ql-indent"  value="-1" [title]="'Indent'"></button>
                      <button class="ql-indent"  value="+1" [title]="'Indent'"></button>
                  </span>

                                    <span class="ql-formats">
                    <button class="ql-direction" value="rtl" [title]="'Direction'"></button>
                  </span>

                                    <span class="ql-formats">
                    <select class="ql-size" [title]="'Size'">
                      <option value="small"></option>
                      <option selected></option>
                      <option value="large"></option>
                      <option value="huge"></option>
                    </select>
                  </span>

                                    <span class="ql-formats">
                    <select class="ql-header" [title]="'Header'">
                      <option value="1"></option>
                      <option value="2"></option>
                      <option value="3"></option>
                      <option value="4"></option>
                      <option value="5"></option>
                      <option value="6"></option>
                      <option selected></option>
                    </select>
                  </span>


                                    <span class="ql-formats">
                    <select class="ql-color" [title]="'Color picker'">
                      <option value="#ffffff"></option>
                      <option value="#00000"></option>
                      <option value="#e34fff"></option>
                      <option value="#a34565"></option>
                      <option value="#dd4545"></option>
                      <option selected></option>
                    </select>
                  </span>

                                    <span class="ql-formats">
                    <select class="ql-background" [title]="'Background Color Picker'">
                      <option value="#ffffff"></option>
                      <option value="#00000"></option>
                      <option value="#e34fff"></option>
                      <option value="#a34565"></option>
                      <option value="#dd4545"></option>
                      <option selected></option>
                    </select>
                  </span>

                                    <span class="ql-formats">
                    <select class="ql-font" [title]="'Font'">
                      <option selected></option>
                      <option value="serif"></option>
                      <option value="monospace"></option>
                    </select>
                  </span>

                                    <span class="ql-formats">
                    <select class="ql-align" [title]="'Alignment'">
                      <option selected></option>
                      <option value="center"></option>
                      <option value="right"></option>
                      <option value="justify"></option>
                    </select>
                  </span>

                                    <span class="ql-formats">
                    <button class="ql-clean" [title]="'Clean'"></button>
                  </span>
                                    <span class="ql-formats">
                    <button class="ql-link" [title]="'Link'"></button>
                      <button class="ql-image" [title]="'Image'"></button>
                      <button class="ql-video" [title]="'Video'"></button>
                  </span>

                                </div>
                            </quill-editor>
                            <div *ngIf="subjectDesc.errors && (subjectDesc.dirty || subjectDesc.touched)">
                                <div class="alert alert-danger" [hidden]="!(subjectDesc.errors.required || subjectDesc.errors.whitespace)">
                                    Description is required.
                                </div>
                            </div>


                        </div>
                    </div>
                    <a (click)="onAddMoreSubjects()" class="pull-right addNewSubject">Add more subject &nbsp;&nbsp;<span class="fa fa-angle-double-right"></span></a>

                </div>

            </div>

            <div *ngIf="!isAddEditProcessing" class="buttonWrap text-center full-width">
                <button style="margin-top:10px;" [disabled]="!createPolicyForm.form.valid" (click)="createPolicy(createPolicyForm.form.valid)" class="btn btn-primary btn-lg">{{isAddEdit}}</button>
                <button style="margin-top:10px;" class="btn btn-primary  btn-lg" (click)="onPreview()">Preview</button>
                <button style="margin-top:10px;" *ngIf="id" (click)="onDiscard()" class="btn btn-special btn-lg">Discard</button>
            </div>
            <div *ngIf="isAddEditProcessing" class="buttonWrap text-center full-width">
                <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
            </div>
        </form>
    </div>
</section>