.creatContract {
    padding: 0px 15px 40px;
    .header {
        padding: 0px 0px 12px;
        h2 {
            margin: 0;
            float: left;
            width: auto;
            padding: 0 !important;
        }
    }
    .dropdown {
        button {
            background: #fff;
            border: 1px solid #d2d2d2;
        }
        .dropdown-menu {
            width: 100%;
            a {
                color: #333;
                opacity: 0.7;
                padding: 8px 15px;
                font-size: 16px;
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .selectContract {
        @media(max-width: 767px) {
            padding: 0px 0px 30px;
        }
        padding:7px 0px 0px;
        .subhead {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
        }
        .btn-primary {
            &.pull-right {
                @media (max-width: 767px) {
                    float: none !important;
                    right: 0px !important;
                    margin-top: 8px;
                }
            }
        }
    }
    .subhead {
        padding-top: 1px;
    }
}

.rightcoment {
    padding: 20px 15px;
    .subhead {
        font-size: 16px;
        font-weight: 600;
        opacity: 0.8;
        margin-bottom: 12px;
    }
    textarea {
        min-height: 130px;
        max-height: 130px;
    }
}

.box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.42);
    .subhead {
        width: 100%;
        float: left;
    }
    .quillEditor {
        padding: 0;
        .ql-toolbar.ql-snow {
            border: 0;
            border-bottom: 1px solid #d4d4d4;
        }
    }
}

.deleteBtn {
    position: relative;
    top: 20px;
    font-size: 20px;
    right: 15px;
}

.asasas .selected-list::before,
.asasas .selected-list::after {
    display: none !important;
}

a:hover {
    cursor: pointer;
}

.color-danger .fa.fa-trash-o:hover {
    background: #e6e6e6;
    text-align: center;
    border-radius: 50%;
}

.admin-panel {
    .asasas {
        .cuppa-dropdown {
            @media(max-width: 767px) {
                max-width: inherit !important;
            }
        }
    }
}