@import "../../../company-employee/induction/complete-profile/complete-profile.component.scss";
.collapseInfoBox .collapseContentbox.open {
    overflow: visible;
}

.instruction {
    margin-top: 4px;
    color: #acacac;
}

.uploadFile {
    input[type="file"] {
        display: none;
    }
    label {
        margin-top: 7px;
    }
}

.detailField {
    textarea {
        &.form-control {
            height: 70px;
            resize: none;
        }
    }
}

.fixed-header .app-page-container .app-content-wrapper .app-content {
    padding-bottom: 80px;
}

#submitBtn44555 {
    position: relative;
}
.fundName{
    max-width: 600px;
    position: relative;
    span{
        position: absolute;
        top: -23px;
        right: -43px;
    }
}
.fundNameDropDown{
    border: 1px solid #b9b9b8;
    border-radius: 5px;
    padding: 10px;
    max-height:200px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    z-index:9;
    width:100%;
    li{
        margin-top: 5px;
    }
    li:hover{
        background-color: #eee;
        cursor: pointer;
    }
}
.heading-danger{
    color: white;
    background-color: #ff8383
}
