.chapter .article:nth-of-type(1) .article-title {
    margin: 0 0 7px !important;
}

.barGraph {
    display: inline-block;
    width: 49.7%;
    vertical-align: top;
    margin-bottom: 30px;
    h6 {
        text-align: center;
        font-size: 18px;
        margin-top: 4px;
        margin-bottom: 0px;
        b {
            font-size: 30px;
            display: block;
            width: 100%;
        }
    }
    @media screen and (max-width:850px) {
        width: 100%;
    }
}

.dashboard {
    .cmpnycontentBox {
        margin-bottom: 20px;
        .cmpnycontentBoxInner {
            position: relative;
            .settingButton {
                padding: 0;
                position: absolute;
                right: -24px;
                top: -36px;
                i {
                    color: #222;
                    font-size: 25px;
                }
            }
            h4 {
                margin: 0;
                padding-right: 160px;
                @media(max-width: 1199px) {
                    font-size: 20px;
                    padding-right: 145px;
                }
                @media(max-width:767px) {
                    padding-right: 0;
                }
            }
            .tableWrapper {
                overflow: auto;
                width: 100%;
            }
            table {
                min-width: 100%;
                thead {
                    th {
                        padding: 6px 12px;
                        border: 1px solid #cbcbcb;
                        border-bottom: 3px solid #cbcbcb;
                        font-size: 13px;
                        @media(max-width: 1360px) {
                            padding: 6px;
                        }
                        .byDate {
                            display: block;
                            line-height: 10px;
                        }
                        i {
                            float: right;
                            padding-top: 3 px;
                        }
                    }
                    th:first-child {
                        font-size: 15px;
                    }
                }
                tr {
                    td {
                        text-align: center;
                        color: #444;
                        border: 1px solid #cbcbcb;
                        height: 46px;
                        padding: 5px;
                        .byDate {
                            display: block;
                        }
                        .task {
                            display: inline-block;
                            background: #f3f3fb;
                            color: #8a88d9;
                            width: 45px;
                            height: 20px;
                            line-height: 22px;
                            text-transform: uppercase;
                            display: inline-block;
                            margin-right: 5px;
                            text-align: center;
                            border: 1px solid #ddd;
                        }
                        .tDone {
                            color: #4cd9aa;
                            transition: all 0.1s;
                            -webkit-transition: all 0.1s;
                            -moz-transition: all 0.1s;
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 32px;
                            text-align: center;
                            cursor: pointer;
                            &:hover {
                                background: #4cd9aa;
                                color: #fff;
                                border-radius: 50%;
                            }
                        }
                        .tOverdue {
                            color: #ff8383;
                            transition: all 0.1s;
                            -webkit-transition: all 0.1s;
                            -moz-transition: all 0.1s;
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 32px;
                            text-align: center;
                            cursor: pointer;
                            &:hover {
                                background: #ff8383;
                                color: #fff;
                                border-radius: 50%;
                            }
                        }
                        .dropdown {
                            button {
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
            .activitySuperAdmin {
                overflow-y: auto;
                max-height: 500px;
                padding-left: 11px;
                margin-top: 20px;
                margin-top: 25px;
                ul {
                    border-left: 1px solid #eee;
                    padding-left: 15px;
                    position: relative;
                    padding-bottom: 10px;
                    padding-top: 30px;
                    margin-bottom: 0;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: #64c3fa;
                        left: -4px;
                        top: 0;
                    }
                    .dateTime {
                        position: absolute;
                        top: -8px;
                    }
                    li {
                        h5 {
                            margin: 0;
                            font-size: 18px;
                        }
                        padding: 10px;
                        display: block;
                        margin-bottom: 15px;
                        background: #f5f5f5;
                        color: #555;
                        p {
                            margin: 0;
                            span {
                                color: #64c3fa;
                            }
                        }
                    }
                    // &:last-child{ &:after{
                    //     position:absolute;
                    //     content: '';
                    //     width: 8px;
                    //     height: 8px;
                    //     border-radius: 50%;
                    //     display: inline-block;
                    //     background-color: #64c3fa;
                    //     left: -4px;
                    //     bottom: 0;
                    // }}
                    &:first-child {
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    .recentActivity {
        padding: 20px 0;
        .topHead {
            padding: 0 20px 20px 20px;
            ;
            border-bottom: 1px solid #cbcbcb;
            position: relative;
            .dateList {
                padding-top: 20px;
            }
            .btn-primary {
                position: absolute;
                top: 0px;
                right: 20px;
                @media screen and (max-width: 676px) {
                    position: initial;
                    margin-top: 12px;
                    float: none;
                }
            }
        }
        .recentActiDateList {
            padding: 20px 20px 0 20px;
            h5 {
                margin-top: 0;
            }
            ul {
                border-bottom: 1px solid #cbcbcb;
                li {
                    font-size: 16px;
                    margin-bottom: 18px;
                    span {
                        color: #64c3fa;
                        display: inline-block;
                    }
                    strong {
                        color: #8a88d9;
                        font-weight: normal;
                        display: inline-block;
                    }
                    .media-right {
                        padding-left: 10px;
                    }
                }
            }
        }
        .cmpnycontentBoxInner {
            .settingButton {
                right: -2px;
            }
        }
    }
    .flWidth table {
        min-width: 1120px !important;
        width: 100%;
    }
    .col-sm-6 {
        @media(max-width: 767px) {
            width: 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@media(max-width:1260px) {
    .flWidth {
        width: 100%;
        min-width: 100%;
    }
}