<div class="container-fluid chapter">
    <article style="padding-bottom:20px;" class="article">
        <h2 class="article-title">Dashboard</h2>
        <md-progress-spinner *ngIf="!isDataAvailable" mode="indeterminate" color=""></md-progress-spinner>
        <div class="cmpnycontentBox" *ngIf="isDataAvailable">
            <div class="barGraph" *ngIf="isDataAvailable && companyRegistrationCount[0].data.length>0">
                <h6>Total company registration within this week <b>{{totalCompanyRegistration}}</b></h6>
                <canvas height="120" baseChart [datasets]="companyRegistrationCount" [colors]="color" [labels]="barChartLabelsCompanyRegistration" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="barGraph" *ngIf="isDataAvailable && employeesCount[0].data.length>0">
                <h6>Total employee within the system <b>{{totalEmployees}}</b></h6>
                <canvas height="120" baseChart [datasets]="employeesCount" [colors]="color1" [labels]="barChartLabelsEmployees" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>

            <div class="barGraph" *ngIf="isDataAvailable && registeredCompaniesCount[0].data.length>0">
                <h6>Total registered companies <b>{{totalRegisteredCompnaies}}</b></h6>
                <canvas height="120" baseChart [datasets]="registeredCompaniesCount" [colors]="color2" [labels]="barChartLabelsRegisteredCompnaies" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="barGraph" *ngIf="isDataAvailable && registeredCompnaiesWithSubcompaniesCount[0].data.length>0">
                <h6>Total registered companies with sub-companies <b>{{totalRegisteredCompnaiesWithSubcompanies}}</b></h6>
                <canvas height="120" baseChart [datasets]="registeredCompnaiesWithSubcompaniesCount" [colors]="color4" [labels]="barChartLabelsRegisteredCompnaiesWithSubcompanies" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </div>

        </div>
    </article>
</div>

<div class="container-fluid" *ngIf="isDataAvailable">
    <div class="dashboard">
        <div class="row">
            <!-- <div class="col-lg-12 col-sm-12 flWidth">
                <div class="cmpnycontentBox recentActivity">
                    <div class="cmpnycontentBoxInner">
                        <div class="topHead">
                            <h4>Payment failure alerts</h4>
                            <button class="btn btn-primary pull-right" [routerLink]="['/app/super-admin/failedPayment']">View all</button>
                        </div>
                        <div class="tableWrapper col-sm-12">
                            <br>
                            <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="failedPayment" [mfActivePage]=2 #payment="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <th style="width:50px;">S.no</th>
                                    <th>
                                        Transaction id
                                    </th>
                                    <th>
                                        Company username
                                    </th>
                                    <th>
                                        Email id
                                    </th>
                                    <th>
                                        Company name
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Reason
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of payment.data;let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{payment?.transactionID}}</td>
                                        <td>{{payment?.companyUserName}}</td>
                                        <td>{{payment?.companyAdminEmail}}</td>
                                        <td>{{payment?.companyName}}</td>
                                        <td>{{payment?.transactionAmount}}</td>
                                        <td>{{payment?.transactionDate}}</td>
                                        <td>{{payment?.transactionTime}}</td>
                                        <td>{{payment?.transactionReason}}</td>
                                        <td>{{payment?.transactionStatus}}</td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="failedPayment.length>10">
                                    <tr>
                                        <td class="progressSpinner" colspan="10" style="background:#ffffff !important;border-bottom:0px !important;">
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12 col-sm-12 flWidth">
                <div class="cmpnycontentBox recentActivity">
                    <div class="cmpnycontentBoxInner">
                        <div class="topHead">
                            <h4>New registration</h4><button class="btn btn-primary pull-right" [routerLink]="['/app/super-admin/registration']">View all</button>
                        </div>
                        <div class="recentActiDateList">
                            <div class="tableWrapper">
                                <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="newRegistration" [mfActivePage]=2 #registration="mfDataTable" [mfRowsOnPage]="10">
                                    <thead>
                                        <th style="width:50px;">
                                            S.no.
                                        </th>
                                        <th>
                                            Company username
                                        </th>
                                        <th>
                                            Company admin
                                        </th>
                                        <th>
                                            Company admin email
                                        </th>
                                        <th>
                                            Contact number
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            Subscription
                                        </th>
                                        <th>
                                            Coupon
                                        </th>
                                        <th>
                                            Status
                                        </th>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let registration of registration.data;let i=index;">
                                            <td>{{i+1}}</td>
                                            <td>{{registration.companyName||'--'}}</td>
                                            <td>{{registration.companyUserName||'--'}}</td>
                                            <td>{{registration.companyAdminEmail||'--'}}</td>
                                            <td>{{registration.contactNumber||'--'}}</td>
                                            <td>{{registration.startDate||'--'}}</td>
                                            <td>{{registration.subscription||'--'}}</td>
                                            <td>{{registration.couponCode||'--'}}</td>
                                            <td>{{registration.accountStatus||'--'}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="newRegistration.length>10">
                                        <tr>
                                            <td class="progressSpinner" colspan="10" style="background:#ffffff !important;border-bottom:0px !important;">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="cmpnycontentBox recentActivity">
                    <div class="cmpnycontentBoxInner">
                        <div class="topHead">
                            <h4>Activity for super admin and sub admin</h4>
                            <!-- <button class="btn btn-primary pull-right" [routerLink]="['/app/super-admin/activity']">View all</button> -->
                        </div>
                        <div class="activitySuperAdmin col-sm-12">
                            <ul class="activityList col-md-12">
                                <h5><span class="dateTime"><i class="material-icons">date_range</i>&nbsp; <strong >Today</strong></span>
                                </h5>
                                <ng-container *ngFor="let activity of activitiesDayWise['Today'];let i=index;">
                                    <li>
                                        <div class="content" [innerHTML]="activity.latestMsg">
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                            <ul class="activityList col-md-12">
                                <h5><span class="dateTime"><i class="material-icons">date_range</i>&nbsp; <strong>Yesterday</strong> </span>
                                </h5>
                                <ng-container *ngFor="let activity of activitiesDayWise['Yesterday'];let i=index;">
                                    <li>
                                        <div class="content" [innerHTML]="activity.latestMsg"></div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">

                <div class="cmpnycontentBox recentActivity">
                    <div class="cmpnycontentBoxInner">
                        <div class="topHead">
                            <h4>Companies haven't login from last 30 days or more</h4><button class="btn btn-primary pull-right" [routerLink]="['/app/super-admin/shoutout']">View all</button>

                        </div>
                        <div class="recentActiDateList">
                            <div class="tableWrapper">
                                <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="notLoginInLastThirtyDays" [mfActivePage]=2 #lastLogin="mfDataTable" [mfRowsOnPage]="10">
                                    <thead>
                                        <th style="width:50px;">
                                            S.no.
                                        </th>
                                        <th>
                                            Company id
                                        </th>
                                        <th>
                                            Company name
                                        </th>
                                        <th>Company type</th>
                                        <th>Days</th>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let login of lastLogin.data;let i=index;">
                                            <td>{{i+1}}</td>
                                            <td>{{login.companyID}}</td>
                                            <td>{{login.companyTitle}}</td>
                                            <td>{{login.companyType}}</td>
                                            <td>{{login.days}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="notLoginInLastThirtyDays?.length>10">
                                        <tr>
                                            <td class="progressSpinner" colspan="10" style="background:#ffffff !important;border-bottom:0px !important;">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-12 col-sm-12 flWidth">
                <div class="cmpnycontentBox recentActivity">
                    <div class="cmpnycontentBoxInner">
                        <div class="topHead">
                            <h4>Support package purchased</h4><button class="btn btn-primary pull-right" [routerLink]="['/app/super-admin/supportPackage']">View all</button>
                        </div>
                        <div class="recentActiDateList">
                            <div class="tableWrapper">
                                <table class="mdl-data-table">
                                    <thead>
                                        <th style="width:50px;">
                                            Transaction
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Time
                                        </th>
                                        <th>
                                            Company name
                                        </th>
                                        <th>
                                            Company type
                                        </th>
                                        <th>
                                            Email id
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                        <th>
                                            Payment for
                                        </th>
                                        <th>
                                            Payment by
                                        </th>
                                        <th>
                                            Payment status
                                        </th>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>xjs52sl</td>
                                            <td>22 march 2017</td>
                                            <td>22:46</td>
                                            <td>abc@mail.com</td>
                                            <td>Tata</td>
                                            <td>Main</td>
                                            <td>tata@gmial.com</td>
                                            <td>$5000</td>
                                            <td>Direct debit</td>
                                            <td>Successful</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>