<form #editRefrenceForm="ngForm">
    <h5>Disclosure statement</h5>
    <md-input-container class="full-width">
        <textarea style="height:80px" mdInput [(ngModel)]="refrenceDisclaimer" #refrence="ngModel" name="refrencename" required>
      </textarea>
    </md-input-container>
    <div style="margin-top:10px;" *ngIf="refrence.errors && editRefrenceForm.submitted&&(refrence.dirty || refrence.touched)">
        <div class="alert alert-danger" [hidden]="!refrence.errors.required">
            Field is required !
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing" class="text-center">
        <md-checkbox name="accept" [(ngModel)]="accept" value="true" (change)="acceptDisclaimer()">Yes</md-checkbox>
        <md-checkbox name="reject" [(ngModel)]="reject" value="false" (change)="rejectDisclaimer()">No</md-checkbox>
    </div>
    <button *ngIf="!isProcessing" md-raised-button color="primary" [disabled]="!editRefrenceForm.form.valid" (click)="onSave(editRefrenceForm.form.valid)">Save</button>
    <button *ngIf="!isProcessing" md-raised-button color="default" (click)="onCancel();fasle">Cancel</button>

</form>