<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">Position description details</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-12 pdDetailPage">
                <div class="box contentBox">
                    <h5>Position description title</h5>
                    <div class="detailbox">{{positionDescription.title}}</div>

                    <div class="pull-right" *ngIf="permission.edit">
                        <button md-raised-button color="{{color}}" (click)="statusChange(status)">{{status}}</button>
                    </div>
                    <h5>Position description summary</h5>
                    <pre class="detailbox listStyleDisc" [innerHTML]="positionDescription.summary"></pre>
                    <h5>Performance indicator</h5>
                    <div class="box box-default table-responsive performanceIndTbl">
                        <table class="mdl-data-table">
                            <thead>
                                <tr>
                                    <th>Performance indicator</th>
                                    <th>Duration</th>
                                    <th>Measurement of performance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of positionDescription.performanceIndicator;let i=index">
                                    <td>{{p.title}}</td>
                                    <td>{{p.duration}}</td>
                                    <td>
                                        <div [innerHTML]='p.measure'></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pIndicatorRow">
                        <h5>Enter other roles and responsibilities</h5>
                        <div class="detailbox listStyleDisc">
                            <pre [innerHTML]="positionDescription.roleAndResponsibility | safe: 'html'"></pre>
                        </div>
                        <h5>Past experience</h5>

                        <div class="detailbox listStyleDisc">
                            <pre [innerHTML]="positionDescription.pastExperience | safe: 'html'"></pre>
                        </div>
                        <h5>Education</h5>
                        <div class="detailbox listStyleDisc">
                            <pre [innerHTML]="positionDescription.education | safe: 'html'"></pre>
                        </div>
                    </div>
                </div>
                <div class="box contentBox">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <ul class="row">
                                <li class="col-md-3" *ngFor="let i of industries;let in=index">
                                    <md-checkbox name="industry-{{in}}" (change)="onChange($event)" #industrySelected="ngModel" [(ngModel)]="i.isChecked">{{i.industryTitle}} </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>