.pdDetailPage{
  h5{
    margin-bottom:8px;       
  }
  .detailbox{
      margin-bottom:25px;
      &:last-child{
          margin-bottom:0px;
      }
  }
}
.pIndicatorRow{
  label{
    font-weight:bold;
  }
}
.performanceIndTbl{
  tr{
    td{
      &:first-child{
        width:25%;
      }
      &:nth-child(2){
        width:10%;
      }
      &:last-child{
        width:65%;
        pre{
          white-space: pre-wrap;       /* Since CSS 2.1 */
          white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
          white-space: -pre-wrap;      /* Opera 4-6 */
          white-space: -o-pre-wrap;    /* Opera 7 */
          word-wrap: break-word; 
        }
      }
    }
  }
}