<div class="chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/position-description']">Position description</a></li>
                    <li class="breadcrumb-item active" *ngIf="activatedRoute.snapshot.params['id']">Update PD template</li>
                    <li class="breadcrumb-item active" *ngIf="!activatedRoute.snapshot.params['id']">Create new PD template</li>
                </ol>
            </div>
            <div class="col-md-12">
                <md-progress-spinner *ngIf="industryTypesLoader" mode="indeterminate" color=""></md-progress-spinner>
                <div class="row" *ngIf="!industryTypesLoader">
                    <div class="col-md-12">
                        <div class="collapseInfoBox">
                            <h4 (click)="originalPIPToggle=!originalPIPToggle" [ngClass]="{active:originalPIPToggle}">Please click the “select industry" button that will enable you to autofill the below position description form. <span class="float-right"><i class="fa fa-angle-down"></i></span></h4>
                            <div class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle}">
                                <div class="cmpnycontentBox">
                                    <div class="PDformInstruction">
                                        <ol>
                                            <li>Please click on the “select industry" button</li>
                                            <li>Click on your choice of industry or category</li>
                                            <li>Select the position description you want from the drop down list</li>
                                            <li>Choose the position you are after</li>
                                            <li>Click create position</li>
                                            <li>The position description template will be auto filled with an awesome position description</li>
                                            <li>You can then scroll down to edit the details, change the performance indicators and date between performance assessments. Once you have edited and or are happy with the position description, click save.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form *ngIf="!industryTypesLoader" #addEditForm="ngForm">
                    <div class="cmpnycontentBox">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label class="form-inline">Select industry</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <md-progress-spinner *ngIf="industryTypesLoader" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="!industryTypesLoader" class="customDdl form-control col-sm-3" (click)="industryToggle=!industryToggle">
                                        <a href="javascript:void(0)"><span *ngIf="!selectedIndustry">Select industry</span><span *ngIf="selectedIndustry">{{selectedIndustry}}</span>
                                        <span [ngClass]="industryToggle?'fa fa-angle-down pull-right':'fa fa-angle-up pull-right'">
                                        </span>
                                        </a>
                                    </div>
                                    <div class="row togglebox" [hidden]="industryToggle">
                                        <div id="dropDownItem" class="col-lg-3 col-md-3" *ngFor="let i of industryTypesList;let in=index" (click)="onIndusrtySelect(i)">{{i?.industryName}}</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 form-group" *ngIf="pdTypesLoader || pdTypesList.length">
                                <label class="form-inline">Select PD</label>
                            </div>
                            <div class="col-md-9">
                                <div *ngIf="pdTypesLoader || pdTypesList.length" class="form-group">
                                    <md-progress-spinner *ngIf="pdTypesLoader" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="!pdTypesLoader && pdTypesList.length" class="customDdl form-control col-sm-3" (click)="pdToggle=!pdToggle">
                                        <a href="javascript:void(0)"><span *ngIf="!selectedPd">Select position description</span><span *ngIf="selectedPd">{{selectedPd}}</span>
                                        <span [ngClass]="pdToggle?'fa fa-angle-down pull-right':'fa fa-angle-up pull-right'">
                                        </span>
                                        </a>
                                    </div>
                                    <div class="row togglebox" [hidden]="pdToggle">
                                        <div id="dropDownItem" class="col-lg-3 col-md-3" *ngFor="let i of pdTypesList;let in=index" (click)="onPdTypeSelect(i)">{{i?.positionTitle}}</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <md-progress-spinner *ngIf="industryTypesLoader" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!industryTypesLoader" class="row">
                            <md-progress-spinner *ngIf="!formToggle" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="formToggle" class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-3 form-group"><label class="form-inline">Enter position title</label></div>
                                    <div class="col-md-9 form-group">
                                        <input name="title" class="form-control full-width" #title="ngModel" myNoSpaces placeholder="Enter position title" [(ngModel)]="positionDescription.positionTitle" required>
                                        <div *ngIf="title.errors && (title.dirty || title.touched)">
                                            <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                                                Position title is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group"><label class="form-inline">Enter summary</label></div>
                                    <div class="form-group col-md-9">
                                            <quill-editor name="summary" #summary="ngModel" class="full-width" 
                                            placeholder="Enter summary" [(ngModel)]="positionDescription.positionSummary" required></quill-editor>
                                        
                                        <!--<textarea style="max-width:100%;" name="summary" class="form-control full-width" #summary="ngModel" 
                                        myNoSpaces placeholder="Enter summary" [(ngModel)]="positionDescription.positionSummary" required></textarea>-->

                                        <div *ngIf="summary.errors && (summary.dirty || summary.touched)" class="form-group">
                                            <div class="alert alert-danger" [hidden]="!(summary.errors.required || summary.errors.whitespace)">
                                                Position summary is required .
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label class="form-inline">Add performance indicator</label>
                                    </div>
                                    <div class="col-md-9 PDover">
                                        <div class="performanceIndicator">
                                            <div class="row pIndicatorRow">
                                                <div class="col-4">
                                                    <h6 class="heading">Performance indicator</h6>
                                                </div>
                                                <div class="col-4">
                                                    <h6 class="heading">Duration</h6>
                                                </div>
                                                <div class="col-4">
                                                    <h6 class="heading">Measurement of performance </h6>
                                                </div>
                                                <a color="primary" class="addMoreLink deleteAction color-info" style="color:#64c3fb;right: 16px;
    top: 0px;" (click)="addPerformanceField()">Add more &nbsp;<i class="fa fa-plus"></i></a>
                                            </div>
                                            <div *ngFor="let p of positionDescription.performanceIndicator; let x=index;trackBy:trackByIndex" class="pIndicatorRow">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <textarea #titleName="ngModel" class="form-control full-width" myNoSpaces required [name]="'performance_indicator-'+x" [(ngModel)]="p.title"></textarea>
                                                            <div *ngIf="titleName.errors && (titleName.dirty || titleName.touched)">
                                                                <div class="alert alert-danger" [hidden]="!(titleName.errors.required || titleName.errors.whitespace)">
                                                                    Performance indicator is required.
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-4 form-group">
                                                        <select placeholder="Duration" class="form-control" required #duration="ngModel" required [name]="'dur-'+x" [(ngModel)]="p.duration">
                                                        <option disabled value="">Select duration</option>
                                                        <option value="1 month">1 Month</option>
                                                        <option value="3 months">3 Months</option>
                                                        <option value="6 months">6 Months</option>
                                                        <option value="12 months">12 Months</option>                      
                                                        </select>
                                                        <div *ngIf="duration.errors && (duration.dirty || duration.touched)">
                                                            <div class="alert alert-danger" [hidden]="!(duration.errors.required)">
                                                                Duration is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group">
                                                            <textarea [name]="'measur-'+x" class="form-control full-width" #measure="ngModel" required myNoSpaces [(ngModel)]="p.measure"></textarea>
                                                            <div *ngIf="measure.errors && (measure.dirty || measure.touched)">
                                                                <div class="alert alert-danger" [hidden]="!(measure.errors.required || measure.errors.whitespace)">
                                                                    Measurement is required.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="deleteAction"><button color="warn" md-tooltip="Delete" class="deletebtn color-danger" [disabled]="positionDescription.performanceIndicator.length<2" (click)="deletePerformanceField(x);false"><i class="fa fa-trash-o"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label class="form-inline">Enter other roles and responsibilities</label>
                                    </div>
                                    <div class="col-md-9 form-group">
                                        <div class="full-width">
                                            <quill-editor name="otherRoles" #otherRoles="ngModel" class="full-width" placeholder="Enter other roles and responsibilities" [(ngModel)]="positionDescription.rolesAndResponsibilities" required></quill-editor>
                                            <!-- <textarea name="otherRoles" #otherRoles="ngModel" class="form-control full-width" 
                                            placeholder="Enter other roles and responsibilities" [(ngModel)]="positionDescription.rolesAndResponsibilities" required></textarea> -->
                                        </div>
                                        <div *ngIf="otherRoles.errors && (otherRoles.dirty || otherRoles.touched)">
                                            <div class="alert alert-danger" [hidden]="!(otherRoles.errors.required || otherRoles.errors.whitespace)">
                                                Other roles and responsibilities is required.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group"><label class="form-inline">Past experience</label></div>
                                    <div class="col-md-9 form-group">
                                        <quill-editor name="pastExperience" #pastExperience="ngModel" class="full-width" placeholder="Past experience" [(ngModel)]="positionDescription.pastExperience" required></quill-editor>
                                        <!-- <textarea name="pastExperience" #pastExperience="ngModel" class="form-control full-width" 
                                        placeholder="Past experience" [(ngModel)]="positionDescription.pastExperience" required></textarea> -->
                                        <div *ngIf="pastExperience.errors && (pastExperience.dirty || pastExperience.touched)">
                                            <div class="alert alert-danger" [hidden]="!(pastExperience.errors.required || pastExperience.errors.whitespace)">
                                                Past experience is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group"><label class="form-inline">Education</label></div>
                                    <div class="col-md-9 form-group">
                                        <quill-editor name="education" #education="ngModel" placeholder="Education" [(ngModel)]="positionDescription.education" required></quill-editor>
                                        <!-- <textarea name="education" #education="ngModel" class="form-control" placeholder="Education" 
                                        [(ngModel)]="positionDescription.education" required></textarea> -->
                                        <div *ngIf="education.errors && (education.dirty || education.touched)">
                                            <div class="alert alert-danger" [hidden]="!(education.errors.required || education.errors.whitespace)">
                                                Education is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group"><label class="form-inline">Levels</label></div>
                                    <div class="col-md-9 form-group">
                                        <p>Below is not mandatory. This feature is for companies wanting to add levels and wage rates from their award. This will then enable an admin to invite employees into the system to the via the org chart to the required
                                            levels and wage rates.</p>
                                        <div class="responsive-table tableWrapper levelsData">
                                            <table class="full-width">
                                                <thead>
                                                    <tr>
                                                        <th>Contract type &nbsp;<span class="icon"><i class="fa fa-arrow-right"></i></span></th>
                                                        <th *ngFor="let c of contractTypes">{{c?.title}}</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><strong>Contract name</strong></td>
                                                        <td colspan="3" class="text-center"><strong>Salary</strong></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="positionDescription.companyPositionLevel.length=='0'">
                                                        <td colspan="5">List is empty</td>
                                                    </tr>
                                                    <tr *ngFor="let level of positionDescription.companyPositionLevel; let in =index;">
                                                        <td>{{level?.levelTitle}}</td>
                                                        <td *ngFor="let c of level.contractType;">{{c?.salary}}</td>
                                                        <td>
                                                            <span class="cursor color-info" (click)="onEditLevel(level)" md-tooltip="Edit"><i class="fa fa-pencil"></i></span> &nbsp;
                                                            <span class="cursor color-danger" (click)="positionDescription.companyPositionLevel.splice(in,1)" md-tooltip="Delete"><i class="fa fa-trash-o"></i></span>
                                                        </td>
                                                    </tr>
                                                    <tr class="dividerRow">
                                                        <td colspan="5"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input [(ngModel)]="tempcompanyPositionLevel.levelTitle" #ltitle="ngModel" name="Ltitle" type="text" placeholder="Enter title" class="form-control" />
                                                        </td>
                                                        <td *ngFor="let l of tempcompanyPositionLevel.contractType">
                                                            <input [(ngModel)]="l.salary" #sal="ngModel" name="dd{{l.contractTypeID}}" type="text" placeholder="Enter salary" class="form-control" />

                                                        </td>

                                                        <td>
                                                            <button *ngIf="isAddForm" (click)="onAddLevel('add')" class="btn btn-sm btn-success">Add<i class="fa fa-plus"></i></button>
                                                            <button *ngIf="!isAddForm" (click)="onAddLevel('edit')" class="btn btn-sm btn-success">Save</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--<div class="addNewLevel text-right">
                                            <button class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; Add new</button>
                                        </div>-->

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group"><label class="form-inline">View by sub companies</label></div>
                                    <div class="col-md-9 form-group choicebox">
                                        <div class="customChoice">
                                            <input id="Yes" type="radio" #subCompanyView="ngModel" [(ngModel)]="positionDescription.subCompanyShow" value="Yes" name="remunarationPeriod">
                                            <label for="Yes">Yes</label>
                                        </div>
                                        <div class="customChoice">
                                            <input id="No" type="radio" #subCompanyView="ngModel" [(ngModel)]="positionDescription.subCompanyShow" value="No" name="remunarationPeriod">
                                            <label for="No">No</label>
                                        </div>
                                    </div>
                                </div>
                                <!--<md-progress-spinner *ngIf="industryTypesLoader" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!industryTypesLoader" class="row">
                      <div class="col-md-3 col-lg-2 form-group"><label class="form-inline">Select industries</label></div>
                      <div class="col-md-9 col-lg-8"> 
                        <div class="col-sm-12">                                              
                          <ul class="cmpnycontentBox row form-group">
                            <li class="col-sm-4" *ngFor="let i of industryTypesList;let in=index">
                              <div class="customchkbox">
                                <input (change)="onSelectIndustryChange()" id="chk{{in}}" type="checkbox" [(ngModel)]="i.isSelected" name="industry{{in}}"
                                  class="required" aria-required="true">
                                <label for="chk{{in}}">{{i?.industryName}}</label>
                              </div>
                            </li>
                            <div class="alert alert-danger" [hidden]="!(isbuttonClicked && selectIndustryInvalid)">
                              Please select atleast one industry.
                            </div>
                          </ul>
                        </div>        
                      </div>
                    </div>                 -->
                                <div class="text-center buttonWrap">
                                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                </div>
                                <div class="text-center buttonWrap" *ngIf="!isProcessing">
                                    <button type="submit" class="btn btn-primary btn-lg" color="primary"  (click)="addEditPositionDescription(addEditForm.form.valid)">Save</button>
                                    <!-- <button type="submit" class="btn btn-primary btn-lg" color="primary" [disabled]="(!addEditForm.form.valid)" (click)="addEditPositionDescription(addEditForm.form.valid,p.duration)">Save</button> -->
                                    <button color="default" class="btn btn-default btn-lg" (click)="onCancel()">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>


<!--
 <div class="box contentBox">
            <div *ngIf="industryTypesLoader" mode="indeterminate" color="">Loading...</div>
            <div *ngIf="!industryTypesLoader" class="row">
              <ul>
                <li *ngFor="let i of positionDescription.industryTypesList;let in=index">
                  <input type="checkbox" [(ngModel)]="i.isSelected" 
                        name="industry{{in}}"/>{{i.industryName}}
                </li>
              </ul>

            </div>
          </div>
          <div class="text-center">
            <button type="submit" color="primary" [disabled]="(!addEditForm.form.valid)" 
                (click)="addEditPositionDescription(addEditForm.form.valid)">{{buttonText}}</button>
            <button color="default" (click)="onCancel(addEditForm);false">Cancel</button>
          </div>-->