.chapter {
    padding: 0 20px;
}

.customchkbox input+label:before {
    top: 2px;
}

.PDformInstruction {
    h5 {
        margin-top: 10px;
    }
    margin-bottom:20px;
}

.form-inline {
    font-size: 14px;
    margin-top: 7px;
    vertical-align: middle;
    font-weight: 600;
    padding-right: 18px;
    opacity: 0.9;
    font-family: inherit;
}

.form-control {
    height: 40px !important;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
}

textarea.form-control {
    min-height: 120px;
    height: auto;
    max-width: 600px;
    max-height: 120px;
    margin-bottom: 12px;
    resize: none;
}

.deletebtn {
    background: #fff;
    border: 0;
    margin-top: 5px;
    font-size: 20px;
}

.deletebtn:hover {
    background: #efefef;
    color: red;
    border-radius: 50%;
}

.addMoreLink {
    cursor: pointer;
}

.customDdl a {
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    padding-right: 20px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        //  background:#d4d4d4;
    }
    span {
        margin-top: 5px;
    }
}

.row.togglebox {
    padding: 9px;
    box-shadow: -1px 1px 6px 0px #c3c3c3;
    margin: 0;
    margin-top: 13px;
    border-radius: 3px;
}

#dropDownItem {
    margin: 10px 0px;
    cursor: pointer;
    padding: 5px 0px;
    border-bottom: 1px solid transparent;
    text-align: center;
}

#dropDownItem:hover {
    border-bottom: 1px solid cornflowerblue;
}

.form-inline {
    text-align: right;
    padding-right: 0;
}

@media screen and (max-width:767px) {
    .form-inline {
        text-align: left;
        padding-right: 0;
    }
}

.pIndicatorRow {
    padding-right: 13%;
    position: relative;
    .deleteAction {
        position: absolute;
        right: 0px;
        top: 3px;
        button {
            padding: 0px 0px !important;
        }
    }
    h6.heading {
        margin-top: 0;
    }
}

.PDover {
    overflow: auto;
    .performanceIndicator {
        min-width: 790px;
        width: 100%;
    }
}

input.form-control.full-width.ng-pristine.ng-invalid.ng-touched:-moz-placeholder {
    color: #d53a38;
}

input.form-control.full-width.ng-pristine.ng-invalid.ng-touched::-webkit-input-placeholder {
    color: #d53a38
}

input.form-control.full-width.ng-pristine.ng-invalid.ng-touched:-ms-input-placeholder {
    color: #d53a38
}

.tableWrapper table th {
    opacity: 0.9;
}

.levelsData {
    table {
        tr {
            th {
                border-bottom: 3px solid #cccccc;
                border: 1px solid #cccccc;
                text-align: center;
                font-weight: bold;
                &:first-child {
                    color: #000000;
                }
            }
            td {
                border: 1px solid #cccccc;
                text-align: center;
            }
            &.dividerRow {
                td {
                    padding: 0px 0px;
                    height: 25px;
                    border: 0px !important;
                }
            }
        }
    }
}

.addNewLevel {
    margin-top: 15px;
}

.choicebox {
    .customChoice {
        display: inline-block;
        margin-right: 15px;
        margin-top: 7px;
    }
}