.exitSurveyWrap {
    .title-main{margin-top:0;}
    .mdl-data-table {
        &.exitSurvey {
            tr {
                td {
                    &:last-child {
                        width: auto !important;
                    }
                    &:first-child {
                        width: 60px !important;
                    }
                }
                // &:last-child{
                //     td{
                //         text-align:right !important;
                //         padding:15px;
                //     }
                //     &:hover{
                //         background:none !important;
                //     }
                // }
                th {
                    text-align: center !important;
                }
            }
        }
    }
    h5 {
        display: inline-block;
        margin-bottom: 20px;
    }
    span.addNew {
        margin-left: 20px;
        display: inline-block;
        margin-bottom: 20px;
        i {
            font-size: 18px;
            margin-right: 4px;
        }
    }
}

.saveWrap {
    button {
        &:last-child {
            margin-left: 5px;
        }
        @media(max-width:479px) {
            margin-top: 10px;
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.positionListTable {
    .box {
        overflow-x: visible;
    }
    .table-responsive {
        overflow-x: visible;
    }
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

inline-editor {
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}
textarea{
    min-height:90px;
}