<div class="container-fluid chapter exitSurveyWrap">
    <article class="article">

        <div class="positionListTable">
            <div class="row">               
                    <div class="col-md-12">
                        <h2 class="article-title">List of exit survey questions</h2>                       
                    </div>
               
                <div class="col-md-12">
                    <div class="box contentBox">
                         <h5 class="title-main">Total items: {{questions?.length}}</h5>
                        <div class="table-responsive">
                            <table class="mdl-data-table full-width exitSurvey" [mfData]="questions" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th colspan="2" align="center" class="text-center">List of questions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isProcessing">
                                    <tr *ngFor="let q of mf.data;let i=index">
                                        <td *ngIf="permission.delete">
                                            <md-checkbox (change)="selectQuestionsForDelete(q?.exitSurveyID,$event,i)"></md-checkbox>
                                        </td>
                                        <td colspan="2">
                                            <inline-editor [disabled]="!permission.edit" style="display:inline-block;" min="0" (onSave)="editSurveyQuestion(q,$event)" type="textarea" [(ngModel)]="q.title"></inline-editor>
                                        </td>
                                    </tr>

                                    <tr *ngIf="questions.length==0">
                                        <td class="alert alert-danger" id="textCenter" align="center" colspan="2">No record found</td>
                                    </tr>
                                </tbody>

                                <tbody>
                                    <tr>
                                        <td class="progressSpinner" colspan="3" style="background:#ffffff !important;border-bottom:0px !important;">
                                            <div class="full-width text-center" style="margin-top:10px;">
                                                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            </div>
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div *ngIf="!isProcessing" class="text-right" style="margin-top:20px;">
                            <md-progress-spinner style="height: 40px !important;width: 40px !important;display:inline-block;top:16px;position: relative;left: -59px;"
                                *ngIf="deleteProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <span *ngIf="!deleteProcessing">
                            <button *ngIf="permission.delete" style="margin-right:5px;" md-raised-button color="danger" [disabled]="disableDeleteButton" (click)="deleteQuestion()" class="theme-button btn-w-md">
                            Delete selected questions</button></span>
                            <button *ngIf="permission.add" md-raised-button color="accent" (click)="addNewQuestion()" class="theme-button btn-w-md">
                      <i class="fa fa-plus"></i>  Add new question</button>
                        </div>
                    </div>
                    <div class="box contentBox" *ngIf="hideAddPanel">
                        <form #addCategory="ngForm">
                            <md-input-container class="full-width">
                                <textarea mdInput id="question{{i}}" name="question{{i}}" placeholder="Question" [(ngModel)]="exitSurveyQuestion" #question="ngModel"
                                    type="text" required></textarea>
                            </md-input-container>
                            <span *ngIf="question.errors && (question.dirty || question.touched)">
                <span class="alert alert-danger" [hidden]="!(question.errors.required )">
                  Question is required !
                </span>
                            </span>
                        </form>
                        <md-progress-spinner *ngIf="isButtonClicked" mode="indeterminate" color="" style="position:relative;left:40%;"></md-progress-spinner>
                        <div *ngIf="!isButtonClicked" class="saveWrap text-right">
                            <button md-raised-button color="primary" (click)="saveQuestion()" [disabled]="!addCategory.valid" class="theme-button">Save</button>
                            <button md-raised-button color="default" (click)="onCancel()" class="theme-button">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>