<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/leaves']">Leaves</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader fullCalendar">
                    <div class="row">
                        <div *ngIf="!isProcessing" class="col-md-12 activityDDpos">
                            <md-progress-spinner *ngIf="isProcessingEmp || isCalanderProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!isProcessingEmp" class="FilterDroapdown chooseQuestion DDaction">
                                <angular2-multiselect required [data]="dropdownListEmployees" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                                </angular2-multiselect>
                            </div>
                            <div *ngIf="!isCalanderProcessing">
                                <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-9 col-lg-7 col-md-8  col-sm-8">
                            <div class="filter">
                                <div class="form-groups">
                                    <button [ngClass]="{active:!toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-up':'fa-angle-down'"></i></button>
                                </div>
                            </div>
                            <button class="btn btn-warning applyPopUp" (click)="onPopUpEmp('leaveCadmin')">Apply leave</button>
                        </div>
                        
                    </div>
                    <div class="row" [hidden]="!toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Employee</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="empSearch" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,emp?.userId)" /><span>{{emp?.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Date of application</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li><label><input type="checkbox" /><span>Date 1</span></label></li>
                                        <li><label><input type="checkbox" /><span>Date 2</span></label></li>
                                        <li><label><input type="checkbox" /><span>Date 3</span></label></li>
                                        <li><label><input type="checkbox" /><span>Date 4</span></label></li>
                                        <li><label><input type="checkbox" /><span>Date 5</span></label></li>
                                    </ul>
                                </div> -->
                                <div class="col-lg-9 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over180" style="border-top:0px;">
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter.status.Approved" /><span>Approved</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter.status.Rejected" /><span>Rejected</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter.status.Pending" /><span>Pending</span></label></li>
                                        <!-- <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter.status.Cancelled" /><span>Cancelled</span></label></li> -->
                                    </ul>
                                    <button (click)="isChecked && getLeaveList()" style="position: inherit; right: 0" class="btn btn-lg outlined pull-right" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="EmptableList">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing">
                        <table #mf="mfDataTable" [mfData]="leaveList" [mfRowsOnPage]="10" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="leaveAppliedBy.name">Applied by &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="leaveType">Leave type &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="startDate">Start date &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="endDate">End date &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th style="width:130px;">
                                        <mfDefaultSorter by="count">Days count &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>Decision by</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let leave of mf.data;let i=index;">
                                    <td>{{leave?.leaveAppliedBy?.name}}</td>
                                    <td>{{leave?.leaveType}}</td>
                                    <td>{{formatDate(leave?.startDate)}}</td>
                                    <td>{{formatDate(leave?.endDate)}}</td>
                                    <td>{{leave?.count}}</td>
                                    <td>
                                        <span *ngIf="leave?.status=='Pending'" class="color-pending">{{leave?.status}}</span>
                                        <span *ngIf="leave?.status=='Approved'" class="color-success">{{leave?.status}}</span>
                                        <span *ngIf="leave?.status=='Cancelled'" class="color-danger">{{leave?.status}}</span>
                                        <span *ngIf="leave?.status=='Terminated'" class="color-danger">{{leave?.status}}</span>                                        
                                        <span *ngIf="leave?.status=='Rejected'" class="color-danger">{{leave?.status}}</span>
                                    </td>
                                    <td>
                                        <div *ngIf="!isString(leave?.desicionBy)" class="userName">
                                            <img class="profile-round" [src]="leave?.desicionBy?.imageUrl" height="40px" width="40px">
                                            <span class="name">{{leave?.desicionBy?.name}}</span>
                                        </div>
                                        <span *ngIf="isString(leave?.desicionBy)">{{leave?.desicionBy}}</span>
                                    </td>
                                    <td style="width:120px;">
                                        <md-progress-spinner *ngIf="leave['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>
                                        <div *ngIf="!leave['isProcessing']" class="dropdown actionDDtbl">
                                            <button  class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button class="color-success btn-none" *ngIf="leave?.status=='Pending'" (click)="onPopUp('approve',leave)" title="Approve"><i class="fa fa-check-square-o"></i> Approve</button>&nbsp;
                                                <button class="color-info btn-none" (click)="onPopUp('detail',leave)" title="View"><i class="fa fa-eye"></i> View</button> &nbsp;
                                                <button class="color-danger btn-none" *ngIf="leave?.status=='Pending'" (click)="onPopUp('reject',leave)" title="Reject"><i class="fa fa-times-circle"></i> Reject</button>
                                                <button class="color-danger btn-none"  (click)="onDelete(leave)" title="Delete"><i class="fa fa-trash"></i> Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </tfoot>
                        </table>
                        <div *ngIf="leaveList.length==0" class="text-center">
                            No record found !
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>