.EmpList {
    .table {
        tr {
            td {
                .userName {
                    width: 155px;
                    word-break: initial;
                    img {
                        display: inline-block;
                        width: 40px;
                    }
                    .name {
                        display: inline-block;
                        margin-left: 10px;
                        width: 95px;
                        word-break: initial;
                        vertical-align: middle;
                    }
                }
                .btn-none {
                    font-size: 18px;
                    background: transparent;
                    border: 0;
                }
                .color-pending {
                    color: #f79e31;
                }
                .dropdown {
                    .dropdown-menu {
                        right: 0;
                        left: inherit;
                        button {
                            width: 120px;
                            background: transparent;
                            border: 0;
                            text-align: left;
                            font-size: 15px;
                            margin-bottom: 5px;
                        }
                    }
                }
                
            }
        }
    }
}