<div class="page-auth page-confirm-email">
    <div class="main-body">
        <div class="logo text-center">
            <a href="javascript:void(0);"><img src="assets/images/logo.png" /></a>
        </div>
        <div class="card bg-color-white">
            <div class="card-content">
                <div class="logo text-center">
                    <h4>Confirm email</h4>
                    <!--<a [routerLink]="['/']">Confirm Email</a>-->
                </div>

                <div>
                    <p class="confirm-mail-icon"><span class="material-icons">mail_outline</span></p>
                    <p class="text-center text-small no-margin">
                        An email has been sent to <strong>{{email}}</strong>. Please check for an email from us and click on the included link to reset your password.
                    </p>
                </div>
                <!--<div class="text-center linkStyle">
                     <a [routerLink]="['/user/reset-password/link']">Click on the link to reset password</a>
                </div>-->

                <div class="additional-info">
                    <span><a [routerLink]="['/user/login']">Return to login</a></span>
                </div>
            </div>
        </div>
    </div>
</div>