<div class="container-fluid chapter saTrophyCotainer">
    <article class="article">
        <h2 class="article-title">{{pageTitle}} trophy</h2>
        <md-progress-spinner *ngIf="isEditProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isEditProcessing" class="box box-default paddingBox">
            <form #addTrophyForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" name="title" placeholder="Add title" #title="ngModel" [(ngModel)]="trophy.title" required>
                                </md-input-container>
                                <div *ngIf="title.errors && (title.dirty || title.touched)">
                                    <div class="alert alert-danger" [hidden]="!(title.errors.required )">
                                        Trophy title is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <textarea mdInput name="reason" placeholder="Reason" #reason="ngModel" [(ngModel)]="trophy.trophyReason" required></textarea>
                                </md-input-container>
                                <div *ngIf="reason.errors && (reason.dirty || reason.touched)">
                                    <div class="alert alert-danger" [hidden]="!(reason.errors.required || reason.errors.whitespace)">
                                        Reason is required !
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="colorList row">
                            <div class="col-md-12">
                                <h5>Choose your trophy (select one)</h5>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="blue" name="color-blue.png" src="assets/images/color-blue.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck1" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="pink" name="color-pink.png" src="assets/images/color-pink.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck2" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="orange" name="color-orange.png" src="assets/images/color-orange.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck3" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="yellow" name="color-yellow.png" src="assets/images/color-yellow.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck4" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="cyan" name="color-cyan.png" src="assets/images/color-cyan.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck5" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="skyblue" name="color-skyblue.png" src="assets/images/color-skyblue.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck6" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="red" name="color-red.png" src="assets/images/color-red.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck7" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="green" name="color-green.png" src="assets/images/color-green.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck8" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="grey" name="color-grey.png" src="assets/images/color-grey.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck9" class="material-icons">check</i></span></div>
                            <div class="col-md-3 col-lg-2 col-xl-1 col-sm-4 col-6 trophyItems"><span class="awardBlue"><i class="fa fa-trophy"></i><img id="purple" name="color-purple.png" src="assets/images/color-purple.png" (click)="onTrophySelect($event)"/> <i *ngIf="!hideCheck10" class="material-icons">check</i></span></div>
                            <div class="alert alert-danger" [hidden]="trophy.trophyIcon=='0'||trophy.trophyIcon">
                                Trophy image is required !
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <label class="boldTitle">Awards for</label>
                                <div class="customDDMultiSelect">
                                    <angular2-multiselect [data]="dropDownListType" [(ngModel)]="selectedRolesForAwards" #trophyFor="ngModel" name="trophyFor" required [selectedItems]="selectedRolesForAwards" [settings]="dropDownSettingMultiSelect" (onSelect)="onSelectTrophyFor($event)"
                                        (onDeSelect)="onDeSelectTrophyFor($event)" (onSelectAll)="onSelectAlltrophies($event)">
                                    </angular2-multiselect>
                                    <div id="error_div" class="alert alert-danger" *ngIf="(trophyFor.errors && (trophyFor.dirty || trophyFor.touched))">
                                        Please select role for this trophy
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing" class="btn-wrapper addUserBtn">
                            <button md-raised-button color="accent" [disabled]="(!addTrophyForm.valid || (trophy.trophyIcon==0))" (click)="saveEditTrophy()" class="addButton">{{buttonText}}</button>
                            <button md-raised-button color="default" (click)="onCancel();false" class="addButton">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </article>
</div>