.colorList {
    img {
        cursor: pointer;
    }
    .col-md-1 {
        margin: 5px 0px;
    }
    .material-icons {
        font-weight: bold;
        font-size: 25px;
        position: relative;
        top: 7px;
        margin-left: 5px;
        color: #66bb6a;
    }
    h5 {
        font-weight: bold;
        font-size: 16px;
    }
}

.boldTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 10px;
}

.addUserBtn {
    button {
        margin-right: 10px;
    }
}

.colorList {
    i {
        line-height: 14px;
    }
}

.btn-wrapper {
    margin-top: 15px;
}

#error_div {
    margin-bottom: 0px;
    margin-top: 12px;
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.trophyItems {
    margin: 12px 0;
}

span.awardBlue {
    position: relative;
    height: 46px;
    width: 70px;
    display: inline-block;
    text-align: center;
    i.fa.fa-trophy {
        position: absolute;
        color: #ffffff;
        font-size: 24px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    img {
        width: 100%;
        height: 100%;
    }
}