<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/exit-survey']">Exit survey</a></li>
                <li class="breadcrumb-item active">View exit survey</li>
            </ol>
        </div>
    </div>
    <div class="cmpnycontentBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <form *ngIf="!isProcessing" name="exitSurveyForm" #exitSurveyForm="ngForm">
            <h5 class="heading">View exit survey</h5>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-inline" style="width: 120px;">Survey name</label>
                        <input type="text" name="title" #title="ngModel" [(ngModel)]="exitSurvey.title" class="form-control" placeholder="name" required/>
                        <div *ngIf="title.dirty || title.touched || exitSurveyForm.submitted">
                            <div class="alert alert-danger" [hidden]="title.valid">Please enter a title.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="tableWrapper">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <!-- <th style="width:60px"> </th> -->
                                    <th style="width:60px">S.no. </th>
                                    <th class="text-center"> List of question </th>
                                    <!-- <th style="width:126px;" class="text-center">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let qsn of exitSurvey?.question; let i = index;">
                                    <!-- <td>
                    <div class="customchkbox">
                      <input [id]="'surveyChk'+i" type="checkbox" class="required" aria-required="true">
                      <label [for]="'surveyChk'+i"></label>
                    </div>
                  </td> -->
                                    <td>
                                        <div class="desigNation">{{i+1}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div *ngIf="!editable[i]" class="role">{{qsn.questionTitle}}</div>
                                        <textarea class="form-control" rows="4" *ngIf="editable[i]" name="qsnTitle" [(ngModel)]="qsn.questionTitle"></textarea>
                                    </td>
                                    <td *ngIf="qsn['isProcessing']">
                                        <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                                    </td>
                                    <!-- <td *ngIf="!qsn['isProcessing']" class="text-center">



                                        <div class="dropdown actionDroapdown actionDDtbl">
                                            <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button class="dropdown-item color-primary btn-none" *ngIf="!editable[i]" (click)="editable[i]=true;"><i class="fa fa-pencil-square-o"></i>&nbsp; Edit</button>
                                                <button class="dropdown-item color-danger btn-none" *ngIf="!editable[i]" (click)="deleteQuestion(qsn,i)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                                                <button class="dropdown-item color-success btn-none" *ngIf="editable[i]" (click)="editable[i]=false; saveExitSurvey(true,false);"><i class="fa fa-floppy-o"></i>&nbsp; Save</button>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div *ngIf="questionBox.editMode" class="col-sm-12">

                    <div class="form-group add-content text-center">
                        <angular2-multiselect name="adminQsn" style="display: inline-block;min-width: 600px;text-align: center;" [data]="adminQuestions" [(ngModel)]="selectedQuestion" [settings]="dropdownSettings" [selectedItems]="selectedQuestion" (onSelect)="onSelectQuestion($event)"
                            (onDeSelect)="onDeSelectQuestion($event)">
                        </angular2-multiselect>

                        <h5 class="text-center heading col-sm-12"><br>OR</h5>

                        <textarea name="questionTitle" autofocus placeholder="Enter your question here.." [(ngModel)]="questionBox.questionTitle" class="full-width form-control"></textarea>
                        <br>
                        <md-progress-spinner class="pull-right" *ngIf="isProcessingQsn" mode="indeterminate" color=""></md-progress-spinner>
                        <button *ngIf="!isProcessingQsn" (click)="onSaveQuestion()" type="button" class="btn btn-primary pull-right">Save</button>
                        <!-- <button *ngIf="questionBox.editMode" (click)="resetQuestionBox(!questionBox.editMode);" type="button" class="btn btn-primary pull-right">Cancel</button> -->
                    </div>
                </div>
                <!-- <div class="col-sm-12">
                    <a href="javascript:void(0)" (click)="resetQuestionBox(!questionBox.editMode);" class="pull-right color-info">(+) Add new question</a>
                </div> -->
                <!-- <div class="col-sm-12">
                    <md-progress-spinner class="text-center" *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessingForm" class="btnWrapper text-center">
                        <button type="submit" (click)="saveExitSurvey(exitSurveyForm.valid,true)" class="btn btn-primary btn-lg">Save</button>
                        <button type="button" class="btn btn-default btn-lg" [routerLink]="['/app/company-admin/listing-page/exit-survey']">Cancel</button>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
</div>