table {
    .customchkbox {
        width: 40px;
    }
}

.add-content {
    padding: 15px;
    background: #f1f1f1;
    textarea.form-control {
        width: 100%;
        min-width: 100%;
        height: 90px;
    }
}

.admin-panel .customchkbox input:checked+label:after {
    top: -13px;
}

.admin-panel .customchkbox input+label:before {
    top: -12px;
}