<form #managerNoteForm="ngForm">
    <div class="row">
        <div class="col-sm-12 form-group">
            <h4 class="heading">Manager note</h4>
        </div>
        <div class="col-sm-12 form-group">
            <textarea class="form-control full-width" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="noteDetails.note" myNoSpaces rows="4"></textarea>
            <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                    Manager note is required.
                </div>
            </div>
        </div>

    </div>
</form>
<div class="clearfix"></div>
<div class="text-center">
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <button *ngIf="!isProcessing" (click)="onUpdate(managerNoteForm.form.valid)" class="btn btn-primary">Save</button>
</div>