.afterTermination {
    .PIPmainBox {
        margin-top: 40px;
    }
    .assignedManager {
        display: table;
        margin-bottom: 20px;
        span {
            display: table-cell;
            font-size: 20px;
            color: #444;
            padding-right: 20px;
            vertical-align: middle;
        }
        .media {
            img {
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                -ms-border-radius: 50%;
                height: 40px;
                width: 40px;
                margin-right: 5px;
            }
            h5 {
                font-size: 17px;
                margin: 0;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .cmpnycontentBox {
        .collapseInfoBox {
            margin-top: 25px;
            margin-bottom: 0px;
            .qaWrapper {
                p {
                    margin-bottom: 0;
                }
                .cmpnycontentBox {
                    .form-group {
                        margin-bottom: 0px !important;
                        textarea {
                            resize: none;
                        }
                    }
                }
                // .question {
                //     padding: 10px 15px;
                //     border: 1px solid #aaa;
                //     @media(max-width: 991px) {
                //         padding: 10px;
                //     }
                //     label {
                //         margin: 2px 0px;
                //     }
                //     .answerWrapper {
                //         margin-top: 20px;
                //         textarea {
                //             resize: none;
                //         }
                //     }
                // }
                &:last-child {
                    border: none;
                    margin-bottom: 10px;
                }
            }
            .form-group {
                label {
                    margin: 2px 0px;
                }
            }
        }
    }
    table {
        tr {
            th {
                padding: 10px 20px;
            }
            td {
                padding: 10px 20px;
            }
        }
    }
}

.pipEmploye {
    max-width: 320px;
    float: right;
}

.paddingBox {
    padding: 20px 20px 0px 20px;
}