<div class="container-fluid afterTermination">
    <div class="cmpnycontentBox PIPmainBox">
        <div class="pipHeader">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="heading">Employee off boarding checklist</h3>
                </div>
                <div class="col-md-4">
                    <div class="pipEmploye">
                        <div class="title">Assigned manager:</div>
                        <div class="pipEmpuserPic">
                            <div class="profile">
                                <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                            </div>
                            <div class="info">
                                <h5>{{survey?.exit_survey?.assignedBy?.name}}</h5>
                                <div class="designation">{{survey?.exit_survey?.assignedBy?.position || 'Not specified'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        <div class="collapseInfoBox">
            <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Exit survey<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
            <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                <div class="paddingBox">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="row" *ngIf="!isProcessing">
                        <form class="full-width" name="responseForm" #responseForm="ngForm">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training plan title:</label>
                                </div>
                                <div class="rghtinput10">
                                    <p>{{survey?.exit_survey?.title}}</p>
                                </div>
                            </div>

                            <div class="qaWrapper form-group" *ngFor="let qsn of survey?.exit_survey?.question;let i=index;">
                                <div class="cmpnycontentBox full-width">
                                    <div class="row">
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Question {{i+1}}:</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <p>{{qsn?.questionTitle}} </p>
                                            </div>

                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Answer survey questions</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <textarea class="form-control" rows="4" style="max-width: 100%;height: 100px" [name]="'answer'+i" #ans="ngModel" [(ngModel)]="qsn['answer']" required></textarea>
                                                <div *ngIf="responseForm.submitted || ans.dirty || ans.touched">
                                                    <div class="alert alert-danger" [hidden]="ans.valid">Required.</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <md-progress-spinner *ngIf="isSubmitting" mode="indeterminate" color=""></md-progress-spinner>
                            <div class="col-sm-12 text-center form-group" *ngIf="!isSubmitting" style="margin-bottom:0px;margin-top:5px;">
                                <!-- <div class="lftinpt10">
                <label class="form-inline">Training plan title:</label>
              </div>
              <div class="rghtinput10">
                <p>{{survey?.title}}</p>
              </div> -->
                                <button type="submit" class="btn btn-primary btn-lg" (click)="submitAnswer(responseForm.valid)">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapseInfoBox" *ngIf="survey?.equipment.length">
            <h4 (click)="collapse['pfl3']=!collapse['pfl3']" [ngClass]="{active:!collapse['pfl3']}">Equipment<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
            <div [ngClass]="{open:!collapse['pfl3']}" class="collapseContentbox">
                <div class="tableWrapper">
                    <table class="full-width table">
                        <thead>
                            <th>Title </th>
                            <th>Notes</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of survey?.equipment">
                                <td>{{item?.tit}}</td>
                                <td>{{item?.notes}}</td>
                                <td>{{item?.status}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

</div>