<div class="transaction">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">Transaction history</li>
    </ol>
    <ul class="cmpnycontentBox">
        <div class="tableWrapper">
            <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
            <table style="min-width: 987px" [mfData]="transactionList" #mf="mfDataTable" *ngIf="!isProcessing" [mfRowsOnPage]="10">
                <thead>
                    <th>
                        <mfDefaultSorter by="id">Transaction id &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="created_at">Date & time &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="email">Email id &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="amount">Amount &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="memo">Payment for &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                    </th>
                    <th>Payment status</th>
                </thead>
                <tbody>
                    <tr *ngFor="let trans of mf.data">
                        <td> {{ trans.id }}</td>
                        <td>{{ trans.created_at | dateFormat }}</td>
                        <td>{{ trans.email }}</td>
                        <td>{{ floatingNumber(trans.amount) }} +GST + 1.5% surcharge</td>
                        <td>{{ trans.memo }}</td>
                        <!--<td>Direct debit</td>-->
                        <td>{{ trans.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ul>
</div>