.userMain{
    padding:25px;
   .form-main{
      form{
          width:100%;
      }
      .mat-input-container{
          display:block;
      }
      label.title{
          font-weight:bold;
          margin-right:20px;
      }
      .accountType{
          margin:20px 0px;
      }
   }
}
md-progress-spinner {
    width: 88px;
    text-align: center;
    height: 20px;
}