<div class="container-fluid chapter">
    <div>
        <h2 class="article-title">{{title}}</h2>

    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

    <div class="box box-default userMain" *ngIf="!isProcessing">
        <div class="form-main">
            <form #userForm="ngForm" name="material_login_form" class="md-form-auth form-validation" (ngSubmit)="onSubmit(userForm.form.valid)">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <fieldset>
                            <md-input-container>
                                <input [(ngModel)]="user.firstName" required mdInput type="text" #firstname="ngModel" name="firstname" placeholder="First name">
                            </md-input-container>

                            <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                                <div class="alert alert-danger" [hidden]="!firstname.errors.required">
                                    First name is required !
                                </div>
                            </div>


                            <md-input-container>
                                <input pattern=".*@.*\.*[A-Za-z/d]$" [(ngModel)]="user.email" required mdInput #emailId="ngModel" type="email" color="primary" name="emailId" placeholder="Email">
                            </md-input-container>
                            <div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)">
                                <div class="alert alert-danger" [hidden]="!emailId.errors.required">
                                    Email is required !
                                </div>
                                <div class="alert alert-danger" [hidden]="!emailId.errors.pattern">
                                    Not a valid email pattern !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="user.extensionNumber" mdInput type="number" #extensionNumber="ngModel" name="extensionNumber" placeholder=" Extension number">
                            </md-input-container>
                            <div>
                                <label class="title">Avatar</label>
                                <input (change)="handleFileSelect($event)" multiple type="file" accept=".jpg,.jpeg,.gif,.png,.bmp" name="avatar" placeholder="Choose Image">
                            </div>
                            <div class="accountType" *ngIf="id">
                                <md-checkbox color="primary" name="status" [(ngModel)]="status">Activate Account</md-checkbox>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <fieldset>
                            <md-input-container>
                                <input [(ngModel)]="user.lastName" mdInput type="text" #lastname="ngModel" name="lastname" placeholder="Last name">
                            </md-input-container>
                            <md-input-container>
                                <input [(ngModel)]="user.phoneNumber" required mdInput type="number" #phoneNumber="ngModel" name="phoneNumber" placeholder=" Mobile number">
                            </md-input-container>

                            <div *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)">
                                <div class="alert alert-danger" [hidden]="!phoneNumber.errors.required">
                                    Phone number is required !
                                </div>
                            </div>

                            <label class="title">Access roles *</label>
                            <br>
                            <md-radio-group name="userRole" class="md-radio-group-spacing" *ngIf="roles.length" [(ngModel)]="userRole">
                                <md-radio-button *ngFor="let role of roles;let i=index" value="{{role.roleID}}">{{role.title}}</md-radio-button><br>
                            </md-radio-group>

                            <div *ngIf="!roles.length" class="md-radio-group-spacing">
                                No record found
                            </div>

                        </fieldset>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isButtonProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div style="display:inline-block" *ngIf="!isButtonProcessing">
                    <button md-raised-button *ngIf="!isprocessing && !uploadProcessing" [disabled]="!userForm.valid || !userRole" type="submit" color="primary">{{buttonText}}</button>
                    <button md-raised-button *ngIf="!isprocessing && uploadProcessing" disabled type="submit" color="primary">Uploading...</button>
                    <button md-raised-button color="default" (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>