<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Assets listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <!--<div class="row">
                        <div class="col-sm-12"><button class="btn btn-special"><i class="fa fa-angle-double-left"></i> Activities & approvals</button></div>
                    </div>
                    <br>-->
                    <div class="row">
                        <div class="col-md-8 col-xl-9 col-sm-6">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="form-control" (keyup)="searchList(searchInput.value)" #searchInput placeholder="Search Assets" />
                                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-3 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class="btn btn-success full-width" (click)="routerchange()">Add new assets<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tableWrapper">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <table [mfData]="assestList" #mf="mfDataTable" *ngIf="!isProcessing" [mfRowsOnPage]="10" class="full-width table">
                        <thead>
                            <th>
                                <mfDefaultSorter by="name">Assets name &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="description">Description &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="createdBy.name">Created/added by &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="assignedUser.name">Employee &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="createdDate">Date & time &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let assest of mf.data">
                                <td>{{assest.name}}</td>
                                <td>{{assest.description}}</td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="{{assest.createdBy?.imageUrl}}" height="40px" width="40px" /></div>
                                        <div class="d-flex align-self-center  media-right d-flex align-self-center">{{assest.createdBy?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="{{assest.assignedUser?.imageUrl}}" height="40px" width="40px" /></div>
                                        <div class="d-flex align-self-center  media-right d-flex align-self-center">{{assest.assignedUser?.name}}</div>
                                    </div>
                                </td>
                                <td>{{assest.createdDate | dateFormat}}</td>
                                <td>
                                    <div class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button class="dropdown-item btn-none color-info" (click)="routerchange(assest)"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp; Edit</button>
                                            <button class="dropdown-item btn-none color-danger" (click)="deleteAsset(assest.assetID)"><i class="fa fa-trash-o"></i>&nbsp;&nbsp; Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>