<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/ohs-listing']">OH&S</li>
                    <li class="breadcrumb-item active">Result</li>
                </ol>
                <div class="text-right" style="margin:10px 0px;">
                    <button class="btn btn-success" (click)="downloadPDF()"><i class="fa fa-download"></i>&nbsp; Download report</button>
                </div>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div [hidden]="isProcessing || !noResult" class="col-md-12 PIPmainBox grievanceMain text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div [hidden]="isProcessing && noResult" class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="heading">An accident/injury/hazard has been reported </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="pipEmploye float-right">
                                    <div class="title">Reported By:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img [src]="ohs?.reportedBy?.imageUrl" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{ohs?.reportedBy?.name}}</h5>
                                            <div class="designation">{{ohs?.reportedBy?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox marginTop">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                                        <h4 class="heading">Incident is reported</h4>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Title</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.title}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Type of issue</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.issueType}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Date & Time of incident</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{formateDate(ohs?.issueDate)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Document</label>
                                        </div>
                                        <div *ngIf="ohs?.document.length" class="rghtinput10">
                                            <span class="primaryLink" *ngFor="let item of ohs?.document">
                          <a href="{{item}}" download><i class="fa fa-download"></i> {{getName(item)}} &nbsp;</a>
                        </span>
                                        </div>
                                        <div *ngIf="!ohs?.document.length" class="rghtinput10">
                                            Not specified
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Location</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{ohs?.location}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group witnessRow">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Witness</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of ohs?.witness">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">People Involved</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of ohs?.personInvolved">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep injuryDetail">
                    <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                    <h4 class="heading">Injury details</h4>
                    <div class="row">
                        <div class="col-md-7">
                            <div cklass="row">
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Nature of Injury</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{ohs?.injuryDetail?.nature}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">First aid treatment provided</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{ohs?.injuryDetail?.firstAid}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Further action taken</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <ul>
                                            <li *ngFor="let item of ohs?.injuryDetail?.furtherAction">
                                                {{item?.action}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">By whom</label>
                                    </div>
                                    <div *ngIf="ohs?.injuryDetail?.takenToDoctoruserID" class="rghtinput10 pipHeader">
                                        <div class="pipEmploye attendeesList">
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img [src]="ohs?.injuryDetail?.takenToDoctoruserID?.imageUrl" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>{{ohs?.injuryDetail?.takenToDoctoruserID?.name}}</h5>
                                                    <div class="designation">{{ohs?.injuryDetail?.takenToDoctoruserID?.position || 'Not specified'}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!ohs?.injuryDetail?.takenToDoctoruserID" class="rghtinput10"> Not specified</div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Mark details</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <ul>
                                            <li *ngFor="let mark of ohs?.injuryDetail?.marker;let m=index;">
                                                ({{m+1}}.) {{mark?.markerNote}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="injurymarkerbox">
                                <p>Indicate the location of injury</p>
                                <!-- <div class="markerimg">
                  <img src="assets/images/injury.jpg" />
                </div> -->
                                <div id="container" style="background:url('assets/images/injury.jpg') no-repeat center; height:300px; position: relative;width: 485px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep injuryDetail">
                    <h4 class="heading">Injury, incident and hazard assessment</h4>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">
                    Severity of the hazard, resulting a disability, ill health or a fatal accident
                </label>
                            </div>
                            <div class="rghtinput10"> {{ohs?.injuryDetail?.servityHazard}}</div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">
                    Resulting in the employee requiring first aid
                </label>
                            </div>
                            <div class="rghtinput10">{{ohs?.injuryDetail?.requiringFirstAid}}</div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">
                    Resulting in time off work due to injury
                </label>
                            </div>
                            <div class="rghtinput10">{{ohs?.injuryDetail?.workTimeOff}}</div>
                        </div>
                        <!-- <div class="col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Notes </label>
              </div>
              <div class="rghtinput10">Detail specific dates and examples of where the standards have not been met</div>
            </div> -->
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep injuryDetail">
                    <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                    <h4 class="heading">Warning email</h4>
                    <div class="row">
                        <div class="col-sm-12 form-group" *ngFor="let msg of ohs?.emails">
                            <div *ngIf="msg?.emailType=='Warning'">
                                <div class="lftinpt10">
                                    <label class="form-inline">Message</label>
                                </div>
                                <div class="rghtinput10">
                                    {{msg?.email}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="ohs?.correctiveAction?.length" class="cmpnycontentBox nextStep injuryDetail">
                    <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                    <h4 class="heading">Corrective actions</h4>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Title</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.title}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Actions or corrective measures</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.measuresTaken}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Repair & maintenance booked</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.booking}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Supplier for repair & maintenance</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.supply}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep injuryDetail">
                    <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                    <h4 class="heading">Assessment</h4>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Title</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.title}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Actions or corrective measures</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.measuresTaken}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Repair & maintenance booked</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.booking}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Supplier for repair & maintenance</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.supply}}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">&nbsp;</label>
                            </div>
                            <div class="rghtinput10">
                                <button style="width:100px;" class="btn btn-primary">{{ohs?.correctiveAction[0]?.assessmentStatus}}</button>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Notes</label>
                            </div>
                            <div class="rghtinput10">
                                {{ohs?.correctiveAction[0]?.assessmentNote}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep injuryDetail">
                    <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                    <h4 class="heading">Email for resolved</h4>
                    <div class="row">
                        <div class="col-sm-12 form-group" *ngFor="let msg of ohs?.emails">
                            <div *ngIf="msg?.emailType=='Resolved'">
                                <div class="lftinpt10">
                                    <label class="form-inline">Message</label>
                                </div>
                                <div class="rghtinput10">
                                    {{msg?.email}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep injuryDetail">
                    <!-- <div class="relatedDate float-right">22 March 2017 at 12:00</div> -->
                    <h4 class="heading">Result</h4>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Result</label>
                            </div>
                            <div class="rghtinput10">
                                <button style="width:100px;" class="btn btn-primary">{{ohs?.status}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>