<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Survey list</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="cmpnycontentBox">
        <div class="EmpHeader">
          <div class="row">
            <div class="col-md-8 col-xl-10 col-sm-7 col-lg-8">
              <div class="empSrearch topSearchFilter">
                <form name="searchForm" #searchForm="ngForm" (ngSubmit)="getSurveyList()">
                  <div id="custom-search-input">
                    <div class="input-group">
                      <input type="text" name="searchKey" [(ngModel)]="searchText" class="form-control" placeholder="Search by survey title">
                      <span class="input-group-btn">
                          <button class="btn" type="submit">
                              <i class="fa fa-search"></i>
                          </button>
                        </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-4 col-xl-2 col-sm-5 col-lg-4">
              <div class="InviteUser">
                <div class="form-group text-right">
                  <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filter<span class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" style="margin-top: 3px;"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="toggleFilter">
          <div class="col-sm-12">
            <!--custome filter pop up-->
            <div class="filterController row">
              <div class="col-sm-12">
                <h3 class="title">Status</h3>
                <ul class="checkbox over250">
                  <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter.Pending"><span>Pending</span></label></li>
                  <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter.Completed"><span>Completed</span></label></li>
                </ul>
                <button (click)="isChecked && getSurveyList()" style="position: inherit; min-width: 120px;height: 43px;font-size: 15px;"
                  class="btn pull-right btn-lg outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
              </div>
            </div>
          </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="tableWrapper">
          <table class="full-width table" #mf="mfDataTable" [mfData]="surveyList" [mfRowsOnPage]="10">
            <thead>
              <th>
                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="assignedBy.name">Assigned by &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="dueDate">Due date &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
              </th>
              <th class="text-center">Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let survey of mf.data; let i=index;">
                <td>{{survey?.title}}</td>
                <td><img class="img-circle" [src]="survey?.assignedBy?.imageUrl" height="40px" width="40px"> {{survey?.assignedBy?.name}}
                </td>
                <td class="text-center">{{formatDate(survey?.dueDate)}}</td>
                <td class="text-center"><span class="badge" [ngClass]="survey?.status=='Completed'?'badge-success':'badge-warning'">{{survey?.status}}</span></td>
                <td class="text-center">
                  <button *ngIf="survey.status =='Pending'" class="btn btn-primary" [routerLink]="['/app/employee/survey/survey-response',survey.companySurveyID]">Answer/response </button>
                  <button *ngIf="survey.status =='Completed'" class="btn btn-special" [routerLink]="['/app/employee/survey/survey-result',survey.companySurveyID]">View result</button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <br>
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </tfoot>
          </table>
          <div class="text-center">
            <span *ngIf="surveyList.length==0"> No result found. </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>