<div class="api-integration">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">API integration</li>
    </ol>
    <ul class="cmpnycontentBox">
        <div class="tableWrapper">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <table *ngIf="!isProcessing">
                <thead>
                    <th style="width:70px;">S.no</th>
                    <th>API name &nbsp;<i class="fa fa-sort"></i></th>
                    <th style="width:120px;">Action</th>
                </thead>
                <tbody>

                    <tr *ngFor="let c of list; let i=index">
                        <td> {{i+1}}</td>
                        <td>{{c?.name}}</td>
                        <td>
                            <md-progress-spinner *ngIf="c['isActionProcessing']" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!c['isActionProcessing']">
                                <button *ngIf="c.status == 0" (click)="onAction(c)" class="btn btn-primary full-width">Connect </button>
                                <button *ngIf="c.status == 1 " (click)="onAction(c)" class="btn btn-primary full-width">Disconnect </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </ul>
</div>