.survey-wrapper{
    padding:0px 15px 20px;
}
.btn-none{
    background: transparent;
    border: 0;
}
.tableHead{
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4{
        margin: 5px 0;
        font-size: 22px;
    }
}
.survey-name{
    h4{
        display: inline-block;
        margin-right: 10%;
        @media (max-width: 767px){
            font-size: 18px;
        }
        @media (max-width: 479px){
            display: block;
        }
    }
}
.customchkbox {
    input[type="checkbox"]{
        & + span{
            padding-left: 0;
            &:before{
                position: static;
                vertical-align: middle;
            }
        }
    }
}
.cmpnycontentBox{
    width: 100%;
    float: left;
}
.assigned-emp{
    padding: 5px 0;
}
.sendToEmp{
    // background-color: #ebebeb;
    margin-top: 30px;
}
.sendToEmpBox{
    border:1px solid #ccc;
    padding: 30px 20px;
    background: #fff;
    position: relative;
    // float: left;
}
.completionBx{
    width: 50%;
    
    @media (max-width: 1199px){
        width: 68%;
    }
    @media (max-width: 767px){
        width: 100%;
    }
    .form-group{
        label{
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
        }
    }
    .dateBx{
        float: right;
        width: 60%;
        @media (max-width: 767px){
            width: 100%;
        }
    }
}
.toggleSwitch{
    position: absolute;
    right: 50px;
    @media (max-width: 1199px){
        right: 15px;
    }
}
.inviteBox{
    width: 50%;
    margin: 40px 0 30px;
    @media (max-width: 1199px){
        width: 68%;
    }
    @media (max-width: 767px){
        width: 100%;
        margin-top: 20px;
    }
    & > label{
        display: inline-block;
        margin-top: 10px;
    }
    .inviteSelect{
        float: right;
        width: 60%;
        @media (max-width: 767px){
            width: 100%;
        }
    }
}
.myBtn{
    width: 150px;
    margin: 20px auto 0;
    display: block;
}
button.btn-lg, a.btn-lg {
    padding: 0.75rem 1.5rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.2rem !important;
}