<section class="survey-wrapper">
    <div class="divheader">
        <!-- <h3 class="heading">
      360 degree Survey Detail
    </h3> -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/survey']">Survey list</a></li>
            <li class="breadcrumb-item active">360 degree survey detail</li>
        </ol>
    </div>
    <!--Survey Question-->
    <div class="cmpnycontentBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <h4><b>Survey name : </b><small style="font-size:20px;opacity:1;">  {{survey.title}}</small></h4>
            <hr>
            <h5 class=" heading">Survey questions</h5>
            <div class="tableWrapper">
                <table class="full-width table">
                    <thead>
                        <!-- <th></th> -->
                        <th>S. no.</th>
                        <th class="text-center">List of questions</th>
                    </thead>

                    <tbody>
                        <tr *ngFor="let qsn of survey.question; let i=index;">
                            <!-- <td><label class="customchkbox"><input type="checkbox" (change)="onCheckQuestion($event,qsn.questionID)"/><span></span></label></td> -->
                            <td style="width: 80px;">{{i+1}}</td>
                            <td class="text-center">
                                {{qsn.questionTitle}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="noRecord" class="alert alert-danger text-center">
                No record found !
            </div>

            <div class="clearfix"></div>
            <br>
            <br>
            <div class="tableWrapper">
                <table class="full-width table" #mf="mfDataTable" [mfSortOrder]="src" [mfData]="surveyResponce" [mfRowsOnPage]="10">
                    <thead>
                        <!-- <th></th> -->
                        <th style="width: 125px;">S. no.</th>
                        <th style="width: 277px;text-align:left;">
                            <mfDefaultSorter by="employee.name" > Survey assigned to employee &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                        </th>
                        <th class="text-center">View response</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of mf.data; let i=index;">
                            <!-- <td style="width:60px"><label class="customchkbox"><input type="checkbox" /><span></span></label></td> -->
                            <td style="width:100px">{{(mf.activePage -1)*(10)+(i+1)}}</td>
                            <td class="text-left">
                                <div class="assigned-emp" >
                                    <div *ngIf="emp.anonymous!='Yes'" class="roundImgIcon" ><img [src]="emp?.employee?.imageUrl" [alt]="emp?.employee?.name" /></div>
                                    <span *ngIf="survey.anonymous!='Yes' && emp.anonymous!='Yes'">{{emp?.employee?.name}}</span>
                                    <span *ngIf="survey.anonymous=='Yes' || emp.anonymous=='Yes'">Anonymous</span>                                    
                                </div>
                                
                            </td>
                            <td class="text-center" >
                                <a *ngIf="permission?.view && emp?.employeeResponse.length" [routerLink]="['/app/company-admin/survey/employee-response', surveyID, emp?.employee?.userID]" class="btn btn-primary">View response</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <br>
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </tfoot>
                </table>
            </div>
            <!-- <a *ngIf="survey.employeeInvite.length" [routerLink]="['/app/company-admin/survey/all-employee-response', surveyID]" class="btn btn-primary">View all employee response</a> -->
            <div *ngIf="survey.employeeInvite.length==0" class="alert alert-danger text-center">
                No record found !
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--Send to employee-->
    <div *ngIf="permission?.edit && !survey.employeeInvite.length" class="cmpnycontentBox sendToEmp">
        <h4 class="heading">Send to employee</h4>

        <div class="sendToEmpBox">
            <form name="inviteForm" #inviteForm="ngForm" (ngSubmit)="inviteForm.valid && sendSurvey()">
                <div class="completionBx">
                    <div class="form-group">
                        <label><strong>Completion date</strong></label>
                        <div class="dateBx">
                            <!-- <my-date-picker [(ngModel)]="completionDate" [options]="myDpOptions" placeholder="Start Date"></my-date-picker> -->
                            <dp-date-picker class="form-control" name="completion" #completion="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="completionDate" [config]="config" [required]="active" placeholder="Completion date" [disabled]="!active"></dp-date-picker>
                            <div *ngIf="completion.touched || inviteForm.submitted">
                                <div class="alert alert-danger" [hidden]="!active || completion.valid"> Please select the completion date. </div>
                            </div>
                        </div>
                    </div>
                    <div class="toggleSwitch">
                        <label class="switch">
                            <input type="checkbox" (click)="onChangeSwitch($event)">
                            <span class="slider round">
                            <i class="chk">On</i>
                            <i class="unchk">Off</i>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="inviteBox">
                    <div class="form-group">
                        <label><strong>Invite</strong></label>
                        <div class="inviteSelect">
                            <angular2-multiselect name="invite" #invite="ngModel" [data]="employeeList" [(ngModel)]="selectedEmployee" [settings]="dropdownSettings" [selectedItems]="selectedEmployee" required>
                            </angular2-multiselect>
                            <div *ngIf="invite.touched || inviteForm.submitted">
                                <div class="alert alert-danger" [hidden]="selectedEmployee.length"> Please select employee to invite. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <md-progress-spinner *ngIf="isSending" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isSending" class="row">
                    <button class="btn btn-success pull-right btn-lg myBtn">Start survey</button>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</section>