<section class="create-notes">
    <h4 class="heading" [hidden]="true">Create note</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/general-notes']">General notes</a></li>
        <li class="breadcrumb-item active">{{(id == 'undefined')?'Create':'Update'}} notes</li>
    </ol>
    <div class="cmpnycontentBox">
        <md-progress-spinner style="margin-top:20px;" *ngIf="isDetailsProcessing" mode="indeterminate" color=""></md-progress-spinner>        
        <div *ngIf ='!isDetailsProcessing'>
            <form #fileNoteFrom="ngForm">
                <div class="form-group">
                    <label class="form-inline">Title</label>
                    <input name="title" [(ngModel)]="note.title" myNoSpaces #title="ngModel" type="text" class="form-control" placeholder="Enter title here" />
                    <div *ngIf="title.errors && ( (title.dirty || title.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                            Title is required.
                        </div>
                    </div>
                </div>
                <div class="form-group no-alert">
                    <label class="form-inline">Note</label>
                    <textarea style="max-width:100%;min-height:100px;resize:none;" name="description" myNoSpaces [(ngModel)]="note.note" myNoSpaces #description="ngModel" class="form-control" placeholder="Enter description here"></textarea>
                    <div *ngIf="description.errors && ( (description.dirty || description.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(description.errors.required || description.errors.whitespace)">
                            Note is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-inline">Upload file</label>
                    {{note?.generalNoteFile}}
                    <span class="btn btn-lg btn-filter text-center btn-file">
                        <i class="fa fa-upload"></i>&nbsp;Upload <input  (change)="fileChange($event)"  accept=".pdf,.doc,.docx,.png,.jpeg,.txt,.odt,.ott,.xml,.rtf" type="file" />
                        </span>

                    <div *ngIf="docError">
                        file is required.
                    </div>
                </div>



                <md-progress-spinner style="margin-top:20px;" *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isCreateProcessing" class="buttonWrap text-center">
                    <button [disabled]="isProcessing" (click)="onCreateNote(fileNoteFrom.form.valid)" class="btn btn-primary btn-lg">Save </button>
                    <button [routerLink]="['/app/company-admin/general-notes']" class="btn btn-default btn-lg">Cancel</button>

                </div>

            </form>
        </div>
    </div>
</section>