<div class="page-auth">
    <div class="main-body">
        <div class="logo text-center">
            <a href="javascript:void(0);"><img src="assets/images/logo.png" /></a>
        </div>
        <div class="card bg-color-white">
            <div class="card-content">
                <div class="resetHeading text-center">
                    Forgot password
                </div>

                <form #userForm="ngForm" name="material_signup_form" class="md-form-auth form-validation" (ngSubmit)="submit(userForm.form.valid)">
                    <fieldset>
                        <div class="form-group">
                            <md-icon class="material-icons" style="position:relative;top:6px;">person</md-icon>
                            <md-select placeholder="Select user type" name="selectUserType" [(ngModel)]="user.type" #selectType="ngModel" required>
                                <md-option *ngFor="let u of userTypeArr" [value]="u.type" (click)="userSelect(u.id)">{{u.title}}</md-option>
                            </md-select>
                            <div *ngIf="selectType.errors && (selectType.dirty || selectType.touched)">
                                <div class="alert alert-danger" [hidden]="!selectType.errors.required">
                                    Please select user type
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="email">
                            <md-input-container class="full-width md-icon-left no-margin-bottom">
                                <md-icon class="material-icons" style="top:-3px;">email</md-icon>
                                <input required mdInput placeholder="Enter email address" name="email" [(ngModel)]="user.email" #email="ngModel" />
                            </md-input-container>
                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <div class="alert alert-danger" [hidden]="!email.errors.required">
                                    email is required !
                                </div>
                            </div>

                        </div>
                        <!-- <div class="form-group" *ngIf="taxFileNumber">
                            <md-input-container class="full-width md-icon-left no-margin-bottom">
                                <md-icon class="material-icons">email</md-icon>
                                <input required mdInput placeholder="Enter tax file number" name="taxNumber" [(ngModel)]="user.taxFileNumber" #taxFileNumber="ngModel"
                                />
                            </md-input-container>
                            <div *ngIf="taxFileNumber.errors && (taxFileNumber.dirty || taxFileNumber.touched)">
                                <div class="alert alert-danger" [hidden]="!taxFileNumber.errors.required">
                                    Tax file number is required !
                                </div>
                            </div>

                        </div> -->

                        <div class="form-group" *ngIf="securityQuestion">
                            <md-icon class="material-icons">security</md-icon>
                            <md-select placeholder="Select Security Question" name="securityQuestionID" [(ngModel)]="user.securityQuestionID" #securityQuestion="ngModel" required>
                                <md-option *ngFor="let ques of securityQuestions" [value]="ques.securityQuestionID" (click)="saAnswer=true">{{ques.title}}</md-option>
                            </md-select>
                            <div *ngIf="securityQuestion.errors && (securityQuestion.dirty || securityQuestion.touched)">
                                <div class="alert alert-danger" [hidden]="!securityQuestion.errors.required">
                                    Select Security Question
                                </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="securityAnswer">
                            <md-input-container class="full-width md-icon-left no-margin-bottom">
                                <md-icon class="material-icons">lock_open</md-icon>
                                <textarea required mdInput placeholder="Secuirty Answer" name="answer" [(ngModel)]="user.answer" #answer="ngModel"></textarea>
                            </md-input-container>
                            <div *ngIf="answer.errors && (answer.dirty || answer.touched)">
                                <div class="alert alert-danger" [hidden]="!answer.errors.required">
                                    Secuirty Answer is required !
                                </div>
                            </div>

                        </div>

                        <p class="text-center text-small no-margin">
                            Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
                        </p>

                        <div class="divider divider-md"></div>
                        <button *ngIf="submitForm" md-raised-button type="submit" color="primary" [disabled]="!userForm.form.valid" class="float-right">Submit</button>
                        <button *ngIf="!submitForm" md-raised-button type="submit" color="primary" [disabled]="true" class="float-right">Submitting</button>
                    </fieldset>
                </form>

                <div class="additional-info">
                    <span><a [routerLink]="['/user/login']">Return to login</a></span>
                </div>
            </div>
        </div>
    </div>
</div>