.resetHeading {
    margin: 14px 0px 20px -1px;
    font-size: 32px;
}

.form-group {
    margin-top: 20px;
    .mat-icon {
        color: #848484;
    }
}

.mat-select {
    width: 95%;
}

.form-group textarea.ng-invalid.ng-touched {
    border: 0px;
}