<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
      <div class="col-md-12 pageHead">
        <h2 class="article-title">List of subscription plan</h2>
       </div>
   </div>
  <div class="row">
        <div class="col-lg-3 col-md-4">
           <div class="messageSidebar">
           <ul class="userType">
             <li class="active">Subscription plans</li>
             <li [routerLink]="['/app/super-admin/subscription-plans/support-services']" >Support services</li>
          </ul>
           </div>
        </div>
        <div class="col-lg-9 col-md-8">
           <div class="box box-default table-box table-responsive">
            <table class="mdl-data-table subscription-tbl">
            <thead>
                <tr>
                <th>S.no</th>
                <th>Subscription</th>
                <th>Duration</th>
                <th>Min. no. of subscribers</th>
                <th>Price per employee</th>
                <th>Discount on employee</th>
                <th>Support service</th>
                <th>Support plan price</th>
                <th>Discount on support...</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                   <td>1</td>
                   <td>Plan 1</td>
                   <td>12 Month</td>
                   <td>100</td>
                   <td>$49</td>
                   <td>$60</td>
                   <td>(5) Added</td>
                   <td>$77</td>
                   <td>Active</td>
                   <td>$40</td>
                   <td><span><i class="material-icons">border_color</i></span></td>
                </tr>
                <tr>
                   <td>2</td>
                   <td>Plan 2</td>
                   <td>12 Month</td>
                   <td>100</td>
                   <td>$49</td>
                   <td>$60</td>
                   <td>(1) Added</td>
                   <td>$77</td>
                   <td>Active</td>
                   <td>$40</td>
                   <td><span><i class="material-icons">border_color</i></span></td>
                </tr>
            </tbody>
            
            </table>
        </div>
        </div>
  </div>
</article>
</div>
