<div class="container-fluid">
    <div style="margin-top:0px" class="PIPmainBox">
        <div>
            <div class="">
                <div class=" ">
                    <div class="">
                        <div class="PIPFormbox detailPIP">
                            <div class="row">
                                <div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"><strong>Performance indicator</strong> </label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{kpi?.title}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"><strong>Duration</strong> </label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{kpi?.period}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"><strong>Measurement of performance indicator  </strong> </label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{kpi?.measure}}
                                        </div>
                                    </div>
                                    <div *ngIf="kpi.date" class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"><strong>Date of assessment</strong> </label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{kpi?.date| dateFormat}}
                                        </div>
                                    </div>

                                    <div *ngFor="let n of kpi.notes; let j =index;" class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"><strong>Note {{j+1}}</strong></label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{n?.note}} by - <strong>{{n.manager?.name}}</strong> at : <strong> {{n.time| dateFormat}} @ {{n.time| dateFormat:'mediumTime'}}</strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>