<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/app/company-admin']">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active">Performance indicator listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">

                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table class="full-width table performanceTbl" [mfData]="employeeList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <th>
                                <mfDefaultSorter by="employee.name">Employee &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>

                            <!-- <th style="width:100px;">Action</th> -->
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of mf.data; let i = index;" class="rowWrap" style="border-bottom:0px;">
                                <td colspan="2" style="border-top:0px;">
                                    <table class="full-width">
                                        <tbody>
                                            <tr style="border-bottom:0px;">
                                                <td style="border-top:0px;">
                                                    <div class="media userSec">
                                                        <div class="media-left d-flex align-self-center  media-middle">
                                                            <img class="img-circle" [src]="user?.employee?.imageUrl" height="40px" width="40px">
                                                        </div>
                                                        <div [ngClass]="( user.kpis?.valid || user.kpis.Pending.length>0) ? 'color-danger':''" class="d-flex align-self-center  media-right">{{user?.employee?.name}}</div>
                                                    </div>
                                                    <!-- <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="pa?.userID?.imageUrl" height="40px" width="40px" /></div>
                                        <div class="d-flex align-self-center  media-right">{{pa?.userID?.name}}</div>
                                    </div> -->
                                                </td>
                                                <!-- <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                        <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                        <td>1 Month</td>
                        <td>12th March 2017</td>
                        <td>Current</td>
                        <td><button class="btn btn-default">View details</button></td> -->
                                                <td class="vAligntop" style="width:120px;border-top:0px;">
                                                    <div class="dropdown actionDroapdown actionDDtbl">
                                                        <!-- <button class="btn btn-success" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assess all KPI's
                                            <i class="fa fa-angle-down"></i>
                                        </button> -->
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <button class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-indicator/direct-assessment', user?.employee?.userID]">
                                                <i class="fa fa-arrow-right"></i>&nbsp;&nbsp; Direct assessment</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="border-top:0px;padding:0px 0px;">
                                                    <div class="expandSection cursor" (click)="user['isCollapsed']=!user['isCollapsed'];"><i class="fa fa-arrow-down"></i> <span>View KPI's</span></div>
                                                    <div *ngIf="!user['isCollapsed']" class="collapseContentBox">
                                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingOne">
                                                                    <h4 [ngClass]="(user.kpis.Pending.length == 0)?'':'color-danger' " class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{i}}" aria-expanded="false" aria-controls="collapseOne">
                                                        Pending
                                                        </a>
                                                                    </h4>

                                                                </div>
                                                                <div id="collapseOne{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                    <div class="panel-body">
                                                                        <div class="table-responsive">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th style="width:180px;">Performance indicator</th>
                                                                                        <th style="width:95px;">Duration </th>
                                                                                        <th>Measurement of performance indicator</th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr *ngFor="let k of user.kpis.Pending; let in = index;" class="color-danger">
                                                                                        <td>{{in+1}}</td>
                                                                                        <td>{{k?.title}}</td>
                                                                                        <td>{{k?.period}}
                                                                                            <!--<div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>-->
                                                                                        </td>
                                                                                        <td>{{k?.measure}}</td>
                                                                                        <td>
                                                                                            <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                                            <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                                                                <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                                    <i class="fa fa-angle-down"></i>
                                                                                                </button>
                                                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                                                    <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                                                    <button class="dropdown-item btn-none color-info" (click)="sendReminder(user,k)"><i class="fa fa-share"></i>&nbsp;&nbsp; Send a reminder email</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr *ngIf="user.kpis.Pending.length==0">
                                                                                        <td class="color-danger" colspan="5">No record found.</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingOne">
                                                                    <h4 [ngClass]="(user.kpis?.valid && user.kpis.Current.length > 0) ? 'color-danger':''" class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo{{i}}"  aria-expanded="false" aria-controls="collapseTwo">
                                  Current
                                </a>
                                                                    </h4>

                                                                </div>
                                                                <div id="collapseTwo{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                    <div class="panel-body">
                                                                        <div class="table-responsive">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th style="width:180px;">Performance indicator</th>
                                                                                        <th style="width:95px;">Duration </th>
                                                                                        <th>Measurement of performance indicator</th>
                                                                                        <!-- <th>Action</th> -->
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr *ngFor="let k of user.kpis.Current; let in = index;" [ngClass]="(k.lapseDuration) ? 'color-danger':''">
                                                                                        <td>{{in+1}}</td>
                                                                                        <td>{{k?.title}}</td>
                                                                                        <td>{{k?.period}}
                                                                                            <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                                                        </td>
                                                                                        <td>{{k?.measure}}</td>
                                                                                        <!--<td>
                                                                                            <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                                            <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                                                                 <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button> 
                                                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                                                    <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                                                    <button class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-indicator/direct-assessment', user?.employee?.userID]"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Direct assessment</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>-->
                                                                                    </tr>
                                                                                    <tr *ngIf="user.kpis.Current.length==0">
                                                                                        <td class="color-danger" colspan="5">No record found.</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading" role="tab" id="headingOne">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree{{i}}" aria-expanded="false" aria-controls="collapseThree">
                                                            Completed
                                                        </a>
                                                                    </h4>

                                                                </div>
                                                                <div id="collapseThree{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                    <div class="panel-body">
                                                                        <div class="table-responsive">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th style="width:180px;">Performance indicator</th>
                                                                                        <th style="width:95px;">Duration </th>
                                                                                        <th>Measurement of performance indicator</th>
                                                                                        <!-- <th>Action</th> -->
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr *ngFor="let k of user.kpis.Historical; let in = index;">
                                                                                        <td>{{in+1}}</td>
                                                                                        <td>{{k?.title}}</td>
                                                                                        <td>{{k?.period}}
                                                                                            <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                                                        </td>
                                                                                        <td>{{k?.measure}}</td>
                                                                                        <!--<td>
                                                                                            <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                                            <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                                                                 <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button> 
                                                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                                                    <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>-->
                                                                                    </tr>
                                                                                    <tr *ngIf="user.kpis.Historical.length==0">
                                                                                        <td class="color-danger" colspan="5">No record found.</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!employeeList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>