.collapseContentBox {
    float: left;
    width: 100%;
    padding: 15px 15px 15px 5px;
    margin-bottom: 15px;
}

.expandSection {
    margin: 0px 0 0 5px;
    padding: 0px 0px 8px 8px;
    color: #64c3fc;
    text-decoration: underline;
    i {
        text-decoration: underline;
    }
}

.collapseContentBox .panel-heading h4 {
    font-size: 22px;
    margin: 0px 0px 0px;
    padding: 10px 0px;
    border-bottom: 2px solid #cccccc;
}

.collapseContentBox .panel-heading h4 a {
    color: #333333;
    padding-left: 10px;
}

.collapseContentBox .panel-title>a[aria-expanded="false"]:before {
    float: left !important;
    font-family: FontAwesome;
    content: "\f055";
    padding-right: 5px;
    font-size: 28px;
    margin-top: -4px;
}

.collapseContentBox .panel-title>a[aria-expanded="true"]:before {
    float: left !important;
    content: "\f056";
    font-size: 28px;
    margin-top: -4px;
    font-family: FontAwesome;
}

.collapseContentBox .panel-title>a:hover,
.collapseContentBox .panel-title>a:active,
.collapseContentBox .panel-title>a:focus {
    text-decoration: none;
}

.collapseContentBox .collapse.in {
    display: block;
}

.vAligntop {
    vertical-align: top !important;
}

.admin-panel .tableWrapper table.performanceTbl tr:nth-child(even) {
    background: #ffffff !important;
}

.collapseContentBox .panel-body {
    padding: 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
}

.rowWrap>td {
    padding: 10px 0;
}

.rowWrap .userSec {
    float: left;
}

.rowWrap .expandSection {
    margin: 3px 0 0 5px;
    padding: 8px;
    color: #64c3fc;
}

.collapseContentBox .panel-heading h4.color-danger a{
    color: #EF5350;
}
