.table-box {
    &.table-responsive {
        margin-bottom: 0px;
    }
    .mdl-data-table {
        min-width: 600px;
        width: 100%;
        .rows{
            text-align:center !important;
        }
        tr {
            td {
                border: 1px solid #cccccc;
                &:first-child {
                    width: 80px;
                }
                &:last-child {
                    width: 60px;
                    text-align: center !important;
                }
            }
        }
    }
}

.addUserBtn md-checkbox {
    margin-right: 20px;
}

.editForm {
    md-input-container {
        overflow: hidden;
        .mainTitle {
            font-size: 18px;
        }
    }
}

.box {
    button {
        &[color="accent"] {
            float: right;
            margin-top: 15px;
        }
        &:last-child {
            margin-left: 7px;
        }
    }
    .box-body {
        border: 1px solid #e8e8e8;
    }
}
@media screen and (max-width: 767px){
    .table-responsive {    
        border:0;
    }
}