<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Interview guide</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--*********************************  Attitude  *****************************************************8-->
                <div class="box box-default" *ngIf="!attititudeQuestionEditBox">
                    <div class="box-header box-dark">Attitude <span *ngIf="permission.edit" (click)="attititudeQuestionEditBox=true" class="float-right"><i md-tooltip="Edit" class="material-icons">edit</i></span></div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <table class="mdl-data-table" *ngIf="!attitudeLoader">
                                <thead>
                                    <th>Number</th>
                                    <th>Questions</th>
                                    <th *ngIf="permission.delete">Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of attititudeQuetionArray;let i=index;">
                                        <td class="rows">{{i+1}}</td>
                                        <td class="white-space-pre">{{c.title}}</td>
                                        <td *ngIf="permission.delete">
                                            <md-icon class="material-icons mat-warn cursor" (click)="onDelete(c.attitudeID,'attitude')" md-tooltip="Delete">delete</md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!attitudeLoader && permission.add">
                                <button md-raised-button color="accent" (click)="addQuestion('attitude')"><i class="fa fa-plus"></i> Add more question</button>
                            </div>
                            <md-progress-spinner *ngIf="attitudeLoader" mode="indeterminate" color=""></md-progress-spinner>
                        </div>
                    </div>
                </div>
                <div class="box box-default" *ngIf="attititudeQuestionEditBox">
                    <div class="box-header box-dark">Attitude</div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <md-progress-spinner *ngIf="attitudeLoader" mode="indeterminate" color=""></md-progress-spinner>
                            <form *ngIf="!attitudeLoader" class="full-width" #attitudeForm="ngForm">
                                <md-select name="selectNumber" placeholder="Select number" [(ngModel)]="selectedNumberAttitude" (change)="getQuestion('attitude')">
                                    <md-option *ngFor="let c of attititudeQuetionArray;let i=index" value="{{c.attitudeID}}">{{i+1}}</md-option>
                                </md-select>
                                <div *ngIf="showQuestionAttitude">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #field="ngModel" required name="title_{{i}}" [(ngModel)]="questionAttitude">
                                    </md-input-container>
                                    <div *ngIf="field.errors && (field.dirty || field.touched)">
                                        <div class="alert alert-danger" [hidden]="!field.errors.required">
                                            Question is required !
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:20px">
                                    <button md-raised-button color="primary" *ngIf="showQuestionAttitude" [disabled]="!attitudeForm.form.valid" (click)="onSave(attitudeForm.form.valid,'attititudeQuestionEditBox',questionAttitude,selectedNumberAttitude,'attitude')">Save</button>
                                    <button md-raised-button color="default" *ngIf="attititudeQuestionEditBox" (click)="onCancel(selectedNumberAttitude,'attitude')">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--*********************************  Core Competency  *****************************************************8-->

                <div class="box box-default" *ngIf="!coreCompetencyEditBox">
                    <div class="box-header box-dark">Core competency <span *ngIf="permission.edit" (click)="coreCompetencyEditBox=true" class="float-right"><i md-tooltip="Edit" class="material-icons">edit</i></span></div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <table class="mdl-data-table" *ngIf="!coreCompetencyLoader">
                                <thead>
                                    <th>Number</th>
                                    <th>Questions</th>
                                    <th *ngIf="permission.delete">Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of coreCompetencyArray;let i=index;">
                                        <td class="rows">{{i+1}}</td>
                                        <td class="white-space-pre">{{c?.title}}</td>
                                        <td *ngIf="permission.delete">
                                            <md-icon class="material-icons mat-warn cursor" (click)="onDelete(c.compentancyID,'compentancy')" md-tooltip="Delete">delete</md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!coreCompetencyLoader && permission.add">
                                <button md-raised-button color="accent" (click)="addQuestion('compentancy')"><i class="fa fa-plus"></i> Add more question</button>
                            </div>
                            <md-progress-spinner *ngIf="coreCompetencyLoader" mode="indeterminate" color=""></md-progress-spinner>
                        </div>
                    </div>
                </div>
                <div class="box box-default" *ngIf="coreCompetencyEditBox">
                    <div class="box-header box-dark">Core competency</div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <md-progress-spinner *ngIf="coreCompetencyLoader" mode="indeterminate" color=""></md-progress-spinner>
                            <form *ngIf="!coreCompetencyLoader" class="full-width" #coreCompetencyForm="ngForm">
                                <md-select name="selectNumber" placeholder="Select number" [(ngModel)]="selectedNumberCoreCompetency" (change)="getQuestion('compentancy')">
                                    <md-option *ngFor="let c of coreCompetencyArray;let i=index" value="{{c.compentancyID}}">{{i+1}}</md-option>
                                </md-select>
                                <div *ngIf="showQuestionCoreCompetency">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #field="ngModel" required name="title_{{i}}" [(ngModel)]="questionCoreCompetency">
                                    </md-input-container>
                                    <div *ngIf="field.errors && (field.dirty || field.touched)">
                                        <div class="alert alert-danger" [hidden]="!field.errors.required">
                                            Question is required !
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:20px">
                                    <button md-raised-button color="primary" *ngIf="showQuestionCoreCompetency" [disabled]="!coreCompetencyForm.form.valid" (click)="onSave(coreCompetencyForm.form.valid,'coreCompetencyEditBox',questionCoreCompetency,selectedNumberCoreCompetency,'compentancy')">Save</button>
                                    <button md-raised-button color="default" *ngIf="coreCompetencyEditBox" (click)="onCancel(selectedNumberCoreCompetency,'compentancy')">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--*********************************  Integrity  *****************************************************8-->

                <div class="box box-default" *ngIf="!integrityEditBox">
                    <div class="box-header box-dark">Integrity <span *ngIf="permission.edit" (click)="integrityEditBox=true" class="float-right"><i md-tooltip="Edit"  class="material-icons">edit</i></span></div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <table class="mdl-data-table" *ngIf="!integrityLoader">
                                <thead>
                                    <th>Number</th>
                                    <th>Questions</th>
                                    <th *ngIf="permission.delete">Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of integrityArray;let i=index;">
                                        <td class="rows">{{i+1}}</td>
                                        <td class="white-space-pre">{{c?.title}}</td>
                                        <td *ngIf="permission.delete">
                                            <md-icon class="material-icons mat-warn cursor" (click)="onDelete(c.integrityID,'integrity')" md-tooltip="Delete">delete</md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!integrityLoader && permission.add">
                                <button md-raised-button color="accent" (click)="addQuestion('integrity')"><i class="fa fa-plus"></i> Add more question</button>
                            </div>
                            <md-progress-spinner *ngIf="integrityLoader" mode="indeterminate" color=""></md-progress-spinner>
                        </div>
                    </div>
                </div>
                <div class="box box-default" *ngIf="integrityEditBox">
                    <div class="box-header box-dark">Integrity</div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <md-progress-spinner *ngIf="integrityLoader" mode="indeterminate" color=""></md-progress-spinner>
                            <form *ngIf="!integrityLoader" class="full-width" #integrityForm="ngForm">
                                <md-select name="selectNumber" placeholder="Select number" [(ngModel)]="selectedNumberIntegrity" (change)="getQuestion('integrity')">
                                    <md-option *ngFor="let c of integrityArray;let i=index" value="{{c.integrityID}}">{{i+1}}</md-option>
                                </md-select>
                                <div *ngIf="showQuestionIntegrity">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #field="ngModel" required name="titleIntegrity_{{i}}" [(ngModel)]="questionIntegrity">
                                    </md-input-container>
                                    <div *ngIf="field.errors && (field.dirty || field.touched)">
                                        <div class="alert alert-danger" [hidden]="!field.errors.required">
                                            Question is required !
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:20px">
                                    <button md-raised-button color="primary" *ngIf="showQuestionIntegrity" [disabled]="!integrityForm.form.valid" (click)="onSave(integrityForm.form.valid,'integrityEditBox',questionIntegrity,selectedNumberIntegrity,'integrity')">Save</button>
                                    <button md-raised-button color="default" *ngIf="integrityEditBox" (click)="onCancel(selectedNumberIntegrity,'integrity')">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--*********************************  Behaviour  *****************************************************8-->

                <div class="box box-default" *ngIf="!behaviourEditBox">
                    <div class="box-header box-dark">Behaviour <span *ngIf="permission.edit" (click)="behaviourEditBox=true" class="float-right"><i md-tooltip="Edit" class="material-icons">edit</i></span></div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <table class="mdl-data-table" *ngIf="!behaviourLoader">
                                <thead>
                                    <th>Number</th>
                                    <th>Questions</th>
                                    <th *ngIf="permission.delete">Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of behaviourArray;let i=index;">
                                        <td class="rows">{{i+1}}</td>
                                        <td class="white-space-pre">{{c?.title}}</td>
                                        <td *ngIf="permission.delete">
                                            <md-icon class="material-icons mat-warn cursor" (click)="onDelete(c.behaviorID,'behaviour')" md-tooltip="Delete">delete</md-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!behaviourLoader && permission.add">
                                <button md-raised-button color="accent" (click)="addQuestion('behaviour')"><i class="fa fa-plus"></i> Add more question</button>
                            </div>
                            <md-progress-spinner *ngIf="behaviourLoader" mode="indeterminate" color=""></md-progress-spinner>
                        </div>
                    </div>
                </div>
                <div class="box box-default" *ngIf="behaviourEditBox">
                    <div class="box-header box-dark">Behaviour</div>
                    <div class="box-body">
                        <div class="table-box table-responsive">
                            <md-progress-spinner *ngIf="behaviourLoader" mode="indeterminate" color=""></md-progress-spinner>
                            <form *ngIf="!behaviourLoader" class="full-width" #behaviourForm="ngForm">
                                <md-select name="selectNumber" placeholder="Select number" [(ngModel)]="selectedNumberBehaviour" (change)="getQuestion('behaviour')">
                                    <md-option *ngFor="let c of behaviourArray;let i=index" value="{{c.behaviorID}}">{{i+1}}</md-option>
                                </md-select>
                                <div *ngIf="showQuestionBehaviour">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #field="ngModel" required name="title_{{i}}" [(ngModel)]="questionBehaviour">
                                    </md-input-container>
                                    <div *ngIf="field.errors && (field.dirty || field.touched)">
                                        <div class="alert alert-danger" [hidden]="!field.errors.required">
                                            Question is required !
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top:20px">
                                    <button md-raised-button color="primary" *ngIf="showQuestionBehaviour" [disabled]="!behaviourForm.form.valid" (click)="onSave(behaviourForm.form.valid,'behaviourEditBox',questionBehaviour,selectedNumberBehaviour,'behaviour')">Save</button>
                                    <button md-raised-button color="default" *ngIf="behaviourEditBox" (click)="onCancel(selectedNumberBehaviour,'behaviour')">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>