<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/development-plan-list']">Development plans</a></li>
                <li class="breadcrumb-item active">Assessment</li>
            </ol>
        </div>
    </div>
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="PIPmainBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="cmpnycontentBox">
            <div class="pipHeader">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3 class="heading">Development plan</h3>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Development plan for:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust"> <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" /></div>
                                </div>
                                <div class="info">
                                    <h5>{{developmentPlan?.developmentFor?.employee}}</h5>
                                    <div class="designation">{{developmentPlan?.developmentFor?.employeeProfile}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Assigned manager:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust"><img src="{{developmentPlan?.assinedBy?.imageUrl}}" alt="" /></div>
                                </div>
                                <div class="info">
                                    <h5>{{developmentPlan?.assinedBy?.employee}}</h5>
                                    <div class="designation">{{developmentPlan?.assinedBy?.employeeProfile}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Involved third parties</div>
                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                <input type="text" readonly="true" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                    <li *ngFor="let e of developmentPlan.thiredParty">
                                        <img src="{{e?.imageUrl}}" alt="" />
                                        <div class="empinfo">
                                            <label>{{e?.employee}}</label>
                                            <div class="userprofile">{{e?.employeeProfile}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="float-right" style="margin-top:5px;">
                <span>{{developmentPlan?.dpInsetTime}}</span><br><br>
            </div>
            <div class="clearfix"></div>
            <div class="row PIPFormbox detailPIP">
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Development plan title</label>
                    </div>
                    <div class="rghtinput10">
                        <span>{{developmentPlan?.title}}</span>
                    </div>
                </div>
                <div class=" col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Training date</label>
                    </div>
                    <div class="rghtinput10">
                        <span class="calendar"><i aria-hidden="true" class="fa fa-calendar"></i></span>{{developmentPlan?.trainingTime| dateFormat}}
                    </div>
                </div>
                <div class=" col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Assessment date</label>
                    </div>
                    <div class="rghtinput10">
                        <span class="calendar"><i aria-hidden="true" class="fa fa-calendar"></i></span>{{developmentPlan?.assessmentTime| dateFormat}}
                    </div>
                </div>
                <div class=" col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Reason</label>
                    </div>
                    <div class="rghtinput10">
                        {{developmentPlan?.reason}}
                    </div>
                </div>
                <div class=" col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Action plan</label>
                    </div>
                    <div class="rghtinput10">
                        {{developmentPlan?.actionPlan}}
                    </div>
                </div>
                <div class=" col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Objectives</label>
                    </div>
                    <div class="rghtinput10">
                        {{developmentPlan?.objective}}
                    </div>
                </div>
            </div>
        </div>

        <div class="cmpnycontentBox trainingNotes">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <h5>Training Notes</h5>
            <div class="row" *ngIf="!isProcessing">
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Manager notes</label>
                    </div>
                    <div class="rghtinput10">{{developmentPlan?.managerNote}}
                        <div class="instruction moreTopGap">This event has been triggered on {{developmentPlan?.trainingTime| dateFormat:'longDate'}} at {{developmentPlan?.trainingTime | dateFormat:'shortTime'}} </div>
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Development plan for</label>
                    </div>
                    <div class="rghtinput10 assessuseraddedd">
                        <div class="roundImgIcon">
                            <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" />
                        </div>
                        <div class="managerDesc">
                            <strong>{{developmentPlan?.developmentFor?.employee}}</strong>
                            <span>{{developmentPlan?.developmentFor?.employeeProfile}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="permission?.edit" class="cmpnycontentBox trainingNotes assessmentbox">
            <h5>Assessment Notes</h5>
            <form #managerTrainingForm="ngForm">
                <div class="row">
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Manager notes</label>
                        </div>
                        <div class="rghtinput10">
                            <textarea class="form-control" name="planObjective" placeholder="Enter manager note" #TrainingNote="ngModel" required [(ngModel)]="developmentPlanManagerNote.assessmentNote" myNoSpaces rows="4"></textarea>
                            <div *ngIf="TrainingNote.errors && ( (TrainingNote.dirty || TrainingNote.touched) || isButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(TrainingNote.errors.required || TrainingNote.errors.whitespace)">
                                    Training note is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
            <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <button *ngIf="permission?.edit && !isCreateProcessing" [disabled]="isProcessing" (click)="onAddTrainingNote(managerTrainingForm.form.valid)" class="btn btn-primary btn-lg">Result</button>
        </div>
    </div>