.managerListBlock{
    .managerBx{
        display: block;
        margin-top: 15px;
    }
}
.traingForm{
    margin: 10px 0 25px;
    textarea{
        resize: none;
    }
}
.leftAlgn{
    @media (max-width:575px){
        text-align: left!important;
    }
}

.assessuseraddedd{
    .roundImgIcon{
        float:left;
        margin-right:5px;
    }
    .managerDesc{
        float:left;
    }
}

.assessmentbox{
    margin-bottom:20px;
    textarea{
        height:100px;
        resize:none;
    }
}