<section class="create-shout-out container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/trophy/trophy-list']">Trophy</a></li>
    <li class="breadcrumb-item active">Create shoutout</li>
  </ol>
  <div class="cmpnycontentBox" style="padding:50px 15px 20px;">
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <form [hidden]="isProcessing" name="trophyForm" #trophyForm="ngForm">
      <div class="row">
        <div class="col-sm-12">
          <div class="row form-group">
            <div class="col-md-5 col-lg-2">
              <label class="form-inline">Title</label>
            </div>
            <div class="col-md-7 col-lg-3">
              <input type="text" name="title" #title="ngModel" [(ngModel)]="shoutOut.title" class="form-control" />
              <div *ngIf="title.touched || title.dirty || trophyForm.submitted">
                <div class="alert alert-danger" [hidden]="title.valid">Please enter the title.</div>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-5 col-lg-2">
              <label class="form-inline">Reason</label>
            </div>
            <div class="col-md-7 col-lg-3">
              <input type="text" name="reason" #reason="ngModel" [(ngModel)]="shoutOut.reason" class="form-control" />
              <div *ngIf="reason.touched || reason.dirty || trophyForm.submitted">
                <div class="alert alert-danger" [hidden]="reason.valid">Please enter the reason.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row form-group">
            <div class="col-md-5  col-lg-2">
              <label class="form-inline">Employee</label>
            </div>
            <div class="col-md-7 col-lg-3">
              <angular2-multiselect name="employee" #employee="ngModel" [data]="employeeList" [(ngModel)]="selectedEmployee" [settings]="dropdownSettings"
                [selectedItems]="selectedEmployee" required>
              </angular2-multiselect>
              <div *ngIf="employee.touched || employee.dirty || trophyForm.submitted">
                <div class="alert alert-danger" [hidden]="employee.valid">Please enter the reason.</div>
              </div>
            </div>
          </div>
        </div>
        <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessingForm" class="col-sm-12 text-center">
          <br>
          <button class="btn btn-success btn-lg" type="submit" (click)="createTrophy(trophyForm.valid)">Create</button>
        </div>
      </div>
    </form>
  </div>
</section>