// .spinner{
//     font-size:20px;
//     font-weight:100;
//     color:#fff;
//     -webkit-animation:spin 0.3s infinite;
//     -moz-animation:spin 0.3s infinite;
//     -o-animation:spin 0.3s infinite;
//     animation:spin 0.3s infinite;
//     transition:all 15s ease;
// }
// @keyframes spin{
//     0%{transform:rotate(0deg);}
//     100%{transform:rotate(350deg);}
// }
// @-webkit-keyframes spin{
//     0%{transform:rotate(0deg);}
//     100%{transform:rotate(350deg);}
// }