<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/performance-improvement-plan/reassessment-PIP/create']">Create re-assess PIP</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="collapseInfoBox">
                    <h4 (click)="originalPIPToggle=!originalPIPToggle" [ngClass]="{active:originalPIPToggle}">Original behaviour performance improvement plan <span class="float-right"><i class="fa fa-angle-down"></i></span></h4>
                    <div class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle}">
                        <div class="cmpnycontentBox">
                            <div class="pipHeader">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <h3 class="heading">Assessment</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">PIP for:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Henry Fisher</h5>
                                                    <div class="designation">Lorem Ipsum</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Assigned manager:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Henry Fisher</h5>
                                                    <div class="designation">Lorem Ipsum</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Involved third parties</div>
                                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                                <input type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                                <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="PIPFormbox detailPIP">
                                <h5>Title ipsum dolor sit amet, consectetur</h5>
                                <div class="row">
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>12 March 2017 | 9:00 am
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>17 March 2017 | 9:00 am
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            Two deadlines missed (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit. Phasellus malesuada rhoncus ex sit amet elementum. Suspendisse eget nisi non metus eleifend pellentesque
                                            ac sed ipsum. Morbi id magna ac orci laoreet dignissim lobortis et mi. Duis feugiat mauris lacus, non faucibus mauris tincidunt sit amet) and complaint received from Department X who did not receive a response
                                            to an email sent twice on (insert dates).
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objective</label>
                                        </div>
                                        <div class="rghtinput10">
                                            To effective manage workload on a daily basis, meet deaslines efficiently, priorities tasks and respond to emails in a timely manner.
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action plan</label>
                                        </div>
                                        <div class="rghtinput10">
                                            Operate daily 'To Do' check list and a diary. To respond to emails received within 3 working days.
                                            <div class="instruction moreTopGap">Created by John Raonic on 12 March 2017 | 9:00 am</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmpnycontentBox trainingNotes">
                            <h5>Training Notes</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit.
                                        <div class="instruction moreTopGap">This event has been triggered on 22 March 2017 at 12:00 am.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmpnycontentBox trainingNotes assessmentbox">
                            <h5>Assessment notes</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Has the objective been accomplished ?</label>
                                    </div>
                                    <div class="rghtinput10">
                                        Yes
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet
                                        <div class="instruction moreTopGap">Submitted by John Raonic on 22 March 2017 at 12:00 am.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmpnycontentBox trainingNotes">
                            <h5>Result</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Result</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <button class="btn btn-danger" [routerLink]="['/app/company-admin/behavioral-performance-improvement-plan/reassessment-PIP/create']">Re-Assessment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox assessnextbox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="heading">Create reassessment performance improvement plan</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">PIP for:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <h5>Title ipsum dolor sit amet, consectetur</h5>
                        <form>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control"></textarea>
                                        <div class="instruction">
                                            Detail specific dates and examples of where the standards have not been met.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Objective</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control"></textarea>
                                        <div class="instruction">
                                            Detail what is expected of the employee in terms of their performance i.e. what does 'good' look like. </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Action plan</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control"></textarea>
                                        <div class="instruction">
                                            Detail what actions need to be taken to meet expected standard of performance.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Training date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <my-date-picker placeholder="Training Date"></my-date-picker>
                                        <div class="instruction topgapremove">
                                            When would you like to conduct the training with <span class="name">henry</span> ?
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assignment date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <my-date-picker placeholder="Pick a date & time"></my-date-picker>
                                        <div class="instruction topgapremove">
                                            After <span class="name">henry's</span> training you conduct an assessment to determine if the objective has been met.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group removebottomGap">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assign manager</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="dropdownListEmployees" [(ngModel)]="selectedItems" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline" style="margin-top:0px;">Invite 3rd party <br>(Optional)</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="invitedropdownListEmployees" [(ngModel)]="inviteSelectedItems" name="thirdparty" #inviteEmp="ngModel" [settings]="invitedropdownSettings" [selectedItems]="inviteSelectedItems">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-success btn-lg" [routerLink]="['/app/company-admin/behavioral-performance-improvement-plan/reassessment/training']">Create Re-Assess Behaviour PIP<i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>