<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/advertisement/']">Advertisement </a></li>
                    <li class="breadcrumb-item">Interview question</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="cmpnycontentBox">
                    <div class="box">
                        <h5 class="heading">Attitude </h5>
                        <div class="tableWrapper">
                            <table>
                                <thead>
                                    <th style="width:90px">S.no.</th>
                                    <th>Questions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of interviewQuestions['Attitude'];">
                                        <td>{{c?.serialNumber}}</td>
                                        <td *ngIf="c.isActionProcessing">
                                            <textarea style="height:auto; min-height: 60px;" class="full-width" name="{{c?.serialNumber}}" [(ngModel)]="c.interviewQuestion"></textarea>
                                            <div class="pull-right">
                                                <span (click)="c.isActionProcessing=false" class="pull-right fa fa-save color-warning" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                        <td *ngIf="!c.isActionProcessing">
                                            <div class="white-space-pre width-inhance">{{c?.interviewQuestion}}</div>
                                            <div class="pull-right">
                                                <span *ngIf="interviewQuestions['Attitude'] && interviewQuestions['Attitude'].length>1" (click)="onDeleteQuestion('Attitude',c.serialNumber)" class="fa fa-trash pull-right color-danger" style="font-size:20px;"></span>                                                &nbsp;
                                                <span (click)="c.isActionProcessing=true" class="fa fa-pencil pull-right color-info" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="editToggle[1]">
                                    <td colspan="2">
                                        <div class="form-group neMessage">
                                            <textarea #Attitude="ngModel" name="txtattitude" myNoSpaces [(ngModel)]="temp['Attitude']" required class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                                            <div *ngIf="Attitude.errors && ( (Attitude.dirty || Attitude.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(Attitude.errors.required || Attitude.errors.whitespace)">
                                                    Field is required.
                                                </div>
                                            </div>
                                            <button (click)="editToggle[1]=false; onAdd('Attitude')" [disabled]="!temp['Attitude']" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </td>
                                </tfoot>
                            </table>
                            <a href="javascript:void(0)" class="pull-right tabSpace" (click)="editToggle[1]=!editToggle[1]"> (+) Add new question</a>
                        </div>
                    </div>
                    <div class="box">
                        <h5 class="heading">Core competency </h5>
                        <div class="tableWrapper">
                            <table>
                                <thead>
                                    <th style="width:90px">S.no.</th>
                                    <th>Questions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of interviewQuestions['CoreCompetency'];">
                                        <td>{{c?.serialNumber}}</td>
                                        <td *ngIf="c.isActionProcessing">
                                            <textarea style="height:auto; min-height: 60px;" class="full-width" name="{{c?.serialNumber}}" [(ngModel)]="c.interviewQuestion"></textarea>
                                            <div class="pull-right">
                                                <span (click)="c.isActionProcessing=false" class="pull-right fa fa-save color-warning" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                        <td *ngIf="!c.isActionProcessing">
                                            <div class="white-space-pre width-inhance">{{c?.interviewQuestion}}</div>
                                            <div class="pull-right">
                                                <span *ngIf="interviewQuestions['CoreCompetency'] && interviewQuestions['CoreCompetency'].length>1" (click)="onDeleteQuestion('CoreCompetency',c.serialNumber)" class="fa fa-trash pull-right color-danger" style="font-size:20px;"></span>                                                &nbsp;
                                                <span (click)="c.isActionProcessing=true" class="fa fa-pencil pull-right color-info" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="editToggle[2]">
                                    <td colspan="2">
                                        <div class="form-group neMessage">
                                            <textarea #CoreCompetency="ngModel" name="txtattditude" myNoSpaces [(ngModel)]="temp['CoreCompetency']" required class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                                            <div *ngIf="CoreCompetency.errors && ( (CoreCompetency.dirty || CoreCompetency.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(CoreCompetency.errors.required || CoreCompetency.errors.whitespace)">
                                                    Field is required.
                                                </div>
                                            </div>
                                            <button (click)="editToggle[2]=false; onAdd('CoreCompetency')" [disabled]="!temp['CoreCompetency']" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </td>
                                </tfoot>
                            </table>
                            <a href="javascript:void(0)" class="pull-right tabSpace" (click)="editToggle[2]=!editToggle[2]"> (+) Add new question</a>
                            <div *ngIf="!interviewQuestions['CoreCompetency'].length">
                                <div class="alert alert-danger">
                                    At least one question required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <h5 class="heading">Integrity </h5>
                        <div class="tableWrapper">
                            <table>
                                <thead>
                                    <th style="width:90px">S.no.</th>
                                    <th>Questions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of interviewQuestions['Intergrity'];">
                                        <td>{{c?.serialNumber}}</td>
                                        <td *ngIf="c.isActionProcessing">
                                            <textarea style="height:auto; min-height: 60px;" class="full-width" name="{{c?.serialNumber}}" [(ngModel)]="c.interviewQuestion"></textarea>
                                            <div class="pull-right">
                                                <span (click)="c.isActionProcessing=false" class="pull-right fa fa-save color-warning" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                        <td *ngIf="!c.isActionProcessing">
                                            <div class="white-space-pre width-inhance">{{c?.interviewQuestion}}</div>
                                            <div class="pull-right">
                                                <span *ngIf="interviewQuestions['Intergrity'] && interviewQuestions['Intergrity'].length>1" (click)="onDeleteQuestion('Intergrity',c.serialNumber)" class="fa fa-trash pull-right color-danger" style="font-size:20px;"></span>                                                &nbsp;
                                                <span (click)="c.isActionProcessing=true" class="fa fa-pencil pull-right color-info" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="editToggle[3]">
                                    <td colspan="2">
                                        <div class="form-group neMessage">
                                            <textarea #Intergrity="ngModel" name="txtattdidtude" myNoSpaces [(ngModel)]="temp['Intergrity']" required class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                                            <div *ngIf="Intergrity.errors && ( (Intergrity.dirty || Intergrity.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(Intergrity.errors.required || Intergrity.errors.whitespace)">
                                                    Field is required.
                                                </div>
                                            </div>
                                            <button [disabled]="!Intergrity.valid" (click)="editToggle[3]=false; onAdd('Intergrity')" [disabled]="!temp['Intergrity']" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </td>
                                </tfoot>
                            </table>
                            <a href="javascript:void(0)" class="pull-right tabSpace" (click)="editToggle[3]=!editToggle[3]"> (+) Add new question</a>
                        </div>
                    </div>
                    <div class="box">
                        <h5 class="heading">Behaviour </h5>
                        <div class="tableWrapper">
                            <table>
                                <thead>
                                    <th style="width:90px">S.no.</th>
                                    <th>Questions</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let c of interviewQuestions['Behavior'];">
                                        <td>{{c?.serialNumber}}</td>
                                        <td *ngIf="c.isActionProcessing">
                                            <textarea style="height:auto; min-height: 60px;" class="full-width" name="{{c?.serialNumber}}" [(ngModel)]="c.interviewQuestion"></textarea>
                                            <div class="pull-right">
                                                <span (click)="c.isActionProcessing=false" class="pull-right fa fa-save color-warning" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                        <td *ngIf="!c.isActionProcessing">
                                            <div class="white-space-pre width-inhance">{{c?.interviewQuestion}}</div>
                                            <div class="pull-right">
                                                <span *ngIf="interviewQuestions['Behavior'] && interviewQuestions['Behavior'].length>1" (click)="onDeleteQuestion('Behavior',c.serialNumber)" class="fa fa-trash pull-right color-danger" style="font-size:20px;"></span>                                                &nbsp;
                                                <span (click)="c.isActionProcessing=true" class="fa fa-pencil pull-right color-info" style="font-size:20px;"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="editToggle[4]">
                                    <td colspan="2">
                                        <div class="form-group neMessage">
                                            <textarea #Behavior="ngModel" name="txtattdidtdude" myNoSpaces [(ngModel)]="temp['Behavior']" required class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                                            <div *ngIf="Behavior.errors && ( (Behavior.dirty || Behavior.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(Behavior.errors.required || Behavior.errors.whitespace)">
                                                    Field is required.
                                                </div>
                                            </div>
                                            <button (click)="editToggle[4]=false; onAdd('Behavior')" [disabled]="!temp['Behavior']" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </td>
                                </tfoot>
                            </table>
                            <a href="javascript:void(0)" class="pull-right tabSpace" (click)="editToggle[4]=!editToggle[4]"> (+) Add new question</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="text-center">
                        <button [disabled]="!interviewQuestions['CoreCompetency'].length" (click)="onNext()" class="btn btn-success">Next &nbsp;<i class="fa fa-angle-double-right"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>