// table{
//     .fa{
//         &:hover{
//             cursor:pointer;
//         }
//     }
// } 
// .normal{
//     opacity:0.7;
// }
textarea{
    margin: 5px 0px;
    height: auto;
    min-height: 60px;
    width: 97%;
}
.neMessage{
    
        width:100% !important;
   
    .alert::after{
    display:none !important;

}
}


.box .white-space-pre.width-inhance{float:left;max-width: 910px;}
.admin-panel .tableWrapper table tr td{padding: 15px !important;}
.cmpnycontentBox .color-warning{margin-top:20px;}
.tabSpace{padding-top:20px;}