.page-auth .main-body {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.registrationForm h2 {
    font-size: 22px;
    margin: 0;
    padding: 10px 0;
    /* background: #656565; */
    color: #6b6b6b;
    margin-bottom: 29px;
    display: block;
    font-weight: 600;
    width: 100%;
}

.page-auth .additional-info {
    bottom: 20px;
}

.cmpnycontentBox {
    padding-bottom: 40px;
}

.header {
    background: #333;
    padding: 8px 0;
}