<div class="header">
    <div class="container">
        <div class="top-header">
            <a href="https://happyhr.com/" target="_blank">
                <img src="assets/images/logo-white.png" width="160">
            </a>
        </div>
    </div>
</div>
<div class="page-auth">
    <div class="main-body">
        <!--<div class="logo text-center">
            <a href="javascript:void(0);"><img src="assets/images/logo.png"/></a>
        </div>-->
        <app-steps [progress]='progress'></app-steps>
        <div class="box-default cmpnycontentBox">
            <div class="card-content registrationForm">
                <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="userForm.valid && user.confirmPassword == user.password && submit()">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="heading"> General information</h4>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="control-label">First name :</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName" type="text" placeholder="First name"
                                    required (ngModelChange)="resetErrors('firstName')" />

                                <!--<p class="help-block errorMsg">Invalid Name</p>-->
                                <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched || userForm.submitted)">
                                    <div class="color-danger" [hidden]="!firstName.errors.required">
                                        First name is required.
                                    </div>
                                </div>
                                <div class="color-danger" *ngIf="errors && errors['firstName']">
                                    {{errors['firstName']}}
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="control-label">Last name :</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="user.lastName" #lastName="ngModel" name="lastName" type="text" placeholder="Last name">
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="control-label">Company name :</label>
                            </div>
                            <div class="rghtinput10">
                                <input class="form-control" [(ngModel)]="user.companyName" #companyName="ngModel" name="companyName" type="text" placeholder="Company name"
                                    required (ngModelChange)="resetErrors('companyName')" />

                                <!--<p class="help-block errorMsg">Invalid Name</p>-->
                                <div *ngIf="companyName.errors && (companyName.dirty || companyName.touched || userForm.submitted)">
                                    <div class="color-danger" [hidden]="!companyName.errors.required">
                                        Company name is required.
                                    </div>
                                </div>
                                <div class="color-danger" *ngIf="errors && errors['companyName']">
                                    {{errors['companyName']}}
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="control-label">Email :</label>
                            </div>
                            <div class="rghtinput10">

                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    <input class="form-control" [(ngModel)]="user.email" #emailID="ngModel" name="emailID" type="email" pattern=".*@.*\.*[A-Za-z/d]$"
                                        placeholder="Email" required (ngModelChange)="resetErrors('emailID')" />
                                </div>
                                <!--<p class="help-block errorMsg">Invalid email</p>-->
                                <div *ngIf="emailID.errors && (emailID.dirty || emailID.touched || userForm.submitted)">
                                    <div class="color-danger" [hidden]="!emailID.errors.required">
                                        Email is required.
                                    </div>
                                    <div class="color-danger" [hidden]="!emailID.errors.pattern">
                                        Not a valid email pattern.
                                    </div>
                                </div>
                                <div class="color-danger" *ngIf="errors && errors['emailID']">
                                    {{errors['email']}}
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="control-label">Password :</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="user.password" #password="ngModel" name="password" type="password" placeholder="Password"
                                    required (ngModelChange)="resetErrors('password')" />
                                <div *ngIf="password.errors && (password.dirty || password.touched || userForm.submitted)">
                                    <div class="color-danger" [hidden]="!password.errors.required">
                                        Password is required.
                                    </div>
                                </div>
                                <div class="color-danger" *ngIf="errors && errors['password']">
                                    {{errors['password']}}
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="control-label">Confirm password :</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" type="password"
                                    placeholder="Confirm password" required (ngModelChange)="resetErrors('confirmPassword')">

                                <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched || userForm.submitted)">
                                    <div class="color-danger" [hidden]="!confirmPassword.errors.required">
                                        Password confirmation is required.
                                    </div>
                                </div>
                                <div *ngIf="user.confirmPassword && user.confirmPassword !== user.password">
                                    <div class="color-danger">
                                        Password does not match.
                                    </div>
                                </div>
                                <div class="color-danger" *ngIf="errors && errors['confirmPassword']">
                                    {{errors['confirmPassword']}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="heading">Incase you forgot your password</h5>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Security question</label>
                            </div>
                            <div class="rghtinput10">
                                <select class="form-control full-width" name="securityQuestionID" [(ngModel)]="user.securityQuestionID" #securityQuestionID="ngModel"
                                    required>
                                    <option value="" disabled="true"> Please select security question </option>
                                    <option *ngFor="let ques of securityQuestions" [value]="ques.securityQuestionID">{{ques.title}}</option>
                                </select>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="control-label">Your answer :</label>
                            </div>
                            <div class="rghtinput10">
                                <input class="form-control" [(ngModel)]="user.securityAnswer" #securityAnswer="ngModel" name="securityAnswer" type="text"
                                    placeholder="Write your answer" required (ngModelChange)="resetErrors('securityAnswer')">

                                <div *ngIf="securityAnswer.errors && (securityAnswer.dirty || securityAnswer.touched || userForm.submitted)">
                                    <div class="color-danger" [hidden]="!securityAnswer.errors.required">
                                        Security answer is required.
                                    </div>
                                </div>
                                <div class="color-danger" *ngIf="errors && errors['securityAnswer']">
                                    {{errors['securityAnswer']}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing" class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>

                </form>

                <div class="additional-info">
                    <a [routerLink]="['/user/login']">Return to login</a>
                </div>

            </div>
        </div>
    </div>
</div>