<div class="container-fluid">
    <div class="dashboard">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <div *ngIf="!isProcessing" class="fullCalendar">
            <div class="cmpnycontentBox activityDDpos dshDD">
                <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
            </div>
        </div>

        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="row">
                <div class="col-lg-7 col-sm-7 flWidth">
                    <div class="cmpnycontentBox">
                        <div class="cmpnycontentBoxInner">
                            <h4 class="heading">Activity status</h4>
                            <div class="tableWrapper">
                                <br>
                                <table>
                                    <thead>
                                        <th class="activityFrstH">Tasks</th>
                                        <th>
                                            Done
                                        </th>
                                        <th>
                                            Overdue
                                        </th>
                                        <th>
                                            Due today
                                        </th>
                                        <th>
                                            Upcoming
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let status of dashBoard?.activityStatus">

                                            <td>
                                                <div style="position:relative; padding-left:53px;">
                                                    <span class="task" style="position:absolute;left:0;">{{status?.abbr}}</span>
                                                    <div class="task-dtl">{{status?.title}}</div>
                                                </div>
                                            </td>
                                            <td><span class="tDone" [innerHTML]="status.completed"></span></td>

                                            <td><span class="tOverdue" [innerHTML]="status.overdue"></span></td>

                                            <td><span class="tgrey" [innerHTML]="status.dueToday"></span></td>

                                            <td><span class="tgrey" [innerHTML]="status.upcoming"></span></td>

                                        </tr>
                                        <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !dashBoard?.activityStatus.length">
                                            <td colspan="5"> Record not found</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 flWidth">
                    <div class="cmpnycontentBox">
                        <div class="cmpnycontentBoxInner">
                            <h4 class="heading">Waiting for approval</h4>
                            <div class="tableWrapper">
                                <br>
                                <table>
                                    <thead>
                                        <th class="activityFrstH">Tasks</th>
                                        <th>
                                            Pending
                                        </th>

                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let status of dashBoard?.approvalData">
                                            <td>
                                                <div style="position:relative; padding-left:53px;">
                                                    <span class="task" style="position:absolute;left:0;">{{status?.abbr}}</span>
                                                    <div class="task-dtl">{{status?.title}}</div>
                                                </div>
                                            </td>
                                            <td [innerHTML]="status.pending"></td>
                                        </tr>
                                        <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !dashBoard?.approvalData.length">
                                            <td colspan="2"> Record not found</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-6 col-sm-6 flWidth">
                    <div class="cmpnycontentBox recentActivity">
                        <div class="cmpnycontentBoxInner">
                            <div class="topHead">
                                <h4 class="heading">Recent activity</h4>
                            </div>
                            <div class="recentActiDateList">
                                <h5>Today</h5>
                                <ul>
                                    <li *ngFor="let status of dashBoard?.activityLog['Today']">
                                        <div class="media">
                                            <div class="media-right">
                                                <div [innerHTML]="status.message"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="danger" style="text-align:center" *ngIf="(!isProcessing) && (!dashBoard?.activityLog['Today'])">
                                        <div> Record not found</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="recentActiDateList">
                                <h5>Yesterday</h5>
                                <ul>
                                    <li *ngFor="let status of dashBoard?.activityLog['Yesterday']">
                                        <div class="media">
                                            <div class="media-right">
                                                <div [innerHTML]="status.message"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="danger" style="text-align:center" *ngIf="(!isProcessing) && (!dashBoard?.activityLog['Yesterday'])">
                                        <div> Record not found</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-6 col-sm-6 flWidth">
                    <!--<div class="cmpnycontentBox recentActivity shoutOuts">
                        <div class="topHead">
                            <h4 class="heading">Trophy & shoutouts</h4>
                           
                        </div>
                        <div class="cmpnycontentBoxInner recentActiDateList" style="max-height:500px;" mySlimScroll>
                            <ul *ngFor="let c of dashBoard['trophyAndShoutouts']">
                                <li *ngIf="c.trophyID" class="clearfix">
                                    <div class="actionIcon">
                                        <div class="trophyClr">
                                            <i class="fa fa-trophy"></i>
                                            <img [src]="c?.icon" />
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex  media-middle">
                                            <img class="img-circle" style="height:48px;width:48px;" [src]="c.userID.imageUrl">
                                        </div>
                                        <div class=" media-right">
                                            <h5 class="heading">{{c?.title}}</h5>
                                            <p><a class='cursor' (click)="onViewProfile(c.userID.userID)">{{c.userID.name}}</a> <span class="datetime">, issued by vote (all employees) on {{c?.insertTime | dateFormat}}.</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="c.shoutoutID" class="clearfix">
                                    <div class="actionIcon"><img src="assets/images/shoutout.png" /></div>
                                    <div class="media">
                                        <div class="media-left d-flex  media-middle">
                                            <img class="img-circle" height="50px" [src]="c.userID.imageUrl" width="50px">
                                        </div>
                                        <div class=" media-right">
                                            <h5 class="heading">Shoutout to</h5>
                                            <p><a class="cursor" (click)="onViewProfile(c.userID.userID)">{{c?.userID?.name}}</a> {{c?.reason}} <span class="datetime">, Shoutout from <strong>{{c?.shoutoutBy?.name}}</strong> on {{c?.insertTime | dateFormat}}</span></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                    <div class="cmpnycontentBox recentActivity shoutOuts">
                        <div class="topHead">
                            <h4 class="heading">Trophy & shoutouts</h4>
                        </div>
                        <div class="cmpnycontentBoxInner recentActiDateList" style="max-height:500px;" mySlimScroll>
                            <ul *ngFor="let c of dashBoard?.trophyAndShoutouts">
                                <li *ngIf="c.trophyID" class="clearfix">
                                    <div class="actionIcon">
                                        <div class="trophyClr">
                                            <i class="fa fa-trophy"></i>
                                            <img [src]="c?.icon" />
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex  media-middle">
                                            <img class="img-circle" style="height:48px;width:48px;" [src]="c.userID.imageUrl">
                                        </div>
                                        <div class=" media-right">
                                            <h5 class="heading">{{c?.title}}</h5>
                                            <p><a>{{c.userID.name}}</a> <span class="datetime">, issued by vote (all employees) on {{c?.insertTime | dateFormat}}.</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="c.shoutoutID" class="clearfix">
                                    <div class="actionIcon"><img src="assets/images/shoutout.png" /></div>
                                    <div class="media">
                                        <div class="media-left d-flex  media-middle">
                                            <img class="img-circle" height="50px" [src]="c.userID.imageUrl" width="50px">
                                        </div>
                                        <div class=" media-right">
                                            <h5 class="heading">Shoutout to</h5>
                                            <p><a class="cursor" (click)="onViewProfile(c.userID.userID)">{{c?.userID?.name}}</a> {{c?.reason}} <span class="datetime">, Shoutout from <strong>{{c?.shoutoutBy?.name}}</strong> on {{c?.insertTime | dateFormat}}</span></p>
                                        </div>
                                        <div class="commentbtnbox text-right">
                                            <button class="btn btn-primary btn-sm" (click)="addCommentPopup(c)">{{c.comments.length}} Comment(s)</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>