.btn-special {
    color: #fff;
}

.dropdown-menu {
    min-width: 100%;
}

.tableWrapper table {
    min-width: 1160px;
}

.dropdown-menu a {
    border-bottom: 1px solid #d4d4d4;
}

.dropdown-menu a:last-child {
    border-bottom: 0;
}

.actionDroapdown {
    display: inline-block;
    #dropdownMenuLink {
        i {
            line-height: 24px;
            margin-top: 0px;
        }
    }
}