<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Behaviour performance improvement plan</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-6 col-xl-8">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" (keyup)="onSearchKeyEnter()" [(ngModel)]="searchKey" class="form-control" placeholder="Search by title" />
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-2 col-sm-6">
                            <div class="filter">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  col-xl-2 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onPopUp()">Create plan <span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchKeyStatus" class="form-control input-lg" placeholder="Search status" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor="let item of filter.status|searchByKey:searchKeyStatus:'title'; let i=index;">
                                            <label><input name="nm{{i}}" (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.title}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Manager</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchKeyManager" class="form-control input-lg" placeholder="Search manager" />
                                                <span class="input-group-btn">
                                                        <button class="btn" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor="let item of filter.manager|searchByKey:searchKeyManager:'name'">
                                            <label><input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Employee</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchKeyEmployee" class="form-control input-lg" placeholder="Search employee" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor="let item of filter.employee|searchByKey:searchKeyEmployee:'name'">
                                            <label><input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Result</h3>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox">
                                        <li *ngFor="let item of filter.result">
                                            <label><input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.title}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Due</h3>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox">
                                        <li *ngFor="let item of filter.due">
                                            <label><input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.title}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <button [disabled]="!enableFilter" (click)="onApplyFilters()" [ngClass]="{'btn-primary':enableFilter,'btn-filter':!enableFilter}" class="btn btn-lg outlined btn-default btn-filter">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                <div *ngIf="!isProcessing" class="EmptableList table-responsive tableWrapper">

                    <table class="full-width  table" [mfData]="plans" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead *ngIf="mf.data.length">
                            <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="employee.name">Assigned to &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="manager.name">Assigned manager &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="trainingTime">Training date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="assessmentTime">Assessment date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:142px;">Details</th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let d of mf.data">
                                <td>{{d?.title}}</td>
                                <td style="width:150px;">{{d?.employee?.name}}</td>
                                <td>{{d?.manager?.name}}</td>
                                <td>{{formateDate(d?.trainingTime) }}</td>
                                <td>{{formateDate(d?.assessmentTime)}}</td>
                                <td *ngIf="d.status=='Complete'">
                                    <div *ngIf="d.result=='Re-Access'">Re-assess</div>
                                    <div *ngIf="d.result!='Re-Access'">{{d?.result}}</div>
                                </td>
                                <td *ngIf="d.status !='Complete'" style="width: 163px;">{{d?.status}}</td>
                                <td><button (click)="onView(d)" class="btn btn-default">View details</button> </td>
                                <td *ngIf="!d.isDeleteProcessing">
                                    <!-- <label *ngIf="d?.result=='Terminate'" class="color-success">Terminated</label> -->
                                    <div class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i style="line-height:24px;" class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="d?.status!='Terminated'" class="dropdown-item color-info btn-none" (click)="OnAction(d)"><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp; Perform action</button>
                                            <button class="dropdown-item color-danger btn-none" *ngIf="d.status !='Complete'" (click)="d.isDeleteProcessing=true; OnDelete(d)"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</button>
                                        </div>
                                    </div>
                                    <!--<span style="font-size:20px; margin-left:10px;" *ngIf="d.status=='Awaiting Employee Acceptance'" class="color-danger"><i class="fa fa-clock-o"></i></span>-->
                                </td>
                                <td *ngIf="d.isDeleteProcessing">
                                    <md-progress-spinner mode="indeterminate"></md-progress-spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div class="box" style="text-align:center" *ngIf="!mf.data.length">
                        <span class="danger">Record not found</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>