<div class="container-fluid chapter">
    <div class="dashboard article row">
        <div class="col-lg-12 col-sm-12 flWidth">
            <h2 class="article-title">Payment failure alerts</h2>
            <div class="cmpnycontentBox recentActivity">
                <div class="cmpnycontentBoxInner col-sm-12">
                    <div class="tableWrapper">                       
                        <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="failedPayment" [mfActivePage]=2 #paymentfailed="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <th style="width:50px;">S.no</th>
                                <th>Transaction id</th>
                                <th> Company username</th>
                                <th> Email id</th>
                                <th> Company name</th>
                                <th> Amount</th>
                                <th> Date </th>
                                <th> Time </th>
                                <th> Reason</th>
                                <th style="width:40px"> Status</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let payment of paymentfailed.data;let i=index">
                                    <td class="text-center">{{(paymentfailed.activePage -1)*(10)+(i+1)}}</td>
                                    <td>{{payment?.transactionID}}</td>
                                    <td>{{payment?.companyUserName}}</td>
                                    <td>{{payment?.companyAdminEmail}}</td>
                                    <td>{{payment?.companyName}}</td>
                                    <td>{{payment?.transactionAmount}}</td>
                                    <td>{{payment?.transactionDate}}</td>
                                    <td>{{payment?.transactionTime}}</td>
                                    <td>{{payment?.transactionReason}}</td>
                                    <td style="width:40px">{{payment?.transactionStatus}}</td>
                                </tr>
                                <!--<tr>
                                        <td>1</td>
                                        <td>1AB23456c79890123d</td>
                                        <td>Ratan tata</td>
                                        <td>ratantata@tatagroup.com</td>
                                        <td>Tata group</td>
                                        <td>$3000</td>
                                        <td>22 March 2017</td>
                                        <td>22:00</td>
                                        <td>Connection erro</td>
                                        <td>Resolved</td>
                                    </tr>-->

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" *ngIf="isProcessing">
                                        <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                                    </td>
                                    <td *ngIf="failedPayment.length>10" class="progressSpinner" colspan="10" style="background:#ffffff !important;border-bottom:0px !important;">
                                        <!--<md-progress-spinner class="full-width text-center" *ngIf="isFiltering" mode="indeterminate" color=""></md-progress-spinner>-->
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>