.btn-wrapper{
    margin-top:20px;
}

.addUserBtn{
   @media(max-width:767px){
      margin-top: 15px;
      float: left !important;
   }
}

[name="addEditLetterForm"]{
   .selectWrapper{
      margin:15px 0px;
    }
}

