<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">{{title}}</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="box box-default paddingBox policyDetail">
            <form name="addEditLetterForm" #addEditLetterForm="ngForm" (ngSubmit)="addEditLetter(addEditLetterForm.valid)">
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-bottom:25px;font-size:15px;"><span style="padding:10px;background:#ccc">{{letter.lettertype.title}}</span></div>
                        <md-input-container class="full-width">
                            <input name="subject" mdInput placeholder="Subject" #letterSubject="ngModel" [(ngModel)]="letter.title" required>
                        </md-input-container>
                        <div *ngIf="letterSubject.errors && (letterSubject.dirty || letterSubject.touched) ">
                            <div class="alert alert-danger" [hidden]="!letterSubject.errors.required">
                                Subject is required !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Description/message *</label>
                        <app-tinymce name="letterDescription" [(ngModel)]="letter.description" #letterDescription="ngModel" required></app-tinymce>
                        <!-- <quill-editor name="letterDescription" [(ngModel)]="letter.description" #letterDescription="ngModel" required>
                            <div quill-editor-toolbar>
                                <span class="ql-formats">
                  <button class="ql-bold" [title]="'Bold'"></button>
                  <button class="ql-italic" [title]="'Italic'"></button>
                  <button class="ql-underline" [title]="'Underline'"></button>
                  <button class="ql-strike" [title]="'Strike'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-blockquote" [title]="'Block Quote'"></button>
                  <button class="ql-code-block" [title]="'Code Block'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-header" value="1" [title]="'Header 1'"></button>
                  <button class="ql-header" value="2" [title]="'Header 2'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-list" value="ordered" [title]="'Ordered List'"></button>
                  <button class="ql-list" value="bullet" [title]="'Bullet List'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-script" value="sub"[title]="'Subscript'"></button>
                  <button class="ql-script" value="super"[title]="'Superscript'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-indent"  value="-1" [title]="'Indent'"></button>
                  <button class="ql-indent"  value="+1" [title]="'Indent'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-direction" value="rtl" [title]="'Direction'"></button>
                </span>

                                <span class="ql-formats">
                  <select class="ql-size" [title]="'Size'">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <select class="ql-header" [title]="'Header'">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option selected></option>
                  </select>
                </span>


                                <span class="ql-formats">
                  <select class="ql-color" [title]="'Color picker'">
                    <option value="#ffffff"></option>
                    <option value="#00000"></option>
                    <option value="#e34fff"></option>
                    <option value="#a34565"></option>
                    <option value="#dd4545"></option>
                    <option selected></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <select class="ql-background" [title]="'Background Color Picker'">
                    <option value="#ffffff"></option>
                    <option value="#00000"></option>
                    <option value="#e34fff"></option>
                    <option value="#a34565"></option>
                    <option value="#dd4545"></option>
                    <option selected></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <select class="ql-font" [title]="'Font'">
                    <option selected></option>
                    <option value="serif"></option>
                    <option value="monospace"></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <select class="ql-align" [title]="'Alignment'">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <button class="ql-clean" [title]="'Clean'"></button>
                </span>
                                <span class="ql-formats">
                  <button class="ql-link" [title]="'Link'"></button>
                  <button class="ql-image" [title]="'Image'"></button> -->
                        <!--<button class="ql-video" [title]="'Video'"></button>-->
                        <!-- </span>

                            </div>
                        </quill-editor> -->
                        <div *ngIf="letterDescription.errors && (letterDescription.dirty || letterDescription.touched) ">
                            <div class="alert alert-danger" *ngIf="letterDescription.errors.required">
                                Description is required !
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isEditProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div class="btn-wrapper text-center addUserBtn" *ngIf="!isEditProcessing">
                    <button md-raised-button type="submit" color="accent" class="addButton" [disabled]="!addEditLetterForm.valid"> Save</button> &nbsp;
                    <button md-raised-button color="default" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </form>

        </div>
    </article>
</div>