.circle-inner-container .circle-data {
    max-width: 188px;
}

.media-right {
    padding-left: 12px;
    .tag {
        display: block;
        padding: 0px 3px;
        background: #cce8ff;
        border: 1px solid #39adf1;
    }
}

.indicator {
    display: flex;
    @media screen and (max-width: 767px) {
        display: block;
    }
    h6 {
        background: #fff9e6;
        padding: 7px 15px;
        margin: 0;
        border: 1px solid #fc3;
    }
    .lftside {
        width: 50%;
        label {
            padding: 4px 15px;
            border-bottom: 1px dotted #d4d4d4;
            display: block;
        }
        @media screen and (max-width:767px) {
            width: 100%;
        }
    }
    .rghtside {
        width: 50%;
        @media screen and (max-width: 767px) {
            width: 100%;
            margin-top: 30px;
        }
        label {
            padding: 4px 15px;
            border-bottom: 1px dotted #d4d4d4;
            display: block;
        }
    }
}

table {
    background: #f3f3f3;
}

.addIndicator {
    textarea {
        height: 90px;
        max-width: 100%;
    }
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}

.rghtinput {
    width: 100%;
    float: left;
    max-width: 600px;
}

.inviteEmp {
    .alert {
        top: 36px;
    }
}

.itemName {
    word-break: break-all;
}

.toggleSwitch .slider i {
    font-weight: 500;
    font-size: 17px;
    font-family: Lato;
}

.add-content {
    padding: 15px;
    background: #f1f1f1;
    textarea.form-control {
        width: 100%;
        min-width: 100%;
        height: 90px;
    }
}

.form-group {
    margin-top: 10px;
}