<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/performance-appraisal-listing']">Performance appraisal</a></li>
                    <li class="breadcrumb-item active">{{formType}} performance appraisal</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="cmpnycontentBox">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="noResult && !isProcessing" class="row">
                <div class="col-sm-12">No result found</div>
            </div>
            <div *ngIf="!noResult && !isProcessing" class="row">
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline"></label>
                    </div>
                    <div class="rghtinput">
                        <div class="media">
                            <div class="media-left d-flex align-self-center  media-middle">
                                <img class="img-circle" height="40px" [src]="userData?.imageUrl" width="40px">
                            </div>
                            <div class="align-self-center  media-right text-left">
                                <h5 style="margin: 0;">{{userData?.name}}</h5>
                                <div class="designation">{{userData?.position}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Assigned Manager</label>
                    </div>
                    <div class="rghtinput10">
                        <div class="rghtinput">
                            <div class="inviteEmp">
                                <angular2-multiselect name="manager" #manager="ngModel" [data]="managerList" [(ngModel)]="selectedManager" [settings]="dropdownSettings2" [selectedItems]="selectedManager" required>
                                </angular2-multiselect>
                                <div *ngIf="submitted">
                                    <div class="color-danger" [hidden]="manager.valid"> Please select a manager. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Assessment Date</label>
                    </div>
                    <div class="rghtinput10">
                        <div class="rghtinput">
                            <div class="inviteEmp">
                                <dp-date-picker class="form-control" name="dt" #dt="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="assessmentDate" [config]="config" placeholder="Assessment date" [required]="true"></dp-date-picker>
                                <div *ngIf="dt.touched || submitted">
                                    <div class="color-danger" [hidden]="dt.valid"> Please select the assessment date. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <h5 class="heading">KPIs</h5>
                    <div class="table-responsive">
                        <table class="table full-width table-border" style="background: transparent;">
                            <thead>
                                <tr>
                                    <th>Performance indicator</th>
                                    <th>Measurement performance indicator</th>
                                    <!-- <th style="width: 140px">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of pa?.performanceIndicator;let i=index;">
                                    <td>
                                        {{item?.title}}
                                        <!-- <input type="text" class="form-control" [(ngModel)]="item.indicator"> -->
                                    </td>
                                    <td>
                                        {{item?.measure}}
                                        <!-- <input type="text" class="form-control" [(ngModel)]="item.measure"> -->
                                    </td>
                                    <!-- <td>
                                        <button class="btn btn-danger" (click)="deleteKpi(i)">Delete</button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- <button class="btn btn-success pull-right" (click)="addMoreKpis()">Add <i class="fa fa-plus"></i></button> -->
                    </div>
                    <br>
                    <h5 class="heading">Create/Add survey questions</h5>
                    <div class="tableWrapper">
                        <table class="table">
                            <thead>
                                <!-- <th></th> -->
                                <th>S.no</th>
                                <th>List of questions</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let qsn of pa?.question; let i=index;">
                                    <!-- <td>
                                        <div class="customchkbox">
                                            <input id="{{i}}" type="checkbox" value="{{i}}" class="required" aria-required="true">
                                            <label for="{{i}}"></label>
                                        </div>
                                    </td> -->
                                    <td>{{i+1}}</td>
                                    <td>{{qsn?.questionTitle}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="color-danger" *ngIf="submitted && !pa.question.length">Please add any survey question.</div>
                    </div>
                    <br>
                    <div *ngIf="questionBox.editMode" class="col-sm-12">

                        <div class="form-group add-content text-center chooseQuestion">
                            <angular2-multiselect name="adminQsn" style="display: inline-block;min-width: 600px;text-align: center;" [data]="saQuestions" [(ngModel)]="selectedQuestions" [settings]="dropdownSettings" [selectedItems]="selectedQuestions" (onSelect)="onSelectQuestion($event)"
                                (onDeSelect)="onDeSelectQuestion($event)">
                            </angular2-multiselect>

                            <h5 class="text-center heading col-sm-12"><br>OR</h5>

                            <textarea name="questionTitle" autofocus placeholder="Enter your question here.." [(ngModel)]="questionBox.questionTitle" class="full-width form-control"></textarea>
                            <br>
                            <md-progress-spinner class="pull-right" *ngIf="isProcessingQsn" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isProcessingQsn" type="button" (click)="saveQuestion()" class="btn btn-primary pull-right">Save</button>
                            <!-- <button *ngIf="questionBox.editMode" (click)="resetQuestionBox(!questionBox.editMode);" type="button" class="btn btn-primary pull-right">Cancel</button> -->
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <a style="margin-bottom:10px;" href="javascript:void(0)" (click)="resetQuestionBox(!questionBox.editMode);" class="pull-right color-info">(+) Add new question</a>
                    </div>
                    <!-- <div class="form-group addIndicator">
                        <textarea class="form-control" [(ngModel)]="addquestionTextarea" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus sem sit amet erat ultricies imperdiet. Ut sed imperdiet nulla, sed finibus velit. Proin pellentesque metus ut sagittis tempor. Nullam elementum pellentesque tellus sit amet faucibus. Etiam pulvinar nulla quis erat porta, et volutpat magna faucibus. Pellentesque eleifend lacus at leo tincidunt convallis. Nam volutpat blandit nisi nec vehicula. Donec ligula ipsum, feugiat non diam sed, ornare pulvinar eros. Donec lobortis pellentesque laoreet. Curabitur accumsan semper consectetur."></textarea>
                        <br>
                        <button class="btn btn-primary pull-right" (click)="addQuestions(addquestionTextarea)">Add <i class="fa fa-plus"></i></button>
                    </div> -->

                </div>
                <br>
                <br>
                <div class="col-sm-12 clearfix">
                    <div class="box form-group">
                        <h5 class="heading">Invite third party
                            <div class="toggleSwitch pull-right">
                                <label class="switch">
                                    <input type="checkbox" (click)="onChangeSwitch($event)">
                                    <span class="slider round">
                                    <i class="chk">On</i>
                                    <i class="unchk">Off</i>
                                    </span>
                                </label>
                            </div>

                        </h5>

                        <div *ngIf="formType=='Edit'" class="lftinpt10">
                            <label class="form-inline">Third parties</label>
                        </div>
                        <div *ngIf="formType=='Edit'" class="rghtinput10">
                            <div class="rghtinput">
                                <p *ngIf="!thirdParty.length">Not specified</p>
                                <div style="display: flex;" *ngFor="let user of thirdParty">
                                    <div *ngIf="user?.userData" class="media-left d-flex align-self-center  media-middle">
                                        <img class="img-circle" height="40px" [src]="user?.userData?.imageUrl" width="40px">
                                    </div>
                                    <div *ngIf="user?.userData" class="align-self-center  media-right text-left">
                                        {{user?.userData?.name}}
                                        <span class="tag">{{user?.userData?.position || 'Not specified'}}</span>
                                    </div>
                                    <div *ngIf="!user?.userData" class="align-self-center  media-right text-left">
                                        {{user?.email}}
                                        <!-- <span class="tag">{{user?.userID?.position || 'Not specified'}}</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lftinpt10">
                            <label class="form-inline" style="margin-top:35px;">Invite 3rd party</label>
                        </div>
                        <div class="rghtinput10">
                            <div class="rghtinput">
                                <div class="inviteEmp">
                                    <my-multi-select [itemList]="itemList" [modelName]="modelName" [disabled]="!active" (onItemSelected)="onItemSelected($event)"></my-multi-select>
                                    <div class="color-danger" *ngIf="submitted && active && !isItemSelected()">Please select a third party.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isSubmiting" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isSubmiting" class="col-sm-12 text-center">
                    <button class="btn btn-primary" (click)="submitted=true;createPerformanceAppraisal()">{{formType=='Edit'?'Update':'Create'}} performance appraisal</button>
                </div>
            </div>
        </div>
    </div>
</div>