.contractDetails{
    padding:0px 15px 20px;
    h5{margin:0;}
    .cmpnycontentBox{padding:20px; margin-bottom:12px;}
    .tableWrapper{
        table{
            border:0;
            tr{
                border:0;
                background:transparent;
            }
        }
    }
    .innerBox{
        .subhead{
            padding:12px 15px;
            color:#333;
            background:#cfcfcf;
            a{
                color:#333;
            }
        }
    }
   
}
td.rows {
    width: 172px;
}
.toplinks .btn{
    margin:15px 0;
}

@media screen and (max-width:991px){
    .contractDetails .subhead .btn{ margin-bottom:15px;}
}
@media screen and (max-width:767px){
    .contractDetails .subhead .btn{margin-top:0;}
}

.newContract  form > div:nth-child(n+1) {
   border-top: 1px solid #eaeaea;
    margin-top: 26px;
    box-shadow: 1px -2px 16px -10px #171717;

}
.newContract  form > div:first-child{
    border-top:0 ;
    margin-top:0;
    box-shadow:none;
}

.newContract  form > div:last-child{
    border-top:0;
    box-shadow:none;
}
.pull-right.deleteBtn a {
    background: #ff8383;
    color: #fff;
    padding: 7px 13px 8px;
    border-radius: 10px 1px 1px 10px;
    top: 26px;
    position: relative;
    right: -20px;
    z-index: 9;
    font-size: 16px;
    box-shadow: 1px 5px 6px -3px #bfbfbf;
}
.pull-right.deleteBtn a:after {
    content: '';
    position: absolute;
    height: 33px;
    width: 6px;
    background: #b98c8c;
    z-index: -7;
    top: 4px;
    right: 0;
    border-radius: 12px 0 10px 0px;
}