<section class="contractDetails innerAdmins">
    <div class="subhead row">
        <h4 class="heading" [hidden]="true">Contract details</h4>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a routerLink="/app/company-admin/{{subUrl}}contract">Contract</a></li>
        <li class="breadcrumb-item active">Contract details</li>
    </ol>
    <div class="full-width toplinks text-right">
        <button class="btn btn-primary" *ngIf="!isHHRContract" style="margin-right:7px;" (click)="onVersions()">Versions</button>
        <a *ngIf="!isHHRContract && !isSubCompany" href="javascript:void(0)" (click)="OnEdit()" class="btn btn-special">Edit <span class="fa fa-pencil"></span></a>
    </div>
    <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

    <div *ngIf="!isProcessing" class="cmpnycontentBox">
        <div class="box">
            <div class="full-width toplinks">
                <!--<label>Last updated on: {{contract?.updateTime | dateFormat }}</label>&nbsp;&nbsp;-->
                <label>{{contract?.version}}</label>&nbsp;&nbsp;
                <label style="margin-right:5px;">{{contract?.status}}</label>
            </div>
            <div class="tableWrapper">
                <table class="full-width details">
                    <tr>
                        <td class="rows" style="width:140px;"><b>Contract title</b></td>
                        <td>{{contract?.title}}</td>
                        <tr>
                            <td class="rows" style="width:140px; vertical-align:top;"><b>Description</b></td>
                            <td>
                                <div [innerHTML]="contract.description"> </div>
                            </td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="collapseInfoBox" *ngFor="let x of contract.contractSubjects; let i=index;">
            <h4 (click)="tgl[i]=!tgl[i]" [ngClass]="{active:tgl[i]}">{{x.title}}<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
            <div [ngClass]="{open:tgl[i]}" class="collapseContentbox">
                <div class="col-sm-12">
                    <div [innerHTML]="x.description"></div>
                </div>
            </div>
        </div>

        <div class="newContract cmpnycontentBox" *ngIf="addMoreSubjectsBox" [ngClass]="{'odd':count%2==0,'even':count%2==1}">
            <md-progress-spinner style="margin-top:20px;" *ngIf="isSaveProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <form *ngIf="!isSaveProcessing && addMoreSubjectsBox" #addSubject="ngForm">
                <div *ngFor="let c of newContractSubject.contractSubjects; let i =index">

                    <div class="subhead full-width">
                        <div *ngIf="newContractSubject.contractSubjects.length>1" class="pull-right deleteBtn">
                            <a (click)="onDeleteSubjects(i)" href="javascript:void(0)" class="color-danger">
                                <i class="fa fa-trash-o"></i></a>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required myNoSpaces #title="ngModel" [(ngModel)]="c.title" name="title{{i}}" placeholder="Enter subject name" />
                            <div *ngIf="title.errors && (title.dirty || title.touched)">
                                <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                                    Title is required !
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="quillEditor full-width">
                        <quill-editor [(ngModel)]="c.description" myNoSpaces #discription="ngModel" name="discription{{i}}" required>
                            <div quill-editor-toolbar>
                                <span class="ql-formats">
                      <button class="ql-bold" [title]="'Bold'"></button>
                      <button class="ql-italic" [title]="'Italic'"></button>
                      <button class="ql-underline" [title]="'Underline'"></button>
                      <button class="ql-strike" [title]="'Strike'"></button>
                  </span>

                                <span class="ql-formats">
                      <button class="ql-blockquote" [title]="'Block Quote'"></button>
                        <button class="ql-code-block" [title]="'Code Block'"></button>
                  </span>
                                <span class="ql-formats">
                    <button class="ql-header" value="1" [title]="'Header 1'"></button>
                    <button class="ql-header" value="2" [title]="'Header 2'"></button>
                  </span>

                                <span class="ql-formats">
                    <button class="ql-list" value="ordered" [title]="'Ordered List'"></button>
                    <button class="ql-list" value="bullet" [title]="'Bullet List'"></button>
                  </span>

                                <span class="ql-formats">
                    <button class="ql-script" value="sub"[title]="'Subscript'"></button>
                    <button class="ql-script" value="super"[title]="'Superscript'"></button>
                  </span>
                                <span class="ql-formats">
                    <button class="ql-indent"  value="-1" [title]="'Indent'"></button>
                      <button class="ql-indent"  value="+1" [title]="'Indent'"></button>
                  </span>

                                <span class="ql-formats">
                    <button class="ql-direction" value="rtl" [title]="'Direction'"></button>
                    </span>

                                <span class="ql-formats">
                      <select class="ql-size" [title]="'Size'">
                        <option value="small"></option>
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                      </select>
                    </span>

                                <span class="ql-formats">
                      <select class="ql-header" [title]="'Header'">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                        <option value="4"></option>
                        <option value="5"></option>
                        <option value="6"></option>
                        <option selected></option>
                      </select>
                    </span>
                                <span class="ql-formats">
                      <select class="ql-color" [title]="'Color picker'">
                        <option value="#ffffff"></option>
                        <option value="#00000"></option>
                        <option value="#e34fff"></option>
                        <option value="#a34565"></option>
                        <option value="#dd4545"></option>
                        <option selected></option>
                      </select>
                    </span>
                                <span class="ql-formats">
                      <select class="ql-background" [title]="'Background Color Picker'">
                        <option value="#ffffff"></option>
                        <option value="#00000"></option>
                        <option value="#e34fff"></option>
                        <option value="#a34565"></option>
                        <option value="#dd4545"></option>
                        <option selected></option>
                      </select>
                  </span>

                                <span class="ql-formats">
                    <select class="ql-font" [title]="'Font'">
                      <option selected></option>
                      <option value="serif"></option>
                      <option value="monospace"></option>
                    </select>
                  </span>

                                <span class="ql-formats">
                <select class="ql-align" [title]="'Alignment'">
                  <option selected></option>
                  <option value="center"></option>
                  <option value="right"></option>
                  <option value="justify"></option>
                </select>
              </span>

                                <span class="ql-formats">
              <button class="ql-clean" [title]="'Clean'"></button>
            </span>
                                <span class="ql-formats">
              <button class="ql-link" [title]="'Link'"></button>
                <button class="ql-image" [title]="'Image'"></button>
                <button class="ql-video" [title]="'Video'"></button>
            </span>

                            </div>
                        </quill-editor>
                        <div *ngIf="discription.errors && (discription.dirty || discription.touched)">
                            <div class="alert alert-danger" [hidden]="!(discription.errors.required || discription.errors.whitespace)">
                                Description is required !
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="divfooter full-width">
                    <button class="btn btn-primary" [disabled]="!addSubject.form.valid" (click)="onSave(addSubject.form.valid)">Save</button>
                    <button class="btn btn-default" (click)="onAddMore()">Add more</button>
                    <button class="btn btn-default" (click)="onCancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="footerDiv text-center" *ngIf="!isSaveProcessing">
            <div *ngIf="!isHHRContract">
                <a *ngIf="!addMoreSubjectsBox && contract.isNative" href="javascript:void(0)" (click)="addNewSubjects()" class="pull-right">Add new contract subjects
          <span class="fa fa-angle-double-right"></span>
      </a>
            </div>
            <br>
            <button *ngIf="!isHHRContract" (click)="onPreview()" class="btn btn-primary btn-lg">Preview document</button>
        </div>
    </div>
</section>