<section class="app-header">
    <div class="app-header-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-dark': AppConfig.colorOption === '31',
                     'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                     'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

        <div class="hidden-lg-up float-left">
            <button md-button myToggleOffcanvasNav class="md-button header-icon toggle-sidebar-btn">
                <i class="material-icons">menu</i>
            </button>
        </div>


        <div class="brand hidden-md-down">
            <h2><a [routerLink]="['/']">{{AppConfig?.brand}}</a></h2>
        </div>
        <h4 *ngIf="role!='superAdmin'" class="header-title">{{AppConfig?.heading}}</h4>
        <div class="toggleBtn">
            <a href="javascript:void(0)" (click)="toogleHeaderMenu =! toogleHeaderMenu"><i class="material-icons">more_vert</i></a>
        </div>
        <span class="modulesBtn" *ngIf="AppConfig.canSwitch || AppConfig.subRole">
            <button *ngIf="oldUserRole!='companyContractor'" [ngClass]="(AppConfig.role=='companyEmployee' )?'active':'inactive'" class="btn" (click)="onRoleChange('employee')">Employee</button>
            <button *ngIf="oldUserRole=='companyContractor'" [ngClass]="(AppConfig.role=='companyContractor')?'active':'inactive'" class="btn" (click)="onRoleChange('SubContractor')">Sub-contractor</button>            
            <button [ngClass]="(AppConfig.role=='companyManager')?'active':'inactive'" *ngIf="AppConfig.canSwitch" class="btn" (click)="onRoleChange('manager')">Manager</button>
            <button [ngClass]="(AppConfig.role=='companyAdmin' || AppConfig.role=='companyManager')?'active':'inactive'" *ngIf="AppConfig.subRole" class="btn" (click)="onRoleChange(AppConfig.subRole)"> {{ checkName() }}</button>
        </span>
        <div class="tophHeaderToggle float-right" *ngIf="toogleHeaderMenu">
            <div class="top-nav-right">
                <ul class="list-unstyled float-right">
                    <li class="headerList dropdown">
                        <button md-button class="md-button header-btn dropdown-toggle" data-toggle="dropdown">
                            <img [src]="AppConfig.imageUrl" alt="" class="rounded img30_30">
                            <span class="name" [ngClass]="(role=='companyEmployee' && (activityStatus?.contract == 'Pending' || activityStatus?.position == 'Pending')) ? 'text-danger':''">{{name || 'John'}} <i class="fa fa-angle-down"></i></span>
                        </button>
                        <div class="dropdown-menu headerDroapdown">
                            <ul class="usersetting">
                                <li *ngIf="messagePermission" (click)="myProfileClick()">My profile</li>
                                <!-- <li (click)="UACClick()">User access control</li> -->
                                <!-- <li (click)="settingClick()">Settings</li> -->
                                <!-- <li *ngIf="role!='superAdmin'" (click)="paymentClick()">payments</li> -->
                                <!-- <li *ngIf="role!='superAdmin'" (click)="subscriptionClick()">Subscription</li> -->
                                <!-- <li *ngIf="role!='superAdmin'" (click)="suppportClick()">Support</li> -->
                                <li *ngIf="role=='companyAdmin'" (click)="onClick()">Feedback</li>
                                <li *ngIf="role=='companyAdmin'" (click)="onDownloadUserManual()">Download user manual</li>
                                <li *ngIf="role=='companyEmployee'" (click)="onChangePassword()">Change password</li>
                                <li (click)="logout()">Logout</li>
                            </ul>
                            <div *ngIf="role=='companyEmployee'" class="otherInfo">
                                    <h4 *ngIf="(activityStatus?.contract != 'Complete') || (activityStatus?.position != 'Complete')" class="heading">Profile completeness</h4>
                                    <md-progress-spinner *ngIf="activityStatusProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!activityStatusProcessing" class="actionStats clearfix">
                                        <li *ngIf="(activityStatus?.contract != 'Complete') && !isSubCompany">
                                            <div class="ststsInfo"><span style="cursor: pointer" (click)="onPendingActivitesActionEmp('CONTRACTS')">Contracts</span> – all need to be accepted</div>
                                        </li>
                                        <li *ngIf="(activityStatus?.position != 'Complete') && !isSubCompany">
                                            <div class="ststsInfo"><span style="cursor: pointer" (click)="onPendingActivitesActionEmp('POSITIONS')">Positions</span> – all needs to be accepted</div>
                                        </li> 
                                    </ul>
                                </div>
                            <div *ngIf="role=='companyAdmin'" class="otherInfo">
                                <h4 *ngIf="(activityStatus?.contract != 'Complete') || (activityStatus?.policy != 'Complete') || (activityStatus?.position != 'Complete') || (activityStatus?.orgChart != 'Complete')" class="heading">Profile completeness</h4>
                                <md-progress-spinner *ngIf="activityStatusProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <ul *ngIf="!activityStatusProcessing" class="actionStats clearfix">
                                    <li *ngIf="(activityStatus?.contract != 'Complete') && !isSubCompany">
                                        <div class="ststsInfo"><span style="cursor: pointer" (click)="onPendingActivitesAction('CONTRACTS')">Contracts</span> – all need to be accepted</div>
                                    </li>
                                    <li *ngIf="(activityStatus?.policy != 'Complete') && !isSubCompany">
                                        <div class="ststsInfo"><span style="cursor: pointer" (click)="onPendingActivitesAction('POLICIES')">Policies</span> – all policies need to be accepted</div>
                                    </li>
                                    <li *ngIf="(activityStatus?.position != 'Complete') && !isSubCompany">
                                        <div class="ststsInfo"><span style="cursor: pointer" (click)="onPendingActivitesAction('POSITIONS')">Positions</span> – one needs to be created</div>
                                    </li>
                                    <li *ngIf="activityStatus?.orgChart != 'Complete'">
                                        <div class="ststsInfo"><span style="cursor: pointer" (click)="onPendingActivitesAction('ORGCHART')">Org chart</span> – one person needs to be invited</div>
                                        <!--<div class="percentage">(Verification)</div>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul *ngIf="role=='superAdmin'" class="list-unstyled countryDD float-right">
                    <li>
                        <button *ngIf="selectedCountry!='157'" md-button class="md-button header-btn" [mdMenuTriggerFor]="countrySelect">
                                    Australia <img src="assets/images/australia-flag.png"/>
                                 </button>
                        <button *ngIf="selectedCountry=='157'" md-button class="md-button header-btn" [mdMenuTriggerFor]="countrySelect">
                                         New Zealand <img src="assets/images/newzeland-flag.png"/>
                                      </button>
                        <md-menu #countrySelect="mdMenu" x-position="after" y-position="below" overlapTrigger="false">
                            <md-list class="usersetting countryDDlist">
                                <md-list-item *ngFor="let country of countryList;let i=index">
                                    <h4 md-line><span (click)="selectCountry(country)">{{country.title}}</span> <img src="{{country.flag}}" /></h4>
                                </md-list-item>
                                <!-- <md-list-item>
                                             <h4 md-line><span>New Zealand</span> <img src="assets/images/newzeland-flag.png" /></h4>
                                         </md-list-item> -->
                            </md-list>
                        </md-menu>
                        <!-- <button md-button class="md-button header-btn" [mdMenuTriggerFor]="countrySelect">
                        Australia <img src="assets/images/australia-flag.png"/>
                        </button>
                        <md-menu #countrySelect="mdMenu" x-position="after" y-position="below" overlapTrigger="false">
                            <md-list class="usersetting countryDDlist">
                                <md-list-item>
                                    <h4 md-line><span>Australia</span> <img src="assets/images/australia-flag.png" /></h4>
                                </md-list-item>
                                <md-list-item>
                                    <h4 md-line><span>New Zealand</span> <img src="assets/images/newzeland-flag.png" /></h4>
                                </md-list-item>
                            </md-list>
                        </md-menu> -->
                    </li>
                    <li><button md-button class="md-button header-btn hidden-lg-up" myOpenSearchOverlay><i class="material-icons">search</i></button></li>
                    <!-- <li><button md-button class="md-button header-btn"><i class="material-icons">more_vert</i></button></li> -->
                </ul>
            </div>
            <div *ngIf="messagePermission && (role!='companyContractor')" class="top-nav-left float-right">
                <ul class="list-unstyled list-inline">
                    <!--<li class="list-inline-item"><button md-button class="md-button header-btn" myOpenSearchOverlay><i class="material-icons">search</i></button></li>-->
                    <li class="list-inline-item">
                        <button md-button class="md-button header-btn" (click)="changeUnseenStatus()" [mdMenuTriggerFor]="appNotification">
                            <i class="fa fa-bell"  aria-hidden="true"></i>
                            <span *ngIf="unSeenNoti.length" class="badge">{{unSeenNoti.length}}</span>
                        </button>
                        <md-menu #appNotification="mdMenu" x-position="after" y-position="below" overlapTrigger="false">
                            <md-list dense>
                                <md-list-item *ngFor="let noti of notiList">
                                    <h4 md-line [innerHTML]="noti.message"></h4>
                                    <p md-line class="text-muted">{{formateDate(noti.insertTime)}}</p>
                                </md-list-item>
                                <md-list-item>
                                    <div class="color-info cursor" (click)="seeMoreRoute()">Show more</div>
                                </md-list-item>
                            </md-list>
                        </md-menu>
                    </li>
                </ul>
            </div>
            <div *ngIf="messagePermission" class="top-nav-left messagesList float-right">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <button md-button (click)="userUnreadMessagesCount=0;" class="md-button header-btn" (click)="onMessageIconClick()">
                            <i class="material-icons">message</i>   
                            <span class="badge" *ngIf="userUnreadMessagesCount">{{userUnreadMessagesCount}}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>