//
// Base styles
//

// alert css variables
$alert-success: #caf4e6;
$alert-success-outborder: #caf4e6;
$alert-success-txt: #007f51;

$alert-warning: #fbefc9;
$alert-warning-outborder: #fbefc9;
$alert-warning-txt: #f69e32;

$alert-danger: #fedada;
$alert-danger-outborder: #fedada;
$alert-danger-txt: #d53a38;

$alert-primary: #d0edfd;
$alert-primary-outborder: #d0edfd;
$alert-primary-txt: #2c97dd;

.alert {
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  // Adjust close link position
  .close {
    position: relative;
    top: -$alert-padding-y;
    right: -$alert-padding-x;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($alert-success, $alert-success-outborder, $alert-success-txt);
}
.alert-primary {
  @include alert-variant($alert-primary, $alert-primary-outborder, $alert-primary-txt);
}
.alert-warning {
  @include alert-variant($alert-warning, $alert-warning-outborder, $alert-warning-txt);
}
.alert-danger {
  @include alert-variant($alert-danger, $alert-danger-outborder, $alert-danger-txt);
}
