// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

$badge-warning: #f69e32 ;
$badge-special: #8a89d9;
$badge-danger :#ff8383;
$badge-default :#c3c3cd;

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: 80%;
  font-weight: $badge-font-weight;
  line-height: 1;
  padding: 6px 6px;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius();

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}
.badge.flat{
    @include border-radius(0px);
}
// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// scss-lint:disable QualifyingElement
// Add hover effects, but only for links
a.badge {
  @include hover-focus {
    color: $badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
// scss-lint:enable QualifyingElement

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: 0.8em;
  padding-left: 0.8em;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

.badge-default {
  @include badge-variant($badge-default);
}

.badge-primary {
  @include badge-variant($badge-primary-bg);
}

.badge-success {
  @include badge-variant($badge-success-bg);
}

.badge-info {
  @include badge-variant($badge-info-bg);
}

.badge-warning {
  @include badge-variant($badge-warning);
}

.badge-danger {
  @include badge-variant($badge-danger);
}

.badge-special {
  @include badge-variant($badge-special);
}


.label{
    padding: 5px 12px;
    font-size:15px;
    color:#ffffff;
}
.label-default {
  @include badge-variant($badge-default);
}

.label-primary {
  @include badge-variant($badge-primary-bg);
}

.label-success {
  @include badge-variant($badge-success-bg);
}

.label-info {
  @include badge-variant($badge-info-bg);
}

.label-warning {
  @include badge-variant($badge-warning);
}

.label-danger {
  @include badge-variant($badge-danger);
}

.label-special {
  @include badge-variant($badge-special);
}