<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/app/company-admin']">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active">Performance appraisal & direct assessment listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <!-- <div class="row">
                        <div class="col-sm-12"><button class="btn btn-special"><i class="fa fa-angle-double-left"></i> Activities & approvals</button></div>
                    </div>
                    <br> -->
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <!-- <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <form name="searchForm" #searchForm="ngForm" (ngSubmit)="getPaList()">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="srch" [(ngModel)]="filter.search" placeholder="Search users" />
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="filter">
                                <button style="width:120px;margin-bottom:10px;" [ngClass]="{active:toggleFilter}" class="btn text-left btn-filter" (click)="toggleFilter=!toggleFilter">Filters
                                    <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa pull-right"></i>
                                </button>
                                <button style="margin-bottom:10px;" class=" btn btn-success" (click)="onPopUp('performanceAppraisal')">Create performance appraisal
                                    <span class="fa fa-plus"></span>
                                </button>
                                <button style="margin-bottom:10px;" class=" btn btn-success" (click)="onPopUp('directAssessmentPA')">Conduct direct assessment
                                    <span class="fa fa-plus"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController perfAppraisalList row" style="margin-top:5px;">

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised against</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="empSearch['raisedAgainst']" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedAgainst']">
                                            <label>
                                                <input type="checkbox" (change)="onCheckEmp($event,emp?.userId,'userID')" />
                                                <span>{{emp?.name}}</span>
                                            </label>
                                        </li>
                                        <li *ngIf="!employeeList.length">No result found.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Assigned manager</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="empSearch['raisedBy']" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of managerList | searchBy: 'name' : empSearch['raisedBy']">
                                            <label>
                                                <input type="checkbox" (change)="onCheckEmp($event,emp?.userId,'managerID')" />
                                                <span>{{emp?.name}}</span>
                                            </label>
                                        </li>
                                        <li *ngIf="!managerList.length">No result found.</li>
                                    </ul>
                                </div>
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised by</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of positionList">
                                            <label><input type="checkbox"/><span>{{item}}</span></label>
                                        </li>
                                    </ul>
                                </div> -->
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li>
                                            <label>
                                                <input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Complete']" />
                                                <span>Complete</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Awaiting Employee Acceptance']" />
                                                <span>Awaiting Employee Acceptance</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Awaiting Manager Response']" />
                                                <span>Awaiting Manager Response</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Under Assessment']" />
                                                <span>Under Assessment</span>
                                            </label>
                                        </li>

                                    </ul>
                                </div>
                                <button (click)="isChecked && getPaList()" class="btn outlined" [ngClass]="{'btn-filter btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table class="full-width table" [mfData]="paList" #mf="mfDataTable" [mfRowsOnPage]="10" style="min-width: 950px;">
                        <thead>
                            <!-- <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th> -->
                            <th>
                                <mfDefaultSorter by="pa.userID.name">Given to &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="pa.managerID.name">Given by &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="title">Self assessment date &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="title">Status &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <!-- <th style="width:142px;">Details</th> -->
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pa of mf.data">
                                <!-- <td{{pa.title}}</td> -->
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" [src]="pa?.userID?.imageUrl" height="40px" width="40px" />
                                        </div>
                                        <div class="d-flex align-self-center  media-right">{{pa?.userID?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="isValidData(pa?.managerID)" class="media">
                                        <div class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" [src]="pa?.managerID?.imageUrl" height="40px" width="40px">
                                        </div>
                                        <div class="d-flex align-self-center  media-right">{{pa?.managerID?.name}}</div>
                                    </div>
                                    <span *ngIf="!isValidData(pa?.managerID)">Not specified</span>
                                </td>
                                <td>{{formatDateTime(pa?.assessmentDate)}}</td>
                                <td>{{pa?.status}}</td>
                                <!-- <td><button class="btn btn-default" (click)="viewDetail(pa)">View details</button></td> -->
                                <td>
                                    <div class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="pa.status=='Awaiting Employee Acceptance'" class="dropdown-item btn-none color-primary" [routerLink]="['/app/company-admin/performance-appraisal/edit',pa?.performaceAppraisalID]">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp; Edit</button>
                                            <button *ngIf="pa.status=='Awaiting Manager Response'" class="dropdown-item btn-none color-primary" [routerLink]="['/app/company-admin/performance-appraisal/assessment-by-employee',pa?.performaceAppraisalID]">
                                                <i class="fa fa-eye"></i>&nbsp;&nbsp; View employee response</button>
                                            <!-- *ngIf="pa.status=='Awaiting Employee Acceptance' || pa.status=='Awaiting Manager Response'"  -->
                                            <button *ngIf="pa.status!=='Complete' && pa.status!='Terminated'" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-appraisal/direct-assessment', pa?.performaceAppraisalID]">
                                                <i class="fa fa-file-text-o"></i>&nbsp;&nbsp; Direct assessment</button>
                                            <button *ngIf="pa.status=='Awaiting Manager Response' || pa.status=='Under Assessment'" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-appraisal/assessment-by-manager', pa?.performaceAppraisalID]">
                                                <i class="fa fa-file-text-o"></i>&nbsp;&nbsp; Assessment</button>
                                            <button *ngIf="pa.status=='Complete' || pa.status=='Terminated' " class="dropdown-item btn-none color-info" (click)="viewDetail(pa);">
                                                <i class="fa fa-eye"></i>&nbsp;&nbsp; View detail</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!paList.length" class="text-center">No record found.</div>
                </div>
            </div>
        </div>
    </div>
</div>