<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee/activites']">Activities and approvals </a></li>
                <li class="breadcrumb-item active">Development plan details</li>
            </ol>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing">
        <div class="row innerAdmins">
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <!--******************************************  OLD  DEVELOPMENT PLAN  ***************************************-->


        <div *ngFor="let developmentPlanOld of developmentPlanOld; let i =index" class="collapseInfoBox">
            <h4 *ngIf="developmentPlanOld" (click)="originalPIPToggle[i]=!originalPIPToggle[i]" [ngClass]="{active:originalPIPToggle[i]}">{{developmentPlanOld?.title}}
                <span class="float-right"><i class="fa fa-angle-down"></i></span>
                <div style="font-size: 14px; padding-right: 10px; margin-top: 4px;" class="float-right">Created on : {{developmentPlanOld?.insertTime| dateFormat}}</div>
                <div style="font-size: 16px; padding-right: 10px; margin-right: 8px;" class="float-right">V {{i+1}}</div>
            </h4>
            <div *ngIf="developmentPlanOld" class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle[i]}">
                <div class="col-md-12 PIPmainBox">
                    <div class="cmpnycontentBox">
                        <div class="pipHeader">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <h3 class="heading"> Development plan</h3>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Development for:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlanOld?.developmentFor?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlanOld?.developmentFor?.employee}}</h5>
                                                <div class="designation">{{developmentPlanOld?.developmentFor?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Assigned manager:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlanOld?.assinedBy?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlanOld?.assinedBy?.employee}}</h5>
                                                <div class="designation">{{developmentPlanOld?.assinedBy?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Involved third parties</div>
                                        <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapseOld}">
                                            <input readonly type="text" class="form-control" value="View third parties" (click)="invitelistCollapseOld=!invitelistCollapseOld">
                                            <ul class="inviteList" *ngIf="developmentPlanOld?.thirdParty?.length > 1" [ngClass]="{open:invitelistCollapseOld}">
                                                <li *ngFor="let c of developmentPlanOld.thirdParty ">
                                                    <img src="{{c.imageUrl}}" alt="">
                                                    <div class="empinfo">
                                                        <label>{{c.name}}</label>
                                                        <div class="userprofile">{{c.position || 'N/A'}}</div>
                                                    </div>
                                                </li>

                                            </ul>
                                            <!-- {{developmentPlanOld|json}} -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="PIPFormbox detailPIP">
                            <h5>{{developmentPlanOld?.title}}</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Training date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{developmentPlanOld?.trainingTime | dateFormat}} | {{developmentPlanOld?.trainingTime | dateFormat:'shortTime'}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assessment date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{developmentPlanOld?.assessmentTime | dateFormat}} | {{developmentPlanOld?.assessmentTime | dateFormat:'shortTime'}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10" [innerHTML]="developmentPlanOld.reason"> </div>
                                </div>

                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Action plan</label>
                                    </div>
                                    <div class="rghtinput10" [innerHTML]="developmentPlanOld.actionPlan">

                                        <div class="instruction moreTopGap">Created by {{developmentPlanOld?.assinedBy?.employee}} on {{developmentPlanOld?.insertTime | dateFormat}} | {{developmentPlanOld?.insertTime | dateFormat:'shortTime'}} </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Objective</label>
                                    </div>
                                    <div class="rghtinput10" [innerHTML]="developmentPlanOld.objective"> </div>
                                </div>
                            </div>
                        </div>


                        <!--***************************************************** employee notes ***********************************-->

                        <div *ngIf="!isProcessing && developmentPlanOld.employeeNote && (developmentPlanOld.employeeNote.length>0) " class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Employee notes</h5>
                            <div *ngIf="developmentPlanOld.employeeNote.length>0" class="full-width">
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of developmentPlanOld.employeeNote">
                                        <div class="notesList">
                                            <p class="white-space-pre">{{k.note}}</p>
                                            <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--*************************************************************************Training notes ***************************************************************-->
                        <div *ngIf="!isProcessing" class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Training notes</h5>
                            <div *ngIf="developmentPlanOld.trainingNote && developmentPlanOld.trainingNote.length>0" class="full-width">
                                <div class="full-width text-right">
                                    <span><i class="fa fa-caleder"></i>&nbsp; {{developmentPlanOld?.trainingTime| dateFormat}} at  {{developmentPlanOld?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of developmentPlanOld.trainingNote">
                                        <div class="notesList">
                                            <p class="white-space-pre">{{k.note}}</p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--*************************************************************************assessment notes ***************************************************************-->
                        <div *ngIf="!isProcessing" class="cmpnycontentBox trainingNotes">
                            <h5>Assessment notes</h5>
                            <div *ngIf="developmentPlanOld.assessmentNote && developmentPlanOld.assessmentNote.length>0">
                                <div class="full-width text-right">
                                    <span>{{developmentPlanOld?.assessmentTime| dateFormat:'longDate'}} at  {{developmentPlanOld?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of developmentPlanOld.assessmentNote">
                                        <div class="notesList">
                                            <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--<div class="cmpnycontentBox trainingNotes" *ngIf="developmentPlanOld.managerNote" >
                <h5>Training Notes</h5>
                <div class="row">
                  <div class=" col-sm-12 form-group">
                  <div class="lftinpt10">
                    <label class="form-inline">manager Notes</label>
                  </div>
                  <div class="rghtinput10" [innerHTML]="developmentPlanOld.managerNote">
                    
                    <div class="instruction moreTopGap">This event has been triggered on {{developmentPlanOld?.trainingTime | date}} | {{developmentPlanOld?.trainingTime | dateFormat:'shortTime'}}</div>
                  </div>
                </div>
                </div>
            </div>-->
                        <!--<div class="cmpnycontentBox trainingNotes assessmentbox" *ngIf="developmentPlanOld.assessmentNote">
                <h5>Assessment Notes</h5>
                <div class="row">
                <div class=" col-sm-12 form-group">
                  <div class="lftinpt10">
                    <label class="form-inline">Manager Notes</label>
                  </div>
                  <div class="rghtinput10" [innerHTML]="developmentPlanOld.assessmentNote" >
                  
                    <div class="instruction moreTopGap">Submitted by John Raonic on
                        {{developmentPlanOld?.assessmentTime | date}} | {{developmentPlanOld?.assessmentTime | dateFormat:'shortTime'}}                  
                        </div>
                    <div class="editAssessment">
                      <button class="btn btn-special btn-lg">Edit <i class="fa fa-pencil"></i></button>
                    </div>
                  </div>
                </div>
                </div>
            </div>-->
                        <div class="cmpnycontentBox trainingNotes" *ngIf="developmentPlanOld.result">
                            <h5>Result</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Result</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <span class="btn btn-special">{{developmentPlanOld?.result}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--******************************************  RE-ASSESSMENT  DEVELOPMENT PLAN  ***************************************-->
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">
                                    <span *ngIf="developmentPlanOld">Re-Assessment</span>
                                    <span *ngIf="!developmentPlanOld">Assessment</span>
                                </h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Development for:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{developmentPlan?.developmentFor?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{developmentPlan?.developmentFor?.employee}}</h5>
                                            <div class="designation">{{developmentPlan?.developmentFor?.employeeProfile}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{developmentPlan?.assinedBy?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{developmentPlan?.assinedBy?.employee}}</h5>
                                            <div class="designation">{{developmentPlan?.assinedBy?.employeeProfile}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved third parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input readonly type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                        <ul class="inviteList" *ngIf="developmentPlan?.thirdParty?.length > 1" [ngClass]="{open:invitelistCollapse}">
                                            <li *ngFor="let c of developmentPlan.thirdParty ">
                                                <img src="{{c.imageUrl}}" alt="">
                                                <div class="empinfo">
                                                    <label>{{c.name}}</label>
                                                    <div class="userprofile">{{c.position}}</div>
                                                </div>
                                            </li>

                                        </ul>
                                        <!-- {{developmentPlan | json}} -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox detailPIP">
                        <h5>{{developmentPlan?.title}}</h5>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training date</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{developmentPlan?.trainingTime | dateFormat}} | {{developmentPlan?.trainingTime | dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment date</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{developmentPlan?.assessmentTime | dateFormat}} | {{developmentPlan?.assessmentTime | dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10" [innerHTML]="developmentPlan.reason"> </div>
                            </div>

                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10" [innerHTML]="developmentPlan.actionPlan">

                                    <div class="instruction moreTopGap">Created by {{developmentPlan?.assinedBy?.employee}} on {{developmentPlan?.insertTime | dateFormat}} | {{developmentPlan?.insertTime | dateFormat:'shortTime'}} </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10" [innerHTML]="developmentPlan.objective"> </div>
                            </div>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isActionProcessing">
                        <div *ngIf="developmentPlan.status == 'Awaiting Employee Acceptance'" class="text-center">
                            <button (click)="onAccept(developmentPlan.developmentPlanID)" class="btn btn-primary btn-lg">Accept</button>
                            <button (click)="onResponseNote(developmentPlan.developmentPlanID)" style="margin:0px 7px;" class="btn btn-special btn-lg">Send a response note</button>
                            <!--<button (click)="onReSchedule(developmentPlan.developmentPlanID)" class="btn btn-default">Re-schedule</button>   -->
                        </div>
                    </div>




                    <!--<div class="cmpnycontentBox trainingNotes" *ngIf="developmentPlan.trainingNote.length" >
                <h5>Training Notes</h5>
                <div class="row">
                  <div class=" col-sm-12 form-group">
                  <div class="lftinpt10">
                    <label class="form-inline">Training Notes</label>
                  </div>
                  
                  <div class="rghtinput10" [innerHTML]="developmentPlan.trainingNote">
                    
                    <div class="instruction moreTopGap">This event has been triggered on {{developmentPlan?.trainingTime | date}} | {{developmentPlan?.trainingTime | dateFormat:'shortTime'}}</div>
                  </div>
                </div>
                </div>
            </div>
            <div class="cmpnycontentBox trainingNotes assessmentbox" *ngIf="developmentPlan.assessmentNote.length">
                <h5>Assessment Notes</h5>
                <div class="row">
                <div class=" col-sm-12 form-group">
                  <div class="lftinpt10">
                    <label class="form-inline">Manager Notes</label>
                  </div>
                  <div class="rghtinput10" [innerHTML]="developmentPlan.assessmentNote" >
                  
                    <div class="instruction moreTopGap">Submitted by John Raonic on
                        {{developmentPlan?.assessmentTime | date}} | {{developmentPlan?.assessmentTime | dateFormat:'shortTime'}}                  
                        </div>
                    <div class="editAssessment">
                      <button class="btn btn-special btn-lg">Edit <i class="fa fa-pencil"></i></button>
                    </div>
                  </div>
                </div>
                </div>
            </div>-->


                    <!--***************************************************** employee notes ***********************************-->

                    <div *ngIf="!isProcessing && developmentPlan.employeeNote && (developmentPlan.employeeNote.length>0) " class="cmpnycontentBox trainingNotes">
                        <h5 class="heading">Employee notes</h5>
                        <div *ngIf="developmentPlan.employeeNote.length>0" class="full-width">
                            <div class="box">
                                <div class="full-width" *ngFor="let k of developmentPlan.employeeNote">
                                    <div class="notesList">
                                        <p class="white-space-pre">{{k.note}}</p>
                                        <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--*************************************************************************Training notes ***************************************************************-->
                    <div *ngIf="!isProcessing && developmentPlan.trainingNote && developmentPlan.trainingNote.length>0" class="cmpnycontentBox trainingNotes">
                        <h5 class="heading">Training notes</h5>
                        <div class="full-width">
                            <div class="full-width text-right">
                                <span><i class="fa fa-caleder"></i>&nbsp; {{developmentPlan?.trainingTime| dateFormat}} at  {{developmentPlan?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                            </div>
                            <div class="box">
                                <div class="full-width" *ngFor="let k of developmentPlan.trainingNote">
                                    <div class="notesList">
                                        <p class="white-space-pre">{{k.note}}</p>
                                        <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--*************************************************************************assessment notes ***************************************************************-->
                    <div *ngIf="!isProcessing && developmentPlan.assessmentNote && developmentPlan.assessmentNote.length>0" class="cmpnycontentBox trainingNotes">
                        <h5>Assessment notes</h5>
                        <div>
                            <div class="full-width text-right">
                                <span>{{developmentPlan?.assessmentTime| dateFormat:'longDate'}} at  {{developmentPlan?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                            </div>
                            <div class="box">
                                <div class="full-width" *ngFor="let k of developmentPlan.assessmentNote">
                                    <div class="notesList">
                                        <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                        <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="cmpnycontentBox trainingNotes" *ngIf="developmentPlan.result">
                        <h5>Result</h5>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Result</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="btn btn-special">{{developmentPlan?.result}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>