.trainingNotes {
    &.assessmentbox {
        background: #ebebeb;
    }
    margin-top:25px;
    h5 {
        margin-top: 0px;
        font-weight: 600;
    }
    .instruction {
        color: #acacac;
        margin-top: 5px;
    }
    .form-group {
        .form-inline {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-right: 20px;
        }
    }
    .customChoice {
        display: inline-block;
        margin-right: 30px;
        margin-top: 10px;
    }
}

.marginTop {
    margin-top: 20px;
}

.editAssessment {
    float: right;
    .btn-special {
        color: #ffffff;
        font-weight: normal !important;
    }
}

.inviteEmpMain .inviteList.open {
    overflow: auto;
    max-height: 250px;
}