<div class="container-fluid chapter exitSurveyWrap">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">List of coupons
                    <button [routerLink]="['/app/super-admin/discount-coupon-management/new-coupon']" md-raised-button color="primary" class="theme-button btn-w-md float-right">
             <md-icon>add</md-icon>  Add new</button>
                </h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-12">
                <div class="box contentBox">
                    <div class="box box-default table-box table-responsive">
                        <table class="mdl-data-table" class="mdl-data-table" [mfData]="discountCoupons" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <!-- <th>
                                        <md-checkbox></md-checkbox>
                                    </th> -->
                                    <th>S.No.</th>
                                    <th>Coupon name</th>
                                    <th>Type (Employee/Support service)</th>
                                    <th>Coupon code</th>
                                    <th>Value (Employee/Support service)</th>
                                    <th>Max usage count</th>
                                    <th>Used till now</th>
                                    <th>Date of creation</th>
                                    <th>Valid till</th>
                                    <th>Last used</th>
                                    <th>Status</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of mf.data;let i=index ">
                                    <!-- <td>
                                        <md-checkbox></md-checkbox>
                                    </td> -->
                                    <td>{{i+1}}</td>
                                    <td>{{item?.couponName}}</td>
                                    <td>{{item?.couponType}}</td>
                                    <td>{{item?.couponCode}}</td>
                                    <td>{{item?.couponValue}}</td>
                                    <td>{{item?.couponMaxUseCount}}</td>
                                    <td>{{item?.userTillNow||0}}</td>
                                    <td>{{item?.couponCreateTime}}</td>
                                    <td>{{item?.couponTypeValidTill}}</td>
                                    <td>{{item?.lastUsed||"--"}}</td>
                                    <td>{{item?.couponStatus}}</td>
                                    <!-- <td *ngIf="item?.status=='1'">Active</td> -->
                                    <!-- <td>
                                        <button style="background:none;border:none;" (click)="onEdit(item.discountCouponID)" md-tooltip="Edit"> <md-icon class="theme-button btn-w-md cursor" >edit</md-icon></button>
                                        <button style="background:transparent;border:none;background-color: transparent !important;
                            color: #f00 !important;" (click)="onDelete(item.discountCouponID,i);$event.stopPropagation()"><md-icon class="cursor" md-tooltip="Delete" >delete</md-icon></button>
                                    </td> -->
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="13">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </article>
</div>