<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Trophy list</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-6 col-xl-10  col-lg-8">
                            <div class="empSrearch topSearchFilter">
                                <form name="searchForm" #searchForm="ngForm" (ngSubmit)="getTrophyList()">
                                    <div id="custom-search-input">
                                        <div class="input-group">
                                            <input type="text" name="searchKey" [(ngModel)]="searchKey" class="form-control" placeholder="Search trophy" />
                                            <span class="input-group-btn">
                        <button class="btn" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-6  col-xl-2 col-lg-4 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button *ngIf="permission?.add" class=" btn btn-success full-width" [routerLink]="['/app/company-admin/trophy/create-trophy']">Create trophy<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div class="tableWrapper" *ngIf="!isProcessing">
                    <table class="full-width table" #mf="mfDataTable" [mfData]="trophyList" [mfRowsOnPage]="10">
                        <thead>
                            <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="awardFor">Award for &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:150px;">Trophy</th>
                            <th style="width:150px;">
                                <mfDefaultSorter by="awardFor">Status &nbsp; <i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:130px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trophy of mf.data; let i=index;">
                                <td>{{trophy.title}}</td>
                                <td>{{trophy.awardFor}}</td>
                                <td class="text-center">
                                    <div class="trophyClr">
                                        <i class="fa fa-trophy"></i>
                                        <img [src]="trophy.icon" />
                                    </div>
                                </td>
                                <!-- <td class="text-center"><i class="fa fa-smile-o"></i></td> -->
                                <td>{{trophy.status}}</td>
                                <td style="width:130px;">
                                    <div class="dropdown actionDroapdown actionDDtbl">
                                        <button *ngIf="permission?.add || permission?.edit || permission?.delete" class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="permission?.edit" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/trophy/edit-trophy',trophy.trophyID]"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp; Edit</button>
                                            <button *ngIf="permission?.delete" class="dropdown-item btn-none color-danger" (click)="deleteTrophy(trophy)"><i class="fa fa-trash-o"></i>&nbsp;&nbsp; Delete</button>
                                            <!-- <button *ngIf="permission?.add" class="dropdown-item btn-none color-success" [routerLink]="['/app/company-admin/trophy/create-shout-out',trophy.trophyID]"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp; Create shout out</button> -->
                                            <button *ngIf="permission?.add && trophy.nominatedStatus=='No'" class="dropdown-item btn-none color-success" [routerLink]="['/app/company-admin/trophy/create-trophy-nominations', trophy.trophyID]"><i class="fa fa-bell-o"></i>&nbsp;&nbsp; Create nominations</button>
                                            <button *ngIf="permission?.add && trophy.nominatedStatus=='Yes'" class="dropdown-item btn-none color-warning" [routerLink]="['/app/company-admin/trophy/trophy-progress', trophy.trophyID]"><i class="fa fa-bullhorn"></i>&nbsp;&nbsp; Result</button>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="trophyList.length==0" class="text-center">
                        No record found !
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>