<div class="page-auth">
    <div class="main-body">
        
        <div class="logo text-center">
            <a href="javascript:void(0);"><img src="assets/images/logo.png"/></a>
        </div>
        <ng-template #resetPasswordPage>
        <div class="card bg-color-white">
            <div class="card-content">        
                    <h4>Reset password</h4>
                <form #userForm="ngForm" name="material_signup_form" class="md-form-auth form-validation" (ngSubmit)="submit((userForm.form.valid) && (user.confirmPassword == user.password))">
                    <fieldset>
                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">lock_outline</md-icon>
                                <input [(ngModel)]="user.password" 
                                        required mdInput 
                                        type="password"
                                        minlength="6"
                                        #password="ngModel" 
                                        name="password" placeholder="Password (Minimum 6 characters)">
                            </md-input-container>
                            <div *ngIf="password.errors && (password.dirty || password.touched)">
                                <div class="alert alert-danger" [hidden]="!password.errors.required">
                                Password is required.
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">lock_outline</md-icon>
                                <input [(ngModel)]="user.confirmPassword" 
                                        required mdInput 
                                        type="password"
                                        minlength="6"
                                        #confirmPassword="ngModel" 
                                        name="confirmPassword" placeholder="Confirm Password">
                            </md-input-container>
                            <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                                <div class="alert alert-danger" [hidden]="!confirmPassword.errors.required">
                                Confirm password is required.
                                </div>
                            </div>
                            <div *ngIf="(!(user.confirmPassword == user.password)) &&((password.dirty || password.touched) && (confirmPassword.dirty || confirmPassword.touched))">
                                <div class="alert alert-danger">
                                Please make sure your passwords match.
                                </div>
                            </div>
                        </div>
                        

                        <div class="divider divider-md"></div>
                        <button md-raised-button [disabled]="!userForm.form.valid || !(user.confirmPassword == user.password)" type="submit" color="primary" class="float-right">Submit</button>
                    </fieldset>
                </form>

                <div class="additional-info">
                   <span> <a [routerLink]="['/user/login']">Return to login</a></span>
                </div>
            </div>
        </div> 
    </ng-template>
    
    <div *ngIf="resetPasswordSuccess; else resetPasswordPage">
        <div class="card bg-color-white">
            <div class="card-content">          
                  <h6>Your Password has been changed successfully</h6>
                <div class="additional-info">
                    <span>Return to <a [routerLink]="['/user/login']">login</a></span>
                </div>
            </div>
    </div>
</div>
    </div>

    