<section class="bradcastPopUp">
    <h5 class="heading">Broadcast message</h5>
    <hr>
    <div class="row">
        <div class="col-12">
            <textarea class="form-control" rows="5" [(ngModel)]="message"></textarea>
        </div>
        <div class="col-6 col-md-4 col-lg-4 form-group"><label class="form-inline">Title</label></div>
        <div class="col-6 col-md-8 col-lg-8">{{trophy?.title}}</div>
        <div class="col-6 col-md-4 col-lg-4 form-group"><label class="form-inline">Award for</label></div>
        <div class="col-6 col-md-8 col-lg-8">{{trophy?.awardFor}}</div>
        <div class="col-6 col-md-4  col-lg-4 form-group"><label class="form-inline">Trophy</label></div>
        <div class="col-6 col-md-8 col-lg-8">
            <!--<figure><img [src]="trophy?.icon" [alt]="trophy?.title" style="max-height: 70px;" /></figure>-->
            <div class="trophyClr">
                <i class="fa fa-trophy"></i>
                <img [src]="trophy?.icon" [alt]="trophy?.title" />
            </div>
        </div>
        <div class="col-12 text-right buttonWrap">
            <button class="btn btn-success btn-lg" (click)="broadcast()">Post <i class="fa fa-paper-plane-o"></i></button>
            <button class="btn btn-default btn-lg" (click)="cancel()">Cancel</button>
        </div>

    </div>
</section>