.inviteEmpMain {
    .inviteList {
        margin: 0px;
        padding: 12px 0px;
        border: 1px solid #b7b7b7;
        border-top: 0px;
        border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -ms-border-radius: 0px 0px 5px 5px;
        position: absolute;
        width: 100%;
        background: #ffffff;
        z-index: 9;
        top: 36px;
        display: block;
        overflow: auto;
    }
    .selectedList {
        display: inline-block !important;
    }
    li {
        display: flex;
    }
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}