<div class="customDDmain">
    <div class="text-left">
        <div class="selectedList" *ngFor="let item of itemList">
            <div class="itemName" *ngIf="item.isSelected">
                {{item?.itemName}}
                <span style="margin-left:5px; cursor: pointer" (click)="onSelect(item)" class="fa fa-close"></span>
            </div>
        </div>
    </div>
    <div class="selectItems">
        <div class="inviteEmpMain" style="display:block !important; border:0;">
            <input class="form-control searchfield" placeholder="Select third party or enter third party email" name="daste" type="text" (keyup.enter)="onEnterExternalThirdParty(!(email.errors && ( (email.dirty || email.touched) || isEnterPressed  )))" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                (ngModelChange)="isEnterPressed=false" [(ngModel)]="modelName" #email="ngModel" (click)="isFocused=!isFocused" aria-describedby="basic-addon1" [disabled]="disabled">

            <span class="input-group-btn userIconbtn"></span>
            <ul class="inviteList" *ngIf="!disabled && isFocused" style="max-height: 170px; z-index: 99;position: relative;top: 0px;">
                <li (click)="onSelect(item)" *ngFor="let item of itemList | searchBy: 'itemName': modelName; let i=index;">
                    <div class="customchkbox">
                        <input [id]="'customchk' + i" aria-required="true" class="required" type="checkbox" [(ngModel)]="item.isSelected">
                        <label [for]="'customchk' + i"></label>
                    </div>
                    <img [src]="item?.imageUrl" alt="" />
                    <div class="empinfo">
                        <label>{{item?.itemName}}</label>
                        <div class="userprofile">{{item?.position || ''}}</div>
                    </div>
                </li>
            </ul>
            <div class="footerBtn text-right" *ngIf="!disabled && isFocused">
                <button class="btn btn-success btn-sm" (click)="isFocused=!isFocused">Ok</button>
            </div>
        </div>

    </div>
</div>