.userMain{
    padding:25px;
   .form-main{
      form{
          width:100%;
      }
      .mat-input-container{
          display:block;
      }
      label.title{
          font-weight:bold;
          margin-right:20px;
      }
      .accountType{
          margin:20px 0px;
      }
   }
   .activeBtn{
        position: absolute;
        right: 20px;
        top: 14px;
    }
    .form-main{
        margin-top: 20px;
    }
}
md-progress-spinner {
    width: 88px;
    text-align: center;
    height: 20px;
}





.input-group-addon{
     background-color:#ffcc33;
    color:#ffffff;
    cursor:pointer;
}
.fileupload{
    position:relative;
     .fileupload-new{
         overflow:hidden;
         cursor:pointer;
       }
       #customSelect{
          opacity: 0;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 89px;
          height: 33px;
       }
 }


 .email-metadata{
     .form-group{
         label{
             font-weight:bold;
         }
            .pic{
                width:80px;
                height:80px;
                    display: inline-block;
    border-radius: 50%;
    background: #f5f5f5;
                img{
                    height:100%;
                    width:auto;
                        border-radius: 50%;
                }
            }
     }
 }