<div class="container-fluid chapter">
    <h2 class="article-title">User details
    </h2>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing">
        <div class="box contentBox email-metadata">
            <div *ngIf="permission.edit">
                <button disabled style="float:right" md-raised-button md-raised-button color="{{color}}" (click)="onStatusChange()">{{status}}</button>
            </div>
            <div class="row form-group" *ngIf="user.profileImageUrl">
                <div class="col-md-4 col-xs-12">
                    <label>Avatar:</label>
                    <figure class="pic"><img src="{{user?.profileImageUrl}}" name="userAvatar" /></figure>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-xs-12">
                    <label>First name:</label> <span>{{user?.firstName}}</span>
                </div>
                <div class="col-md-4 col-xs-12">
                    <label>Last name:</label> <span>{{user?.lastName}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-xs-12">
                    <label>Email:</label> <span>{{user?.email}}</span>
                </div>
                <div class="col-md-4 col-xs-12">
                    <label>Mobile number:</label> <span>{{user?.phoneNumber}}</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4 col-xs-12">
                    <label>Extension number:</label> <span>{{user?.extensionNumber}}</span>
                </div>
                <div class="col-md-4 col-xs-12">
                    <label>Access right:</label> <span>{{user?.roles[0]?.title}}</span>
                </div>
            </div>

        </div>
    </div>
</div>