
#printBox md-progress-spinner{
    width:100% !important;
}
.pageHead{
    .groupAction{
        a{
            margin-left:20px;
            color:#000000;
            i{
                font-size: 28px;
                position: relative;
                top: 8px;
            }
        }
    }
}
.ohs{
    .box-header{
        font-size:16px;
        inline-editor{
            display:inline-block;
        }
    }
}
.ohsFormprint{
    label{
        font-weight:600;
    }
   .timeUnits{
     display: inline-block;
     input{
        width:50px;
     }
  }
  &.part3{
       tr{
           td{
               &:first-child{
                   label{
                       width:115px;
                   }
               }
           }
       }
        label{
             margin-bottom:0px;
             margin-right:5px;
        }
         tr{
             border-bottom:1px dashed #cccccc;
            &.borderless{
                border:0px;
            }
             td{
                 height:60px;
                 table{
                     tr{
                         border:0px;
                         td{
                             height:40px;
                             &.followUp{
                                 td{
                                     border:1px solid #a9a9a9;
                                     padding:0px 7px;
                                     height:50px;
                                     md-checkbox{
                                         margin-left:20px;
                                     }
                                     table{
                                         tr{
                                             td{
                                                 border:0px;
                                                 padding:0px 0px;
                                                 height:40px;
                                                 label{
                                                     width:auto;
                                                 }
                                             }
                                         }
                                     }
                                 }
                             }
                         }
                     }
                 }
             }
         }
    }
    &.partFive{
        tr{
           td{
               &:first-child{
                   label{
                       width:150px;
                       &.autoWidth{
                           width:auto;
                       }
                   }
               }
           }
       }
       input{
            width:70%;
       }
    }
}

.form-group{
    textarea{
        height:130px;
        width:100%;
    }
}
.borderDashed{
    border-bottom:1px dashed #cccccc;
    &.form-group{
        padding-bottom:20px;
    }
}

.alfaPoints{
    padding:0px;
    font-weight:600;
}
.spacer{
    height:20px !important;
    border:0px !important;
}


// **********************

a {
 text-decoration: none;
 color: #428bca;
 border-bottom: dashed 1px #428bca;
 cursor: pointer;
 line-height: 2;
 margin-right: 5px;
 margin-left: 5px;
}
.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
  font-style: italic;
  color: #DD1144;
  text-decoration: none;
}
 
.inlineEditForm{
 display: inline-block;
 white-space: nowrap;
 margin: 0;
}
#inlineEditWrapper{
 display: inline-block;
}
.inlineEditForm input, select{
 width: auto;
 display: inline;
}
.editInvalid{
 color: #a94442;
 margin-bottom: 0;
}
.error{
 border-color: #a94442;
}
[hidden] {
 display: none;
}

h2{
    &.printTitle{
        font-size: 24px;
        margin-top: 0px;
        position: relative;
        top: -33px;
        margin-left: 12px;
    }
}
    .checkboxdefault{
    &.last{
        #inlineEditWrapper{
            .inlineEditForm {
                left:inherit;
                right:0px;
            }
        }
    }
}
 @media print
   {
      h2.printTitle{
         position: static;
         margin-left:0px;
      }
      .box-header inline-editor {
         display: inline-table;
      }
     .ohsFormprint tr td{padding:20px 0px; }
     .ohsFormprint input{
         width:170px;
     }
     .step3{
         label{
             display:block;
             margin-bottom:10px;
             line-height:50px;
             padding-bottom:10px;
         }
         input{
              display:block;
             margin-top:10px;
             line-height:50px;
             padding-top:10px;
         }
         textarea{
             width:100%;
         }
     }
     .pageBreak {
        page-break-after: always;
        page-break-before: always;
     }
     .chkbox{
         border:1px solid #a9a9a9 !important;
     }
  body {-webkit-print-color-adjust: exact;}
   }