<!--<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">
                    <div class="groupAction text-right float-right">
                        <button md-raised-button color="primary" (click)="onPrint()">Print</button>
                        <a href="javascript:void(0)"><i class="material-icons">border_color</i></a>
                    </div>
                </h2>
            </div>
        </div>
        <div class="row" id="printBox">
            <h2 class="printTitle">Occupation, Health & Safety Policy Form</h2>
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 1:
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part1.heading"></inline-editor>
                    </div>
                    <div class="box-body" style="padding: 15px;">
                        <div class="form-group" style="margin-bottom:0px;">
                            <table class="ohsFormprint" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field1"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field2"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field3"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault last">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field4"></inline-editor>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" height="10"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field5"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field6"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part1.field7"></inline-editor>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 2:
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part2.heading"></inline-editor>
                    </div>
                    <div class="box-body" style="padding: 15px;">
                        <div class="form-group" style="margin-bottom:0px;">
                            <table class="ohsFormprint step3" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label style="display:inline-block;padding-right:5px;width:36px;padding-right:5px;">
                      <inline-editor type="textarea" [(ngModel)]="ohs.part2.field1"></inline-editor>
                      </label> <input type="text" />
                                            <label style="display:inline-block;padding-right:5px;width:63px;margin-left:40px;">
                      <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part2.field2"></inline-editor>
                      </label> <input type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="display:inline-block;padding-right:5px;width:36px;">
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part2.field3"></inline-editor>
                      </label>
                                            <div class="timeUnits" style="display:inline-block;">
                                                <input type="text" style="width: 50px;" />
                                                <input type="text" style="width: 50px;" />
                                                <input type="text" style="width: 50px;" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 3:
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part3.heading"></inline-editor>
                    </div>
                    <div class="box-body" style="padding: 15px;">
                        <div class="form-group">
                            <table class="ohsFormprint part3" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field1"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field2"></inline-editor></label> <input type="text" style="margin-top:6px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field3"></inline-editor></label> <input type="text" style="margin-top:6px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td colspan="3" valign="middle" style="height:7px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field4"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field5"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field6"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td colspan="3" valign="middle" style="height:7px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field7"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field8"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field9"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td colspan="3" valign="middle" style="height:7px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field10"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field11"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part3.field12"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 4:
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part4.heading"></inline-editor>
                    </div>
                    <div class="box-body" style="padding: 15px;">
                        <div class="form-group">
                            <textarea style="width:100%;display:block;height:100px;resize:none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">
                        Part 5:
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part5.heading"></inline-editor>
                    </div>
                    <div class="box-body" style="padding:15px;">
                        <div class="form-group">
                            <table class="ohsFormprint part3 partFive" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part5.field1"></inline-editor></label> <input class="printfullwidth" type="text" style="margin-top:7px;width:700px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td style="height:10px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part5.field2"></inline-editor></label> <input class="printfullwidth" type="text" style="margin-top:7px;width:700px;" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td class="spacer" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <inline-editor style="margin-top:7px;" type="textarea" [(ngModel)]="ohs.part5.field3.heading"></inline-editor>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-top:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part5.field3.subfield1"></inline-editor>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-top:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part5.field3.subfield2"></inline-editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkboxdefault">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part5.field3.subfield3"></inline-editor>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkboxdefault">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part5.field3.subfield4"></inline-editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-bottom:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part5.field3.subfield5"></inline-editor>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-bottom:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part5.field3.subfield6"></inline-editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part5.field4"></inline-editor></label>
                                            <input style="margin-top:7px;width:700px;" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td style="height:8px;"></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part5.field5"></inline-editor></label>
                                            <input style="margin-top:7px;width:700px;" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td style="height:8px;"></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td><label><inline-editor type="textarea" [(ngModel)]="ohs.part5.field6"></inline-editor></label>
                                                        <input style="margin-top:7px;width:342px;" type="text" /></td>
                                                    <td><label style="margin-left:8px;" class="autoWidth"><inline-editor type="textarea" [(ngModel)]="ohs.part5.field7"></inline-editor></label>
                                                        <input style="margin-top:7px;width:342px;margin-left:8px;" type="text" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">
                        Part 6:<label class="autoWidth"><inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part6.heading"></inline-editor></label> </div>
                    <div class="box-body" style="padding: 15px;">
                        <div class="box-header alfaPoints">
                            a) <label class="autoWidth" style="margin-top:5px;margin-bottom:8px;"><inline-editor type="textarea" [(ngModel)]="ohs.part6.field1.heading"></inline-editor></label>
                        </div>
                        <div class="form-group borderDashed">
                            <textarea style="height:100px;width:100%;resize:none;"></textarea>
                        </div>
                        <div class="form-group">
                            <table class="ohsFormprint part3" width="100%">
                                <tbody>
                                    <tr style="border-bottom:0px;">
                                        <td style="height:8px;"></td>
                                    </tr>
                                    <tr class="borderless">
                                        <td style="height:auto !important;" colspan="3" class=" alfaPoints">b)
                                            <label class="autoWidth" style="margin-top:5px;margin-bottom:8px;width:auto;"><inline-editor type="textarea" [(ngModel)]="ohs.part6.field2.heading"></inline-editor></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkboxdefault" style="margin-bottom:10px;">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part6.field2.subfield1"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault" style="margin-bottom:10px;">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part6.field2.subfield2"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault last" style="margin-bottom:10px;">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part6.field2.subfield3"></inline-editor>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><label>
                        <label style="margin:10px 0px;"><inline-editor type="textarea" [(ngModel)]="ohs.part6.field2.subfield4"></inline-editor> </label>
                                            </label> <input style="margin-top:7px;margin-bottom:10px;" type="text" /></td>
                                    </tr>
                                    <tr class="borderless">
                                        <td colspan="3" class=" alfaPoints">
                                            C)
                                            <label class="autoWidth" style="margin-top:5px;margin-bottom:8px;width:auto;">
                         <inline-editor type="textarea" [(ngModel)]="ohs.part6.field3.heading"></inline-editor>
                      </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" [(ngModel)]="ohs.part6.field3.subfield1"></inline-editor>
                                            </div>
                                            <div class="timeUnits" style="margin:10px 0px 15px; display:block;"><input type="text" style="width:250px;" /></div>
                                            <inline-editor type="textarea" [(ngModel)]="ohs.part6.field3.subfield2"></inline-editor>
                                        </td>
                                    </tr>
                                    <tr class="borderless pageBreak">
                                        <td colspan="3">
                                            <table width="100%">
                                                <tbody>
                                                    <tr style="border-bottom:0px;">
                                                        <td style="height:10px;"></td>
                                                    </tr>
                                                    <tr class="borderless">
                                                        <div class="box-header alfaPoints" style="margin:20px 0px 10px">
                                                            d)
                                                            <inline-editor type="textarea" [(ngModel)]="ohs.part6.field4.heading"></inline-editor>
                                                        </div>
                                                    </tr>
                                                    <tr style="border-bottom:0px;">
                                                        <td style="height:10px;"></td>
                                                    </tr>
                                                    <tr class="borderless">
                                                        <div class="form-group">
                                                            <textarea style="height:90px;width:100%;resize:none;"></textarea>
                                                        </div>
                                                    </tr>
                                                    <tr class="borderless">
                                                        <td class="followUp">
                                                            <table width="100%">
                                                                <tr class="borderless">
                                                                    <td>
                                                                        <inline-editor type="textarea" [(ngModel)]="ohs.part6.field4.subfield1"></inline-editor>
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <inline-editor type="textarea" [(ngModel)]="ohs.part6.field4.subfield2"></inline-editor>

                                                                        <div class="checkboxdefault" style="margin-top:10px;">
                                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                                            <span>Yes</span>
                                                                        </div>
                                                                        <div class="checkboxdefault">
                                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                                            <span>No</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr style="border-bottom:0px;">
                                                                    <td style="height:20px;"></td>
                                                                </tr>
                                                                <tr class="borderless">
                                                                    <td colspan="3" style="padding:15px 7px;border:1px solid #a9a9a9;height:auto;">
                                                                        <table width="100%">
                                                                            <tr class="borderless">
                                                                                <td><label style="margin-bottom:7px;display:block;">
                                          <inline-editor type="textarea" [(ngModel)]="ohs.part6.field4.subfield3"></inline-editor>
                                          </label> <input type="text" /></td>
                                                                                <td><label style="margin-bottom:7px;display:block;">
                                          <inline-editor type="textarea" [(ngModel)]="ohs.part6.field4.subfield4"></inline-editor>
                                          </label> <input type="text" /></td>
                                                                                <td><label style="margin-bottom:7px;display:block;">
                                          <inline-editor type="textarea" [(ngModel)]="ohs.part6.field4.subfield5"></inline-editor>
                                          </label> <input type="text" /></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 7:
                        <inline-editor style="display:inline-block;" type="textarea" [(ngModel)]="ohs.part7.heading"></inline-editor>
                    </div>
                    <div class="box-body" style="padding: 15px;">
                        <div class="form-group">
                            <table width="100%" class="ohsFormprint">
                                <tr class="borderless">
                                    <td colspan="3" style="padding:15px 7px;border:1px solid #a9a9a9;height:auto;">
                                        <table width="100%">
                                            <tr class="borderless">
                                                <td><label style="margin-bottom:7px;display:block;">
                          <inline-editor type="textarea" [(ngModel)]="ohs.part7.field1"></inline-editor>
                          </label> <input type="text" /></td>
                                                <td><label style="margin-bottom:7px;display:block;">
                          <inline-editor type="textarea" [(ngModel)]="ohs.part7.field2"></inline-editor>
                          </label> <input type="text" /></td>
                                                <td><label style="margin-bottom:7px;display:block;">
                          <inline-editor type="textarea" [(ngModel)]="ohs.part7.field3"></inline-editor>
                          </label> <input type="text" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>-->



<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">
                    <div class="groupAction text-right float-right">
                        <button md-raised-button color="primary" (click)="onPrint()">Print</button>
                    </div>
                </h2>
            </div>
        </div>
        <div class="row" id="printBox">
            <h2 class="article-title printTitle" style="padding-top: 0px !important;
            display: inline-block !important;
            width: auto;
            margin-bottom: 0px;
            padding-left: 15px;">Occupation, health & safety policy form</h2>
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div class="col-md-12" *ngIf="!isProcessing">
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part1Processing" mode="indeterminate" color=""></md-progress-spinner>

                    <div *ngIf="!part1Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 1:
                        <inline-editor style="display:inline-block;" min="0" (onSave)="editOHSList(ohs[0],ohs[0],'part1')" type="textarea" [(ngModel)]="ohs[0].heading"></inline-editor>
                    </div>
                    <div *ngIf="!part1Processing" class="box-body" style="padding: 15px;">
                        <div class="form-group" style="margin-bottom:0px;">
                            <table class="ohsFormprint" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[0],'part1')" [(ngModel)]="ohs[0].data[0].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[1],'part1')" [(ngModel)]="ohs[0].data[1].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[2],'part1')" [(ngModel)]="ohs[0].data[2].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault last">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[3],'part1')" [(ngModel)]="ohs[0].data[3].title"></inline-editor>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" height="10"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[4],'part1')" [(ngModel)]="ohs[0].data[4].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[5],'part1')" [(ngModel)]="ohs[0].data[5].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[0],ohs[0].data[6],'part1')" [(ngModel)]="ohs[0].data[6].title"></inline-editor>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part2Processing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!part2Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 2:
                        <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[1],ohs[1],'part2')" [(ngModel)]="ohs[1].heading"></inline-editor>
                    </div>
                    <div *ngIf="!part2Processing" class="box-body" style="padding: 15px;">
                        <div class="form-group" style="margin-bottom:0px;">
                            <table class="ohsFormprint step3" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label style="display:inline-block;padding-right:5px;width:36px;padding-right:5px;">
                    <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[1],ohs[1].data[0],'part2')" [(ngModel)]="ohs[1].data[0].title"></inline-editor>
                    </label> <input type="text" />
                                            <label style="display:inline-block;padding-right:5px;width:63px;margin-left:40px;">
                    <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[1],ohs[1].data[1],'part2')" [(ngModel)]="ohs[1].data[1].title"></inline-editor>
                    </label> <input type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="display:inline-block;padding-right:5px;width:36px;">
                      <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[1],ohs[1].data[2],'part2')" [(ngModel)]="ohs[1].data[2].title"></inline-editor>
                    </label>
                                            <div class="timeUnits" style="display:inline-block;">
                                                <input type="text" style="width: 50px;" />
                                                <input type="text" style="width: 50px;" />
                                                <input type="text" style="width: 50px;" />
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part3Processing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!part3Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 3:
                        <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2],'part3')" [(ngModel)]="ohs[2].heading"></inline-editor>
                    </div>
                    <div *ngIf="!part3Processing" class="box-body" style="padding: 15px;">
                        <div class="form-group">
                            <table class="ohsFormprint part3" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[0],'part3')" [(ngModel)]="ohs[2].data[0].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[1],'part3')" [(ngModel)]="ohs[2].data[1].title"></inline-editor></label> <input type="text" style="margin-top:6px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[2],'part3')" [(ngModel)]="ohs[2].data[2].title"></inline-editor></label> <input type="text" style="margin-top:6px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td colspan="3" valign="middle" style="height:7px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[3],'part3')" [(ngModel)]="ohs[2].data[3].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[4],'part3')" [(ngModel)]="ohs[2].data[4].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[5],'part3')" [(ngModel)]="ohs[2].data[5].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td colspan="3" valign="middle" style="height:7px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[6],'part3')" [(ngModel)]="ohs[2].data[6].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[7],'part3')" [(ngModel)]="ohs[2].data[7].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[8],'part3')" [(ngModel)]="ohs[2].data[8].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td colspan="3" valign="middle" style="height:7px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[9],'part3')" [(ngModel)]="ohs[2].data[9].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[10],'part3')" [(ngModel)]="ohs[2].data[10].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[2],ohs[2].data[11],'part3')" [(ngModel)]="ohs[2].data[11].title"></inline-editor></label> <input type="text" style="margin-top:7px;" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part4Processing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!part4Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 4:
                        <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[3],ohs[3],'part4')" [(ngModel)]="ohs[3].heading"></inline-editor>
                    </div>
                    <div *ngIf="!part4Processing" class="box-body" style="padding: 15px;">
                        <div class="form-group">
                            <textarea style="width:100%;display:block;height:100px;resize:none;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part5Processing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!part5Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">
                        Part 5:
                        <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4],'part5')" [(ngModel)]="ohs[4].heading"></inline-editor>
                    </div>
                    <div *ngIf="!part5Processing" class="box-body" style="padding:15px;">
                        <div class="form-group">
                            <table class="ohsFormprint part3 partFive" width="100%">
                                <tbody>
                                    <tr>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[0],'part5')" [(ngModel)]="ohs[4].data[0].title"></inline-editor></label> <input class="printfullwidth" type="text" style="margin-top:7px;width:700px;"
                                            /></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td style="height:10px;"></td>
                                    </tr>
                                    <tr>
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[1],'part5')" [(ngModel)]="ohs[4].data[1].title"></inline-editor></label> <input class="printfullwidth" type="text" style="margin-top:7px;width:700px;"
                                            /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td class="spacer" colspan="2"></td>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">
                                                        <inline-editor min="0" style="margin-top:7px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2],'part5')" [(ngModel)]="ohs[4].data[2].title"></inline-editor>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-top:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2].subfields[0],'part5')" [(ngModel)]="ohs[4].data[2].subfields[0].title"></inline-editor>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-top:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2].subfields[1],'part5')" [(ngModel)]="ohs[4].data[2].subfields[1].title"></inline-editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkboxdefault">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2].subfields[2],'part5')" [(ngModel)]="ohs[4].data[2].subfields[2].title"></inline-editor>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkboxdefault">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2].subfields[3],'part5')" [(ngModel)]="ohs[4].data[2].subfields[3].title"></inline-editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-bottom:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2].subfields[4],'part5')" [(ngModel)]="ohs[4].data[2].subfields[4].title"></inline-editor>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkboxdefault" style="margin-bottom:15px;">
                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                            <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[2].subfields[5],'part5')" [(ngModel)]="ohs[4].data[2].subfields[5].title"></inline-editor>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[3],'part5')" [(ngModel)]="ohs[4].data[3].title"></inline-editor></label>
                                            <input style="margin-top:7px;width:700px;" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td style="height:8px;"></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[4],'part5')" [(ngModel)]="ohs[4].data[4].title"></inline-editor></label>
                                            <input style="margin-top:7px;width:700px;" type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td style="height:8px;"></td>
                                    </tr>
                                    <tr style="border-bottom:0px;">
                                        <td>
                                            <table width="100%">
                                                <tr>
                                                    <td><label><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[5],'part5')" [(ngModel)]="ohs[4].data[5].title"></inline-editor></label>
                                                        <input style="margin-top:7px;width:342px;" type="text" /></td>
                                                    <td><label style="margin-left:8px;" class="autoWidth"><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[4],ohs[4].data[6],'part5')" [(ngModel)]="ohs[4].data[6].title"></inline-editor></label>
                                                        <input style="margin-top:7px;width:342px;margin-left:8px;" type="text" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part6Processing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!part6Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">
                        Part 6:<label class="autoWidth"><inline-editor min="0" style="display:inline-block;" (onSave)="editOHSList(ohs[5],ohs[5],'part6')" type="textarea" [(ngModel)]="ohs[5].heading"></inline-editor></label> </div>
                    <div *ngIf="!part6Processing" class="box-body" style="padding: 15px;">
                        <div class="box-header alfaPoints">
                            a) <label class="autoWidth" style="margin-top:5px;margin-bottom:8px;"><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[0],'part6')" [(ngModel)]="ohs[5].data[0].title"></inline-editor></label>
                        </div>
                        <div class="form-group borderDashed">
                            <textarea style="height:100px;width:100%;resize:none;"></textarea>
                        </div>
                        <div class="form-group">
                            <table class="ohsFormprint part3" width="100%">
                                <tbody>
                                    <tr style="border-bottom:0px;">
                                        <td style="height:8px;"></td>
                                    </tr>
                                    <tr class="borderless">
                                        <td style="height:auto !important;" colspan="3" class=" alfaPoints">b)
                                            <label class="autoWidth" style="margin-top:5px;margin-bottom:8px;width:auto;"><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[1],'part6')" [(ngModel)]="ohs[5].data[1].title"></inline-editor></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkboxdefault" style="margin-bottom:10px;">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[1].subfields[0],'part6')" [(ngModel)]="ohs[5].data[1].subfields[0].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault" style="margin-bottom:10px;">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[1].subfields[1],'part6')" [(ngModel)]="ohs[5].data[1].subfields[1].title"></inline-editor>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkboxdefault last" style="margin-bottom:10px;">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[1].subfields[2],'part6')" [(ngModel)]="ohs[5].data[1].subfields[2].title"></inline-editor>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><label>
                      <label style="margin:10px 0px;"><inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[1].subfields[3],'part6')" [(ngModel)]="ohs[5].data[1].subfields[3].title"></inline-editor> </label>
                                            </label> <input style="margin-top:7px;margin-bottom:10px;" type="text" /></td>
                                    </tr>
                                    <tr class="borderless">
                                        <td colspan="3" class=" alfaPoints">
                                            C)
                                            <label class="autoWidth" style="margin-top:5px;margin-bottom:8px;width:auto;">
                       <inline-editor type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[2],'part6')" [(ngModel)]="ohs[5].data[2].title"></inline-editor>
                    </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="checkboxdefault">
                                                <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                <inline-editor min="0" style="margin-left:6px;display:inline-block;position:relative;top:-6px;" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[2].subfields[0],'part6')" [(ngModel)]="ohs[5].data[2].subfields[0].title"></inline-editor>
                                            </div>
                                            <div class="timeUnits" style="margin:10px 0px 15px; display:block;"><input type="text" style="width:250px;" /></div>
                                            <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[2].subfields[1],'part6')" [(ngModel)]="ohs[5].data[2].subfields[1].title"></inline-editor>
                                        </td>
                                    </tr>
                                    <tr class="borderless pageBreak">
                                        <td colspan="3">
                                            <table width="100%">
                                                <tbody>
                                                    <tr style="border-bottom:0px;">
                                                        <td style="height:10px;"></td>
                                                    </tr>
                                                    <tr class="borderless">
                                                        <div class="box-header alfaPoints" style="margin:20px 0px 10px">
                                                            d)
                                                            <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[3],'part6')" [(ngModel)]="ohs[5].data[3].title"></inline-editor>
                                                        </div>
                                                    </tr>
                                                    <tr style="border-bottom:0px;">
                                                        <td style="height:10px;"></td>
                                                    </tr>
                                                    <tr class="borderless">
                                                        <div class="form-group">
                                                            <textarea style="height:90px;width:100%;resize:none;"></textarea>
                                                        </div>
                                                    </tr>
                                                    <tr class="borderless">
                                                        <td class="followUp">
                                                            <table width="100%">
                                                                <tr class="borderless">
                                                                    <td>
                                                                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[3].subfields[0],'part6')" [(ngModel)]="ohs[5].data[3].subfields[0].title"></inline-editor>
                                                                    </td>
                                                                    <td colspan="2">
                                                                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[3].subfields[1],'part6')" [(ngModel)]="ohs[5].data[3].subfields[1].title"></inline-editor>

                                                                        <div class="checkboxdefault" style="margin-top:10px;">
                                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                                            <span>Yes</span>
                                                                        </div>
                                                                        <div class="checkboxdefault">
                                                                            <div class="chkbox" style="height:20px;width:20px;display:inline-block;border:2px solid #a9a9a9;"></div>
                                                                            <span>No</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr style="border-bottom:0px;">
                                                                    <td style="height:20px;"></td>
                                                                </tr>
                                                                <tr class="borderless">
                                                                    <td colspan="3" style="padding:15px 7px;border:1px solid #a9a9a9;height:auto;">
                                                                        <table width="100%">
                                                                            <tr class="borderless">
                                                                                <td><label style="margin-bottom:7px;display:block;">
                                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[3].subfields[2],'part6')" [(ngModel)]="ohs[5].data[3].subfields[2].title"></inline-editor>
                                        </label> <input type="text" /></td>
                                                                                <td><label style="margin-bottom:7px;display:block;">
                                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[3].subfields[3],'part6')" [(ngModel)]="ohs[5].data[3].subfields[3].title"></inline-editor>
                                        </label> <input type="text" /></td>
                                                                                <td><label style="margin-bottom:7px;display:block;">
                                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[5],ohs[5].data[3].subfields[4],'part6')" [(ngModel)]="ohs[5].data[3].subfields[4].title"></inline-editor>
                                        </label> <input type="text" /></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <md-progress-spinner *ngIf="part7Processing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!part7Processing" class="box-header box-dark" style="background-color: #ebebeb !important;padding:10px 10px;">Part 7:
                        <inline-editor min="0" style="display:inline-block;" type="textarea" (onSave)="editOHSList(ohs[6],ohs[6],'part7')" [(ngModel)]="ohs[6].heading"></inline-editor>
                    </div>
                    <div *ngIf="!part7Processing" class="box-body" style="padding: 15px;">
                        <div class="form-group">
                            <table width="100%" class="ohsFormprint">
                                <tr class="borderless">
                                    <td colspan="3" style="padding:15px 7px;border:1px solid #a9a9a9;height:auto;">
                                        <table width="100%">
                                            <tr class="borderless">
                                                <td><label style="margin-bottom:7px;display:block;">
                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[6],ohs[6].data[0],'part7')" [(ngModel)]="ohs[6].data[0].title"></inline-editor>
                        </label> <input type="text" /></td>
                                                <td><label style="margin-bottom:7px;display:block;">
                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[6],ohs[6].data[1],'part7')" [(ngModel)]="ohs[6].data[1].title"></inline-editor>
                        </label> <input type="text" /></td>
                                                <td><label style="margin-bottom:7px;display:block;">
                        <inline-editor min="0" type="textarea" (onSave)="editOHSList(ohs[6],ohs[6].data[2],'part7')" [(ngModel)]="ohs[6].data[2].title"></inline-editor>
                        </label> <input type="text" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>