<div class="container">
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer" style="margin-top:30px;">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <h3>Please accept your contract to proceed further.</h3>
        </div>
        <div class="col-md-12">
            <md-progress-spinner style="margin-top:20px;" *ngIf="!contractURL" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="contractURL"> To view your complete contract details <a style='font-size: 25px;' target="_blank" href="{{contractURL}}">click here</a> .</div>
        </div>
        <div style="margin-top:30px" class="col-md-12">
            <md-progress-spinner style="margin-top:20px;" *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <button *ngIf="!isActionProcessing" (click)="onAcceptContract()" class="btn btn-primary btn-lg">Accept and continue</button>
        </div>
    </div>
</div>