<div class="container-fluid">
    <h3 class="heading" [hidden]="true">File notes</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Mandatory documents</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-xl-7 col-lg-5 col-md-4">
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input (keyup)="onSearch()" name="srch" [(ngModel)]="filter.search" type="text" class="form-control" placeholder="Search for" />
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <select (ngModelChange)="onstatusTypeChange($event)" style="height:37px;" class="form-control" name="risk" #risk="ngModel" [(ngModel)]="type" required>
                                <option value="" > Select status type </option>
                                <option value="Archive">Archive</option>
                                <option value="Current">Current</option>
                                <option value="Expired">Expired</option>
                                <option value="Requires attention">Requires attention</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="file-notes-list">
                    <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing" class="tableWrapper">
                        <table [mfData]="docs" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <th style="width: 70px;">S. no.</th>
                                <th>
                                    <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="employeeUser.name">Employee / Contractor &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="expiryDate">Expiry date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>Action</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of mf.data ; let i = index">

                                    <td>{{i+1}}</td>
                                    <td>{{items.title}}</td>
                                    <td>{{items.employeeUser.name}}</td>
                                    <td>{{formatDate(items.expiryDate) || 'Not specified'}}</td>
                                    <td>{{items.status}}</td>
                                    <td>
                                        <md-progress-spinner mode="indeterminate" *ngIf="items['isDeleteProcessing']" color=""></md-progress-spinner>
                                        <div *ngIf="!items['isDeleteProcessing']" class="dropdown actionDroapdown actionDDtbl">
                                            <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button class="dropdown-item btn-none color-info" (click)="onViewDoc(items.documentUrl)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View document</button>
                                                <button *ngIf="items.status!='Archive'" target="_blank" class="dropdown-item btn-none color-warn" (click)="onArchieve(items,i)">
                                                    <i class="fa fa-archive"></i> Archive</button>
                                                <button *ngIf="items.status=='Archive'" target="_blank" class="dropdown-item btn-none color-warn" (click)="onMarkCurrent(items,i)">
                                                    <i class="fa fa-paper-plane-o"></i> Restore document</button>
                                                <button target="_blank" class="dropdown-item btn-none color-danger" (click)="onDelete(items,i)">
                                                    <i class="fa fa-ban"></i> Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                <tr class="danger" style="text-align:center" *ngIf="!docs.length && isProcessing">
                                    <td colspan="4">Record not found</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>