.Advsdetails{    
    .editDetails{
       display: inline-block;
    }
    .profilePic{
        float:right;
        // display:inline-block;
        vertical-align:top;
        @media screen and (max-width:767px){
            float:none;
            display:block;
    }
        figure{
            text-align:center;
           @media screen and (max-width:767px){
                margin-bottom:40px;
           }
        }
    }
    .topDetails{    
    vertical-align:top;

    }
    .form-inline{
    font-weight:800;
    }
}