<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/advertisement/']">Advertisement</li>
                    <li class="breadcrumb-item">Preview</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">

                    <div class="box advertisementForm">
                        <div class="Advsdetails">
                            <h5 class="heading">Advertisement details</h5>
                            <div class="row">
                                <div class="col-sm-12 text-right"><button [routerLink]="['/app/company-admin/advertisement/create/1']" class="editDetails btn btn-special">Edit <i class="fa fa-pencil"></i></button></div>
                                <div class="col-lg-12 col-md-12 form-group">
                                    <!--<ul>
                    <li class="profilePic">
                      <figcaption><b>Position:</b> {{adsForm?.advertisePositions}}</figcaption>
                    </li>
                  </ul>-->
                                </div>
                                <div class="topDetails col-sm-12">
                                    <ul class="row">
                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6"><label class="form-inline">Title</label></li>
                                        <li class="col-lg-9 col-md-8 col-sm-6">{{adsForm?.advertiseName}}
                                        </li>
                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6"><label class="form-inline">Location</label></li>
                                        <li class="col-lg-9 col-md-8 col-sm-6">
                                            {{dropDownData?.location}}
                                        </li>
                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6"><label class="form-inline">Salary</label></li>
                                        <li class="col-lg-9 col-md-8 col-sm-6">
                                            {{adsForm?.advertiseSalary}}
                                        </li>
                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6"><label class="form-inline">Selling</label></li>
                                        <li class="col-lg-9 col-md-8 col-sm-6">
                                            {{adsForm?.sellingPoint}}
                                        </li>

                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6 form-group"><label class="form-inline">About the company</label></li>
                                        <li [innerHTML]="adsForm.aboutCompany" class="col-lg-9 col-md-8 col-sm-6 form-group white-space-pre"> </li>

                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6 form-group"><label class="form-inline">Job benefits and perks</label></li>
                                        <li [innerHTML]="adsForm.jobBenifits" class="col-lg-9 col-md-8 col-sm-6 form-group white-space-pre"></li>

                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6 form-group"><label class="form-inline">About the role</label></li>
                                        <li [innerHTML]="adsForm.positionSummary" class="col-lg-9 col-md-8 col-sm-6 form-group white-space-pre"> </li>

                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6 form-group"><label class="form-inline">Jobs & Responsibility</label></li>
                                        <li [innerHTML]="adsForm.positionRoleAndResponsibilities" class="col-lg-9 col-md-8 col-sm-6 form-group white-space-pre"> </li>

                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6 form-group"><label class="form-inline">About candidate experience</label></li>
                                        <li [innerHTML]="adsForm.aboutYou" class="col-lg-9 col-md-8 col-sm-6 form-group white-space-pre"></li>

                                        <li class="col-lg-3 col-xl-2 col-md-4 col-sm-6 form-group"><label class="form-inline">Key requirements</label></li>
                                        <li [innerHTML]="adsForm.KeyRequirements" class="col-lg-9 col-md-8 col-sm-6 form-group white-space-pre"></li>

                                    </ul>
                                </div>
                                <div class="col-sm-12 buttomWrap text-center">
                                    <button (click)="onSubmit()" class="btn btn-primary btn-lg">Post &nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>