.leaveDetailmain {
    max-width: 800px;
    .form-group {
        .lftinpt10 {
            width: 30%;
            float: left;
            .form-inline {
                margin: 0px 0px;
            }
        }
        .rghtinput10 {
            width: 70%;
            float: left;
        }
    }
    .leaveActions {
        margin: 15px 0px;
        .btn {
            &:first-child {
                margin-right: 10px;
            }
        }
        &.RejectWithNote {
            textarea {
                height: 100px;
                resize: none;
                margin-bottom: 20px;
            }
        }
    }
}

.color-pending {
    color: #f79e31;
}