<div class="leaveDetailmain">
    <h4 *ngIf="display !=='reject'" class="heading">Leave detail
        <div *ngIf="display=='detail'" class="status pull-right" [ngClass]="{'color-success':leave.status=='Approved','color-danger':leave.status=='Cancelled','color-danger':leave.status=='Rejected','color-pending':leave.status=='Pending'}">{{leave?.status}}</div>
    </h4>
    <div class="leaveDetail" *ngIf="display=='detail' || display=='approve'">
        <div class="row">
            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">Title:</label>
                </div>
                <div class="rghtinput10">
                    {{leave?.title}}
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">Selected leave type:</label>
                </div>
                <div class="rghtinput10">
                    {{leave?.leaveType}}
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">Start date:</label>
                </div>
                <div class="rghtinput10">
                    {{formatDate(leave?.startDate)}}
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">End date:</label>
                </div>
                <div class="rghtinput10">
                    {{formatDate(leave?.endDate)}}
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">Comments:</label>
                </div>
                <div class="rghtinput10">
                    {{leave?.comment}}
                </div>
            </div>
        </div>
    </div>
    <div class="leaveActions" *ngIf="display=='approve'">
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="col-md-12 text-center">
                <button (click)="onApprove()" class="btn btn-lg btn-success">Approve</button>
                <button (click)="reject()" class="btn btn-lg btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="RejectWithNote leaveActions" *ngIf="display=='reject'">
        <form name="rejectForm" #rejectForm="ngForm" (ngSubmit)="rejectForm.valid && onReject()">
            <h4 class="heading">Reject with a note</h4>
            <div class="row">
                <div class="col-md-12">
                    <textarea name="rnote" #rnote="ngModel" [(ngModel)]="rejectNote" class="form-control" required></textarea>
                    <div *ngIf="rnote.dirty || rejectForm.submitted">
                        <div class="alert alert-danger" [hidden]="rnote.valid">
                            Please enter a note for reject.
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="col-md-12 text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    <button type="reset" (click)="cancel()" class="btn btn-lg btn-default">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>