.table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    th {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    td {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.collapseInfoBox {
    margin-top: 30px;
    h4 {
        i {
            &.fa-trash {
                color: #ff8383;
                cursor: pointer;
                margin-left: 5px;
                font-weight: normal;
                z-index: 999;
            }
        }
    }
}