<!--Leave Detail popup-->
<div class="leaveDetails">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink = '/app/{{relPath}}' ><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a routerLink = '/app/{{relPath}}/leaves' >Leaves</a></li>
        <li class="breadcrumb-item active">Leave detail</li>
    </ol>
    <div class="cmpnycontentBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="leaveStatusView">
            <div *ngIf="leaveDetail?.status=='Pending'" class="actionStatus color-pending">{{leaveDetail?.status}}</div>
            <div *ngIf="leaveDetail?.status=='Approved'" class="actionStatus color-success">{{leaveDetail?.status}}</div>
            <div *ngIf="leaveDetail?.status=='Cancelled'" class="actionStatus color-danger">{{leaveDetail?.status}}</div>
            <div *ngIf="leaveDetail?.status=='Rejected'" class="actionStatus color-danger">{{leaveDetail?.status}}</div>
            <h3 class="heading">Leave detail</h3>
            <div class="row">
                <div class="col-sm-3">
                    <div class="title">Title</div>
                </div>
                <div class="col-sm-9">
                    <div class="titleDtl">
                        {{leaveDetail?.title}}
                    </div>
                </div>
            </div>
            <div  class="row">
                <div class="col-sm-3">
                    <div class="title">Selected leave type</div>
                </div>
                <div class="col-sm-9">
                    <div *ngIf="relPath == 'employee'" class="titleDtl">
                        {{leaveDetail?.leaveTypeID}}
                    </div>
                    <div *ngIf="relPath != 'employee'" class="titleDtl">
                        SubContractor
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="title">Start date:</div>
                </div>
                <div class="col-sm-9">
                    <div class="titleDtl">
                        {{formatDate(leaveDetail?.startDate)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="title">End date:</div>
                </div>
                <div class="col-sm-9">
                    <div class="titleDtl">
                        {{formatDate(leaveDetail?.endDate)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="title">Comments:</div>
                </div>
                <div class="col-sm-9">
                    <div class="titleDtl">
                        {{leaveDetail?.comment}}
                    </div>
                </div>
            </div>

            <div *ngIf="leaveDetail?.managerNote" class="managerNots">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="managerInfo">
                            <h4 class="heading">Manager notes for rejection</h4>
                            <p>{{leaveDetail?.managerNote}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>