<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day']">Master training plan</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div> -->
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12 text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12">
                <div class="cmpnycontentBox">
                    <div class="marginBottom date text-right">{{formatDateTime(masterPlan?.insertTime)}}</div>
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training plan title</label>
                            </div>
                            <div class="rghtinput10">
                                {{masterPlan?.title}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Reason</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="masterPlan?.reason |safe:'html'">
                                <!-- {{masterPlan?.reason}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Action plan</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="masterPlan?.actionPlan |safe:'html'">
                                <!-- {{masterPlan?.actionPlan}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Objective</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="masterPlan?.objective |safe:'html'">
                                <!-- {{masterPlan?.objective}} -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>