
<form #dd="ngForm">
<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" name="aj" #datbinf="ngModel"
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    [selectedItems]="selectedItems"
    (onSelectAll)="onSelectAll($event)" required
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>

    <div id="error_div" class="alert alert-danger" *ngIf="datbinf.errors && (datbinf.dirty || datbinf.touched)" >
                              Duration is required !
                        </div>
</form>
   