.bigBox textarea.form-control{
    width:500px;
    height:90px;
    @media screen and (max-width:767px){
        width:300px;
    }
    @media screen and (max-width:479px){
        width:250px;
    }
}