<div class="bigBox">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm.form.valid)">  

      <h5 class="heading">Write response note</h5>

      <textarea #note="ngModel" myNoSpaces [(ngModel)]="noteDetails.note.responseNote" name="rNote" class="form-control" ></textarea>
      <div *ngIf="note.errors && ( (note.dirty || note.touched) || isButtonClicked )">
        <div class="alert alert-danger" [hidden]="!(note.errors.required || note.errors.whitespace)">
          Note is required ! 
        </div>
      </div>
           <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>    
<br>
      <button *ngIf="!isProcessing" type="submit" class="btn btn-primary btn-lg">Submit</button>

  </form>
</div>