<div class="container-fluid chapter">
    <article class="article">
        <h2 class="article-title">Users</h2>
        <div class="box contentBox">
            <!--<md-input-container class="search-width" >
        <input mdInput
        placeholder="What do you want to find?"
        #searching
        maxlength="50"
        />
        <span md-suffix>
            <md-icon >search</md-icon>
        </span>
    </md-input-container>-->
            <div class="searchbar row">
                <div class="input-group col-md-9 col-sm-7">
                    <input class="form-control" id="inlineFormInputGroup" (keyup)="onFilter()" [(ngModel)]="searchText" placeholder="Search" type="text">
                    <div class="input-group-addon">
                        <md-icon>search</md-icon>
                    </div>
                </div>
                <a *ngIf="permission.add" class="addUserBtn col-md-3 col-sm-5" [routerLink]="['/app/super-admin/user-access/add-user']">
                    <button md-raised-button color="accent" class="theme-button btn-w-md">
              <span class="icon">+</span>Add new user
           </button>
                </a>
            </div>

            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table" [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th>S.no</th>
                            <th>Avatar</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Mobile number</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th *ngIf="permission.edit||permission.delete">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isProcessing">
                        <tr (click)="onDetail(item.userID);$event.stopPropagation()" class="cursor" *ngFor="let item of mf.data; let i = index;">

                            <td style="width:90px;">{{i+1}}</td>
                            <td><img src="{{item.imageUrl}}" width="70px" height="70px" /></td>
                            <td>{{item?.name}}</td>
                            <td>{{item?.email}}</td>
                            <td>{{item?.phoneNumber}}</td>
                            <td>{{item?.role}}</td>
                            <td style="width:90px;">{{item?.status}}</td>
                            <td style="width:60px !important;" *ngIf="permission.edit||permission.delete">
                                <md-icon *ngIf="permission.edit" md-tooltip="Edit" (click)="onEdit(item.userID);$event.stopPropagation();">edit</md-icon>
                                <md-icon *ngIf="permission.delete" md-tooltip="Delete" class="mat-warn" (click)="onDelete(item.userID);$event.stopPropagation();">delete</md-icon>
                            </td>

                        </tr>

                    </tbody>
                    <tfoot>
                        <tr *ngIf="!users.length && !isProcessing">
                            <td colspan="8" class="alert alert-danger" id="textCenter">No record found</td>
                        </tr>
                        <tr *ngIf="isProcessing">
                            <td colspan="8">
                                <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                            </td>
                        </tr>
                        <tr *ngIf="users.length>10 && !isProcessing">
                            <td colspan="8">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </article>
</div>