.addUserBtn {
    float: right;
    margin-top: 15px;
    span {
        font-size: 25px;
        margin-right: 7px;
    }
}

.cursor {
    cursor: pointer;
}

.searchbar {
    margin-bottom: 10px;
    .input-group {
        // float:left;
        // width:80%;
        .input-group-addon {
            color: #ffffff;
            cursor: pointer;
        }
    }
    .addUserBtn {
        margin-top: 0px;
        text-align: right;
        .icon {
            position: relative;
            top: 1px;
        }
    }
}

.mdl-data-table td:last-child {
    width: inherit;
}