<div class="Organization-chart">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
                <a [routerLink]="[(role=='companyEmployee')?'/app/employee':'/app/sub-contractor']">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class="breadcrumb-item active">Organisation chart</li>
    </ol>
    <section class="cmpnycontentBox">
        <div *ngIf="chart?.logo" class="brand-logo text-center">
            <img [src]="chart?.logo" alt="logo" />
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div [hidden]="isProcessing" class="tree-container text-center">
            <div class="tree-wraper">

                <ul class="tree">
                    <li #root class="hasChild root" style="margin: 0 auto;">
                        <section>
                            <figure class="unsignned">
                                <span>{{chart?.title}}</span>
                                <figcaption>
                                    <small>{{chart?.type}}</small>
                                </figcaption>
                            </figure>
                            <!-- <i class="positionTabg">1</i> -->
                            <!-- <a class="action" (click)="onClick(chart, $event)"><i class="fa fa-plus-circle"></i></a>
                  <div class="actionDiv" style="display: none;">
                      <button class="btn btn-primary">Profile</button>
                      <button class="btn btn-primary" (click)="onPopUp(chart,$event)">Action</button>
                  </div> -->
                            <!-- <div class="designation">
                    <small>{{chart?.type}}</small>
                  </div> -->
                        </section>
                        <ul class="tree"></ul>
                    </li>
                </ul>

                <!-- ======================================== -->
                <li #node style="display: none;">
                    <section>
                        <figure>
                            <span></span>
                            <img src="assets/images/user-profile.png" alt="pic" />
                            <figcaption>
                                <small></small>
                            </figcaption>
                        </figure>
                        <!-- <i class="positionTabg"></i> -->
                        <span class="starBtn" style="display: none;"><img src="assets/images/logo_small.png"/></span>
                        <a class="action" title="Action" style="display: none;">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                        <div class="actionDiv" style="display: none;">
                            <button class="btn btn-primary profile-btn">Profile</button>
                            <!-- <button class="btn btn-primary action-btn">Action</button> -->
                        </div>
                        <div class="designation">
                            <small></small>
                        </div>
                        <div class="labelsBtn" style="display: none;">
                            <!-- <label class="lblInfo OHS">OH&S</label>
              <label class="lblInfo FAO">FAO</label>
              <label class="lblInfo FW">FW</label>
              <label class="lblInfo SHO">SHO</label> -->
                        </div>
                    </section>
                    <ul class="tree"></ul>
                </li>

            </div>
        </div>
    </section>
</div>