@import '../../../company-admin/organisation-chart/organisation-chart/organisation-chart.component.scss';
.starBtn {
    position: absolute;
    bottom: 0px;
    left: -5px;
    z-index: 99;
    font-size: 20px;
    &:before {
        text-shadow: 0px 1px 1px #636363;
    }
}

.profileMainPop .mat-dialog-content {
    max-height: inherit !important;
}