<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active">Master training plans list</li>
                </ol>
            </div>
            <!--<div class="col-md-12 stepsContainer grievanceSteps">
        <app-steps [progress]='progress'></app-steps>
      </div>-->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing">
                        <div class="tableWrapper">
                            <table class="table table-hover" [mfData]="masterPlanList" #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <th>S. no.</th>
                                    <th>
                                        <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="createdBy.name">Created by &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="insertTime">Created at &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>Action</th>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let plan of mf.data; let i=index;">
                                        <td style="width:80px;">{{(mf.activePage -1)*(10)+(i+1)}}</td>
                                        <td [routerLink]="['/app/company-admin/training-day/master-training-plan/detail',plan?.masterTrainningPlanID]">{{plan?.title}}</td>
                                        <td style="min-width:110px;">{{plan?.createdBy?.name}}</td>
                                        <td>{{formatDateTime(plan?.insertTime)}}</td>
                                        <td style="width:130px;">
                                            <div class="dropdown actionDDtbl">
                                                <button *ngIf="permission?.add || permission?.edit || permission?.delete || permission?.view" class="btn btn-primary" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <button *ngIf="permission?.edit && plan.isNative" class="color-info btn-none dropdown-item" title="Edit" [routerLink]="['/app/company-admin/training-day/master-training-plan/edit',plan?.masterTrainningPlanID]"><i class="fa fa-pencil-square-o"></i>&nbsp; Edit</button>
                                                    <button *ngIf="permission?.delete  && plan.isNative" class="color-danger btn-none dropdown-item" title="Delete" (click)="deletePlan(plan)"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                                                    <button *ngIf="permission?.add" class="color-success btn-none dropdown-item" title="Create" [routerLink]="['/app/company-admin/training-day/training-plan/add',plan?.masterTrainningPlanID]"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp; Perform action</button>
                                                    <button *ngIf="permission?.view" class="btn-none dropdown-item color-info" title="Previous training" [routerLink]="['/app/company-admin/training-day/training-plans/previous',plan?.masterTrainningPlanID]"><i class="fa fa-caret-left"></i>&nbsp; Previous training</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <br>
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </tfoot>
                            </table>
                        </div>
                        <div *ngIf="!masterPlanList.length">
                            No result found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>