.survey-wrapper{
    padding:0px 15px 20px;
}
.btn-none{
    background: transparent;
    border: 0;
}
.tableHead{
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4{
        margin: 5px 0;
        font-size: 22px;
    }
}

