<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Account setting
                    <!-- <div class="groupAction text-right float-right">
                        <button md-raised-button color="primary" [routerLink]="['/app/super-admin/account-setting/zoho']">Zoho setting</button>
                    </div> -->
                </h2>
            </div>
        </div>
        <div class="box box-default paddingBox"> 
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div class="row" *ngIf="!isProcessing">
                <div class="col-md-7">
                    <form>
                        <div class="infoRow">
                            <label>Admin name</label>
                            <span class="detail">{{admin.firstName 
                              +" "+admin.lastName}}</span>
                        </div>
                        <div class="infoRow">
                            <label>Email ID</label>
                            <span class="detail">{{admin.email}}</span>
                        </div>
                        <div class="infoRow" *ngIf="permission.edit">
                            <button (click)="onClick()" md-raised-button color="accent">Update password</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5" *ngIf="permission.edit">
                    <md-icon (click)="editDialog()" class="material-icons cursor float-right" md-tooltip="Edit">edit</md-icon>
                </div>
            </div>
        </div>
    </article>
</div>