<div class="container-fluid">
    <h3 class="heading" [hidden]="true">File notes</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">File notes</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-xl-7 col-lg-5 col-md-4">
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input (keyup)="onSearch()" name="srch" [(ngModel)]="tempReqBody.search" type="text" class="form-control" placeholder="Search for" />
                                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="filter">
                                <div class="form-group">
                                    <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onAddNote()">Create note <span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="toggleFilter" [ngClass]="toggleFilter?'':'activeTab'">
                        <!--custome filter pop up-->
                        <div class="filterController row" style="padding-bottom:0;">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <h3 class="title">Owner</h3>
                                <div class="empSrearch">
                                    <div id="custom-search-input">
                                        <div class="input-group">
                                            <!-- <input type="text" [(ngModel)]="employment" class="form-control input-lg" placeholder="Search User" /> -->
                                            <input type="text" name="serchownr" [(ngModel)]="serchOwner" class="form-control input-lg" placeholder="Search for" />
                                            <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                        </div>
                                    </div>
                                </div>
                                <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <ul *ngIf="tempReqBody.filter.ownerUsers.length" class="checkbox over180">
                                    <li *ngFor="let item of tempReqBody.filter.ownerUsers |searchByName:serchOwner">
                                        <label><input (click)="isApplyBtnClicked=true" type="checkbox" name="user{{userID}}" [(ngModel)]="item.isChecked" /><span>{{item.name}}</span></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <h3 class="title">Notes for</h3>
                                <div class="empSrearch">
                                    <div id="custom-search-input">
                                        <div class="input-group">
                                            <!-- <input type="text" [(ngModel)]="employment" class="form-control input-lg" placeholder="Search User" /> -->
                                            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="serchFor" class="form-control input-lg" aria-label="Username" aria-describedby="basic-addon1" />
                                            <span class="input-group-btn">
                                                <button class="btn" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="empSrearch">
                                                <div class="custom-search-input">
                                                    <div class="input-group">                 
                                                    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="serchFor" aria-label="Username" aria-describedby="basic-addon1">
                                                    <span class="input-group-btn">
                                                        <button class="btn" type="button">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>    
                                                    </div>
                                                    </div>
                                                </div> -->

                                <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <ul *ngIf="tempReqBody.filter.forUsers.length" class="checkbox over180">
                                    <li *ngFor="let item of tempReqBody.filter.forUsers |searchByName:serchFor">
                                        <label><input (click)="isApplyBtnClicked=true" type="checkbox" name="userf{{userID}}" [(ngModel)]="item.isChecked" /><span>{{item.name}}</span></label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <h3 class="title">View by</h3>
                                <div class="empSrearch">
                                    <div id="custom-search-input">
                                        <!--<div class="input-group">
                      
                        <input type="text" class="form-control input-lg" placeholder="Search for" />
                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                      </div>-->
                                    </div>
                                </div>
                                <ul class="checkbox over250">
                                    <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.createdBy.int0" /><span>Today</span></label></li>
                                    <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.createdBy.int1" /><span>Tomorrow</span></label></li>
                                    <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.createdBy.int7" /><span>Last week</span></label></li>
                                    <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.createdBy.int30" /><span>Last month</span></label></li>
                                </ul>
                            </div>
                            <button (click)="onApplyFilters()" [disabled]="!isApplyBtnClicked" [ngClass]="{'btn-filter'  : !isApplyBtnClicked,'btn-primary' : isApplyBtnClicked}" class="btn btn-lg outlined btn-filter btnStatic">Apply filter <i class="fa fa-check"></i>
                                </button>
                        </div>
                    </div>
                </div>
                <div class="file-notes-list">
                    <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                    <div class="tableWrapper">
                        <div *ngIf="(!isProcessing) &&  (notesList.length == 0)" class="alert alert-danger">
                            Record not found
                        </div>
                        <br>
                        <table *ngIf="(!isProcessing) &&  (notesList.length != 0)" [mfData]="notesList" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead *ngIf="notesList.length && !isProcessing">
                                <th style="width: 70px;">S. no.</th>
                                <th>
                                    <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="noteFor.name">Notes for &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="noteBy.name"> Notes written/Given by &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="insertTime"> Created on &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                            </thead>
                            <tbody>
                                <tr (click)="onShowDetails(items.noteId)" *ngFor="let items of mf.data; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{items.title}}</td>
                                    <td>
                                        <div class="media">
                                            <div class="media-left d-flex align-self-center  media-middle">
                                                <img class="img-circle" src="{{items.noteFor.imageUrl}}" height="40px" width="40px" />
                                            </div>
                                            <div class="d-flex align-self-center  media-right"> {{items.noteFor.name}}</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media">
                                            <div class="media-left d-flex align-self-center  media-middle">
                                                <img class="img-circle" src="{{items.noteBy.imageUrl}}" height="40px" width="40px" />
                                            </div>
                                            <div class="d-flex align-self-center  media-right"> {{items.noteBy.name}}</div>
                                        </div>
                                    </td>
                                    <td>{{items.insertTime| dateFormat}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                <tr class="danger" style="text-align:center" *ngIf="!notesList.length && isProcessing">
                                    <td colspan="4">Record not found</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>