.filterController ul.over180 {
    border-top: 0;
}

th a {
    font-weight: bold !important;
    color: #333 !important;
}

.activeTab {
    overflow: hidden;
    transition: all 0.1s ease;
    animation: tab 0.1s linear;
}

thead {
    opacity: 0.8;
}

// .file-notes-list{
//     padding-top:20px;
// }
@keyframes tab {
    0% {
        height: 0;
    }
    100% {
        height: 270px;
    }
}

// @keyframes tab{
//     0%{height:0;}
//     100%{height:270px;}
// }
.filterController button.btn.btn-default {
    bottom: 15px;
}

tr {
    cursor: pointer;
}

button.form-control.btn-filter {
    font-weight: 500;
}