<md-progress-spinner *ngIf="!policy" mode="indeterminate" color=""></md-progress-spinner>
<section id="printBox" *ngIf="policy" class="note-preview">
    <div>
        <div class="companyLogo">
            <img [src]="policy.companyLogo">
        </div>
        <div class="headingDiv">
            <h4 class="heading" [innerHTML]="policy.title"></h4>
            <p [innerHTML]="policy.description"></p>
        </div>
        <div class="content" *ngFor="let x of policy.policySubjects">
            <h6 class="heading" [innerHTML]="x.title"></h6>
            <p [innerHTML]="x.description"></p>

        </div>
        <div class="btnWrapper text-center">
            <button (click)="onPrint()" class="btn btn-lg btn-primary">Print document</button>
        </div>
    </div>
</section>