@import '../../contracts/preview-document/preview-document.component.scss';
.companyLogo{
    width: auto;
    height:100%;
    margin: 0 auto;
    text-align: center;
}
.companyLogo img{
    height: 100px;
    width: 268px;
}