<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <!-- <li class="breadcrumb-item"><a [routerLink]="['/app/employee/activites']">Disciplinary meetings</a></li> -->
                    <li class="breadcrumb-item active">Invite third party</li>
                </ol>
            </div>
            <div *ngIf="!isProcessing" class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing && disciplinaryMeeting" class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h3 class="heading">Disciplinary meeting</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Employee:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{disciplinaryMeeting?.employee.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{disciplinaryMeeting?.employee.name}}</h5>
                                            <div class="designation">{{disciplinaryMeeting?.employee.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Manager/owner:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{disciplinaryMeeting?.manager.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{disciplinaryMeeting?.manager.name}}</h5>
                                            <div class="designation">{{disciplinaryMeeting?.manager.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <form>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Tltle</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{disciplinaryMeeting?.title}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{disciplinaryMeeting?.reason}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{disciplinaryMeeting?.meetingTime| dateFormat}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Attendees</label>
                                    </div>
                                    <div class="rghtinput10 pipHeader">
                                        <div class="pipEmploye attendeesList">
                                            <div class="pipEmpuserPic" *ngFor="let d of disciplinaryMeeting.thirdParty">
                                                <div class="profile">
                                                    <div class="adjust"><img src="{{d?.imageUrl}}" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>{{d?.name}}</h5>
                                                    <div class="designation">{{d?.position}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>



                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Invite 3rd party <br>(Optional)</label>
                            </div>
                            <div class="rghtinput10">
                                <div>
                                    <div class="form-group">

                                        <div class="rghtinput">
                                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <div *ngIf="!isProcessing">
                                                <div class="customDDmain">
                                                    <div class="selectedList" *ngFor=" let e of thirdPartyList">
                                                        <div class="itemName" *ngIf="e.isSelected">
                                                            {{e.name}}
                                                            <span style="margin-left:5px; cursor: pointer" (click)="e.isSelected=false;" class="fa fa-close"></span>
                                                        </div>
                                                    </div>
                                                    <div class="selectItems">
                                                        <!-- <input class="form-control" style="border-radius:0;" aria-describedby="basic-addon1"> -->
                                                        <!--<div class="ddBtn" (click)="isFocused=!isFocused"></div>   -->
                                                        <div class="inviteEmpMain" style="display:block !important;">
                                                            <input autocomplete="off" class="form-control searchfield" placeholder="Select third party or enter third party email" name="daste" type="text" (keyup.enter)="onEnterExternalThirdParty(!(email.errors && ( (email.dirty || email.touched) || isEnterPressed )))"
                                                                pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$" (ngModelChange)="isEnterPressed=false" [(ngModel)]="thirdPartyName" #email="ngModel"
                                                                (click)="isFocused=!isFocused" aria-describedby="basic-addon1" on-focus="isFocused=true">
                                                            <!-- <span class="fa input-group-addon pull-right" [ngClass]="isFocused?'fa-angle-down':'fa-angle-up'" id="basic-addon1"></span>-->
                                                            <span class="input-group-btn pull-right" style="    width: 34px; height: 36px;text-align: center; overflow: hidden; border-radius: 1px 7px 7px 0px;    position: relative;  z-index: 99;">
                                                            <button class="btn btn-secondary" type="button" style="padding: 7px 7px 13px 1px;">
                                                            <i class="fa" [ngClass]="isFocused?'fa-angle-down':'fa-angle-up'" id="basic-addon1" ></i>
                                                        </button>
                                                        </span>
                                                            <ul class="inviteList" *ngIf="isFocused" style="max-height: 170px; z-index: 99;position: relative;top: 0px;">
                                                                <li (click)="e.isSelected=!e.isSelected; isNewSelectedThirdPartyBlank=false;" *ngFor=" let e of thirdPartyList |searchByName:thirdPartyName ;let i=index">
                                                                    <div class="customchkbox">
                                                                        <input aria-required="true" class="required" type="checkbox" name="customchk1{{i}}" [(ngModel)]="e.isSelected" id="custom{{e.userId}}">
                                                                        <label for="customchk1{{i}}"></label>
                                                                    </div>
                                                                    <img src="{{e?.imageUrl}}" alt="" />
                                                                    <div class="empinfo">
                                                                        <label>{{e?.name}}</label>
                                                                        <div class="userprofile">{{e?.employeeProfile || 'N/A'}}</div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="footerBtn text-right" *ngIf="isFocused">
                                                                <button class="btn btn-success btn-sm" (click)="isFocused=!isFocused">Ok</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div *ngIf="email.errors && ( (email.dirty || email.touched) && isEnterPressed )">
                                                        <div class="alert alert-danger" *ngIf="email?.errors?.pattern"> Not a valid email !</div>
                                                    </div>
                                                    <div *ngIf="isThirdPartyAlreadyExist" class="alert-danger">user already exist with this email address.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Add attendees</label>
                            </div>
                            <div class="rghtinput10 pipHeader">
                                <div class="pipEmploye attendeesList">
                                    <div class="pipEmpuserPic" *ngFor="let c of thirdPartyList">
                                        <div *ngIf="c.isSelected">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{c?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{c?.name || c?.email}}</h5>
                                                <div class="designation">{{c?.role}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isNewSelectedThirdPartyBlank">Please select third party first.</div>
                        <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <button *ngIf="!isCreateProcessing" (click)="onInviteThirdParty()" class="btn btn-secondary">Add thirdparty</button>
                    </div>


                </div>
                <div class="cmpnycontentBox last">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Statements</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="statementsBox">
                                <form>
                                    <div class="row">
                                        <!--****************************************************** STATEMENT from EMPLOYEE ******************************************************************************-->
                                        <div class=" col-sm-12 form-group PIPmainBox">
                                            <div class="box">
                                                <h6 class="heading">Statement from employee</h6>
                                                <table>
                                                    <tr *ngFor="let s of disciplinaryMeeting.statements.Employee">
                                                        <td class="white-space-pre">{{s?.disciplinaryStatement}}</td>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{s?.userDetails?.imageUrl}}" height="40px" width="40px" /></div>
                                                                <div class="d-flex align-self-center  media-right">{{s?.userDetails?.name}}</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!--****************************************************** STATEMENT from MANAGER ******************************************************************************-->
                                        <div class=" col-sm-12 form-group PIPmainBox">
                                            <div class="box">
                                                <h6 class="heading">Statement from employee</h6>
                                                <table>
                                                    <tr *ngFor="let s of disciplinaryMeeting.statements.Manager">
                                                        <td class="white-space-pre">{{s?.disciplinaryStatement}}</td>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{s?.userDetails?.imageUrl}}" height="40px" width="40px" /></div>
                                                                <div class="d-flex align-self-center  media-right">{{s?.userDetails?.name}}</div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!--****************************************************** STATEMENT from THIRDPARTY ******************************************************************************-->
                                        <div *ngIf='disciplinaryMeeting.thirdParty' class=" col-sm-12 form-group PIPmainBox">
                                            <div class="box">
                                                <h6 class="heading">Statement from employee</h6>
                                                <table>
                                                    <tr *ngFor="let s of disciplinaryMeeting.statements.ThirdParty">
                                                        <td class="white-space-pre">{{s?.disciplinaryStatement}}</td>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{s?.userDetails?.imageUrl}}" height="40px" width="40px" /></div>
                                                                <div class="d-flex align-self-center  media-right">{{s?.userDetails?.name}}</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>




                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="disciplinaryMeeting.status == 'Complete'" class="cmpnycontentBox last">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="heading">Result</h4>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin:0px 0px;">Result</label>
                            </div>
                            <div class="rghtinput10">
                                {{disciplinaryMeeting?.result}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>