dp-date-picker {
    max-width: 600px;
}

.PIPFormbox {
    padding-top: 30px;
    .attendeesList {
        .pipEmpuserPic {
            display: inline-block;
            margin-right: 20px;
        }
    }
    .proposeTime {
        margin: 20px 0px;
    }
    .form-group {
        .form-inline {
            margin: 0px 0px;
        }
        .dateTimeAlign {
            margin-top: -8px;
        }
    }
}