<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">User Report
                    <!-- <span class="cvsReport float-right">
            <i class="fa fa-share-square-o" aria-hidden="true"></i>
            <div class="iconTitle">Extract CSV</div>
          </span> -->
                </h2>
            </div>
        </div>
        <!--Filter Box-->

        <div class="box box-default  paddingBox mainFilters">
            <span class="filtericn float-right">
        <i class="fa fa-filter" aria-hidden="true"></i>
      </span>
            <div class="table-responsive">
                <table class="mdl-data-table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row ">
                                    <div class="filtercolumn">
                                        <h5 class="filterTitle">Status</h5>
                                        <div class="filterItems">
                                            <ul>
                                                <li>
                                                    <md-checkbox name="active" (change)="onApplyFilter()" [(ngModel)]="filters.filter.status['Active']">Active </md-checkbox>
                                                </li>
                                                <li>
                                                    <md-checkbox name="inactive" (change)="onApplyFilter()" [(ngModel)]="filters.filter.status['Inactive']">InActive </md-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="filtercolumn">
                                        <h5 class="filterTitle">Employee Count</h5>
                                        <!-- <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div> -->
                                        <div class="filterItems">
                                            <ul>
                                                <li>
                                                    <md-checkbox name="active" (change)="onApplyFilter()" [(ngModel)]="filters.filter.employeeCount['100']">100 </md-checkbox>
                                                </li>
                                                <li>
                                                    <md-checkbox name="inactive" (change)="onApplyFilter()" [(ngModel)]="filters.filter.employeeCount['200']">200 </md-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="filtercolumn">
                    <h5 class="filterTitle">Revenue</h5>
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div>
                    <div class="filterItems">
                      <ul>
                        <li>
                          <md-checkbox>$1000 - $20,000 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>$2000 - $30,000 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>$3000 - $40,000 </md-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                                    <div class="filtercolumn">
                                        <h5 class="filterTitle">Sub Company Count</h5>
                                        <!-- <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div> -->
                                        <div class="filterItems">
                                            <ul>
                                                <li>
                                                    <md-checkbox name="count5" (change)="onApplyFilter()" [(ngModel)]="filters.filter.subCompanyCount['5']">0-5 </md-checkbox>
                                                </li>
                                                <li>
                                                    <md-checkbox name="count10" (change)="onApplyFilter()" [(ngModel)]="filters.filter.subCompanyCount['10']">5-10 </md-checkbox>
                                                </li>
                                                <li>
                                                    <md-checkbox name="count15" (change)="onApplyFilter()" [(ngModel)]="filters.filter.subCompanyCount['15']">10-15 </md-checkbox>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="filtercolumn">
                    <h5 class="filterTitle">Avg. Session Time</h5>
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div>
                    <div class="filterItems">
                      <ul>
                        <li>
                          <md-checkbox>0-5 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>5-10 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>10-15 </md-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                                    <!-- <div class="filtercolumn">
                    <h5 class="filterTitle">Total Session Time</h5>
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div>
                    <div class="filterItems">
                      <ul>
                        <li>
                          <md-checkbox>0-5 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>5-10 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>10-15 </md-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                                    <!-- <div class="filtercolumn">
                    <h5 class="filterTitle">Emp. using Mobile App</h5>
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div>
                    <div class="filterItems">
                      <ul>
                        <li>
                          <md-checkbox>0-5 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>5-10 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>10-15 </md-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                                    <!-- <div class="filtercolumn">
                    <h5 class="filterTitle">Employee Session Report</h5>
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div>
                    <div class="filterItems">
                      <ul>
                        <li>
                          <md-checkbox>0-5 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>5-10 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>10-15 </md-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                                    <!-- <div class="filtercolumn">
                    <h5 class="filterTitle">last Login</h5>
                    <div class="input-group">
                      <input class="form-control" placeholder="Search" type="text">
                      <div class="input-group-addon">
                        <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                      </div>
                    </div>
                    <div class="filterItems">
                      <ul>
                        <li>
                          <md-checkbox>0-5 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>5-10 </md-checkbox>
                        </li>
                        <li>
                          <md-checkbox>10-15 </md-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="box box-default table-box table-responsive mdl-shadow--2dp">
                    <table class="mdl-data-table" #mf="mfDataTable" [mfData]="reportList" [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="userID">ID &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="companyName">Company Name &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="name">Name &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="email">Email ID &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="phoneNumber">phone Number &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="companyType">Company Type &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <!-- <th>
                  <mfDefaultSorter by="daysLeft">Days Left &nbsp;
                    <i class="fa fa-sort"></i>
                  </mfDefaultSorter>
                </th> -->
                                <th>
                                    <mfDefaultSorter by="subCompanyCount">Sub Comp. Count &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="employeeCount">Employee Count &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <!-- <th>
                  <mfDefaultSorter by="lastMonthlyPayment">last Month Payment &nbsp;
                    <i class="fa fa-sort"></i>
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="averageSessionTime">Avg. Session Time &nbsp;
                    <i class="fa fa-sort"></i>
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="totalSessionTime">Total Session time &nbsp;
                    <i class="fa fa-sort"></i>
                  </mfDefaultSorter>
                </th> -->
                                <!-- <th><mfDefaultSorter by="title">Employees using Mobile &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter></th> -->
                                <!-- <th><mfDefaultSorter by="title">Employees Session Report &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter></th> -->
                                <th>
                                    <mfDefaultSorter by="lastLogin">last Login &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of mf.data; let i=index;">
                                <td>{{user?.userID}}</td>
                                <td>{{user?.companyName}}</td>
                                <td>{{user?.name}}</td>
                                <td>{{user?.email}}</td>
                                <td>{{user?.phoneNumber}}</td>
                                <td>{{user?.companyType}}</td>
                                <td>{{user?.status}}</td>
                                <!-- <td>{{user?.daysLeft}}</td> -->
                                <td>{{user?.subCompanyCount}}</td>
                                <td>{{user?.employeeCount}}</td>
                                <!-- <td>{{user?.lastMonthlyPayment}}</td> -->
                                <!-- <td>{{user?.averageSessionTime}}</td> -->
                                <!-- <td>{{user?.totalSessionTime}}</td> -->
                                <!-- <td>900 Hours</td> -->
                                <!-- <td>20</td> -->
                                <td>{{user?.lastLogin}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="reportList.length==0" class="text-center">
                        No record found !
                    </div>
                </div>
            </div>
        </div>

    </article>
</div>