.mainFilters{
    .table-responsive{
        .mdl-data-table{
           width:auto;
           background: #f5f5f5;
           td{
               &:hover{
                   background: #f5f5f5;
               }
           }
        }
    }
    .filtercolumn{
        margin:10px 20px;
       .input-group {
    margin-bottom: 12px;
    width: 245px !important;
}
    }
     .filtericn{
        position: relative;
        left: 30px;
        font-size: 30px;
        top: -13px;
        left: 0px;
        display:none;
    }
  
}
.cvsReport{
    text-align:center;
    i{
        color:#4cdaaa;
    }
    .iconTitle{
            font-weight: 400;
            font-size: 13px;
            position: relative;
            top: -10px;
    }
}
