<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day']">Master training plan</li>
                    <li class="breadcrumb-item active">{{heading}}</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div> -->
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12 text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12">
                <div class="cmpnycontentBox">
                    <!-- <div class="marginBottom date text-right">22 March 2017 at 12:00</div> -->
                    <form class="maxformWidth" name="masterForm" #masterForm="ngForm">
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training plan title</label>
                                </div>
                                <div class="rghtinput10">
                                    <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="masterPlan.title" placeholder="training plan title"
                                        required>
                                    <div *ngIf="title.dirty || title.touched || masterForm.submitted">
                                        <div class="color-danger" [hidden]="title.valid">Please enter title.</div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    <!-- <textarea class="form-control" name="reason" #reason="ngModel" [(ngModel)]="masterPlan.reason" required></textarea> -->
                                    <!-- <app-tinymce class="form-control" style="height: inherit; max-width: inherit;" name="reason" #reason="ngModel" [(ngModel)]="masterPlan.reason"
                                        required></app-tinymce> -->
                                    <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="reason" #reason="ngModel" [(ngModel)]="masterPlan.reason"
                                        required></quill-editor>
                                    <div *ngIf="reason.dirty || reason.touched || masterForm.submitted">
                                        <div class="color-danger" [hidden]="reason.valid">Please enter reason.</div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10">
                                    <!-- <textarea class="form-control" name="actionPlan" #actionPlan="ngModel" [(ngModel)]="masterPlan.actionPlan" required></textarea> -->
                                    <!-- <app-tinymce class="form-control" style="height: inherit; max-width: inherit;" name="actionPlan" #actionPlan="ngModel" [(ngModel)]="masterPlan.actionPlan"
                                        required></app-tinymce> -->
                                    <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="actionPlan" #actionPlan="ngModel" [(ngModel)]="masterPlan.actionPlan"
                                        required></quill-editor>
                                    <div *ngIf="actionPlan.dirty || actionPlan.touched || masterForm.submitted">
                                        <div class="color-danger" [hidden]="actionPlan.valid">Please enter action plan.</div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10">
                                    <!-- <textarea class="form-control" name="objective" #objective="ngModel" [(ngModel)]="masterPlan.objective" required></textarea> -->
                                    <!-- <app-tinymce class="form-control" style="height: inherit; max-width: inherit;" name="objective" #objective="ngModel" [(ngModel)]="masterPlan.objective"
                                        required></app-tinymce> -->
                                    <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="objective" #objective="ngModel" [(ngModel)]="masterPlan.objective"
                                        required></quill-editor>
                                    <div *ngIf="objective.dirty || objective.touched || masterForm.submitted">
                                        <div class="color-danger" [hidden]="objective.valid">Please enter an objective.</div>
                                    </div>
                                </div>
                            </div>
                            <md-progress-spinner *ngIf="isProcessingForm" style="max-width:inherit !important;" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!isProcessingForm" class="col-sm-12 text-center form-group nextstepbtn">
                                <button type="submit" (click)="createMasterPlan(masterForm.valid)" class="btn btn-lg btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>