<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
    <div class="col-md-12">
      <h2 class="article-title">API Log</h2>
    </div>
  </div>
     <div class="box box-default table-box table-responsive mdl-shadow--2dp">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
          <table *ngIf="!isProcessing" class="mdl-data-table" [mfData]="logsData" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead *ngIf="mf.data.length">
               <tr class="tHead">
                  <td><strong>Time Stamp</strong></td>
                  <td><strong>Log</strong></td>
               </tr>
            </thead>
            <tbody>
              <tr *ngFor="let l of mf.data">
                <td>
                   <div class="date"><label><strong>Date :</strong></label> <span class="value">{{formatDate(l?.logDateTime)}}</span></div>
                   <div class="date time"><label><strong>Time :</strong></label> <span class="value">{{formatTime(l?.logDateTime)}}</span></div>
                </td>
                <td>
                <pre><p>{{l.log}}</p></pre>
                </td>
              </tr> 
             </tbody>
            <tfoot>
                <br>
                <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
           </tfoot>
           <div *ngIf="mf.data.length==0">
              <div class="text-center">No logs founds</div>
          </div>
          </table> 
        </div>
  </article>
</div>
