.mdl-data-table{
    min-width:700px;
    tr{
        &.tHead{
            td{
                font-size:15px;
            }
        }
        th{
            padding-top:10px;
        }
        td{
           &:last-child{
              width:auto !important;
          }
        }
    }
}
pre{
    margin-bottom:0px;
    white-space: initial;
}