.PIPFormbox{
    form{
       .form-group{
           &:first-child{
               margin-top:30px;
           }
       }
    }
}
.btnwrap{
    .btn{
        &:first-child{
            margin-right:7px;
        }
    }
}