<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day/training-plan/list']">Training plan</li>
                    <li class="breadcrumb-item active">Certification of participation</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div> -->
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox text-center">
                    No result found.
                </div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12">
                <div class="cmpnycontentBox">
                     <div class="marginBottom date text-right"><strong>Completed</strong>&nbsp;&nbsp; {{formatDateTime(trainingPlan?.completedOn)}}</div> 
                    <!-- <form class="maxformWidth"> -->
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training plan title</label>
                            </div>
                            <div class="rghtinput10">
                                <!-- <input type="text" class="form-control"> -->
                                {{trainingPlan?.title}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Reason</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.reason |safe:'html'">
                                <!-- <textarea class="form-control"></textarea> -->
                                <!-- {{trainingPlan?.reason}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Action plan</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.actionPlan |safe:'html'">
                                <!-- <textarea class="form-control"></textarea> -->
                                <!-- {{trainingPlan?.actionPlan}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Objective</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.objective |safe:'html'">
                                <!-- <textarea class="form-control"></textarea> -->
                                <!-- {{trainingPlan?.objective}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Managers notes</label>
                            </div>
                            <div class="rghtinput10">
                                <!-- <textarea class="form-control"></textarea> -->
                                {{trainingPlan?.managerNote || 'Not specified'}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training date & time</label>
                            </div>
                            <div class="rghtinput10">
                                <!-- <dp-date-picker class="form-control" [theme]="'dp-material'" [mode]="'daytime'" [config]="config"></dp-date-picker> -->
                                {{formatDateTime(trainingPlan?.trainningTime)}}
                            </div>
                        </div>
                        <div *ngIf="trainingPlan?.signature">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10"><label class="form-inline"></label></div>
                                <div class="rghtinput10">
                                    <div class="customchkbox">
                                        <input id="roll3" type="checkbox" value="roll" class="required" aria-required="true" checked disabled>
                                        <label for="roll3"></label>
                                    </div>
                                    <span>I acknowledge that I have received training under the guidance of {{trainingPlan?.assignedBy?.name}} on {{formatDateTime(trainingPlan?.completedOn)}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Signature</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="signaturebox form-control text-center" style="padding: 30px 0 30px;">
                                            <span class="signDemo" [ngClass]="trainingPlan?.signature?.signature?.type">{{trainingPlan?.signature?.signature?.text}}</span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!--<div class="col-sm-12 text-right form-group nextstepbtn">
                                <button class="btn btn-lg btn-primary" [routerLink]="['/app/company-admin/training-day/master-training-plan/detail']">Create training paln</button>
                            </div>-->
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>