<div class="header">
  <div class="top-header"><img src="assets/images/logo-white.png" width="160"></div>
</div>

<div class="page-auth">
  <!-- Modal --><br>
  <div class="container"></div>
  <section class="welcomeForm">
    <div id="myModal" class="modal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="text-center">
            <h3>Welcome to Happy HR</h3>
          </div>
          <div class="clearfix"></div>
          <div class="text-center">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <button *ngIf="!isProcessing" (click)="getStarted()" class="btn btn-primary btn-lg">Get started</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>