<div class="full-width row">
    <md-progress-spinner *ngIf="!positionDescription" mode="indeterminate" color=""></md-progress-spinner>
</div>

<section class="descriptionDetails" *ngIf="positionDescription">
    <div class="header" [hidden]="true">
        <h3 class="heading">Position description details &nbsp;&nbsp;</h3>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/position-description']">Position description</a></li>
        <li class="breadcrumb-item active">detail</li>
        <li style="padding-right:0 !important;"><button class="btn btn-primary pull-right" (click)="generatePDF(positionDescription)">Download PDF</button></li>

    </ol>

    <div #snapshot>
        <div class="cmpnycontentBox">

            <!-- ONLY FOR PDF -->
            <h3 id="pdfheader" style="text-align: center;display:none;">Position description</h3>
            <!-- end -->

            <div class="box">
                <h3 class=" heading">{{positionDescription?.positionTitle}}</h3>
            </div>
            <div class="box">
                <h3 class="heading">Summary</h3>
                <p [innerHTML]="positionDescription?.positionSummary">
                </p>
            </div>
            <div class="box">
                <h3 class="heading">Performance indicators</h3>
                <div class="table-responsive tableWrapper">

                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div>
                        <table id="notpdftable" #mf="mfDataTable" [(mfSortOrder)]="asc" [mfData]="positionDescription.performanceIndicator" class="full-width">
                            <thead>
                                <tr>
                                    <th><b>S.no</b></th>
                                    <th>
                                        <mfDefaultSorter by="title"><b>Performance indicator</b> &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="measure"><b>Measurement of performance indicator</b> &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="duration"><b>Assessment period</b> &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <!-- <th *ngIf="(userInfo.userRole =='companyAdmin') && !userInfo.isSubCompany" id="pdfth" style="width: 130px"><b>Action</b></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr [attr.data-selected]="false" [class.highlight]="hightlightStatus[i]" *ngFor="let p of mf.data; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{p?.title}}</td>
                                    <td>{{p?.measure}}</td>
                                    <td>{{p?.duration}}</td>
                                    <td *ngIf="(userInfo.userRole =='companyAdmin') && !userInfo.isSubCompany" id="pdftd">
                                        <!-- <button (click)="onAddEditPerformanceIndicator(p)" [disabled]="hightlightStatus[i]" style="background:none;border:none;"
                      class="color-info"><i  class="fa fa-pencil-square-o"></i> &nbsp;&nbsp;   </button>
                    <button (click)="onDeletePerformanceIndicator(p.performanceId,i);" [disabled]="hightlightStatus[i]" style="background:none;border:none;"
                      class="color-danger"><i  class="fa fa-trash-o"></i></button> -->

                                        <!-- <div class="dropdown">
                                            <md-progress-spinner *ngIf="p.isDeleteProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <button *ngIf="!p.isDeleteProcessing" class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button class="dropdown-item btn-none color-info" (click)="onAddEditPerformanceIndicator(p)"><i class="fa fa-pencil-square-o"></i>&nbsp; Edit</button>
                                                <button class="dropdown-item btn-none color-danger" (click)="onDeletePerformanceIndicator(p,i);"><i class="fa fa-trash-o"></i>&nbsp; Delete</button>
                                            </div>
                                        </div> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a href="javascript:void(0)" *ngIf="isperformanceIndicatorMore" style="margin-top: 5px; cursor: pointer;" (click)="onViewMore()">View more</a>
                        </div>

                        <!-- COPY OF ABOVE TABLE -->
                        <!-- ONLY FOR PDF -->
                        <div id="pdftable" style="display: none;">
                            <table>
                                <thead>
                                    <tr>
                                        <th><b>S.no</b></th>
                                        <th><b>Performance indicator</b> &nbsp;&nbsp;</th>
                                        <th><b>Measurement of performance indicator</b> &nbsp;&nbsp;</th>
                                        <th><b>Assessment period</b> &nbsp;&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of positionDescription.performanceIndicator; let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{p?.title}}</td>
                                        <td>{{p?.measure}}</td>
                                        <td>{{p?.duration}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end -->


                    </div>
                </div>
                <div *ngIf="(userInfo.userRole =='companyAdmin') && !userInfo.isSubCompany" class="text-right">
                    <a id="pdfbtn" (click)="onAddEditPerformanceIndicator()" class="newindecator">(+) Add new performance indicator</a>
                </div>
            </div>
            <div class="box listingcontent">
                <h3 class="heading">Other roles and responsibilities</h3>
                <p [innerHTML]="positionDescription?.rolesAndResponsibilities">
                </p>
            </div>
            <div class="box listingcontent">
                <h3 class="heading">Previous experience</h3>
                <p [innerHTML]="positionDescription?.pastExperience">
                </p>
            </div>
            <div class="box listingcontent">
                <h3 class="heading">Education</h3>
                <p [innerHTML]="positionDescription?.education">
                </p>
            </div>
            <div *ngIf="positionDescription.companyPositionLevel.length>0" class="box">
                <h3 class="heading">levels</h3>
                <table class="table">
                    <tr>
                        <td>s.no</td>
                        <td>Full time</td>
                        <td>Part time</td>
                        <td>Casual</td>
                    </tr>
                    <tr *ngFor="let c of positionDescription.companyPositionLevel; let i=index;">
                        <td>{{i+1}}</td>
                        <td *ngFor="let l of c.contractType">{{l.salary}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>