.marginTop{
    margin-top:20px;
}
.collapseInfoBox {
    margin-bottom:0px;
    .collapseContentbox{
        padding:0px;
        &.open{
            padding:15px;
        }
     }
}
.assessnextbox{
    margin-top:22px;
}
