<div class="header">
    <div class="container">
        <div class="top-header">
            <a href="https://happyhr.com/" target="_blank"><img src="assets/images/logo-white.png" width="160"></a>
        </div>
    </div>
</div>

<div class="page-auth">
    <!-- Modal --><br>
    <div class="container" style="margin-top:20px;">
        <app-steps [progress]='progress'></app-steps>
    </div>
    <section class="welcomeForm">
        <div id="myModal" class="modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title"><img src="assets/images/user-profile.png" alt="userPic" /> Hi {{userName}}!!</h1>
                        </div>
                        <div class="modal-body">
                            <p>Welcome to</p>
                            <img src="assets/images/logo.png" />
                            <br>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" (click)="submit()" class="btn btn-default btn-blue full-width">Start with your company details</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>