<h4 class="heading">
    {{buttionText}} performance-indicator
</h4>
<form #addEditForm="ngForm">
    <div class="row">
        <div class="col-md-12 form-group">
            <label class="form-inline">Title</label>
            <textarea #titleName="ngModel" class="form-control full-width" myNoSpaces required name="performance_indicator" [(ngModel)]="performanceIndicatorObject.title"></textarea>
            <div *ngIf="titleName.errors && (titleName.dirty || titleName.touched)">
                <div class="alert alert-danger" [hidden]="!(titleName.errors.required || titleName.errors.whitespace)">
                    Title is required !
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <label class="form-inline">Duration</label>
            <select placeholder="Duration" class="form-control" required #duration="ngModel" required name="type" [(ngModel)]="performanceIndicatorObject.duration">
                <option disabled value="">Select duration</option>
                <option value="1 month">1 Month</option>
                <option value="3 months">3 Months</option>
                <option value="6 months">6 Months</option>
                <option value="12 months">12 Months</option>            
              </select>
            <div *ngIf="duration.errors && (duration.dirty || duration.touched)">
                <div class="alert alert-danger" [hidden]="!(duration.errors.required)">
                    Duration is required !
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <label class="form-inline">Measure</label>
            <textarea name="measurementPerformance" class="form-control full-width" #measure="ngModel" required myNoSpaces [(ngModel)]="performanceIndicatorObject.measure"></textarea>
            <div *ngIf="measure.errors && (measure.dirty || measure.touched)">
                <div class="alert alert-danger" [hidden]="!(measure.errors.required || measure.errors.whitespace)">
                    Measure is required !
                </div>
            </div>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing">
        <button class="btn btn-primary" color="primary" [disabled]="!addEditForm.form.valid" (click)="addEditButton(addEditForm.form.valid);false">{{buttionText}}</button>
        <button color="default" class="btn btn-default" (click)="onCancel();false">Cancel</button>
    </div>

</form>