<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin/listing-page/induction-onboarding-listing']">On boarding checklist</a>
                    </li>
                    <li class="breadcrumb-item active">Perform action</li>
                </ol>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <ng-container *ngIf="!isProcessing">
            <div class="collapseInfoBox checklistMain" *ngFor="let c of checkList">
                <div *ngIf="c?.categories?.columns?.rows.length">
                    <h4 (click)="collapse[i]=!collapse[i];$event.stopPropagation()" [ngClass]="{active:!collapse[i]}">
                        <div class="pull-right arrowIcon">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        {{c?.categories?.title}}
                    </h4>
                    <div [ngClass]="{open:!collapse[i]}" class="collapseContentbox">
                        <div class="visibletbl checklistTbl">
                            <table class="mdl-data-table full-width">
                                <tbody>
                                    <tr>
                                        <th class="addColdata" style="width:38%;">
                                            {{c?.categories?.columns?.columnA}}
                                        </th>
                                        <th class="addColdata" style="width:44%;">
                                            {{c?.categories?.columns?.columnB}}
                                        </th>
                                        <th class="addColdata" style="width:18%;min-width:145px;">
                                            {{c?.categories?.columns?.columnC}}
                                        </th>
                                    </tr>
                                    <tr *ngFor="let col of c?.categories?.columns?.rows">
                                        <td>
                                            {{col.columnA || 'Not specified'}}
                                        </td>
                                        <td>
                                            <input class="white-space form-control full-width" placeholder="Manager note" [(ngModel)]="col.columnB">
                                        </td>
                                        <td>
                                            <select style="min-width:130px;" class="form-control full-width" style="resize:none;" [(ngModel)]="col.columnC">
                                                <option value="" disabled>Select an action</option>
                                                <option *ngFor="let type of actions" [value]="type">{{type}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!checkList?.length">
                                <div class="text-center">
                                    No record found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-progress-spinner *ngIf="isProcessingSave" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessingSave" class="text-center">
                <button *ngIf="checkList?.length>0" style="margin-top:15px; " class="btn btn-primary btn-lg" (click)="onSave()"> Save</button>
            </div>
        </ng-container>
    </article>
</div>