<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[(role != 'companyContractor')?'/app/employee':'/app/sub-contractor']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active" [routerLink]="[(role != 'companyContractor')?'/app/employee/contracts':'/app/sub-contractor/contracts']">Contracts</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-8 col-lg-10">
                            <h4 class="heading" style="    margin-top: 10px;">List of contracts</h4>
                        </div>
                        <div class="col-md-4 col-lg-2">
                            <div class="full-width">
                                <div class="form-group">
                                    <button [ngClass]="{active:!toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-up':'fa-angle-down'"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="!toggleFilter">
                        <div class="col-sm-12">

                            <div class="filterController row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Version</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input [(ngModel)]="versionSearch" #se='ngModel' name="titlxe" type="text" class="form-control input-lg" placeholder="Search version" />
                                                <span class="input-group-btn">
                                                    <button class="btn">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isProcessing && tempReqBody.filter.versions.length>0" class="checkbox over180">
                                        <li *ngFor="let c of tempReqBody.filter.versions |searchByKey:se.value:'title';"><label><input type="checkbox" 
                                           (click)="isApplyBtnClicked=true" [(ngModel)]="c.isChecked" /><span>{{c.title}}</span></label>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox">
                                        <li *ngFor="let c of tempReqBody.filter.status">
                                            <label>
                                                <input type="checkbox" (click)="isApplyBtnClicked=true" [(ngModel)]="c.isChecked" /><span>{{c?.title}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button (click)="onApplyFilters()" [disabled]="!isApplyBtnClicked" [ngClass]="{'btn-filter'  : !isApplyBtnClicked,'btn-primary' : isApplyBtnClicked}" class="btn btn-lg outlined btn-filter btnStatic">Apply filter <i class="fa fa-check"></i>
                                        </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableWrapper paddingNone">

                    <table [mfData]="contracts" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">

                        <thead *ngIf="contracts.length" class="mainHeader">
                            <th style="width:90px">S.no</th>
                            <th style="width:120px">Status</th>
                            <th style="max-width:245px">Title</th>
                            <th style="width:120px">Type</th>
                            <!--<th>Last updated</th>-->
                            <th style="width:140px;">Current version</th>
                            <th style="width:140px;">Details</th>
                            <th style="width:140px">Action</th>
                        </thead>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <tbody *ngIf="!isProcessing && contracts.length>0">
                            <tr *ngFor="let c of mf.data;let i =index">
                                <td style="width:90px;">{{i+1}}</td>

                                <td *ngIf="!c.employeeStatus" style="width:120px;">Active</td>
                                <td *ngIf="c.employeeStatus && c.employeeStatus == 'Accepted'" style="width:120px;">Current</td>
                                <td *ngIf="c.employeeStatus && c.employeeStatus == 'Pending'" style = "width:120px;">Pending</td>
                                <td *ngIf="c.employeeStatus && c.employeeStatus == 'Old'" style="width:120px;">Old</td>

                                <td>{{c?.title || 'N/A'}}</td>
                                <td style="width:120px;">{{c?.contracttype || 'N/A'}}</td>
                                <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                <td>{{c?.version || 'N/A'}} </td>
                                <td><button (click)="onContractDetails(c)" class="btn btn-default">View details</button></td>
                                <td>
                                    <label *ngIf="c.employeeStatus== 'Accepted'" class="color-success">{{c.employeeStatus}}  </label>
                                    <md-progress-spinner *ngIf="isAcceptOrReject && c.employeeStatus!= 'Accepted'" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="c.employeeStatus== 'Pending' && !isAcceptOrReject" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down float-right"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button (click)="onContractDetails(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-circle-o"></i> Accept/Reject </button>
                                            <!-- <button (click)="onReject(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-times-square-o"></i> Reject</button> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot colspan="6">
                            <div class="col-sm-12">
                                <mfBootstrapPaginator *ngIf="!isProcessing"></mfBootstrapPaginator>
                            </div>
                            <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !contracts.length">
                                <td colspan="4"> Record not found</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>