<div style="max-height:400px" class="container-fluid">
    <div class="row">
        <div *ngIf="!isProcessing" class="col-md-12 text-right statusBtn labelStats">
            <label class="statsInfo">last updated on {{policy?.updateTime| dateFormat}}</label>
            <label class="statsInfo">Version {{policy?.version}}</label>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div class="row" *ngIf="!isProcessing">
        <div class="col-sm-12">
            <section id="printBox" class="note-preview cmpnycontentBox">
                <div class="headerBox">
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="logo"><img src="assets/images/logo.png" /></div>
                        </div>
                        <div class="col-md-6">
                            <div class="companyDtl">Joe office supplies <span class="date"></span>19/01/2016</div>
                        </div>
                    </div>-->
                </div>
                <div class="headingDiv">
                    <h4 class="heading">{{policy?.title}}</h4>
                    <p class="white-space-pre" [innerHTML]="policy.description"> </p>
                </div>
                <div *ngFor="let s of policy.policySubjects" class="content">
                    <h6 class="heading">{{s?.title}}</h6>
                    <p class="white-space-pre" [innerHTML]="s.description"> </p>
                </div>

                <div class="contentFooter">Copyright &copy; Happy HR</div>
                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>

            </section>
        </div>
    </div>
</div>