<div class="container-fluid dashboardActivity chapter">
    <article class="article">
        <h2 class="article-title">Activity for super admin and sub admin</h2>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

        <div *ngIf="!isProcessing" class="cmpnycontentBox">
            <div class="cmpnycontentBoxInner">
                <div class="activitySuperAdmin">
                    <div class="frame row">
                        <ul class="activityList col-md-6" *ngFor="let day of activityDays;let in=index;">
                            <h3><span class="dateTime"><i class="material-icons">date_range</i>&nbsp; <strong *ngIf="false">Today</strong> {{day| dateFormat:'longDate'}}</span></h3>
                            <ng-container *ngFor="let activity of activityStream[day];let i=index;">
                                <li *ngIf="activity[i]==day">
                                    <div class="content">
                                        <h5>{{activity.message}}</h5>
                                        <p><span>Task</span> updated {{activity?.insertTime| dateFormat:'shortTime'}}</p>
                                    </div>
                                </li>
                            </ng-container>
                            <!-- <div class="divfoot">
                            <a href="javascript:void(0)">view more &nbsp;<i class="material-icons">keyboard_arrow_right</i></a>
                        </div> -->
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>