.form-group {
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
    }
}

.cmpnycontentBox {
    .marginBottom {
        margin-bottom: 10px;
    }
}