.Organization-chart {
    padding: 0 15px 20px;
    .brand-logo {
        height: 60px;
        margin: 13px 0;
        img {
            height: 100%;
            width: auto;
        }
    }
    .tree-container {
        overflow: auto;
        .tree-wraper {
            .tree {
                text-align: center;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                -webkit-box-direction: normal;
                -moz-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                li {
                    // display: inline-block;
                    vertical-align: top;
                    padding: 12px 33px;
                    margin-top: 32px;
                    position: relative;
                    float: left;
                    section {
                        max-width: 80px;
                        position: relative;
                        margin: 0 auto;
                        figure {
                            overflow: hidden;
                            border-radius: 50%;
                            height: 80px;
                            z-index: 99;
                            box-shadow: 0px 0px 7px 0px #5d5d5d;
                            width: 80px;
                            margin: 0 auto;
                            position: relative;
                            background-color: #d8d8d8;
                            img {
                                height: auto;
                                width: 100%;
                                min-height: 100%;
                                min-width: 100%;
                            }
                            figcaption {
                                position: absolute;
                                bottom: 0;
                                z-index: 99;
                                background: rgba(0, 121, 216, 0.68);
                                width: 100%;
                                padding: 6px 13px;
                                small {
                                    font-size: 9px;
                                    line-height: 10px;
                                    font-weight: 600;
                                    color: #fff;
                                    display: block;
                                    margin-bottom: 5px;
                                }
                            }
                            &.unsignned {
                                span {
                                    display: block;
                                    padding: 0px 12px 0px;
                                    font-size: 11px;
                                    line-height: 11px;
                                    position: relative;
                                    top: 30%;
                                    max-height: 22px;
                                    overflow: hidden;
                                    word-wrap: break-word;
                                }
                            }
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            top: -25px;
                            right: 50%;
                            height: 24px;
                            border-left: 4px solid #909090;
                        }
                        &.hasChild {
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: -19px;
                                right: 50%;
                                height: 20px;
                                border-left: 4px solid #909090;
                            }
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: -13px;
                        left: 50%;
                        width: 51%;
                        border-top: 4px solid #909090;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: -13px;
                        right: 50%;
                        width: 51%;
                        border-top: 4px solid #909090;
                    }
                    .action {
                        position: absolute;
                        top: 0px;
                        left: 3px;
                        color: #333;
                        z-index: 99;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .hasChild.root>section::before {
        display: none;
    }
    // .hasChild.root>section::after{ display: none;}//
    // .hasChild .tree li:last-child section::after{display:none;}
    li.hasChild:after {
        content: '';
        position: absolute;
        top: -13px;
        left: 50%;
        width: 66%;
        border-top: 4px solid #909090;
    }
    li.hasChild.root:after,
    li.hasChild.root:before {
        display: none;
    }
    .hasChild li:first-child {
        &::before {
            display: none;
        }
    }
    li.hasChild.root {
        padding: 12px 0 !important;
    }
    .hasChild li:last-child {
        &::after {
            display: none;
        }
    }
    .tree .hasChild>section::after {
        content: '';
        position: absolute;
        bottom: -19px;
        right: 50%;
        height: 20px;
        border-left: 4px solid #909090;
    }
    .tree .actionDiv {
        position: absolute;
        right: -131px;
        padding: 12px 12px 0 12px;
        border: 1px solid gray;
        width: 130px;
        background: #e8e8e8;
        top: 0;
        border-radius: 4px;
        z-index: 999;
        .btn {
            width: 100%;
            margin-bottom: 12px;
        }
    }
    .designation {
        position: absolute;
        top: 20%;
        width: 85px;
        left: 91%;
        font-size: 14px;
        color: #464646;
        background: #FFCC33;
        z-index: 0;
        border-radius: 0px 26px 26px 0;
        height: 47px;
        text-align: left;
        vertical-align: middle;
        display: table;
        border: 2px solid #ECC8A7;
        small {
            display: table-cell;
            line-height: 14px;
            font-weight: normal;
            vertical-align: middle;
            padding: 0 12px;
        }
    }
    i.positionTabg {
        position: absolute;
        font-size: 10px;
        color: #848484;
        background-color: #ECECEC;
        height: 17px;
        line-height: 17px;
        width: 79px;
        font-weight: bold;
        border-radius: 0 50px 50px 0;
        right: -59px;
        padding-left: 22px;
        font-style: normal;
        left: 8px;
        margin: 0 auto;
        box-shadow: 0px 1px 6px 0px #AFABAB;
        border: 2px solid #989898;
        top: 0px;
        -moz-box-shadow: inset 0 0 10px #B7B7B7;
        -webkit-box-shadow: inset 0 0 10px #B7B7B7;
        box-shadow: inset 0 0 10px #B7B7B7;
    }
}

.labelsBtn {
    position: absolute;
    left: 65px;
    bottom: 0px;
    label {
        display: table-cell;
        padding: 1px 4px 0px;
        font-size: 8px;
        line-height: 14px;
        background: #5a5a5a;
        color: #ffffff;
        border-right: 1px solid #ffffff;
    }
}

.starBtn {
    position: absolute;
    bottom: 0px;
    left: -5px;
    z-index: 99;
    font-size: 20px;
    &:before {
        text-shadow: 0px 1px 1px #636363;
    }
}
.starBtnInduction {
    position: absolute;
    bottom: 0px;
    left: -5px;
    z-index: 99;
    font-size: 20px;
    &:before {
        text-shadow: 0px 1px 1px #636363;
    }
}

label.Node_position{
    position: absolute;
    top: -19px;
    right: -10px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

#tree-container-box{
    cursor:col-resize;
}