<div class="notification">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">Notifications</li>
    </ol>
    <ul id="notificationMenu" class="notifications cmpnycontentBox">
        <li class="titlebar">
            <h5 class="heading">Notifications</h5>
            <span class="settings"><i class="icon-cog"></i>
        </span>
        </li>
        <div class="notifbox">
            <li *ngFor="let noti of notiList" class=" notif" [ngClass]="noti.status == 'Unseen' ? 'unread' : ''">
                <a>
                    <div class="messageblock">
                        <div class="message" [innerHTML]="noti.message">
                        </div>
                        <div class="messageinfo">
                            <i class="icon-flag"></i>{{formateDate(noti.insertTime)}}
                        </div>
                    </div>
                </a>
            </li>

        </div>
        <li (click)="getNotiList()" class="seeall">
            <a>See More &nbsp;<i class="fa fa-angle-double-right"></i></a>
        </li>
    </ul>
</div>