.notification {
    padding: 0 20px 30px;
    .notifications {
        background: #fff;
        &:before {
            content: '';
            height: 10px;
            width: 10px;
            display: block;
            position: absolute;
            top: -20px;
            left: 140px;
            border: 10px solid #fff;
            border-color: transparent transparent #fff transparent;
        }
        &.open {
            opacity: 1;
            transition: .2s;
        }
        li {
            padding: 10px 5px;
            list-style-type: none;
            &.titlebar {
                border-bottom: 1px solid #ccc;
                color: #666;
                font-size: 12px;
                cursor: inherit;
                padding: 2px 5px;
                &:hover {
                    background: #fff;
                }
                .settings {
                    float: right;
                    cursor: pointer;
                }
            }
            &.seeall {
                text-align: right;
                font-size: 15px;
                min-height: 30px;
                background: #f5f5f5;
                position: relative;
                border-top: 1px solid #ccc;
                a {
                    color: #7b7b7b;
                    display: inline-block;
                    text-align: right;
                    cursor: pointer;
                }
            }
        }
        .notifbox {
            li {
                color: #666;
                a {
                    color: #666;
                }
                &.unread {
                    background: #fffcf3;
                }
                &.notif {
                    border-bottom: 1px solid #ccc;
                    position: relative;
                    &:last-child {
                        border-bottom: none;
                    }
                    .imageblock {
                        width: 70px;
                        position: absolute;
                        left: 5px;
                        .notifimage {
                            height: 60px;
                        }
                    }
                    .messageblock {
                        display: block;
                        font-size: 15px;
                        .message {
                            a {
                                color: #007fff;
                            }
                        }
                        .messageaction {
                            min-height: 30px;
                            margin-bottom: 5px;
                            .button {
                                font-weight: normal;
                                text-transform: uppercase;
                                &.success,
                                &.alert {
                                    color: #fff;
                                }
                            }
                        }
                        .messageinfo {
                            font-size: 14px;
                            color: #999;
                        }
                    }
                }
            }
        }
    }
    .badge {
        position: absolute;
        top: 30px;
        right: -20px;
    }
}