<section class="container-fluid with-maxwidth chapter">
    <article class="article broadcastmain">
        <h2 class="article-title">Broadcast list for {{title}}<button md-raised-button type="button" (click)="createNewMessage()" color="primary" class="float-right">Post a new message</button></h2>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-12">
                <div class="box box-default">
                    <div class="messageBox">
                        <div class="messageList">
                            <ul>
                                <li *ngFor="let item of messages">
                                    <div class="user">
                                        <div class="adjustsnap"><img src="{{item.user.imageUrl}}" /></div>
                                    </div>
                                    <div class="msgDetail">
                                        <h5>{{item.user.name}}</h5>
                                        <div class="dateTime">
                                            {{item.time | dateFormat}}<span> {{item.time | dateFormat:'shortTime'}}</span>
                                        </div>
                                        <pre class="white-space-pre">{{item.message}}
                                        </pre>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="text-center alert alert-danger" *ngIf="!messages.length && !isProcessing">
                            No message found
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>