<div class="container-fluid chapter">
  <article class="article">
    <div class="row">
      <div class="col-md-12 pageHead">
        <h2 class="article-title">Select country to proceed</h2>
      </div>
    </div>
    <div class="box box-default companyMain paddingBox">
       <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
             <div class="c_list">
                <img src="assets/images/country1.png" />
                <h4>Australia</h4>
             </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
             <div class="c_list">
                <img src="assets/images/country2.png" />
                <h4>New zealand</h4>
             </div>
          </div>
       </div>
    </div>
   </article>
</div>