<p class="title">Rejection confirmation</p>
<hr>
<p>Do you want to reject all NOT SUITABLE candidates?</p>
<button md-raised-button color="primary" (click)="dialogRef.close('yes')">YES</button>
<button md-button (click)="dialogRef.close('no')">NO</button>