<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/behavior-performance-improvement-listing']">Behaviour performance improvement plan (BPIP)</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
            <div *ngIf="serviceDetails" class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div *ngFor="let plan of plan; let i =index" class="collapseInfoBox">
            <h4 *ngIf="plan" (click)="originalPIPToggle[i]=!originalPIPToggle[i]" [ngClass]="{active:originalPIPToggle[i]}">{{plan?.title}}
                <span class="float-right"><i class="fa fa-angle-down"></i></span>
                <div style="font-size: 14px; padding-right: 10px; margin-top: 4px;" class="float-right">Created on : {{plan?.insertTime| dateFormat}}</div>
                <div style="font-size: 16px; padding-right: 10px; margin-right: 8px;" class="float-right">V {{i+1}}</div>

            </h4>
            <div *ngIf="plan" class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle[i]}">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="row">
                    <div class="col-md-12 PIPmainBox">
                        <div class="cmpnycontentBox">
                            <div class="pipHeader">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <h3 class="heading">BPIP</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">BPIP for:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="{{plan?.employee?.imageUrl}}" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>{{plan?.employee?.name}}</h5>
                                                    <div class="designation">{{plan?.employee?.position}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Assigned manager:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="{{plan?.manager?.imageUrl}}" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>{{plan?.manager?.name}}</h5>
                                                    <div class="designation">{{plan?.manager?.position}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Involved third parties</div>
                                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                                <input readonly type="text" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                                <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                    <li *ngFor="let c of plan.thirdParty">
                                                        <img src="{{c?.imageUrl}}" alt="">
                                                        <div class="empinfo">
                                                            <label>{{c?.name || c?.email}}</label>
                                                            <div class="userprofile">{{c?.position}}</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="PIPFormbox detailPIP">

                                <div class="row">

                                    <div style="margin-top: 30px;" class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">BPIP title</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.title}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training time</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{plan?.trainingTime | dateFormat}} | {{plan?.trainingTime| dateFormat:'shortTime'}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment time</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>{{plan?.assessmentTime | dateFormat}} | {{plan?.assessmentTime| dateFormat:'shortTime'}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.reason}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action plan</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.actionPlan}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objective</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.objective}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">

                                        <div class="instruction moreTopGap">Created by {{plan?.creatorUserID?.name}} on {{plan?.insertTime| dateFormat}} | {{plan?.insertTime| dateFormat:'shortTime'}}</div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--***************************************************** employee notes ***********************************-->

                        <div *ngIf="!isProcessing && (plan.employeeNotes.length>0) " class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Employee notes</h5>
                            <div *ngIf="plan.employeeNotes.length>0" class="full-width">
                                <!--<div class="full-width text-right">
              <span><i class="fa fa-caleder"></i>&nbsp; {{plan?.trainingTime| dateFormat}} at  {{plan?.trainingTime| date:'shortTime' }} </span><br><br>
            </div>-->
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of plan.employeeNotes">
                                        <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                        <div class="notesList">
                                            <p class="white-space-pre">{{k.note}}</p>
                                            <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--***************************************************** training notes ***********************************-->

                        <div *ngIf="!isProcessing && (plan.trainingNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Training notes</h5>
                            <div *ngIf="plan.trainingNotes.length>0" class="full-width">
                                <div class="full-width text-right">
                                    <span><i class="fa fa-caleder"></i>&nbsp; {{plan?.trainingTime| dateFormat}} at  {{plan?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of plan.trainingNotes">
                                        <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                        <div class="notesList">
                                            <p class="white-space-pre">{{k.note}}</p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>




                        <!--***********************************************************************Assessment Notes ************************************************-->
                        <div *ngIf="!isProcessing && (plan.assessmentNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                            <h5>Assessment notes</h5>
                            <div *ngIf="plan.assessmentNotes.length>0">
                                <div class="full-width text-right">
                                    <span>{{plan?.assessmentTime| dateFormat:'longDate'}} at  {{plan?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of plan.assessmentNotes">
                                        <div class="notesList">
                                            <p class="rghtinput10">Has the objective been accomplished ?
                                                <span [ngClass]="(k.objectiveMet=='Yes')?'badge-success':'badge-danger'" class="badge" [innerHTML]="k.objectiveMet"></span>
                                            </p>
                                            <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div *ngIf="!isProcessing && (plan.status=='Complete')" class="cmpnycontentBox trainingNotes">


                            <h5 class="heading">Result</h5>
                            <div class="full-width">
                                <div class="box">
                                    <div class="full-width">
                                        <div class="notesList">
                                            <p *ngIf="plan.result=='Re-Access'" class="white-space-pre">Re-assess</p>
                                            <p *ngIf="plan.result=='Not Passed'" style="color: red;" class="white-space-pre">{{plan?.result}}</p>                                            
                                            <p *ngIf="plan.result!='Re-Access' && plan.result!='Not Passed'" class="white-space-pre">{{plan?.result}}</p> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>


        <!--********************************************************** OLD PIP END  ********************************************************************************************-->


        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">BPIP</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">BPIP for:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{planNew?.employee?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{planNew?.employee?.name}}</h5>
                                            <div class="designation">{{planNew?.employee?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{planNew?.manager?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{planNew?.manager?.name}}</h5>
                                            <div class="designation">{{planNew?.manager?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved third parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input type="text" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                        <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                            <li *ngFor="let c of planNew.thirdParty">
                                                <img src="{{c?.imageUrl}}" alt="">
                                                <div class="empinfo">
                                                    <label>{{c?.name || c?.email}}</label>
                                                    <div class="userprofile">{{c?.position}}</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox detailPIP">
                        <div *ngIf="!(planNew.trainingNotes && planNew.trainingNotes.length>0) && status!='Terminated'" class="editBtnBox text-right pull-right"><span><button class="btn btn-special" (click)="onEditPIP(planNew.bpipID)"><i class="fa fa-pencil cursor"></i> Edit</button></span></div>
                        <div class="row">
                            <div style="margin-top: 30px;" class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">BPIP title</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.title}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training time</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{planNew?.trainingTime | dateFormat}} | {{planNew?.trainingTime| dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment time</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>{{planNew?.assessmentTime | dateFormat}} | {{planNew?.assessmentTime| dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.reason}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.actionPlan}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.objective}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">

                                <div class="instruction moreTopGap">Created by {{planNew?.creatorUserID?.name}} on {{planNew?.insertTime| dateFormat}} | {{planNew?.insertTime| dateFormat:'shortTime'}}</div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--***************************************************** employee notes ***********************************-->

                <div *ngIf="!isProcessing && (planNew.employeeNotes.length>0) " class="cmpnycontentBox trainingNotes">
                    <h5 class="heading">Employee notes</h5>
                    <div *ngIf="planNew.employeeNotes.length>0" class="full-width">
                        <!--<div class="full-width text-right">
              <span><i class="fa fa-caleder"></i>&nbsp; {{planNew?.trainingTime| dateFormat}} at  {{planNew?.trainingTime| date:'shortTime' }} </span><br><br>
            </div>-->
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div class="box">
                            <div class="full-width" *ngFor="let k of planNew.employeeNotes">
                                <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                <div class="notesList">
                                    <p class="white-space-pre">{{k.note}}</p>
                                    <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--***************************************************** training notes ***********************************-->

                <div *ngIf="!isProcessing && (planNew.trainingNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                    <h5 class="heading">Training notes</h5>
                    <div *ngIf="planNew.trainingNotes.length>0" class="full-width">
                        <div class="full-width text-right">
                            <span><i class="fa fa-caleder"></i>&nbsp; {{planNew?.trainingTime| dateFormat}} at  {{planNew?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                        </div>
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div class="box">
                            <div class="full-width" *ngFor="let k of planNew.trainingNotes">
                                <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                <div class="notesList">
                                    <p class="white-space-pre">{{k.note}}</p>
                                    <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    <span *ngIf="!(planNew.assessmentNotes && planNew.assessmentNotes.length>0) && status!='Terminated'" class="pull-right" style="margin-top:-10px;"><button class="btn btn-special"><i (click)="onEditNotes(k,'training')" class="fa fa-pencil cursor"></i> Edit</button></span>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>




                <!--***********************************************************************Assessment Notes ************************************************-->
                <div *ngIf="!isProcessing && (planNew.assessmentNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                    <h5>Assessment notes</h5>
                    <div *ngIf="planNew.assessmentNotes.length>0">
                        <div class="full-width text-right">
                            <span>{{planNew?.assessmentTime| dateFormat:'longDate'}} at  {{planNew?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                        </div>
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div class="box">
                            <div class="full-width" *ngFor="let k of planNew.assessmentNotes">
                                <div class="notesList">
                                    <p class="">Has the objective been accomplished ?
                                        <span [ngClass]="(k.objectiveMet=='Yes')?'badge-success':'badge-danger'" class="badge" [innerHTML]="k.objectiveMet"></span>
                                    </p>
                                    <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                    <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    <span *ngIf="!planNew.result && status!='Terminated'" class="pull-right" style="margin-top:-5px;"><button class="btn btn-special" (click)="onEditNotes(k,'assessment')"><i class="fa fa-pencil cursor"></i> Edit</button></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="!isProcessing && (planNew.status=='Complete')" class="cmpnycontentBox trainingNotes">


                    <h5 class="heading">Result</h5>
                    <div class="full-width">
                        <div class="box">
                            <div class="full-width">
                                <div class="notesList">
                                    <p *ngIf="planNew.result=='Re-Access'" class="white-space-pre">Re-assess</p>
                                    <p *ngIf="planNew.result!='Re-Access' && planNew.result!='Not Passed' " class="white-space-pre">{{planNew?.result}}</p>
                                    <p *ngIf="planNew.result=='Not Passed'" style="color: red;" class="white-space-pre">{{planNew?.result}}</p>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>