.inviteEmpMain .inviteList.open {
    overflow: auto;
    max-height: 180px;
}

.editBtnBox {
    margin-top: 15px;
}

.notesList i:after {
    content: "\f05a";
    position: absolute;
    left: 15px;
    bottom: 7px;
    font-size: 18px;
    font-family: FontAwesome;
    height: 12px;
    font-style: normal;
    color: #f1c645;
}

.trainingNotes .instruction {
    color: #acacac;
    margin-top: 5px;
    position: relative;
    padding-left: 34px;
}

.notesList p {
    font-size: 15px;
    padding-left: 16px;
}

.notesList {
    position: relative;
    margin-bottom: 30px;
}

.box .full-width:last-child .notesList {
    margin-bottom: 0;
}

.notesList:after {
    content: '';
    position: absolute;
    top: 6px;
    width: 2px;
    height: calc(100% - 11px);
    background: #bfbfbf;
    left: 0;
}

.trainingNotes .instruction:before {
    content: '';
    position: absolute;
    width: 2px;
    left: 0;
    top: -2px;
    z-index: 99;
    height: 100%;
    background: #64c3fb;
}