<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink='/app/{{relPath}}'><span class="fa fa-home"></span></a></li>
                <li *ngIf="role == 'companyEmployee'" class="breadcrumb-item" routerLink='/app/{{relPath}}/policy-documents'>Policy documents</li>
                <li class="breadcrumb-item" routerLink='/app/{{relPath}}/policy-documents/procedural-document'>Procedural document</li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </div>
        <div *ngIf="!isProcessing" class="col-md-12 text-right statusBtn labelStats">
            <!--<button class="btn btn-primary">Active</button>-->
            <!--<label class="statsInfo">last updated on {{document?.updateTime | dateFormat}}</label>-->
            <label class="statsInfo">Version {{document?.version || 'N/A'}}</label>
        </div>
    </div>

    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing" class="row">
        <div class="col-sm-12">
            <section id="printBox" class="note-preview cmpnycontentBox">
                <div class="headerBox">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="logo"><img [src]="companyLogo" /></div>
                        </div>
                        <div class="col-md-6">
                            <!--<div class="companyDtl">Joe office supplies <span class="date"></span>19/01/2016</div>-->
                        </div>
                    </div>
                </div>
                <div class="headingDiv">
                    <h4 class="heading">{{document?.title || 'N/A'}}</h4>
                    <p [innerHTML]="document.description"> </p>
                </div>
                <div *ngFor="let s of document.documentSubjects" class="content">
                    <h6 class="heading 1">{{document?.title || 'N/A'}}</h6>
                    <p [innerHTML]="s.description"></p>
                </div>


                <div class="contentFooter">Copyright &copy; Happy HR</div>
            </section>
        </div>
    </div>
</div>