<div class="container-fluid chapter">
    <article class="article">
        <h2 class="article-title">View roles
            <!-- <a *ngIf="permission.add" class="addUserBtn" href="javascript:void(0)"><button md-raised-button color="accent" (click)="openDialogAddRole()" class="theme-button btn-w-md" ><span class="icon">+</span>Add new role</button><div class="divider divider-sm"></div></a> -->
        </h2>
        <div class="box contentBox rolesBx">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div class="row" *ngIf="!isProcessing">
                <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let role of roles;let i=index;">
                    <div class="card bg-color-dark">
                        <div class="card-content" [routerLink]="['/app/super-admin/user-access/permission/',role.roleID]">
                            <span class="pull-left">{{role.title}}</span>
                            <span class="pull-right">{{role.count}}</span>
                        </div>
                        <!-- <span *ngIf="permission.edit" class="actionsRow"><md-icon md-tooltip="Edit" class="cursor" (click)="onEdit(role);$event.stopPropagation()">edit</md-icon><md-icon *ngIf="permission.delete" md-tooltip="Delete" class="cursor" (click)="onDelete(role.roleID);$event.stopPropagation()">delete</md-icon></span> -->
                    </div>
                </div>
                <div *ngIf="!roles.length" class="alert alert-danger full-width" align="center">
                    No record found
                </div>
            </div>
        </div>
    </article>
</div>