h2 {
    .addUserBtn {
        margin-top: 0px;
        float: right;
        span {
            font-size: 25px;
            margin-right: 7px;
            position: relative;
            top:0px;
        }
    }
}

.cursor {
    cursor: pointer;
}

.rolesBx {
    clear: both;
    margin-top: 30px;
    width: 100%;
    .card-content {
        cursor: pointer;
        span {
            font-size: 16px;
        }
    }
}