.customchoosefilebtn {
    label.btn-bs-file {
        border-radius: 5px !important;
        padding: 4px 12px !important;
        text-align: center !important;
        width: auto !important;
        position: relative !important;
        margin: 7px 0px;
    }
    input[type="file"] {
        display: none;
    }
}

.cmpnycontentBox {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.instruction {
    margin-top: 4px;
    color: #acacac;
}