<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/app/company-admin']">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active">Company profile settings</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="col-sm-12">
            <div class="cmpnycontentBox">
                <!-- <form #ngProfileForm="ngForm"> -->
                <h5 class="full-width heading">Basic information
                    <!-- <button class="btn btn-special pull-right bottom15">Edit
                                <i class="fa fa-pencil"></i>
                            </button> -->
                </h5>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">First name</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="profile.firstName">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Last name</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="profile.lastName">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Email</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="emailID" #emailID="ngModel" [(ngModel)]="profile.emailID">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Company name</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="companyName" #companyName="ngModel" [(ngModel)]="profile.companyName">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Company website</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="companyWebsite" #companyWebsite="ngModel" [(ngModel)]="profile.companyWebsite">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">ABN</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="abn" #abn="ngModel" [(ngModel)]="profile.companyABNNumber">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Phone number</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="companyNumber" #companyNumber="ngModel" [(ngModel)]="profile.companyNumber">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Street address</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="streetAddress" #streetAddress="ngModel" [(ngModel)]="profile.streetAddress">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Suburb</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="suburb" #suburb="ngModel" [(ngModel)]="profile.suburb">
                        </div>
                    </div>
                    <!--<div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">City</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="city" #city="ngModel" [(ngModel)]="profile.city">
                        </div>
                    </div>-->
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Postal / Zip code</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="postalCode" #postalCode="ngModel" [(ngModel)]="profile.postalCode">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Select country</label>
                        </div>
                        <div class="rghtinput10">
                            <select class="form-control" name="countryID" [(ngModel)]="profile.countryID" #countryID="ngModel" (ngModelChange)="onSelectCountry()">
                                <option value="" disabled> Please select country </option>
                                <option *ngFor="let country of countryList" [value]="country.id">{{country.itemName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">State / province</label>
                        </div>
                        <div class="rghtinput10">
                            <!-- <input type="text" class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="profile.stateName"> -->
                            <select class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="profile.stateName" [disabled]="disableState">
                                <option value="" disabled> Please select state </option>
                                <option *ngFor="let s of stateList" [value]="s.itemName">{{s.itemName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Tell us something about your company</label>
                        </div>
                        <div class="rghtinput10">
                            <quill-editor placeholder="Write something about company" class="form-control full-width" myNoSpaces style="height: inherit; max-width: inherit;" name="about" #about="ngModel" [(ngModel)]="profile.companyAbout" required>
                            </quill-editor>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Company logo</label>
                        </div>
                        <div class="rghtinput10 customchoosefilebtn">
                            <md-progress-spinner *ngIf="isProcessingImg" mode="indeterminate" color=""></md-progress-spinner>
                            <img [alt]="profile.companyName" [src]="companyLogo" height="70px;">
                            <div *ngIf="!isProcessingImg" class="">
                                <label for="chooseLogo" class="btn-bs-file btn btn-lg btn-primary"> Choose file
                                    <input id="chooseLogo" type="file" name="companyProfile" accept="image/png,image/jpg,image/jpeg" required (change)="handleFileSelect($event)">
                                </label>
                                <br>
                                <p>Select file (JPG, JPEG or PNG files) </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmpnycontentBox paymentInfoBox">
                <h5 class="heading">Incase you forgot your password</h5>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Security question</label>
                        </div>
                        <div class="rghtinput10">
                            <select class="form-control full-width" name="securityQuestionID" [(ngModel)]="profile.securityQuestionID" #securityQuestionID="ngModel">
                                <option value="undefined" disabled> Please select a security question </option>
                                <option *ngFor="let ques of securityQuestions" [value]="ques.securityQuestionID">{{ques.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Your answer</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="text" class="form-control" name="sAnswer" #sAnswer="ngModel" [(ngModel)]="profile.securityAnswer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmpnycontentBox paymentInfoBox">
                <h5 class="heading">Payment info</h5>
                <div class="row">
                    <div *ngIf="profile.paymentInfo.isEditable" class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Subscription Plan</label>
                        </div>
                        <div class="rghtinput10">
                            <select style="display: inline-block; " class="form-control" name="subscriptionPlanID" #subscriptionPlanID="ngModel" [(ngModel)]="profile.paymentInfo.subscriptionPlanID">
                                <option value="" disabled>Choose plan</option>
                                <option [value]="p" *ngFor="let p of plans">Plan {{p}}</option>
                            </select>
                            <span style="color:#64c3fb; text-decoration: underline; margin-left:10px;" class="cursor" (click)="onPlanDetails()"> View plan details </span>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Credit card no.</label>
                        </div>
                        <div class="rghtinput10">
                            <input placeholder="Enter credit card no." type="text" class="form-control" name="cardNo" #cardNo="ngModel" [(ngModel)]="profile.paymentInfo.cardNo">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Expiry year</label>
                        </div>
                        <div class="rghtinput10">
                            <select class="form-control" name="expireYear" #expireYear="ngModel" [(ngModel)]="profile.paymentInfo.expireYear">
                                <option value="" disabled>Choose year</option>
                                <option [value]="year" *ngFor="let year of years">{{year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Expiry month</label>
                        </div>
                        <div class="rghtinput10">
                            <select class="form-control" name="expireMonth" #expireMonth="ngModel" [(ngModel)]="profile.paymentInfo.expireMonth">
                                <option value="" disabled>Choose month</option>
                                <option [value]="month" *ngFor="let month of months">{{month}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">CVV</label>
                        </div>
                        <div class="rghtinput10">
                            <input placeholder="Enter CVV no." type="text" class="form-control" name="cvvNo" #cvvNo="ngModel" [(ngModel)]="profile.paymentInfo.cvvNo">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Full name</label>
                        </div>
                        <div class="rghtinput10">
                            <input placeholder="Enter full name" type="text" class="form-control" name="fullName" #fullName="ngModel" [(ngModel)]="profile.paymentInfo.fullName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmpnycontentBox paymentInfoBox">
                <h5 class="heading">Master award for the company</h5>
                <div class="row">
                    <div class=" col-sm-12 form-group">
                        <label class="control-label">{{profile?.awardName || 'Not specified'}}</label>
                        <button class="btn btn-special pull-right bottom15" (click)="onClick()">Edit
                            <i class="fa fa-pencil"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cmpnycontentBox paymentInfoBox">
                <h5 class="heading">Questionnaire</h5>
                <div class="row">
                    <div class=" col-sm-12 form-group" *ngFor="let question of profile.questionair;let i=index;">
                        <label *ngIf="isValidQuestion(i)" class="control-label">{{question.question}}</label>
                        <input *ngIf="question.field == 'Text' && isValidQuestion(i)" class="form-control" [(ngModel)]="question.answer[0]" [name]="'answer-'+i" type="text" placeholder="Answer" required (ngModelChange)="validate($event,'answer'+i)">


                        <!-- TODO: Need to validate Option/choice field -->


                        <div *ngIf="question.field == 'Option' && isValidQuestion(i)">
                            <div class="row">
                                <div class="customchkbox col-md-3" *ngFor="let option of question.options; let j=index;">
                                    <input [id]="i+'customchk'+j" [checked]="isChecked(option,i)" type="checkbox" [value]="option" class="required" (change)="onCheckOption($event,i)" aria-required="true">
                                    <label [for]="i+'customchk'+j">{{option}}</label>
                                </div>
                            </div>
                            <button *ngIf="question.companyQuestionairID == 4" (click)="addValue()" class="btn btn-primary" type="button">Add your own value
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <div *ngIf="question.field == 'Radio' && isValidQuestion(i)">
                            <div class="row">
                                <div class="customChoice col-md-3" *ngFor="let option of question.options; let j=index;">
                                    <input [id]="i+'flexiworkhour'+j" [checked]="isChecked(option,i)" (change)="errors['answer'+i]='';" type="radio" [value]="option" [name]="'option'+i" class="required" [(ngModel)]="question.answer[0]" aria-required="true">
                                    <label [for]="i+'flexiworkhour'+j">{{option}}</label>
                                </div>
                            </div>
                            <input *ngIf="question.answer[0] == 'Other'" class="form-control" [(ngModel)]="question.other" [name]="'answer-'+i" type="text" placeholder="Other answer" (ngModelChange)="validate($event,'answer'+i)">
                            <input *ngIf="question.companyQuestionairID == 53 && question.answer[0] == 'Yes'" class="form-control" [(ngModel)]="question.other" [name]="'answer-'+i" type="text" placeholder="Answer" (ngModelChange)="validate($event,'answer'+i)">
                            <p *ngIf="question.companyQuestionairID == 53 && question.answer[0] == 'I don\'t have a First Aid certificate'" class="instruction">
                                You need to obtain a first aid certificate if you have more than 10 employees. For construction organisations it is compulsory to have someone on site who holds at least a level 2 in first aid certificate if they employ staff. If you meet the above conditions
                                you must arrange for this to occur and edit this question in the edit panel on the Happy HR administrator document dashboard once you have the details.
                            </p>
                        </div>

                        <!-- TODO: Need to validate Date/Time field -->

                        <dp-date-picker *ngIf="question.field == 'Time' && isValidQuestion(i)" class="form-control" [name]="'answer-'+i" #timestamp="ngModel" [theme]="'dp-material'" [mode]="'time'" [(ngModel)]="dateTime[i]" [config]="timeConfig" required="true" placeholder="Choose a time"
                            (ngModelChange)="setTime(i);validate($event,'answer'+i)"></dp-date-picker>

                        <!-- <dp-date-picker *ngIf="question.field == 'Date' && isValidQuestion(i)" class="form-control" [name]="'answer-'+i" #timestamp="ngModel"
                            [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="dateTime[i]" [config]="dateConfig" required="true"
                            placeholder="Choose a time" (ngModelChange)="setTime(i); validate($event,'answer'+i)"></dp-date-picker> -->

                        <!-- <div *ngIf="timestamp.touched || actionform.submitted">
                            <div class="alert alert-danger" [hidden]="timestamp.valid">Please enter a time stamp.</div>
                        </div> -->

                        <div class="alert alert-danger" *ngIf="errors && errors['answer'+i] && isValidQuestion(i)">
                            {{errors['answer'+i]}}
                        </div>
                    </div>
                </div>
            </div>
            <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessingForm" class="col-sm-12 text-center buttonWrap">
                <button class="btn btn-primary btn-lg" type="button" (click)="save()" style="margin-right:10px;">Save</button>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>