<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/checklist']">Checklist</li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/checklist/add-category']">Create category</li>
                </ol>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <div class="row">
                        <form #categoryForm="ngForm">
                            <div class="form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Select type</label>
                                </div>
                                <div class="rghtinput10">
                                    <select class="form-control" [(ngModel)]="category.companyChecklistID" #type="ngModel" name="ctype" required>
                                          <option *ngFor="let type of types" [value]="type.companyChecklistID">{{type.type}}</option>
                                    </select>
                                    <div *ngIf="type.errors && (type.dirty || type.touched)">
                                        <div class="alert alert-danger" [hidden]="!type.errors.required">
                                            Type is required.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Category name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input type="text" name="categoryName" class="form-control" [(ngModel)]="category.title" #name="ngModel" myNoSpaces required placeholder="Enter category name" />
                                    <div *ngIf="name.errors && (name.dirty || name.touched)">
                                        <div class="alert alert-danger" [hidden]="!(name.errors.required || name.errors.whitespace)">
                                            Name is required.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" style="margin-bottom:0px !important;">
                                <div class="lftinpt10">
                                    <label class="form-inline"></label>
                                </div>
                                <md-progress-spinner *ngIf="addProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <div class="rghtinput10" *ngIf="!addProcessing">
                                    <button class="btn btn-success" (click)="onSave(categoryForm.form.valid,categoryForm)">Add</button>
                                    <button class="btn btn-default" (click)="onCancel(categoryForm)">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>