.headDiv {
    margin: 30px 0;
}

.form-group {
    .form-control {
        max-width: inherit;
        &:input {
            max-width: 600px;
        }
    }
    textarea {
        &.form-control {
            height: inherit;
            resize: none;
        }
    }
    .lftinpt10,
    .rghtinput10,
    .lftinpt30,
    .rghtinput {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.borderBottom {
    padding-bottom: 30px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 40px;
}

.rghtinput {
    &.pull-right {
        float: right;
        .managerBx {
            margin: 0;
            display: block;
            width: 100%;
            ._emplist {
                padding: 4px 12px;
            }
        }
    }
}

.managerBx {
    @media (max-width: 479px) {
        display: block;
        margin-top: 15px;
    }
}

.devPlanForm {
    padding-top: 40px;
    form {
        .borderBottom {
            .form-group {
                .form-inline {
                    text-align: right;
                }
            }
        }
    }
}

.form-control[readonly] {
    background-color: inherit !important;
}

.inviteEmpMain {
    border: 0;
    height: 36px;
}

.selectItems input:focus+div.inviteEmpMain {
    display: block !important;
}

.selectItems div.inviteEmpMain:hover,
.selectItems div.inviteEmpMain:focus {
    display: block !important;
}

.footerBtn {
    padding: 6px 15px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
}

.customDDmain .inviteEmpMain .inviteList {
    border-bottom: 0;
    border-radius: 0;
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}

.rghtinput {
    width: 100%;
    float: left;
    max-width: 600px;
}

.inviteEmp {
    .alert {
        top: 36px;
    }
}

.itemName {
    word-break: break-all;
}

.customDDmain .inviteEmpMain .searchfield {
    padding-left: 10px;
}

.instruction {
    color: #c1c1c1;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 100;
    .name {
        color: #61ceff;
    }
}

button.btn-lg,
a.btn-lg {
    padding: 0.75rem 1.5rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.2rem !important;
}

.form-inline {
    text-align: right;
}

.selectItems {
    float: left;
    width: 100%;
}

.customDDmain .selectedList {
    float: left;
    padding: 0;
    margin: 0;
}

.footerBtn {
    .btn {
        padding: 0px 9px;
        font-size: 12px;
        border-radius: 0;
    }
}