.cmpnycontentBox {
    padding-bottom: 0px;
    .card {
        margin: 0px 0 25px 0;
        cursor: pointer;
    }
}

.addRoleBtn {
    margin-bottom: 15px;
}

h2 {
    .addUserBtn {
        margin-top: 0px;
        float: right;
        span {
            font-size: 25px;
            margin-right: 7px;
            position: relative;
            top: 0px;
        }
    }
}

.cursor {
    cursor: pointer;
}

.rolesBx {
    clear: both;
    margin-top: 30px;
    width: 100%;
    .card-content {
        cursor: pointer;
        span {
            font-size: 16px;
        }
    }
}