<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="[(role=='companyAdmin')?'/app/company-admin':'/app/sub-contractor']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/user-access']">User access</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 text-right">
                <button class="btn btn-success addRoleBtn" (click)="openDialogAddRole()"><i class="fa fa-plus"></i> Add role</button>
            </div> -->
        </div>
        <div class="cmpnycontentBox">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div class="row" *ngIf="!isProcessing">

                <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let role of roles;let i=index;">
                    <div class="card bg-color-dark">
                        <div class="card-content">
                            <span class="pull-left" [routerLink]="['/app/company-admin/user-access/permission/',role.roleID]">{{role.title}}</span>
                            <span class="pull-right" (click)="onPopup(role)">{{role.count}}</span>
                        </div>
                        <!-- <span class="actionsRow">
                            <md-icon md-tooltip="Edit" class="cursor" (click)="onEdit(role);$event.stopPropagation()">edit</md-icon>
                            <md-icon md-tooltip="Delete" class="cursor" (click)="onDelete(role.roleID);$event.stopPropagation()">delete</md-icon>
                        </span> -->
                    </div>
                </div>
                <div *ngIf="!roles.length" class="alert alert-danger full-width" align="center">
                    No record found
                </div>
            </div>
        </div>
    </div>
</div>