<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/disciplinary-action-listing']">disciplinary meetings</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h3 class="heading">Disciplinary meeeting</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Employee:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Paul</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Manager/owner:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">

                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Tltle</label>
                                </div>
                                <div class="rghtinput10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit.
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Date</label>
                                </div>
                                <div class="rghtinput10">
                                    April 17 2017
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Attendeess</label>
                                </div>
                                <div class="rghtinput10 pipHeader">
                                    <div class="pipEmploye attendeesList">
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>Joe</h5>
                                                <div class="designation">Sales</div>
                                            </div>
                                        </div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>Joe</h5>
                                                <div class="designation">Sales</div>
                                            </div>
                                        </div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>Joe</h5>
                                                <div class="designation">Sales</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="cmpnycontentBox last">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Statements</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="statementsBox">

                                <div class="row">
                                    <div class=" col-sm-12 form-group PIPmainBox">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Statement from employee</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <textarea class="form-control"></textarea>
                                            <div class="pipEmploye">
                                                <div class="pipEmpuserPic">
                                                    <div class="profile">
                                                        <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>Joe</h5>
                                                        <div class="designation">Sales</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group PIPmainBox">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Statement from manager</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <textarea class="form-control"></textarea>
                                            <div class="pipEmploye">
                                                <div class="pipEmpuserPic">
                                                    <div class="profile">
                                                        <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>Joe</h5>
                                                        <div class="designation">Sales</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group PIPmainBox">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Statement from third party</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <textarea class="form-control"></textarea>
                                            <div class="pipEmploye">
                                                <div class="pipEmpuserPic">
                                                    <div class="profile">
                                                        <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>Joe</h5>
                                                        <div class="designation">Sales</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"></label>
                                        </div>
                                        <div class="rghtinput10 addMoreBtn">
                                            <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add more</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox last">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="heading">Result</h4>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin:0px 0px;">Result</label>
                            </div>
                            <div class="rghtinput10">
                                Final warning
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>