<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active" [routerLink]="['/app/employee/position-description']">Position description</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-8 col-lg-10">
                            <h4 class="heading" style="    margin-top: 10px;">List of positions</h4>
                        </div>
                        <div class="col-md-4 col-lg-2">
                            <div class="full-width">
                                <div class="form-group">
                                    <button [ngClass]="{active:!toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-up':'fa-angle-down'"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="!toggleFilter">
                        <div class="col-sm-12">

                            <div class="filterController row">
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Version</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input [(ngModel)]="versionSearch" #se='ngModel' name="titlxe" type="text" class="form-control input-lg" placeholder="Search version" />
                                                <span class="input-group-btn">
                                                        <button class="btn">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isProcessing && tempReqBody.filter.versions.length>0" class="checkbox over180">
                                        <li *ngFor="let c of tempReqBody.filter.versions |searchByKey:se.value:'title';"><label><input type="checkbox" 
                                               (click)="isApplyBtnClicked=true" [(ngModel)]="c.isChecked" /><span>{{c.title}}</span></label>
                                        </li>

                                    </ul>
                                </div> -->
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox">
                                        <li *ngFor="let c of tempReqBody.filter.status">
                                            <label>
                                                    <input type="checkbox" (click)="isApplyBtnClicked=true" [(ngModel)]="c.isChecked" /><span>{{c?.title}}</span>
                                                </label>
                                        </li>
                                    </ul>
                                </div>
                                <button (click)="onApplyFilters()" [disabled]="!isApplyBtnClicked" [ngClass]="{'btn-filter'  : !isApplyBtnClicked,'btn-primary' : isApplyBtnClicked}" class="btn btn-lg outlined btn-filter btnStatic">Apply filter <i class="fa fa-check"></i>
                                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableWrapper paddingNone">

                    <table [mfData]="positions" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">

                        <thead *ngIf="positions.length" class="mainHeader">
                            <th style="width:90px">S.no</th>
                            <th style="width:120px">Status</th>
                            <th style="width:245px">Title</th>
                            <th style="width:140px;">Details</th>
                            <th style="width:140px">Action</th>
                        </thead>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <tbody *ngIf="!isProcessing && positions.length>0">
                            <tr *ngFor="let c of mf.data;let i =index">
                                <td style="width:90px;">{{i+1}}</td>
                                <td style="width:120px;">{{c?.status}}</td>
                                <td style="width:254px;">{{c?.title || 'N/A'}}</td>
                                <td><button (click)="onDetails(c)" class="btn btn-default">View details</button></td>
                                <td>
                                    <label *ngIf="c.status=='Current'" class="color-success">Accepted</label>
                                    <md-progress-spinner *ngIf="isAccept && c.status=='Pending'" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="c.status=='Pending' && !isAccept" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down float-right"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                            <button (click)="acceptOrReject(c)" class="dropdown-item btn-none color-danger"><i class="fa fa-times-square-o"></i> Accept / Reject</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot colspan="6">
                            <div class="col-sm-12">
                                <mfBootstrapPaginator *ngIf="!isProcessing"></mfBootstrapPaginator>
                            </div>
                            <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !positions.length">
                                <td colspan="4"> Record not found</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>