.EmpList {
    .table {
        border: 1px solid #cbcbcb;
        tbody {
            tr {
                td {
                    border-bottom: 1px solid #cbcbcb;
                    border-right: 0px;
                    border-left: 0px;
                    &:first-child {
                        width: inherit;
                    }
                }
                th {
                    border: 0px !important;
                    border-bottom: 3PX solid #cbcbcb;
                }
            }
        }
    }
}