
<section class="admin-panel shoutout-popup">
  <h4 class="heading">Create shoutout</h4>
  <form>
    <div class="row form-group">
      <div class="col-sm-2"><label class="form-inline">Title</label></div>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Enter title"/>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-2"><label class="form-inline">Reason</label></div>
      <div class="col-sm-10">
        <input class="form-control" placeholder="Enter reason"/>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-2"><label class="form-inline">Employee</label></div>
      <div class="col-sm-10">
        <md-select placeholder="Select employee" name="selectEmployee" [(ngModel)]="shoutoutEmploye" required>
            <md-option *ngFor="let user of selectEmployee" [value]="user.id">{{user.title}}</md-option>
        </md-select>
      </div>
    </div>
    <br>
    <div class="buttonWrap text-center">
      <button class="btn btn-success btn-lg">Create</button>
    </div>
  </form>
</section>