.EmpList .topSearchFilter {
    width: 54%;
    @media screen and (max-width: 1199px) {
        width: 48%;
    }
    @media screen and (max-width:991px) {
        width: 44%;
    }
    @media screen and (max-width:767px) {
        width: 100%;
    }
}

.EmpList .InviteUser {
    width: 23%;
    @media screen and (max-width: 1199px) {
        width: 27%;
    }
    @media screen and (max-width:991px) {
        width: 190px;
    }
    @media screen and (max-width:479px) {
        width: 100%;
    }
    .btn {
        width: 100%;
        @media screen and (max-width: 479px) {
            width: 100%;
        }
    }
}

.EmpList .filter {
    @media screen and (max-width: 479px) {
        width: 100%;
    }
}

.dropdown-toggle::after {
    display: inline-block;
    content: "\f107";
    border: 0;
    font-family: 'fontAwesome';
    position: absolute;
}