<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Advertisement management</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" [(ngModel)]='searchKey' (keyup)="onKeyChange()" class="form-control" placeholder="Search by advertisement name" />
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" ></i></button>
                                </div>
                            </div>
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success" [routerLink]="['/app/company-admin/advertisement/create']">Create advertisement<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <div class="col-lg-12">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li *ngFor="let c of filter.status">
                                            <label><input type="checkbox" (click)="enableFilter=true;" [(ngModel)]="c.isChecked" /><span>{{c?.title}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <button [disabled]="!enableFilter" (click)="onApplyFilters()" [ngClass]="{'btn-primary':enableFilter,'btn-filter':!enableFilter}" class="btn outlined btn-primary buttonFilter">Apply filter <i class="fa fa-check"></i>
                  </button>
                            </div>
                        </div>
                    </div>
                </div>

                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="EmptableList tableWrapper">
                    <table #mf="mfDataTable" [mfData]="advertisements" [mfRowsOnPage]="10" class="table table-bordered table-hover" style="min-width: 1010px;">
                        <thead *ngIf="advertisements.length">
                            <tr>
                                <th>
                                    S. no. &nbsp;<i class="fa fa-sort"></i>
                                </th>
                                <th>
                                    <mfDefaultSorter by="advertiseID">Ad ID &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="advertiseName">Name &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="advertiseDate">Date of creation &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="advertisePositions">Position &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th> -->
                                <th>
                                    <mfDefaultSorter by="positionTitle">Requirement for &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="advertiseStatus">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th> -->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let advs of mf.data; let i =index">
                                <td style="width:100px;">
                                    {{i+1}}
                                </td>
                                <td class="desig" style="width:100px;"> {{advs.advertiseID}}
                                </td>
                                <td> {{advs.advertiseName}} </td>
                                <td style="width:140px;">
                                    {{advs.advertiseDate| dateFormat}}
                                </td>
                                <td class="emplment" style="width:90px;">
                                    {{advs.positionTitle}}
                                </td>
                                <!-- <td class="empstatus">
                                    {{advs.positionTitle}}
                                </td> -->
                                <!-- <td style="width:120px;">{{advs.advertiseStatus}}</td> -->
                                <td style="width:90px;">
                                    <md-progress-spinner *ngIf="advs.isRowProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="!advs.isRowProcessing" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="advs.status != 'Archived'" (click)="advs.isRowProcessing=true; onArchive(advs);" class="dropdown-item color-warning btn-none"><i class="fa fa-file-archive-o"></i>&nbsp; Archive</button>
                                            <button *ngIf="advs.status != 'Archived'" (click)="advs.isRowProcessing=true; onCopy(advs);" class="dropdown-item color-info btn-none"><i class="fa fa-clone"></i>&nbsp; Copy</button>
                                            <button (click)="advs.isRowProcessing=true; onDelete(advs);" class="dropdown-item color-danger btn-none"><i class="fa fa-trash"></i>&nbsp; Delete </button>
                                            <button (click)="advs.isRowProcessing=true; onViewDetails(advs);" class="dropdown-item color-primary btn-none"><i class="fa fa-eye"></i>&nbsp; Details </button>
                                            <!-- <button (click)="advs.isRowProcessing=true; onEdit(advs);" class="dropdown-item color-primary btn-none"><i class="fa fa-pencil-square-o"></i>&nbsp; Edit </button> -->
                                            <button (click)="advs.isRowProcessing=true; onViewCandidates(advs);" class="dropdown-item color-primary btn-none"><i class="fa fa-eye"></i>&nbsp; View candidates </button>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                            <tr class="danger" style="text-align:center" *ngIf="!advertisements.length">
                                <td colspan="4">Record not found.</td>
                            </tr>
                        </tfoot>
                    </table>
                    <!--<div class="alert alert-danger full-width" *ngIf="!advertisements.length">No record found.</div>          -->
                </div>
            </div>
        </div>
    </div>
</div>