<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/app/employee']">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class="breadcrumb-item active">Trophy I won</li>
    </ol>
    <div class="cmpnycontentBox">
        <h5 class="heading">Trophy I won</h5>
        <h6 class="heading text-right">Total trophy count: {{trophyList.length}}</h6>
        <br>
        <div class="tlentle">
            <div class="row">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper full-width">
                    <table class="table" #mf="mfDataTable" [mfData]="trophyList" [mfRowsOnPage]="10">
                        <thead>
                            <th class="text-center">
                                <mfDefaultSorter by="title">Title &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="awardFor">Award for &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>Trophy </th>
                            <th class="text-center">
                                <mfDefaultSorter by="votingCount">Total votes &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th class="text-center">
                                <mfDefaultSorter by="date">Date &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trophy of mf.data">
                                <td class="text-center pointer" style="cursor: pointer;" (click)="onTrophyDetails(trophy)">{{trophy.title}}</td>
                                <td class="text-center">{{trophy.awardFor}}</td>
                                <td class="text-center">
                                    <div class="trophyClr">
                                        <i class="fa fa-trophy"></i>
                                        <img [src]="trophy.icon" />
                                    </div>
                                </td>
                                <td class="text-center">{{trophy.votingCount}}</td>
                                <td class="text-center">{{formatDate(trophy.date)}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div class="text-center">
                        <span *ngIf="trophyList.length==0"> No result found. </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>