.trophy-img {
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    width: 82px;
    height: 75px;
    text-align: center;
    overflow: hidden;
    line-height: 75px;
    img {
        margin: 0 auto;
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
    }
}