<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                </div>
                <div class="EmptableList">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                    <table *ngIf="!isProcessing" class="full-width table">
                        <thead>
                            <th>Title</th>
                            <th>Assigned to</th>
                            <th>Assigned manager</th>
                            <th>Training date</th>
                            <th>Assessment date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of developmentPlans">
                                <td>{{d?.title}}</td>
                                <td>{{d?.developmentFor?.employee}}</td>
                                <td>{{d?.assinedBy?.employee}}</td>
                                <td>{{d?.trainingTime | dateFormat}}</td>
                                <td>{{d?.assessmentTime | dateFormat}}</td>
                                <td>{{d?.status}}</td>
                                <td>

                                    <button (click)="OnAction(d)" *ngIf="d.status=='Awaiting Employee Acceptance'" class="btn btn-primary"> View & accept </button>
                                    <button (click)="OnAction(d)" *ngIf="d.status!='Awaiting Employee Acceptance'" class="btn btn-success">View</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>