.awardsFilter{
    margin-bottom:0px;
    padding-right:40px;
    li{
      display:inline-block;
      margin-right:5px;
      margin-bottom: 5px;
      .badge{
        cursor: pointer;
        font-size: 12px;
        padding: 7px 10px;
        min-width: 32px;
      }
    }
}
.AwardAlphabet-list{
    .box{
        margin-top:30px;
        .box-body{
          ul{
               li{
                  margin:5px 0px; 
               }
           }
        }
    }
}

.selectedChar{
    background:#ffffff;
    color:#64c3fb;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 10px;
    min-width: 32px;
    border:1px solid #64c3fb;
    vertical-align: baseline;
    border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    line-height:1;
}
.addUserBtn{
    span{
        position:relative;
        top:0;
    }
}

.awardList{
    margin: 0;
    padding: 0 0 0 12px;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    position:relative;
    &:last-child{
        border-bottom: 1px solid #e5e5e5;
    }
    .listItems{
        margin: 0 !important;
        padding: 5px 0;
        padding-right: 39px;
        position: relative;
        .awds{
            position:absolute;
            bottom: 3px;
            right: 0;
            .material-icons {
                font-size: 20px;
                padding: 0;
                margin: 0;
                width: 20px;
            }
        }
        
    }
    &:before{
        content:'';
        position:absolute;
        top:0;left:0;
        height:100%;
        width:3px;
        background: #4cdaaa;
    }
    &:nth-child(2n){
        background:#f9f9f9;
        &:before{
            background:#ffcc33;
        }
    }
    &:nth-child(3n){
        &:before{
            background:#64c3fb;
        }
    }
}