<div class="container-fluid chapter">
    <article class="article">
        <h2 class="article-title">List of awards
            <a *ngIf="permission.add" class="addUserBtn float-right"><button md-raised-button (click)="addAward()" color="accent" class="theme-button btn-w-md" ><span class="icon">+</span>Add award</button><div class="divider divider-sm"></div></a>
        </h2>
        <div class="filter-wrapp box box-default contentBox">
            <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span>
            <div *ngIf="!isProcessing" class="row">
                <div class="col-md-12">
                    <ul class="awardsFilter">
                        <li *ngFor="let c of chars;let i=index;" (click)="filter.awards[c]=!filter.awards[c];onFilter(c,i);"><span [ngClass]="{'selectedChar' :selected[c], 'badge badge-primary':!selected[c]}">{{c}}</span></li>
                    </ul>
                </div>
            </div>
            <md-progress-spinner *ngIf="filterProcessing || isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!filterProcessing && !isProcessing" class="row AwardAlphabet-list">
                <ng-container *ngFor="let character of characters">
                    <div class="col-md-6">
                        <div class="box box-default">
                            <div class="box-header box-dark">{{character}}</div>
                            <div class="box-body">
                                <ul class="awardList" *ngFor="let award of awards[character];let i=index;">
                                    <li class="listItems">{{award?.title}}
                                        <div class="awds">
                                            <md-icon *ngIf="permission.delete" class="material-icons mat-warn cursor float-right" (click)="deleteAward(award.awardID,i)" md-tooltip="Delete">delete</md-icon>
                                            <span style="flex: 1 1 auto;"></span>
                                            <md-icon *ngIf="permission.edit" (click)="editAward(award,character)" class="material-icons cursor float-right" md-tooltip="Edit">edit</md-icon>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="alert alert-danger col-md-12" *ngIf="characters.length==0 && !isProcessing">No record found</div>
            </div>
        </div>
    </article>
</div>