<section class="contract-version innerAdmins">

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="[(role != 'companyContractor')?'/app/employee':'/app/sub-contractor']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item"><a [routerLink]="[(role != 'companyContractor')?'/app/employee/contracts':'/app/sub-contractor/contracts']">Contracts</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/employee/contracts/version/view']">Accept/Reject contracts</a></li>
        </ol>

        <div *ngIf="!isProcessing" class="row">
            <div class="col-sm-6 text-center">
                <h2 *ngIf="contracts.oldVersion" class="sub-title">Current Version {{contracts?.oldVersion?.version}}</h2>
            </div>
            <div class="col-sm-6 text-center">
                <h2 *ngIf="contracts.newVersion" class="sub-title">New version {{contracts?.newVersion?.version}}</h2>
            </div>
        </div>

        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <section *ngIf="contracts.oldVersion" id="printBox" class="note-preview cmpnycontentBox">
                    <div class="headingDiv">
                        <h4 class="heading">{{contracts?.oldVersion?.title}}</h4>
                        <p class="white-space-pre" [innerHTML]="contracts?.oldVersion?.description"> </p>
                    </div>
                    <div *ngFor="let s of contracts?.oldVersion?.contractSubjects" class="content">
                        <h6 class="heading">{{s?.title}}</h6>
                        <p class="white-space-pre" [innerHTML]="s.description"> </p>
                    </div>
                </section>
                <section *ngIf="!contracts.oldVersion" id="printBox" class="note-preview cmpnycontentBox">
                    <div class="headingDiv">
                        <h4 class="heading">Older version of this policy was not found.</h4>
                        <!-- <p class="white-space-pre" [innerHTML]="contracts?.oldVersion?.description"> </p> -->
                    </div>

                </section>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                <section id="printBox" class="note-preview cmpnycontentBox">
                    <div class="headingDiv">
                        <h4 class="heading">{{contracts?.newVersion?.title}}</h4>
                        <p class="white-space-pre" [innerHTML]="contracts?.newVersion?.description"> </p>
                    </div>
                    <div *ngFor="let s of contracts?.newVersion?.contractSubjects" class="content">
                        <h6 class="heading">{{s?.title}}</h6>
                        <p class="white-space-pre" [innerHTML]="s.description"> </p>
                    </div>
                </section>
            </div>

        </div>
        <div class="text-center">
            <button (click)="onAccept()" class="btn btn-lg btn-primary">Accept / Save</button>
        </div>
    </div>
</section>