.InviteUser {
    a {
        background: rgb(76, 217, 170);
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 14px;
        display: block;
        border-radius: 3px;
        font-family: 'LatoWeb';
        height: 43px;
        line-height: 43px
    }
}

.empSrearch div#custom-search-input .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b7b7b7;
}

.empSrearch div#custom-search-input .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b7b7;
}

.empSrearch div#custom-search-input .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #b7b7b7;
}

.empSrearch div#custom-search-input .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b7b7;
}

.filterController {
    ul.over180 {
        padding-top: 8px;
    }
    ul {
        margin-bottom: 0px;
        -webkit-margin-after: 0px;
    }
}

a.text-nowrap {
    font-weight: bold !important;
}

.EmpList .profile-round {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.filterController {
    padding: 20px 0px;
    background: #fafafa;
    margin: 0px 0px 20px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.EmpHeader .filter a:hover {
    background: #f5f5f5;
    color: #333;
}

.EmpHeader a:hover,
.EmpHeader a {
    text-decoration: none;
}

.EmpHeader {
    .InviteUser {
        .btn {
            width: 100%;
            height: 39px;
            font-family: 'LatoWebMedium';
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            font-size: 15px;
            padding: 0px 0px;
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto;
}

.action {
    width: 83px;
    padding: 5px 5px;
    height: 36px;
    line-height: 1.7;
    vertical-align: middle;
    display: inline-block;
    .fa {
        position: relative;
        right: 1px;
        top: 1px;
    }
}

.breadcrumb li {
    text-transform: none !important;
}

.candidateManagement {
    .EmpList .EmptableList {
        min-height: 190px;
    }
    a {
        cursor: pointer;
    }
    .EmpList {
        float: left;
        width: 100%;
        .topSearchFilter {
            width: 100%;
        }
        h3 {
            font-size: 25px;
            font-weight: 600;
            color: #4b4c4d;
            line-height: 30px;
        }
        h5 {
            font-size: 20px;
            color: #4b4c4d;
            margin-top: 0;
        }
    }
    .progress-container {
        position: relative;
        .progress {
            width: 75%;
            margin-bottom: 10px;
            .progress-bar {
                height: 0.7rem;
                span {
                    color: #acacac;
                    font-size: 14px;
                    font-style: italic;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        .list {
            width: 100%;
            float: left;
            font-size: 15px;
            margin-bottom: 7px;
            span {
                color: #64c3fa;
            }
            small {
                color: #acacac;
                font-size: 15px;
            }
        }
    }
    .topH {
        min-height: 155px;
        margin-bottom: 20px;
    }
    .btn-default,
    .btn-primary {
        &.btn-sm {
            padding: 1px 8px;
            font-size: 14px;
        }
    }
    .dropdown-menu {
        min-width: 100%;
        padding: 10px;
        .btn-none {
            width: 100%;
            text-align: left;
            &:hover {
                color: #000;
            }
            i {
                margin-right: 4px;
            }
        }
    }
    table {
        tr {
            td {
                .emailID {
                    width: 160px;
                    word-wrap: break-word;
                    margin-right: 0px;
                    line-height: 14px;
                    margin-bottom: 6px;
                }
                .downloadLink {
                    width: 130px;
                    a {
                        display: block;
                        text-overflow: ellipsis;
                        white-space: pre-wrap;
                        line-height: 20px;
                        margin-bottom: 5px;
                        font-size: 13px;
                    }
                }
                .btn {
                    &.btn-link {
                        text-align: left;
                        display: block;
                    }
                }
                span {
                    display: block;
                }
                .material-icons {
                    font-size: 19px;
                    vertical-align: middle;
                }
                small {
                    display: block;
                    font-size: 13px;
                    color: #999;
                }
                .dropdown {
                    .btn-primary {
                        padding: 5px;
                    }
                    .dropdown-menu {
                        right: 0;
                        left: inherit;
                        button {
                            width: 120px;
                            background: transparent;
                            border: 0;
                        }
                    }
                }
                .tooltip {
                    position: relative;
                    display: inline-block;
                    border-bottom: 1px dotted #fff5d6;
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    &.btn {
                        background-image: none;
                        background-color: #acacac;
                        color: #fff;
                        width: auto;
                        height: auto;
                        border-bottom: inherit;
                    }
                    &.btn-primary {
                        background: #64c3fb;
                    }
                }
                .cmnIcon {
                    background-position: 0 -2px;
                }
                .cmnIcon2 {
                    background-position: 0 -37px;
                }
                .cmnIcon3 {
                    background-position: 0 -73px;
                }
                .shortlisted {
                    background-position: -28px -2px;
                }
                .notSure {
                    background-position: -28px -37px;
                }
                .unSutable {
                    background-position: -28px -73px;
                }
                .tooltip .tooltiptext {
                    visibility: hidden;
                    width: 104px;
                    background-color: #fff5d6;
                    color: #a3620a;
                    text-align: center;
                    border-radius: 6px;
                    padding: 10px 5px;
                    border: 1px solid #ffcc33;
                    /* Position the tooltip */
                    position: absolute;
                    z-index: 1;
                    top: -55px;
                    left: 50%;
                    margin-left: -52px;
                }
                .tooltip:hover .tooltiptext {
                    visibility: visible;
                }
                .tooltiptext::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -10px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: #fff5d6 transparent transparent transparent;
                    z-index: 2;
                }
                .tooltiptext::before {
                    border-color: #ffcc33 transparent transparent transparent;
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -12px;
                    border-width: 12px;
                    border-style: solid;
                    z-index: 1;
                }
            }
        }
    }
    .EmpList .table {
        min-width: 1280px;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.EmpList .table tbody tr td:first-child {
    width: 50px;
}

a {
    &.btn-link {
        display: block;
        margin: 2px 0px;
    }
}

.EmpHeader {
    .btn-filter {
        margin-bottom: 15px;
    }
}

.candidateManagement .EmpList .table tr td .tooltip {
    background-image: none !important;
}