<div class="container-fluid candidateManagement">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/advertisement']">Ad management</a></li>
                <li class="breadcrumb-item active">Candidate management</li>
            </ol>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="EmpList topH">
                <h5 class="heading">Mental health and alcohol tobacco and other drugs service director lorum lpsum long title</h5>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input (keyup)="onSearch()" [(ngModel)]="tempReqBody.search" name="title" type="text" class="form-control input-lg" placeholder="Search by name" />
                                        <span class="input-group-btn">
                              <button class="btn" type="button">
                              <i class="fa fa-search"></i>
                              </button>
                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filter <i class="fa
                            " [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" [hidden]="toggleFilter">
                            <div class="filterController row">
                                <div class="col-xl-12 col-sm-12">
                                    <h3 class="title">Status</h3>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                                <li *ngFor=" let c of tempReqBody.filter.status ; let  i = index;">
                                                    <label>
                                                    <input (click)="isApplyBtnClicked=true;" type="checkbox" name="sat{{i}}" [(ngModel)]="c.isChecked" />
                                                    <span>{{c?.title}} </span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-default outlined filterBtn" (click)="onApplyFilters()" [disabled]="!isApplyBtnClicked" [ngClass]="{'btn-filter'  : !isApplyBtnClicked,'btn-primary' : isApplyBtnClicked}" style="position:static;margin-top:20px;">Apply filter <i class="fa fa-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="EmptableList">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="table-responsive">
                        <table *ngIf="(!isProcessing)" [mfData]="candidates" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" class="table table-bordered table-hover">
                            <thead *ngIf="candidates.length && !isProcessing">
                                <tr>
                                    <!--<th>
                                        <div class="customchkbox">
                                            <input id="friday" type="checkbox" (click)="onSelectAll(isSelectAll)" [(ngModel)]="isSelectAll" class="required" aria-required="true">
                                            <label for="friday" style="height: 7px;"></label>
                                        </div>
                                    </th>-->
                                    <th>
                                        <mfDefaultSorter by="employeeData.name">Candidate &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="employeeData.email">Contact information &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        Documents
                                    </th>
                                    <th>Interview</th>
                                    <th>
                                        Reference check
                                    </th>
                                    <th style="width:130px;">
                                        Work eligibility doc
                                    </th>
                                    <th style="width:95px;">
                                        <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th style="width:95px;">Review &nbsp;<i class="fa fa-sort"></i></th>
                                    <th>Action
                                        <!--<button class="btn btn-primary" id="dropdownMenuLink" >Action <i class="fa fa-angle-down" style="top:inherit;"></i></button>-->

                                        <!--<div class="dropdown">
                                            <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down" style="top:inherit;"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-items" (click)="onActionAll('Shortlisted')" class="color-info btn-none" title="Shortlisted">Shortlisted </a>
                                                <a class="dropdown-items" (click)="onActionAll('Interviewed')" class="color-info btn-none" title="Interviewed">Interviewed </a>
                                                <a class="dropdown-items" (click)="onActionAll('Rejected')" class="color-info btn-none" title="Rejected">Rejected </a>
                                                <a class="dropdown-items" (click)="onActionAll('Offered')" class="color-info btn-none" title="Offered">Offered </a>
                                                <a class="dropdown-items" (click)="onActionAll('Inducted')" class="color-info btn-none" title="Inducted">Inducted </a>
                                            </div>
                                        </div>-->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of mf.data; let i = index">
                                    <!--<td>
                                        <div class="customchkbox">
                                            <input id="friday{{item.candidateID}}" type="checkbox" [(ngModel)]="item.isSelected" class="required" aria-required="true">
                                            <label for="friday{{item.candidateID}}" style="height: 7px;"></label>
                                        </div>
                                    </td>-->
                                    <td>{{item?.employeeData?.name}}</td>
                                    <td>
                                        <div class="emailID"> {{item?.employeeData?.email}}</div>
                                        <span>{{item?.employeeData?.contact}}</span>
                                    </td>
                                    <!--<td>  s</td>-->
                                    <td>
                                        <a *ngIf="item?.employeeDocument?.resume.length==0" target="_blank"  href="javascript:void(0)" class="btn-link" (click)="noResumePopUp()"><i class="material-icons">file_download</i>Resume</a>                                         
                                        <a *ngIf="item?.employeeDocument?.resume.length!=0" target="_blank" href="{{item?.employeeDocument?.resume}}" class="btn-link"><i class="material-icons">file_download</i>Resume</a>
                                        <a *ngIf="item?.employeeDocument?.coverLetter.length==0" target="_blank"  href="javascript:void(0)" class="btn-link" (click)="noCoverPopUp()"><i class="material-icons">file_download</i>Cover letter</a> 
                                        <a *ngIf="item?.employeeDocument?.coverLetter.length!=0" target="_blank"  href="{{item?.employeeDocument?.coverLetter}}" class="btn-link" ><i class="material-icons">file_download</i>Cover letter</a>
                                        
                                    </td>
                                    <td>
                                        <div *ngIf="item.interviewGuide.heading == 'Interview Conducted'">
                                            <button class="btn btn-primary btn-sm tooltip" (click)="onConductInterview(item,'answers')"><span class="tooltiptext" style="width: inherit;left: 6%;">View interview on {{item?.interviewGuide?.interviewDate | dateFormat}}</span> View interview</button>
                                        </div>
                                        <div *ngIf="item.interviewGuide.heading == 'Conduct Interview'">
                                            <button class="btn btn-default btn-sm" (click)="onConductInterview(item,'questions')">Conduct interview</button>
                                        </div>
                                    </td>

                                    <td>
                                        <div *ngFor="let it of item.referenceCheck; let j=index;">
                                            <div *ngIf="it.heading == 'Reference Conducted'" style="margin:2px 0px;">
                                                <button class="btn btn-primary btn-sm tooltip" (click)="onConductRefrenceCheck(item,j,'answers')"><span class="tooltiptext" style="width: inherit;left: 6%;">View reference check on {{it?.interviewDate | dateFormat}}</span> View reference check</button>
                                            </div>
                                            <div *ngIf="it.heading == 'Conduct Reference Check'" style="margin:2px 0px;">
                                                <button class="btn btn-default btn-sm" (click)="onConductRefrenceCheck(item,j,'questions')">Conduct reference check</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="item.workDoc && item.workDoc.name" class="downloadLink">
                                            <a target="_blank" href="{{item?.workDoc?.path}}" class="btn-link"><i class="material-icons">file_download</i>{{item?.workDoc?.name}}</a>
                                            <small>{{item?.workDoc?.insertTime| dateFormat}}</small>
                                        </div>
                                        <div *ngIf="!item.workDoc || !item.workDoc.name">
                                            <button (click)="onUploadDoc(item)" class="btn btn-default">Upload</button>
                                        </div>
                                    </td>
                                    <td>{{item?.status}}</td>
                                    <td>

                                        <!--Offered-->
                                        <a *ngIf="item.status == 'Shortlisted' " class="tooltip cmnIcon">
                                            <img class="cursor" src="assets/images/happy-active.png" />
                                            <span class="tooltiptext">Shortlisted</span>
                                        </a>
                                        <a *ngIf="item.status != 'Shortlisted' " class="tooltip cmnIcon">
                                            <img class="cursor" (click)="onActionSelected(item,'Shortlisted')" src="assets/images/happy-inactive.png" />
                                            <span class="tooltiptext">Shortlist</span>
                                        </a>


                                        <a *ngIf="item.status == 'Not Sure' " class="tooltip cmnIcon2">
                                            <img class="cursor" src="assets/images/average-active.png" />
                                            <span class="tooltiptext">Not sure</span>
                                        </a>
                                        <a *ngIf="item.status != 'Not Sure' " class="tooltip cmnIcon2">
                                            <img class="cursor" (click)="onActionSelected(item,'Not Sure')" src="assets/images/average-inactive.png" />
                                            <span class="tooltiptext">Not sure</span>
                                        </a>


                                        <a *ngIf="item.status == 'Not Suitable' " class="tooltip cmnIcon3">
                                            <img class="cursor" src="assets/images/unhappy-active.png" />
                                            <span class="tooltiptext">Not Suitable</span>
                                        </a>
                                        <a *ngIf="item.status != 'Not Suitable' " class="tooltip cmnIcon3">
                                            <img class="cursor" (click)="onActionSelected(item,'Not Suitable')" src="assets/images/unhappy-inactive.png" />
                                            <span class="tooltiptext">Not Suitable</span>
                                        </a>

                                    </td>
                                    <td>
                                        <div class="dropdown actionDroapdown actionDDtbl">
                                            <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <!--<button class="color-info btn-none" (click)="onActionSelected(item,'Shortlisted')" title="Shortlisted">Shortlisted</button>-->
                                                <!--<button class="color-info btn-none" (click)="onActionSelected(item,'Interviewed')" title="Interviewed">Interviewed</button>-->
                                                <button class="dropdown-item color-danger btn-none" (click)="onActionSelected(item,'Rejected')"><i class="fa fa-ban"></i>&nbsp;Rejected</button>
                                                <button class="dropdown-item color-success btn-none" (click)="onActionSelected(item,'Offered')"><i class="fa fa-thumbs-o-up"></i>&nbsp;Offered</button>
                                                <!--<button class="color-danger btn-none" (click)="onActionSelected(item,'Inducted')" title="Inducted">Inducted</button>-->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                <tr class="danger" style="text-align:center" *ngIf="(candidates.length == 0) && !isProcessing">
                                    <td>Record not found</td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>