<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/app/company-admin']">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active">Induction/onBoarding listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">

                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-xl-9 col-md-8 col-sm-6"></div>
                        <div class="col-md-4 col-xl-3 col-sm-6">
                            <div class="filter text-right">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3  col-xl-3 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onPopUp()">Create induction<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!isFilterDataProcessing" class="filterController row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Employee</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="searchEmp" placeholder="Search employeee">
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of filter.user | searchBy:'name':searchEmp">
                                            <label>
                                                <input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isSelected">
                                                <span>{{item.name}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li *ngFor="let item of filter.status">
                                            <label>
                                                <input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isSelected">
                                                <span>{{item.title}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button [disabled]="!enableFilter" (click)="onApplyFilters()" [ngClass]="{'btn-primary':enableFilter,'btn-filter':!enableFilter}" class="btn btn-lg outlined btn-default btn-filter">Apply filter
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table [mfData]="employmentList" #mf="mfDataTable" [mfRowsOnPage]="10" class="full-width table" style="min-width:933px;">
                        <thead *ngIf="mf.data.length">
                            <th>
                                <mfDefaultSorter by="employeeUser.name">Employee &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="managerUser.name">Manager assigned &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="insertTime">Date &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th style="width:142px;">Details</th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of mf.data">
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" src="{{d.employeeUser?.imageUrl}}" height="40px" width="40px" />
                                        </div>
                                        <div class="d-flex align-self-center  media-right">{{d.employeeUser?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="d.managerUser" class="media">
                                        <div class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" src="{{d.managerUser?.imageUrl}}" height="40px" width="40px" />
                                        </div>
                                        <div class="d-flex align-self-center  media-right">{{d.managerUser?.name}}</div>
                                    </div>
                                </td>
                                <td>{{d.insertTime | dateFormat}}</td>
                                <td>{{d.status}}</td>
                                <td>
                                    <button (click)="onViewDetails(d.employeeChecklistID)" class="btn btn-default">View details</button>
                                </td>
                                <td>
                                    <div class="dropdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="d.status != 'Terminated'" (click)="onEdit(d.employeeChecklistID)" class="dropdown-item btn-none color-primary">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;Perform action</button>
                                            <button (click)="onCancel(d)" class="dropdown-item btn-none color-primary">
                                                <i class="fa fa-close"></i>&nbsp;Cancel</button>
                                            <button (click)="onDelete(d)" class="dropdown-item btn-none color-danger">
                                                <i class="fa fa-trash"></i>&nbsp;Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!employmentList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>