<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Warning listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-7 col-xl-9">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="form-control" (keyup)="searchList(searchInput.value)" #searchInput placeholder="Search Warning" />
                                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 col-xl-2 col-sm-6">
                            <div class="filter">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="form-control full-width text-left" (click)="toggleFilter=!toggleFilter">Filters  <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa pull-right"></i></button>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-md-5  col-xl-3">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onPopUp('warning')">Create warning<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            custome filter pop up
                            <div class="filterController row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li><label><input type="checkbox" /><span>Currnet</span></label></li>
                                        <li><label><input type="checkbox" /><span>Past</span></label></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Given to</h3>
                                    <ul class="checkbox over250">
                                        <li *ngFor="let x of employmentList"><label><input type="checkbox"/><span>{{x}}</span></label></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Given by</h3>
                                    <ul class="checkbox over250">
                                        <li *ngFor="let x of employmentList"><label><input type="checkbox"/><span>{{x}}</span></label></li>
                                    </ul>
                                    <button class="btn btn-default outlined">Apply filter <i class="fa fa-check"></i></button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="tableWrapper">
                    <table [mfData]="warningList" #mf="mfDataTable" *ngIf="!isProcessing" [mfRowsOnPage]="10" class="full-width table">
                        <thead>
                            <th>Title &nbsp;<i class="fa fa-sort"></i></th>
                            <th>Given to &nbsp;<i class="fa fa-sort"></i></th>
                            <th>Given by &nbsp;<i class="fa fa-sort"></i></th>
                            <th>Date of warning given &nbsp;<i class="fa fa-sort"></i></th>
                            <th>Details</th>
                        </thead>
                        <tbody *ngFor="let warning of mf.data">
                            <tr>
                                <td>{{ warning.title }}</td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{warning.employeeUser?.imageUrl}}" height="40px" width="40px" /></div>
                                        <div class="d-flex align-self-center  media-right">{{warning.employeeUser?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{warning.actionByUser?.imageUrl}}" height="40px" width="40px" /></div>
                                        <div class="d-flex align-self-center  media-right">{{warning.actionByUser?.name}}</div>
                                    </div>
                                </td>
                                <td>{{warning.insertTime | dateFormat }}</td>
                                <td style="width:142px;"><button class="btn btn-default" (click)="onPopUp1(warning.reason)">View details</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>