h5{
    font-weight:bold;
    font-size:18px;
    button{
        margin-left:30px;
        margin-bottom:10px;
        padding: 0px 18px;
        min-width: inherit;
        line-height: 36px;
        &.float-right{
            @media (max-width:479px){
            float:none !important;
            margin-left:0px;
            margin-top:15px;
        }
        }
    }
}
.addUserBtn md-checkbox{
    margin-right:20px;
}