<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Reference check guide</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-12">
                <div class="box box-default paddingBox">
                    <h5>Disclosure statement
                        <button md-raised-button color="special" (click)="onEdit()" class="theme-button btn-w-md float-right minibtn"><md-icon>edit</md-icon> Edit</button>
                    </h5>
                    <pre>{{referenceDisclaimer}} </pre>
                    <div class="text-center">
                        <md-checkbox name="accept" disabled [(ngModel)]="accept" (change)="acceptDisclaimer()">Yes </md-checkbox>
                        <md-checkbox name="reject" disabled [(ngModel)]="reject" (change)="acceptDisclaimer()">No </md-checkbox>
                    </div>
                </div>

            </div>
        </div>
    </article>
</div>