<div class="position-desc">
    <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
    <li class="breadcrumb-item active">Position description approval</li>
  </ol> -->
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <section id="printBox" class="note-preview cmpnycontentBox">
        <div *ngFor="let pos of position?.companyPosition">
            <div class="headingDiv">
                <h4 class="heading">{{pos?.positionTitle}}</h4>
                <p [innerHTML]='pos?.positionSummary'></p>
            </div>
            <div class="content">
                <h5 class="heading">Performance indicators</h5>
                <div class="content" *ngFor="let ind of pos?.performanceIndicator">
                    <h6 class="heading">{{ind?.title}}</h6>
                    <p>{{ind?.measure}}</p>
                    <p>Duration: {{ind?.duration}}</p>
                </div>
            </div>
            <div class="content">
                <h6 class="heading">Other roles and responsibilities</h6>
                <p [innerHTML]='pos.rolesAndResponsibilities'></p>
            </div>
            <div class="content">
                <h6 class="heading">Previous Experience</h6>
                <p [innerHTML]='pos.pastExperience'></p>
            </div>
            <div class="content">
                <h6 class="heading">Education</h6>
                <p [innerHTML]='pos.education'></p>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="btnWrapper text-center">
            <button *ngIf="!isProcessing" [disabled]="!position || !position?.companyPosition.length" class="btn btn-lg btn-primary" (click)="provideApproval()">Approve</button>
        </div>
    </section>
</div>