<section class="jobs-wrapper">
  <div class="divheader">
    <!-- <h3 class="heading">
      360 degree Survey Detail
    </h3> -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item active">jobs</li>
    </ol>
  </div>
  <!--Survey Question-->
  <div class="cmpnycontentBox">
    <h5 class="heading">Job Search</h5>
    <div class="box">
    <form #jobForm="ngForm">
      <ul class="full-width row">
        <li  class="form-group col-lg-3 col-xl-2 col-md-4 col-sm-6">
          <input type="text" placeholder="Keywords" class="form-control" />
        </li>
        <li class="form-group col-lg-3 col-xl-2 col-md-4 col-sm-6">
          <angular2-multiselect required  [data]="classification" 
                    [(ngModel)]="classificationItems" name="classification" #ddclassification="ngModel"
                    [settings]="dropdownSettings" [selectedItems]="classificationItems">
          </angular2-multiselect>
        </li>
        <li class="form-group col-lg-3 col-xl-2 col-md-4 col-sm-6">
          <angular2-multiselect required  [data]="location" 
                    [(ngModel)]="locationItems" name="location" #ddlocation="ngModel"
                    [settings]="locationItems" [selectedItems]="locationItems">
          </angular2-multiselect>
        </li>
         <li class="form-group col-lg-3 col-xl-2 col-md-4 col-sm-6">
          <angular2-multiselect required  [data]="minSalary" 
                    [(ngModel)]="minSalaryItems" name="minSalary" #ddminSalary="ngModel"
                    [settings]="minSalaryItems" [selectedItems]="minSalaryItems">
          </angular2-multiselect>
        </li>
        <li class="form-group col-lg-3 col-xl-2 col-md-4 col-sm-6">
          <angular2-multiselect required  [data]="maxSalary" 
                    [(ngModel)]="maxSalaryItems" name="maxSalary" #ddmaxSalary="ngModel"
                    [settings]="maxSalaryItems" [selectedItems]="maxSalaryItems">
          </angular2-multiselect>
        </li>
        <li class="form-group col-lg-3 col-xl-2 col-md-4 col-sm-6">
          <angular2-multiselect required  [data]="EmployeeType" 
                    [(ngModel)]="EmployeeTypeItems" name="EmployeeType" #ddEmployeeType="ngModel"
                    [settings]="EmployeeTypeItems" [selectedItems]="EmployeeTypeItems">
          </angular2-multiselect>
        </li>        
      </ul>
      <ul>
        <li>
          <button class="btn btn-primary">Help me find a Happy Job</button>
        </li>
      </ul>
    </form>
    </div>
    <h5>Quick search by state</h5>
    <div class="box">
      <ul>
        <li>Major states</li>
        <li><a href="javascript:void(0)">Sydney</a></li>
      </ul>
    </div>
  </div>  
</section>