.morreActions {
    .btn {
        margin-bottom: 12px;
        margin-right: 5px;
    }
    .InviteUser {
        display: inline-block;
        margin-right: 5px;
    }
    .filter {
        display: inline-block;
        margin-right: 5px;
        .btn {
            min-width: 200px;
        }
    }
}