<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Exit survey listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-12 text-right morreActions">
                            <div class="filter">
                                <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa"></i></button> 
                            </div>
                            <div class="InviteUser">
                                <button class=" btn btn-success full-width" [routerLink]="['/app/company-admin/exit-survey']">View exit survey<span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                        <!-- <div class="col-md-6 col-xl-7">
                             <div class="empSrearch topSearchFilter">
                <div id="custom-search-input">
                  <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="filter.search" placeholder="Search users" />
                    <span class="input-group-btn">
                        <button class="btn" type="button" (click)="getExitSurveyList()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                  </div>
                </div>
              </div> 
                        </div>-->
                        <div class="col-md-3 col-xl-3 col-sm-6">

                        </div>
                        <div class="col-md-3  col-xl-4 col-sm-6">

                        </div>
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised against</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="empSearch['raisedBy']" placeholder="Search employee" />
                                                <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedBy']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,emp?.userId)" /><span>{{emp?.name}}</span></label>
                                        </li>
                                        <li *ngIf="!employeeList.length" class="text-center"> No result found.</li>
                                    </ul>
                                </div>
                                <div class="col-lg-9 col-md-6 col-sm-6">
                                    <h3 class="title">View by</h3>
                                    <ul class="checkbox over250">
                                        <li><label><input type="checkbox" (click)="isChecked=true" [(ngModel)]="filter.filter.status.Pending" /><span>Pending</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true" [(ngModel)]="filter.filter.status.Done" /><span>Done</span></label></li>
                                    </ul>
                                </div>
                                <button (click)="isChecked && getExitSurveyList()" class="btn pull-right outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table style="min-width:880px;" class="full-width table" [mfData]="exitSurveyList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="forUserID.assignedUser.name">Assigned to &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="assignedBy.name">Assigned manager &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <!-- <th>Created by</th> -->
                            <th style="width:200px;">
                                <mfDefaultSorter by=" insertTime ">Date & time &nbsp;<i class="fa fa-sort "></i></mfDefaultSorter>
                            </th>
                            <th style="width:140px;">
                                <mfDefaultSorter by="status ">Status &nbsp;<i class="fa fa-sort "></i></mfDefaultSorter>
                            </th>
                            <!-- <th style="width:150px; ">Details</th> -->
                            <th style="width:126px; ">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let survey of mf.data ">
                                <td>{{survey?.title}}</td>
                                <td>
                                    <div class="media ">
                                        <div class="media-left d-flex align-self-center media-middle ">
                                            <img class="img-circle " [src]="survey?.forUserID?.assignedUser?.imageUrl " height="40px " width="40px "></div>
                                        <div class="d-flex align-self-center media-right ">{{survey?.forUserID?.assignedUser?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="survey?.assignedBy?.imageUrl" height="40px" width="40px" /></div>
                                        <div class="d-flex align-self-center  media-right">{{survey?.assignedBy?.name}}</div>
                                    </div>
                                </td>
                                <!-- <td>
                  <div class="media">
                    <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="assets/images/g1.jpg" height="40px" width="40px" /></div>
                    <div class="d-flex align-self-center  media-right">Mr. Paul</div>
                  </div>
                </td> -->
                                <td>{{formatDateTime(survey?.insertTime)}}</td>
                                <td>{{survey?.status}}</td>
                                <!-- <td><button class="btn btn-default">View details</button> </td> -->
                                <td>
                                     <md-progress-spinner *ngIf="survey['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>

                                    <div *ngIf="!survey['isProcessing']" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button class="dropdown-item btn-none color-info" *ngIf="survey?.status=='Complete'" [routerLink]="['/app/company-admin/exit-survey/view-response',survey?.employeeExitSurveyID]"><i class="fa fa-eye"></i>&nbsp;&nbsp; View response</button>
                                            <button class="dropdown-item btn-none color-danger" *ngIf="survey?.status=='Pending'" (click)="onDelete(survey)"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</button>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!exitSurveyList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>