.progress-container {
    margin: 0 0 24px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

.progress {
    padding: 21px 20px;
    background: #ebebeb;
    border-bottom: 1px solid #cecece;
    padding-right: 130px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
}

.progress-bar {
    height: 10px;
    color: #fff;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
}

.p-bar {
    display: block;
    width: 100%;
    background: #d8d8d8;
    border-radius: 4px;
    overflow: hidden;
}

.progress .progress-bar span {
    position: absolute;
    right: 16px;
    top: 19px;
    font-size: 14px;
    color: #acacac;
    font-style: italic;
}

.circle {
    display: block;
    width: 46px;
    position: relative;
    vertical-align: middle;
    height: 46px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px double #acacac;
    font-size: 20px;
    color: #acacac;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    display: inline-block !important;
    margin-left: 2%;
    font-weight: bold;
    @media (max-width: 767px) {
        height: 35px;
        width: 35px;
        font-size: 18px;
        line-height: 40px;
    }
}

.circle:hover {
    border: 2px double #4b4c4d;
    color: #fff;
    text-decoration: none;
    background: #4b4c4d;
}

.circle-active {
    display: block;
    width: 46px;
    position: relative;
    vertical-align: middle;
    height: 46px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    vertical-align: middle;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    display: inline-block !important;
    margin-left: 2%;
    font-weight: bold;
    border: 2px double #4b4c4d;
    color: #fff;
    text-decoration: none;
    background: #4b4c4d;
    @media (max-width: 767px) {
        height: 35px;
        width: 35px;
        font-size: 16px;
        line-height: 30px;
    }
}

// .inset{display:block;width:100px;height:100px;border-radius:50px;font-size:20px;color:#fff;line-height:100px;text-shadow:0 1px 0 #666;text-align:center;text-decoration:none;box-shadow:1px 1px 2px #000;background:#cccbbb;opacity:0.95}.inset:hover{color:#eee;text-shadow:0 0 1px #666;text-decoration:none;box-shadow:0 0 4px #222 inset;opacity:1}
.circle-container {
    //border-style: groove;
    padding: 20px 15px;
    text-align: center;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    vertical-align: middle;
    display: flex;
    // margin: 7px 4px;
}

.circle span {
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 15px;
    line-height: 40px;
    height: 40px;
    display: block;
    @media (max-width: 767px) {
        top: 1px;
        left: 10px;
        line-height: 30px;
        height: 35px;
        font-size: 16px;
    }
}

.circle-data {
    display: inline-block;
    /* width: 85px; */
    margin-left: 12px;
    vertical-align: middle;
    font-family: 'LatoWebHeavy';
    font-size: 15px;
    @media(max-width: 1135px) {
        display: block;
        text-align: center !important;
        margin-top: 5px;
    }
    @media (max-width: 767px) {
        font-size: 13px;
        line-height: 13px;
        min-height: 40px;
        margin-top: 8px;
        display: block;
    }
    @media (max-width:479px) {
        font-size: 12px;
    }
}

.circle-inner-container {
    display: inline-block;
}

.bar-title-container {
    overflow: auto;
}