<!--<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" [style.width]="progress" >
    <span class="sr-only">70% Complete</span>
  </div>
</div>-->
<div class="progress-container">
  <div class="progress">
    <div class="p-bar">
      <div class="progress-bar" [style.background-color]='backgroundColor' role="progressbar" aria-valuenow="70" aria-valuemin="0"
        aria-valuemax="100" [style.width.%]="progress?.progress_percent_value">
        <span>{{progress.progress_percent_value}}% completed</span>
      </div>
    </div>
    <!--<a href="#" class="inset">Hello</a>-->
  </div>
  <div class="bar-title-container">
    <div class="circle-container">
      <div *ngFor="let item of progress.steps; let i = index" class="circle-inner-container" [style.width.%]="progress?.circle_container_width">

        <div class="circle-active" *ngIf="item?.active">
          <span>{{item?.num}}</span>
        </div>
        <div class="circle" *ngIf="!item?.active">
          <span>{{item?.num}}</span>
        </div>
        <div class="circle-data">{{item?.data}}</div>

      </div>
      <!--{{progress?.steps}}-->
    </div>
  </div>

</div>