.profile-round{
    height:40px;
    width:40px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    margin-right:5px;
}
.cmpnycontentBox{
    h4{
        margin:15px 0px 30px;
    }
}
.PIPmainBox .pipHeader .pipEmploye .pipEmpuserPic .profile .adjust{
    display:inline-block;
}
.emptableList{
    table{
        tr{
            td{
                vertical-align: middle;
            }
        }
    }
}
.empList{
    margin-bottom:30px;
    &:last-child{
        margin-bottom:0px;
    }
}