<section class="employeeResponse">
    <div class="divheader">
        <!-- <h3 class="heading">
        360 degree Survey Response
      </h3> -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/survey']">Survey list</a></li>
            <!-- <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/survey/detail',companySurveyID]">Survey detail</a></li> -->
            <li class="breadcrumb-item active">360 degree survey response</li>
        </ol>
    </div>
    <!-- <div class="tableHead">
    <h4>This Survey will be visible to this Manager only.</h4>
  </div> -->
    <div class="cmpnycontentBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing && noResult" class="text-center">No result found.</div>
        <div *ngIf="!isProcessing && !noResult" class="PIPmainBox">
            <div class="pipHeader">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye" >
                            <div class="title"> Assigned to:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile" *ngIf="empResponse.anonymous!='Yes'">
                                    <div class="adjust">
                                        <a [routerLink]="['/app/company-admin/employee-management/profile', empResponse?.assigndTo?.userID]">
                                            <img [src]="empResponse?.assigndTo?.imageUrl" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h5 *ngIf="empResponse.anonymous!='Yes'" >{{empResponse?.assigndTo?.name}}</h5>
                                    <h5 *ngIf="empResponse.anonymous=='Yes'" >Anonymous</h5>                                    
                                    <div *ngIf="empResponse.anonymous!='Yes'"  class="designation">{{empResponse?.assigndTo?.position || 'Not specified'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Assigned manager:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust">
                                        <a [routerLink]="['/app/company-admin/employee-management/profile', empResponse?.assignedBy?.userID]">
                                            <img [src]="empResponse?.assignedBy?.imageUrl" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <h5>{{empResponse?.assignedBy?.name}}</h5>
                                    <div class="designation">{{empResponse?.assignedBy?.position || 'Not specified'}}</div>
                                    <button *ngIf="empResponse?.assignedBy?.role" class="btn btn-primary">{{empResponse?.assignedBy?.role || 'Not specified'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>



            <!--Questions-->
            <div class="questionBox" *ngFor="let qsn of empResponse?.data;let i=index;">
                <h6 class="questionHeading">{{i+1}}. {{qsn?.questionTitle}}</h6>
                <div class="answerBx">
                    <h5>Answer survey questions</h5>
                    <p>{{qsn?.answer}}</p>
                </div>
            </div>
        </div>
    </div>
</section>