.employeeResponse{
    padding: 20px 15px;
}
.btn-none{
    background: transparent;
    border: 0;
}
.tableHead{
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4{
        margin: 5px 0;
        font-size: 22px;
        @media (max-width: 767px){
            font-size: 18px;
        }
    }
}

.assignedBx{
    .col-sm-6{
        @media (max-width: 650px){
            max-width: 100%;
            flex: initial;
            margin-bottom: 10px;
        }
    }
}
.cmpnycontentBox{
    @media (max-width:767px){
        padding: 15px;
    }
}