<div class="container-fluid chapter">
    <div class="dashboard article">
        <h2 class="article-title">New registration</h2>
        <div class="cmpnycontentBox recentActivity">
            <div class="cmpnycontentBoxInner">
                <div class="tableWrapper col-sm-12">
                    <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="newRegistration" [mfActivePage]=2 #register="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <th style="width:50px;">
                                S.no.
                            </th>
                            <th>
                                Company username
                            </th>
                            <th>
                                Company admin
                            </th>
                            <th>
                                Company admin email
                            </th>
                            <th>
                                Contact number
                            </th>
                            <th>
                                Start Date
                            </th>
                            <th>
                                Subscription
                            </th>
                            <th>
                                Coupon
                            </th>
                            <th>
                                Status
                            </th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let registration of register.data;let i=index;">
                                <td class="text-center">{{(register.activePage -1)*(10)+(i+1)}}</td>
                                <td>{{registration.companyUserName||'--'}}</td>
                                <td>{{registration.companyName||'--'}}</td>
                                <td>{{registration.companyAdminEmail||'--'}}</td>
                                <td>{{registration.contactNumber||'--'}}</td>
                                <td>{{registration.startDate||'--'}}</td>
                                <td>{{registration.subscription||'--'}}</td>
                                <td>{{registration.couponCode||'--'}}</td>
                                <td>{{registration.accountStatus||'--'}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" *ngIf="isProcessing">
                                    <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                                </td>
                                <td colspan="9" *ngIf="newRegistration.length>10" class="progressSpinner" colspan="10" style="background:#ffffff !important;border-bottom:0px !important;">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>