<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item" [routerLink]="['/app/company-admin/policy-documents']">Policy documents</li>
                <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/policy-documentsunused-documents']">Unused documents</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="tableWrapper paddingNone">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <table *ngIf="!isProcessing" #mf="mfDataTable" [mfData]="documents" [mfRowsOnPage]="10" class="full-width table">
                        <thead>
                            <th style="width: 85px;">S. no. &nbsp;&nbsp;</th>
                            <th>
                                <mfDefaultSorter by="title"> Document title &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:121px;">
                                <mfDefaultSorter by="status"> Status &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>Details</th>
                            <!--<th style=" width:135px">Action</th>-->
                        </thead>

                        <tbody>
                            <tr *ngFor="let d of mf.data; let i=index">
                                <td>{{i+1}}</td>
                                <td style="cursor: pointer">{{d?.title}}</td>
                                <td>{{d?.status}}</td>
                                <td style="width:145px;"><button class="btn btn-default" (click)="onShowDetails(d.companyPolicyDocumentID)">View details</button></td>
                                <!--<td style="width:135px;">
                                        <div class="dropdown">
                                            <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button class="dropdown-item btn-none color-info" (click)="onEdit(d.companyProceduralDocumentID)"><i class="fa fa-pencil-square-o"></i>&nbsp;  Edit</button>
                                            </div>
                                        </div>
                                    </td>-->
                            </tr>
                        </tbody>
                        <tfoot>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                            <tr class="danger" style="text-align:center" *ngIf="!documents.length && !isProcessing">
                                <td colspan="4">Record not found</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>