.unasignedList{
    .col-md-4{
        margin:15px 0px;
    }
   .userInfo{
           float: left;
           width: 68%;
    .userdesigtn{
        padding-left: 22px;
        position: relative;
        padding-bottom: 4px;
        margin-bottom: 4px;
        border-bottom: 1px solid #e8e8e8;
        &:before{
            content:"\f007";
            position:absolute;
            font-family:fontawesome;
            top:7px;
            left:0px;
            font-size:18px;
        }
        h6{
           margin: 0px 0px;
           font-size: 15px;
        }
        .status{
           font-size: 12px;
           color: #696969;
        }
     }
     .removePos{
             color: #ff8383;   
     }
  }
  .actionBtn{
      a{
          background:#ffcc33;
          padding:10px;
          color:#ffffff;
          display:block;
          text-transform:uppercase;
          text-align:center;
          font-size:13px;
          &:hover{
              text-decoration: none;
              opacity:0.9;
          }
      }
      float:right;
      width: 32%;
      max-width: 100px;
  }
}
.material-icons{
    &.next{
        position:relative;
        font-size:18px;
        top:3px;
    }
}