<div class="container-fluid chapter">
  <article class="article innerAdmins">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
          <li class="breadcrumb-item" [routerLink]="['/app/company-admin/employee-management']">Employee management</li>
          <li class="breadcrumb-item active">Invite employee</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right" style="margin-bottom:15px;"><button type="button" class="btn btn-success float-right" [routerLink]="['/app/company-admin/organisation-chart']">Invite from org chart</button></div>
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-header box-dark">View unassigned position from org chart <span class="float-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span></div>
          <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
          <div *ngIf="!isProcessing" class="box-body">
            <div class="unasignedList">
              <div class="row">
                <div class="col-md-4" *ngFor="let position of positions;let i=index;">
                  <div class="userInfo">
                    <div class="userdesigtn">
                      <h6>{{position.positionName}}</h6>
                      <div class="status">Unassigned</div>
                    </div>
                    <div class="removePos" (click)="deletePosition(i)"><i class="fa fa-trash"></i> Remove position</div>
                  </div>
                  <div class="actionBtn">
                    <a (click)="invite(position)"><i class="material-icons">person_add</i> <br> Invite</a>
                  </div>
                </div>
                <span *ngIf="positions.length==0">No result found.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-md-12 text-right"><button type="button" class="btn btn-primary btn-lg">Next</button></div>-->
    </div>
  </article>
</div>