<h4 class="heading">
    Provide your approval <small class="pull-right"></small>
</h4>
<div class="customchkbox">
    <input id="approcalAccept" type="checkbox" #accept="ngModel" ngModel value="accept" class="required" aria-required="true">
    <label for="approcalAccept">I accept that I have gone through all the selected document and accept them.</label>
</div>
<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<figure *ngIf="!isProcessing" class="fig text-center">
    <figcaption>
        <h5 class="heading">Signature</h5>
    </figcaption>
    <!-- <img src="#" alt="Signature" class="imgSignature" /> -->
    <span class="signDemo" [ngClass]="signature?.type">{{signature?.text}}</span>
</figure>
<div class="buttonWrap text-center">
    <button [disabled]="!accept.value" class="btn btn-success" (click)="approve()"> Approve</button>
</div>

<style>
    .heading {
        margin-top: 0;
    }
</style>