.collapseInfoBox {
    .form-group {
        label {
            font-weight: bold;
            display: block;
        }
        .detailField {
            textarea {
                height: 60px;
                resize: none;
                line-height: 17px;
            }
        }
        .currentEmpoption {
            .customChoice {
                display: inline-block;
                margin-right: 25px;
            }
        }
    }
}

.uploadedDoc {
    .fileNamne {
        margin: 10px 0px;
    }
    .actions {
        .btn {
            &:first-child {
                margin-right: 7px;
            }
        }
    }
}

.pageHead {
    .btnwrapp {
        margin-top: 18px;
        .btn {
            display: inline-block;
            margin-right: 7px;
            @media(max-width: 479px) {
                margin-right: 0px;
            }
        }
        angular2-multiselect {
            display: inline-block;
            width: 255px;
        }
    }
}

@media (max-width:1160px) {
    .profileBox .proPic {
        width: 100%;
        max-width: 180px;
        height: auto;
    }
    .pageHead {
        angular2-multiselect {
            margin: 8px 0px;
        }
    }
}

@media (max-width:767px) {
    .pageHead {
        .btnwrapp {
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width:480) {
    .paddingBox {
        padding: 5px;
    }
}