<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/employee-management']">Employee management</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
            <div class="col-md-6 pageHead">
                <div class="text-right btnwrapp chooseQuestion DDaction">
                    <button (click)="onActivites()" class=" btn btn-primary">Activity & approval</button>
                    <angular2-multiselect name="action" [data]="actionList" [(ngModel)]="selectedAction" [settings]="actionSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>

            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="profileBox">
                    <div class="proPic">
                        <div class="adjust">
                            <img [alt]="employeeProfile?.name" [src]="employeeProfile?.personalInformation?.profileImageUrl">
                        </div>
                    </div>
                    <div class="userInfo">
                        <div class="name">
                            <h6>{{employeeProfile?.name || 'Not specified'}}</h6>
                            <div class="designation">{{employeeProfile?.positionTitle || 'Not Specified'}}</div>
                        </div>
                        <div class="inforow clearfix">
                            <label>Employee since</label>
                            <span class="values">{{formatDateTime(employeeProfile?.employeeSince) || 'Not specified'}}</span>
                        </div>
                        <div class="inforow clearfix">
                            <label>Status</label>
                            <span class="values">{{employeeProfile?.status || 'Not specified'}}</span>
                        </div>
                        <div class="inforow clearfix">
                            <label>Last login</label>
                            <span class="values">{{formatDateTime(employeeProfile?.lastLogin) || 'Not specified'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="collapseInfoBox">
                            <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Personal information
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>First name</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.firstName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Last name</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.lastName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Email id</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.email || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Phone no.</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.phoneNumber || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Street</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.address?.streetAddress || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Postal code</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.address?.postalCode || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Suburb</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.address?.addressSuburb || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>State</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.address?.stateName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>DOB</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.dob || 'Not specified'}}</span>
                                            </div>
                                            <!-- <div class="listingRow clearfix">
                                                <label>Tax file no.</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.taxFileNumeber || 'Not specified'}}</span>
                                            </div> -->
                                            <div class="listingRow clearfix">
                                                <label>Gender</label>
                                                <span class="values">{{employeeProfile?.personalInformation?.userGender || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapseInfoBox">
                            <h4 (click)="collapse['employementCollapse']=!collapse['employementCollapse']" [ngClass]="{active:!collapse['employementCollapse']}">Employment
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['employementCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Employment type</label>
                                                <span class="values">{{employeeProfile?.employeement?.employeeType || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Salary</label>
                                                <span class="values">{{employeeProfile?.employeement?.salary || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Type</label>
                                                <span class="values">{{employeeProfile?.employeement?.type || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Contract start date</label>
                                                <span class="values">{{employeeProfile?.employeement?.contractStartDate || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Contract end date</label>
                                                <span class="values">{{employeeProfile?.employeement?.contractEndDate || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapseInfoBox">
                            <h4 (click)="collapse['superannuationCollapse']=!collapse['superannuationCollapse']" [ngClass]="{active:!collapse['superannuationCollapse']}">Superannuation
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['superannuationCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Fund name</label>
                                                <span class="values">{{employeeProfile?.superannuation?.fundName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Fund type</label>
                                                <span class="values">{{employeeProfile?.superannuation?.fundType || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Fund membership no.</label>
                                                <span class="values">{{employeeProfile?.superannuation?.membershipNumber || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Electronic service</label>
                                                <span class="values">{{employeeProfile?.superannuation?.electronicServices || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Super bank A/c BSB</label>
                                                <span class="values">{{employeeProfile?.superannuation?.accountBsb || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Super bank A/c name</label>
                                                <span class="values">{{employeeProfile?.superannuation?.accountName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Super bank A/c #</label>
                                                <span class="values">{{employeeProfile?.superannuation?.accountNumber || 'Not specified'}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapseInfoBox">
                            <h4 (click)="collapse['bankingdetailCollapse']=!collapse['bankingdetailCollapse']" [ngClass]="{active:!collapse['bankingdetailCollapse']}">Banking details
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['bankingdetailCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Bank name</label>
                                                <span class="values">{{employeeProfile?.bankDetail?.bankName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>BSB number</label>
                                                <span class="values">{{employeeProfile?.bankDetail?.bsbNumber || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Bank A/c name</label>
                                                <span class="values">{{employeeProfile?.bankDetail?.accountName || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Account no.</label>
                                                <span class="values">{{employeeProfile?.bankDetail?.accountNumber || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapseInfoBox" *ngIf="employeeDocs.length>0">
                            <h4 (click)="collapse['empdocCollapse']=!collapse['empdocCollapse']" [ngClass]="{active:!collapse['empdocCollapse']}">Employee documents
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['empdocCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-3 text-center" *ngFor="let doc of employeeDocs;let i=index;">
                                            <!-- <figure> -->
                                            <!-- <img src="assets/images/g1.jpg" /> -->
                                            <i class="fa fa-file-text" style="font-size: 50px;"></i>
                                            <!-- </figure> -->
                                            <figcaption>{{doc?.title}}</figcaption>
                                            <figcaption>{{doc?.expiryDate}}</figcaption>
                                            <div class="buttonWrap">
                                                <a class="btn btn-success" href="{{doc.edsFile}}" download>Download</a>
                                                <!-- <button class="btn btn-danger" (click)="removeDoc('employeeDocumentSigned',i)">Remove</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapseInfoBox" *ngIf="employeeUploadDocs.length>0">
                            <h4 (click)="collapse['uploaddocCollapse']=!collapse['uploaddocCollapse']" [ngClass]="{active:!collapse['uploaddocCollapse']}">Upload your documents
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['uploaddocCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-3 text-center" *ngFor="let doc of employeeUploadDocs;let i=index;">
                                            <!-- <figure> -->
                                            <!-- <img src="assets/images/g1.jpg" /> -->
                                            <i class="fa fa-file-text" style="font-size: 50px;"></i>
                                            <!-- </figure> -->
                                            <figcaption>{{doc?.title}}</figcaption>
                                            <figcaption>{{doc?.expiryDate}}</figcaption>
                                            <div class="buttonWrap">
                                                <a class="btn btn-success" href="{{doc.edsFile}}" download>Download</a>
                                                <!-- <button class="btn btn-danger" (click)="removeDoc('employeeDocumentSubmit',i)">Remove</button> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="collapseInfoBox">
                            <h4 (click)="collapse['extrainfoCollapse']=!collapse['extrainfoCollapse']" [ngClass]="{active:!collapse['extrainfoCollapse']}">Extra information
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['extrainfoCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <form #generalInformation="ngForm" class="form-horizontal" novalidate>
                                        <div class="row">
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Commision structure</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="commision1" type="radio" name="commision" value="none" class="required">
                                                        <label for="commision1">None</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="commision2" type="radio" name="commision" value="% of total sales" class="required">
                                                        <label for="commision2">% of total sales</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="commision3" type="radio" name="commision" value="sliding commision scale" class="required">
                                                        <label for="commision3">Sliding ommision scale</label>
                                                    </div>
                                                    <div class="detailField">
                                                        <textarea class="form-control" value="">% upto $ 
                                           % Over $ and less than $
                                           % Over $</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Company bonuses</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="bonus1" type="radio" name="bonus" value="yes" class="required">
                                                        <label for="bonus1">yes</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="bonus2" type="radio" name="bonus" value="No" class="required">
                                                        <label for="bonus2">No</label>
                                                    </div>
                                                    <div class="detailField">
                                                        <textarea class="form-control" value="">$5000 per quarter based on $100,000 + GST revenue reached at 40% GP margin</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Vehicle allowance</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="allowance1" type="radio" name="allowance" value="yes" class="required">
                                                        <label for="allowance1">yes</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="allowance2" type="radio" name="allowance" value="No" class="required">
                                                        <label for="allowance2">No</label>
                                                    </div>
                                                    <div class="detailField">
                                                        <textarea class="form-control" value="">Car allowance at $15,000</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Other bonuses unique to role or employee</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="otherbonus1" type="radio" name="otherbonus" value="yes" class="required">
                                                        <label for="otherbonus1">yes</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="otherbonus2" type="radio" name="otherbonus" value="No" class="required">
                                                        <label for="otherbonus2">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Other applicable information that is unique to the role or employee</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="otherinfo1" type="radio" name="otherinfo" value="yes" class="required">
                                                        <label for="otherinfo1">yes</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="otherinfo2" type="radio" name="otherinfo" value="No" class="required">
                                                        <label for="otherinfo2">No</label>
                                                    </div>
                                                    <div class="detailField">
                                                        <textarea class="form-control" value="">$2000 training budget per year</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Mobile phone</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="phone1" type="radio" name="phone" value="Yes- Fully Subsidiesed" class="required">
                                                        <label for="phone1">Yes- fully subsidiesed</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="phone2" type="radio" name="phone" value="yes- part Contribution" class="required">
                                                        <label for="phone2">yes- part contribution</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="phone3" type="radio" name="phone" value="No" class="required">
                                                        <label for="phone3">No</label>
                                                    </div>
                                                    <div class="detailField">
                                                        <textarea class="form-control" value="">Apple 1 phone serial number 434767</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Laptop</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="laptop1" type="radio" name="laptop" value="yes" class="required">
                                                        <label for="laptop1">yes</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="laptop2" type="radio" name="laptop" value="No" class="required">
                                                        <label for="laptop2">No</label>
                                                    </div>
                                                    <div class="detailField">
                                                        <textarea class="form-control" value="">Macbook  serial numbwer 124578</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" col-sm-6 form-group">
                                                <label class="control-label">Tablet</label>
                                                <div class="rghtinput10 currentEmpoption">
                                                    <div class="customChoice">
                                                        <input id="tablet1" type="radio" name="tablet" value="yes" class="required">
                                                        <label for="tablet1">yes</label>
                                                    </div>
                                                    <div class="customChoice">
                                                        <input id="tablet2" type="radio" name="tablet" value="No" class="required">
                                                        <label for="tablet2">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                        <div class="collapseInfoBox">
                            <h4 (click)="collapse['engcontactCollapse']=!collapse['engcontactCollapse']" [ngClass]="{active:!collapse['engcontactCollapse']}">Emergency contact
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['engcontactCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Name</label>
                                                <span class="values">{{employeeProfile?.employeeContact?.name || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Email</label>
                                                <span class="values">{{employeeProfile?.employeeContact?.email || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Mobile phone</label>
                                                <span class="values">{{employeeProfile?.employeeContact?.mobileNumber || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Relation</label>
                                                <span class="values">{{employeeProfile?.employeeContact?.employeeRelation || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapseInfoBox">
                            <h4 (click)="collapse['licenceCollapse']=!collapse['licenceCollapse']" [ngClass]="{active:!collapse['licenceCollapse']}">Licence details
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['licenceCollapse']}" class="collapseContentbox">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Licence name</label>
                                                <span class="values">{{employeeProfile?.employeeLicence?.licenceTitle || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Licence expiry</label>
                                                <span class="values">{{employeeProfile?.employeeLicence?.expiryDate || 'Not specified'}}</span>
                                            </div>
                                            <div class="listingRow clearfix">
                                                <label>Licence no.</label>
                                                <span class="values">{{employeeProfile?.employeeLicence?.licenceNumber || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Licence state</label>
                                                <span class="values">{{employeeProfile?.employeeLicence?.stateName || 'Not specified'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="collapseInfoBox" *ngIf="employeeAwards.length>0">
                            <h4 (click)="collapse['awardCollapse']=!collapse['awardCollapse']" [ngClass]="{active:!collapse['awardCollapse']}">Award & EBA/ECA
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:!collapse['awardCollapse']}" class="collapseContentbox visibleBoxDD">
                                <div class="paddingBox">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Your award</label>
                                                <span class="values">
                                                    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                                        (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                                                        (onDeSelectAll)="onDeSelectAll($event)">
                                                    </angular2-multiselect>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="listingRow clearfix">
                                                <label>Your EBA or ECA</label>
                                                <span class="values">
                                                    <input class="form-control" name="EBA" type="text" required />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>