<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Sub company</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="tableWrapper">
                    <table [mfData]="SubCompanyList" #mf="mfDataTable" *ngIf="!isProcessing" [mfRowsOnPage]="10" class="full-width table" style="min-width:1254px;">
                        <thead>
                            <th style="width:80px;">S. no. <i class="fa fa-sort"></i></th>
                            <th>Company name <i class="fa fa-sort"></i></th>
                            <th>Address <i class="fa fa-sort"></i></th>
                            <th>Website <i class="fa fa-sort"></i></th>
                            <th>Admin name <i class="fa fa-sort"></i></th>
                            <th>Email id <i class="fa fa-sort"></i></th>
                            <th>Phone number <i class="fa fa-sort"></i></th>
                            <th>Status <i class="fa fa-sort"></i></th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sub of mf.data;let i = index">
                                <td>
                                    {{i + 1}}
                                </td>
                                <td class="Wraptext">
                                    {{sub.title || 'NA'}}
                                </td>
                                <td class="Wraptext">
                                    {{sub.address || 'NA'}}
                                </td>
                                <td class="Wraptext">
                                    {{sub.website || 'NA'}}
                                </td>
                                <td class="Wraptext">
                                    {{sub.adminName|| 'NA'}}
                                </td>
                                <td class="Wraptext">
                                    {{sub.email|| 'NA'}}
                                </td>
                                <td class="Wraptext">
                                    {{sub.number|| 'NA'}}
                                </td>
                                <td *ngIf="sub.status =='Deleted'" class="Wraptext">Terminated</td>
                                <td *ngIf="sub.status !='Deleted'" class="Wraptext">{{sub.status || 'NA'}}</td>
                                <td>
                                    <div *ngIf="sub.status !='Deleted'" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button class="dropdown-item btn-none color-danger" (click)="deleteSub(sub)"><i class="fa fa-trash-o"></i>&nbsp; Delete</button>
                                            <button class="dropdown-item btn-none color-danger" (click)="onIncognito(sub)"><i class="fa fa-sign-in"></i>&nbsp; Incognito</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <tr style="border-bottom:0px;">
                                <td colspan="9" style="border:0px;">
                                    <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>