<div class="userLatterActions">

    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div class="EmpList">
        <div class="UserActionPopup" *ngIf="!isProcessing">
            <h4 class="heading">Interview questions </h4>

            <form #ActionForm="ngForm" class="full-width">

                <div class="EmpList" style="margin-bottom:20px;">
                    <h5 class="heading"> Attitude</h5>

                    <div *ngFor="let q of interviewQuestions['Attitude']">
                        <div class="heading">{{q?.interviewQuestion}}</div>
                        <div *ngIf="isquestionOnly">
                            <div class="form-group">
                                <input class="form-control" type="text" name="attt{{q.questionID}}" [(ngModel)]="q.interviewAnswer" #question="ngModel" myNoSpaces required>
                            </div>
                            <div *ngIf="question.errors && ( (question.dirty || question.touched) || isButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(question.errors.required || question.errors.whitespace)">
                                    Answer is required !
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" *ngIf="!isquestionOnly">
                            <div>{{q?.interviewAnswer}}</div>
                        </div>
                    </div>
                </div>

                <div class="EmpList" style="margin-bottom:20px;">
                    <h5 class="heading"> Behavior</h5>
                    <div *ngFor="let q of interviewQuestions['Behavior']">

                        <div class="heading">{{q?.interviewQuestion}}</div>

                        <div *ngIf="isquestionOnly">
                            <div class="form-group">
                                <input class="form-control" type="text" name="attt{{q.questionID}}" [(ngModel)]="q.interviewAnswer" #question="ngModel" myNoSpaces required>
                            </div>
                            <div *ngIf="question.errors && ( (question.dirty || question.touched) || isButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(question.errors.required || question.errors.whitespace)">
                                    Answer is required !
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" *ngIf="!isquestionOnly">
                            <div>{{q?.interviewAnswer}}</div>
                        </div>
                    </div>
                </div>

                <div class="EmpList" style="margin-bottom:20px;">
                    <h5 class="heading"> Core competency</h5>

                    <div *ngFor="let q of interviewQuestions['CoreCompetency']">
                        <div class="heading">{{q?.interviewQuestion}}</div>

                        <div *ngIf="isquestionOnly">
                            <div class="form-group">
                                <input class="form-control" type="text" name="attt{{q.questionID}}" [(ngModel)]="q.interviewAnswer" #question="ngModel" myNoSpaces required>
                            </div>
                            <div *ngIf="question.errors && ( (question.dirty || question.touched) || isButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(question.errors.required || question.errors.whitespace)">
                                    Answer is required !
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" *ngIf="!isquestionOnly">
                            <div>{{q?.interviewAnswer}}</div>
                        </div>
                    </div>
                </div>
                <div class="EmpList">
                    <h5 class="heading"> Intergrity</h5>

                    <div *ngFor="let q of interviewQuestions['Intergrity']">
                        <div class="heading">{{q?.interviewQuestion}}</div>
                        <div *ngIf="isquestionOnly">
                            <div class="form-group">
                                <input class="form-control" type="text" name="attt{{q.questionID}}" [(ngModel)]="q.interviewAnswer" #question="ngModel" myNoSpaces required>
                            </div>
                            <div *ngIf="question.errors && ( (question.dirty || question.touched) || isButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(question.errors.required || question.errors.whitespace)">
                                    Answer is required !
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 10px;" *ngIf="!isquestionOnly">
                            <div>{{q?.interviewAnswer}}</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isquestionOnly" class="text-center" style="margin-top:20px;">
                    <button *ngIf="!isActionProcessing" class="btn btn-lg btn-primary" [disabled]="!ActionForm.form.valid" (click)="onSave(ActionForm.form.valid)"> Send </button>
                    <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                </div>
            </form>
        </div>
    </div>
</div>