.questionnaires{
    padding:0 15px 30px;
    .box{
        padding:30px 20px;
        background: #f5f5f5;
        .customchkbox{
            display:inline-block;
            margin-right:30px;
        }
    }
}