<div class=" container-fluid  admin-panel">
    <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
    <li class="breadcrumb-item active">Questionnaire</li>
  </ol> -->
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer" style="margin-top:30px;">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div *ngFor="let question of questions;let i=index;">
        <section *ngIf="step == i" class="note-preview cmpnycontentBox">
            <div class="box">
                <h6 class="heading">{{question.question}}</h6>
                <div *ngIf="question.field=='Option'">
                    <div class="customchkbox" *ngFor="let option of question.options;let j=index;">
                        <input [id]="'Innovative'+i+j" type="radio" name="'Innovative'+i" value="option" class="required" aria-required="true">
                        <label [for]="'Innovative'+i+j">{{option}}</label>
                    </div>
                </div>
            </div>
            <div class="buttonWrap text-center">
                <!-- <button class="btn btn-secondary" (click)="saveDraft()">Save Draft &nbsp;<i class="fa fa-save"></i></button> -->
                <button class="btn btn-primary btn-lg" (click)="saveAndNext()">Next &nbsp;<i class="fa fa-angle-double-right"></i></button>
            </div>
        </section>
    </div>
</div>