<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Letter details</h2>
            </div>
        </div>
        <div class="box box-default paddingBox policyDetail">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="row">
                <div class="col-md-12">
                    <div *ngIf="permission.edit" class="groupAction text-right float-right">
                        <button md-raised-button color="special" [routerLink]="['/app/super-admin/letters/edit',letter.letterID ]"><md-icon>edit</md-icon> Edit</button>
                    </div>
                    <div class="labelStats">
                        <label class="statsInfo">{{letter.lettertype.title}}</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div [innerHTML]="letter.description |safe:'html'"></div>
                </div>
            </div>

        </div>
    </article>
</div>