.PIPmainBox {
    .PIPFormbox {
        .form-group {
            margin-bottom: 9px !important;
        }
    }
}

.btnWrapp {
    margin-top: 20px;
    .btn {
        &:first-child {
            margin-right: 7px;
        }
    }
}