<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/probationary-meeting']">Probationary meeting listing</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
        <div class="cmpnycontentBox PIPmainBox">
            <div class="pipHeader">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="heading">Probationary meeting</h3>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Probation meeting for:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust"><img src="{{probationDetails?.userID?.imageUrl}}" /></div>
                                </div>
                                <div class="info">
                                    <h5>{{probationDetails?.userID?.name}}</h5>
                                    <div class="designation">{{probationDetails?.userID?.position}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Assigned manager:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust"><img src="{{probationDetails?.managerID?.imageUrl}}" /></div>
                                </div>
                                <div class="info">
                                    <h5>{{probationDetails?.managerID?.name}}</h5>
                                    <div class="designation">{{probationDetails?.managerID?.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="PIPFormbox detailPIP">
                <div class="row">
                    <div style="margin-top: 30px;" class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Title</label>
                        </div>
                        <div class="rghtinput10">
                            {{probationDetails?.title}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Date</label>
                        </div>
                        <div class="rghtinput10">
                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{formateDate(probationDetails?.endDate)}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Status</label>
                        </div>
                        <div class="rghtinput10">
                            {{probationDetails?.status}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmpnycontentBox trainingNotes" *ngIf="probationDetails && status!='Terminated'">
            <h5 class="heading">Manager notes</h5>
            <div *ngIf="!probationDetails?.note">
                <form #managerNoteForm="ngForm" class="full-width">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control full-width" style="height:100px;resize:none;max-width:inherit;" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="pipManagerNote.managerTraNote" myNoSpaces rows="4"></textarea>
                            <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isTraButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                    Manager note is required !
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="text-left">
                    <md-progress-spinner *ngIf="isTraCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <button *ngIf="!isTraCreateProcessing" (click)="addTrainingNotes(managerNoteForm)" class="btn btn-primary btn-lg">Save</button>
                </div>
            </div>
            <div *ngIf="onEdit">
                <form #managerNoteForm="ngForm" class="full-width">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control full-width" style="height:100px;resize:none;max-width:inherit;" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="pipManagerNote.managerTraNote" myNoSpaces rows="4"></textarea>
                            <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isTraButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                    Manager note is required !
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="text-center btnWrapp">
                    <md-progress-spinner *ngIf="isTraCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <button *ngIf="!isTraCreateProcessing && status!='Terminated'" (click)="addTrainingNotes(managerNoteForm)" class="btn btn-primary">Save</button>
                    <button *ngIf="!isTraCreateProcessing && status!='Terminated'" (click)="onCancel()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="full-width" *ngIf="probationDetails?.note && !onEdit">
                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                <div class="box">
                    <div class="full-width">
                        <div class="notesList">
                            <p class="white-space-pre">{{probationDetails?.note}}</p>
                            <i class="instruction moreTopGap">This note has been given  on {{probationDetails?.noteTime| dateFormat}} at {{probationDetails?.noteTime| dateFormat:'shortTime'}}</i>
                            <span class="pull-right"><button *ngIf="status!='Terminated'" style="    position: relative;
    top: -12px;" class="btn btn-special" (click)="onEditNotes()">Edit <i class="fa fa-pencil cursor"></i></button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btnWrapp text-center">
            <button *ngIf="probationDetails?.note && (probationDetails?.status == 'Pending') && status!='Terminated'" (click)="saveProbationAction(probId , 'Pass')" class="btn btn-success btn-lg">Pass</button>
            <button *ngIf="probationDetails?.note && (probationDetails?.status == 'Pending') && status!='Terminated'" (click)="onTerminate(probId , 'Termination',probationDetails?.userID?.userID)" class="btn btn-danger btn-lg">Terminate</button>
        </div>
    </div>
</div>