<div class="header">
    <div class="container">
        <div class="top-header">
            <a (click)="onClickLogo()"><img src="assets/images/logo-white.png" width="160"></a>
        </div>
    </div>
</div>
<div class="page-auth">
    <div class="main-body">
        <div class="row">
            <div class="col-md-12">
                <app-steps [progress]='progress'></app-steps>
            </div>
            <!--<div class="col-md-12 text-right"><button type="button" class="btn btn-primary">Next <i class="material-icons next">arrow_forward</i></button></div>-->
        </div>
        <div class="card bg-color-white">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="card-content registrationForm">
                <form #questionare1Form="ngForm" class="form-horizontal" (ngSubmit)="saveAndNext()">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2> Company details</h2>
                        </div>
                        <div class=" col-sm-12 form-group" *ngFor="let question of questionData;let i=index;">
                            <label *ngIf="isValidQuestion(i)" class="control-label"> {{question.question}}</label>
                            <input *ngIf="question.field == 'Text' && isValidQuestion(i)" class="form-control" [(ngModel)]="question.answer[0]" [name]="'answer-'+i" type="text" placeholder="Answer" required (ngModelChange)="validate($event,'answer'+i)">


                            <!-- TODO: Need to validate Option/choice field -->


                            <div *ngIf="question.field == 'Option' && isValidQuestion(i)">
                                <div class="customchkbox" *ngFor="let option of question.options; let j=index;">
                                    <input [id]="'customchk'+i+j" [checked]="isChecked(option, i)" type="checkbox" [value]="option" class="required" (change)="onCheckOption($event,i)" aria-required="true">
                                    <label [for]="'customchk'+i+j">{{option}}</label>
                                </div>
                            </div>

                            <div *ngIf="question.field == 'Radio' && isValidQuestion(i)">
                                <div class="customChoice" *ngFor="let option of question.options; let j=index;">
                                    <input [id]="'flexiworkhour'+i+j" type="radio" [checked]="isChecked(option, i)" (change)="errors['answer'+i]='';" [(ngModel)]="question.answer[0]" [value]="option" [name]="'option'+i" class="required" aria-required="true">
                                    <label [for]="'flexiworkhour'+i+j">{{option}}</label>
                                </div>
                                <input *ngIf="question.answer[0] == 'Other'" class="form-control" [(ngModel)]="question.other" [name]="'answer-'+i" type="text" placeholder="Other answer" (ngModelChange)="validate($event,'answer'+i)">
                                <input *ngIf="question.companyQuestionairID == 53 && question.answer[0] == 'Yes'" class="form-control" [(ngModel)]="question.other" [name]="'answer-'+i" type="text" placeholder="Answer" (ngModelChange)="validate($event,'answer'+i)">
                                <p *ngIf="question.companyQuestionairID == 53 && question.answer[0] == 'I don\'t have a First Aid certificate'" class="instruction">
                                    You need to obtain a first aid certificate if you have more than 10 employees. For construction organisations it is compulsory to have someone on site who holds at least a level 2 in first aid certificate if they employ staff. If you meet the above conditions
                                    you must arrange for this to occur and edit this question in the edit panel on the Happy HR administrator document dashboard once you have the details.
                                </p>
                            </div>


                            <!-- TODO: Need to validate Date/Time field -->

                            <dp-date-picker *ngIf="question.field == 'Time' && isValidQuestion(i)" class="form-control" [name]="'answer-'+i" #timestamp="ngModel" [theme]="'dp-material'" [mode]="'time'" [(ngModel)]="dateTime[i]" [config]="timeConfig" required="true" placeholder="Choose a time"
                                (ngModelChange)="setTime(i);validate($event,'answer'+i)"></dp-date-picker>

                            <div class="color-danger" *ngIf="errors && errors['answer'+i] && isValidQuestion(i)">
                                {{errors['answer'+i]}}
                            </div>
                        </div>
                        <div *ngIf="!isProcessingForm" class="col-sm-12 text-center buttonWrap">
                            <!--<button md-raised-button class="btn btn-primary" type="button" [routerLink]="['/user/company-registration/questionnaire/step/3']">Back</button>-->
                            <button class="btn btn-primary btn-lg" type="button" (click)="saveAsDraft()" style="margin-right:10px;">Save as draft</button>
                            <button class="btn btn-primary btn-lg" type="submit">Finish</button>
                        </div>
                        <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>