<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day']">Master training plan</li>
                    <li class="breadcrumb-item active">Previous training plans</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner class="text-center" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div class="col-md-12" *ngIf="!isProcessing && noResult">
                <div class="cmpnycontentBox text-center">No record found.</div>
            </div>
            <div class="col-md-12" *ngIf="!isProcessing && !noResult">
                <div class="cmpnycontentBox">
                    <h4 class="heading">Previous training plans</h4>
                    <div>
                        <div class="empList" *ngFor="let plan of planList">
                            <h6 class="heading">{{plan}}</h6>
                            <div class="emptableList">
                                <table class="table table-hover">
                                    <thead>
                                        <th>S No.</th>
                                        <th>Employees</th>
                                    </thead>
                                    <tbody>
                                        <tr class="PIPmainBox" *ngFor="let plan of previousPlan.data[plan];let i=index;">
                                            <td style="width:80px;">{{i+1}}</td>
                                            <td class="pipHeader">
                                                <div class="pipEmploye" style="display: inline-block;" *ngFor="let user of plan">
                                                    <div class="pipEmpuserPic">
                                                        <div class="profile">
                                                            <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                        </div>
                                                        <div class="info">
                                                            <h5>{{user?.name}}</h5>
                                                            <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>