<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Probationary meeting listing</li>
            </ol>

        </div>
        <!-- <div class="col-md-4 col-xl-3 col-sm-6">
      <div class="InviteUser">
        <div class="form-group text-right">
            <button class="btn btn-success full-width" (click)="onPopUp()" >Create Meeting<span class="fa fa-plus"></span></button>
        </div>
      </div>
    </div> -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table class="full-width table" [mfData]="probationList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <!-- <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th> -->
                            <th>
                                <mfDefaultSorter by="userID.name">Employee &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="date">Date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="managerID.name">Manager &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of mf.data">
                                <!-- <td style="max-width: 200px;">{{p?.title}}</td> -->
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="p?.userID?.imageUrl" alt="" height="40px" width="40px"></div>
                                        <div class="d-flex align-self-center  media-right">
                                            {{p?.userID?.name}}<br>
                                        </div>
                                    </div>
                                </td>
                                <td> {{p?.status}} </td>
                                <td> {{p?.date | dateFormat}} </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="p?.managerID?.imageUrl" alt="" height="40px" width="40px"></div>
                                        <div class="d-flex align-self-center  media-right">
                                            {{p?.managerID?.name}}<br>
                                        </div>
                                    </div>
                                </td>
                                <!--<td>
                                    <button *ngIf="p?.status != 'Pending'" (click)="OnAction(p)" class="btn btn-default">View details</button>
                                </td>-->
                                <td>
                                    <md-progress-spinner *ngIf="p['isActionProcessing']" mode="indeterminate" color=""></md-progress-spinner>

                                    <div *ngIf="!p['isActionProcessing']" class="dropdown actionDroapdown actionDDtbl">

                                        <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                                            <button *ngIf="p?.status == 'Pending'" class="dropdown-item color-info btn-none" (click)="OnAction(p)"><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp; Perform action</button>
                                            <button *ngIf="p?.status != 'Pending'" (click)="OnAction(p)" class="dropdown-item color-info btn-none"><i class="fa fa-eye"></i>&nbsp;&nbsp; Detail</button>
                                            <!-- <button (click)="saveProbationAction(p?.probationaryMeetingID , 'Pass')" class="dropdown-item btn-none color-success" ><i class="fa fa-check-circle-o" aria-hidden="true" ></i>&nbsp; Pass</button>
                                          <button (click)="onTerminate(p?.probationaryMeetingID , 'Termination',p?.userID?.userID)" class="dropdown-item btn-none color-danger" ><i class="fa fa-ban" aria-hidden="true"></i>&nbsp; Terminate</button> -->
                                            <!-- <button (click)="saveProbationAction(p?.probationaryMeetingID , 'Termination')" class="dropdown-item btn-none color-danger" ><i class="fa fa-ban" aria-hidden="true"></i>&nbsp; Terminate</button>  -->
                                            <button *ngIf="p?.status != 'Cancelled'" (click)="cancelProbationaryMeating(p)" class="dropdown-item btn-none color-danger"><i class="fa fa-ban" aria-hidden="true"></i>&nbsp; Cancel</button>
                                            <button (click)="deleteProbationaryMeating(p)" class="dropdown-item btn-none color-danger"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!probationList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>