.box {
    background: #f5f5f5;
    padding: 0 15px 30px;
    .trophy-img {
        padding: 12px;
        border: 1px solid #d4d4d4;
        border-radius: 50%;
        display: inline-block;
        background: #fff;
    }
}

.tlentle {
    padding: 0 15px;
}

.trophy-img {
    padding: 2px !important;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
    display: inline-block;
    background: #fff;
    .trophyClr {
        height: 82px;
        width: 82px;
        img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}