<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee/trophy']">Trophy list</a></li>
        <li class="breadcrumb-item active">Employee voting</li>
    </ol>
    <div class="cmpnycontentBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="box">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="heading">Trophy details</h5>
                        <div class="row">
                            <div class="col-xl-4 col-6 form-group"><b>Title</b></div>
                            <div class="col-xl-8 col-6 form-group">{{trophy?.title}}</div>
                            <div class="col-xl-4 col-6 form-group"><b>Award for</b></div>
                            <div class="col-xl-8 col-6 form-group">{{trophy?.awardFor}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br><br>
                        <figure class="trophy-img">
                            <div class="trophyClr">
                                <i class="fa fa-trophy"></i>
                                <img [src]="trophy.icon" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
            <br>
            <div class="box">
                <br>
                <form #trophyForm="ngForm" name="trophyForm" (submit)="trophyForm.valid && submitVote()">
                    <div class="row">
                        <!-- <div class="col-sm-2 form-group"><label class="form-inline">Title</label></div> -->
                        <!-- <div class="col-sm-9 form-group"><input class="form-control" placeholder="text" [(ngModel)]="vote.title" name="title" #titleq="ngModel" required/>
            <div class="color-danger" *ngIf="titleq.dirty|| titleq.tuched || trophyForm.submitted">
              <b [hidden]="titleq.valid">Please enter a title.</b>
            </div>

          </div>  -->
                        <div class="col-sm-2 form-group"><label class="form-inline">Reason</label></div>
                        <div class="col-sm-9 form-group"><input class="form-control" placeholder="text" [(ngModel)]="vote.reason" name="reason" #reasonq="ngModel" required/>
                            <div class="alert alert-danger" *ngIf="reasonq.dirty || reasonq.touched || trophyForm.submitted">
                                <span [hidden]="reasonq.valid">Please enter a reason.</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="tlentle">
                        <div class="row">
                            <div class="tableWrapper full-width">
                                <md-progress-spinner *ngIf="isProcessingEmp" mode="indeterminate" color=""></md-progress-spinner>
                                <table *ngIf="!isProcessingEmp" class="table">
                                    <thead>
                                        <th class="text-center">S.no.</th>
                                        <th class="text-center">Employee name</th>
                                        <th class="text-center">Position</th>
                                        <th class="text-center">Vote</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let emp of trophy?.nominatedUserIDs;let i=index;">
                                            <td class="text-center">{{i+1}}</td>
                                            <td class="text-center">{{emp?.NominieeMember?.name}}</td>
                                            <td class="text-center">{{emp?.NominieeMember?.position || 'Not Specified'}}</td>
                                            <td class="text-center"><i class="fa fa-thumbs-up" [ngClass]="{'color-success': vote.nomineeID == emp.nomineeID}" (click)="onVote(emp)" style="font-size: 30px;"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="color-danger" *ngIf="vote.nomineeID =='' && trophyForm.submitted">
                                    <b>Please select a vote.</b>
                                </div>
                            </div>

                            <div class="buttonWrap text-center full-width">
                                <button *ngIf="!isProcessingVote" class="btn btn-primary btn-lg">Submit</button>
                                <md-progress-spinner *ngIf="isProcessingVote" mode="indeterminate" color=""></md-progress-spinner>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>