.cvsReport{
    text-align:center;
    i{
        color:#4cdaaa;
        font-size:24px;
        cursor:pointer;
    }
    .iconTitle{
            font-weight: 400;
            font-size: 13px;
            position: relative;
            top: 0px;
            cursor:pointer;
    }
}
.filter-wrapp {
    &.box{
        margin-bottom:0px;
    }
.filterItems {
    overflow-y: visible; 
}
}
.topFilter{
    @media (max-width:479px){
        width:100%;
    }
}
.cvsReport {
    @media (max-width:479px){
        margin-bottom:10px;
    }
}