<div class="container-fluid chapter">
    <article class="article">
        <h2 _ngcontent-c14="" class="article-title">List of companies</h2>
        <div class="cmpnycontentBox">
            <div class="searchbar row">
                <div class="input-group col-lg-10 col-md-9">
                    <input class="form-control" id="inlineFormInputGroup" placeholder="Search" type="text" (keyup)="onFilter()" [(ngModel)]="searchText">
                    <div class="input-group-addon">
                        <md-icon>search</md-icon>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button class="btn btn-filter text-left" (click)="toggleBtn=!toggleBtn">Filter <i class="pull-right fa" [ngClass]="toggleBtn?'fa-angle-up':'fa-angle-down'"></i></button>
                </div>
            </div>
            <div class="box box-default companyMain paddingBox" *ngIf="toggleBtn">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="filterTitle">Last login</h5>
                        <div class="input-group">
                            <input class="form-control" placeholder="Last Login" type="text" [(ngModel)]="searchLastLoginType">
                            <div class="input-group-addon">
                                <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                            </div>
                        </div>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let login of lastLogin|search:searchLastLoginType;let i=index">
                                    <md-checkbox name="lastLoginType_{{i}}" (change)="onFilter()" [(ngModel)]="filters.lastLogin[login]"> {{(login!=150)?login+'+ days':'More'}} </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <h5 class="filterTitle">Registration</h5>
                        <div class="filterItems">
                            <ul>
                                <li>
                                    <md-checkbox name="registrationType" (change)="onFilter()" [(ngModel)]="filters.registration.new"> New registration</md-checkbox>
                                </li>

                            </ul>
                        </div>
                    </div>


                    <!-- <div class="col-md-3">
                        <h5 class="filterTitle">Company type</h5>
                        <div class="input-group">
                            <input class="form-control" placeholder="Company Type" type="text" [(ngModel)]="searchCompanyType">
                            <div class="input-group-addon">
                                <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                            </div>
                        </div>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let type of companyType|search:searchCompanyType;let i=index">
                                    <md-checkbox name="companyType_{{i}}" (change)="onFilter()" [(ngModel)]="filters.companyType[type]"> {{(type=='company')?'Company':'Sub company'}} </md-checkbox>
                                </li>
                                
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-md-2 col-sm-6">
                        <h5> Status </h5>
                        <ul>
                            <li *ngFor="let state of status;let i=index">
                                <md-checkbox name="statusType_{{i}}" (change)="onFilter()" [(ngModel)]="filters.status[state]"> {{state}} </md-checkbox>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <!--<h2 class="article-title">Companies</h2>-->
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table" [mfData]="companies |status:filterArray|multi:filters" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <!--<th>S.no</th>-->
                            <th>Company ID</th>
                            <th>Country</th>
                            <th>Logo</th>
                            <th>Company name</th>
                            <th>Admin name</th>
                            <th>Email ID</th>
                            <th>Phone number</th>
                            <th>Company type</th>
                            <th>Company website</th>
                            <th>Employee count</th>
                            <th>Status</th>
                            <th>Last login</th>
                            <!-- <th>Company</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data; let i = index; " (click)="onClick(item.companyID)" style="cursor:pointer">
                            <!--<td>{{i+1}}</td>    -->
                            <td>{{item?.companyID}}</td>
                            <td>{{item?.countryName}}</td>
                            <td><img width="120" src="{{item?.logo}}" alt="Logo" /></td>
                            <td>{{item?.name}}</td>
                            <td>{{item?.companyAdmin}}</td>
                            <td>{{item?.adminEmail}}</td>
                            <td>{{item?.companyContactNumber}}</td>
                            <td>{{item?.type}}</td>
                            <td>{{item?.website}}</td>
                            <td>{{item?.employeeCount}}</td>
                            <td>{{item?.status}}</td>
                            <td>{{item?.lastLogin}}</td>
                            <!-- <td>{{item?.company}}</td> -->

                        </tr>
                        <tr style="background-color:danger;" *ngIf="companies.length==0">
                            <td class="alert alert-danger" colspan="12" align="center" id="textCenter">No record found</td>
                        </tr>


                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </article>
</div>