.companyMain{
    md-radio-group{
        .space{
            line-height:10px;
        }
        md-radio-button{
            display:block;
        }
    }
}
.mdl-data-table{ 
    td{
        &:last-child {
           width: initial;
       }
    }
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

.btn-filter{
    font-size:15px;
    width:100%;
    height: 39px;
}