<div *ngIf="!result.disciplinaryActionID" class="container-fluid">
    <h5> {{result?.type}} letter</h5>
    <p> {{result?.subject}}</p>
    <p style="max-height: 300px;" [innerHTML]="result.body"></p>
    <p> {{result?.inserTime}}</p>
</div>

<div *ngIf="result.disciplinaryActionID" class="container-fluid">

    <div style="max-height: 400px;" class="row">
        <div class="col-md-12 PIPmainBox">
            <div>
                <div class="pipHeader">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h3 class="heading">Disciplinary meeting</h3>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Employee:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{disciplinaryMeeting?.employee.imageUrl}}" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{disciplinaryMeeting?.employee.name}}</h5>
                                        <div class="designation">{{disciplinaryMeeting?.employee.position}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Manager/owner:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{disciplinaryMeeting?.manager.imageUrl}}" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{disciplinaryMeeting?.manager.name}}</h5>
                                        <div class="designation">{{disciplinaryMeeting?.manager.position}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="PIPFormbox">
                    <form>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Tltle</label>
                                </div>
                                <div class="rghtinput10">
                                    {{disciplinaryMeeting?.title}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    {{disciplinaryMeeting?.reason}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Date</label>
                                </div>
                                <div class="rghtinput10">
                                    {{disciplinaryMeeting?.meetingTime| dateFormat}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Attendees</label>
                                </div>
                                <div class="rghtinput10 pipHeader">
                                    <div class="pipEmploye attendeesList">
                                        <div class="pipEmpuserPic" *ngFor="let d of disciplinaryMeeting.thirdParty">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{d?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{d?.name}}</h5>
                                                <div class="designation">{{d?.position}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="(disciplinaryMeeting.statements.Employee.length || disciplinaryMeeting.statements.Manager.length || disciplinaryMeeting.statements.ThirdParty.length)" class="cmpnycontentBox last">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="heading">Statements</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="statementsBox">
                            <form>
                                <div class="row">
                                    <!--****************************************************** STATEMENT from EMPLOYEE ******************************************************************************-->
                                    <div *ngIf='disciplinaryMeeting.statements.Employee.length' class=" col-sm-12 form-group PIPmainBox">
                                        <div class="box">
                                            <h6 class="heading">Statement from employee</h6>
                                            <table>
                                                <tr *ngFor="let s of disciplinaryMeeting.statements.Employee">
                                                    <td class="white-space-pre">{{s?.disciplinaryStatement}}</td>
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{s?.userDetails?.imageUrl}}" height="40px" width="40px" /></div>
                                                            <div class="d-flex align-self-center  media-right">{{s?.userDetails?.name}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!--****************************************************** STATEMENT from MANAGER ******************************************************************************-->
                                    <div *ngIf='disciplinaryMeeting.statements.Manager.length' class=" col-sm-12 form-group PIPmainBox">
                                        <div class="box">
                                            <h6 class="heading">Statement from manager</h6>
                                            <table>
                                                <tr *ngFor="let s of disciplinaryMeeting.statements.Manager">
                                                    <td class="white-space-pre">{{s?.disciplinaryStatement}}</td>
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{s?.userDetails?.imageUrl}}" height="40px" width="40px" /></div>
                                                            <div class="d-flex align-self-center  media-right">{{s?.userDetails?.name}}</div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!--****************************************************** STATEMENT from THIRDPARTY ******************************************************************************-->
                                    <div *ngIf='disciplinaryMeeting.statements.ThirdParty.length' class=" col-sm-12 form-group PIPmainBox">
                                        <div class="box">
                                            <h6 class="heading">Statement from thirdparty</h6>
                                            <table>
                                                <tr *ngFor="let s of disciplinaryMeeting.statements.ThirdParty">
                                                    <td class="white-space-pre">{{s?.disciplinaryStatement}}</td>
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" src="{{s?.userDetails?.imageUrl}}" height="40px" width="40px" /></div>
                                                            <div class="d-flex align-self-center  media-right">{{s?.userDetails?.name}}</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>




                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="disciplinaryMeeting.status == 'Complete'" class="cmpnycontentBox last">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="heading">Result</h4>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline" style="margin:0px 0px;">Result</label>
                        </div>
                        <div class="rghtinput10">
                            {{disciplinaryMeeting?.result}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>