 h3{
        font-size:22px;
      }
      .form-group label{
        font-size: 15px;
        color: #4b4c4d;
        max-width: 600px;
        width: 100%;
        padding-right: 18px;
        font-family: inherit;
        display: block;
        padding-right: 12px;
      }
      .form-group input{
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #464a4c;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.2rem;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      }
      .form-group textarea{
         display: block;
         width: 100%;
         border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.2rem;
        transition: border-color ease-in-out 0
      }
      .uploadBtn{
        float:left;
        width:100%;
      }
      .uploadBtn .btn-primary{
          padding:6px;
          float:left;
          width:100%;
          position:relative;
      }
      .uploadBtn input[type="file"]{
          width: 100%;
          position: absolute;
          float: left;
          height: 100%;
          left: 0;
          top: 0;
          opacity: 0;
        }
      .uploadBtn label {
          display: none;
      }