 <h3>Upload document</h3>
      <form name="docForm" #docForm="ngForm" (ngSubmit)="doc.edsFile && docForm.valid && upload()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" *ngIf="doc?.title" readonly name="title" #title="ngModel" [(ngModel)]="doc.title" placeholder="Title ie. Driver's Licence" required/>
          <!-- <input type="text" *ngIf="!doc?.title" name="title" #title="ngModel" [(ngModel)]="doc.title" placeholder="Title ie. Driver's Licence" required/>           -->
          <div *ngIf="title?.dirty || docForm.submitted">
              <div class="color-danger" [hidden]="title?.valid"> Please enter the title. </div>
          </div>
        </div>
        <div>
        <div class="form-group">
          <label>Description</label>
          
          <textarea type="text" placeholder="Description" rows="4" name="description" #description="ngModel" [(ngModel)]="doc.desc" required></textarea>
          <div *ngIf="description.dirty || description.touched || docForm.submitted">
              <div class="color-danger" [hidden]="description.valid"> Please enter the description. </div>
          </div>
        </div>
        </div>
 
        <div>
        <div class="form-group">
          <label>Expiry</label>
          <dp-date-picker class="form-control" name="expbiryDate" #expiryDate="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="licExpiry" [config]="config" placeholder="Choose a date"></dp-date-picker>
        </div>
      </div>

        <div>
        <div class="uploadBtn">
          <label>{{fileName}}</label>
          <input style="display:none;" id="uploadFL" type="file" accept=".doc,.docx,.pdf,image/png,image/jpg,image/jpeg" name="doc" (change)="handleFileSelect($event)" />
          <label style="display:block;" for="uploadFL" class="btn btn-lg btn-primary">
            Upload document
          </label>
          </div>
          <strong>{{doc.edsFile}}</strong>
          <p>Select file (JPEG, PNG, PDF or DOC files) </p>
         <div *ngIf="!doc.edsFile && docForm.submitted">
              <div class="color-danger"> Please select a document. </div>
          </div>
        </div>
        <md-progress-spinner *ngIf="isProcessingImg" mode="indeterminate" color=""></md-progress-spinner>
        <button  [disabled]='!doc.edsFile' *ngIf="!isProcessingImg" type="submit" class="btn btn-primary">Submit</button>
      </form>