<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="[(role != 'companyContractor')?'/app/employee':'/app/sub-contractor']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item" [routerLink]="[(role != 'companyContractor')?'/app/employee/contracts':'/app/sub-contractor/contracts']">Contracts</li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </div>
        <div *ngIf="!isProcessing" class="col-md-12 text-right statusBtn labelStats">
            <!--<label class="statsInfo">last updated on {{contract?.updateTime| dateFormat}}</label>-->
            <button *ngIf="!contract.employeeStatus" (click)="onViewChangedLog()" class="btn btn-primary">View changed logs</button>
            <!-- <button *ngIf="role == 'companyContractor'" (click)="onViewVersions()" class="btn btn-primary">View all versions</button> -->
            <label *ngIf="role != 'companyContractor'" class="statsInfo">Version {{contract?.version}}</label>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div class="row" *ngIf="!isProcessing">
        <div class="col-sm-12">
            <section id="printBox" class="note-preview cmpnycontentBox">
                <div class="headerBox">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="logo"><img [src]="companyLogo" /></div>
                        </div>
                        <div class="col-md-6">
                            <!--<div class="companyDtl">Joe office supplies <span class="date"></span>19/01/2016</div>-->
                        </div>
                    </div>
                </div>
                <div class="headingDiv">
                    <h4 class="heading">{{contract?.title}}</h4>
                    <p class="white-space-pre" [innerHTML]="contract.description"> </p>
                </div>
                <div *ngFor="let s of contract.contractSubjects" class="content">
                    <h6 class="heading">{{s?.title}}</h6>
                    <p class="white-space-pre" [innerHTML]="s.description"> </p>
                </div>
                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isActionProcessing && contract.employeeStatus=='Pending'" class="footerDiv buttonWrap text-center" style="padding-bottom: 20px;">
                    <button (click)="onAccept()" class="btn btn-primary">I accept this contract completely</button>
                    <button (click)="onRejectContract()" class="btn btn-default">Reject with a note</button>
                </div>  
                <div class="contentFooter">Copyright &copy; Happy HR</div>
                
            </section>
        </div>
    </div>
</div>