.filterController button.btn.btn-default{bottom:15px;}
.btn-special{color:#fff;}
.dropdown-menu{
 min-width:100%;
}
.tableWrapper table{min-width:1182px;}
.dropdown-menu a{border-bottom:1px solid #d4d4d4;}
.dropdown-menu a:last-child{border-bottom:0;}