<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/performance-appraisal-listing']">Performance appraisal</a></li>
                    <li class="breadcrumb-item active">Assessment done by employee</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="cmpnycontentBox">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="noResult && !isProcessing" class="row text-center">No result found.</div>
            <div *ngIf="!noResult && !isProcessing" class="row PIPmainBox">
                <div class="col-sm-12 pipHeader">
                    <div class="row">
                        <div class="col-lg 6 col-md-4">
                            <h3 class="heading">Performance appraisal</h3>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye">
                                <div class="title">Assigned manager</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img class="img-circle" height="40px" [src]="pa?.managerID?.imageUrl" width="40px"></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.managerID?.name}}</h5>
                                        <div class="designation">{{pa?.managerID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye">
                                <div class="title">Assigned to</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img class="img-circle" height="40px" [src]="pa?.userID?.imageUrl" width="40px"></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.userID?.name}}</h5>
                                        <div class="designation">{{pa?.userID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <br>
                <div class="col-sm-12">
                    <br>
                    <br>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Answers to performance indicators<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                            <div class="box" *ngFor="let pi of pa?.performanceIndicator">
                                <ul class="indicator">
                                    <li class="lftside">
                                        <h6>Performance indicator</h6>
                                        <label>{{pi?.title}}</label>
                                    </li>
                                    <li class="rghtside">
                                        <h6>Measurement performance indicator</h6>
                                        <label>{{pi?.measure}}</label>
                                    </li>
                                </ul>

                                <h5 class="heading">
                                    Employee self assessment of performance indicator
                                    <!-- <button class="pull-right btn btn-default">Edit</button> -->
                                </h5>
                                <p>{{pi?.response || 'Not specified'}}</p>
                                <!-- <div class="buttonWrap text-right">
                  <button class="btn btn-primary">Submit</button>
                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">Answers to survey questions<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox">
                            <div class="box addIndicator" *ngFor="let qsn of pa?.question">
                                <h5 class="heading">{{qsn?.questionTitle}}</h5>
                                <p>{{qsn?.response || 'Not specified'}}</p>
                                <!-- <textarea class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus sem sit amet erat ultricies imperdiet. Ut sed imperdiet nulla, sed finibus velit. Proin pellentesque metus ut sagittis tempor. Nullam elementum pellentesque tellus sit amet faucibus. Etiam pulvinar nulla quis erat porta, et volutpat magna faucibus. Pellentesque eleifend lacus at leo tincidunt convallis. Nam volutpat blandit nisi nec vehicula. Donec ligula ipsum, feugiat non diam sed, ornare pulvinar eros. Donec lobortis pellentesque laoreet. Curabitur accumsan semper consectetur."></textarea>
                <div class="buttonWrap text-right">
                  <button class="btn btn-primary">Save</button>
                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse2']=!collapse['personalinfoCollapse2']" [ngClass]="{active:!collapse['personalinfoCollapse2']}">Date for up comming assessment<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse2']}" class="collapseContentbox">
                            <!-- <h6 class="heading">Date performance appraisal <span class="tag"> 22 March 2017</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Meeting Time:
                <span class="tag">22:00</span> </h6> -->
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin:0px 0px;">Date & time of performance of performance appraisal</label>
                                </div>
                                <div class="rghtinput10">
                                    {{formatDate(pa?.assessmentDate)}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin:0px 0px;">Attendes</label>
                                </div>
                                <div class="rghtinput10">
                                    <p *ngIf="!pa?.thirdParty.length">Not specified</p>
                                    <div style="display: flex;" *ngFor="let user of pa?.thirdParty">
                                        <div *ngIf="user?.userID && user?.nextThirdParty=='No'" class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" height="40px" [src]="user?.userID?.imageUrl" width="40px">
                                        </div>
                                        <div *ngIf="user?.userID && user?.nextThirdParty=='No'" class="align-self-center  media-right text-left">
                                            {{user?.userID?.name}}
                                            <span class="tag">{{user?.userID?.position || 'Not specified'}}</span>
                                        </div>
                                        <div *ngIf="!user?.userID && user?.nextThirdParty=='No'" class="align-self-center  media-right text-left">
                                            {{user?.email}}
                                            <!-- <span class="tag">{{user?.userID?.position || 'Not specified'}}</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary btn-lg" [routerLink]="['/app/company-admin/performance-appraisal/assessment-by-manager', pa?.performaceAppraisalID]">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>