<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">perfomance indicator</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="cmpnycontentBox">
        <div class="EmpHeader">
          <div class="row">
            <div class="col-md-6 col-xl-10  col-lg-8">
              <div class="empSrearch topSearchFilter">
                <form name="searchForm">
                  <div id="custom-search-input">
                    <form>
                      <div class="input-group">
                        <input type="text" name="searchKey" class="form-control" placeholder="Search by trophy title"
                          required>
                        <span class="input-group-btn">
                          <button class="btn" type="submit">
                              <i class="fa fa-search"></i>
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6  col-xl-2 col-lg-4 col-sm-6">
              <div class="InviteUser">
                <div class="form-group text-right">
                  <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filter<span class="fa fa-angle-down pull-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="toggleFilter">
          <div class="col-sm-12">
            <!--custome filter pop up-->
            <div class="filterController row">
              <div class="col-sm-12">
                <h3 class="title">Status</h3>
                <ul class="checkbox over250">
                  <li><label><input type="checkbox"><span>Pending</span></label></li>
                  <li><label><input type="checkbox"><span>Voted</span></label></li>
                </ul>
                <button style="position: inherit; min-width: 120px;height: 43px;font-size: 15px;"
                  class="btn pull-right btn-lg outlined btn-filter">Apply filter <i class="fa fa-check"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
        <div class="tableWrapper">
          <table class="full-width table">
            <thead>
              <th>Title &nbsp;<i class="fa fa-sort"></i></th>
              <th style="width:300px;">Perfomance indicator &nbsp;<i class="fa fa-sort"></i></th>
              <th style="width:300px;">Measurement of perfomance &nbsp;<i class="fa fa-sort"></i></th>
              <th style="width:160px;">Assessment date &nbsp;<i class="fa fa-sort"></i></th>
              <th style="width:160px;">Status</th>
            </thead>
            <tbody>
              <tr>
                <td>PIP title</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>22nd March 2017</td>
                <td>
                  Current
                </td>
              </tr>
               <tr>
                <td>PIP title</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>22nd March 2017</td>
                <td>
                  Past
                </td>
              </tr>
               <tr>
                <td>PIP title</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
                <td>22nd March 2017</td>
                <td>
                  Assessed
                </td>
              </tr>
            </tbody>
          </table>         
        </div>
         <div class="text-center">
            <span class="alert alert-warning full-width"> No result found. </span>
          </div>
      </div>
    </div>
  </div>
</div>