.account-settings {
    padding: 0 20px 20px;
}

.accsettingbox {
    .form-group {
        margin-bottom: 0px !important;
        .form-inline {
            margin: 0px 0px;
        }
    }
}

.cmpnycontentBox {
    .box {
        h5 {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}