<div class="account-settings">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/app/company-admin']">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">Account settings</li>
    </ol>
    <ul class="cmpnycontentBox">
        <div class="text-right">
            <md-progress-spinner *ngIf="isExportProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <button *ngIf="!isExportProcessing" style="margin-bottom: 15px;" (click)="onExport()" class="btn btn-primary">Export <i class="fa fa-external-link" aria-hidden="true"></i></button>
        </div>
        <div class="box">
            <h5>Change/Update password</h5>
            <form #ngaccntForm="ngForm" name="user">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Old/Current password</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="password" class="form-control" required name="oldPassword" [(ngModel)]="user.oldPassword" #oldPassword="ngModel" />
                            <div *ngIf="oldPassword.dirty || oldPassword.touched || ngaccntForm.submitted">
                                <span class="alert alert-danger" [hidden]="oldPassword.valid">Please enter your password.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">New password</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="password" class="form-control" required name="nwpassword" [(ngModel)]="user.newPassword" #nwpassword="ngModel">
                            <div *ngIf="nwpassword.dirty || nwpassword.touched || ngaccntForm.submitted">
                                <span class="alert alert-danger" [hidden]="nwpassword.valid">Please enter your new password.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Confirm password</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="password" class="form-control" required name="cpassword" [(ngModel)]="user.confirmPassword" #cpassword="ngModel">
                            <div *ngIf="cpassword.dirty || cpassword.touched || ngaccntForm.submitted">
                                <span class="alert alert-danger" *ngIf="!cpassword.valid">Please confirm your password.</span>
                                <span class="alert alert-danger" *ngIf="cpassword.valid && ngaccntForm.submitted && (user.newPassword != user.confirmPassword)">Password not match.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline"></label>
                        </div>
                        <div class="rghtinput10 text-right" style="max-width:600px;">
                            <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isProcessingForm" class="btn btn-success btn-lg" (click)="changePassword()">Save &nbsp;
                                <i class="fa fa-lock"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="box accsettingbox">
            <h5>Account details </h5>
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="row">
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Subscription plan</label>
                    </div>
                    <div class="rghtinput10">
                        {{subscription?.plan}}
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Cost</label>
                    </div>
                    <div class="rghtinput10">
                        {{subscription?.cost}}
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Renewal</label>
                    </div>
                    <div class="rghtinput10">
                        {{formatDate(subscription?.renewal)}}
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>