.btnWrap {
    max-height: 700px;
    .text-center {
        max-width: 500px !important;
    }
    .latterBody {
        width: 800px;
        height: 500px;
        overflow: auto;
    }
}

.btn {
    margin-bottom: 13px;
}

@media screen and (max-width:767px) {
    .btn-lg {
        height: 30px;
        line-height: 9px;
        font-size: 15px;
    }
}

.cuppa-dropdown {
    max-width: inherit !important;
}

.moveToNewPos .list-area ul {
    max-height: 330px !important;
}