<div class="btnWrap">
  <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
  <div class="text-center" *ngIf="displayType == 'action' && !isProcessing " style="min-height:400px;max-height:700px;">
      <h4>List of actions</h4>
      <!-- <button class="btn btn-danger full-width btn-lg" *ngIf="!isManager && ( is('isAtInvitation') || is('isAtInduction') ) " (click)="getLetter('terminate')">Rescind offer</button>
      <button class="btn btn-primary full-width btn-lg" *ngIf="!isManager && is('isAtInduction') " (click)="reminder()">Send reminder</button>
      <button class="btn btn-primary full-width btn-lg" *ngIf="!isManager && is('isAtInvitation')" (click)="resendOffer()">Resend offer</button> -->
      <button class="btn btn-danger full-width btn-lg"  (click)="getLetter('terminate')">Terminate</button>
      <!-- <button class="btn btn-danger full-width btn-lg" *ngIf="!isManager && is('employee')" (click)="getLetter('redundant')">Make redundant</button> -->
      <button class="btn btn-danger full-width btn-lg"  (click)="getLetter('left')">Left on their own accord</button>
      <!-- <button class="btn btn-primary full-width btn-lg"  (click)="getSubRole()">Assign/Remove sub role</button> -->
      <button class="btn btn-primary full-width btn-lg"  (click)="getRoles()">Add user access role</button>
      <button class="btn btn-warning full-width btn-lg"  (click)="remove('role')">Remove user access role</button>
      <button class="btn btn-primary full-width btn-lg"  (click)="toggleAssignManager(true)">Assign as manager</button> 
      <button class="btn btn-warning full-width btn-lg"  (click)="toggleAssignManager(false)">Un assign as manager</button>
      <button class="btn btn-success full-width btn-lg"  (click)="getPositionList('addPosition')">Add new position</button>
      <!-- <button class="btn btn-warning full-width btn-lg" *ngIf="is('isEmplyeeUnassigned')" (click)="remove('position')">Remove position</button>
      <button class="btn btn-danger full-width btn-lg" *ngIf="is('isContractorUnassigned')" (click)="remove('contractor')">Remove contractor</button>
      <button class="btn btn-primary full-width btn-lg" *ngIf="!isManager && is('employee')" (click)="getPositionList('reAssign')">Re-assign to a new position</button> -->
      <button class="btn btn-primary full-width btn-lg"  (click)="getPositions()">Move to new position</button>
      <button class="btn btn-success full-width btn-lg"  (click)="addDepartment('addDepartment')">Add department</button>
      <!-- <button class="btn btn-primary full-width btn-lg" *ngIf="!isManager && is('Department')" (click)="addDepartment('editDepartment')">Edit department</button>
      <button class="btn btn-warning full-width btn-lg" *ngIf="!isManager && is('Department')" (click)="remove('department')">Remove department</button> -->
      <button class="btn btn-success full-width btn-lg"  (click)="addSubCompany('addSubCompany')">Add sub company</button>
      <button class="btn btn-success full-width btn-lg"  (click)="addSubContractor('addSubContractor')">Add sub contractor</button>
      <!-- <button class="btn btn-success full-width btn-lg" *ngIf="is('isContractorUnassigned')" (click)="inviteSubContractor()">Invite sub contractor</button> -->
      <!-- <button class="btn btn-success full-width btn-lg" *ngIf="is('SubCompany')" (click)="inviteSubCompany()">Invite sub company</button>
      <button class="btn btn-warning full-width btn-lg" *ngIf="is('SubCompany')" (click)="remove('subCompany')">Remove sub company</button>
      <button class="btn btn-success full-width btn-lg" *ngIf="is('isEmplyeeUnassigned') " (click)="inviteEmployee()" [disabled]="isInviteClicked">Invite employee</button> -->
      
  </div>

  <!-- TERMINATE  -->
  <div *ngIf="displayType == 'letter' && !isProcessing" class="latterBody">
      <h4>{{letter?.subject}}</h4>
      <!--<div [innerHTML]="letter?.body"></div>-->
      <div *ngIf="letter">
          <quill-editor class="form-control" style="height: inherit; max-width: inherit;" name="tLetter" #terLetter="ngModel" [(ngModel)]="letter.body" required></quill-editor>
          <div *ngIf="terLetter.dirty || terLetter.touched">
              <div class="color-danger" [hidden]="terLetter.valid">Field required.</div>
          </div>
      </div>
      <md-progress-spinner *ngIf="isSending" mode="indeterminate" color=""></md-progress-spinner>
      <div *ngIf="!isSending" class="text-center" style="max-width: inherit !important;">
          <button [disabled]="!letter || !letter?.body" class="btn btn-primary btn-lg" (click)="sendLetter()">Send</button>
          <button class="btn btn-default btn-lg" (click)="cancel()">Cancel</button>
      </div>
  </div>

  <!-- ADD POSITION  -->
  <div *ngIf="displayType == 'addPosition' && !isProcessing" style="width: 500px">
      <h4>Add position</h4>
      <div *ngFor="let position of positionList" style="display: inline-block; margin-right: 10px;">
          <button class="btn btn-primary btn-lg" (click)="addPosition(position)">{{position?.title}}</button>
      </div>
  </div>

  <!-- RE-ASSIGN POSITION  -->
  <div *ngIf="displayType == 'reAssign' && !isProcessing" style="width: 500px">
      <h4>Re-assign to a new position</h4>
      <div *ngFor="let position of positionList" style="display: inline-block; margin-right: 10px;">
          <button class="btn btn-primary btn-lg" (click)="reAssignPosition(position)">{{position?.title}}</button>
      </div>
  </div>

  <!-- MOVE TO NEW POSITION  -->
  <div *ngIf="displayType == 'movePosition' && !isProcessing" style="width: 500px; height:500px;" class="moveToNewPos">
      <h4>Move to new position</h4>
      <angular2-multiselect [data]="positions" [settings]="dropdownSettings" [selectedItems]="selectedPosition" [(ngModel)]="selectedPosition" (onSelect)="movePosition()" required>
      </angular2-multiselect>
      <!-- <div style="display: inline-block; margin-top: 20px;">
          <button class="btn btn-primary btn-lg" (click)="selectedPosition.length && movePosition()">Submit</button>
      </div> -->
  </div>

  <!-- ADD / EDIT DEPARTMENT  -->
  <div class="text-center" *ngIf="(displayType == 'addDepartment' || displayType == 'editDepartment') && !isProcessing" style="width: 500px">
      <form class="form-group" name="departmentForm" #departmentForm="ngForm" (ngSubmit)="departmentForm.valid && onAddDepartment()">
          <h4>{{displayType== 'addDepartment'? 'Add':'Edit'}} department</h4>
          <input type="text" name="title" #title="ngModel" class="form-control" placeholder="Title" [(ngModel)]="departmentTitle" required>
          <div *ngIf="title.dirty || title.touched || departmentForm.submitted">
              <div class="alert alert-danger" [hidden]="title.valid">Please enter a title.</div>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 20px;">Save</button>
          </div>
      </form>
  </div>

  <!-- ADD USER ACCESS ROLE  -->
  <div class="text-center" *ngIf="displayType == 'role' && !isProcessing" style="width: 500px">
      <h4>Add user access role</h4>
      <div *ngFor="let role of roles" style="display: inline-block; margin-right: 10px;">
          <button class="btn btn-lg" [ngClass]="(userData?.role && userData?.role?.roleID== role?.companyRoleID)? 'btn-success':'btn-default'" (click)="assignRole(role)">{{role?.title}}</button>
      </div>
  </div>

  <!-- ASSIGN / REMOVE SUBROLE  -->
  <div class="text-center" *ngIf="displayType == 'subRole' && !isProcessing" style="width: 500px">
      <h4>Assign/Remove sub roles</h4>
      <div *ngFor="let role of subRoleList" style="display: inline-block; margin-right: 10px;">
          <button class="btn btn-lg" [ngClass]="{'btn-default': !userData?.subRole[role.key],'btn-success': userData?.subRole[role.key]}" (click)="userData?.subRole[role.key]=!userData?.subRole[role.key];">{{role?.title}}</button>
      </div>
      <div style="margin-top: 20px;">
          <button class="btn btn-primary btn-lg" (click)="assignSubRole()">Submit</button>
      </div>
  </div>

  <!-- REMOVE CONFIRMATION 1 -->
  <div class="text-center" *ngIf="displayType == 'remove1' && !isProcessing" style="width: 500px">
      <h5>Are you sure you want to remove?</h5>
      <div style="margin-top: 20px;">
          <button class="btn btn-primary" (click)="displayType='remove2'">Yes</button>
          <button class="btn btn-default" (click)="dialogRef.close(false)">No</button>
      </div>
  </div>

  <!-- REMOVE CONFIRMATION 2 -->
  <div class="text-center" *ngIf="displayType == 'remove2' && !isProcessing" style="width: 500px">
      <h5>If you do it can't be undone.</h5>
      <div style="margin-top: 20px;">
          <button class="btn btn-primary" (click)="confirmRemove()">Remove</button>
          <button class="btn btn-default" (click)="dialogRef.close(false)">Cancel</button>
      </div>
  </div>
</div>