<!--View popup-->
<div class="leaveStatusView admin-panel">
        <md-progress-spinner *ngIf="isProcessingLeaveType" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="noData && !isProcessingLeaveType" class="alert alert-danger">
                    {{message}}  
            </div>
    <form name="leaveForm" #leaveForm="ngForm" *ngIf="leaveTypes.length > 0 && !noData" >
        <h3 class="heading">Apply leave</h3>
        <div *ngIf="role != 'companyContractor'" class="row">
            <div class="col-md-12">
              <code>  When applying for leave you must apply for leave by this example: 
If you are applying for leave for two weeks say from Monday to the following Sunday week (2 weeks), you must apply for leave from the Monday to the Friday, skip the weekend, then apply for a second week of leave again for the following Monday to Friday (2 leave applications). If the weekend is applied for it will be deducted as leave. In short - only apply for leave on days you would usually work.</code>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="title">Title</div>
            </div>
            <div class="col-sm-9">
                <div class="titleDtl">
                    <div class="form-group">
                        <input class="form-control" name="ltitle" #ltitle="ngModel" [(ngModel)]="leave.title" placeholder="Enter title here" type="text"
                            required>
                        <div *ngIf="ltitle.dirty || ltitle.touched || leaveForm.submitted">
                            <div class="alert alert-danger" [hidden]="ltitle.valid">
                                Please enter the title.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="role != 'companyContractor'" class="row">
            <div class="col-sm-3">
                <div class="title">Select leave type</div>
            </div>
            <div class="col-sm-9">
                <div class="titleDtl">
                    <md-progress-spinner *ngIf="isProcessingLeaveType" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="form-group" *ngIf="!isProcessingLeaveType">
                        <angular2-multiselect name="leaveType" #leaveType="ngModel" [data]="leaveTypes" [(ngModel)]="selectedLeaveType" [selectedItems]="selectedLeaveType"
                            [settings]="dropdownSettings" required></angular2-multiselect>
                        <div *ngIf="leaveType.dirty || leaveType.touched || leaveForm.submitted">
                            <div class="alert alert-danger" [hidden]="leaveType.valid">
                                Please select the leave type.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <div *ngIf="role == 'companyContractor'" class="row">
            <div class="col-sm-3">
                <div class="title">Leave Type </div>
            </div>
            <div class="col-sm-9">
                <div class="titleDtl">
                    <div class="form-group">
                       Subcontractor
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="title">Start date:</div>
            </div>
            <div class="col-sm-9">
                <div class="titleDtl">
                    <div class="form-group">
                        <dp-date-picker class="form-control" name="startDate" #startDate="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="leave.startDate"
                            [config]="config" [required]="true" placeholder="Start date"></dp-date-picker>
                        <div *ngIf="startDate.touched || leaveForm.submitted">
                            <div class="alert alert-danger" [hidden]="startDate.valid"> Please enter the start date. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="title">End date:</div>
            </div>
            <div class="col-sm-9">
                <div class="titleDtl">
                    <div class="form-group">
                        <dp-date-picker class="form-control" name="endDate" #endDate="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="leave.endDate"
                            [config]="config" [required]="true" placeholder="End date"></dp-date-picker>
                        <div *ngIf="endDate.touched || leaveForm.submitted">
                            <div class="alert alert-danger" *ngIf="!endDateErr && !endDate.valid"> Please enter the end date. </div>
                            <div class="alert alert-danger" *ngIf="endDateErr"> {{endDateErr}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="title">Comments:</div>
            </div>
            <div class="col-sm-9">
                <div class="titleDtl">
                    <div class="form-group">
                        <textarea class="form-control" name="comment" #comment="ngModel" [(ngModel)]="leave.comment" placeholder="Enter comment" required></textarea>
                        <div *ngIf="comment.dirty || comment.touched || leaveForm.submitted">
                            <div class="alert alert-danger" [hidden]="comment.valid">
                                Please enter the comment.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="row">
            <div class="form-group text-center full-width">
                <button (click)="leaveForm.valid && applyLeave()" class="btn btn-primary btn-lg">Request leave</button>
                <button type="button" (click)="cancel()" class="btn btn-default btn-lg">Cancel</button>
            </div>
        </div>
    </form>
</div>