.btn-bs-file{
     position:relative;
    }
    .btn-bs-file input[type="file"]{
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width:0;
        height:0;
        outline: none;
        cursor: inherit;
    }
.paddingBox{
    figure{
        width: 100px;
        height: 120px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        img{
            height: 100%;
            width: auto;
            margin: 0 auto;           
        }
    }
}
.profileBox .proPic {
    height: auto;
    max-width: 180px;    
    width: 100%;
}
.fileUpload{
    padding-top:20px;
}

@media screen and (max-width:767px){
    .profileBox{    
        margin-bottom:20px;
    }
    .profileBox .proPic {
        height: auto;
        max-width: 180px;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .userInfo {
        display: inline-block;
        width: auto;
        padding-left: 12px;
    }
    .contact-pic{
        margin-bottom:20px;
    }
}