<div class="container-fluid chapter">
  <article class="article innerAdmins">
    <div class="row">
      <div class="col-md-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
          <li class="breadcrumb-item" [routerLink]="['/app/employee/employee-profile']">Employee</li>
          <li class="breadcrumb-item active">profile</li>
        </ol>
      </div>
      <!-- <div class="col-md-6 pageHead">
        <div class="text-right btnwrapp">
          <button class=" btn btn-primary">Activity & Approval</button>
          <angular2-multiselect name="action" [data]="actionList" [(ngModel)]="selectedAction" [settings]="actionSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
          </angular2-multiselect>
        </div>

      </div> -->
    </div>
    <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="profileBox">
          <div class="proPic">
            <div class="adjust">
              <img alt="" src="assets/images/g1.jpg">
            </div>
          </div>
          <div class="userInfo">
            <div class="name">
              <h6>John Alanabaa</h6>
              <div class="designation">Software Developer</div>
            </div>
            <div class="inforow clearfix">
              <label>Employee since</label> <span class="values">12 March 2017</span>
            </div>
            <div class="inforow clearfix">
              <label>Status</label> <span class="values">Inactive</span>
            </div>
            <div class="inforow clearfix">
              <label>Last login</label> <span class="values">1 month ago</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-xs-12">
        <div class="row">
          <div class="col-md-12">
            <div class="collapseInfoBox">
              <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Personal information<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                <div class="paddingBox">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="listingRow clearfix">
                        <label>First name</label>
                        <span class="values">dsfsdds</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Last name</label>
                        <span class="values">asdasda</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Email id</label>
                        <span class="values">aassa@gmail.com</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Phone no.</label>
                        <span class="values">+91 02321290</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Street</label>
                        <span class="values">Jorsh Velly</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Postal code</label>
                        <span class="values">110067</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="listingRow clearfix">
                        <label>City</label>
                        <span class="values">Lake Town</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>State</label>
                        <span class="values">Britan</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>DOB</label>
                        <span class="values">12 march 1991</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Tax file no.</label>
                        <span class="values">asdads</span>
                      </div>
                      <div class="listingRow clearfix">
                        <label>Gender</label>
                        <span class="values">asdasdasd</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl2']=!collapse['pfl2']" [ngClass]="{active:!collapse['pfl2']}">Employment<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl2']}" class="collapseContentbox">
                <div class="paddingBox">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-6 col-lg-12">
                          <label class="form-inline">Employment type</label>
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-6 col-lg-12">
                          <label class="form-inline">Contract</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-4 col-lg-12">
                          <label class="form-inline">Salary</label>
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-8 col-lg-12">
                          <label class="form-inline">$10000</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-6 col-lg-12">
                          <label class="form-inline">Type</label>
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-6 col-lg-12">
                          <label class="form-inline">Hourly</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-6 col-lg-12">
                          <label class="form-inline">Contract start date</label>
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-6 col-lg-12">
                          <label class="form-inline">18 April 2016</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-4 col-lg-12">
                          <label class="form-inline">Contract end date</label>
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-8 col-lg-12">
                          <label class="form-inline">18 June 2016</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl3']=!collapse['pfl3']" [ngClass]="{active:!collapse['pfl3']}">Supperannuation<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl3']}" class="collapseContentbox">
                <div class="paddingBox">
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Fund name</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                           <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Fund membership no.</label>
                          </div>
                          <div class=" col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Fund type</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                           <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Super bank <br>account BSB</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Electronic service address</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Super bank account #</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Super bank account name</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl4']=!collapse['pfl4']" [ngClass]="{active:!collapse['pfl4']}">Banking details<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl4']}" class="collapseContentbox">
                <div class="paddingBox">
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline"> Bank name</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">BSB number</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Bank account name</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Account number</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            <label class="form-inline">Dummy Text</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl5']=!collapse['pfl5']" [ngClass]="{active:!collapse['pfl5']}">Employee document<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl5']}" class="collapseContentbox">
                <div class="paddingBox">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-5 col-lg-12">
                         Confidentiality agreement
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-7 col-lg-12">
                          <button class="btn btn-success">Download</button>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-5 col-lg-12">
                          General manager
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-7 col-lg-12">
                          <button class="btn btn-success">Download</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row form-group">
                        <div class="col-sm-4 col-md-5 col-xl-5 col-lg-12">
                          Employment agreement
                        </div>
                        <div class="col-sm-8 col-md-7 col-xl-7 col-lg-12">
                          <button class="btn btn-success">Download</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right">
                      <div class="text-right">
                        <label>testDemo.txt</label>&nbsp;&nbsp;
                        <label class="btn-bs-file btn btn-lg btn-primary">
                            Upload download
                            <input type="file" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl6']=!collapse['pfl6']" [ngClass]="{active:!collapse['pfl6']}">Upload your document<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl6']}" class="collapseContentbox">
                <div class="paddingBox">
                  <div class="row">
                    <div class="col-lg-6 col-xl-4 text-center contact-pic">
                      <figure><img src="assets/images/g1.jpg" /></figure>
                      <figcaption>Passport</figcaption>
                      <div class="buttonWrap">
                        <button class="btn btn-success">Download</button>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xl-4 text-center contact-pic">
                      <figure><img src="assets/images/g1.jpg" /></figure>
                      <figcaption>Licence</figcaption>
                      <div class="buttonWrap">
                        <button class="btn btn-success">Download</button>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right">
                      <div class="fileUpload text-right">
                        <label>testDemo.txt</label>&nbsp;&nbsp;
                        <label class="btn-bs-file btn btn-lg btn-primary">
                          Upload download
                          <input type="file" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl7']=!collapse['pfl7']" [ngClass]="{active:!collapse['pfl7']}">Emergency contact<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl7']}" class="collapseContentbox">
                <div class="paddingBox">
                  <div class="row">
                    <div class="col-lg-6 col-xl-4 text-center contact-pic">
                      <figure><img src="assets/images/g1.jpg" /></figure>
                      <figcaption>Passport</figcaption>
                      <div class="buttonWrap">
                        <button class="btn btn-success">Download</button>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xl-4 text-center contact-pic">
                      <figure><img src="assets/images/g1.jpg" /></figure>
                      <figcaption>Licence</figcaption>
                      <div class="buttonWrap">
                        <button class="btn btn-success">Download</button>
                        <button class="btn btn-danger">Remove</button>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right">
                      <div class="fileUpload text-right">
                        <label>testDemo.txt</label>&nbsp;&nbsp;
                        <label class="btn-bs-file btn btn-lg btn-primary">
                          Upload download
                          <input type="file" />
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl8']=!collapse['pfl8']" [ngClass]="{active:!collapse['pfl8']}">Emergency contact<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl8']}" class="collapseContentbox">
                <div class="paddingBox">
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Name</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Email</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Mobile phone</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Relation</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="collapseInfoBox">
              <h4 (click)="collapse['pfl9']=!collapse['pfl9']" [ngClass]="{active:!collapse['pfl9']}">Licence details<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
              <div [ngClass]="{open:!collapse['pfl9']}" class="collapseContentbox">
                <div class="paddingBox">
                  <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Licence name</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Licence expiry</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Licence number</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Licence country</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row form-group">
                          <div class="col-md-5 col-xl-6 col-lg-12">
                            <label class="form-inline">Licence state</label>
                          </div>
                          <div class="col-md-7 col-xl-6 col-lg-12">
                            Dummy Text
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
           
          </div>
           <div class="col-md-12">
             <figcaption><label><b>Signature</b></label></figcaption>
             <figure>
               <img src="assets/images/signature.png" alt="signature" />
             </figure>
           </div>
        </div>
      </div>

    </div>
  </article>
</div>