<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Grievance listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <!-- <div class="row">
                        <div class="col-sm-12"><button class="btn btn-special"><i class="fa fa-angle-double-left"></i> Activities & approvals</button></div>
                    </div>
                    <br> -->
                    <div class="row">
                        <div class="col-md-6 col-xl-7">
                            <!-- <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search users" />
                                    <span class="input-group-btn">
                                        <button class="btn" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-3  col-xl-3 col-sm-6"></div>
                        <div class="col-md-3 col-xl-2 col-sm-6">
                            <div class="filter">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-3  col-xl-3 col-sm-6">
                        <div class="InviteUser">
                            <div class="form-group text-right">
                            <button class=" btn btn-success full-width" (click)="onPopUp()">Create grievance<span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                        </div> -->
                    </div>
                    <div class="row" [hidden]="!toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised against</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="empSearch['raisedAgainst']" placeholder="Search employee" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedAgainst']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,'raisedAgainst',emp?.userId)" /><span>{{emp?.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Assigned manager</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="empSearch['managers']" placeholder="Search employee" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of managerList | searchBy: 'name' : empSearch['managers']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,'managers',emp?.userId)" /><span>{{emp?.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised by</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="empSearch['raisedBy']" placeholder="Search employee" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedBy']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,'raisedBy',emp?.userId)" /><span>{{emp?.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Pending']" /><span>Pending</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Under Investigation']" /><span>Under investigation</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Resolved']" /><span>Resolved</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Unresolved']" /><span>Unresolved</span></label></li>
                                    </ul>
                                </div>
                                <button (click)="isChecked && getGrievanceList()" class="btn pull-right outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">

                    <table class="full-width table" [mfData]="grievanceList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <th style="max-width:170px;overflow:hidden;">
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="raisedBy.name">Raised by &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                Raised against &nbsp;
                            </th>
                            <th style="width:160px;">
                                Assigned manager &nbsp;
                            </th>
                            <th>
                                <mfDefaultSorter by="date">Raised date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="result">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:142px;">Details</th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let grievance of mf.data">
                                <td style="max-width:170px;overflow:hidden;">{{grievance?.title}}</td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="grievance?.raisedBy?.imageUrl" height="40px" width="40px"></div>
                                        <div class="d-flex align-self-center  media-right">{{grievance?.raisedBy?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="grievance?.raisedAgainst[0]?.imageUrl" height="40px" width="40px"></div>
                                        <div class="d-flex align-self-center  media-right">
                                            {{grievance?.raisedAgainst[0]?.name}}<br>
                                        </div>
                                    </div>
                                    <span *ngIf="grievance?.raisedAgainst.length>1">and {{grievance?.raisedAgainst.length -1}} more.</span>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="grievance?.manager[0]?.imageUrl" height="40px" width="40px"></div>
                                        <div class="d-flex align-self-center  media-right">
                                            <span>{{grievance?.manager[0]?.name}}</span>
                                        </div>
                                    </div>
                                    <span *ngIf="grievance?.manager.length>1">and {{grievance?.manager.length -1}} more.</span>
                                </td>
                                <td>{{formatDateTime(grievance?.date)}}</td>
                                <td>{{grievance?.result}}</td>
                                <td><button class="btn btn-default" [routerLink]="['/app/company-admin/grievance/detail', grievance?.grievanceID]">View details</button></td>
                                <td>
                                    <div class="dropdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="!(grievance?.result == 'Resolved' || grievance?.result == 'Unresolved' || grievance?.result == 'Terminated' )" class="dropdown-item btn btn-none color-info" (click)="investigate(grievance)" title="Investigate"><i class="fa fa-search-plus"></i>  Investigate</button>
                                            <button *ngIf="grievance?.result == 'Resolved' || grievance?.result == 'Unresolved' || grievance?.result == 'Terminated'" title="Result" class="dropdown-item btn btn-none color-success" [routerLink]="['/app/company-admin/grievance/result', grievance?.grievanceID]"><i class="fa fa-eye"></i> Result</button>
                                            <!-- <button *ngIf="grievance?.result == 'Unresolved'" title="Unresolved" class="dropdown-item btn btn-none color-danger" [routerLink]="['/app/company-admin/grievance/result', grievance?.grievanceID]"><i class="fa fa-times-circle"></i> {{grievance?.result}}</button> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!grievanceList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>