<div class="my-app-header">
    <div class="app-header">
        <div class="app-header-inner bg-color-info"><img src="assets/images/logo.png" width="160"></div>
    </div>
</div>
<div class="page-auth">
    <div class="main-body">
        <div class="box-default cmpnycontentBox">
            <div class="card-content registrationForm">
                <form #userForm="ngForm" class="form-horizontal" (ngSubmit)="userForm.valid && confirmPasswordVal == sub.password && submit()">
                    <div class="row">
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="control-label">Password :</label></div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="sub.password" #password="ngModel" name="password" type="password" placeholder="Password" required (ngModelChange)="resetErrors('password')" />
                                <div *ngIf="password.errors && (password.dirty || password.touched)">
                                    <div class="alert alert-danger" [hidden]="!password.errors.required">
                                        Password is required !
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="errors && errors['password']">
                                    {{errors['password']}}
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="control-label">Confirm password :</label></div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="confirmPasswordVal" #confirmPassword="ngModel" name="confirmPassword" type="password" placeholder="Confirm password" required (ngModelChange)="resetErrors('confirmPassword')" />
                                <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                                    <div class="alert alert-danger" [hidden]="!confirmPassword.errors.required">
                                        Password confirmation is required !
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="errors && errors['confirmPassword']">
                                    {{errors['confirmPassword']}}
                                </div>

                                <div *ngIf="!(confirmPasswordVal == sub.password)">
                                    <div class="alert alert-danger">
                                        Password does not matched !
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="heading">Incase you forgot your password</h5>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Security question</label></div>
                            <div class="rghtinput10">
                                <select class="form-control full-width" name="securityQuestionID" [(ngModel)]="sub.securityQuestionID" #securityQuestionID="ngModel" required>
              <!--<option [ngValue]="undefined" selected>Please Select Security Question</option>-->
              <option value="undefined" disabled="true">-------Please select security question--------</option>
              <option *ngFor="let ques of securityQuestions" [value]="ques.securityQuestionID">{{ques.title}}</option>
            </select>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="control-label">Your answer :</label>
                            </div>
                            <div class="rghtinput10">
                                <input class="form-control" [(ngModel)]="sub.securityAnswer" #securityAnswer="ngModel" name="securityAnswer" type="text" placeholder="Write your answer" required (ngModelChange)="resetErrors('securityAnswer')">

                                <div *ngIf="securityAnswer.errors && (securityAnswer.dirty || securityAnswer.touched)">
                                    <div class="alert alert-danger" [hidden]="!securityAnswer.errors.required">
                                        Security answer is required !
                                    </div>
                                </div>
                                <div class="alert alert-danger" *ngIf="errors && errors['securityAnswer']">
                                    {{errors['securityAnswer']}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                </form>
                <div class="additional-info" style="bottom:-18px;">
                    <a [routerLink]="['/user/login']">Return to login</a>
                </div>
            </div>
        </div>
    </div>
</div>