.addUserBtn {
    float: right;
    span {
        font-size: 25px;
        margin-right: 7px;
        position: relative;
        top: 0;
    }
    @media screen and (max-width: 479px) {
        width: 100%;
        margin-bottom: 0px;
    }
}

.cursor {
    cursor: pointer;
}

h2.article-title {
    display: inline-block;
}

.positionListTable {
    td {
        ul {
            margin-bottom: 0;
            li {
                display: inline-block;
            }
        }
    }
}

.mul-sel-opt {
    min-height: 0;
    height: auto;
}

.chk_wrap {
    padding: 12px;
    margin-bottom: 0;
}

.my-select {
    .mul-sel {
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
        left: 20px;
    }
}

@media screen and (max-width: 479px) {
    .search-width {
        width: 100%;
    }
}

.select_box {
    padding: 8px;
    border: 1px solid gray;
    background: lightgray;
}

.selected_box {
    padding: 5px;
    border: 1px solid gray;
    background: lightgray;
    border-radius: 20%;
}

.mat-danger {
    background-color: transparent !important;
    color: #f00 !important;
}

.deletePosition {
    background-color: #555 !important;
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto;
    margin-top: 20px;
}

.highlight {
    position: relative;
    -webkit-animation: mymove 5s linear;
    /* Safari 4.0 - 8.0 */
    animation: mymove 5s linear;
    background: rgba(51, 51, 51, 0.37);
    &:after {
        content: 'Deleting...';
        position: absolute;
        width: 86px;
        height: 32px;
        z-index: 999;
        color: #fff;
        font-size: 18px;
        left: 53%;
        margin-top: 7px;
    }
}

th,
td {
    padding: 10px 10px !important;
}

tr {
    transition: all 1s ease;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        color: #fff;
    }
}


/* Standard syntax */

@keyframes mymove {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        color: #fff;
    }
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}
.mdl-data-table td:last-child{
    width:auto !important;
}
.table-responsive{
    overflow-x:visible;
    @media screen and (max-width:767px){
        overflow-x:auto;
    }
}