<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">List of position description templates
                    <a *ngIf="permission.add" class="addUserBtn float-right" [routerLink]="['/app/super-admin/position-description/add-pd-template']">
                        <button md-raised-button color="accent" class="theme-button btn-w-md">
               <span class="icon">+</span>Add new PD template</button>
                        <div class="divider divider-sm"></div>
                    </a>
                </h2>
            </div>
        </div>
        <!--Filter Box-->
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="searchbar row">
                <div class="input-group col-md-12">
                    <input class="form-control" placeholder="Search by position title" type="text" #searching maxlength="50" (keyup)="onFilter()" [(ngModel)]="searchKey" />
                    <div class="input-group-addon">
                        <md-icon>search</md-icon>
                    </div>
                </div>
            </div>
            <div class="box box-default positionFilter">
                <div class="row">
                    <div class="col-sm-12 col-lg-2 col-md-4">
                        <h5 class="filterTitle">Status</h5>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let s of status;let i=index">
                                    <md-checkbox name="active" (change)="onFilter()" [(ngModel)]="filters.status[s]">
                                        <div *ngIf="s=='Active'">Active</div>
                                        <div *ngIf="s=='Inactive'">Inactive</div>
                                    </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-12">
                        <h5 class="filterTitle">Industries types</h5>
                        <div class="input-group gapleft">
                            <input class="form-control" placeholder="Search for" type="text" [(ngModel)]="searchKeyPDType" #searching>
                            <div class="input-group-addon">
                                <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                            </div>
                        </div>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let i of industryIDs|searchByKey:searchKeyPDType:'industryTitle'">
                                    <md-checkbox name="industry_{{in}}" (change)="onFilter()" [(ngModel)]="filters.industryIDs[i.industryID]">{{i.industryTitle}} </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Filter Box close-->
            <div class="positionListTable">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                            <md-progress-spinner *ngIf="isDeleting" mode="indeterminate" color=""></md-progress-spinner>
                            <table class="mdl-data-table" *ngIf="!isDeleting" [mfData]="positionDescriptions" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Position title</th>
                                        <th>Industries</th>
                                        <th>Status</th>
                                        <th style="width:60px;" *ngIf="permission.edit||permission.delete">Action</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="!isListProcessing">

                                    <tr class="cursor" *ngFor="let item of mf.data;let i=index" (click)="getPositionDescriptionDetails(item.positionID);$event.stopPropagation();">
                                        <td>{{(mf.activePage -1)*(10)+(i+1)}}</td>
                                        <td>{{item?.positionTitle}}</td>
                                        <td><span *ngFor="let industry of item?.industries;let i=index">{{industry.industryTitle}}<span *ngIf="i<item?.industries.length-1">, </span></span></td>
                                        <td>{{item?.positionStatus}}</td>
                                        <td *ngIf="permission.edit||permission.delete">
                                            <button *ngIf="permission.edit" style="background:none;border:none;" md-tooltip="Edit" (click)="onEdit(item);$event.stopPropagation();"> <md-icon class="theme-button btn-w-md cursor" >edit</md-icon></button>
                                            <button *ngIf="permission.delete" style="background:transparent;border:none;" (click)="deletePositionDescription(item.positionID,i);$event.stopPropagation();"><md-icon class="cursor" color="danger" md-tooltip="Delete" >delete</md-icon></button>
                                        </td>
                                    </tr>
                                    <tr style="background-color:danger;" *ngIf="positionDescriptions.length==0">
                                        <td class="alert alert-danger" id="textCenter" colspan='5'>No record found</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <md-progress-spinner *ngIf="isListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                            <mfBootstrapPaginator></mfBootstrapPaginator>
                                        </td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Position List table close-->
    </article>
</div>