.policy {
    padding: 0 15px 30px;
    .positionListTable {
        .mdl-data-table {
            th {
                padding: 15px;
            }
            td {
                &:last-child {
                    width: 12%;
                }
            }
        }
    }
}

.note-preview {
    padding: 20px 15px 10px 40px;
    .content {
        position: relative;
        padding-left: 15px;
        p {
            opacity: 0.8;
        }
        &:after {
            content: '';
            height: 100%;
            width: 3px;
            background: #e2e2e2;
            position: absolute;
            left: -3px;
            top: 0;
            border-radius: 12px;
        }
        &:before {
            content: '';
            height: 30px;
            width: 3px;
            background: #4cdaaa;
            position: absolute;
            left: -3px;
            top: 0;
            z-index: 1;
            border-radius: 12px;
        }
    }
    .headingDiv {
        border-bottom: 2px dotted #e4e4e4;
    }
    .btnWrapper {
        padding: 20px 0 12px;
    }
}

@media print {
    .btn,
    button {
        display: none!important;
    }
}

.tableHead i {
    font-size: 24px;
    margin-top: -7px;
}

table td .heading {
    margin: 0;
    display: inline-block;
}

@media screen and (max-width:479px) {
    button.btn.btn-lg {
        padding: 5px 8px;
        font-size: 13px;
        min-width: auto;
        margin-bottom: 12px !important;
    }
}

table td .heading {
    @media screen and (max-width: 479px) {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 182px;
        white-space: nowrap;
    }
}

.collapseInfoBox {
    .collapseContentbox {
        .addNewBtn {
            padding: 10px;
        }
    }
}

.EmpHeader {
    .InviteUser {
        .btn {
            width: 100%;
            height: 39px;
            font-family: 'LatoWebMedium';
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            font-size: 15px;
            padding: 0px 0px;
        }
    }
}

.EmpList .table tbody tr td:first-child {
    width: inherit;
}

.admin-panel .filterController button.outlined {
    height: 45px !important;
    position: absolute;
    bottom: 0;
    right: 9px;
    @media screen and (max-width: 479px) {
        position: initial;
    }
}