<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin/listing-page/induction-onboarding-listing']">On boarding checklist</a>
                    </li>
                    <li class="breadcrumb-item active">View details</li>
                </ol>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <ng-container *ngIf="!isProcessing">
            <div class="collapseInfoBox checklistMain" *ngFor="let c of checkList">
                <div *ngIf="c?.categories?.columns?.rows.length">
                    <h4 (click)="collapse[i]=!collapse[i];$event.stopPropagation()" [ngClass]="{active:!collapse[i]}">
                        <div class="pull-right arrowIcon">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        {{c?.categories?.title}}
                    </h4>
                    <div [ngClass]="{open:!collapse[i]}" class="collapseContentbox">
                        <div class="visibletbl checklistTbl">
                            <table class="mdl-data-table full-width">
                                <tbody>
                                    <tr>
                                        <th class="addColdata" style="width:38%;">
                                            {{c?.categories?.columns?.columnA}}
                                        </th>
                                        <th class="addColdata" style="width:44%;">
                                            {{c?.categories?.columns?.columnB}}
                                        </th>
                                        <th class="addColdata" style="width:18%;min-width:145px;">
                                            {{c?.categories?.columns?.columnC}}
                                        </th>
                                    </tr>
                                    <tr *ngFor="let col of c?.categories?.columns?.rows">

                                        <td>
                                            {{col.columnA || 'Not specified'}}
                                        </td>
                                        <td>
                                            {{col.columnB || 'Not specified'}}
                                        </td>
                                        <td style="min-width:130px;">
                                            {{col.columnC || 'Not specified'}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!checkList?.length">
                                <div class="text-center">
                                    No record found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </article>
</div>