<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">OH&S listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <!-- <div class="col-md-3  col-xl-3 col-sm-6"></div> -->
                        <div class="col-md-12 text-right morreActions">
                                <div class="filter">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa"></i></button> 
                                </div>
                                <div class="InviteUser">
                                    <button class=" btn btn-success full-width" (click)="onPopUp()">Create OH&S<span class="fa fa-plus"></span></button>
                                </div>
                        </div>
                        <div class="col-md-3 col-xl-3 col-sm-6">

                        </div>
                        <div class="col-md-3  col-xl-4 col-sm-6">

                        </div>
                        
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">

                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                  <h3 class="title">Raised against</h3>
                  <div class="empSrearch">
                    <div id="custom-search-input">
                      <div class="input-group">
                        <input type="text" class="form-control input-lg" [(ngModel)]="empSearch['raisedAgainst']" placeholder="Search employee" />
                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                      </div>
                    </div>
                  </div>
                  <ul class="checkbox over180">
                    <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedAgainst']">
                      <label><input type="checkbox" (change)="onCheckEmp($event,'raisedAgainst',emp?.userId)" /><span>{{emp?.name}}</span></label>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <h3 class="title">Assigned manager</h3>
                  <div class="empSrearch">
                    <div id="custom-search-input">
                      <div class="input-group">
                        <input type="text" class="form-control input-lg" [(ngModel)]="empSearch['managers']" placeholder="Search employee" />
                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                      </div>
                    </div>
                  </div>
                  <ul class="checkbox over180">
                    <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['managers']">
                      <label><input type="checkbox" (change)="onCheckEmp($event,'managers',emp?.userId)" /><span>{{emp?.name}}</span></label>
                    </li>
                  </ul>
                </div> -->
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised by</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="empSearch['raisedBy']" placeholder="Search employee" />
                                                <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedBy']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,emp?.userId)" /><span>{{emp?.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-9 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Pending']" /><span>Pending</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Under Investigation']" /><span>Under investigation</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Resolved']" /><span>Resolved</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filter?.filter?.status['Unresolved']" /><span>Unresolved</span></label></li>
                                    </ul>
                                </div>
                                <button (click)="isChecked && getOhsList()" class="btn btn-filter outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="tableWrapper">
                    <table class="full-width table" [mfData]="ohsList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                            <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="issueType">Issue &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                Witness &nbsp;
                            </th>
                            <th>
                                <mfDefaultSorter by="location">Location &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="issueDate">Date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <!-- <th style="width:150px;">Details</th> -->
                            <th style="width:130px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ohs of mf.data">
                                <td style="max-width: 200px;">{{ohs?.title}}</td>
                                <td> {{ohs?.issueType}} </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle"><img class="img-circle" [src]="ohs?.witness[0]?.imageUrl" height="40px" width="40px"></div>
                                        <div class="d-flex align-self-center  media-right">
                                            {{ohs?.witness[0]?.name}}<br>
                                        </div>
                                    </div>
                                    <span *ngIf="ohs?.witness.length>1">&nbsp; and {{ohs?.witness.length -1}} more.</span>
                                </td>
                                <td>{{ohs?.location}}</td>
                                <td>{{formatDateTime(ohs?.issueDate)}}</td>
                                <td>{{ohs?.status}}</td>
                                <!-- <td style="width:150px;"><button class="btn btn-default" [routerLink]="['/app/company-admin/ohs/incident-assessment', ohs?.ohsID]">View details</button></td> -->
                                <td>
                                    <div class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <!--<a class="dropdown-item"><i class="fa fa-pencil color-secondary"></i>&nbsp;&nbsp; Edit</a>-->
                                            <button class="dropdown-item btn-none color-success" *ngIf="ohs?.status=='Resolved' || ohs?.status=='Unresolved'" (click)="downloadPDF(ohs)"><i class="fa fa-download"></i>&nbsp;&nbsp; Download report</button>
                                            <button class="dropdown-item btn-none color-info" *ngIf="ohs?.status=='Pending'" [routerLink]="['/app/company-admin/ohs/incident-assessment', ohs?.ohsID]"><i class="fa fa-search-plus"></i>&nbsp;&nbsp; Conduct investigation</button>
                                            <button class="dropdown-item btn-none color-primary" *ngIf="ohs?.status!=='Pending'" (click)="investigate(ohs)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View detail</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!ohsList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>