<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                                <a *ngIf="loggenInUser=='companyAdmin'" [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a>
                                <a *ngIf="loggenInUser=='companyContractor'" [routerLink]="['/app/sub-contractor']"><span class="fa fa-home"></span></a>                        
                            </li>
                        <li *ngIf="loggenInUser=='companyContractor'" class="breadcrumb-item" [routerLink]="['/app/sub-contractor/training-day/training-plan/list']">Training plan</li>                                                
                        <li *ngIf="loggenInUser=='companyAdmin'" class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day/training-plan/list']">Training plan</li>
                        <li class="breadcrumb-item active">Training day</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div> -->
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12">
                <div class="cmpnycontentBox text-center">
                    No result found.
                </div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12">
                <div class="cmpnycontentBox">
                    <!-- <div class="date text-right">22 March 2017 at 12:00</div> -->
                    <!-- <form class="maxformWidth" name="rollForm" #rollForm="ngForm" (ngSubmit)="roll.assignedTo.length && rollCall()"> -->
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Step 1: Roll call</h4>
                        </div>
                        <div class="col-md-12">
                            <ul class="userList row">
                                <li class="col-md-4 col-sm-6" *ngFor="let user of trainingPlan?.assignedTo; let i=index;">
                                    <div class="userName">
                                        <img class="profile-round" [src]="user?.traineeDetail?.imageUrl">
                                        <div class="name">{{user?.traineeDetail?.name}}
                                            <div class="department">{{user?.traineeDetail?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                    <div *ngIf="loggenInUser=='companyAdmin'" class="customchkbox">
                                        <input [id]="'roll'+i" type="checkbox" class="required" (change)="onSelectEmp($event,user)" aria-required="true">
                                        <label [for]="'roll'+i"></label>
                                    </div>
                                </li>
                            </ul>
                            <!-- <div *ngIf="!roll.assignedTo.length && rollForm.submitted" class="color-danger">Please select a user</div>

                                <md-progress-spinner class="pull-right" *ngIf="isProcessingRoll" mode="indeterminate" color=""></md-progress-spinner>
                                <button *ngIf="permission?.edit && !isProcessingRoll" [disabled]="rollCalled" type="submit" class="btn btn-primary pull-right">Submit</button> -->
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
                <div class="cmpnycontentBox detailbox">
                    <!-- <div class="date text-right">22 March 2017 at 12:00</div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Step 2: Training</h4>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training plan title</label>
                            </div>
                            <div class="rghtinput10">
                                {{trainingPlan?.title}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Reason</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.reason">
                                <!-- {{trainingPlan?.reason}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Action plan</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.actionPlan">
                                <!-- {{trainingPlan?.actionPlan}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Objective</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.objective">
                                <!-- {{trainingPlan?.objective}} -->
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="trainingResult?.trainee.length" class="cmpnycontentBox">
                    <md-progress-spinner class="pull-right" *ngIf="isProcessingTranee" mode="indeterminate" color=""></md-progress-spinner>
                    <!-- <div class="date text-right">22 March 2017 at 12:00</div> -->
                    <form *ngIf="!isProcessingTranee" name="noteForm" #noteForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="heading">Step 3: Write & send notes to individual/all</h4>
                            </div>
                            <div class="col-md-8">
                                <ul class="userList step3">
                                    <li class="row" *ngFor="let user of trainingResult?.trainee;let i=index;">
                                        <div class="userName col-md-4">
                                            <img class="profile-round" [src]="user?.traineeDetail?.imageUrl">
                                            <div class="name">{{user?.traineeDetail?.name}}
                                                <div class="department">{{user?.traineeDetail?.position || 'Not specified'}}</div>
                                            </div>
                                        </div>
                                        <div class="customchkbox col-md-5">
                                            <textarea class="form-control" #unote="ngModel" [name]="'note'+i" [(ngModel)]="user.note" required></textarea>
                                            <!-- <app-tinymce class="form-control" #unote="ngModel" [name]="'note'+i" [(ngModel)]="user.note" required></app-tinymce> -->
                                            <div *ngIf="unote.touched || unote.dirty || noteForm.submitted">
                                                <div class="color-danger" [hidden]="unote.valid">Please enter a note.</div>
                                            </div>
                                        </div>
                                        <div class="result-action col-md-3 text-center">
                                            <span><button type="button" class="btn btn-primary" (click)="user.result='Pass'">Pass</button> <i *ngIf="user.result=='Pass'" class="fa fa-check"></i></span>
                                            <span><button type="button" class="btn btn-danger" (click)="user.result='Fail'">Fail</button> <i *ngIf="user.result=='Fail'" class="fa fa-check"></i></span>

                                            <div *ngIf="noteForm.submitted && !user.result">
                                                <div class="color-danger">Please select a result.</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <div class="final-notes">
                                    <h5 class="heading">Notes to all</h5>
                                    <textarea class="form-control" name="noteToAll" [(ngModel)]="trainingResult.noteToAll"></textarea>
                                    <!-- <app-tinymce class="form-control" name="noteToAll" [(ngModel)]="trainingResult.noteToAll"></app-tinymce> -->

                                    <!-- <div class="text-center">
                                        <input type="button" class="btn btn-primary" value="Send" />
                                    </div> -->
                                </div>
                            </div>
                            <md-progress-spinner class="text-center" *ngIf="isSubmitting" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="permission?.edit && !isSubmitting" class="col-md-12 text-center">
                                <button type="submit" (click)="submitNotes(noteForm.valid)" class="btn btn-primary btn-lg" style="margin-top: 15px;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>