<h5 class="heading">Shoutout</h5>
<div class="feedbackMain">
    <form #shootoutForm="ngForm" class="full-width" (submit)="isButtonClicked = true;shootoutForm.form.valid && submitShootout()">
        <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row">
            <div class="col-md-12 form-group shoutOutPopUp">
                <angular2-multiselect *ngIf="!isProcessing" required [data]="dropdownListEmployees" [(ngModel)]="selectedItems" name="pipListingDdl" [settings]="dropdownSettings" class="full-width" [selectedItems]="selectedItems">
                </angular2-multiselect>
            </div>

            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">Title</label>
                </div>
                <div class="rghtinput10">
                    <input name="name" [(ngModel)]="shootout.title" myNoSpaces #title="ngModel" type="text" class="form-control" placeholder="Enter title here" />
                    <div *ngIf="title.errors && ( (title.dirty || title.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                            Title is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline">Reason</label>
                </div>
                <div class="rghtinput10">
                    <input name="notes" [(ngModel)]="shootout.reason" myNoSpaces #reason="ngModel" type="text" class="form-control" placeholder="Enter title here" />
                    <div *ngIf="reason.errors && ( (reason.dirty || reason.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(reason.errors.required || reason.errors.whitespace)">
                            Reason is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 form-group text-right">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>