<section class="messages">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!-- <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/message']">File Notes</a></li> -->
        <li class="breadcrumb-item active">Messages</li>
    </ol>
    <div class="cmpnycontentBox">
        <ul class="chat">
            <li class="chat-left">
                <div class="header">
                    <h5 class="heading">Messages <i class="fa fa-edit pull-right"></i></h5>
                    <div class="input-group searchUser">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="activeUser">
                    <div class="media">
                        <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images/g1.jpg" height="40px" width="40px" /></div>
                        <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div>
                    </div>
                </div>
                <div class="allUser">
                    <p><b>All</b></p>
                    <ul>
                        <li class="userlist">
                            <div class="media">
                                <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/1.jpg" height="40px" width="40px" /></div>
                                <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div>
                            </div>
                        </li>
                        <li class="userlist">
                            <div class="media">
                                <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/2.jpg" height="40px" width="40px" /></div>
                                <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div>
                            </div>
                        </li>
                        <li class="userlist">
                            <div class="media">
                                <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/3.jpg" height="40px" width="40px" /></div>
                                <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div>
                            </div>
                        </li>
                        <li class="userlist">
                            <div class="media">
                                <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/4.jpg" height="40px" width="40px" /></div>
                                <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="chat-right">
                <div class="header">
                    <h4 class="heading">New Message </h4>
                </div>
                <!-- chat_window -->
                <div class="chat_window">
                    <div class="messages">
                        <div class="newMessage">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type a Name or Multiple Names to create Group" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <span class="input-cross" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </div>

                                <ul>
                                    <li class="userlist">
                                        <input type="checkbox" id="checkBox" />
                                        <label for="checkBox">
                          <div class="media">
                            <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/1.jpg" height="40px" width="40px" /></div>
                            <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div> 
                            
                          </div>
                          
                            </label>
                                    </li>
                                    <li class="userlist">
                                        <input type="checkbox" id="checkBox1" />
                                        <label for="checkBox1">
                          <div class="media">
                            <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/1.jpg" height="40px" width="40px" /></div>
                            <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div> 
                            
                          </div>
                          
                            </label>
                                    </li>
                                    <li class="userlist">
                                        <input type="checkbox" id="checkBox2" />
                                        <label for="checkBox2">
                          <div class="media">
                            <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/1.jpg" height="40px" width="40px" /></div>
                            <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div> 
                            
                          </div>
                          
                            </label>
                                    </li>
                                    <li class="userlist">
                                        <input type="checkbox" id="checkBox3" />
                                        <label for="checkBox3">
                          <div class="media">
                            <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/1.jpg" height="40px" width="40px" /></div>
                            <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div> 
                            
                          </div>
                          
                            </label>
                                    </li>
                                    <li class="userlist">
                                        <input type="checkbox" id="checkBox4" />
                                        <label for="checkBox4">
                          <div class="media">
                            <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images-demo/avatars/1.jpg" height="40px" width="40px" /></div>
                            <div class="d-flex align-self-center  media-right d-flex align-self-center">Mr. Paul</div> 
                            
                          </div>
                          
                            </label>
                                    </li>
                                </ul>

                            </form>
                        </div>
                    </div>
                    <div class="bottom_wrapper clearfix">
                        <div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div>
                        <div class="send_message">
                            <div class="icon"></div>
                            <div class="text">Send</div>
                        </div>
                    </div>
                </div>
                <div class="message_template">
                    <li class="message">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text"></div>
                        </div>
                    </li>
                </div>

                <!-- chat_window -->

            </li>
        </ul>
    </div>
</section>