.messages{
    padding:0 15px 30px;
    .chat{
        border:1px solid #d3d3d3;       
        width:100%;
        .chat-left{
            width:20%;
            vertical-align: top;         
            display:inline-block;
            .searchUser{
                input{
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                }
                .input-group-addon{                  
                    background-color: #ffffff;
                    color: #333;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                    padding: 10px 4px;
                }
            }
            .activeUser{ 
                padding: 6px 15px;
                background: rgb(255, 204, 51);
                .media-right{
                    font-weight:bolder;
                    padding-left:12px;
                }            
            }  
            .allUser{
                p{ padding:6px 15px; border-bottom:1px solid #d4d4d4; }
                ul{
                    .userlist{
                        padding:4px 15px;
                        border-bottom:1px solid #d4d4d4;
                        .media-right{
                            font-weight:bolder;
                            padding-left:12px;
                        } 
                    }
                }
            }      
        }
        .chat-right{
            width:79%;
            vertical-align: top;
            display:inline-block;   
            border-left:1px solid #d3d3d3;                                 
            .chat_window { 
            background-color: #fff; 
            background-color: #f8f8f8;
            overflow: hidden;
            position:relative;

                .messages{
                    .newMessage{
                        .nameListMessage{
                            li{
                                min-width: 100px;
                                display: inline-block;
                                padding: 0;
                                margin-right: 6px;
                                a{
                                    width: 100%;
                                    color: #222;
                                    padding: 8px 10px;
                                    display: block;
                                    position: relative;
                                    text-decoration: none;
                                    
                                    i{
                                        position: absolute;
                                        right: 5px;
                                        top: 12px;
                                    }
                                }
                            }
                            & li:last-child{
                               margin-right: 0;
                            }
                        }
                        .input-group{
                            position: relative;
                            .form-control{
                                height: 45px;
                            }
                            .input-cross{
                                position: absolute;
                                top:10px;
                                right: 20px;
                                z-index: 4;
                                font-size: 18px;
                            }
                        }

                        ul{
                           padding-top: 15px;
                             li{
                                 padding: 8px 20px;
                                 background-color: #fff;
                                 margin-bottom: 10px;
                                 position: relative;
                                [type="checkbox"]:not(:checked) + label:before,
                                [type="checkbox"]:checked + label:before{
                                     left: initial;
                                     right: 0;
                                     top: 11px;
                                 }
                                 [type="checkbox"]:not(:checked) + label:after,
                                 [type="checkbox"]:checked + label:after {
                                     left: initial;
                                     right: 2px;
                                     top: 15px;
                                 }
                                 label{
                                     display: block;
                                     width: 100%;
                                     margin: 0;
                                     padding: 0;
                                 }

                                 .media-right{
                                     font-size: 15px;padding-left: 15px;
                                 }

                             }
                        }
                    }
                }
            }

            .top_menu {
            background-color: #fff;
            width: 100%;
            padding: 20px 0 15px;
            box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
            }

            .messages {
            position: relative;
            list-style: none;
            padding: 20px 10px 69px 10px;
            margin: 0;
            height: 590px;
            overflow: scroll;
            }
            .messages .message {
            clear: both;
            overflow: hidden;
            margin-bottom: 20px;
            transition: all 0.5s linear;
            opacity: 0;
            }
          

            .bottom_wrapper {
            position: relative;
            width: 100%;
            background-color: #fff;
            padding: 20px 20px;
            position: absolute;
            bottom: 0;
            }
            .bottom_wrapper .message_input_wrapper {
            display: inline-block;
            height: 50px;
            border-radius: 25px;
            border: 1px solid #bcbdc0;
            width: calc(100% - 160px);
            position: relative;
            padding: 0 20px;
            }
            .bottom_wrapper .message_input_wrapper .message_input {
            border: none;
            height: 100%;
            box-sizing: border-box;
            width: calc(100% - 40px);
            position: absolute;
            outline-width: 0;
            color: gray;
            }
            .bottom_wrapper .send_message {
            width: 140px;
            height: 50px;
            display: inline-block;
            border-radius: 50px;
            background-color: #ffcc33;
            border: 2px solid #e8c969;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s linear;
            text-align: center;
            float: right;
            }
            .bottom_wrapper .send_message:hover {
            
            background-color: #e8c969;
            }
            .bottom_wrapper .send_message .text {
            font-size: 22px;
            font-weight: 400;
            display: inline-block;
            line-height: 42px;
            }

            .message_template {
            display: none;
            }
        }
        
    }
}
.header{
    padding:0 15px 12px;
    border-bottom:1px solid #d3d3d3;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  top: 0;
  width: 1.5em; height: 1.5em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}


