<div class="header">
    <div class="container">
        <div class="top-header">
            <a (click)="onClickLogo()">
                <img src="assets/images/logo-white.png" width="160">
            </a>
        </div>
    </div>
</div>
<div class="page-auth">
    <br>
    <br>
    <div class="container">
        <app-steps [progress]='progress'></app-steps>
    </div>
    <div class="subscriptionPlane">
        <div class="container">
            <div class="row">
                <div class=" col-md-12">
                    <div class="table-responsive cmpnycontentBox">
                        <table class="table pricingtable" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="pricingbtm"></th>
                                    <th class="pricingtblhed" style="border-top:1px solid #d1d1d1;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="planrespo">Plan 1</h3>
                                            <p>
                                                <b>12</b>month contract</p>
                                        </div>
                                    </th>
                                    <th class="pricingtblhed" style="border-top:1px solid #d1d1d1;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3>Plan 2</h3>
                                            <p style="display:block; height:auto;">
                                                <b>12</b>month contract
                                                <br>+ Account Setup
                                                <br>&amp; HR Consultation
                                                <span>*</span>
                                            </p>
                                        </div>
                                    </th>
                                    <th class="pricingtblhed" style="border-top:1px solid #d1d1d1;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="planrespo">Plan 3</h3>
                                            <p>
                                                <b>24</b>month contract</p>
                                        </div>
                                    </th>
                                    <th class="pricingtblhed" style="border-top:1px solid #d1d1d1;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3>Plan 4</h3>
                                            <p style="display:block; height:auto;">
                                                <b>24</b>month contract
                                                <br>+ Account Setup
                                                <br>&amp; HR Consultation
                                                <span>*</span>
                                            </p>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pricingtblhed">
                                    <td class="pricingtdleft pricingcall pringborderrad">
                                        <p>Need help deciding?
                                            <br> Call us today:</p>
                                        <h4>
                                            <i class="fa fa-phone"></i>1300 730 880</h4>
                                    </td>
                                    <td>
                                        <h2>
                                            <i>$</i>7
                                            <span>.50</span>
                                            <p>+GST</p>
                                        </h2>
                                        <span class="preemp">per employee</span>
                                        <span class="min-emp">(minimum 10 employees)</span>
                                    </td>
                                    <td>
                                        <h2>
                                            <i>$</i>7
                                            <span>.50</span>
                                            <p>+GST</p>
                                        </h2>
                                        <span class="preemp">per employee</span>
                                        <span class="min-emp">(minimum 10 employees)</span>
                                    </td>
                                    <td>
                                        <h2>
                                            <i>$</i>5
                                            <span>.00</span>
                                            <p>+GST</p>
                                        </h2>
                                        <span class="preemp">per employee</span>
                                        <span class="min-emp">(minimum 10 employees)</span>
                                    </td>
                                    <td>
                                        <h2>
                                            <i>$</i>5
                                            <span>.00</span>
                                            <p>+GST</p>
                                        </h2>
                                        <span class="preemp">per employee</span>
                                        <span class="min-emp">(minimum 10 employees)</span>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="pricingtdleft">
                                        <p class="scntset">Account Setup
                                            <br> &amp; HR Consultation
                                            <br>*Maximum 10 position descriptions</p>
                                    </td>
                                    <td>
                                        <i class="fa fa-times-circle pricingcross" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <h2>
                                            <i>$</i>599
                                            <span>.00</span>
                                            <p>+GST</p>
                                        </h2>
                                        <span class="min-emp useally">(Usually $1198.00 + GST
                                            <br>discounted 50%)</span>
                                        <a class="btn btn-info pricingview" (click)="onClick();">View</a>
                                    </td>
                                    <td>
                                        <i class="fa fa-times-circle pricingcross" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <h2>
                                            <i>$</i>599
                                            <span>.00</span>
                                            <p>+GST</p>
                                        </h2>
                                        <span class="min-emp useally">(Usually $1198.00 + GST
                                            <br> discounted 50%)
                                        </span>
                                        <a class="btn btn-info pricingview" (click)="onClick();">View</a>
                                    </td>
                                </tr>
                                <tr class="pricingtblbody">
                                    <td class="pricingtdleft">
                                        <p class="scntset">
                                            15 minutes of
                                            <br> HR support per month
                                            <br>
                                        </p>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pricingtdleft blogs ">
                                        <p class="scntset">
                                            Blogs
                                        </p>
                                    </td>
                                    <td class="blogs">
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr class="pricingtblbody">
                                    <td class="pricingtdleft blogs pringborderrad12 ">
                                        <p class="scntset">
                                            Training webinars
                                        </p>
                                    </td>
                                    <td class="blogs">
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check-circle pricingcheck" aria-hidden="true"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pricingbtm">

                                    </td>
                                    <td *ngFor="let plan of plans" class="getstartedpricing">
                                        <button [ngClass]="plan.active?'active':''" (click)="onPlanSelect(plan.id)" class="btn full-width btn-info">Get started</button>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- <ul class="plane">
                        <li class="plist text-center">
                            <div class="pricing firstStep hover-effect">
                                <div class="pricing-head">
                                    <h3 class="text-left">Choose the plan that suits your business size.</h3>
                                    <label>Need help deciding?<br>Call us today:</label>
                                    <h6 class="callus"><i class="fa fa-phone"></i> 1300 730 880</h6>
                                </div>
                                <ul class="pricing-content list-unstyled text-left">
                                    <li>
                                        Feature 1
                                    </li>
                                    <li>
                                        Feature 2
                                    </li>
                                    <li>
                                        Feature 3
                                    </li>
                                    <li>
                                        Feature 4
                                    </li>
                                    <li>
                                        Feature 5
                                    </li>
                                    <li>
                                        Support
                                    </li>
                                    <li style="line-height: 41px;">
                                        One time setup fee<small> ($695+GST)</small>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li *ngFor="let plan of plans" class="plist text-center">
                            <div class="pricing" [ngClass]="plan.active?'active':''">
                                <div class="pricing-head">
                                    <h3>{{plan?.title}}
                                        <span>{{plan?.employeeCount}} Employees </span>
                                    </h3>
                                    <h4><i>$</i>{{plan?.price}}
                                        <span>
                                        + GST per month <br>for 12 month 
                                    </span>
                                    </h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li *ngFor="let f of plan.features">
                                        <i class="{{f.class}}"></i>
                                    </li>

                                </ul>
                                <div class="pricing-footer">
                                    <button (click)="onPlanSelect(plan)" class="btn yellow-crusta">
                                    Choose
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul> -->
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="isPlanSelected" class="paymentOption">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9" style="padding-right: 0;">
                    <div class="paymentBy">
                        <h1>Make your payment</h1>
                        <ul class="nav nav-tabs">
                            <li [class.active]="tabbing">
                                <a href="javacript:void(0)" data-toggle="tab" data-action="home" (click)="tagglePay('Credit')">Credit card</a>
                            </li>
                            <!-- <li [class.active]="!tabbing"><a href="javacript:void(0)" data-toggle="tab" data-action="home" (click)="tagglePay('Direct')">Direct debit</a></li> -->
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="in" id="Credit" [hidden]="!tabbing">
                                <form #paymentOptionForm="ngForm" id="tab">
                                    <ul class="clearfix">
                                        <li class="lileft">&nbsp;</li>
                                        <li class="liright">
                                            <div class="payOption">
                                                <ul>
                                                    <li>
                                                        <img src="assets/images/payOption1.png" height='35px' width="60px">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/payOption2.png" height='35px' width="60px">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/payOption3.png" height='35px' width="60px">
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/payOption4.png" height='35px' width="60px">
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="lileft">
                                            <label class="inline-form">Payment amount</label>
                                        </li>
                                        <li class="liright">
                                            <h5>${{ selectedPlan['withoutTax']}}+GST*</h5>
                                            <p>*A payment fee of 1.5% applies for credit card</p>
                                        </li>
                                        <!-- <li class="lileft"><label class="inline-form">Name on card</label></li>
                                        <li class="liright"><input class="form-control" name="cardName" [(ngModel)]="model.cardName" required/>
                                            <label class="alert alert-danger">Invalid name</label>
                                        </li> -->
                                        <li class="lileft">
                                            <label class="inline-form">Card number</label>
                                        </li>
                                        <li class="liright">
                                            <input class="form-control" #cardname="ngModel" myNoSpaces name="cardNumber" [(ngModel)]="reqbody.creditCardInfo['full_number']" maxlength="16" required/>
                                            <div *ngIf="cardname.errors && ( (cardname.dirty || cardname.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(cardname.errors.required || cardname.errors.whitespace)">
                                                    Title is required.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="lileft">
                                            <label class="inline-form">Expiry date</label>
                                        </li>
                                        <li class="liright">
                                            <ul class="row">
                                                <li class="col-md-6">
                                                    <select class="form-control" name="expireMonth" #expireMonth="ngModel" [(ngModel)]="reqbody.creditCardInfo['expiration_month']">
                                                        <option value="" disabled>Choose month</option>
                                                        <option [value]="month" *ngFor="let month of months">{{month}}</option>
                                                    </select>
                                                </li>
                                                <li class="col-md-6">
                                                    <select class="form-control" name="expireYear" #expireYear="ngModel" [(ngModel)]="reqbody.creditCardInfo['expiration_year']">
                                                        <option value="" disabled>Choose year</option>
                                                        <option [value]="year" *ngFor="let year of years">{{year}}</option>
                                                    </select>
                                                </li>
                                            </ul>
                                        </li>

                                        <!-- ********** ADDRESS ******** -->
                                        <li class="lileft">
                                            <label class="inline-form">Address</label>
                                        </li>
                                        <li class="liright">
                                            <input #address="ngModel" myNoSpaces class="form-control" name="addrs" [(ngModel)]="reqbody.creditCardInfo['billing_address']" required/>
                                            <div *ngIf="address.errors && ( (address.dirty || address.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(address.errors.required || address.errors.whitespace)">
                                                    Address is required.
                                                </div>
                                            </div>
                                            <!-- <label class="alert alert-danger">Invalid address</label> -->
                                        </li>
                                        <!-- ********** CITY ******** -->
                                        <li class="lileft">
                                            <label class="inline-form">City</label>
                                        </li>
                                        <li class="liright">
                                            <input #city="ngModel" myNoSpaces class="form-control" name="city" [(ngModel)]="reqbody.creditCardInfo['billing_city']" required/>
                                            <div *ngIf="city.errors && ( (city.dirty || city.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(city.errors.required || city.errors.whitespace)">
                                                    City is required.
                                                </div>
                                            </div>
                                            <!-- <label class="alert alert-danger">Invalid city</label> -->
                                        </li>
                                        <!-- ********** STATE ******** -->
                                        <li class="lileft">
                                            <label class="inline-form">Country</label>
                                        </li>
                                        <li class="liright">
                                            <ul class="row">
                                                <li class="col-md-8">
                                                    <!-- <select (click)="onCountrySelect()" class="form-control" required name="cntry" #country="ngModel" [(ngModel)]="reqbody.creditCardInfo['billing_country']">
                                                        <option value="" disabled>Choose country</option>
                                                        <option [value]="c.id" *ngFor="let c of countries">{{c.itemName}}</option>
                                                    </select> -->

                                                    <select class="form-control" required name="cntry" #country="ngModel" [(ngModel)]="reqbody.creditCardInfo.billing_country" (ngModelChange)="onCountrySelect()">
                                                        <option value="" disabled>Choose country</option>
                                                        <option [value]="c.id" *ngFor="let c of countries">{{c.itemName}}</option>
                                                    </select>
                                                    <div *ngIf="country.errors && ( (country.dirty || country.touched) || isButtonClicked )">
                                                        <div class="alert alert-danger" [hidden]="!(country.errors.required)">
                                                            Country is required.
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="lileft">
                                            <label class="inline-form">States</label>
                                        </li>
                                        <li class="liright">
                                            <ul class="row">
                                                <li class="col-md-8">
                                                    <!-- <select required class="form-control" name="saste" #state="ngModel" [(ngModel)]="reqbody.creditCardInfo['billing_state']">
                                                        <option value="" disabled>Choose state</option>
                                                        <option [value]="s.itemName" *ngFor="let s of states">{{s.itemName}}</option>
                                                    </select> -->

                                                    <select class="form-control" required name="saste" #state="ngModel" [(ngModel)]="reqbody.creditCardInfo.billing_state" [disabled]="disableState">
                                                        <option value="" disabled>Choose state</option>
                                                        <option [value]="s.itemName" *ngFor="let s of states">{{s.itemName}}</option>
                                                    </select>
                                                    <div *ngIf="state.errors && ( (state.dirty || state.touched) || isButtonClicked )">
                                                        <div class="alert alert-danger" [hidden]="!(state.errors.required || state.errors.whitespace)">
                                                            State is required.
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>


                                        <li class="lileft">
                                            <label class="inline-form">ZIP/Postal code</label>
                                        </li>
                                        <li class="liright">
                                            <input #zip="ngModel" myNoSpaces class="form-control" value="" name="zipCode" [(ngModel)]="reqbody.creditCardInfo['billing_zip']" required/>
                                            <div *ngIf="zip.errors && ( (zip.dirty || zip.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(zip.errors.required || zip.errors.whitespace)">
                                                    ZIP/Postal code is required.
                                                </div>
                                            </div>
                                            <!-- <label class="alert alert-danger">Invalid ZIP/Postal code</label></li> -->
                                            <li class="lileft">&nbsp;</li>
                                            <li class="liright checkbox">
                                                <label style="margin-top:0px !important;">
                                                    <input name="iscoupone" [(ngModel)]="isCouponCode" type="checkbox" />
                                                    <span>I have a coupon code.</span>
                                                </label>
                                            </li>
                                            <li *ngIf="isCouponCode" class="lileft">
                                                <label class="inline-form">Coupon code</label>
                                            </li>
                                            <li *ngIf="isCouponCode" class="liright couponBox" style="margin-top: 6px;">
                                                <input #coupon="ngModel" myNoSpaces class="form-control" name="dddd" [(ngModel)]="reqbody.coupon" required/>
                                                <span *ngIf="isCouponCodeValid" class="status color-success">
                                                    <i class="fa fa-check-circle"></i>
                                                </span>
                                                <!-- <span class="status color-danger"><i class="fa fa-times-circle"></i></span> -->
                                                <div *ngIf="coupon.errors && ( (coupon.dirty || coupon.touched) || isButtonClicked )">
                                                    <div class="alert alert-danger" [hidden]="!(coupon.errors.required || coupon.errors.whitespace)">
                                                        Coupon code is required.
                                                    </div>
                                                </div>
                                                <!-- <label class="alert alert-danger">Invalid country</label> -->
                                            </li>
                                            <li *ngIf="isCouponCode" class="lileft">
                                                <label class="inline-form"></label>
                                            </li>
                                            <li *ngIf="isCouponCode" class="liright">
                                                <button *ngIf="reqbody.coupon" (click)="onApplyCouponCode()" class="btn btn-primary">Apply</button>&nbsp;
                                            </li>
                                            <li class="lileft">&nbsp;</li>
                                            <li class="liright checkbox">
                                                <label>
                                                    <input #terms="ngModel" name="iagreeterms" [(ngModel)]="iAgree" required type="checkbox" />
                                                    <span>I have read and agree to the
                                                        <a href="http://happyhtml.n1.iworklab.com/terms.html" target="_blank">
                                                            <b> Terms and conditions </b>
                                                        </a> and
                                                        <a href="http://happyhtml.n1.iworklab.com/privacy.html" target="_blank">
                                                            <b>Privacy policy </b>
                                                        </a>
                                                    </span>
                                                </label>
                                            </li>
                                            <li class="lileft">&nbsp;</li>
                                            <li class="liright checkbox">
                                                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                <button *ngIf="!isActionProcessing" [disabled]="!(paymentOptionForm.valid && terms.value)" (click)="submit(paymentOptionForm.valid)" class="btn btn-success full-width text-center">
                                                    <i class="fa fa-lock"></i> Pay ${{ selectedPlan['total'] }} </button>
                                                <!-- <label class="alert alert-danger">Invalid input please check try again....</label> -->
                                            </li>

                                    </ul>

                                </form>

                            </div>
                            <div class=" in" id="Direct" [hidden]="tabbing">
                                <form id="tab2">
                                    <label>New password</label>
                                    <input type="password" class="input-xlarge form-control">
                                    <div class="text-right">
                                        <button class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="totalPrice full-width">
                        <h2 class="text-center">Your plan </h2>
                        <p class="text-center">{{selectedPlan?.title}}</p>
                        <table class="full-width">
                            <tr>

                                <td *ngIf="selectedPlan.id==1" class="rows">12 month plan</td>
                                <td *ngIf="selectedPlan.id==2" class="rows">set up and 12 month plan</td>
                                <td *ngIf="selectedPlan.id==3" class="rows">24 month plan </td>
                                <td *ngIf="selectedPlan.id==4" class="rows">set up and 24 month plan</td>
                                <td class="text-right">${{selectedPlan['withoutTax']}}+GST</td>
                            </tr>
                        </table>

                        <div class="col-sm-12">
                            <div class="border-bottom"></div>
                        </div>
                        <div class="totleSign">
                        </div>
                        <table class="full-width">
                            <tbody>
                                <tr>
                                    <td class="rows">Subtotal</td>
                                    <td class="text-right">${{selectedPlan['withoutTax']}}</td>
                                </tr>
                                <tr>
                                    <td class="rows">GST (10%)
                                        <br>
                                        <br>
                                    </td>
                                    <td class="text-right">+${{selectedPlan['totalTax']}}
                                        <br>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="rows">Surcharge
                                        <br>
                                        <br>
                                    </td>
                                    <td class="text-right">+1.5%
                                        <br>
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="rows">Total monthly payment (*minimum 10 employees)</td>
                                    <td class="text-right">
                                        <b>$ {{selectedPlan['totalWithoutSetup'] }}</b>
                                    </td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><strong>About the account set up and HR consultation process</strong></h4>
                <p>One of our degree qualified HR consultants will be working with you successfully induct you into Happy HR!</p>
                <div class="steps_abt">
                    <h4><strong>Step 1.</strong> Introduction call</h4>

                    <p>We will call you to discuss your business goals, what positions you have in the company, what these people do and how you want to measure them. We will also have a general discussion about HR at your company. We will also book in times
                        for the next 2 stages of induction.</p>


                    <h4><strong>Step 2.</strong> Pre-induction</h4>

                    <p>Our meetings are scheduled via Go-to-meeting, which is a screen sharing software. We will take you through a pre-induction where we will work on finalising your company position descriptions, company profile, policies and other features
                        of the system. All of your position descriptions created will be aligned to your operational, financial and strategic goals!</p>

                    <h4><strong>Step 3.</strong> Induction</h4>

                    <p>Induction is making any final changes required by yourself and once this is complete we will invite you and your staff into Happy HR.</p>

                    <p>At this time we will also integrate Xero, MYOB, QuickBooks, Key pay, Tanda or Deputy if you are already a subscriber to any of these software’s.</p>

                    <h4><strong>Step 4.</strong> Training</h4>

                    <p>We offer training for you and your management team to ensure they get the most out of the software. After this time our team of qualified HR professionals we will be here to assist you!</p>

                    <p>We do advise purchasing the account set up and HR consultation when you become a Happy HR subscriber.</p>

                    <p>Any questions? Call <strong><a href="tel:1300 730 880"> 1300 730 880 </a></strong> or email <strong><a href="mailto:happy@happyhr.com"> happy@happyhr.com </a></strong></p>
                </div>
            </div>

        </div>

    </div>
</div>-->
<!-- view popup -->
<!-- view popup -->