// .subscriptionPlane,.paymentOption{width:100%; max-width:1024px; }
.header {
    background: #333;
    padding: 8px 0;
}

.subscriptionPlane .plist {
    width: 20%;
    float: left;
    padding: 0 10px;
    margin-bottom: 15px;
}

.subscriptionPlane ul.plane {
    width: 100%;
    float: left;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 6px;
}

.pricing-head .callus {
    font-weight: 600;
    font-size: 17px;
    word-spacing: -1px;
    margin: 5.3px 0px;
    text-align: left;
    i {
        font-size: 23px;
    }
}

.pricing-head label {
    font-size: 18px;
    font-weight: normal;
    color: #b9b9b9;
    margin-top: 20px;
    text-align: left;
}

.pricing-head {
    text-align: center;
    background: #fafafa;
    min-height: 230px;
    padding: 15px 15px;
    border-bottom: 0px;
    border: 1px solid #d0d0d0;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
}

.pricing-head h3,
.pricing-head h4 {
    margin: 0;
    line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
}

.pricing-head h3 {
    padding: 12px 0;
    background: transparent;
    color: #4b4c4d;
    font-size: 20px;
    font-family: inherit;
    font-weight: 600;
    max-width: 125px;
    margin: 0px auto;
}

.pricing-head h4 {
    color: #4b4c4d;
    padding: 5px 0;
    font-size: 50px;
    font-weight: 600;
    font-family: inherit;
}

.pricing-head-active h4 {
    color: #36d7ac;
}

.pricing-head h4 i {
    top: -18px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    position: relative;
}

.pricing-head h4 span {
    top: 0px;
    font-size: 15px;
    position: relative;
    color: #afafaf;
    font-style: italic;
    font-weight: 500
}

.pricing {
    overflow: hidden;
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    -ms-border-radius: 0px 0px 6px 6px;
    -o-border-radius: 0px 0px 6px 6px;
}

i.fa.fa-check-circle {
    font-size: 25px;
    color: #4cd9aa;
    border: 0;
    position: relative;
    top: 2px;
}

i.fa.fa.fa-times-circle {
    font-size: 25px;
    color: #cbcbcb;
    position: relative;
    top: 2px;
}

#Credit #tab ul li label.alert {
    width: 100%;
    height: 23px;
    line-height: 0;
    margin: 0;
    font-size: 12px;
    margin-top: -11px;
    margin-bottom: 12px;
    border-radius: 0;
}


/*Pricing Content*/

.pricing-content {
    border: 1px solid #d0d0d0;
    border-top: 0px;
    border-bottom: 0px;
}

.pricing-content li:nth-child(even) {
    background: #f9f9f9;
}

.pricing-content li:last-child {
    height: 60px;
    line-height: 60px;
}

.pricing-content li small {
    line-height: 0;
    position: relative;
    top: -22px;
}

.pricing-content li {
    font-size: 16px;
    height: 40px;
    border-bottom: solid 1px #e2e2e2;
    font-weight: 600;
    font-family: inherit;
    vertical-align: middle;
    line-height: 42px;
    padding: 0 14px;
    small {
        color: #b7b7b7;
        font-size: 14px;
    }
    &:last-child {
        border-bottom: 0px;
    }
}


/*Pricing Footer*/

.pricing-footer {
    color: #777;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    padding: 0 20px 19px;
    position: relative;
    height: 50px;
}


/*Priceing Active*/

.price-active,
.pricing:hover {
    z-index: 9;
}

.price-active h4 {
    color: #36d7ac;
}

.no-space-pricing .pricing:hover {
    transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
    color: #36d7ac;
    padding: 15px 0;
    font-size: 80px;
    transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
    color: #FFFFFF;
    background-color: #64c3fa;
    width: 100%;
    position: absolute;
    font-size: 18px;
    height: 100%;
    border: 0;
    border-radius: 0;
    left: 0;
    top: 0;
    line-height: 37px;
    font-weight: 600;
    font-family: LatowebBold;
}

.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
    color: #FFFFFF;
    background-color: #06aed4;
}

.totalPrice,
.paymentBy {
    border: 1px solid #d0d0d0;
    border-radius: 6px;
    background: #fff;
    padding: 15px;
    overflow: hidden;
}

.paymentOption {
    margin-bottom: 40px;
}

.paymentOption .well {
    float: left;
    width: 100%;
}

.paymentOption ul.nav.nav-tabs li {
    padding: 13px 12px;
    width: 186px;
    text-align: center;
    position: relative;
}

.paymentOption ul.nav.nav-tabs li a:hover {
    text-decoration: none;
}

.paymentOption ul.nav.nav-tabs li a {
    font-size: 16px;
    color: #4b4c4d;
    font-family: LatowebBold;
}

.paymentOption ul.nav.nav-tabs li.active {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 0;
}

.paymentOption ul.nav.nav-tabs li.active:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 0;
    left: 0;
    background: #ffcc33;
}

.paymentOption ul.nav.nav-tabs li.active:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background: #fff;
}

.paymentBy h1 {
    font-weight: 600;
    font-family: LatowebHeavy;
    font-size: 24px;
    margin: 4px 6px 24px;
    color: #4b4c4d;
}

.payOption ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

#Credit #tab li.liright {
    width: 63%;
    float: left;
}

#Credit #tab li.lileft {
    text-align: right;
    width: 37%;
    float: left;
}

#Credit #tab ul li label {
    font-size: 15px;
    margin: 0;
    margin-top: 8px;
    vertical-align: middle;
    padding-right: 18px;
    font-family: inherit;
}

#Credit #tab ul li.liright {
    text-align: left;
    vertical-align: top;
}

#Credit #tab ul li.liright h5 {
    margin: 0;
    font-weight: 700;
}

#Credit,
#Direct {
    float: left;
    width: 100%;
    max-width: 590px;
    padding: 38px 0 15px;
}

.paymentOption .payOption {
    margin-bottom: 39px;
}

#Credit #tab ul li p {
    font-size: 14px;
    color: #333;
    opacity: 0.7;
    margin-bottom: 9px;
}

#Credit .btn,
#Direct .btn {
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0 0px;
}

.paymentOption .fa-question-circle:before {
    color: #00c8f5;
    font-size: 23px;
    position: absolute;
    right: -11px;
    top: 9px;
}

.paymentOption .form-control {
    height: 40px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #b7b7b7;
}

.paymentOption #tab ul li.checkbox label {
    padding-left: 31px;
    position: relative;
}

.paymentOption #tab ul li.checkbox label input[type="checkbox"] {
    display: none;
}

.paymentOption #tab ul li.checkbox label span::after {
    content: '';
    position: absolute;
    border: 1px solid #7d7d7d;
    width: 19px;
    height: 18px;
    left: 4px;
    top: 7%;
}

.totalPrice {
    padding: 0;
}

.paymentOption,
.subscriptionPlane {
    width: 100%;
    margin-bottom: 4px;
}

.subscriptionPlane {
    .plane {
        .plist {
            &:first-child {
                .pricing-head {
                    h3 {
                        max-width: 100%;
                    }
                }
                .pricing-content {
                    border-radius: 0px 0px 6px 6px;
                    border-bottom: 1px solid #d0d0d0;
                }
            }
        }
    }
}

.paymentOption #tab ul li.checkbox label input[type="checkbox"]:checked+span:after {
    content: "\F00C";
    line-height: 16px;
    font-family: 'FontAwesome';
    font-weight: 100;
    color: #333;
    font-size: 16px;
}

.totalPrice h2 {
    font-family: 'LatoWebBlack';
    font-size: 24px;
    color: #4b4c4d;
    margin: 19px 0 8px;
}

.totalPrice h3 {
    font-size: 16px;
    margin: 0;
    padding: 0 13px 5px;
    margin-top: 12px;
    font-family: 'LatoWebBlack';
}

.totalPrice p {
    font-family: 'LatoWebBlack';
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    color: #4b4c4d;
}

.totalPrice .border-bottom {
    border-bottom: 1px solid #d4d4d4;
    margin: 12px 0 0;
}

.totalPrice table {
    font-size: 16px;
    font-weight: 600;
}

.totalPrice table td {
    padding: 3px 0;
    font-weight: normal;
    font-size: 15px;
}

.totalPrice table tfoot {
    background: #333;
    color: #f5f5f5;
    padding: 6px 0px
}

.totalPrice table td {
    padding: 0;
    padding-right: 15px;
}

.totalPrice table td.rows {
    padding: 0;
    padding-left: 15px;
}

.totleSign {
    border-bottom: 1px solid #d4d4d4;
    margin: 14px 15px;
    width: 83%;
    position: relative;
}

.totleSign:before {
    content: '=';
    position: absolute;
    top: -9px;
    right: -14px;
    color: #a2a2a2;
    font-size: 19px;
}

.totalPrice table tfoot td.rows {
    padding: 12px 0px 11px 15px;
    font-size: 15px;
}

.pricing:hover {
    box-shadow: 0px 6px 7px 2px #dedede;
    -webkit-box-shadow: 0px 6px 7px 2px #dedede;
    -moz-box-shadow: 0px 6px 7px 2px #dedede;
    -ms-box-shadow: 0px 6px 7px 2px #dedede;
    -o-box-shadow: 0px 6px 7px 2px #dedede;
}

@media screen and (max-width:991px) {
    .subscriptionPlane .plist {
        width: 33%;
    }
    .payOption ul li {
        margin-bottom: 12px;
    }
    .paymentOption ul.nav.nav-tabs li {
        padding: 9px 12px;
        width: 145px;
    }
    .totalPrice table {
        font-size: 13px;
        font-weight: 600;
    }
    .paymentOption .form-control {
        width: 100% !important;
    }
    #Credit #tab li.lileft,
    #Credit #tab li.liright {
        width: 100%;
        text-align: left!important;
        height: auto;
        min-height: inherit;
    }
    #Credit .text-right {
        text-align: left!important;
    }
    .paymentOption .fa-question-circle:before {
        color: #00c8f5;
        font-size: 23px;
        position: relative;
        top: 9px;
        left: 12px;
    }
}

@media screen and (max-width:767px) {
    .subscriptionPlane .plist {
        width: 50%;
    }
    .paymentOption .col-lg-9 {
        padding-right: 15px !important;
    }
    .paymentOption #tab ul li.checkbox label span::after {
        top: 10%;
    }
    .totalPrice {
        margin-top: 15px;
    }
    .paymentOption .fa-question-circle:before {
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:479px) {
    .subscriptionPlane .plist {
        width: 100%;
    }
}


/*----new pricing start--------*/

.pricing {
    border-bottom: 1px solid #ffcc33;
    padding-top: 20px !important;
    padding-bottom: 90px;
    padding: 20px 0px 45px 0px !important;
    background: rgba(255, 204, 51, .2);
}

.insidemenu>li:last-child>a {
    background: #64c3fa;
    font-weight: bold;
    border-radius: 5px;
    background: #64c3fa;
    padding: 10px 25px;
    color: #fff !important;
}

.insidemenu>li:last-child>a:hover {
    background: #64c3fa;
    color: #fff !important;
}

.insidemenu>li>a {
    color: #000 !important;
}

.insidemenu>.active>a {
    color: #64c3fa !important;
    border: none !important;
    background: #fff5d6 !important;
}

.pricingtblhed {
    background-color: #f3f5f7;
}

.pricingtblbody {
    background-color: #fafafa;
}

.pricingtable {
    border-collapse: separate;
    border-spacing: 20px 0px;
    margin-bottom: 0px !important;
}

.planrespo {
    position: relative;
    top: 5px;
}

.pricingtable>thead>tr>th {
    border-top: 1px solid #d1d1d1;
    width: 20%;
    font-family: inherit !important;
}

.pricingtable>thead>tr>th>div {
    text-align: center;
}

.pricingtable>thead>tr>th>div>h3 {
    font-weight: bold;
    font-size: 20px;
}

.pricingtable>thead>tr>th>div {
    padding: 0px;
    border-bottom: 1px solid #d1d1d1;
}

.pricingtable>thead>tr>th>div>p {
    margin-bottom: 25px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.cmpnycontentBox {
    padding: 20px 0px;
}


/*.pricingtable>thead>tr>th>div>p span{position: absolute;right:0;bottom: 0;}*/

.pricingtable>thead>tr>th>div>p span {
    font-weight: bold;
    font-size: 24px;
    line-height: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.pricingtable>thead>tr>th>div>p>b {
    margin-right: 4px;
}

.pricingtable>thead>tr>th>div>p> {
    font-weight: bold;
}

.pricingtable>tbody>tr>td {
    padding: 20px 0px;
    border: 1px solid #d1d1d1;
    border-top: 0px;
    vertical-align: middle;
    text-align: center;
}

.pricingtable>thead>tr>th:first-child {
    border: none;
}

.pricingtable>thead>tr>th {
    padding: 0px 20px;
    border: 1px solid #d1d1d1;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
}

.pringborderrad {
    border-radius: 4px 4px 0px 0px;
}

.pringborderrad12 {
    border-radius: 0px 0px 4px 4px;
}

.pricingtable>tbody>tr>td>p {
    line-height: 20px;
    font-size: 17px;
    color: #acacac;
    margin-bottom: 0px;
}

.pricingtable>tbody>tr>td>h4 {
    margin-top: 10px;
    font-weight: bold;
    line-height: 20px;
    font-size: 18px;
    color: #4b4c4d;
}

.pricingtable>tbody>tr>td>h2 {
    margin-top: 0px;
    padding-left: 20px;
    margin-bottom: 0px;
    color: #4b4c4d;
    font-weight: bold;
    font-size: 50px;
}

.pricingtable>tbody>tr>td>h2>i {
    font-size: 18px;
    position: relative;
    top: -30px;
    left: -5px;
    font-style: normal;
}

.pricingtable>tbody>tr>td>h2>span {
    font-weight: 400;
    position: relative;
    top: -18px;
    color: #4b4c4d;
    font-size: 25px;
}

.pricingtable>tbody>tr>td>h2>p {
    font-size: 12px;
    display: inline-block;
    position: relative;
    left: -35px;
    margin-bottom: 0px;
    color: #acacac;
}

.pricingtable>tbody>tr>td>h4>i {
    margin-right: 15px;
    font-weight: bold;
    line-height: 20px;
    font-size: 18px;
    color: #4b4c4d;
}

.pricingtable>tbody>tr>td>.preemp {
    text-align: center;
    display: block;
    margin-top: 0px;
    font-size: 16px;
}

.pricingtable>tbody>tr>td>.min-emp {
    text-align: center;
    display: block;
    margin-top: 0px;
    font-size: 16px;
    color: #acacac;
}

.pricingtable>tbody>tr>td>.pricingcross {
    font-size: 25px;
    color: #cbcbcb;
}

.useally {
    line-height: 18px;
    font-style: italic;
}

.pricingtable>tbody>tr>td>.pricingview {
    border-radius: 5px;
    border: none;
    background: #4cd9aa;
    padding: 7px 40px;
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    cursor: pointer;
}

.pricingtdleft {
    padding: 15px !important;
    text-align: left !important;
}

.pricingtable>tbody>tr>td>.pricingcheck {
    font-size: 25px;
    color: #4cd9aa;
}

.pricingtable>tbody>tr>.blogs {
    padding: 40px 0px;
}

.pricingbtm {
    background: none !important;
    border: none !important;
}

.pricingcall {
    border-top: 1px solid #d1d1d1 !important;
    background-color: #fffaea;
}

.getstartedpricing {
    border: none !important;
    padding: 0px !important;
}

.getstartedpricing>.btn {
    font-size: 18px;
    padding: 15px;
    border-radius: 0px;
    font-family: LatowebBold;
    background: #64c3fa;
    border: none;
    display: block;
}

.getstartedpricing>.btn:hover {
    background: #b0b0b0;
}

.getstartedpricing>.btn.active {
    background: #2f95d0
}

.scntset {
    font-size: 14px !important;
    color: #000 !important;
}

.couponBox {
    .form-control {
        max-width: 64%;
        display: inline-block;
    }
    span {
        color: #EF5350;
        i.fa.fa.fa-times-circle {
            color: #EF5350;
        }
    }
}


/*----pricing end--------*/