
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

<div *ngIf="!isProcessing" >

Proposed time : {{response?.proposedTime}}
    <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>

<button *ngIf="!isCreateProcessing" (click)="onResponse('Accept')" class="btn btn-success">Accept </button>
<button *ngIf="!isCreateProcessing" (click)="onResponse('Reject')" class="btn btn-danger">Reject </button>
</div>