<div class="container-fluid">
    <div class="dashboard">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>

        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="row">
                <div class="col-lg-7 col-sm-7 flWidth">
                    <div class="cmpnycontentBoxInner paneldashboard">
                        <div class="innerHead">
                            <h4 class="heading">Activity status</h4>
                            <span class="float-right collapseIcon" [ngClass]="{active:activityCollapse}" (click)="activityCollapse=!activityCollapse">
                                <i [ngClass]="activityCollapse?'fa-plus':'fa-minus'" class="fa"></i>
                            </span>
                        </div>

                        <div class="tableWrapper newTblStyle" style="max-height:700px;" [hidden]="activityCollapse" mySlimScroll>
                            <table>
                                <thead>
                                    <th class="activityFrstH">Tasks</th>
                                    <th>
                                        Done
                                    </th>
                                    <th>
                                        Overdue
                                    </th>
                                    <th>
                                        Due today
                                    </th>
                                    <th>
                                        Upcoming
                                        <!--<span class="byDate">(by date)</span>-->
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let status of dashBoard?.activityStatus">

                                        <td>
                                            <div style="position:relative; padding-left:53px;">
                                                <span class="task text-uppercase" style="position:absolute;left:0;">{{status?.abbr}}</span>
                                                <!--<div class="task-dtl">{{status?.title}}</div>-->
                                            </div>
                                        </td>

                                        <td><span class="tDone" [innerHTML]="status.completed"></span></td>

                                        <td><span class="tOverdue" [innerHTML]="status.overdue"></span></td>

                                        <td><span class="tgrey" [innerHTML]="status.dueToday"></span></td>

                                        <td><span class="tgrey" [innerHTML]="status.upcoming"></span></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="alert alert-danger full-width text-center" *ngIf="dashBoard?.activityStatus.length==0">Record not found.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-5 flWidth">
                    <div class="cmpnycontentBoxInner paneldashboard">
                        <div class="innerHead">
                            <h4 class="heading">Activity status</h4>
                            <span class="float-right collapseIcon" [ngClass]="{active:actStatusCollapse}" (click)="actStatusCollapse=!actStatusCollapse">
                                <i [ngClass]="actStatusCollapse?'fa-plus':'fa-minus'" class="fa"></i>
                            </span>
                        </div>
                        <div class="tableWrapper newTblStyle" style="max-height:700px;" [hidden]="actStatusCollapse" mySlimScroll>
                            <table>
                                <thead>
                                    <th class="activityFrstH">Tasks</th>
                                    <!-- <th>
                                        Approve &nbsp;<i class="fa fa-sort"></i>
                                    </th> -->
                                    <th>
                                        Pending
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let status of dashBoard?.approvalData">
                                        <td>
                                            <div style="position:relative; padding-left:53px;">
                                                <span class="task" style="position:absolute;left:0;">{{status?.abbr}}</span>
                                                <div class="task-dtl">{{status?.title}}</div>
                                            </div>
                                        </td>
                                        <!-- <td><span class="tDone">{{status?.approved}}</span></td> -->
                                        <td [innerHTML]="status.pending"></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="alert alert-danger full-width text-center" *ngIf="dashBoard?.approvalData.length==0">Record not found.</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-sm-5 flWidth">
                    <div class="cmpnycontentBoxInner paneldashboard">
                        <div class="innerHead">
                            <h4 class="heading">Staff Tenure</h4>
                            <span class="float-right collapseIcon" [ngClass]="{active:staffCollapse}" (click)="staffCollapse=!staffCollapse">
                                <i [ngClass]="staffCollapse?'fa-plus':'fa-minus'" class="fa"></i>
                            </span>
                        </div>
                        <div class="tableWrapper newTblStyle">
                            <div style="max-height:700px;" [hidden]="staffCollapse" mySlimScroll>
                                <table>
                                    <thead>
                                        <th>#</th>
                                        <th>Employee</th>
                                        <th>Weeks</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <span class="userprofile">
                                              <img src="assets/images/user1.png" />
                                            </span> Alfred
                                            </td>
                                            <td>48 Weeks</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <span class="userprofile">
                                              <img src="assets/images/user2.png" />
                                            </span> Emma
                                            </td>
                                            <td>53 Weeks</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>
                                                <span class="userprofile">
                                              <img src="assets/images/user3.png" />
                                            </span> Katherine..
                                            </td>
                                            <td>25 Weeks</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="actions"><button class="btn btn-primary">See More</button></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-sm-7 flWidth">
                    <div class="cmpnycontentBoxInner paneldashboard">
                        <div class="innerHead">
                            <h4 class="heading">Expiring Documents</h4>
                            <span class="float-right collapseIcon" [ngClass]="{active:expDocCollapse}" (click)="expDocCollapse=!expDocCollapse">
                                <i [ngClass]="expDocCollapse?'fa-plus':'fa-minus'" class="fa"></i>
                            </span>
                        </div>
                        <div class="tableWrapper newTblStyle">
                            <div style="max-height:700px;" [hidden]="expDocCollapse" mySlimScroll>
                                <table>
                                    <thead>
                                        <th class="activityFrstH">#</th>
                                        <th>Employee</th>
                                        <th> Document</th>
                                        <th>Expiry Date</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img src="assets/images/user1.png" /> Alfred</td>
                                            <td>Brunswick</td>
                                            <td>10/02/2018</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td><img src="assets/images/user2.png" /> Emma</td>
                                            <td>South Yarra</td>
                                            <td>04/09/2018</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td><img src="assets/images/user3.png" /> Katherine</td>
                                            <td>Fitzori</td>
                                            <td>08/05/2018</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="actions"><button class="btn btn-primary">See More</button></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div *ngIf="userData.userRole=='companyAdmin' && !userData.oldUserRole && !userData.subRole" class="col-lg-6 col-sm-6 flWidth">
                    <div class="cmpnycontentBox recentActivity">
                        <div class="cmpnycontentBoxInner">
                            <div class="topHead">
                                <h4 class="heading">Recent activity</h4>
                                <!-- <div class="dateList">
                                    <div class="row">
                                        <div class="col-sm-9">Date</div>
                                        <div class="col-sm-3">All user</div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="recentActiDateList">
                                <h5>Today</h5>
                                <ul style="max-height:250px;" mySlimScroll=''>
                                    <li *ngFor="let status of dashBoard?.activityLog['Today']">
                                        <div class="media">
                                            <!-- <div class="media-left d-flex align-self-center  media-middle">
                                                <img class="img-circle" height="30px" src="assets/images-demo/avatars/1.jpg" width="30px">
                                            </div> -->
                                            <div class="media-right">
                                                <div [innerHTML]="status.message"></div>
                                                <!-- <span>Sahit Tran </span> created a new <strong>PIP</strong> for <span>Danny Bolt</span> -->
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="media">
                                            <div class="media-left d-flex align-self-center  media-middle">
                                                <img class="img-circle" height="30px" src="assets/images-demo/avatars/1.jpg" width="30px">
                                            </div>
                                            <div class=" media-right"><span>Sahit</span> rescheduled a <strong>Training plan meeting</strong> Between <span>Paul Hayes</span> and <span>Jimmy kendal</span>.</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="media-left  media-middle">
                                                <img class="img-circle" height="30px" src="assets/images-demo/avatars/1.jpg" width="30px">
                                            </div>
                                            <div class="media-right"><span>Sahit</span> rescheduled a <strong>Training plan meeting</strong> Between <span>Paul Hayes</span> and <span>Jimmy kendal</span>.</div>
                                        </div>
                                    </li> -->
                                </ul>


                            </div>
                            <div class="recentActiDateList">
                                <h5>Yesterday</h5>
                                <ul style="max-height:250px;" mySlimScroll>
                                    <li *ngFor="let status of dashBoard?.activityLog['Yesterday']">
                                        <div class="media">
                                            <!-- <div class="media-left d-flex align-self-center  media-middle">
                                                        <img class="img-circle" height="30px" src="assets/images-demo/avatars/1.jpg" width="30px">
                                                    </div> -->
                                            <div class="media-right">
                                                <div [innerHTML]="status.message"></div>
                                                <!-- <span>Sahit Tran </span> created a new <strong>PIP</strong> for <span>Danny Bolt</span> -->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 flWidth">
                    <div class="cmpnycontentBox recentActivity shoutOuts">
                        <div class="topHead">
                            <h4 class="heading">Trophy & shoutouts</h4><button class="btn btn-primary pull-right" style="top:-5px;" (click)="createShootout()">Create shoutout</button>
                        </div>
                        <div class="cmpnycontentBoxInner recentActiDateList" style="max-height:500px;" mySlimScroll>
                            <ul *ngFor="let c of dashBoard?.trophyAndShoutouts">
                                <li *ngIf="c.trophyID" class="clearfix">
                                    <div class="actionIcon">
                                        <div class="trophyClr">
                                            <i class="fa fa-trophy"></i>
                                            <img [src]="c?.icon" />
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left d-flex  media-middle">
                                            <img class="img-circle" style="height:48px;width:48px;" [src]="c.userID.imageUrl">
                                        </div>
                                        <div class=" media-right">
                                            <h5 class="heading">{{c?.title}}</h5>
                                            <p><a class='cursor' (click)="onViewProfile(c.userID.userID)">{{c.userID.name}}</a> <span class="datetime">, issued by vote (all employees) on {{c?.insertTime | dateFormat}}.</span></p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="c.shoutoutID" class="clearfix">
                                    <div class="actionIcon"><img src="assets/images/shoutout.png" /></div>
                                    <div class="media">
                                        <div class="media-left d-flex  media-middle">
                                            <img class="img-circle" height="50px" [src]="c.userID.imageUrl" width="50px">
                                        </div>
                                        <div class=" media-right">
                                            <h5 class="heading">Shoutout to</h5>
                                            <p><a class="cursor" (click)="onViewProfile(c.userID.userID)">{{c?.userID?.name}}</a> {{c?.reason}} <span class="datetime">, Shoutout from <strong>{{c?.shoutoutBy?.name}}</strong> on {{c?.insertTime | dateFormat}}</span></p>
                                        </div>
                                        <div class="commentbtnbox text-right">
                                            <button class="btn btn-primary btn-sm" (click)="addCommentPopup(c)">{{c.comments.length}} Comment(s)</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="cmpnycontentBox recentActivity">
                    <div class="cmpnycontentBoxInner">
                        <div class="topHead">
                            <h4 class="heading">List of shoutout given</h4><button class="btn btn-primary pull-right">View all</button>
                            <div class="dateList">

                            </div>
                        </div>
                        <div class="recentActiDateList">
                            <div class="tableWrapper">
                                <table>
                                    <thead>
                                        <th style="width:67px;">
                                            S. no.
                                        </th>
                                        <th>
                                            Employee
                                        </th>
                                        <th>
                                            Date
                                        </th>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div> -->
                </div>
            </div>
        </div>
        <div *ngIf="!isProcessing" class="fullCalendar newFullCalandar row">
            <div class="col-md-2">
                <div class="calenderleftbar">
                    <div class="categories">
                        <h4>Categories</h4>
                        <ul>
                            <li class="pip">PIP</li>
                            <li class="bpip">BPIP</li>
                            <li class="devPlan">DEV Plan</li>
                            <li class="leave">Leave</li>
                            <li class="trainingDay">Training Day</li>
                            <li class="pbMeeting">Probationary Meeting</li>
                            <li class="disciplinary">Disciplinary Meeting</li>
                            <li class="pApraisal">Performance Appraisal</li>
                            <li class="gvMeeting">Grievance Meeting</li>
                            <li class="companyEvent">Company Event</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cmpnycontentBox col-md-10 activityDDpos dshDD">
                <div class="calendarFilters">
                    <div class="filterscol">
                        <label>Sort By: </label>
                        <ul>
                            <li><a href="#">Event <i class="fa fa-angle-down"></i></a></li>
                            <li><a href="#">Employee <i class="fa fa-angle-down"></i></a></li>
                            <li><a href="#">Day</a></li>
                            <li><a href="#">Week</a></li>
                            <li><a href="#">Month</a></li>
                            <li><a href="#">Leave</a></li>
                        </ul>
                    </div>
                    <div class="createEvents">
                        <a hrf="#" class="btn btn-success btn-event">Create Event <i class="fa fa-plus"></i></a>
                        <span class="userIcon"></span>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isEmployeeListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isEmployeeListProcessing" class="FilterDroapdown chooseQuestion DDaction">
                    <angular2-multiselect (onDeSelect)="OnItemDeSelect($event)" required [data]="dropdownListEmployees" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                    </angular2-multiselect>
                </div>

                <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>

            </div>
        </div>
    </div>
</div>

<!--<button (click)='onActivitiesAndApprovals()' class='btn btn-primary'> Activiotes and approvals</button>-->