.dashboard {
    .cmpnycontentBox {
        margin-bottom: 20px;
        .cmpnycontentBoxInner {
            position: relative;
            .settingButton {
                padding: 0;
                position: absolute;
                right: -24px;
                top: -36px;
                i {
                    color: #222;
                    font-size: 25px;
                }
            }
            h4 {
                margin: 0;
                font-size: 25px;
            }
            table {
                min-width: 100%;
                @media(max-width: 767px) {
                    min-width: 760px;
                }
                thead {
                    th {
                        padding: 6px 12px;
                        border: 1px solid #cbcbcb;
                        border-bottom: 3px solid #cbcbcb;
                        font-size: 13px;
                        @media(max-width: 1360px) {
                            padding: 6px;
                        }
                        .byDate {
                            display: block;
                            line-height: 10px;
                        }
                        i {
                            position: relative;
                            top: 1px;
                        }
                    }
                    th:first-child {
                        font-size: 15px;
                    }
                }
                tr {
                    td {
                        text-align: center;
                        color: #444;
                        border: 1px solid #cbcbcb;
                        height: 46px;
                        .byDate {
                            display: block;
                        }
                        .task {
                            background: #f3f3fb;
                            color: #8a88d9;
                            width: 45px;
                            height: 20px;
                            line-height: 22px;
                            text-transform: uppercase;
                            display: inline-block;
                            margin-right: 5px;
                            text-align: center;
                            border: 1px solid #ddd;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .tDone {
                            color: #4cd9aa;
                            transition: all 0.1s;
                            -webkit-transition: all 0.1s;
                            -moz-transition: all 0.1s;
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 32px;
                            text-align: center;
                            cursor: pointer;
                            &:hover {
                                background: #4cd9aa;
                                color: #fff;
                                border-radius: 50%;
                            }
                        }
                        .tOverdue {
                            color: #ff8383;
                            transition: all 0.1s;
                            -webkit-transition: all 0.1s;
                            -moz-transition: all 0.1s;
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 32px;
                            text-align: center;
                            cursor: pointer;
                            &:hover {
                                background: #ff8383;
                                color: #fff;
                                border-radius: 50%;
                            }
                        }
                        .tgrey {
                            transition: all 0.1s;
                            -webkit-transition: all 0.1s;
                            -moz-transition: all 0.1s;
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            line-height: 32px;
                            text-align: center;
                            cursor: pointer;
                            &:hover {
                                background: #4b4c4d;
                                color: #fff;
                                border-radius: 50%;
                            }
                        }
                    }
                    td:first-child {
                        text-align: left
                    }
                }
            }
        }
    }
    .recentActivity {
        padding: 20px 0;
        .topHead {
            padding: 0 20px 20px 20px;
            ;
            border-bottom: 1px solid #cbcbcb;
            position: relative;
            .dateList {
                padding-top: 20px;
            }
            .btn-primary {
                position: absolute;
                top: 0px;
                right: 20px;
                @media(max-width: 480px) {
                    position: static;
                    margin-top: 10px;
                    float: none !important;
                }
            }
        }
        .recentActiDateList {
            padding: 20px 20px 0 20px;
            h5 {
                margin-top: 0;
                font-family: 'LatoWebHeavy';
                font-size: 19px;
            }
            ul {
                border-bottom: 1px solid #cbcbcb;
                max-height: 400px;
                overflow: auto;
                li {
                    font-size: 15px;
                    margin-bottom: 15px;
                    line-height: 19px;
                    .media-right {
                        padding-left: 10px;
                    }
                }
            }
        }
        .cmpnycontentBoxInner {
            .settingButton {
                right: -2px;
            }
        }
    }
}

@media(max-width:1260px) {
    .flWidth {
        width: 100%;
        min-width: 100%;
    }
}

.task-dtl {
    display: inline-block !important;
}