.cmpnycontentBox{
    margin-bottom: 20px;
    .cmpnycontentBoxInner{
        button{
            font-size: 18px;
            padding: 10px 40px;
            }

        .empQuesAnsWrapper {
            background: #f5f5f5;
            padding: 30px;
            margin-bottom: 25px;
            @media(max-width:767px){
                padding: 15px 20px;
            }
            .empQuesInner{
                background: #fff;
                padding: 20px;
                margin-bottom: 20px;
                position: relative;
                @media(max-width:767px){
                   padding: 15px;
                }
                .editAnswer{
                    position: absolute;
                    right: 20px;
                    top:20px;
                    i{
                        font-size: 20px;
                        color: #000;
                    }
                }
                h4{
                    margin-top: 0;
                    @media(max-width:767px){
                        font-size: 18px;
                        padding-right: 25px;
                    }
                }
                p{
                    margin-bottom: 0;
                }
            }
            & .empQuesInner:last-child{
                margin-bottom: 0;
            }

        }
        .header-top{
            .col-sm-6{
                margin-bottom: 20px;
            }
            button{
                margin-left: 50px;
                padding: 3px 10px;
                font-size: 15px;
                border-radius: 2px;
            }
        }
    }
}