<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee/survey']">Survey list</a></li>
                <li class="breadcrumb-item active">Employee survey result</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing && noResult" class="col-sm-12">
            <div class="cmpnycontentBox text-center"> No result found. </div>
        </div>
        <div *ngIf="!isProcessing && !noResult" class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="cmpnycontentBoxInner">
                    <div class="header-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <h4 class="heading" style="margin-top:15px;"> Assigned manager</h4>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="media">
                                    <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="assets/images/g1.jpg" height="40px" width="40px" /></div>
                                    <div class="d-flex align-self-center  media-right d-flex align-self-center">
                                        <p style="margin: 0;padding-left: 12px;"><b>{{survey?.assignedBy?.name}}</b><br>{{survey?.assignedBy?.position || 'Not specified'}}</p>
                                    </div>
                                </div>
                                <button *ngIf="survey?.assignedBy?.role" class="btn btn-primary">{{survey?.assignedBy?.role || 'Not Specified'}}</button>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-2"><b>Date</b></div>
                                    <div class="col-10">{{formatDate(survey?.surveyDate)}}</div>
                                    <div class="col-2"><b>Time</b></div>
                                    <div class="col-10">{{formatTime(survey?.surveyDate)}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--manager detail-->
            <div class="cmpnycontentBox">
                <div class="cmpnycontentBoxInner">
                    <div class="empQuesAnsWrapper" *ngFor="let qsn of survey?.data;let i=index;">
                        <div class="empQuesInner">
                            <h4 class="heading">Question {{i+1}}</h4>
                            <p>{{qsn?.questionTitle}}</p>
                        </div>
                        <div class="empQuesInner">
                            <h4 class="heading">Employee answer survey question </h4>
                            <p>{{qsn?.answer}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>