<div class="container-fluid">
    <h3 class="heading" [hidden]="true">General notes</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">General notes</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">

                <div class="file-notes-list">

                    <div class="row">
                         <div class="col-xl-7 col-lg-5 col-md-4">
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input name="srch" [(ngModel)]="serchFor" type="text" class="form-control" placeholder="Search for" />
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="filter">
                                <!--<div class="form-group">
                                    <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 pull-right">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onAddNote()">Create note <span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="tableWrapper">
                        <div *ngIf="(!isProcessing) &&  (notesList.length == 0)" class="alert alert-danger">
                            Record not found
                        </div>
                        <br>
                        <table *ngIf="(!isProcessing) &&  (notesList.length != 0)" [mfData]="notesList" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead *ngIf="notesList.length && !isProcessing">
                                <th style="width: 70px;">S. no.</th>
                                <th>
                                    <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="generalNoteFile">File Uploaded &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>

                                <th>
                                    <mfDefaultSorter by="insertTime"> Created on &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="insertTime"> Uploaded by &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    Actions
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let items of mf.data |searchByKey:serchFor:'title'; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{items.title}}</td>
                                    <td>{{items.generalNoteFile}}</td>
                                    <td>{{items.insertTime| dateFormat}}</td>
                                    <td>{{items.uploadedByUser.name}}</td>
                                    <td>
                                        <md-progress-spinner style="margin-top:20px;" *ngIf="items.isDeleteProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                        <div *ngIf="!items.isDeleteProcessing" class="dropdown actionDroapdown actionDDtbl">
                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <button (click)="onViewDetails(items)" class="dropdown-item btn-none color-primary"><i class="fa fa-eye"></i> View details</button>
                                                <button (click)="onEdit(items)" class="dropdown-item btn-none color-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                                <button (click)="onDownload(items)" class="dropdown-item btn-none color-primary"><i class="fa fa-download"></i> Download Uploaded file</button>
                                                <button (click)="onDelete(items)" class="dropdown-item btn-none color-primary"><i class="fa fa-trash"></i> Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                <tr class="danger" style="text-align:center" *ngIf="!notesList.length && isProcessing">
                                    <td colspan="4">Record not found</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>