<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/ohs-listing']">OH&S</li>
                    <li class="breadcrumb-item active">Incident reported</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12 PIPmainBox grievanceMain text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="PIPFormbox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Title</label>
                                        </div>
                                        <div class="rghtinput10 txtoutput">
                                            {{ohs?.title}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Type of issue</label>
                                        </div>
                                        <div class="rghtinput10 txtoutput">
                                            {{ohs?.issueType}}
                                        </div>
                                    </div>
                                    <div *ngIf="ohs?.issueOtherType" class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Other issue type</label>
                                        </div>
                                        <div class="rghtinput10 txtoutput">
                                            {{ohs?.issueOtherType}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Date & time of incident</label>
                                        </div>
                                        <div class="rghtinput10 txtoutput">
                                            {{formatDateTime(ohs?.issueDate)}}
                                            <!-- <input [readonly]=true required placeholder="Select date" class="form-control" ngui-datetime-picker date-format="YYYY-MM-DD"
                                                    date-only=true [close-on-select]="true" /> -->
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Time of Incident</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input [readonly]=true placeholder="Select time" class="form-control" ngui-datetime-picker date-format="hh:mm:ss" time-only=true
                                                    [close-on-select]="true" />
                                            </div>
                                        </div> -->
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Document</label>
                                        </div>
                                        <div *ngIf="ohs?.document.length" class="rghtinput10">
                                            <div class="downloads">
                                                <ul>
                                                    <li *ngFor="let item of ohs?.document">
                                                        <div class="downloadfile"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                                                        <a class="name" href="{{item}}" download>Download</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngIf="!ohs?.document.length" class="rghtinput10 txtoutput">
                                            Not specified
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Location</label>
                                        </div>
                                        <div class="rghtinput10 txtoutput">
                                            {{ohs?.location}}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Witness</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of ohs?.witness">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl"></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Persons involved</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of ohs?.personInvolved">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl"></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Describe what happened and what is being reported</label>
                                        </div>
                                        <div class="rghtinput10 txtoutput">
                                            {{ohs?.description}}.
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-12">
                                        <div class="description">
                                            <label>Describe what happened and what is being reported</label>
                                            <div class="answer"></div>
                                        </div>
                                    </div>-->
                                    <div class="col-sm-12 form-group text-center btnWraper">
                                        <button [routerLink]="['/app/company-admin/ohs/company-admin-notified', ohs?.ohsID]" class="btn btn-lg btn-primary">Next</button>
                                        <!-- <button class="btn btn-lg btn-danger">High Risk</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>