.marginBottom {
    margin-bottom: 20px;
}

.marginTop {
    margin-top: 20px;
}

.attendeesList {
    .pipEmpuserPic {
        display: inline-block;
        margin-right: 20px;
    }
}

.issueChoice {
    margin-top: 10px;
}

.customchoosefilebtn {
    .form-control {
        width: 260px;
        display: inline-block;
    }
    .btn-bs-file {
        left: -7px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 5px 20px;
        top: 2px;
    }
}

.txtoutput {
    margin-top: 8px;
}

.btnWraper {
    button:first-child {
        margin-right: 10px;
    }
}

.description {
    margin-bottom: 20px;
    label {
        font-weight: 600;
    }
}

.downloads {
    li {
        margin-bottom: 4px;
        text-align: center;
        display: inline-block;
        margin-right: 20px;
        .downloadfile {
            font-size: 30px;
        }
    }
}

.PIPmainBox .PIPFormbox .form-group {
    margin-bottom: 15px !important;
}