<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/development-plan-list']">Development plan</a></li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div style="margin-top:0px" class="PIPmainBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div>
            <div *ngFor="let developmentPlanOld of developmentPlanOld; let i =index" class="collapseInfoBox">
                <h4 *ngIf="developmentPlanOld" (click)="originalPIPToggle[i]=!originalPIPToggle[i]" [ngClass]="{active:originalPIPToggle[i]}">{{developmentPlanOld?.title}}
                    <span class="float-right"><i class="fa fa-angle-down"></i></span>
                    <div style="font-size: 14px; padding-right: 10px; margin-top: 4px;" class="float-right">Created on : {{developmentPlanOld?.insertTime| dateFormat}}</div>
                    <div style="font-size: 16px; padding-right: 10px; margin-right: 8px;    margin-top: 4px;" class="float-right">V {{i+1}}</div>
                </h4>
                <div *ngIf="developmentPlanOld" class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle[i]}">
                    <div class="cmpnycontentBox">
                        <div class="pipHeader">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <h3 class="heading">Development plan</h3>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Development plan for:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlanOld?.developmentFor?.imageUrl}}" alt="" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlanOld?.developmentFor?.employee}}</h5>
                                                <div class="designation">{{developmentPlanOld?.developmentFor?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Assigned manager:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlanOld?.assinedBy?.imageUrl}}" alt="" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlanOld?.assinedBy?.employee}}</h5>
                                                <div class="designation">{{developmentPlanOld?.assinedBy?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Involved third parties</div>
                                        <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                            <input type="text" readonly class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                            <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                <li *ngFor="let e of developmentPlanOld.thirdParty">
                                                    <img src="{{e?.imageUrl}}" alt="" />
                                                    <div class="empinfo">
                                                        <label>{{e?.name}}</label>
                                                        <div class="userprofile">{{e?.position}}</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="PIPFormbox detailPIP">
                            <div class="float-right">
                                <span>{{developmentPlanOld?.insertTime}}</span><br><br>
                            </div>
                            <h5>Development plan</h5>
                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div class="row">
                                <div *ngIf="!isProcessing">
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Development plan title</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlanOld?.title}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlanOld?.trainingTime| dateFormat}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlanOld?.assessmentTime| dateFormat}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlanOld?.reason}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action plan</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlanOld?.actionPlan}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objectives</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlanOld?.objective}}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="instruction moreTopGap">Created by {{developmentPlanOld?.creatorUser?.name}} on {{developmentPlanOld?.insertTime| dateFormat}} | {{developmentPlanOld?.insertTime| dateFormat:'shortTime'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5>Training notes</h5>
                    <div *ngIf="developmentPlanOld.trainingNote && developmentPlanOld.trainingNote.length>0" class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlanOld?.trainingTime| dateFormat}} at {{developmentPlanOld?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-12 form-group" *ngFor="let k of developmentPlanOld.trainingNote">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10 white-space-pre">
                                        {{k.note}}
                                    </div>
                                    <div class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <h5>Assessment notes</h5>
                    <div *ngIf="developmentPlanOld.assessmentNote && developmentPlanOld.assessmentNote.length>0" class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlanOld?.assessmentTime| dateFormat}} at  {{developmentPlanOld?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                        </div>
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div>
                            <div class="row">
                                <div class="col-sm-12 form-group" *ngFor="let k of developmentPlanOld.assessmentNote">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10 white-space-pre">
                                        {{k.note}}
                                    </div>
                                    <div class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlanOld?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlanOld?.trainingTime | dateFormat:'shortTime'}}</span>
                        </div>
                        <h5>Result</h5>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing">
                            <div class="traingForm">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Result</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="btn btn-primary">{{developmentPlanOld?.result}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Development plan for</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <div class="managerBx">
                                                <div class="roundImgIcon">
                                                    <img src="{{developmentPlanOld?.developmentFor?.imageUrl}}" alt="" />
                                                </div>
                                                <div class="managerDesc">
                                                    <strong>{{developmentPlanOld?.developmentFor?.employee}}</strong>
                                                    <span>{{developmentPlanOld?.developmentFor?.employeeProfile}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div *ngIf="!isProcessing" class="cmpnycontentBox">
                <div class="pipHeader">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <h3 class="heading">Development plan</h3>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Development plan for:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{developmentPlan?.developmentFor?.employee}}</h5>
                                        <div class="designation">{{developmentPlan?.developmentFor?.employeeProfile}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Assigned manager:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{developmentPlan?.assinedBy?.imageUrl}}" alt="" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{developmentPlan?.assinedBy?.employee}}</h5>
                                        <div class="designation">{{developmentPlan?.assinedBy?.employeeProfile}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Involved third parties</div>
                                <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                    <input type="text" readonly="true" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                    <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                        <li *ngFor="let e of developmentPlan.thirdParty">
                                            <img src="{{e?.imageUrl}}" alt="" />
                                            <div class="empinfo">
                                                <label>{{e?.name}}</label>
                                                <div class="userprofile">{{e?.position||'-'}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="float-right" style="margin-top:10px;">
                    <span>{{developmentPlan?.insertTime| dateFormat}}</span><br><br>
                </div>
                <div class="row PIPFormbox detailPIP">
                    <div style="margin-top:15px;" *ngIf="permission?.edit && status!='Terminated' && !(developmentPlan.trainingNote && developmentPlan.trainingNote.length>0)" class="col-sm-12 text-right"><button (click)="onEditDevelopmentPlan(developmentPlan.developmentPlanID)" class="btn btn-special">Edit <i class="fa fa-pencil"></i></button></div>
                    <div class=" col-sm-12 form-group" style="margin-top:20px;">
                        <div class="lftinpt10">
                            <label class="form-inline">Development plan title</label>
                        </div>
                        <div class="rghtinput10">
                            <span>{{developmentPlan?.title}}</span>
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Training date</label>
                        </div>
                        <div class="rghtinput10">
                            <span class="calendar"><i aria-hidden="true" class="fa fa-calendar"></i></span>{{developmentPlan?.trainingTime| dateFormat}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Assessment date</label>
                        </div>
                        <div class="rghtinput10">
                            <span class="calendar"><i aria-hidden="true" class="fa fa-calendar"></i></span>{{developmentPlan?.assessmentTime| dateFormat}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Reason</label>
                        </div>
                        <div class="rghtinput10">
                            {{developmentPlan?.reason}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Action plan</label>
                        </div>
                        <div class="rghtinput10">
                            {{developmentPlan?.actionPlan}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Objectives</label>
                        </div>
                        <div class="rghtinput10">
                            {{developmentPlan?.objective}}
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="instruction moreTopGap">Created by {{developmentPlan?.creatorUser?.name}} on {{developmentPlan?.insertTime| dateFormat}} | {{developmentPlan?.insertTime| dateFormat:'shortTime'}}</div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <!--***************************************************** employee notes ***********************************-->
            <div *ngIf="!isProcessing && developmentPlan.employeeNote && (developmentPlan.employeeNote.length>0) " class="cmpnycontentBox trainingNotes">
                <h5 class="heading">Employee notes</h5>
                <div *ngIf="developmentPlan.employeeNote.length>0" class="full-width">
                    <div class="box">
                        <div class="full-width" *ngFor="let k of developmentPlan.employeeNote">
                            <div class="notesList">
                                <p class="white-space-pre">{{k.note}}</p>
                                <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div *ngIf="developmentPlan.trainingNote.length" class="cmpnycontentBox trainingNotes">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <h5 class="heading">Training notes</h5>
                <div class="box">
                    <div class="full-width" *ngFor="let k of developmentPlan.trainingNote">
                        <div class="notesList">
                            <p class="white-space-pre">{{k.note}}</p>
                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                            <div *ngIf="!developmentPlan.assessmentNote.length && status!='Terminated'" class="clearfix"><button class="btn btn-special pull-right" style="display:inline-block;" *ngIf="permission?.edit && k.noteID" (click)="onEditNotes(k)">Edit <span class="fa fa-pencil"></span></button></div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
            <div *ngIf="developmentPlan.assessmentNote.length" class="cmpnycontentBox trainingNotes assessmentbox">
                <h5>Assessment notes</h5>
                <div class="box">
                    <div class="full-width" *ngFor="let k of developmentPlan.assessmentNote">
                        <div class="notesList">
                            <p class="white-space-pre">{{k.note}}</p>
                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.employee}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                            <div *ngIf="!developmentPlan.result && status!='Terminated'" class="clearfix"><button class="btn btn-special float-right" *ngIf="permission?.edit && k.noteID" (click)="onEditNotes(k)">Edit <i class="fa fa-pencil"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clearfix"></div>
            <div *ngIf="developmentPlan.result" class="cmpnycontentBox trainingNotes">
                <h5 class="heading">Result</h5>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div class="row" *ngIf="!isProcessing">
                    <div class="col-lg-1 col-sm-2 form-group">
                        <label class="form-inline">Result</label>
                    </div>
                    <div class="col-lg-11 col-sm-10">
                        : <b [ngClass]="{'color-success':developmentPlan?.result=='Pass','color-danger':developmentPlan?.result=='Fail' || developmentPlan?.result=='Not Passed'}">{{developmentPlan?.result}}</b>
                    </div>
                </div>
                <!--<div class="row">
                <div class="col-sm-12">
                    <div class="lftinpt10">
                        <label class="form-inline">Development plan for</label>
                    </div>
                    <div class="rghtinput10 assessuseraddedd">
                        <div class="roundImgIcon">
                            <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" />
                        </div>
                        <div class="managerDesc">
                            <strong>{{developmentPlan?.developmentFor?.employee}}</strong>
                            <span>{{developmentPlan?.developmentFor?.employeeProfile}}</span>
                        </div>
                        <div class="float-right">
                            <span>{{developmentPlan?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlan?.trainingTime | dateFormat:'shortTime'}}</span>
                        </div>
                    </div>
                </div>
            </div>-->
                <div class="text-center buttonWrap">
                    <button *ngIf="permission?.edit && developmentPlan.result=='Re-Assess'" (click)="onReAssessment(developmentPlan.developmentPlanID)" class="btn btn-success btn-lg">Proceed to re-assess</button>
                </div>
            </div>
        </div>
    </div>

</div>