.policyDetail {
    .box-header {
        .form-control {
            width: auto;
            display: inline-block;
        }
        .toggleIcon {
            margin-top: 6px;
        }
    }
    label {
        margin: 0px 0 6px;
        font-weight: bold;
    }
    .subjectBox {
        margin-top: 20px;
        padding-bottom: 50px;
        .mat-raised-button {
            margin-top: 6px;
        }
    }
    .labelStats {
        margin-bottom: 10px;
        margin-right: 15px;
        label {
            margin: 0px 0px;
        }
    }
    .deleteBtn {
        margin-left: 8px;
    }
}

.addUserBtn {
    @media(max-width: 767px) {
        margin-top: 15px;
    }
}

.btn-wrapper {
    button {
        &:last-child {
            @media(max-width: 479px) {
                float: none !important;
                margin-top: 10px;
            }
        }
    }
}

.selectWrapper {
    md-select {
        &:first-child {
            margin-right: 25px;
        }
    }
}

.addButton {
    span {
        position: relative;
        top: 2px;
    }
}

.addUserBtn {
    margin-top: 15px;
}