<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">{{head}}</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="box box-default paddingBox policyDetail">
            <form #contractForm="ngForm" class="md-form-auth form-validation">
                <div class="row">
                    <div class="col-md-12">
                        <div class="selectWrapper">
                            <md-select [(ngModel)]="contract.contractTypeID" #typeId="ngModel" name="contractTypeID" placeholder="Select Contract Type" required>
                                <md-option *ngFor="let t of contracttype" [value]="t.contractTypeID">{{t.title}}</md-option>
                            </md-select>
                            <div class="labelStats float-right">
        
                                <span *ngIf="id"><button md-raised-button color="{{color}}" (click)="statusChange(status)">{{status}}</button></span>
                            </div>
                            <div class="labelStats float-right">
                                <label class="statsInfo">Version: {{version}}</label>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                        <div style="margin-top:10px;" *ngIf="typeId.errors && (typeId.dirty || typeId.touched)">
                            <div class="alert alert-danger" [hidden]="!typeId.errors.required">
                                Contract type is required !
                            </div>
                        </div>
                        <md-input-container class="full-width">
                            <input name="title" mdInput myNoSpaces [(ngModel)]="contract.title" #title="ngModel" name="title" placeholder="Contract title" required>
                        </md-input-container>
                        <div *ngIf="title.errors && (title.dirty || title.touched)">
                            <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                                Contract title is required !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label> Description *</label>
                        <app-tinymce [(ngModel)]="contract.description" myNoSpaces #discription="ngModel" name="discription" required></app-tinymce>
                        <div *ngIf="discription.errors && (discription.dirty || discription.touched)">
                            <div class="alert alert-danger" *ngIf="(discription.errors.required || discription.errors.whitespace)">
                                Contract description is required !
                            </div>
                        </div>


                        <div class="box box-default subjectBox" *ngFor="let sub of contract.contractSubjects;let i=index">
                            <div class="box-header box-dark collapseHead" [ngClass]="{'activecollapse':collapsebox[i]}">
                                <md-input-container>
                                    <input mdInput id="name" name="subjectName{{i}}" placeholder="Subject name" myNoSpaces [(ngModel)]="sub.title" #subjectName="ngModel" type="text" required>
                                </md-input-container>
                                <span (click)="collapsebox[i]=!collapsebox[i]" class="toggleIcon float-right"><i class="fa fa-angle-up"></i></span>
                            </div>
                            <div *ngIf="subjectName.errors && (subjectName.dirty || subjectName.touched)">
                                <div class="alert alert-danger" [hidden]="!(subjectName.errors.required || subjectName.errors.whitespace)">
                                    Subject name is required !
                                </div>
                            </div>

                            <div class="collapseDetail" [ngClass]="{'opencollapse':collapsebox[i]}">
                                <div class="full-width" style="margin-top:5px;">
                                    <label>Subject description *</label>
                                    <!-- <quill-editor [modules]="editorOptions" name="subjectDecription{{i}}" myNoSpaces [(ngModel)]="sub.description" #subjectDecription="ngModel" placeholder="Subject description" required></quill-editor> -->
                                    <app-tinymce name="subjectDecription{{i}}" myNoSpaces [(ngModel)]="sub.description" #subjectDecription="ngModel" placeholder="Subject description" required></app-tinymce>
                                    <div *ngIf="subjectDecription.errors && (subjectDecription.dirty || subjectDecription.touched)">
                                        <div class="alert alert-danger" *ngIf="(subjectDecription.errors.required || subjectDecription.errors.whitespace)">
                                            Subject decription is required !
                                        </div>
                                    </div>
                                    <button class="float-right" md-raised-button color="danger" (click)="deleteSubject(i);false">Delete</button>
                                </div>
                            </div>
                        </div>

                        <md-progress-spinner *ngIf="isButtonClicked" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isButtonClicked" class="btn-wrapper text-center addUserBtn">
                            <button md-raised-button color="accent" class="addButton" [disabled]="(!contractForm.form.valid)" (click)="addEditContract(contractForm.form.valid)">{{buttonText}}</button> &nbsp;
                            <button md-raised-button color="default" (click)="onCancel()">Cancel</button>
                            <button md-raised-button color="accent" class="addButton float-right" (click)="addSubject();false"><span class="icon">+</span> Add subject</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </article>
</div>