.form-group {
    .form-inline {
        margin: 0px 0px;
    }
    .customchkbox {
        float: left;
        margin-top: -6px;
    }
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
        .form-control {
            max-width: inherit;
            &.signaturebox {
                height: 150px;
                max-width: 300px;
            }
        }
    }
}

.cmpnycontentBox {
    .marginBottom {
        margin-bottom: 10px;
    }
}

dp-date-picker {
    max-width: 300px;
}

.signDemo{
    font-size:50px;
  }