.page-auth .main-body {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.registrationForm h2 {
    font-size: 22px;
    margin: 0;
    padding: 10px 0;
    /* background: #656565; */
    color: #6b6b6b;
    margin-bottom: 29px;
    display: block;
    font-weight: 600;
    width: 100%;
}

.customchkbox {
    position: relative;
    input {
        +label {
            padding-left: 28px;
            cursor: pointer;
            font-weight: normal !important;
            &:before {
                content: "";
                height: 18px;
                width: 18px;
                background: #ffffff;
                display: inline-block;
                border: 1px solid #acacac;
                position: absolute;
                left: 0px;
            }
        }
        display:none;
        &:checked+label {
            position: relative;
            &:after {
                content: "\F00C";
                position: absolute;
                left: 3px;
                top: 0px;
                font-family: FontAwesome;
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
            }
        }
    }
}

.header {
    background: #333;
    padding: 8px 0;
}