<div class="container-fluid">
    <section class="create-notes">
        <h4 class="heading" [hidden]="true">Create</h4>
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/assets-approval']">Assets approval</li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">

                    <form #assetForm="ngForm">
                        <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Enter asset name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input name="name" [(ngModel)]="asset.name" myNoSpaces #name="ngModel" type="text" class="form-control" placeholder="Enter title here" />
                                    <div *ngIf="name.errors && ( (name.dirty || name.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(name.errors.required || name.errors.whitespace)">
                                            Asset name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Enter notes/ description</label>
                                </div>
                                <div class="rghtinput10">
                                    <input name="notes" [(ngModel)]="asset.description" myNoSpaces #notes="ngModel" type="text" class="form-control" placeholder="Enter title here" />
                                    <div *ngIf="notes.errors && ( (notes.dirty || notes.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(notes.errors.required || notes.errors.whitespace)">
                                            Notes/ description is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group" *ngIf="!isProcessing">
                                <div class="lftinpt10">
                                    <label class="form-inline">Select and assign</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="dropdown form-control" style="padding:0;margin:0; border:0;">
                                        <angular2-multiselect required [data]="dropdownListEmployees" [(ngModel)]="selectedItems" name="assignMang" #assign="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline"></label>
                                </div>
                                <div class="rghtinput10 text-right" style="max-width:600px;">
                                    <button [disabled]="isProcessing && assetForm.form.valid" (click)="saveUpdateAsset(assetForm)" class="btn btn-primary btn-lg">Save </button>
                                    <button [routerLink]="['/app/company-admin/listing-page/assets-approval']" class="btn btn-default btn-lg">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>