<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/development-plan-list']">Development plans</a></li>
                <li class="breadcrumb-item active">Trining</li>
            </ol>
        </div>
    </div>
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="PIPmainBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="cmpnycontentBox">
            <div class="pipHeader">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3 class="heading">Development plan</h3>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Development plan for:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust"> <img src="{{DevelopmentPlan?.developmentFor?.imageUrl}}" alt="" /></div>
                                </div>
                                <div class="info">
                                    <h5>{{DevelopmentPlan?.developmentFor?.employee}}</h5>
                                    <div class="designation">{{DevelopmentPlan?.developmentFor?.employeeProfile}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Assigned manager:</div>
                            <div class="pipEmpuserPic">
                                <div class="profile">
                                    <div class="adjust"><img src="{{DevelopmentPlan?.assinedBy?.imageUrl}}" alt="" /></div>
                                </div>
                                <div class="info">
                                    <h5>{{DevelopmentPlan?.assinedBy?.employee}}</h5>
                                    <div class="designation">{{DevelopmentPlan?.assinedBy?.employeeProfile}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pipEmploye">
                            <div class="title">Involved third parties</div>
                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                <input type="text" readonly="true" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                    <li *ngFor="let e of DevelopmentPlan.thiredParty">
                                        <img src="{{e?.imageUrl}}" alt="" />
                                        <div class="empinfo">
                                            <label>{{e?.employee}}</label>
                                            <div class="userprofile">{{e?.employeeProfile}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
            <div class="contentBoxWrap">
                <div class="float-right" style="margin-top:10px;">
                    <span>{{DevelopmentPlan?.dpInsetTime}}</span><br><br>
                </div>
                <div class="clearfix"></div>
                <div class="row PIPFormbox detailPIP">
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Development plan title</label>
                        </div>
                        <div class="rghtinput10">
                            <span>{{DevelopmentPlan?.title}}</span>
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Training date</label>
                        </div>
                        <div class="rghtinput10">
                            <span class="calendar"><i aria-hidden="true" class="fa fa-calendar"></i></span>{{DevelopmentPlan?.trainingTime| dateFormat}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Assessment date</label>
                        </div>
                        <div class="rghtinput10">
                            <span class="calendar"><i aria-hidden="true" class="fa fa-calendar"></i></span>{{DevelopmentPlan?.assessmentTime| dateFormat}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Reason</label>
                        </div>
                        <div class="rghtinput10">
                            {{DevelopmentPlan?.reason}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Action plan</label>
                        </div>
                        <div class="rghtinput10">
                            {{DevelopmentPlan?.actionPlan}}
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Objectives</label>
                        </div>
                        <div class="rghtinput10">
                            {{DevelopmentPlan?.objective}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div *ngIf="permission?.edit">
            <div class="cmpnycontentBox trainingNotes">
                <h5>Training Notes</h5>
                <form #managerNoteForm="ngForm">
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">manager notes</label>
                            </div>
                            <div class="rghtinput10">
                                <textarea class="form-control" name="planObjective" placeholder="Enter training notes" #managerNote="ngModel" required [(ngModel)]="developmentPlanManagerNote.managerNote" myNoSpaces rows="4"></textarea>
                                <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                                    <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                        Manager note is required.
                                    </div>
                                </div>
                                <div class="instruction moreTopGap">This event has been triggered on 22 March 2017 at 12:00 am.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="clearfix"></div>
            <div class="text-center">
                <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <button *ngIf="!isCreateProcessing" [disabled]="isProcessing" (click)="onAddManagerNote(managerNoteForm.form.valid)" class="btn btn-primary btn-lg">Complete</button>
            </div>
        </div>
    </div>