<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/advertisement']">Advertisement</li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox Advdetailbox">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button (click)="onBasicInfoEdit();" class="btn btn-special">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing">
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Title</label>
                                </div>
                                <div class="rghtinput10 white-space-pre marginBottom" [innerHTML]="advertisement.basicInfo.advertiseName">

                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Location</label>
                                </div>
                                <div class="rghtinput10 white-space-pre marginBottom" [innerHTML]="advertisement.basicInfo.location"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Salary</label>
                                </div>
                                <div class="rghtinput10 white-space-pre marginBottom" [innerHTML]="advertisement.basicInfo.advertiseSalary"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Selling</label>
                                </div>
                                <div class="rghtinput10 white-space-pre marginBottom" [innerHTML]="advertisement.basicInfo.sellingPoint"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">About the company</label>
                                </div>
                                <div class="rghtinput10 white-space-pre" [innerHTML]="advertisement.basicInfo.aboutCompany"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Job benefits and perks</label>
                                </div>
                                <div class="rghtinput10 white-space-pre" [innerHTML]="advertisement.basicInfo.jobBenifits"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">About the role</label>
                                </div>
                                <div class="rghtinput10 white-space-pre" [innerHTML]="advertisement.basicInfo.positionSummary"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Jobs & responsibility</label>
                                </div>
                                <div class="rghtinput10 white-space-pre" [innerHTML]="advertisement.basicInfo.positionRoleAndResponsibilities"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">About you</label>
                                </div>
                                <div class="rghtinput10 white-space-pre" [innerHTML]="advertisement.basicInfo.aboutYou"></div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline text-left">Key requirement</label>
                                </div>
                                <div class="rghtinput10 white-space-pre" [innerHTML]="advertisement.basicInfo.KeyRequirements"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cmpnycontentBox Advdetailbox">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button (click)="onInterviewEdit();" class="btn btn-special">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                        <div class="col-md-12">
                            <h4 class="heading">Interview questions</h4>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing" class="row">
                        <div class="col-md-12">
                            <h5 class="heading">Attitute</h5>
                            <div *ngFor="let q of advertisement.interviewQuestions['Attitude']">
                                <div [innerHTML]="q.interviewQuestion"></div>
                            </div>

                            <h5 class="heading">Behavior</h5>
                            <div *ngFor="let q of advertisement.interviewQuestions['Behavior']">
                                <div [innerHTML]="q.interviewQuestion"></div>
                            </div>

                            <h5 class="heading">Integrity</h5>
                            <div *ngFor="let q of advertisement.interviewQuestions['Intergrity']">
                                <div [innerHTML]="q.interviewQuestion"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cmpnycontentBox Advdetailbox">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button (click)="onRefrenceCheckEdit();" class="btn btn-special">Edit <i class="fa fa-pencil"></i></button>
                        </div>
                        <div class="col-md-12">
                            <h4 class="heading">Reference questions</h4>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngFor="let q of advertisement.refrenceCheckQuestions" class="row">
                        <div class="col-md-12">
                            <h5 class="heading">{{q.heading}}</h5>
                            <div *ngFor="let c of q.data">
                                <div [innerHTML]="c.title" class="white-space-pre"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>