.sbPlanTitlebox{
    .sbTitleRow{
            padding: 20px;
            border: 1px solid #e2e2e2;
            margin-top: 20px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            margin:15px 0px 0px;
        label{
           font-weight:bold;
           padding: 0px;
        }
        span{
           display:inline-block;
           padding: 0px;
        }
        .action{
           position: absolute;
           cursor:pointer;
           right: 28px;
           font-size: 20px;
        }
        &.rowGap{
            margin-top:0px;
        }
    }
}
.box-header{
    .action{
          font-size: 20px;
          cursor:pointer;
        }
}
.supportService{
    h5{
      font-size: 16px;
      font-weight: bold;
      margin-top: 0px;
    }
    .supportRow{
        margin-top:10px;
        label{
           min-width:100px;
        }
        .deleteitem{
             .mat-raised-buttonn{
                line-height: 27px;
                padding: 0px 15px !important;
                min-width: initial;
             }
        }
        &.addServicesbtn{
            margin-top:30px;
        }
    }
}


.halfRow{
   margin: 15px 0px;
}
.mat-input-wrapper {
    margin: 2em 0 !important;
}
.addUserBtn{
    button{
        margin:0px 5px;
    }
}

.myelement_active{
    opacity: 0.7;
    pointer-events: none;
}
md-slide-toggle{
    margin-top:3px; 
}

.groupAction{
    margin-bottom:15px;
}
#error_div{
    margin-top:18px;
}