<div class="container-fluid chapter">
  <article class="article">
    <div class="row">
      <div class="col-md-12 pageHead">
        <h2 class="article-title">New Subscription Plan</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4">
           <div class="messageSidebar">
           <ul class="userType">
             <li class="active"  [routerLink]="['/app/super-admin/subscription-plans/add']" >Subscription Plans</li>
             <li  [routerLink]="['/app/super-admin/subscription-plans/support-services']" >Support Services</li>
          </ul>
           </div>
        </div>
    
      <div class="col-lg-9 col-md-8">
              
     <form #subscriptionForm="ngForm">
        <div class="box box-default">
          <div class="box-header box-dark">Enter Subscription plan Details</div>
          <div class="box-body">
             <div class="sbPlanTitlebox">
                <div class="row">

                    <div class="groupAction col-md-12 text-right">
                  <button (click)="subscriptionPlan.status=(subscriptionPlan.status=='0')?'1':'0'" 
                    md-raised-button color="primary" *ngIf="subscriptionPlan.status=='1'">Active</button>
                  <button (click)="subscriptionPlan.status=(subscriptionPlan.status=='0')?'1':'0'" 
                      md-raised-button color="default" *ngIf="subscriptionPlan.status=='0'">Inactive</button>

</div>
                  <div class="col-lg-6 col-md-6">
                     <md-input-container class="full-width">
                        <input mdInput type="text" myNoSpaces [(ngModel)]="subscriptionPlan.title" #title="ngModel" name="title" placeholder="Enter title" required>
                     </md-input-container>
                      <div style="margin-top:10px;"  *ngIf="title.errors && (title.dirty || title.touched)">
                            <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace )">
                              Title is required !
                            </div>
                          </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                        <angular2-multiselect [data]="dropdropdownListSetDuration" [(ngModel)]="selectedItemsSetDuration" 
                          #SetDuration="ngModel" 
                          name="duration" required
                          [selectedItems]="selectedItemsSetDuration"
                          [settings]="dropdownSettingsSetDuration" 
                          (onSelect)="onSetDurationSelect($event)"
                          (onDeSelect)="onSetDurationDeSelect($event)" >
                      </angular2-multiselect>
                       
                       <div id="error_div" class="alert alert-danger" *ngIf="(SetDuration.errors && isAddButtonClicked) ||  (SetDuration.errors && (SetDuration.dirty || SetDuration.touched))" >
                              Duration is required !
                        </div>   
                   </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="sbTitleRow row">
                         <label class="col-md-6">Per Employee Fee</label>
                         <span class="col-md-6">
                            <md-input-container class="full-width">
                            <input mdInput type="number"  [(ngModel)]="subscriptionPlan.employeeFee" #employeeFee="ngModel" name="employeeFee" placeholder="$" required>
                            </md-input-container>
                            <div style="margin-top:10px;"  *ngIf="employeeFee.errors && (employeeFee.dirty || employeeFee.touched)">
                            <div class="alert alert-danger" [hidden]="!employeeFee.errors.required">
                              Per employee fee is required !
                            </div>
                          </div>
                         </span>
                       </div>
                   </div>
                   <div class="col-lg-6 col-md-12">
                      <div class="sbTitleRow row">
                         <label class="col-md-6">Min Employee/user Count</label>
                         <span class="col-md-6">
                            <md-input-container class="full-width">
                                <input mdInput  type="number" [(ngModel)]="subscriptionPlan.userCount" #userCount="ngModel" name="userCount" placeholder="$" required>
                            </md-input-container>
                            <div style="margin-top:10px;"  *ngIf="userCount.errors && (userCount.dirty || userCount.touched)">
                            <div class="alert alert-danger" [hidden]="!userCount.errors.required">
                             Min Employee/user Count is required !
                            </div>
                          </div>
                         </span>
                       </div>
                   </div>
                   <div class="clearfix"></div>
                </div>
             </div>
          </div>
        </div>
        <div class="box box-default"  >
          <div class="box-header box-dark"   >Add Discount to User <md-slide-toggle class="float-right" (change)="addUserDiscoutToggleChange(addUserDiscoutToggle)" [(ngModel)]="addUserDiscoutToggle" name="addUserDiscoutToggle" checked="true"></md-slide-toggle> </div>
          <div class="box-body"  *ngIf="addUserDiscoutToggle">
             <div class="sbPlanTitlebox">
                <div class="row">
                  
                 <div class="col-lg-6 col-md-6">
                        <angular2-multiselect [data]="dropdropdownListDiscoutUser" [(ngModel)]="selectedItemsDiscoutUser" 
                          #discoutUser="ngModel" 
                          name="duration1" required
                          [selectedItems]="selectedItemsDiscoutUser"
                          [settings]="dropdownSettingsDiscoutUser" 
                          (onSelect)="onDiscoutUserSelect($event)"
                          (onDeSelect)="onDiscoutUserDeSelect($event)" >
                      </angular2-multiselect>
                       <div id="error_div" class="alert alert-danger"
                          *ngIf="(discoutUser.errors && isAddButtonClicked) ||  (discoutUser.errors && (discoutUser.dirty || discoutUser.touched))" >
                              User Discout type is required !
                        </div> 
                         
                   </div>
                   <div class="col-lg-6 col-md-12">
                      <div class="sbTitleRow rowGap row">
                         <label class="col-md-6">Amount</label>
                         <span class="col-md-6">
                             <md-input-container  class="full-width">
                            <input mdInput type="number"  [(ngModel)]="subscriptionPlan.userDiscoutAmount" #userDiscoutAmount="ngModel" placeholder="$"  name="discoutUserAmount"  required>
                          </md-input-container>
                       <div id="error_div" class="alert alert-danger" *ngIf="userDiscoutAmount.errors && (userDiscoutAmount.dirty || userDiscoutAmount.touched)" >
                              Amount is required !
                        </div>  
                         </span>
                       </div>
                   </div>
                </div>
             </div>
          </div>
        </div>
        <div class="box box-default">
          <div class="box-header box-dark">Add Support Services <md-slide-toggle  class="float-right" (change)="servicesToggleChange(servicesToggle)" [(ngModel)]="servicesToggle" name="servicesToggle" checked="true"></md-slide-toggle> </div>
          <div class="box-body" *ngIf="servicesToggle">
             <div class="supportService row">
              
                <div class="col-lg-6 col-md-6" >

                      <angular2-multiselect
                               [data]="dropdownListServices" 
                               [selectedItems]="selectedItemsServices"
                               [(ngModel)]="selectedItemsServices" #supportService="ngModel" name="supportServices" 
                               (onSelect)="onItemSelectServices($event)" (onSelectAll)="onItemSelectServices($event)"
                               [settings]="dropdownSettingsServices" required >
                      </angular2-multiselect>
                       <div id="error_div" class="alert alert-danger"
                          *ngIf="(supportService.errors && isAddButtonClicked) ||  (supportService.errors && (supportService.dirty || supportService.touched))" >
                              Please select support services !
                        </div> 
                   
                   </div>
             </div>
          </div>
        </div>
        <div class="box box-default">
          <div class="box-header box-dark">Add Discount to Support <md-slide-toggle (change)="addSupportServicesToggleChange(addSupportServicesToggle)" class="float-right" [(ngModel)]="addSupportServicesToggle" name="addSupportServicesToggle" checked="true"></md-slide-toggle> </div>
          <div class="box-body" *ngIf="addSupportServicesToggle">
             <div class="sbPlanTitlebox">
                <div class="row">
                 
                  <div class="col-lg-6 col-md-6" >

                      <angular2-multiselect
                               [data]="dropdropdownListDiscoutUser" 
                                [selectedItems]="selectedItemsDiscountSupport"
                               [(ngModel)]="selectedItemsDiscountSupport" #supportDiscount="ngModel" name="supportDiscount" 
                               (onSelect)="onItemSelectServicesDiscountType($event)" (onDeSelect)="onItemDeSelectServicesDiscountType($event)"
                               [settings]="dropdownSettingsDiscoutUser" required >
                      </angular2-multiselect>
                      <div id="error_div" class="alert alert-danger" *ngIf="(supportDiscount.errors && isAddButtonClicked) ||  (supportDiscount.errors && (supportDiscount.dirty || supportDiscount.touched))" >
                              Please select support discount type !
                        </div>  
                   
                   </div>
                   <div class="col-lg-6 col-md-12">
                      <div class="sbTitleRow rowGap row">
                         <label class="col-md-6">Amount</label>
                         <span class="col-md-6">
                             <md-input-container  class="full-width">
                            <input mdInput type="number"  [(ngModel)]="subscriptionPlan.discoutSupportAmount" #discoutSupportAmount="ngModel" placeholder="$"  name="discoutSupportAmount"  required>
                          </md-input-container>
                       <div id="error_div" class="alert alert-danger" *ngIf="discoutSupportAmount.errors && (discoutSupportAmount.dirty || discoutSupportAmount.touched)" >
                               Amount is required !
                        </div>  
                         </span>
                       </div>
                   </div>
                </div>
             </div>
          </div>
        </div>
        <div class="btn-wrapper col-md-12 text-center addUserBtn">
          <button md-raised-button color="accent" 
                class="addButton" [disabled]="!subscriptionForm.form.valid"
                (click)="onAddSubscriptionPlan(subscriptionForm.form.valid)" >Save Plans</button>
          
       </div>
       </form>
       </div>
    </div>
  </article>
</div>