.cmpnycontentBox {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0px;
    }
    .form-group {
        .form-inline {
            margin: 0px 0px;
        }
    }
    .toplinks {
        margin-bottom: 15px;
    }
}

.statusBtn {
    &.labelStats {
        margin-bottom: 0px;
    }
    button {
        margin-bottom: 15px;
        margin-right: 7px;
    }
    label {
        margin-bottom: 15px;
        margin-right: 7px;
        display: inline-block;
        padding: 0.6rem 1rem;
        vertical-align: middle;
        background: #acacac;
        line-height: unset;
        color: #ffffff;
    }
}

.collapseInfoBox {
    margin-top: 20px;
    h4 {
        .form-control {
            max-width: 260px;
            display: inline-block;
        }
        .editIcon {
            margin-right: 15px;
        }
    }
    .collapseContentbox {
        textarea {
            height: 90px;
            width: 100%;
            max-width: inherit !important;
            resize: none;
        }
    }
    &:last-child {
        span {
            margin-top: 5px;
        }
    }
}

.tableWrapper {
    margin-top: 15px;
    table {
        border: 1px solid #cccccc;
        td {
            padding: 15px 15px;
            border: 1px solid #cccccc;
        }
    }
}