.form-group {
    .customchkbox {
        float: left;
        margin-top: -6px;
    }
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
        .form-control {
            max-width: inherit;
            &.signaturebox {
                height: 150px;
                max-width: 300px;
            }
        }
    }
}

.cmpnycontentBox {
    .marginBottom {
        margin-bottom: 10px;
    }
}

dp-date-picker {
    max-width: 300px;
}
.userName {
    float: left;
    margin-right: 40px;
    img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 5px;
    }
    .name {
        float: left;
        line-height: 20px;
        margin-top: 2px;
        font-family: 'LatoWebHeavy';
        .department {
            color: #a9a9a9;
            font-size: 13px;
            font-family: 'LatoWebMedium';
        }
    }
}
.signDemo{
    font-size:50px;
  }
