<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/app/company-admin']">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active">Off-boarding listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-5 col-xl-7 col-lg-5">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search users" />
                                        <span class="input-group-btn">
                                            <button class="btn" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-2 col-lg-3 col-sm-6">
                            <div class="filter">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filters
                                        <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onPopUp()">Create off-boarding<span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised against</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" placeholder="Search employement type" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of employmentList">
                                            <label>
                                                <input type="checkbox" />
                                                <span>{{item}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Assigned manager</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" placeholder="Search employement type" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of employmentList">
                                            <label>
                                                <input type="checkbox" />
                                                <span>{{item}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Raised by</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search position" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of positionList">
                                            <label>
                                                <input type="checkbox" />
                                                <span>{{item}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li>
                                            <label>
                                                <input type="checkbox" />
                                                <span>Pass</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" />
                                                <span>Fail</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" />
                                                <span>ReAssess</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button class="btn btn-default outlined">Apply filter
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableWrapper">
                    <table [mfData]="offBoardList" #mf="mfDataTable" [mfRowsOnPage]="10" class="full-width table" style="min-width:933px;">
                        <thead *ngIf="mf.data.length">
                            <th>
                                <mfDefaultSorter by="employeeUser.name">Employee off-boarding &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="managerUser.name">Manager assigned &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="insertTime">Date Of off-boarding &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;
                                    <i class="fa fa-sort"></i>
                                </mfDefaultSorter>
                            </th>
                            <th style="width:142px;">Details</th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let d of mf.data">
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" src="{{d?.employeeUser?.imageUrl}}" height="40px" width="40px" />
                                        </div>
                                        <div class="d-flex align-self-center  media-right">{{d.employeeUser?.name}}</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-left d-flex align-self-center  media-middle">
                                            <img class="img-circle" src="{{d?.managerUser?.imageUrl}}" height="40px" width="40px" />
                                        </div>
                                        <div class="d-flex align-self-center  media-right">{{d.managerUser?.name}}</div>
                                    </div>
                                </td>
                                <td>{{d?.insertTime | dateFormat}}</td>
                                <td>{{d?.status}}</td>
                                <td>
                                    <button (click)="onViewDetails(d.employeeChecklistID)" class="btn btn-default">View details</button>
                                </td>
                                <td>
                                    <div class="dropdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button (click)="onEdit(d.employeeChecklistID)" class="dropdown-item btn-none color-primary">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;Perform action</button>
                                            <button (click)="onDelete(d)" class="dropdown-item btn-none color-danger">
                                                <i class="fa fa-trash"></i>&nbsp;Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!offBoardList.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>