<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">New employee approval listing</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <!-- <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-8 col-xl-10 col-sm-6">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" class="form-control" (click)="search(searchInput.value)" #searchInput placeholder="Search Empolyee" />
                                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> -->
                 <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div class="tableWrapper" *ngIf="!isProcessing">
                    <table [mfData]="newEmployeeList" #mf="mfDataTable"  [mfRowsOnPage]="10" class="full-width table">
                        <thead *ngIf="mf.data.length">
                            <th>
                                <mfDefaultSorter by="name">Employee to recruit &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                             <th>
                                <mfDefaultSorter by="manger">Manger &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="position">Position &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="insertTime">Date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of mf.data">
                                <td>{{ employee.name }}</td>
                                 <td>{{ employee.managerUser?.name }}</td>
                                <td>{{ employee.position }}</td>
                                <td>{{ employee.insertTime | dateFormat }}</td>
                                <td>{{ employee.status }}</td>
                                <td>
                                    <div *ngIf="employee.status=='Pending'" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button *ngIf="employee.status=='Pending'" class="dropdown-item btn-none color-success" (click)="statusChange(employee , 'Approved')"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp; Approve</button>
                                            <button *ngIf="employee.status=='Pending'" class="dropdown-item btn-none color-danger" (click)="statusChange(employee , 'Rejected')"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;&nbsp; Disapprove</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div class="box" style="text-align:center" *ngIf="!newEmployeeList.length">
                        <span class="danger">Record not found</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>