.form-main{
    form{
        width:100%;
    }
    .mat-input-container{
        display:block;
    }
    .companyDetail{
    padding:25px;
    .mat-select-trigger{
        font-size:13px;
        height:36px !important;
        .mat-select-placeholder.mat-floating-placeholder{
            top:-12px;
            font-size:11px;
        }
    }
}
}
md-progress-spinner {
   width: 24px; 
   height: 24px; 
}
.activityStream{
    .innerBox{
        padding: 0px 15px;
        background: #eeeeee;
        padding-top: 20px;
        &:last-child .dayGroup{
            padding-bottom:0px;
        }
     h6{
         padding-top: 0px;
         margin-top: 0px;
         font-size: 12px;
         color: #000000;
         span{
             color:#9999a4;
         }
    }
    ul{ 
        padding-left:0px;
        list-style-type:none;
        margin-bottom:0px;
        li{    
            padding: 5px 10px;
            background: #ffffff;
            border: 1px solid #e1e1e1;
            margin: 15px 0px;
            font-size: 12px;
            &:last-child{
                margin-bottom:0px;
            }
            p{
                margin-bottom:0px;
                font-size: 12px;
            }
            .taskStatus{
                color:#8c8c8c;
                span.green{
                    color:#1b8b4f;
                    i{
                        font-size:14px;
                    }
                }
            }
        }
     }
     .dayGroup{
            padding-left: 16px;
            border-left: 1px solid #bebebe;
            padding-bottom: 15px;
            position:relative;
            &:before{
                content: "";
                position: absolute;
                top: -1px;
                left: -7px;
                height: 13px;
                width: 13px;
                border-radius: 50%;
                border: 1px solid #cccccc;
                display: block;
                background: #ffffff;
                z-index: 9;
            }
            &:after{
                    content: "";
                position: absolute;
                top: 2px;
                left: -4px;
                height: 7px;
                width: 7px;
                border-radius: 50%;
                display: block;
                background: #1b8b4f;
                z-index: 9;
            }
     }
     &:last-child{
         padding-top:0px;
         padding-bottom:20px;
     }
  }
}
.apisImpl{
     img{
         max-width:100%;
     }
}
.addNotes{
    .groupNotes{
        h4{
            padding: 8px 15px;
            background: #ebebeb;
            font-size: 19px;
            line-height: 25px;
            border: 1px solid #d8d8d8;
        }
        pre{
            white-space: initial;
            font-family: 'LatoWebMedium' !important;
        }
    }
    .addnoteUser{
        textarea{
            width:100%;
            resize:none;
            height: 110px;
            min-width: 300px;
       }
    }
}
.mdl-data-table td:last-child {
    width:auto;
}
.status{
    label{
        margin-right:5px;
    }
}