<div class="container-fluid chapter">
    <div>
        <h2 class="article-title">Company details</h2>
    </div>

    <div *ngIf="!isDetailProcessing" class="group-action">
        <button md-raised-button color="primary" (click)="onBroadcastMessage();">Broadcast message</button>
        <a href="mailto:{{company?.adminEmail}}"><button md-raised-button color="primary" (click)="onMessage();">Mail</button></a>
        <button *ngIf="permission.edit" md-raised-button color="special" (click)="onEdit()" class="float-right"><i class="material-icons">edit</i> Edit</button>
    </div>
    <md-progress-spinner *ngIf="isDetailProcessing" mode="indeterminate" color=""></md-progress-spinner>

    <div *ngIf="!isDetailProcessing" style="margin-top:15px;" class="form-main">
        <div class="box box-default companyDetail">
            <form #companyForm="ngForm" name="material_login_form" class="md-form-auth form-validation">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <fieldset>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.name" required mdInput type="text" #name="ngModel" name="name" placeholder="Company name">
                            </md-input-container>

                            <div *ngIf="name.errors && (name.dirty || name.touched)">
                                <div class="alert alert-danger" [hidden]="!name.errors.required">
                                    Company name is required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.companyID" mdInput type="text" #companyId="ngModel" name="companyId" placeholder="Company ID">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.employeeCount" required mdInput type="number" #employeeCount="ngModel" name="employeeCount" placeholder="Company employee count">
                            </md-input-container>

                            <div *ngIf="employeeCount.errors && (employeeCount.dirty || employeeCount.touched)">
                                <div class="alert alert-danger" [hidden]="!employeeCount.errors.required">
                                    Company employee count is required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="editable" pattern=".*@.*\.*[A-Za-z/d]$" [(ngModel)]="company.adminEmail" required mdInput #adminEmailId="ngModel" type="email" color="primary" name="adminEmailId" placeholder="Email">
                            </md-input-container>
                            <div *ngIf="adminEmailId.errors && (adminEmailId.dirty || adminEmailId.touched)">
                                <div class="alert alert-danger" [hidden]="!adminEmailId.errors.required">
                                    Email is required !
                                </div>
                                <div class="alert alert-danger" [hidden]="!adminEmailId.errors.pattern">
                                    Not a valid email pattern !
                                </div>
                            </div>


                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.revenue" mdInput type="number" #revenue="ngModel" name="revenue" placeholder="Revenue">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.address" required mdInput type="text" #address="ngModel" name="address" placeholder="Address">
                            </md-input-container>

                            <div *ngIf="address.errors && (address.dirty || address.touched)">
                                <div class="alert alert-danger" [hidden]="!address.errors.required">
                                    Address is required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.website" required mdInput type="text" #website="ngModel" name="website" placeholder="website">
                            </md-input-container>

                            <div *ngIf="website.errors && (website.dirty || website.touched)">
                                <div class="alert alert-danger" [hidden]="!website.errors.required">
                                    Website is required !
                                </div>
                            </div>
                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.zipCode" required mdInput type="number" #zipCode="ngModel" name="zipCode" placeholder="Zip code">
                            </md-input-container>

                            <div *ngIf="zipCode.errors && (zipCode.dirty || zipCode.touched)">
                                <div class="alert alert-danger" [hidden]="!zipCode.errors.required">
                                    Zipcode is required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.subscriptionPlan" required mdInput type="text" #employeeCount="ngModel" name="planType" placeholder="Plan type">
                            </md-input-container>

                        </fieldset>

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <fieldset>

                            <md-select [disabled]="editable" placeholder="Company type" #type="ngModel" name="type" [(ngModel)]="company.type" required>
                                <md-option value="Company">Company</md-option>
                                <md-option value="Sub Company">Sub company</md-option>
                            </md-select>

                            <div *ngIf="type.errors && (type.dirty || type.touched)">
                                <div class="alert alert-danger" [hidden]="!type.errors.required">
                                    Company type is required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.sessionTime" mdInput type="text" #sessionTime="ngModel" name="sessionTime" placeholder="Session time">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.companyAdmin" required mdInput type="text" #companyAdmin="ngModel" name="companyAdmin" placeholder="Company admin">
                            </md-input-container>

                            <div *ngIf="companyAdmin.errors && (companyAdmin.dirty || companyAdmin.touched)">
                                <div class="alert alert-danger" [hidden]="!companyAdmin.errors.required">
                                    Company admin is required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.adminContactNumber" required mdInput type="number" #adminContactNumber="ngModel" name="adminContactNumber" placeholder="admin contact number">
                            </md-input-container>

                            <div *ngIf="adminContactNumber.errors && (adminContactNumber.dirty || adminContactNumber.touched)">
                                <div class="alert alert-danger" [hidden]="!adminContactNumber.errors.required">
                                    Admin contact number is required !
                                </div>
                            </div>

                            <label>Avatar</label>
                            <!-- <input [disabled]="editable" [(ngModel)]="company.logo" required mdInput type="file" #logo="ngModel" name="logo" placeholder="Logo"> -->
                            <input [disabled]="editable" (change)="handleFileSelect($event)" type="file" name="avatar" placeholder="Choose Image">

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.countryName" required mdInput type="text" #country="ngModel" name="country" placeholder="Country">
                            </md-input-container>

                            <div *ngIf="country.errors && (country.dirty || country.touched)">
                                <div class="alert alert-danger" [hidden]="!country.errors.required">
                                    Country is required !
                                </div>
                            </div>
                            <div class="status"><label>Status:</label> <span class="Statusval">{{company.status}}</span></div>
                            {{contractStartDate}}
                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.contractStartDate" mdInput #employeeCount="ngModel" name="contractSDate" placeholder="Contract start date">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.contractEndDate" mdInput #employeeCount="ngModel" name="contractEDate" placeholder="Contract end date">
                            </md-input-container>

                        </fieldset>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">

                        <fieldset>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.lastLogin" mdInput type="text" #lastLogin="ngModel" name="lastLogin" placeholder="Company last login">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.companyContactNumber" required mdInput type="number" #contactNumber="ngModel" name="contactNumber" placeholder="Contact number">
                            </md-input-container>

                            <div *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched)">
                                <div class="alert alert-danger" [hidden]="!contactNumber.errors.required">
                                    Contact number is required !
                                </div>
                            </div>
                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.location" required mdInput type="text" #location="ngModel" name="location" placeholder="Location">
                            </md-input-container>

                            <div *ngIf="location.errors && (location.dirty || location.touched)">
                                <div class="alert alert-danger" [hidden]="!location.errors.required">
                                    Location required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.lastPayment" mdInput type="text" #lastPayment="ngModel" name="lastPayment" placeholder="Last payment">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="true" [(ngModel)]="company.upcomingPayment" mdInput type="text" #upcomingPayments="ngModel" name="upcomingPayments" placeholder="Upcoming payments">
                            </md-input-container>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.ABN" required mdInput type="text" #ABN="ngModel" name="ABN" placeholder="ABN">
                            </md-input-container>

                            <div *ngIf="ABN.errors && (ABN.dirty || ABN.touched)">
                                <div class="alert alert-danger" [hidden]="!ABN.errors.required">
                                    ABN required !
                                </div>
                            </div>

                            <md-input-container>
                                <input [disabled]="editable" [(ngModel)]="company.state" required mdInput type="text" #state="ngModel" name="state" placeholder="State">
                            </md-input-container>

                            <div *ngIf="state.errors && (state.dirty || state.touched)">
                                <div class="alert alert-danger" [hidden]="!state.errors.required">
                                    State required !
                                </div>
                            </div>
                            <md-input-container class="full-width">
                                <textarea style="height:50px;" [disabled]="editable" name="note" mdInput [(ngModel)]="company.note" #companyNote="ngModel" placeholder="Note" required></textarea>
                            </md-input-container>
                            <div *ngIf="companyNote.errors && (companyNote.dirty || companyNote.touched)">
                                <div class="alert alert-danger" [hidden]="!companyNote.errors.required">
                                    Company note is required !
                                </div>
                            </div>
                        </fieldset>

                    </div>
                </div>
            </form>
            <button md-raised-button *ngIf="(isprocessing && !uploadProcessing && !editable)" color="primary" [disabled]="(!companyForm.form.valid)" (click)="onSave(companyForm.form.valid)">Save</button>
            <button md-raised-button *ngIf="uploadProcessing" disabled type="submit" color="primary">Uploading...</button>
            <div [hidden]="isprocessing">
                <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
            </div>

        </div>
    </div>

    <div *ngIf="!isDetailProcessing" class="float-right" style="margin-bottom:10px;">
        <!-- <button md-raised-button color="primary" (click)="onActive()">Print CSV</button>
        <button md-raised-button color="primary" (click)="onActive()">Active</button> -->
        <button *ngIf="permission.edit" md-raised-button color="primary" (click)="onIncognito()">Incognito</button>
        <md-progress-spinner *ngIf="deleteProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <button *ngIf="!deleteProcessing && permission.delete" md-raised-button color="danger" (click)="onDelete()">Delete</button>
    </div>

    <div>
        <article *ngIf="!isDetailProcessing" class="article">
            <h5>Sub companies</h5>
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table" [mfData]="subCompanies" #mf="mfDataTable" [mfRowsOnPage]="5">
                    <thead>
                        <tr>
                            <!-- <th>Company ID</th> -->
                            <th>Company name</th>
                            <th>Admin name</th>
                            <th>Email ID</th>
                            <th>Phone number</th>
                            <th>Employee count</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of mf.data; let i = index; " class="cursor">
                            <!-- <td>{{item?.id}}</td> -->
                            <td>{{item?.name}}</td>
                            <td>{{item?.adminName}}</td>
                            <td>{{item?.adminEmail}}</td>
                            <td>{{item?.companyContactNumber}}</td>
                            <td>{{item?.employeeCount}}</td>
                        </tr>
                        <tr style="background-color:danger;" *ngIf="subCompanies.length==0">
                            <td class="alert alert-danger" colspan="12" align="center" id="textCenter">No record found</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </article>
        <article *ngIf="!isDetailProcessing" class="article">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="cmpnycontentBox recentActivity">
                        <div class="cmpnycontentBoxInner">
                            <div class="topHead">
                                <h4>Activity for super admin and sub admin</h4>
                                <!-- <button class="btn btn-primary pull-right" [routerLink]="['/app/super-admin/activity']">View all</button> -->
                            </div>
                            <div class="activitySuperAdmin col-sm-12">
                                <ul class="activityList col-md-12">
                                    <h5><span class="dateTime"><i class="material-icons">date_range</i>&nbsp; <strong >Today</strong></span>
                                    </h5>
                                    <ng-container *ngFor="let activity of activityLog['Today'];let i=index;">
                                        <li>
                                            <div class="content" [innerHTML]="activity.latestMsg">
                                            </div>
                                        </li>
                                    </ng-container>
                                </ul>
                                <ul class="activityList col-md-12">
                                    <h5><span class="dateTime"><i class="material-icons">date_range</i>&nbsp; <strong>Yesterday</strong> </span>
                                    </h5>
                                    <ng-container *ngFor="let activity of activityLog['Yesterday'];let i=index;">
                                        <li>
                                            <div class="content" [innerHTML]="activity.latestMsg"></div>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box contentBox apisImpl">
                                <h5>APIs implemented</h5>
                                <div class="row">

                                    <div *ngFor="let a of apiList" class="col-md-4 col-xs-12 text-center"><img *ngIf="a.implemented" src="{{a.logo}}" /></div>

                                    <!-- <div class="col-md-4 col-xs-12 text-center"><img src="assets/images/MYOB-Premium.png" /></div> -->
                                    <!-- <div class="col-md-4 col-xs-12 text-center"><img src="assets/images/tanda.png" /></div> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box contentBox">
                                <h5>Add notes for this company</h5>
                                <md-progress-spinner *ngIf="isNoteProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <div *ngIf="!isNoteProcessing" class="addNotes">
                                    <div class="groupNotes">
                                        <h4>List of notes</h4>
                                        <div class="box box-default table-box table-responsive notesTbl">
                                            <table class="mdl-data-table">
                                                <thead>
                                                    <tr>
                                                        <th>Notes</th>
                                                        <th>Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let note of notes;let i=index;">
                                                        <td>
                                                            <pre>
                                                                 {{note.text}}
                                                             </pre>

                                                        </td>
                                                        <td>{{note.time| dateFormat:'longDate'}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="box box-default table-box table-responsive addnoteUser">
                                            <form #noteForm="ngForm">
                                                <table class="mdl-data-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <pre>
                                            <div class="form-group">
                                                <md-input-container class="full-width">
                                                    <textarea name="noteText" [(ngModel)]="note.text" mdInput placeholder="Write your note here" #noteText="ngModel"></textarea>
                                                </md-input-container>
                                            </div>
                                            <div *ngIf="noteText.errors && (noteText.dirty || noteText.touched)">
                                                    <div class="alert alert-danger" [hidden]="!noteText.errors.required">
                                                        Note is required !
                                                    </div>
                                                </div>
                                          </pre>

                                                            </td>
                                                            <td>
                                                                <md-progress-spinner *ngIf="isSaveProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                <button type="submit" *ngIf="!isSaveProcessing" md-raised-button (click)="addEditCompanyNote(note)" color="warn">Add a note</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </div>

</div>
<!-- <my-app-sidenav-menu [roleData]="role"></my-app-sidenav-menu> -->

<!-- <my-app-layout [roleData]="role"></my-app-layout> -->