<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-employee/ohs']">OH&S</li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-employee/ohs/email/resolved']">Resolved</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="status color-success pull-right">Resolved</div>
                            <h4 class="heading">Email from admin/OH&S manager</h4>
                            <div class="emailList">
                                <ul>
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.Lorem
                                            ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>