<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/employee']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <!-- <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/performance-appraisal']">Performance appraisal</a></li> -->
                    <li class="breadcrumb-item active">Performance appraisal</li>
                </ol>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="noResult && !isProcessing" class="cmpnycontentBox">
            <div class="text-center"> No result found.</div>
        </div>
        <div *ngIf="!noResult && !isProcessing" class="cmpnycontentBox">
            <div class="row PIPmainBox">
                <div class="col-sm-12 pipHeader">
                    <div class="row">
                        <div class="col-lg 6 col-md-4">
                            <h3 class="heading">Performance appraisal</h3>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye" *ngIf="isValidData(pa?.managerID)">
                                <div class="title">Assigned manager</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust">
                                            <img class="img-circle" height="40px" [src]="pa?.managerID?.imageUrl" width="40px">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.managerID?.name}}</h5>
                                        <div class="designation">{{pa?.managerID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye">
                                <div class="title">Assigned to</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust">
                                            <img class="img-circle" height="40px" [src]="pa?.userID?.imageUrl" width="40px">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.userID?.name}}</h5>
                                        <div class="designation">{{pa?.userID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <br>
                <div class="col-sm-12">
                    <br>
                    <br>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">KPIs
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                            <div class="box" *ngFor="let pi of pa?.performanceIndicator">
                                <ul class="indicator">
                                    <li class="lftside">
                                        <h6>Performance indicator</h6>
                                        <label>{{pi?.title}}</label>
                                    </li>
                                    <li class="rghtside">
                                        <h6>Measurement performance indicator</h6>
                                        <label>{{pi?.measure}}</label>
                                    </li>
                                </ul>
                                <h5 *ngIf="!directAssessment" class="heading">Employee self assessment </h5>
                                <p *ngIf="!directAssessment">{{pi?.response || 'Not specified'}}</p>

                                <h5 class="heading">Manager notes
                                    <div *ngIf="pi?.result" class="buttonWrap text-right float-right">
                                        <button class="btn btn-success" [ngClass]="{'btn-success': pi.result=='Pass','btn-danger': pi.result!='Pass'}">{{pi?.result}}</button>
                                    </div>
                                </h5>
                                <p>{{pi?.managerNote || 'Not specified'}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!directAssessment" class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">Answers to survey questions
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox">
                            <div class="box addIndicator" *ngFor="let qsn of pa?.question;let i=index;">
                                <h5 class="heading">{{qsn?.questionTitle}}</h5>
                                <h6 class="heading">Employee answer</h6>
                                <p>{{qsn?.response || 'Not specified'}}</p>

                                <h6 class="heading">Manager notes</h6>
                                <p> {{qsn.managerNote || 'Not specified'}}</p>
                                <div *ngIf="qsn.result" class="buttonWrap text-right">
                                    <button class="btn" [ngClass]="{'btn-success':qsn.result=='Pass','btn-danger':qsn.result!='Pass'}">{{qsn.result || 'Not specified'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="cmpnycontentBox">
            <h3 class="heading" style="margin-top:0px;margin-bottom:10px;">Next assessment date & time</h3>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <label class="form-inline">Next assessment date</label>
                </div>
                <div class="col-lg-9 col-md-8 form-group">
                    {{formatDate(pa?.assessmentDate)}}
                    <!-- <input type="date" placeholder="12/03/2017" class="form-control" /> -->
                </div>
                <!-- <div class="col-lg-3 col-md-4"><label class="form-inline">Time</label></div>
        <div class="col-lg-9 col-md-8 form-group">
          <input type="text" value="11:00 PM" class="form-control" />
        </div> -->
            </div>

        </div>
    </div>