<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/checklist']">Master off boarding checklist</li>
                </ol>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <ng-container *ngIf="!isProcessing">
            <div class="collapseInfoBox checklistMain" *ngFor="let c of checkList?.categories;let i=index;">

                <h4 (click)="collapse[i]=!collapse[i];$event.stopPropagation()" [ngClass]="{active:!collapse[i]}">
                    <div class="pull-right arrowIcon"><i class="fa fa-angle-down"></i></div>
                    <inline-editor min="0" (click)="$event.stopPropagation()" (onSave)="onHeadingChange(c)" type="textarea" [(ngModel)]="c.title"></inline-editor>
                    <md-icon color="warn" md-tooltip="Delete" class="cursor" style="float:right" (click)="onDeleteCheckListCategory(c?.companyChecklistCategoryID);$event.stopPropagation()">delete
                    </md-icon>
                </h4>
                <div [ngClass]="{open:!collapse[i]}" class="collapseContentbox">
                    <!-- <button md-raised-button class="addButton float-right cursor" color="primary" (click)="onAddColumn(c?.companyChecklistCategoryID)">
                           <md-icon>add</md-icon>Column
                        </button> -->
                    <div>
                        <div class="table-responsive visibletbl checklistTbl">
                            <table width="100%" class="mdl-data-table">
                                <tbody width="100%">
                                    <ng-container *ngIf="c.columns!=null">
                                        <tr width="100%">
                                            <td style="width:50%">
                                                <div class="addColdata">
                                                    <inline-editor class="white-space" min="0" (onSave)="onColumnChange(c)" type="text" [(ngModel)]="c.columns.columnA"></inline-editor>
                                                    <!--<md-icon color="warn" style="float:right" (click)="onDeleteColumns(col?.columnID)">delete-->
                                                    <!--</md-icon>-->
                                                </div>
                                            </td>
                                            <td>
                                                <div class="addColdata">
                                                    <inline-editor class="white-space" min="0" (onSave)="onColumnChange(c)" type="text" [(ngModel)]="c.columns.columnB"></inline-editor>
                                                    <!--<md-icon color="warn" style="float:right" (click)="onDeleteColumns(col?.columnID)">delete-->
                                                    <!--</md-icon>-->
                                                </div>
                                            </td>
                                            <td>
                                                <div class="addColdata">
                                                    <inline-editor class="white-space" min="0" (onSave)="onColumnChange(c)" type="text" [(ngModel)]="c.columns.columnC"></inline-editor>
                                                    <!--<md-icon color="warn" style="float:right" (click)="onDeleteColumns(col?.columnID)">delete-->
                                                    <!--</md-icon>-->
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="c?.rows?.length">
                                        <tr width="100%" *ngFor="let col of c?.rows;let i=index;">

                                            <td>
                                                <!-- <md-input-container> -->
                                                <!--<div (click)="onEditItem(c.companyChecklistCategoryID,col)">{{col.columnA}}</div>-->
                                                <inline-editor min="0" class="white-space" (onSave)="onItemChange(c?.companyChecklistCategoryID,col)" type="text" [(ngModel)]="col.columnA"></inline-editor>

                                                <!--<inline-editor (onSave)="onItemChange(c?.companyChecklistCategoryID,col?.columnA,col?.companyChecklistCategoryRowID)" type="text" [(ngModel)]="col.columnA"></inline-editor> -->
                                                <md-icon md-tooltip="Delete" color="warn" style="float:right" class="cursor" (click)="onDeleteListitems(col?.companyChecklistCategoryRowID)">delete</md-icon>
                                                <!-- </md-input-container> -->
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <!--<td *ngFor="let col of c?.columnsItems|slice:0:c?.columnsItems.length-1">
                
                                                        </td>-->
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                        <table width="100%" class="mdl-data-table">
                            <tbody>

                            </tbody>
                        </table>
                        <button style="margin-top:15px;" class="btn btn-primary cursor addItemBtn" (click)="onAddItem(c.companyChecklistCategoryID)">
                              <i class="fa fa-plus"></i> Add item
                          </button>
                    </div>
                </div>

            </div>
        </ng-container>
        <div *ngIf="!checkList?.categories.length && !isProcessing">
            <div class="full-width alert alert-danger text-center">
                No record found
            </div>
        </div>
    </article>
</div>