.page-auth .main-body {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.registrationForm h2 {
    font-size: 22px;
    margin: 0;
    padding: 10px 0;
    /* background: #656565; */
    color: #6b6b6b;
    margin-bottom: 29px;
    display: block;
    font-weight: 600;
    width: 100%;
}

.btn {
    font-size: 15px;
    text-transform: none;
}

.form-group {
    .form-control {
        max-width: inherit !important;
    }
}

.smallLabel {
    font-size: 12px;
    display: block;
    font-weight: normal;
}

.page-auth .card .card-content {
    padding-bottom: 0px;
}

.buttonWrap {
    margin: 15px 0px 5px;
}

.equalmargin {
    margin: 10px 0px;
}

.exampletext {
    color: #64c3fb;
    cursor: pointer;
}

.header {
    background: #333;
    padding: 8px 0;
}