<div class="header">
    <div class="container">
        <div class="top-header">
            <a (click)="onClickLogo()"><img src="assets/images/logo-white.png" width="160"></a>
        </div>
    </div>
</div>
<div class="page-auth">
    <div class="main-body">
        <div class="row">
            <div class="col-md-12">
                <app-steps [progress]='progress'></app-steps>
            </div>
            <!--<div class="col-md-12 text-right"><button type="button" class="btn btn-primary">Next <i class="material-icons next">arrow_forward</i></button></div>-->
        </div>
        <div class="cmpnycontentBox">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="card-content registrationForm">
                <form #questionForm="ngForm" class="form-horizontal" enctype="multipart/form-data" (ngSubmit)="questionForm.valid && question.companyLogo && saveAndNext()">
                    <div class="row maxformWidth">
                        <div class="col-sm-12">
                            <h4 class="heading"> Company information</h4>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Company website</label>
                            </div>
                            <div class="rghtinput10">
                                <input class="form-control" [(ngModel)]="question.companyWebsite" #companyWebsite="ngModel" name="companyWebsite" placeholder="Company website" required />
                                <div *ngIf="companyWebsite.dirty || companyWebsite.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="companyWebsite.valid">
                                        Company Website is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline">ABN</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="question.ABN" #ABN="ngModel" name="ABN" type="text" placeholder="ABN" required />
                                <div *ngIf="ABN.dirty || ABN.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="ABN.valid">
                                        ABN is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline">Phone number</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" [(ngModel)]="question.phoneNumber" #phoneNumber="ngModel" name="phoneNumber" type="number" placeholder="Phone number" required>
                                <div *ngIf="phoneNumber.dirty || phoneNumber.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="phoneNumber.valid">
                                        Phone number is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Street address</label>
                            </div>
                            <div class="rghtinput10">
                                <input class="form-control" name="streetAddress" [(ngModel)]="question.streetAddress" #streetAddress="ngModel" type="text" placeholder="Street address" required />
                                <div *ngIf="streetAddress.dirty || streetAddress.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="streetAddress.valid">
                                        Street address is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Suburb</label>
                            </div>
                            <div class="rghtinput10">
                                <input class="form-control" name="suburb" [(ngModel)]="question.suburb" #suburb="ngModel" type="text" placeholder="Suburb" required />
                                <div *ngIf="suburb.dirty || suburb.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="suburb.valid">
                                        Suburb is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline">Country</label>
                            </div>
                            <div class="rghtinput">
                                <select class="form-control" name="countryID" [(ngModel)]="question.countryID" #countryID="ngModel" required (ngModelChange)="onSelectCountry()">
                                    <option value="" disabled="true"> Please select a country </option>
                                    <option *ngFor="let country of countryList" required [value]="country.id">{{country.itemName}}</option>
                                </select>
                                <div *ngIf="countryID.dirty || countryID.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="countryID.valid">
                                        Country is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline">State / province</label>
                            </div>
                            <div class="rghtinput">
                                <!--<input class="form-control" name="state" [(ngModel)]="question.state" #state="ngModel" type="text" placeholder="State / Province" required />-->
                                <select class="form-control" name="state" [(ngModel)]="question.state" #state="ngModel" required [disabled]="disableState">
                                    <option value="" disabled="true"> Please select a state </option>
                                    <option *ngFor="let s of stateList" required [value]="s.itemName">{{s.itemName}}</option>
                                </select>
                                <div *ngIf="state.dirty || state.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="state.valid">
                                        State is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline">City</label>
                            </div>
                            <div class="rghtinput">

                                <input class="form-control" name="city" [(ngModel)]="question.city" #city="ngModel" type="text" placeholder="City" required />
                                <div *ngIf="city.dirty || city.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="city.valid">
                                        City is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline">Postal / Zip code</label>
                            </div>
                            <div class="rghtinput">
                                <input class="form-control" name="postalCode" [(ngModel)]="question.postalCode" #postalCode="ngModel" type="number" placeholder="Postal / Zip Code" required />
                                <div *ngIf="postalCode.dirty || postalCode.touched || questionForm.submitted">
                                    <div class="color-danger" [hidden]="postalCode.valid">
                                        Postal / Zip is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Tell us something about your company</label>
                            </div>
                            <div class="rghtinput10">
                                <quill-editor placeholder="Write something about company" class="form-control full-width" myNoSpaces style="height: inherit; max-width: inherit;" name="about" #about="ngModel" [(ngModel)]="question.companyAbout" required>
                                </quill-editor>
                                <div>
                                    <div *ngIf="about.dirty || about.touched || questionForm.submitted">
                                        <div class="color-danger" [hidden]="about.valid">
                                            About company required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Master award for the company</label>
                            </div>
                            <div class="rghtinput10">
                                <input *ngIf="!question?.awardName" readonly class="form-control" (click)="onClick()" placeholder="Select awards">
                                <div *ngIf="question?.awardName" class=" col-sm-12 form-group">
                                    <label class="control-label">{{question?.awardName || 'Not specified'}}</label>
                                    <button type="button" class="btn btn-special pull-right bottom15" (click)="onClick()">Edit
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                </div>
                                <div>
                                    <div *ngIf="questionForm.submitted">
                                        <div class="color-danger" [hidden]="question?.awardName">
                                            Award is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <div class="lftinpt30">
                                <label class="form-inline"></label>
                            </div>
                            <div class="rghtinput">
                                <div class="customchoosefilebtn">
                                    <label *ngIf="!isProcessingImg" class="btn-bs-file btn btn-lg btn-primary">Attach logo
                                        <input type="file" name="companyProfile" accept="image/png,image/jpg,image/jpeg" required (change)="handleFileSelect($event)">
                                    </label>
                                    <br>
                                    <md-progress-spinner *ngIf="isProcessingImg" mode="indeterminate" color=""></md-progress-spinner>
                                    {{question.companyLogo}}
                                </div>
                                <div *ngIf="questionForm.submitted && !question.companyLogo">
                                    <div class="color-danger">
                                        Logo is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessingForm" class="col-sm-12 text-center buttonWrap">
                            <button class="btn btn-primary btn-lg" type="button" (click)="saveQuestionDraft()" style="margin-right:10px;">Save as draft</button>
                            <button class="btn btn-primary btn-lg" type="submit">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>