<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">Site setting</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box contentBox maintenance" *ngIf="editSiteSetting">
                    <form #siteSettingForm="ngForm">
                        <h5>Maintainance</h5>
                        <md-radio-group [(ngModel)]="siteSetting.siteMode" required [ngModelOptions]="{standalone: true}" name="status" #status="ngModel">
                            <md-radio-button value="Online" class="md-warn gender_Radio">Online</md-radio-button>
                            <md-radio-button value="Offline" class="md-primary gender_Radio">Offline</md-radio-button>
                        </md-radio-group>
                        <div>
                            <div class="alert alert-danger" *ngIf="(status.errors && isAddButtonClicked)">
                                Please select one option for site status !
                            </div>
                        </div>
                        <div class="bg-color-white sitesetting-div">
                            <md-input-container class="full-width">
                                <textarea mdInput [(ngModel)]="siteSetting.siteModeOfflineMessage" class="maintanancetxt" #message="ngModel" name="message" placeholder="write message to display when offline" required></textarea>
                            </md-input-container>
                            <div style="margin-top:10px;" *ngIf="message.errors && (message.dirty || message.touched)">
                                <div class="alert alert-danger" [hidden]="!message.errors.required">
                                    Message is required !
                                </div>
                            </div>
                            <md-progress-spinner *ngIf="submitProcessing" mode="indeterminate" color=""></md-progress-spinner>

                            <div class="card-action" *ngIf="!submitProcessing">
                                <div md-dialog-actions class="text-center">
                                    <button md-raised-button [disabled]='!siteSettingForm.form.valid' (click)="onSave(siteSettingForm.form.valid)" color="primary">Submit</button>
                                    <button md-raised-button (click)="editSiteSetting=false;siteSetting.siteMode=oldSiteMode;siteSetting.siteModeOfflineMessage=oldMessage;" color="default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div class="box contentBox maintenance" *ngIf="!editSiteSetting && !isProcessing">
                    <h4>Maintainance<span *ngIf="permission.edit" (click)="editSiteSetting=true" class="float-right"><i md-tooltip="Edit" class="material-icons">edit</i></span></h4>
                    <h5>{{siteSetting?.siteMode}}</h5>
                    <div class="card bg-color-white">
                        <div class="card-content">
                            <span class="card-title">Message to display</span>
                            <pre>{{siteSetting?.siteModeOfflineMessage}}
                 </pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>
</div>