.maintenance{
    .card{
    margin-top:20px;
    }
    md-radio-group{
        md-radio-button{
            &:last-child{
                margin-left:30px;
            }
        }
    }
    .mat-dialog-actions{
        button{
            margin:0px 3px;
            &:first-child{
                @media (max-width:767px){
                   margin-bottom:10px;
                }
            }
        }
        &:last-child{
            margin-bottom:0px;
        }
    }
}
.card{
  .card-content {
     .card-title {
        line-height: 25px;
        margin-bottom: 15px;
        display: block;
        font-size:18px;
        @media (max-width:767px){
            font-size:20px;
        }
     }
  }
}
h4{
    span{
        cursor:pointer;
    }
}
.sitesetting-div{
    margin-top:15px;
}
.maintanancetxt{
    min-height:90px;
}