<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a *ngIf="loggenInUser=='companyAdmin'" [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a>
                        <a *ngIf="loggenInUser=='companyContractor'" [routerLink]="['/app/sub-contractor']"><span class="fa fa-home"></span></a>                        
                    </li>
                    <li *ngIf="loggenInUser=='companyAdmin'" class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day/training-plan/list']">Training plan</li>
                    <li *ngIf="loggenInUser=='companyContractor'" class="breadcrumb-item" [routerLink]="['/app/sub-contractor/training-day/training-plan/list']">Training plan</li>                    
                    <li class="breadcrumb-item active">Training plan detail</li>
                </ol>
            </div>
            <!--<div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>-->
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox text-center">
                    No result found.
                </div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox">
                    <div class="date text-right">
                        <strong>Completed</strong>&nbsp;&nbsp; {{formatDateTime(trainingPlan?.completedOn)}} </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Training plan</h4>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training plan title</label>
                            </div>
                            <div class="rghtinput10">
                                {{trainingPlan?.title}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Reason</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.reason |safe:'html'">
                                <!-- {{trainingPlan?.reason}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Action plan</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.actionPlan |safe:'html'">
                                <!-- {{trainingPlan?.actionPlan}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Objective</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.objective |safe:'html'">
                                <!-- {{trainingPlan?.objective}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Assigned manager</label>
                            </div>
                            <div class="rghtinput10 userList">
                                <div class="userName">
                                    <img class="profile-round" [src]="trainingPlan?.assignedBy?.imageUrl">
                                    <div class="name">{{trainingPlan?.assignedBy?.name}}
                                        <div class="department">{{trainingPlan?.assignedBy?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox detailbox">
                    <!-- <div class="date text-right">March 2017 at 12:00 </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Notes to employees present/done training</h4>
                        </div>
                        <div class="col-md-12" *ngIf="!trainingPlan?.trainee.length">
                            No employee were present.
                        </div>
                        <div class="trainingdtlList full-width" *ngFor="let user of trainingPlan?.trainee">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Employee</label>
                                </div>
                                <div class="rghtinput10 userList">
                                    <div class="userName">
                                        <img class="profile-round" [src]="user?.traineeDetail?.imageUrl">
                                        <div class="name">{{user?.traineeDetail?.name}}
                                            <div class="department">{{user?.traineeDetail?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                    <div class="viewCertificate float-right" *ngIf="loggenInUser=='companyAdmin'" [routerLink]="['/app/company-admin/training-day/employee-participation/certificate',trainingPlan?.trainningID,user?.traineeID]">View certification
                                        <i class="fa fa-angle-double-right"></i>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Notes by manager</label>
                                </div>
                                <div class="rghtinput10">
                                    {{user?.note || 'Not specified'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Result</label>
                                </div>
                                <div class="rghtinput10">
                                    {{user?.result}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>