.TrophyCertOuter {
    max-width: 700px;
    min-width: 700px;
    background-size: cover;
    background-repeat: repeat;
    padding: 15px;
    float: left;
}

.TrophyCertInner {
    width: 100%;
    float: left;
    display: table;
}

.TrophyCertImage,
.TrophyCertInfo {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    text-align: center;
}

.TrophyCertImage {
    background-size: cover;
    background-repeat: repeat;
    width: 40%;
    box-shadow: inset 0px 0px 60px #000000;
    -webkit-box-shadow: inset 0px 0px 60px #000000;
    -moz-box-shadow: inset 0px 0px 60px #000000;
    -o-box-shadow: inset 0px 0px 60px #000000;
    -ms-box-shadow: inset 0px 0px 60px #000000;
}

.TrophyCertImage i.fa-trophy {
    font-size: 200px;
    color: #ffffff;
    opacity: 0.8;
}

.TrophyCertInfo {
    background: #ffffff;
    padding: 20px;
}

.TrophyCertInfo h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 30px;
    font-weight: 600;
}

.TrophyCertInfo h4 {
    margin: 0 0 15px 0;
    border: none;
    padding: 0;
    font-weight: 600;
}

.TrophyCertInfo h5 {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    border: none;
}

.TrophyCertInfo p {
    margin: 5px 0;
    line-height: 20px;
}

.TrophyCertInfo p.dateRow {
    margin: 20px 0;
}