<div>
    <div class="TrophyCertOuter" [style.background-image]="'url(' + data?.trophyIcon + ')'">
        <div class="TrophyCertInner">
            <div class="TrophyCertImage" [style.background-image]="'url(' + data?.trophyIcon + ')'">
                <i class="fa fa-trophy"></i>
            </div>
            <div class="TrophyCertInfo">
                <h4>Certificate of Achievement</h4>
                <h5>Trophy Award certificate</h5>
                <p>Award category</p>
                <h4>{{data?.title}}</h4>
                <p>This certificate is presented to</p>
                <h2>{{data?.employeeUser?.name}}</h2>
                <p>For excellent performance in {{data?.title}} trophy competition.</p>
                <p class="dateRow">Date: {{data.date | dateFormat}}</p>
            </div>
        </div>
    </div>
</div>