.cmpnycontentBox {
    .row {
        .form-group {
            &:first-child {
                margin-top: 10px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}