<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink='/app/{{relPath}}'><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Leaves</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="cmpnycontentBoxInner">
                    <div class="EmpHeader fullCalendar">
                        <div *ngIf="!isProcessing" style="height:800px;" class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
                        </div>
                        <div class="row">
                            <div class="col-xl-9 col-lg-7 col-md-8  col-sm-8">
                                <!-- <div class="empSrearch">
                <div id="custom-search-input">
                  <div class="input-group">
                    <input  name="srch" type="text" class="form-control" placeholder="Search for"
                    />
                    <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                  </div>
                </div>
              </div> -->
                                <div *ngIf="relPath != 'sub-contractor'" class="leaveBalenceStatus btn btn-primary">
                                    My leave balance: <span>0</span>
                                </div>
                                <button class="btn btn-warning applyPopUp" (click)="onPopUp()">Apply leave</button>
                            </div>
                            <div class="col-xl-3 col-lg-5 col-md-4 col-sm-4">
                                <div class="filter">
                                    <div class="form-group">
                                        <button class="form-control btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div [hidden]="toggleFilter">
                            <!--custome filter pop up-->
                            <div class="filterController row" style="padding-bottom:0;">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li><label><input type="checkbox" [(ngModel)]="filter.Approved"/><span>Approved</span></label></li>
                                        <li><label><input type="checkbox" [(ngModel)]="filter.Rejected"/><span>Rejected</span></label></li>
                                        <li><label><input type="checkbox" [(ngModel)]="filter.Pending"/><span>Pending</span></label></li>
                                        <!-- <li><label><input type="checkbox" [(ngModel)]="filter.Cancelled"/><span>Cancelled</span></label></li> -->
                                    </ul>
                                </div>
                                <button (click)="isChecked() && getLeaveList()" class="btn btn-lg outlined pull-right" [ngClass]="{'btn-default': !isChecked(), 'btn-primary': isChecked()}">Apply filter <i class="fa fa-check"></i></button>

                            </div>
                        </div>
                    </div>
                    <div class="file-notes-list">
                        <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                        <div *ngIf="!isProcessing" class="tableWrapper">
                            <br>
                            <table #mf="mfDataTable" [mfData]="leaveList" [mfRowsOnPage]="10">
                                <thead>
                                    <th>Applied on</th>
                                    <th>Leave type</th>
                                    <th>
                                        <mfDefaultSorter by="startDate"> Start date &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="endDate">End date &nbsp;<i class="fa fa-sort"></i> </mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="count">Days count &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="status"> Status </mfDefaultSorter>
                                    </th>
                                    <th> Decision by</th>
                                    <th> Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let leave of mf.data">
                                        <td>{{formatDate(leave?.appliedOn)}}</td>
                                        <td>{{leave?.leaveType}}</td>
                                        <td>{{formatDate(leave?.startDate)}}</td>
                                        <td>{{formatDate(leave?.endDate)}}</td>
                                        <td>{{leave?.count}}</td>
                                        <td>
                                            <span *ngIf="leave?.status=='Pending'" class="color-pending">{{leave?.status}}</span>
                                            <span *ngIf="leave?.status=='Approved'" class="color-success">{{leave?.status}}</span>
                                            <span *ngIf="leave?.status=='Cancelled'" class="color-danger">{{leave?.status}}</span>
                                            <span *ngIf="leave?.status=='Rejected'" class="color-danger">{{leave?.status}}</span>
                                        </td>
                                        <td>
                                            <div *ngIf="isAvailable(leave?.desicionBy)" class="media">
                                                <div class="media-left d-flex align-self-center  media-middle">
                                                    <img class="img-circle" [src]="leave?.desicionBy?.imageUrl" height="40px" width="40px" />
                                                </div>
                                                <div class="d-flex align-self-center  media-right">{{leave?.desicionBy?.name}}</div>
                                            </div>
                                            <span *ngIf="!isAvailable(leave?.desicionBy)">Not approved</span>
                                        </td>
                                        <td *ngIf="!leave['isUpdating']">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <!--<a class="dropdown-item color-primary" href="javascript:void(0)" [routerLink]="[(role != 'companyContractor')?'/app/employee/leaves/details':'/app/sub-contractor/leaves/details',leave.leavesID]"><i class="fa fa-eye"></i>&nbsp; View </a>-->
                                                    <a class="dropdown-item color-primary" href="javascript:void(0)" (click)="onDetails(leave.leavesID)"><i class="fa fa-eye"></i>&nbsp; View </a>
                                                    <a class="dropdown-item color-danger" href="javascript:void(0)" *ngIf="leave?.status=='Pending' || leave?.status=='Approved'" (click)="cancelLeave(leave)"><i class="fa fa-ban"></i>&nbsp; Cancel </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td *ngIf="leave['isUpdating']">
                                            <md-progress-spinner style="margin-top:20px;" mode="indeterminate" color=""></md-progress-spinner>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <br>
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </tfoot>
                            </table>
                            <div *ngIf="leaveList.length==0" class="text-center">
                                No record found.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>