.cmpnycontentBoxInner {
    .filterController {
        margin-top: 4px;
        @media screen and (max-width: 767px) {
            .text-right {
                text-align: left !important;
                padding-top: 10px;
            }
        }
        ul {
            li {
                display: inline-block;
                margin-right: 5px;
            }
        }
        .leaveBalenceStatus {
            margin-top: -8px;
            margin-right: 10px;
            @media screen and (max-width: 767px) {
                margin-right: 0;
                text-align: left;
                margin-bottom: 10px;
            }
        }
    }
    .tableWrapper table {
        .circleIcon {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
            background-color: #4cdaaa;
            text-align: center;
            vertical-align: middle;
            line-height: 25px;
            i {
                color: #fff;
            }
        }
        .btn-danger {
            background: #EF5350;
        }
        .color-pending {
            color: #f79e31;
        }
    }
}

.applyPopUp {
    @media screen and (max-width: 575px) {
        margin: 20px 0;
    }
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: fontAwesome;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline;
    padding-left: 7px;
}