.form-group {
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
        .form-control {
            max-width: inherit;
        }
    }
    .form-inline {
        margin: 0px 0px;
    }
}

.cmpnycontentBox {
    .marginBottom {
        margin-bottom: 10px;
    }
}