.maxwidthtd {
    white-space: initial;
}

.material-icons {
    &.happy {
        color: #4cdaaa;
    }
    &.unhappy {
        color: #ff8383;
    }
    &.average {
        color: #FF8C00;
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}