<div class="container-fluid chapter">
    <article class="article">
        <h2 _ngcontent-c14="" class="article-title">List of feedbacks</h2>
        <div class="box box-default paddingBox">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h5> Status </h5>
                    <ul>
                        <li *ngFor="let s of status;let i=index">
                            <md-checkbox name="status_{{i}}" (change)="onFilter()" [(ngModel)]="filter.status[s]"> {{s}} </md-checkbox>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5> Feedback </h5>
                    <ul>
                        <li *ngFor="let f of feedback;let i=index">
                            <md-checkbox name="feedbackType_{{i}}" (change)="onFilter()" [(ngModel)]="filter.feedback[f]"> {{f}} </md-checkbox>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5> Company type </h5>
                    <ul>
                        <li *ngFor="let t of type;let i=index">
                            <md-checkbox name="companyType_{{i}}" (change)="onFilter()" [(ngModel)]="filter.companyType[t]">
                                <div *ngIf="t=='subCompany'">Sub company</div>
                                <div *ngIf="t=='company'">Company</div>
                            </md-checkbox>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box box-default table-box table-responsive mdl-shadow--2dp">
            <table class="mdl-data-table" [mfData]="feedbacks" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr>
                        <th>Company name</th>
                        <th>Company type</th>
                        <th>User name</th>
                        <!-- <th>User ID</th> -->
                        <th>Date</th>
                        <th>Time</th>
                        <th>Feedback</th>
                        <th>Notes</th>
                        <th>Status</th>
                        <th *ngIf="permission.edit || permission.view">Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="!isProcessing">
                    <tr *ngFor="let item of mf.data; let i = index; " (click)="onClick(item.feedbackID);$event.stopPropagation();" style="cursor:pointer">
                        <td>{{item?.companyName}}</td>
                        <td>{{item?.companyType}}</td>
                        <td>{{item?.userName}}</td>
                        <!-- <td>{{item?.feedbackID}}</td> -->
                        <td>{{item?.date}}</td>
                        <td>{{item?.time}}</td>
                        <td *ngIf="item.feedback=='Happy'"><i class="material-icons happy">sentiment_very_satisfied</i></td>
                        <td *ngIf="item.feedback=='Average'"><i class="material-icons average">sentiment_neutral</i></td>
                        <td *ngIf="item.feedback=='Unhappy'"><i class="material-icons unhappy">sentiment_very_dissatisfied</i></td>
                        <td>
                            <pre style="text-align:left;width:500px;white-space:initial;">
                             {{item?.note}}
                           </pre>
                        </td>
                        <td>{{item?.status}}</td>

                        <td>
                            <button *ngIf="permission.edit" md-raised-button color="primary" (click)="statusChange(item);$event.stopPropagation();">Broadcast</button>
                            <button *ngIf="permission.view" md-raised-button color="primary" [routerLink]="['/app/super-admin/company/details/',item.companyID]" (click)="$event.stopPropagation();">Company details</button>
                        </td>
                    </tr>
                    <tr *ngIf="feedbacks.length==0">
                        <td class="alert alert-danger" id="textCenter" align="center" colspan="10">No record found</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="progressSpinner" colspan="10" style="background:#ffffff !important;">
                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
</div>