th {
    a.text-nowrap {
        font-weight: bolder;
        opacity: 0.9;
    }
}

.description-list {
    padding: 0 20px 20px;
    .empSrearch {
        max-width: 100%;
        width: 100%;
        margin-bottom: 0px;
        #custom-search-input {
            .input-group {
                border: 1px solid #9c9c9c;
                border-radius: 4px;
                overflow: hidden;
            }
        }
        .btn {
            background: #fbcb27;
            color: #fff;
            border-left: 1px solid #808080;
        }
    }
}

.btn-none {
    background: transparent;
    border: 0;
}

h3.heading {
    margin: 0;
    margin-bottom: 16px;
}

.input-group .form-control:hover {
    z-index: 0;
}

@media screen and (max-width:767px) {
    .heading .btn.btn-primary {
        margin: 7px 0 12px;
        float: none;
    }
}

@media screen and (max-width:479px) {
    .description-list .sub-title .btn-blue {
        margin: 13px 0;
    }
    .createPDbtn {
        width: 100%;
    }
}

.dropdown-menu {
    a {
        &:hover {
            font-weight: bold;
            background: transparent;
            cursor: pointer;
        }
        &:focus {
            background: transparent;
        }
        &:active {
            background: transparent;
            font-weight: bold;
        }
    }
}