<section class="description-list">
    <div class="divheader" [hidden]="true">
        <h4 class="heading">
            Position description documents
        </h4>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Position description</li>
    </ol>
    <div class="cmpnycontentBox">
        <div>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-xl-9 col-md-8">
                        <div class="empSrearch full-width">
                            <div id="custom-search-input">
                                <div class="input-group">
                                    <input (keyup)="getPositionDescriptionListOnSearch()" type="text" class="form-control" name="searcjht" [(ngModel)]="searchKey" placeholder="Search" style="border:0;" />
                                    <span class="input-group-btn">
                        <button class="btn" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3  col-md-4 col-6 float-left">
                        <button *ngIf="(userInfo.userRole =='companyAdmin') && !userInfo.isSubCompany" (click)="onAddNewButton()" class="btn createPDbtn btn-success pull-right full-width">Add new PD<i class="fa fa-plus"></i></button>
                    </div>
                    <div class="tableWrapper col-sm-12" style="margin-top:15px;">
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                        <table *ngIf="!isProcessing" #mf="mfDataTable" [mfData]="positionDescriptionArray" [mfRowsOnPage]="10" class="full-width table">
                            <thead>
                                <th style="width: 85px;">S. no. &nbsp;&nbsp;</th>
                                <th>
                                    <mfDefaultSorter by="positionTitle"> Position title &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th style="width:121px;">
                                    <mfDefaultSorter by="status"> Status &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>Details</th>
                                <th style=" width:135px">Action</th>
                            </thead>

                            <tbody>
                                <tr *ngFor="let d of mf.data; let i=index">
                                    <td>{{i+1}}</td>
                                    <td style="cursor: pointer">{{d?.positionTitle}}</td>
                                    <td>{{d?.status}}</td>
                                    <td style="width:145px;"><button class="btn btn-default" (click)="onShowDetails(d.positionId)">View details</button></td>
                                    <td style="width:135px;">
                                        <div *ngIf="!userInfo.isSubCompany" class="dropdown">
                                            <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <button *ngIf="!userInfo.isSubCompany" class="dropdown-item btn-none color-info" (click)="OnEdit(d.positionId)"><i class="fa fa-pencil-square-o"></i>&nbsp;  Edit</button>
                                                <button *ngIf="(userInfo.userRole =='companyAdmin') && !userInfo.isSubCompany" class="dropdown-item btn-none color-danger" (click)="OnDelete(d.positionId)"><i class="fa fa-trash-o"></i>&nbsp; Delete</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                <tr class="danger" style="text-align:center" *ngIf="!positionDescriptionArray.length && !isProcessing">
                                    <td colspan="4">Record not found</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>