<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee/message']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Messages</li>
    </ol>
    <app-messages></app-messages>
</div>