.descriptionVersion {
    .tabing-content {
        padding: 30px 15px 30px;
        .mainTabbing {
            .header {
                background: gray;
                color: #fff;
                padding: 15px;
                width: 100%;
                p {
                    display: inline-block;
                    margin-bottom: 6px;
                }
                h3 {
                    font-size: 16px;
                    font-weight: normal;
                    margin: 0;
                    display: inline-block;
                }
                .btn-blue {
                    background: rgb(100, 195, 250);
                    color: #fff;
                    font-weight: normal;
                    font-size: 18px;
                    margin-top: -22px;
                }
            }
            .description {
                opacity: 0.9;
                background: #fff;
                //  width:100%;
                padding: 20px 15px;
                margin: 20px 135px;
                @media(max-width: 991px) {
                    margin: 20px 0px;
                }
                h3 {
                    font-size: 20px;
                    font-family: 'LatoWebHeavy';
                    margin: 0;
                    margin-bottom: 12px;
                }
                h4 {
                    margin-bottom: 5px;
                    font-family: 'LatoWebHeavy';
                    font-size: 18px;
                }
                ul {
                    padding-left: 15px;
                    li {
                        list-style-type: disc;
                    }
                }
            }
        }
    }
    .tabing-nav {
        &:before {
            content: "View versions";
            position: absolute;
            top: 40%;
            left: -88px;
            height: 40px;
            text-align: center;
            width: 135px;
            background: #80ab4f;
            font-size: 17px;
            color: #ffffff;
            border-radius: 7px 7px 0px 0px;
            line-height: 44px;
            text-shadow: 1px 1px 0px #969696;
            transform: rotate 270deg;
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            cursor: pointer;
        }
        position: fixed;
        right: 0;
        top: 90px;
        width: 180px;
        height: 86%;
        margin-right: -164px;
        overflow: auto;
        background: rgb(235, 235, 235);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        ul {
            li {
                border-bottom: 1px solid lightgray;
                p {
                    margin-bottom: 0;
                }
                a {
                    color: #333;
                    padding: 12px 15px;
                    display: block;
                    &:hover {
                        display: block;
                        text-decoration: none;
                        background: lightgray;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
        transition: all 0.5s ease;
    }
    .tabing-nav:hover {
        margin-right: 0px;
        transition: all 0.5s ease;
    }
}

.tabing-nav .active {
    background-color: gray;
    p,
    span {
        color: black;
    }
}

.tabing-nav .local_active {
    // transform: scale(1.1);
    background-color: lightgray;
    p,
    span {
        color: black;
    }
    // transition: all 0.5s ease;
}