<div style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-12 pageHead">
            <h2 class="article-title">Create new column</h2>
        </div>
    </div>
    <form #addColumnForm="ngForm">
        <div class="form-group">
            <md-input-container class="full-width">
                <input mdInput required [(ngModel)]="column.title" #columnName="ngModel" name="coloumn" placeholder="Column name">
            </md-input-container>
            <div *ngIf="columnName.errors && addColumnForm.submitted && (columnName.dirty || columnName.touched)">
                <div class="alert alert-danger" [hidden]="!columnName.errors.required">
                    Column name is required !
                </div>
            </div>
        </div>
        <div md-dialog-actions>
            <button md-raised-button color="primary" [disabled]="!addColumnForm.form.valid" (click)="onAdd(addColumnForm.form.valid)">Add</button>
            <button md-button color="default" (click)="dialogRef.close(false);false">Cancel</button>
        </div>
    </form>
</div>