.collapseInfoBox {
    position: relative;
    .bgRed {
        background: #ff8383;
        border-color: #ff8383;
        color: #ffffff;
    }
    .applyLeave {
        top: 8px;
        right: 49px;
        padding: 4px 10px;
        position: absolute;
    }
    .collapseContentbox {
        width: 100%;
    }
    .form-group {
        label {
            font-weight: bold;
            display: block;
        }
        .detailField {
            textarea {
                height: 60px;
                resize: none;
                line-height: 17px;
            }
        }
        .currentEmpoption {
            .customChoice {
                display: inline-block;
                margin-right: 25px;
            }
        }
    }
    .warningReason {
        width: 400px;
    }
    .empPerformanceInd {
        width: 300px;
    }
    .tableWrapper {
        position: relative;
        .btn-link {
            text-decoration: none;
            box-shadow: none;
            padding: 0;
            margin-top: 10px;
        }
        .clock {
            font-size: 38px;
            margin-top: 0;
            color: #999;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.uploadedDoc {
    .fileNamne {
        margin: 10px 0px;
    }
    .actions {
        .btn {
            &:first-child {
                margin-right: 7px;
            }
        }
    }
}

.pageHead {
    .btnwrapp {
        margin-top: 18px;
        .btn {
            display: inline-block;
            margin-right: 7px;
        }
        angular2-multiselect {
            display: inline-block;
            width: 255px;
        }
    }
}

.createShououtsp {
    .form-inline {
        label {
            font-size: 16px;
            margin-right: 10px;
            width: 150px;
        }
    }
}

.tableWrapper {
    table {
        tr {
            td {
                padding: 5px 15px;
            }
        }
    }
}

.paddingBox {
    padding-top: 0px;
}

.EmpNewDD {
    angular2-multiselect {
        float: right;
        margin-bottom: 10px;
        min-width: 245px;
    }
}

.collapseContentBox {
    float: left;
    width: 100%;
    padding: 15px 15px 15px 5px;
    margin-bottom: 15px;
}

.expandSection {
    margin: 0px 0 0 5px;
    padding: 0px 0px 8px 8px;
    color: #64c3fc;
    text-decoration: underline;
    i {
        text-decoration: underline;
    }
}

.collapseContentBox .panel-heading h4 {
    font-size: 22px;
    margin: 0px 0px 0px;
    padding: 10px 0px;
    border-bottom: 2px solid #cccccc;
}

.collapseContentBox .panel-heading h4 a {
    color: #333333;
    padding-left: 10px;
}

.collapseContentBox .panel-title>a[aria-expanded="false"]:before {
    float: left !important;
    font-family: FontAwesome;
    content: "\f055";
    padding-right: 5px;
    font-size: 28px;
    margin-top: -4px;
}

.collapseContentBox .panel-title>a[aria-expanded="true"]:before {
    float: left !important;
    content: "\f056";
    font-size: 28px;
    margin-top: -4px;
    font-family: FontAwesome;
}

a.btn-primary:hover {
    color: #ffffff;
}

.collapseContentBox .panel-title>a:hover,
.collapseContentBox .panel-title>a:active,
.collapseContentBox .panel-title>a:focus {
    text-decoration: none;
}

.collapseContentBox .collapse.in {
    display: block;
}

.vAligntop {
    vertical-align: top !important;
}

.admin-panel .tableWrapper table.performanceTbl tr:nth-child(even) {
    background: #ffffff !important;
}

.collapseContentBox .panel-body {
    padding: 15px;
    background: #ffffff;
    border: 1px solid #cccccc;
}

.rowWrap>td {
    padding: 10px 0;
}

.rowWrap .userSec {
    float: left;
}

.actionDDtbl .dropdown-menu {
    left: inherit;
    right: 0px;
}
.collapseContentBox .panel-heading h4.color-danger a{
    color: #EF5350;
}
