<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Activities and approvals</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 EmpNewDD">
                <angular2-multiselect *ngIf="!isEmployeeListProcessing" [data]="dropdownListEmployees" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event,true)" (onSelectAll)="onItemSelect($event,true)" (onDeSelectAll)="onItemSelect($event,true)" (onDeSelect)="onItemSelect($event,false)"
                    [settings]="dropdownSettings" [selectedItems]="selectedItems">
                </angular2-multiselect>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row" id="box1">
                    <!--<div class="col-md-12 EmpNewDD">
                        <md-progress-spinner *ngIf="isEmployeeListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <angular2-multiselect *ngIf="!isEmployeeListProcessing" [data]="dropdownListEmployees" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event,true)" (onDeSelect)="onItemSelect($event,false)" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                        </angular2-multiselect>
                    </div>-->
                    <div class="col-md-12" *ngFor="let list of activities">
                        <div *ngIf="(list.module != 'induction' && list.module != 'performanceIndicator')" class="collapseInfoBox">
                            <h4 (click)="collapse[list?.title]=!collapse[list?.title]" [ngClass]="{active:collapse[list?.title],bgRed:isPending[list.module]}">
                                <span *ngIf="list.module=='performanceAppraisal'">Performance appraisal & direct assessment </span>
                                <span *ngIf="list.module!='performanceAppraisal'">{{list?.title}} </span>
                                <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
                            </h4>
                            <div [ngClass]="{open:collapse[list?.title]}" class="collapseContentbox">
                                <div *ngIf="isCreateButton(list)" class="createNew clearfix col-md-12 text-right">
                                    <button style="margin-left: 10px;" *ngIf="list.module=='performanceAppraisal'" class="btn btn-primary btn-sm pull-right" (click)="openEmployeeListPopup('directAssessmentPA')">Conduct direct assessment
                                        <span class="fa fa-plus"></span>
                                    </button>
                                    <button class="btn btn-primary btn-sm pull-right" (click)="onCreate(list)">Create {{list?.title}}
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                                <div class="paddingBox">
                                    <div class="tableWrapper">
                                        <table style="min-width:1000px;" [mfData]="list.data" #mf="mfDataTable" [mfRowsOnPage]="10">
                                            <thead>
                                                <th *ngIf="isValidateColumn(list.data,'title')">
                                                    <mfDefaultSorter by="title">Title &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'name')">
                                                    <mfDefaultSorter by="name">Name &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                
                                                <th *ngIf="isValidateColumn(list.data,'newEmployeeApproval')">
                                                    <mfDefaultSorter by="newEmployeeApproval">Employee to recruit &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'position')">
                                                    <mfDefaultSorter by="position">Position &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'type')">
                                                    <!-- OH&S -->
                                                    <mfDefaultSorter by="type">Issue type &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'trophyFor')">
                                                    <!-- Trophy -->
                                                    <mfDefaultSorter by="trophyFor">Award for &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'trophyIcon')">
                                                    <!-- Trophy -->
                                                    <mfDefaultSorter by="trophyIcon">Trophy &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'version')">
                                                    <!-- Contract & Policy -->
                                                    <mfDefaultSorter by="version">Version &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'applyTime')">
                                                    <!-- Leaves -->
                                                    <mfDefaultSorter by="applyTime">Applied on &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'creatorUser')">
                                                    <!-- 360 Survey -->
                                                    <mfDefaultSorter by="creatorUser.name">Created by &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'employeeUser') && ((list.module =='mandatoryDocuments' )|| ( list.module =='employeeSignedDocument'))">
                                                    <mfDefaultSorter by="employeeUser.name">Employee / Contractor &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'employeeUser') && ((list.module !='mandatoryDocuments' ) && ( list.module !='employeeSignedDocument'))">
                                                    <mfDefaultSorter by="employeeUser.name">Employee &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'contractType') && (list.module=='pending contract')">
                                                    <mfDefaultSorter by="name">Contract type &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'guiltyUser')">
                                                    <!-- OH&S -->
                                                    <mfDefaultSorter by="guiltyUser.name">Against &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'managerUser')">
                                                    <mfDefaultSorter by="managerUser.name">Manager &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'insertTime')">
                                                    <mfDefaultSorter by="insertTime">Date &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'meetingTime')">
                                                    <mfDefaultSorter by="meetingTime">Meeting time &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'trainingTime')">
                                                    <mfDefaultSorter by="trainingTime">Training date &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'assessmentTime')">
                                                    <mfDefaultSorter by="assessmentTime">Assessment date &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'nextAssessmentDate')">
                                                    <mfDefaultSorter by="nextAssessmentDate">Next assessment date &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>

                                                <th *ngIf="isValidateColumn(list.data,'expiryDate')">
                                                    <mfDefaultSorter by="expiryDate">Expiry date &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="isValidateColumn(list.data,'status')">
                                                    <mfDefaultSorter by="status">Status &nbsp;
                                                        <i class="fa fa-sort"></i>
                                                    </mfDefaultSorter>
                                                </th>
                                                <th *ngIf="list.data.length>0">Action &nbsp;</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of mf.data; let i=index;" [ngClass]="(list.module=='pending contract' && data?.status=='Pending') ? 'color-danger':''">
                                                    <td *ngIf="isValidateColumn(list.data,'title')">{{data?.title || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'name')">{{data?.name || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'newEmployeeApproval')">{{data?.newEmployeeApproval || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'position')">{{data?.position || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'type')">{{data?.type || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'trophyFor')">{{data?.trophyFor || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'trophyIcon')">
                                                        <div class="trophyClr">
                                                            <i class="fa fa-trophy"></i>
                                                            <img [src]="data.trophyIcon" />
                                                        </div>
                                                    </td>
                                                    <td *ngIf="isValidateColumn(list.data,'version')">{{data?.version || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'applyTime')">{{formatDateTime(data?.applyTime)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'creatorUser')">
                                                        <div *ngIf="data?.creatorUser" class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle">
                                                                <img class="img-circle" [src]="data?.creatorUser?.imageUrl" height="40px" width="40px" />
                                                            </div>
                                                            <div class="d-flex align-self-center  media-right">{{data?.creatorUser?.name}}</div>
                                                        </div>
                                                        <span *ngIf="!data?.creatorUser">Not specified</span>
                                                    </td>
                                                    <td *ngIf="isValidateColumn(list.data,'employeeUser')">
                                                        <div *ngIf="data?.employeeUser" class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle">
                                                                <img *ngIf="data?.anonymous!='Yes' && data.employeeAnonymous!='Yes'" class="img-circle" [src]="data?.employeeUser?.imageUrl" height="40px" width="40px" />
                                                                <img *ngIf="list.module=='360Survey' && data.employeeAnonymous=='Yes'" class="img-circle" src="assets/images/user.png" height="40px" width="40px" />
                                                            </div>
                                                            <div *ngIf="data?.anonymous!='Yes' && data.employeeAnonymous!='Yes'" class="d-flex align-self-center  media-right">{{data?.employeeUser?.name}}</div>
                                                            <div *ngIf="(list.module=='360Survey' && data.anonymous=='Yes' && data.status) || (list.module=='360Survey' && data.anonymous!='Yes' && data.employeeAnonymous=='Yes')" class="d-flex align-self-center  media-right">Anonymous</div>                                                            
                                                        </div>
                                                        <!-- <span *ngIf="list.module=='360Survey' && data.anonymous=='Yes'"> Anonymous</span> -->
                                                        <span *ngIf="!data?.employeeUser">Not specified</span>
                                                    </td>
                                                    <td *ngIf="isValidateColumn(list.data,'guiltyUser')">
                                                        <div *ngIf="data?.guiltyUser" class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle">
                                                                <img class="img-circle" [src]="data?.guiltyUser?.imageUrl" height="40px" width="40px" />
                                                            </div>
                                                            <div class="d-flex align-self-center  media-right">{{data?.guiltyUser?.name}}</div>
                                                        </div>
                                                        <span *ngIf="!data?.guiltyUser">Not specified</span>
                                                    </td>
                                                    <td *ngIf="isValidateColumn(list.data,'managerUser')">
                                                        <div *ngIf="data?.managerUser" class="media">
                                                            <div class="media-left d-flex align-self-center  media-middle">
                                                                <img class="img-circle" [src]="data?.managerUser?.imageUrl" height="40px" width="40px" />
                                                            </div>
                                                            <div class="d-flex align-self-center  media-right">{{data?.managerUser?.name}}</div>
                                                        </div>
                                                        <span *ngIf="!data?.managerUser">Not specified</span>
                                                    </td>
                                                    <td *ngIf="isValidateColumn(list.data,'contractType')">{{data?.contractType || 'Not specified'}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'insertTime')">{{formatDateTime(data?.insertTime)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'meetingTime')">{{formatDateTime(data?.meetingTime)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'trainingTime')">{{formatDateTime(data?.trainingTime)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'assessmentTime')">{{formatDateTime(data?.assessmentTime)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'nextAssessmentDate')">{{formatDateTime(data?.nextAssessmentDate)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'expiryDate')">{{formatDateTime(data?.expiryDate)}}</td>
                                                    <td *ngIf="isValidateColumn(list.data,'status')" >{{data?.status}}</td>
                                                    <td *ngIf="list.data.length>0" style="width:118px;">
                                                        <md-progress-spinner *ngIf="data['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>
                                                        <div *ngIf="!data['isProcessing'] && actions[list.module]" class="dropdown actionDroapdown actionDDtbl">
                                                            <button *ngIf="showActionButton(list,data)" class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                <i class="fa fa-angle-down"></i>
                                                            </button>
                                                            <div class="dropdown-menu" [ngClass]="list.module" aria-labelledby="dropdownMenuButton">
                                                                <button *ngIf="actions[list.module]?.edit && isValidEdit(list,data) && data?.status!='Terminated'" class="dropdown-item btn-none color-info" (click)="onEdit(list,data)">
                                                                    <i class="fa fa-pencil-square-o"></i> Edit</button>
                                                                <button *ngIf="actions[list.module]?.delete" class="dropdown-item btn-none color-danger" (click)="onDelete(list,data,i)">
                                                                    <i class="fa fa-ban"></i> Delete</button>
                                                                <button *ngIf="actions[list.module]?.archive && data?.status!='Terminated'" class="dropdown-item btn-none color-danger" (click)="onArchive(list,data,i)">
                                                                        <i class="fa fa-ban"></i> Archive</button>
                                                                <!-- <button *ngIf="actions[list.module]?.createTrainingPlan" class="dropdown-item btn-none color-primary" [routerLink]="['/app/company-admin/training-day/training-plan/add',data?.trainingPlanID]">
                                                                    <i class="fa fa-plus-square-o"></i> Create training plan</button> -->
                                                                <!-- <button *ngIf="actions[list.module]?.previousPlan" class="dropdown-item btn-none color-primary" [routerLink]="['/app/company-admin/training-day/training-plans/previous',data?.trainingPlanID]">
                                                                    <i class="fa fa-plus-square-o"></i> Previous training plans</button> -->
                                                                <button *ngIf="actions[list.module]?.performAction && data?.status!='Terminated'" class="dropdown-item btn-none color-primary" (click)="onPerformAction(list,data)">
                                                                    <i class="fa fa-paper-plane-o"></i> Perform action</button>
                                                                <button *ngIf="actions[list.module]?.reSchedule && (data?.status == 'Awaiting Employee Acceptance' || data?.status == 'Accepted')" class="dropdown-item btn-none color-primary">
                                                                    <i class="fa fa-file-text-o"></i> Re-schedule</button>
                                                                <button *ngIf="actions[list.module]?.acceptOrReject && data?.status =='Pending'" class="dropdown-item btn-none color-primary" (click)="onAcceptOrReject(list,data)">
                                                                    <i class="fa fa-circle-o"></i> Accept/Reject</button>
                                                                <button *ngIf="actions[list.module]?.viewEmployeeResponse && isValidViewResponse(list,data)" class="dropdown-item btn-none color-info" (click)="onViewEmployeeResponse(list,data)">
                                                                    <i class="fa fa-eye"></i> View employee response</button>
                                                                <button *ngIf="actions[list.module]?.investigate && isValidInvestigate(list,data) && data?.status!='Terminated'" class="dropdown-item btn-none color-info" (click)="onInvestigate(list,data)">
                                                                    <i class="fa fa-search-plus"></i> Investigate</button>
                                                                <button *ngIf="actions[list.module]?.result && isValidResult(list,data) " class="dropdown-item btn-none color-info" (click)="onResult(list,data)">
                                                                    <i class="fa fa-eye"></i> Result</button>
                                                                <button *ngIf="actions[list.module]?.downloadReport && (data?.status=='Resolved' || data?.status=='Unresolved')" class="dropdown-item btn-none color-primary" (click)="onDownloadReport(list,data)">
                                                                    <i class="fa fa-download"></i> Download report</button>
                                                                <button *ngIf="actions[list.module]?.viewDetail && isValidViewDetail(list,data) && list.module!='policyDocument'" class="dropdown-item btn-none color-info" (click)="onViewDetail(list, data)">
                                                                    <i class="fa fa-eye"></i> View detail</button>
                                                                <button *ngIf="actions[list.module]?.viewDetail && isValidViewDetail(list,data) && list.module=='policyDocument' && data?.status!='Terminated'" class="dropdown-item btn-none color-info" (click)="onViewDetail(list, data)">
                                                                    <i class="fa fa-eye"></i> View policy</button>
                                                                <button *ngIf="actions[list.module]?.asessment && (data?.status=='Awaiting Manager Response' || data?.status=='Under Assessment')" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-appraisal/assessment-by-manager', data?.performanceAppraisalID]">
                                                                    <i class="fa fa-file-text-o"></i> Assessment</button>
                                                                <button *ngIf="actions[list.module]?.directAsessment && isDirectAsessment(list,data) && data?.status!='Terminated'" class="dropdown-item btn-none color-info" (click)="onDirectAsessment(list,data)">
                                                                    <i class="fa fa-arrow-right"></i> Direct assessment</button>
                                                                <button *ngIf="actions[list.module]?.createPerformanceAppraisal && data?.status!='Terminated'" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-appraisal/create',data?.employeeUser?.userID]">
                                                                    <i class="fa fa-plus-square-o"></i> Create performance appraisal</button>
                                                                <button *ngIf="actions[list.module]?.createPerformanceAppraisal && data?.status!='Terminated'" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-appraisal/create',data?.employeeUser?.userID]">
                                                                    <i class="fa fa-plus-square-o"></i> Create performance appraisal</button>
                                                                <button *ngIf="actions[list.module]?.createNomination && data?.nominatedStatus=='No' && data?.status!='Terminated'" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/trophy/create-trophy-nominations', data?.trophyID]">
                                                                    <i class="fa fa-bell-o"></i> Create nominations</button>
                                                                <button *ngIf="actions[list.module]?.viewSurveyResponse && data?.status!=='Unused'" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/survey/all-employee-response', data?.surveyID]">
                                                                    <i class="fa fa-eye"></i> View survey response</button>
                                                                <button *ngIf="actions[list.module]?.viewResponse" class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/exit-survey/view-response', data?.employeeExitSurveyID]">
                                                                    <i class="fa fa-eye"></i> View response</button>
                                                                <button *ngIf="actions[list.module]?.approve && data?.status =='Pending'" class="dropdown-item btn-none color-success" (click)="onApprove(list,data)">
                                                                    <i class="fa fa-check-circle-o"></i> Approve</button>
                                                                <button *ngIf="actions[list.module]?.reject && data?.status =='Pending'" class="dropdown-item btn-none color-danger" (click)="onReject(list,data)">
                                                                    <i class="fa fa-ban"></i> Reject</button>
                                                                <button *ngIf="actions[list.module]?.cancel && data?.status !='Cancelled'" class="dropdown-item btn-none color-danger" (click)="onCancel(list,data)">
                                                                            <i class="fa fa-ban"></i> Cancel</button>
                                                                <a *ngIf="actions[list.module]?.documentUrl" target="_blank" class="dropdown-item btn-none color-info" href="{{data?.documentUrl}}">
                                                                    <i class="fa fa-eye"></i> View Document</a>
                                                                <!-- <button target="_blank" class="dropdown-item btn-none color-warn" (click)="onArchieve(list,data,i)">
                                                                    <i class="fa fa-archive"></i> Archive</button>
                                                                <button target="_blank" class="dropdown-item btn-none color-danger" (click)="onDelete(list,data,i)">
                                                                    <i class="fa fa-ban"></i> Delete</button> -->
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                            <tfoot>
                                                <br>
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </tfoot>
                                        </table>
                                        <div *ngIf="!list.data.length" class="text-center">No result found.</div>
                                    </div>
                                    <button *ngIf="list.data.length>0 && list.module!='pending position'" class="btn btn-link btn-sm pull-right" (click)="onViewAll(list)">View all</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-12" *ngFor="let user of performanceIndicators">
                <div class="expandSection cursor"><i (click)="user['isCollapsed']=!user['isCollapsed'];" class="fa fa-arrow-down"></i></div>
                <div *ngIf="!user['isCollapsed']" class="collapseContentBox">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{i}}" aria-expanded="true" aria-controls="collapseOne">
                                                        Pending
                                                        </a>
                                </h4>

                            </div>
                            <div id="collapseOne{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Performance indicator</th>
                                                    <th>Duration / Date</th>
                                                    <th>Measure</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let k of user.kpis.Pending; let in = index;">
                                                    <td>{{in+1}}</td>
                                                    <td>{{k?.title}}</td>
                                                    <td>{{k?.period}}
                                                        <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                    </td>
                                                    <td>{{k?.measure}}</td>
                                                    <td>
                                                        <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                        <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                <button class="dropdown-item btn-none color-info" (click)="sendReminder(user,k)"><i class="fa fa-share"></i>&nbsp;&nbsp; Send the reminder</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="user.kpis.Pending.length==0">
                                                    <td class="color-danger" colspan="5">No record found.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo{{i}}" aria-expanded="true" aria-controls="collapseTwo">
                                  Current
                                </a>
                                </h4>

                            </div>
                            <div id="collapseTwo{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Performance indicator</th>
                                                    <th>Duration / Date</th>
                                                    <th>Measure</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let k of user.kpis.Current; let in = index;">
                                                    <td>{{in+1}}</td>
                                                    <td>{{k?.title}}</td>
                                                    <td>{{k?.period}}
                                                        <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                    </td>
                                                    <td>{{k?.measure}}</td>
                                                    <td>
                                                        <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                        <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                <button class="dropdown-item btn-none color-info" (click)="ondirectAssessment(user,k)"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Direct assessment</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="user.kpis.Current.length==0">
                                                    <td class="color-danger" colspan="5">No record found.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree{{i}}" aria-expanded="true" aria-controls="collapseThree">
                                                            Completed
                                                        </a>
                                </h4>

                            </div>
                            <div id="collapseThree{{i}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Performance indicator</th>
                                                    <th>Duration / Date</th>
                                                    <th>Measure</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let k of user.kpis.Historical; let in = index;">
                                                    <td>{{in+1}}</td>
                                                    <td>{{k?.title}}</td>
                                                    <td>{{k?.period}}
                                                        <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                    </td>
                                                    <td>{{k?.measure}}</td>
                                                    <td>
                                                        <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                        <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                            <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="user.kpis.Historical.length==0">
                                                    <td class="color-danger" colspan="5">No record found.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>-->

            <div class="col-md-12" [hidden]="isKpiListingProcessing"  id="box2" >
                <div class="collapseInfoBox">
                    <h4 (click)="collapseNew=!collapseNew" [ngClass]="{active:!collapseNew,bgRed:isPending['performancIndicator'] || isValid['performancIndicator']}">Performance indicator
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </h4>
                    <div [ngClass]="{open:!collapseNew}" class="collapseContentbox">
                        <table class="full-width table performanceTbl" [mfData]="performanceIndicators" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <th>
                                    <mfDefaultSorter by="employee.name">Employee &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>

                                <!-- <th style="width:100px;">Action</th> -->
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of mf.data; let i = index;" class="rowWrap" style="border-bottom:0px;">
                                    <td colspan="2" style="border-top:0px;">
                                        <table class="full-width" style="border-bottom: 1px solid #cbcbcb;">
                                            <tbody>
                                                <tr style="border-bottom:0px;">
                                                    <td style="border-top:0px;">
                                                        <div class="media userSec">
                                                            <div class="media-left d-flex align-self-center  media-middle">
                                                                <img class="img-circle" [src]="user?.employee?.imageUrl" height="40px" width="40px">
                                                            </div>
                                                            <div [ngClass]="(user.kpis.Pending.length>0 || user.kpis?.valid) ? 'color-danger':''" class="d-flex align-self-center  media-right">{{user?.employee?.name}}</div>
                                                        </div>

                                                    </td>

                                                    <td class="vAligntop" style="width:120px;border-top:0px;">
                                                        <div class="dropdown actionDroapdown actionDDtbl">
                                                            <!-- <button class="btn btn-success" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assess all KPI's
                                            <i class="fa fa-angle-down"></i>
                                        </button> -->
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                <button class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-indicator/direct-assessment', user?.employee?.userID]">
                                                <i class="fa fa-arrow-right"></i>&nbsp;&nbsp; Direct assessment</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="border-top:0px;padding:0px 0px;">
                                                        <div class="expandSection cursor" (click)="user['isCollapsed']=!user['isCollapsed'];"><i class="fa fa-arrow-down"></i> <span>View KPI's</span></div>
                                                        <div *ngIf="!user['isCollapsed']" class="collapseContentBox">
                                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                                        <h4 [ngClass]="(user.kpis.Pending.length>0) ? 'color-danger':''" class="panel-title" style="padding-left:15px;margin-top:10px;">
                                                                            <a  
                                                                            data-toggle="collapse" href="#collapseOne{{i}}" role="button" aria-expanded="false" aria-controls="collapseOne">
                                                        Pending
                                                        </a>
                                                                        </h4>

                                                                    </div>
                                                                    <div id="collapseOne{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                        <div class="panel-body">
                                                                            <div class="table-responsive">
                                                                                <table class="table" style="background:#ffffff;">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>#</th>
                                                                                            <th style="width:170px;">Performance indicator</th>
                                                                                            <th style="width:90px;">Duration </th>
                                                                                            <th>Measurement of performance indicator</th>
                                                                                            <th>Action</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let k of user.kpis.Pending; let in = index;" [ngClass]="{'color-danger':true}">
                                                                                            <td>{{in+1}}</td>
                                                                                            <td>{{k?.title}}</td>
                                                                                            <td>{{k?.period}}
                                                                                                <!--<div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>-->
                                                                                            </td>
                                                                                            <td>{{k?.measure}}</td>
                                                                                            <td>
                                                                                                <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                                                <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                                                                    <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button>
                                                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                                                        <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                                                        <button class="dropdown-item btn-none color-info" (click)="sendReminder(user,k)"><i class="fa fa-share"></i>&nbsp;&nbsp;  Send a reminder email</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr *ngIf="user.kpis.Pending.length==0">
                                                                                            <td class="color-danger" colspan="5">No record found.</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                                        <h4 [ngClass]="(user.kpis?.valid && user.kpis.Current.length > 0) ? 'color-danger':''" class="panel-title" style="padding-left:15px;margin-top:10px;" >
                                                                            <a data-toggle="collapse" role="button" data-parent="#accordion" href="#collapseTwo{{i}}" aria-expanded="false" aria-controls="collapseTwo">
                                  Current
                                </a>
                                                                        </h4>

                                                                    </div>
                                                                    <div id="collapseTwo{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                        <div class="panel-body">
                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>#</th>
                                                                                            <th style="width:170px;">Performance indicator</th>
                                                                                            <th style="width:90px;">Duration </th>
                                                                                            <th>Measurement of performance indicator</th>
                                                                                            <!-- <th>Action</th> -->
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let k of user.kpis.Current; let in = index;" [ngClass]="(k.lapseDuration) ? 'color-danger':''">
                                                                                            <td>{{in+1}}</td>
                                                                                            <td>{{k?.title}}</td>
                                                                                            <td>{{k?.period}}
                                                                                                <!-- <div *ngIf ="k.lapseDuration" class="class="alert alert-danger""> -->
                                                                                                <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                                                            </td>
                                                                                            <td>{{k?.measure}}</td>
                                                                                            <!--<td>
                                                                                                <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                                                <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                                                                     <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button> 
                                                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                                                        <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                                                        <button class="dropdown-item btn-none color-info" [routerLink]="['/app/company-admin/performance-indicator/direct-assessment', user?.employee?.userID]"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Direct assessment</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>-->
                                                                                        </tr>
                                                                                        <tr *ngIf="user.kpis.Current.length==0">
                                                                                            <td class="color-danger" colspan="5">No record found.</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                                        <h4 class="panel-title" style="padding-left:15px;margin-top:10px;">
                                                                            <a data-toggle="collapse" role="button" data-parent="#accordion" href="#collapseThree{{i}}" aria-expanded="false" aria-controls="collapseThree">
                                                            Completed
                                                        </a>
                                                                        </h4>

                                                                    </div>
                                                                    <div id="collapseThree{{i}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                                        <div class="panel-body">
                                                                            <div class="table-responsive">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>#</th>
                                                                                            <th style="width:170px;">Performance indicator</th>
                                                                                            <th style="width:90px;">Duration </th>
                                                                                            <th>Measurement of performance indicator</th>
                                                                                            <!-- <th>Action</th> -->
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let k of user.kpis.Historical; let in = index;">
                                                                                            <td>{{in+1}}</td>
                                                                                            <td>{{k?.title}}</td>
                                                                                            <td>{{k?.period}}
                                                                                                <div *ngIf="k.date"> / {{k?.date| dateFormat}}</div>
                                                                                            </td>
                                                                                            <td>{{k?.measure}}</td>
                                                                                            <!--<td>
                                                                                                <md-progress-spinner *ngIf="k.isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                                                                <div *ngIf="!k.isActionProcessing" class="dropdown actionDroapdown actionDDtbl">
                                                                                                     <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                                                    <i class="fa fa-angle-down"></i>
                                                                                </button> 
                                                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                                                        <button class="dropdown-item btn-none color-info" (click)="onViewKPI(k)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>-->
                                                                                        </tr>
                                                                                        <tr *ngIf="user.kpis.Historical.length==0">
                                                                                            <td class="color-danger" colspan="5">No record found.</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-md-12 text-right">
                            <a [routerLink]="['/app/company-admin/listing-page/performance-indicator-listing']">View all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>