<section class="messages">
    <div class="cmpnycontentBox">
        <ul class="chat">
            <li class="chat-left">
                <div class="header">
                    <h5 class="heading">Messages <i class="fa fa-edit pull-right" (click)="showSelectUserDropdown=true;this.userMessages=[];"></i></h5>
                    <div class="input-group searchUser" style="padding-right: 30px;">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="searchKey">
                        <a href="javascript:void(0)" class="filterIco" (click)="filterMenu=!filterMenu"><i class="fa fa-sliders"></i></a>
                        <div class="dropdown filterList" [ngClass]="filterMenu?'open':''">
                            <ul class="dropdown-menu">
                                <li class="cursor active" [ngClass]="{'active': selectedIndex == 'allMessage'}" (click)="getUsersWithMessages('allMessage');filterTitle='All messages'"> All messages</li>
                                <li class="cursor" [ngClass]="{'active': selectedIndex == 'unreadMessage'}" (click)="getUsersWithMessages('unreadMessage');filterTitle='Unread messages'"> Unread messages</li>
                                <li class="cursor" [ngClass]="{'active': selectedIndex == 'groupMessage'}" (click)="getUsersWithMessages('groupMessage');filterTitle='Group messages'"> Group messages</li>
                                <li class="cursor" [ngClass]="{'active': selectedIndex == 'archiveMessage'}" (click)="getUsersWithMessages('archiveMessage');filterTitle='Archive'"> Archive </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="userListProcessing" mode="indeterminate" style="margin-top:20px;" color=""></md-progress-spinner>
                <div class="allUser" *ngIf="!userListProcessing">
                    <div class="text-center list-title">
                        {{filterTitle}}
                    </div>
                    <ul>
                        <li class="userlist" *ngFor="let user of userWithMessagesList.groupList|searchByKey:searchKey:'groupName';let i=index;">
                            <div class="media">
                                <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="{{user.imageUrl}}" height="40px" width="40px" alt="" /></div>
                                <div (click)="getUserMessages(user)" class="d-flex align-self-center  media-right d-flex align-self-center">{{user?.groupName[0]}} +{{user?.groupName?.length-1}} more <span *ngIf="user?.unreadCount && userWithMessagesList?.groupList?.length">{{user.unreadCount}}</span>
                                </div>

                                <i md-tooltip="Archive" *ngIf="!user.isArchive" (click)="archiveUser(user)" class="material-icons">archive</i>
                                <md-icon class="material-icons mat-warn cursor float-right" (click)="deleteUser(user)" md-tooltip="Delete">delete</md-icon>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="userlist" *ngFor="let user of userWithMessagesList.userList|searchByKey:searchKey:'name';let i=index;">
                            <div class="media">
                                <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center"><img class="img-circle" src="{{user.imageUrl}}" height="40px" width="40px" alt="" /></div>
                                <div (click)="getUserMessages(user)" class="d-flex align-self-center  media-right d-flex align-self-center">{{user.name}} <span *ngIf="user?.unreadCount && userWithMessagesList?.userList?.length">{{user.unreadCount}}</span>
                                </div>
                                <i *ngIf="!user.isArchive" (click)="archiveUser(user)" class="material-icons" md-tooltip="Archive">archive</i>
                                <md-icon class="material-icons mat-warn cursor float-right" (click)="deleteUser(user)" md-tooltip="Delete">delete</md-icon>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center" style="margin-top:10px;" *ngIf="!userWithMessagesList?.groupList?.length && !userWithMessagesList?.userList?.length">
                        No user or group found
                    </div>
                </div>
            </li>
            <li class="chat-right" *ngIf="users?.length">
                <md-progress-spinner *ngIf="messagesListProcessing" mode="indeterminate" style="margin-top:20px;" color=""></md-progress-spinner>
                <!-- Single user messages -->
                <div class="header" *ngIf="!userMessages.isGroup && !messagesListProcessing && !showSelectUserDropdown">
                    <h5 class="heading">{{userMessages?.userDetails?.userName}}
                        <p>{{userMessages?.userDetails?.userPosition}}</p>
                    </h5>
                </div>
                <!-- showSelectUserDropdown -->
                <div class="header" *ngIf="showSelectUserDropdown && !messagesListProcessing" style="padding-top:40px;border:0;padding-left: 25px">
                    <angular2-multiselect [data]="dropDownListType" [(ngModel)]="selectedUsers" #selectUser="ngModel" name="selectUser" required [selectedItems]="selectedUsers" [settings]="dropDownSettingMultiSelect" (onSelect)="onSelectUser($event)" (onDeSelect)="onDeSelectUser($event)"
                        (onSelectAll)="onSelectAllUsers($event)" (onDeSelectAll)="onDeSelectAllUsers($event)">
                    </angular2-multiselect>
                </div>
                <!-- showSelectUserDropdown -->
                <!-- Group messages -->
                <div class="header" *ngIf="userMessages.isGroup && !messagesListProcessing && !showSelectUserDropdown">
                    <ul style="margin-top:10px;">
                        <li style="display:inline;" *ngFor="let groupMember of userMessages.memberList;let i=index ">
                            <h5 style="display:inline;">{{groupMember?.name}}<span *ngIf="i<userMessages?.memberList?.length-1">, </span> </h5>
                        </li>
                    </ul>
                </div>
                <!-- chat_window -->
                <div class="chat_window">
                    <ul class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight" *ngIf="userMessages && !showSelectUserDropdown && !messagesListProcessing">
                        <!-- conversation -->
                        <ng-container *ngFor="let message of userMessages.conversationList;let i=index;">
                            <!--authIIID::::{{userMessages.userDetails.authUserID}}   ::userid::::::{{message.UserID}}-->
                            <li class="message left appeared" *ngIf="userMessages.userDetails.authUserID!=message.UserID">
                                <div class="avatar"><img class="img-circle" src="{{message.imageUrl}}" /></div>
                                <div class="text_wrapper">
                                    <div class="text">
                                        <pre [innerHTML]="message.messageText"></pre>

                                        <div style="font-size: 15px;" *ngIf="message.messageAttachments.length>0">
                                            <div *ngFor="let attachment of message.messageAttachments">
                                                <figure class="figAttachment">
                                                    <a href="{{attachment.messageAttachName}}" target="_blank">
                                                        <img src="{{attachment.messageAttachName}}" height="auto" width="150px" alt="attachment" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-left">{{message.messageSendTime| dateFormat:'longDate'}}, {{message.messageSendTime| dateFormat:'shortTime'}}</span>
                            </li>
                            <li class="message right appeared" *ngIf="userMessages.userDetails.authUserID==message.UserID">
                                <div class="avatar"><img class="img-circle" src="{{message.imageUrl}}" /></div>
                                <div class="text_wrapper">
                                    <div class="text">
                                        <pre [innerHTML]="message.messageText"></pre>
                                        <div style="font-size: 15px;" *ngIf="message?.messageAttachments?.length">
                                            <div *ngFor="let attachment of message.messageAttachments">
                                                <figure class="figAttachment">
                                                    <a href="{{attachment.messageAttachName}}" target="_blank">
                                                        <img src="{{attachment.messageAttachName}}" height="auto" width="150px" alt="{{attachment.messageAttachName}}" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right">{{message.messageSendTime| dateFormat:'longDate'}}, {{message.messageSendTime| dateFormat:'shortTime'}}</span>
                            </li>
                        </ng-container>
                    </ul>

                    <div class="bottom_wrapper clearfix" *ngIf="!messagesListProcessing">
                        <div class="message_input_wrapper">
                            <div class="attachment">
                                <input type="file" accept=".html,.htm,.css.js,.jpg,.jpeg,.gif,.png,.bmp,.tiff,.tga,.pdf,.doc,
                                .txt,.rtf,.csv,.xls,.ppt,.zip,.rar,.gzip" name="messageFile" required (change)="handleFileSelect($event)" multiple />
                                <i class="fa fa-paperclip cursor"></i>
                            </div>
                            <textarea class="message_input" placeholder="Type your message here..." name="message" [(ngModel)]="messageText">
                            </textarea>
                        </div>
                        <div class="send_message" (click)="sendMessage()" *ngIf="!isUploading && !sendingMessage">
                            <div class="icon"></div>
                            <div>
                                <div class="text" style="font-size:20px;">Send</div>
                            </div>
                        </div>
                        <div class="send_message" *ngIf="!isUploading && sendingMessage">
                            <div class="icon"></div>
                            <div>
                                <div class="text" style="font-size:16px;">Sending...</div>
                            </div>
                        </div>
                        <div class="send_message" *ngIf="isUploading">
                            <div class="icon"></div>
                            <div class="text" style="font-size:16px;" disabled>Uploading...</div>
                        </div>
                        <div *ngIf="messageFiles?.length">
                            Uploaded file: {{messageFiles[0].attachmentName.substring(messageFiles[0].attachmentName.indexOf('_')+1)}} <button md-raised-button color="danger" (click)="removeAttachment()">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="message_template">
                    <li class="message">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text"></div>
                        </div>
                    </li>
                </div>
                <!-- chat_window ends -->
            </li>
            <div class="chat-right text-center" style="margin-top:10px;" *ngIf="!users?.length">
                No user found
            </div>
        </ul>
    </div>
</section>