.messages {
    .chat {
        border: 1px solid #d3d3d3;
        width: 100%;
        display: table;
        @media screen and (max-width: 767px) {
            display: block;
        }
        .chat-left {
            min-width: 280px;
            vertical-align: top;
            display: table-cell;
            @media screen and (max-width: 767px) {
                display: block;
                width: 100%;
            }
            @media screen and (max-width: 479px) {
                min-width: 200px;
                width: 100%;
            }
            .searchUser {
                input {
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                }
                .input-group-addon {
                    background-color: #ffffff;
                    color: #333;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                    padding: 10px 4px;
                }
                .filterIco {
                    font-size: 17px;
                    top: 15px;
                    position: absolute;
                    right: 0;
                    color: #c7c7c7;
                    z-index: 999;
                    -webkit-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
            .activeUser {
                padding: 6px 15px;
                background: rgb(255, 204, 51);
                .media-right {
                    font-weight: bolder;
                    padding-left: 12px;
                }
            }
            .allUser {
                .list-title {
                    padding: 7px;
                    box-shadow: 1px -3px 8px 1px #333;
                    margin-bottom: 8px;
                    font-weight: bold;
                }
                p {
                    padding: 6px 15px;
                    border-bottom: 1px solid #d4d4d4;
                }
                ul {
                    .userlist {
                        padding: 4px 15px;
                        border-bottom: 1px solid #d4d4d4;
                        cursor: pointer;
                        .media-right {
                            font-weight: 500;
                            padding-left: 12px;
                            word-wrap: break-word;
                            width: calc(100% - 81px);
                        }
                    }
                    li:hover {
                        background: #ffedaf;
                    }
                }
            }
        }
        .chat-right {
            width: 79%;
            vertical-align: top;
            display: table-cell;
            border-left: 1px solid #d3d3d3;
            @media screen and (max-width: 767px) {
                display: block;
                width: 100%;
                border: 0;
            }
            .chat_window {
                background-color: #fff;
                // background-color: #f8f8f8;
                overflow: hidden;
                position: relative;
                min-height: 500px;
                @media screen and (max-width: 767px) {
                    height: 350px;
                }
            }
            .top_menu {
                background-color: #fff;
                width: 100%;
                padding: 20px 0 15px;
                box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
            }
            .messages {
                position: relative;
                list-style: none;
                padding: 20px 10px 1px 10px;
                margin: 0;
                margin-bottom: 0px;
                height: 490px;
                overflow-y: scroll;
                margin-bottom: 80px;
            }
            .messages .message {
                clear: both;
                overflow: hidden;
                margin-bottom: 20px;
                transition: all 0.5s linear;
                opacity: 0;
            }
            .messages .message.left .avatar {
                background-color: #f5886e;
                float: left;
                overflow: hidden;
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-width: 100%;
                }
            }
            .messages .message.left .text_wrapper {
                background-color: #ffe6cb;
                margin-left: 20px;
            }
            .messages .message.left .text_wrapper::after,
            .messages .message.left .text_wrapper::before {
                right: 100%;
                border-right-color: #ffe6cb;
            }
            .messages .message.left .text {
                color: #c48843;
                pre {
                    margin: 0;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-all;
                }
            }
            .messages .message.right .avatar {
                background-color: #fdbf68;
                float: right;
                overflow: hidden;
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-width: 100%;
                }
            }
            .messages .message.right .text_wrapper {
                background-color: #c7eafc;
                margin-right: 20px;
                float: right;
            }
            .messages .message.right .text_wrapper::after,
            .messages .message.right .text_wrapper::before {
                left: 100%;
                border-left-color: #c7eafc;
            }
            .messages .message.right .text {
                color: #45829b;
                pre {
                    margin: 0;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    word-break: break-all;
                }
            }
            .messages .message.appeared {
                opacity: 1;
            }
            .messages .message .avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: inline-block;
            }
            .messages .message .text_wrapper {
                display: inline-block;
                padding: 10px 20px 19px;
                border-radius: 6px;
                width: calc(100% - 85px);
                min-width: 100px;
                position: relative;
            }
            .messages .message .text_wrapper::after,
            .messages .message .text_wrapper:before {
                top: 18px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            .messages .message .text_wrapper::after {
                border-width: 13px;
                margin-top: 0px;
            }
            .messages .message .text_wrapper::before {
                border-width: 15px;
                margin-top: -2px;
            }
            .messages .message .text_wrapper .text {
                font-size: 15px;
                font-weight: 300;
            }
            .bottom_wrapper {
                position: relative;
                width: 100%;
                background-color: #fff;
                padding: 20px 20px;
                position: absolute;
                bottom: 0;
            }
            .bottom_wrapper .message_input_wrapper {
                display: inline-block;
                height: 50px;
                border-radius: 25px;
                border: 1px solid #bcbdc0;
                width: calc(100% - 160px);
                @media screen and (max-width: 530px) {
                    width: 100%;
                }
                position: relative;
                padding: 0 20px;
            }
            .bottom_wrapper .message_input_wrapper .message_input {
                border: none;
                height: 100%;
                box-sizing: border-box;
                width: calc(100% - 40px);
                position: absolute;
                outline-width: 0;
                font-size: 14px;
                padding: 12px 0;
                color: gray;
            }
            .bottom_wrapper .send_message {
                width: 140px;
                height: 50px;
                display: inline-block;
                border-radius: 50px;
                background-color: #ffcc33;
                border: 2px solid #e8c969;
                color: #fff;
                cursor: pointer;
                transition: all 0.2s linear;
                text-align: center;
                float: right;
                @media screen and (max-width: 479px) {
                    width: 100%;
                }
            }
            .bottom_wrapper .send_message:hover {
                background-color: #e8c969;
            }
            .bottom_wrapper .send_message .text {
                font-size: 22px;
                font-weight: 400;
                display: inline-block;
                line-height: 46px;
            }
            .message_template {
                display: none;
            }
        }
    }
}

.header {
    padding: 0 15px 12px;
    border-bottom: 1px solid #d3d3d3;
}

.attachment {
    position: absolute;
    right: 5px;
    top: -1px;
    cursor: pointer;
    width: 49px;
    overflow: hidden;
    z-index: 99;
}

.attachment input {
    opacity: 0;
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.attachment .fa {
    font-size: 24PX;
    color: #18a8af;
    /* opacity: 0.5; */
    padding: 12px;
    border-radius: 50%;
    position: relative;
    background: #fff;
    height: 48px;
    top: 1px;
    cursor: pointer;
}

.userlist {
    position: relative;
}

.userlist .media-right span {
    width: 20px;
    text-align: center;
    height: 20px;
    display: inline-block;
    background: #ff8383;
    line-height: 21px;
    font-size: 9px;
    color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.41);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    border: 1px solid #e83737;
    left: 8px;
}

.figAttachment {
    a {
        img {
            border-radius: 10px;
            opacity: 0.9;
            color: #507b45;
            word-break:break-all;
            max-width: 100%;
        }
    }
}

.allUser {
    max-height: 469px;
    overflow-y: auto;
    @media screen and (max-width: 676px) {
        height: 200px;
    }
}

.open>.dropdown-menu {
    display: block;
    width: 100%;
    padding: 13px;
}

.filterList {
    .dropdown-menu {
        li {
            padding: 3px 15px;
            border-bottom: 1px solid #f3f3f3;
            &.active {
                background: #ffedaf;
            }
        }
    }
}

.dropdown.open {
    position: absolute;
    bottom: 1px;
    float: left;
    width: 100%;
    padding: 0;
    .dropdown-menu {
        padding: 0;
        li {
            a {
                font-size: 15px;
                color: #6C6C6C;
                border-bottom: 1px solid #d3d3d3;
                display: 100%;
                padding: 5px 12px;
                display: block;
            }
        }
        &::hover {
            background: #d3d3d3;
        }
    }
}

.dropdown li:last-child a {
    border: 0;
}

.userlist .material-icons {
    top: 12px;
    position: absolute;
    font-size: 24px;
    right: 35px;
    background: #fff;
    &.mat-icon {
        right: 12px;
    }
}

.userlist .media .media-left.d-flex.align-self-center {
    border-radius: 50%;
    background: #f5f5f5;
    border: 1px solid #e4e4e4;
}

.dropdown.filterList.open li:hover {
    background: #ffedaf;
}
@media screen and (max-width:479px){
    .cmpnycontentBox{
        padding:0;
    }
}