<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Create new category</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="box box-default paddingBox" *ngIf="!isProcessing">
            <form #categoryForm="ngForm" (ngSubmit)="onSave(categoryForm.form.valid,categoryForm)">
                <div class="row">
                    <div class="col-md-6">
                        <md-select class="full-width" placeholder="Select type" [(ngModel)]="category.masterChecklistID" #type="ngModel" name="ctype" required>
                            <md-option *ngFor="let type of types" value="{{type.masterChecklistID}}">{{type.type}}</md-option>
                            <!-- <md-option value="3">Off Boarding Checklist</md-option> -->
                        </md-select>
                        <div style="margin-top:5%;" *ngIf="type.errors && (type.dirty || type.touched)">
                            <div class="alert alert-danger" [hidden]="!type.errors.required">
                                Type is required !
                            </div>
                        </div>

                        <md-input-container class="full-width">
                            <input name="title" mdInput [(ngModel)]="category.title" #name="ngModel" myNoSpaces required placeholder="Category name">
                        </md-input-container>
                        <div *ngIf="name.errors && (name.dirty || name.touched)">
                            <div class="alert alert-danger" [hidden]="!(name.errors.required || name.errors.whitespace)">
                                Name is required !
                            </div>
                        </div>

                    </div>
                </div>
                <md-progress-spinner *ngIf="addProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div class="row">
                    <div class="btn-wrapper col-md-6 addUserBtn" *ngIf="!addProcessing">
                        <button md-raised-button color="accent" class="addButton" [disabled]="!categoryForm.form.valid" type="submit"> Add</button> &nbsp;
                        <button md-raised-button (click)="onCancel(categoryForm);false" color="default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </article>
</div>