<!--{{AppConfig?.role}}-->


<div *ngIf="AppConfig.role=='superAdmin'" mySlimScroll>

    <ul #navBar class="nav" myAccordionNav myAppendSubmenuIcon myHighlightActiveItems>

        <li *ngIf="modulePermission.accountSetting.view">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">account_box</i><span class="nav-text">Account setting</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Account setting</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/account-setting']"><span>Account setting</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/account-setting/zoho']"><span>Zoho account settings</span></a></li>
            </ul>
        </li>

        <li *ngIf="modulePermission.award.view">
            <a md-button [routerLink]="['/app/super-admin/awards']"><i class="nav-icon fa fa-shield" aria-hidden="true"></i><span class="nav-text">Awards</span></a>
        </li>

        <li *ngIf="modulePermission.broadcast.view">
            <a md-button [routerLink]="['/app/super-admin/broadcast']"><i class="nav-icon material-icons">settings_remote</i><span class="nav-text">Broadcast</span></a>
        </li>

        <li *ngIf="modulePermission.checklist.view">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">done</i><span class="nav-text">Checklist management</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Checklist management</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/checklist']"><span>On boarding checklist</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/checklist/offBoarding']"><span>Off boarding checklist</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/checklist/new-category']"><span>Create new category</span></a></li>
            </ul>
        </li>

        <li *ngIf="modulePermission.companyManagement.view">
            <a md-button [routerLink]="['/app/super-admin/company']"><i class="nav-icon material-icons">business</i><span class="nav-text">Company management</span></a>

        </li>

        <li *ngIf="modulePermission.contract.view">
            <a md-button [routerLink]="['/app/super-admin/contract']"><i class="nav-icon fa fa-pencil-square-o"></i><span class="nav-text">Contracts</span></a> role
        </li>

        <li>
            <a md-button class="md-button" [routerLink]="['/app/super-admin']"><i class="nav-icon material-icons">home</i><span class="nav-text">Dashboard</span></a>
        </li>

        <li>
            <a md-button [routerLink]="['/app/super-admin/discount-coupon-management']"><i class="nav-icon material-icons">settings_applications</i><span class="nav-text">Discount coupon</span></a>
        </li>

        <!-- <li>
            <a md-button [routerLink]="['/app/super-admin/email-template']"><i class="nav-icon material-icons">email</i><span class="nav-text">Email management</span></a>
             </li> -->

        <li *ngIf="modulePermission.emailManagement.view">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">email</i><span class="nav-text">Email management</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Email management</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/email-template','company-admin-email']"><span>Company admin email</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/email-template','company-manager-email']"><span>Company manager email</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/email-template','employee-email']"><span>Employee email</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/email-template','super-admin-email']"><span>Super admin email</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/email-template','third-party-email']"><span>Third party email</span></a></li>
            </ul>
        </li>

        <li *ngIf="modulePermission.exitSurvey.view">
            <a md-button [routerLink]="['/app/super-admin/exit-survey']"><i class="nav-icon material-icons">description</i><span class="nav-text">Exit survey</span></a>
        </li>

        <li *ngIf="modulePermission.feedback.view">
            <a md-button [routerLink]="['/app/super-admin/feedback-management']"><i class="nav-icon material-icons">feedback</i><span class="nav-text">Feedback management</span></a>

        </li>

        <li *ngIf="modulePermission.interviewGuide.view">
            <a md-button [routerLink]="['/app/super-admin/interview-guide']"><i class="nav-icon material-icons">settings_remote</i><span class="nav-text">Interview guide</span></a>
        </li>

        <li *ngIf="modulePermission.job.view">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">description</i><span class="nav-text">Jobs component</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Jobs component</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/jobs-component']"><span>Industry & job functions</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/jobs-component/employement']"><span>Employment type</span></a></li>
            </ul>
        </li>

        <li *ngIf="modulePermission.letter.view">
            <a md-button [routerLink]="['/app/super-admin/letters']"><i class="nav-icon fa fa-pencil-square-o"></i><span class="nav-text">Letters</span></a>
        </li>

        <li *ngIf="modulePermission.message.view">
            <a md-button [routerLink]="['/app/super-admin/message']"><i class="nav-icon material-icons">message</i><span class="nav-text">Message</span></a>
        </li>

        <li *ngIf="modulePermission.policyDocument.view">
            <a md-button [routerLink]="['/app/super-admin/policy']"><i class="nav-icon material-icons">assignment</i><span class="nav-text">Policy management</span></a>
        </li>

        <li *ngIf="modulePermission.positionDescription.view || modulePermission.industry.view">
            <a md-button href="#/app/ui"><i class="nav-icon fa fa-male"></i><span class="nav-text">Position description</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Position description</span></li>
                <li *ngIf="modulePermission.industry.view"><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/position-description/industry-management']"><span>Industry management</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/position-description/pd-list']"><span>Position description </span></a></li>
            </ul>
        </li>

        <!-- <li *ngIf="modulePermission.referenceDocument.view||modulePermission.referenceDocument.edit||modulePermission.referenceDocument.add||modulePermission.referenceDocument.delete">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">description</i><span class="nav-text">Reference check</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Reference check</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reference-check']"><span>Reference disclaimer</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reference-check/form']"><span>Reference form</span></a></li>
            </ul>
             </li> -->

        <li>
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">description</i><span class="nav-text">Reports</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Reports</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reports']"><span>User report</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reports/coupon']"><span>Coupon report</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reports/transaction']"><span>Transaction report</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reports/payment']"><span>Payment report</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reports/revenue']"><span>Revenue report</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/reports/API']"><span>API report</span></a></li>
            </ul>
        </li>

        <li *ngIf="modulePermission.siteSetting.view">
            <a md-button [routerLink]="['/app/super-admin/site-setting']"><i class="nav-icon material-icons">settings_applications</i><span class="nav-text">Site setting</span></a>
        </li>

        <li>
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">subscriptions</i><span class="nav-text">Subscription plan</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Subscription plan</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/subscription-plans']"><span>Subscription list</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/subscription-plans/detail']"><span>Subscription detail</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/subscription-plans/add']"><span>Add new plan</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/subscription-plans/support-services']"><span>Support services</span></a></li>
            </ul>
        </li>

        <li *ngIf="modulePermission.surveyQuestion.view">
            <a md-button [routerLink]="['/app/super-admin/survey/detail/1']"><i class="nav-icon material-icons">description</i><span class="nav-text">Survey questionnaires</span></a>

        </li>

        <li *ngIf="modulePermission.trophy.view">
            <a md-button [routerLink]="['/app/super-admin/trophy']"><i class="nav-icon fa fa-trophy" aria-hidden="true"></i><span class="nav-text">Trophy</span></a>
        </li>

        <li *ngIf="modulePermission.user.view || modulePermission.role.view">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">accessibility</i><span class="nav-text">User access</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">User access</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/user-access/view-roles']"><span>View roles</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/super-admin/user-access/users-list']"><span>Users list</span></a></li>
            </ul>
        </li>

    </ul>

</div>


<!--Company Admin Navbar-->

<div *ngIf="AppConfig.role=='companyAdmin' ||AppConfig.role=='companyManager'" mySlimScroll>

    <ul class="nav" myAccordionNav myAppendSubmenuIcon myHighlightActiveItems>

        <li>
            <a md-button [routerLink]="['/app/company-admin/survey']"><i class="nav-icon material-icons">description</i><span class="nav-text">360 survey</span> </a>
            <!-- <ul>
                <li><span class="menuHeading">360 survey</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/survey']"><span>360 survey list</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/survey/create-survey']"><span>Create 360 survey</span></a></li>
            </ul> -->
        </li>
        <li>
            <a md-button><i class="nav-icon fa fa-list"></i><span class="nav-text">Actions</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul myAccordionNav myAppendSubmenuIcon mySlimScroll myHighlightActiveItems>
                <li><span class="menuHeading">Actions</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/assets-listing']"><span>Assets listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/assets-approval']"><span>Assets approval</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/behavior-performance-improvement-listing']"><span>BPIP listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/development-plan-list']"><span>Development plan listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/disciplinary-action-listing']"><span>Disciplinary action listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/exit-survey']"><span>Exit survey</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/grievance-listing']"><span>Grievance listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/induction-onboarding-listing']"><span>Induction onboarding listing</span></a></li>
                <!-- <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/new-contract-list']"><span> New Contract listing</span></a></li> -->
                <!-- <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/new-policy-list']"><span>New policy listing</span></a></li> -->
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/new-emloyee-approval']"><span>New employee approval</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/off-boarding-listing']"><span>Off-boarding listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/ohs-listing']"><span>OH&S listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/performance-appraisal-listing']"><span>Performance appraisal listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/performance-indicator-listing']"><span>Performance indicator listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/probationary-meeting']"><span>Probationary meeting</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/']"><span>PIP listing</span></a></li>
                <!-- <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/training-day/training-plan/list']"><span>Training plan listing</span></a></li> -->
                <!-- <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/trophy/trophy-list']"><span>Trophy listing</span></a></li> -->
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/listing-page/warning-list']"><span>Warning listing</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/activities']"><i class="nav-icon fa fa-tasks">&nbsp;</i><span class="nav-text">Activities & approvals</span></a>
        </li>
        <li *ngIf="AppConfig.role != 'companyManager'">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">cast_connected</i><span class="nav-text">Advertisement</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Advertisement</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/advertisement/']"><span>Advertisement list</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/advertisement/create']"><span>Create advertisement</span></a></li>

            </ul>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/broadcast']"><i class="nav-icon fa fa-bullhorn"></i><span class="nav-text">Broadcast messages</span></a>

        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">check</i><span class="nav-text">Checklist</span> <i class="fa fa-angle-right pull-right"></i> </a>
            <ul>
                <li><span class="menuHeading">Checklist</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/checklist']"><span>On boarding checklist</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/checklist/offBoarding']"><span>Off boarding checklist</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/checklist/add-category']"><span>Create category</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/contract']"><i class="nav-icon fa fa-pencil-square-o"></i><span class="nav-text">Contracts</span></a>
        </li>
        <li>
            <a md-button class="md-button" [routerLink]="['/app/company-admin']">
                <i class="nav-icon fa fa-home">&nbsp;</i>
                <span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/employee-management']"><i class="nav-icon fa fa-address-card">&nbsp;</i><span class="nav-text">Employee management</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/file-notes']"><i class="nav-icon material-icons">description</i><span class="nav-text">File notes</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/leaves']"><i class="nav-icon fa fa-clipboard">&nbsp;</i><span class="nav-text">Leaves</span></a>
        </li>

        <li>
            <a md-button [routerLink]="['/app/company-admin/message']"><i class="nav-icon material-icons">message</i><span class="nav-text">Message</span> </a>
        </li>
        <li *ngIf="AppConfig.role != 'companyManager'">
            <a md-button [routerLink]="['/app/company-admin/organisation-chart']"><i class="nav-icon fa fa-sitemap"></i><span class="nav-text">Organisation chart</span></a>
        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">trending_up</i><span class="nav-text">Policy documents</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Policy documents</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/policy-documents']"><span>Policy documents list</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/policy-documents/procedural-document']"><span>Procedural document</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/policy-documents/unused-documents']"><span>Unused documents</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button [routerLink]="['/app/company-admin/position-description']"><i class="nav-icon fa fa-male"></i><span class="nav-text">Position description</span></a>
        </li>

        <li>
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">settings</i><span class="nav-text">Settings</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Settings</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/accounts-settings']"><span>Account settings</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/api-integration']"><span>API integration</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting']"><span>Company profile settings</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/module-management']"><span>Module management</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/notifications']"><span>Notifications</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/support']"><span>Support</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/transaction']"><span>Transaction</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/setting/upcomming-payments']"><span>Upcomming payments</span></a></li>

            </ul>
        </li>


        <li>
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">group</i><span class="nav-text">Training day</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Training day</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/training-day/master-training-plan/add']"><span>Create master training plan</span></a></li>
                <!-- <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/training-day/training-plan/add']"><span>Create training plan</span></a></li> -->
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/training-day']"><span>Master training plans</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/training-day/training-plan/list']"><span>Training plan</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon fa fa-trophy"></i><span class="nav-text">Trophy</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Trophy</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/trophy/create-trophy']"><span>Create trophy</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/trophy/trophy-list']"><span>Trophy list</span></a></li>

            </ul>
        </li>
        <li *ngIf="AppConfig.role != 'companyManager'">
            <a md-button href="#/app/ui"><i class="nav-icon material-icons">layers</i><span class="nav-text">Sub company</span> <i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Sub company</span></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/sub-company']"><span>Listing</span></a></li>
                <li><a md-button class="md-button prepend-icon" [routerLink]="['/app/company-admin/sub-company/payments']"><span>Payments</span></a></li>
            </ul>
        </li>

        <li *ngIf="AppConfig.role != 'companyManager'">
            <a md-button [routerLink]="['/app/company-admin/user-access']"><i class="nav-icon material-icons">accessibility</i><span class="nav-text">User access</span></a>
        </li>

    </ul>

</div>

<!-- Company Employee  Navbar -->

<div *ngIf="AppConfig.role == 'companyEmployee'" mySlimScroll>
    <ul class="nav" myAccordionNav myAppendSubmenuIcon myHighlightActiveItems>
        <li>
            <a md-button [routerLink]="['/app/employee/survey']"><i class="nav-icon fa fa-clipboard">&nbsp;</i><span class="nav-text">360 survey</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/activites']"><i class="nav-icon fa fa-tasks">&nbsp;</i><span class="nav-text">Activities & approvals</span></a>
        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon fa fa-check">&nbsp;</i><span class="nav-text">Checklist</span><i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Checklist</span></li>
                <li><a md-button [routerLink]="['/app/employee/checklist']"><span class="nav-text">On boarding checklist</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/checklist/offBoarding']"><span class="nav-text">Off boarding checklist</span></a></li>
            </ul>

        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon fa fa-address-book-o">&nbsp;</i><span class="nav-text">Complete profile</span><i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Complete profile</span></li>
                <li><a md-button [routerLink]="['/app/employee/profile/contract-approval']"><span class="nav-text">Contract approval</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/profile/policy-approval']"><span class="nav-text">Policy approval</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/profile/position-description']"><span class="nav-text">Position description</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/profile']"><span class="nav-text">Profile</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/profile/questionnaires']"><span class="nav-text">Questionnaires</span></a></li>

            </ul>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/contracts']"><i class="nav-icon fa fa-pencil-square-o"></i><span class="nav-text">Contracts</span></a> </li>
        <li>
            <a md-button [routerLink]="['/app/employee']"><i class="nav-icon fa fa-address-card">&nbsp;</i><span class="nav-text">Dashboard</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/grievance']"><i class="nav-icon fa fa-user-o">&nbsp;</i><span class="nav-text">Grievance</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/leaves']"><i class="nav-icon fa fa-clipboard">&nbsp;</i><span class="nav-text">Leaves</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/message']"><i class="nav-icon material-icons">message</i><span class="nav-text">Message</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/ohs']"><i class="nav-icon fa fa-h-square">&nbsp;</i><span class="nav-text">OH&S</span></a>

        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/organisation-chart']"><i class="nav-icon fa fa-sitemap">&nbsp;</i><span class="nav-text">Organisation chart</span></a>
        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon fa fa-h-square">&nbsp;</i><span class="nav-text">Policy documents</span><i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Policy documents</span></li>
                <li><a md-button [routerLink]="['/app/employee/policy-documents']"><span class="nav-text">Policy documents</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/policy-documents/procedural-document']"><span class="nav-text">Procedural documents</span></a></li>
            </ul>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/position-description']"><i class="nav-icon fa fa-male"></i><span class="nav-text">Position description</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/probationary-period-meeting']"><i class="nav-icon fa fa-user-o">&nbsp;</i><span class="nav-text">Probationary meeting</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/employee-profile']"><i class="nav-icon material-icons">account_circle</i><span class="nav-text">Profile</span></a>
        </li>
        <li>
            <a md-button [routerLink]="['/app/employee/setting']"><i class="nav-icon fa fa-cogs"></i><span class="nav-text">Settings</span></a>
        </li>
        <li>
            <a md-button href="#/app/ui"><i class="nav-icon fa fa-trophy">&nbsp;</i><span class="nav-text">Trophy</span><i class="fa fa-angle-right pull-right"></i></a>
            <ul>
                <li><span class="menuHeading">Trophy</span></li>
                <li><a md-button [routerLink]="['/app/employee/trophy/win-trophy']"><span class="nav-text">Trophies I won</span></a></li>
                <li><a md-button [routerLink]="['/app/employee/trophy']"><span class="nav-text">Trophy list</span></a></li>
            </ul>

        </li>
    </ul>

</div>