<ul #navBar class="nav" myAccordionNav myAppendSubmenuIcon myHighlightActiveItems mySlimScroll>

    <li *ngFor="let nav of configJson; let i=index;">
        <a md-button [routerLink]="nav.urlRoute" *ngIf="!nav.child">
            <i class="nav-icon {{nav.icon}}">{{nav.iconName}}</i>
            <span class="nav-text">{{nav.name}}</span>
            <i class="fa fa-angle-right pull-right" *ngIf="nav.child"></i>
        </a>
        <a md-button *ngIf="nav.child">
            <i class="nav-icon {{nav.icon}}">{{nav.iconName}}</i>
            <span class="nav-text">{{nav.name}}</span>
            <i class="fa fa-angle-right pull-right" *ngIf="nav.child"></i>
        </a>
        <ul *ngIf="nav.child" mySlimScroll>
            <li>
                <span class="menuHeading">{{nav.name}}</span></li>
            <li *ngFor="let child of nav.child; let i=index;">
                <a md-button class="md-button prepend-icon" [routerLink]="child.urlRoute">
                    <span>{{child.name}}</span></a>
            </li>
        </ul>
    </li>
</ul>