<div [ngClass]="(logData != 'superAdmin')?'admin-panel':''" class="app-container-wrapper">
    <!-- loading side navigation bar-->
    <my-app-sidenav></my-app-sidenav>

    <section id="page-container" class="app-page-container">

        <!-- loading navigation header -->
        <my-app-header></my-app-header>

        <div class="app-content-wrapper">
            <div class="app-content">
                <div class="full-height">

                    <!-- loading child modules -->
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!-- loading footer -->
            <my-app-footer></my-app-footer>
        </div>
    </section>

    <!-- loading app customization bar -->
    <my-app-customizer></my-app-customizer>

    <!-- loading overlay for global search -->
    <my-app-search-overlay></my-app-search-overlay>
</div>