<section class="container-fluid with-maxwidth chapter">
    <article class="article broadcastmain">
        <h2 class="article-title">Broadcast message</h2>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="row" *ngIf="!isProcessing">
            <div class="col-md-12">
                <div class="box box-default">
                    <ul class="messageBox">
                        <li *ngFor="let list of types">
                            <h4 (click)="onClick(list.title)">{{list.title}}</h4>
                            <div class="infoMsg">
                                <span class="dateTime" *ngIf="list.lastMessageTime">Last message on {{list.lastMessageTime | dateFormat:'medium'}}</span>
                                <span class="msgCount">{{list.count}} <i class="material-icons">message</i></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>