.pageHead {
    .groupAction {
        a {
            margin-left: 20px;
            color: #000000;
        }
        .labelStats {
            display: inline-block;
            margin-left: 5px !important;
            .statsInfo {
                display: block;
                margin-top: 10px;
                text-align: center;
                background-color: #64c3fb;
                color: #fff
            }
        }
    }
}

.policyDetail {
    h5 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.subjectBoxes {
    .box-header {
        font-size: 16px;
        .toggleIcon {
            float: right;
            cursor: pointer;
        }
    }
}

.labelStats {
    label {
        &.statsInfo {
            @media (max-width: 767px) {
                margin-bottom: 0px !important;
                margin-top: 15px !important;
            }
        }
    }
}