<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Policy details</h2>
            </div>
        </div>

        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

        <div *ngIf="!isProcessing" class="box box-default paddingBox policyDetail">
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="permission.edit" class="groupAction text-right float-right">
                        <button md-raised-button color="primary" *ngIf="policy.version!=1" (click)="showPolicyVersions(policy.policyDocumentID)">View changed log</button>
                        <div class="labelStats">
                            <button md-raised-button color="{{color}}" (click)="statusChange(status)">{{status}}</button>
                        </div>
                        <button md-raised-button color="special" [routerLink]="['/app/super-admin/policy/editPolicy',policy.policyDocumentID]"><md-icon>edit</md-icon> Edit</button>
                    </div>
                    <div class="labelStats">
                        <label class="statsInfo">{{policy.policyDocumentType.title}}</label>
                        <label class="statsInfo">Version: {{policy.version}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 listStyleDisc">
                    <h5>Policy title</h5>
                    <p>
                        {{policy.title}}
                    </p>
                    <h5>Policy description</h5>
                    <pre [innerHTML]="policy.description | safe: 'html'">
                    </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul *ngFor="let subject of policy.policyDocumentSubjects;let i=index;" class="box box-default subjectBoxes">
                        <li class="box-header box-dark collapseHead" [ngClass]="{'activecollapse':collapsebox[i]}">{{subject.title}} <span (click)="collapsebox[i]=!collapsebox[i]" class="toggleIcon"><i class="fa fa-angle-up"></i></span></li>
                        <li class="box-body collapseDetail listStyleDisc" [ngClass]="{'opencollapse':collapsebox[i]}">
                            <pre [innerHTML]="subject.description | safe: 'html'"></pre>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>