.filterItems {
    padding: 15px;
    overflow-y: auto;
    ul {
        height: 125px;
    }
}

.positionFilter {
    padding: 25px 30px 20px 10px;
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

.input-group {
    &.gapLeft {
        padding-left: 15px;
    }
}

.addUserBtn {
    span {
        position: relative;
        top:0;
    }
}

.table-responsive {
    md-progress-spinner {
        position: relative;
        top: -50px;
    }
}