<div class="container-fluid chapter">
    <article class="article">
        <h2 class="article-title">List of questionnaires

            <a class="addUserBtn float-right"><button md-raised-button color="accent" [routerLink]="['/app/super-admin/survey/add-category']" class="theme-button btn-w-md" >
              <span class="icon">+</span>Add new</button><div class="divider divider-sm"></div></a>
        </h2>
        <!--Filter Box-->
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div *ngIf="categoryTitles.length!=0" class="box box-default positionFilter paddingBox">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <h5 class="filterTitle">Category type</h5>
                        <div class="input-group gapLeft">
                            <input class="form-control" id="inlineFormInputGroup" placeholder="Search For" name="searchCategory" [(ngModel)]="searchKeySurveyType" type="text">
                            <div class="input-group-addon">
                                <md-icon aria-label="search" class="material-icons mat-icon" role="img">search</md-icon>
                            </div>
                        </div>
                        <div class="filterItems">
                            <ul>

                                <li *ngFor="let title of categoryTitles|searchByKey:searchKeySurveyType:'title';let i=index">
                                    <md-checkbox name="categoryTitle_{{i}}" (change)="onFilter()" [(ngModel)]="filter.surveyCatID[title.surveyCatID]"> {{title.title}} </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Filter Box close-->
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table" [mfData]="categories" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th>Category list</th>
                            <th>Number of questions</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isFilterProcessing">
                        <tr class="cursor" [routerLink]="['/app/super-admin/survey/detail',c.surveyCatID]" *ngFor="let c of mf.data;let in=index">
                            <td>{{c?.title}}</td>
                            <td>{{c?.questionCount}}</td>
                            <td>{{c?.status}}</td>
                        </tr>
                        <tr *ngIf="!categories.length">
                            <td class="alert alert-danger" id="textCenter" align="center" colspan="3">No record found</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="progressSpinner" colspan="3" style="background:#ffffff !important;border-bottom:0px !important;">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <md-progress-spinner style="margin-top:5px;" *ngIf="isFilterProcessing" mode="indeterminate" color=""></md-progress-spinner>
            </div>
        </div>
    </article>
</div>