.pIndicatorRow{
    margin-top:25px;
    margin-bottom:25px;
    label{
        display: block;
        padding: 8px 10px;
        background: #e4e4e4;
        border: 1px solid #cccccc;
    }
    md-select{
        display:block;
        margin-top:5px;
        .mat-select-placeholder{
            font-size:14px;
        }
    }
}
.text-center{
    button{
        margin:0px 5px;
    }
}

md-progress-spinner{
    height: 40px !important;
    width: 40px !important;
    margin:0 auto;    
    margin-top:20px;
}