<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">{{heading}}</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isEditDataAvailable" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isEditDataAvailable" class="row">
            <div class="col-md-12">
                <form #addEditForm="ngForm">
                    <div class="box contentBox">
                        <md-input-container class="full-width">
                            <input name="title" #title="ngModel" myNoSpaces mdInput placeholder="Enter position title" [(ngModel)]="positionDescription.title" required>
                        </md-input-container>
                        <div *ngIf="title.errors && (title.dirty || title.touched)">
                            <div class="alert alert-danger" *ngIf="(title.errors.required || title.errors.whitespace)">
                                Position title is required !
                            </div>
                        </div>
                        <md-input-container class="full-width">
                            <textarea name="summary" #summary="ngModel" myNoSpaces mdInput placeholder="Enter summary" [(ngModel)]="positionDescription.summary" required></textarea>
                        </md-input-container>
                        <div *ngIf="summary.errors && (summary.dirty || summary.touched)">
                            <div class="alert alert-danger" *ngIf="(summary.errors.required || summary.errors.whitespace)">
                                Position summary is required !
                            </div>
                        </div>
                        <h5>Add performance indicator</h5>
                        <div class="row pIndicatorRow">
                            <div class="col-md-4 col-sm-6">
                                <label>Performance indicator</label>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Duration</label>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <label>Measurement of performance </label>
                            </div>
                        </div>
                        <div class="pIndicatorRow">
                            <ul>
                                <li class="row" *ngFor="let p of positionDescription.performanceIndicator;let i=index">
                                    <div class="col-md-4 col-sm-6">
                                        <md-input-container class="full-width">
                                            <textarea mdInput placeholder="Performance indicator" name="performance_indicator_{{i}}" #positionTitle="ngModel" [(ngModel)]="p.title" required></textarea>
                                        </md-input-container>
                                        <div *ngIf="positionTitle.errors && (positionTitle.dirty || positionTitle.touched)">
                                            <div class="alert alert-danger" *ngIf="(positionTitle.errors.required || positionTitle.errors.whitespace)">
                                                Position performance indicator is required !
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <md-select placeholder="Duration" name="type_{{i}}" #positionDuration="ngModel" [(ngModel)]="p.duration" required>
                                            <md-option value="1 month">1 Month</md-option>
                                            <md-option value="3 months">3 Months</md-option>
                                            <md-option value="6 months">6 Months</md-option>
                                            <md-option value="12 months">12 Months</md-option>
                                        </md-select>
                                        <div *ngIf="positionDuration.errors && (positionDuration.dirty || positionDuration.touched)">
                                            <div class="alert alert-danger" *ngIf="(positionDuration.errors.required || positionDuration.errors.whitespace)">
                                                Position duration is required !
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <md-input-container class="full-width">
                                            <textarea placeholder="Measurement of performance" mdInput name="measurementPerformance_{{i}}" #positionMeasure="ngModel" [(ngModel)]="p.measure" required></textarea>
                                        </md-input-container>
                                        <div *ngIf="positionMeasure.errors && (positionMeasure.dirty || positionMeasure.touched)">
                                            <div class="alert alert-danger" *ngIf="(positionMeasure.errors.required || positionMeasure.errors.whitespace)">
                                                Position performance measurement is required !
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 float-right full-width text-right"><button md-raised-button color="warn" [disabled]="positionDescription.performanceIndicator.length<2" (click)="deletePerformanceField(i);false">Delete</button></div>
                                </li>
                            </ul>
                            <div class="full-width text-right">
                                <button md-raised-button color="primary" (click)="addPerformanceField();false">Add more fields</button>
                            </div>



                            <div class="row">
                                <div class="col-md-12">

                                    <h5 style="margin-top:10px;">Other roles and responsibilities *</h5>
                                    <app-tinymce name="otherRoles" #otherRoles="ngModel" placeholder="Enter other roles and responsibilities" [(ngModel)]="positionDescription.roleAndResponsibility" required></app-tinymce>
                                    <div *ngIf="otherRoles.errors && (otherRoles.dirty || otherRoles.touched)">
                                        <div class="alert alert-danger" *ngIf="(otherRoles.errors.required || otherRoles.errors.whitespace)">
                                            Other roles and responsibilities is required !
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-12">
                                    <!--<app-tinymce name="pastExperience" #pastExperience="ngModel" placeholder="Past experience" [(ngModel)]="positionDescription.pastExperience" required></app-tinymce>-->
                                    <h5 style="margin-top:20px;">Past experience *</h5>
                                    <app-tinymce name="pastExperience" #pastExperience="ngModel" placeholder="Past experience" [(ngModel)]="positionDescription.pastExperience" required></app-tinymce>
                                    <!-- <quill-editor [modules]="editorOptions" name="pastExperience" #pastExperience="ngModel" placeholder="Enter past experience" [(ngModel)]="positionDescription.pastExperience" required></quill-editor> -->
                                    <div *ngIf="pastExperience.errors && (pastExperience.dirty || pastExperience.touched)">
                                        <div class="alert alert-danger" *ngIf="(pastExperience.errors.required || pastExperience.errors.whitespace)">
                                            Past experience is required !
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="margin-top:20px;">Education * </h5>
                                    <app-tinymce name="education" #education="ngModel" placeholder="Enter education" [(ngModel)]="positionDescription.education" required></app-tinymce>
                                    <!-- <quill-editor [modules]="editorOptions" mdInput name="education" #education="ngModel" placeholder="Enter education" [(ngModel)]="positionDescription.education" required></quill-editor> -->
                                    <div *ngIf="education.errors && (education.dirty || education.touched)">
                                        <div class="alert alert-danger" *ngIf="(education.errors.required || education.errors.whitespace)">
                                            Education is required !
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box contentBox">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <ul class="row" *ngIf="!isProcessing">
                                    <li class="col-md-3" *ngFor="let i of industries;let in=index">
                                        <md-checkbox name="industry-{{in}}" #industrySelected="ngModel" [(ngModel)]="i.isChecked">{{i.industryTitle}}</md-checkbox>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isButtonClicked" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="text-center" *ngIf="!isButtonClicked">
                        <button md-raised-button type="submit" color="primary" [disabled]="(!addEditForm.form.valid)" (click)="addEditPositionDescription();false">{{buttonText}}</button>
                        <button md-raised-button color="default" (click)="onCancel();false">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</div>