<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <!-- <li class="breadcrumb-item" [routerLink]="['/app/employee/activites']">Training day</li> -->
                    <li class="breadcrumb-item active">Training plan acceptance</li>
                </ol>
            </div>
            <!--<div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>-->
        </div>
        <div class="row">
            <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessingDetail" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessingDetail && noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox text-center">No result found.</div>
            </div>
            <div *ngIf="!isProcessingDetail && !noResult" class="col-md-12">
                <div class="cmpnycontentBox detailbox">
                    <div class="date text-right"><strong>Training time</strong>&nbsp;&nbsp; {{formatDateTime(trainingPlan?.trainningTime)}} </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="heading">Training plan</h4>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Training plan title</label>
                            </div>
                            <div class="rghtinput10">
                                {{trainingPlan?.title}}
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Reason</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.reason |safe:'html'">
                                <!-- {{trainingPlan?.reason}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Action plan</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.actionPlan |safe:'html'">
                                <!-- {{trainingPlan?.actionPlan}} -->
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Objective</label>
                            </div>
                            <div class="rghtinput10" [innerHTML]="trainingPlan?.objective |safe:'html'">
                                <!-- {{trainingPlan?.objective}} -->
                            </div>
                        </div>


                    </div>
                </div>
                <div class=" col-sm-12 form-group">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing" class="btnContainer text-center">
                        <button class="btn btn-success btn-lg" (click)="acceptPlan(true)">Accept</button>
                        <button class="btn btn-danger btn-lg" (click)="acceptPlan(false)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>