<div class="container-fluid  admin-panel">
    <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active">Policy approval</li>
    </ol> -->
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer" style="margin-top:30px;">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div class="cmpnycontentBox" [hidden]="viewDials">
        <div class="positionListTable">
            <div class="row">
                <div class="col-md-12">
                    <div class="tableWrapper">
                        <table class="full-width">
                            <tbody>
                                <tr style="padding:0;border: 0;">
                                    <td colspan="7" style="padding:0;">
                                        <div class="collapseInfoBox" style="padding:0;">
                                            <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Policies<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                            <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox" style="padding:0;overflow:visible;">
                                                <div class="paddingBox" style="padding:0;">
                                                    <table [mfData]="hrPolicy" #mfHr="mfDataTable" [mfRowsOnPage]="10" class="full-width table" style="border:0;margin:0; padding:0;margin-top:-1px;min-width:1165px;">
                                                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                        <thead class="mainHeader">
                                                            <th style="width:90px">S. no.</th>
                                                            <th style="width:120px">Status</th>
                                                            <th style="max-width:245px">Title</th>
                                                            <!--<th>Last updated</th>-->
                                                            <th style="width:140px;">Current version</th>
                                                            <th style="width:140px;">Details</th>
                                                            <!-- <th style="width:130px">Action</th> -->
                                                        </thead>
                                                        <tbody [hidden]="hrToggle">
                                                            <tr *ngFor="let c of mfHr.data;let i =index">
                                                                <td style="width:90px;">{{i+1}}</td>
                                                                <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                                                <td style="max-width:245px;">{{c?.title || 'N/A'}}</td>
                                                                <!--<td>{{c?.insertTime || 'N/A'}}</td>-->
                                                                <td>{{c?.version || 'N/A'}} </td>
                                                                <td><button (click)="onPolicyDetails(c)" class="btn btn-default">View details</button></td>
                                                                <!-- <td>
                                                                    <label *ngIf="c.employeeStatus" class="color-success">  Accepted</label>
                                                                    <div *ngIf="!c.employeeStatus" class="dropdown actionDroapdown actionDDtbl">
                                                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                            <button (click)="onAcceptReject(c.companyPolicyDocumentID)" *ngIf="c.companyPolicyDocumentID" class="dropdown-item btn-none color-danger"><i class="fa fa-times-square-o"></i> Accept / Reject</button>
                                                                        </div>
                                                                    </div>
                                                                </td> -->
                                                            </tr>
                                                        </tbody>
                                                        <tfoot [hidden]="hrToggle" colspan="6">
                                                            <div class="col-sm-12">
                                                                <mfBootstrapPaginator *ngIf="!isProcessing"></mfBootstrapPaginator>
                                                            </div>
                                                            <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !hrPolicy.length">
                                                                <td colspan="4"> Record not found.</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <br>
        <div class="buttonWrap text-center">
            <!-- <button class="btn btn-secondary btn-lg"><i class="fa fa-angle-double-left"></i> &nbsp; Back</button>
            <button class="btn btn-special btn-lg">Save draft &nbsp;<i class="fa fa-save"></i></button> -->
            <md-progress-spinner *ngIf="actionProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <button *ngIf="!actionProcessing" (click)="onAcceptPolicies()" class="btn btn-primary btn-lg">Accept all and proceed &nbsp;<i class="fa fa-angle-double-right"></i></button>
        </div>
    </div>
    <section id="printBox" class="note-preview cmpnycontentBox" [hidden]="!viewDials">

        <div class="headingDiv">
            <h4 class="heading">Heading 1</h4>
            <p> adaddasdaasdasdas dsfdsfsf asfasdfs sdfsdfs zxdfdsfds
            </p>
        </div>
        <div class="content">
            <h6 class="heading">Sub heading</h6>
            <p>dfdsfdsfdsfsdf sdfsdfds dgdgds,mhjgfdsgvs fcbdsfgbsdfhdfxgxgfxfb
            </p>

        </div>
        <div class="btnWrapper text-center">
            <button class="btn btn-lg btn-primary" (click)="provideApproval()">Approved</button>
            <button class="btn btn-lg btn-primary" (click)="viewDials=!viewDials">Cancel</button>
        </div>

    </section>
</div>