<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item" [routerLink]="['/app/employee/policy-documents']">Policy documents</li>
                <li class="breadcrumb-item active" [routerLink]="['/app/employee/policy-documents/accept-change']">Accept change</li>
            </ol>
        </div>
        <div class="col-md-12 text-right statusBtn labelStats">
            <button class="btn btn-primary">View changed logs</button>
            <label class="statsInfo">Version 1.3</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section id="printBox" class="note-preview cmpnycontentBox">
                <div class="headerBox">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="logo"><img src="assets/images/logo.png" /></div>
                        </div>
                        <div class="col-md-6">
                            <div class="companyDtl">Joe office supplies <span class="date"></span>19/01/2016</div>
                        </div>
                    </div>
                </div>
                <div class="headingDiv">
                    <h4 class="heading">Heading 1</h4>
                    <p> Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et. Malis diceret inciderint ex eos, ad libris putant mei, per laudem labore ut. Id vis molestie incorrupte reprimique,
                        petentium reprehendunt eum no, cum reque vitae menandri ei.
                    </p>
                </div>
                <div class="content">
                    <h6 class="heading 1">Sub heading</h6>
                    <p>Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et. Malis diceret inciderint ex eos, ad libris putant mei, per laudem labore ut. Id vis molestie incorrupte reprimique,
                        petentium reprehendunt eum no, cum reque vitae menandri ei.
                    </p>
                </div>
                <div class="content">
                    <h6 class="heading 2">Sub heading</h6>
                    <p>Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et. Malis diceret inciderint ex eos, ad libris putant mei, per laudem labore ut. Id vis molestie incorrupte reprimique,
                        petentium reprehendunt eum no, cum reque vitae menandri ei.
                    </p>
                </div>
                <div class="content">
                    <h6 class="heading 2">Sub heading 3</h6>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et. Malis .</li>
                        <li>id ius commune definiebas concludaturque, est postea audiam et. Malis .</li>
                        <li>id ius commune definiebas concludaturque, est postea audiam.</li>
                        <li>id ius commune definiebas concludaturque.</li>
                        <li>Lorem ipsum dolor sit amet, dicta audiam laboramus ea has, id ius commune definiebas concludaturque, est postea audiam et. Malis .</li>
                        <li>id ius commune definiebas concludaturque, est postea audiam et. Malis .</li>
                        <li>id ius commune definiebas concludaturque, est postea audiam.</li>
                        <li>id ius commune definiebas concludaturque.</li>
                    </ul>
                </div>
                <div class="contentFooter">Copyright &copy; Happy HR</div>
                <div class="actionBtn">
                    <button class="btn btn-primary">I accept this policy document completely</button>
                </div>
            </section>
        </div>
    </div>
</div>