<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Reference check guide form</h2>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="col-md-12">

                <!--********************************* GENERAL INFORMATION ***************************** -->
                <div class="box box-default" *ngIf="!generalInformationEditBox">
                    <div class="box-header box-dark">{{generalInformation?.heading}}
                        <span (click)="onEditClick('generalInformationEditBox',generalInformation);oldHeading=generalInformation?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of generalInformation?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="generalInformationEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #generalInformationForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="generalInformation.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of addFormFields; let i=index">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" #field="ngModel" id="title_{{i}}" name="title_{{i}}" [(ngModel)]="item.title" required>
                                </md-input-container>

                                <div *ngIf="field.errors  && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <button md-raised-button [disabled]="!generalInformationForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(generalInformationForm.form.valid,'generalInformationEditBox',generalInformation)">
                                        Save
                                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('generalInformationEditBox',generalInformation)">
                                        Cancel
                                </button>
                            </div>
                            <div class="col-md-4 col-xs-5 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(generalInformation)">
                                  <span class="icon">+</span>Add more
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- <div class="box box-default" *ngIf="!generalInformationEditBox">
                    <div class="box-header box-dark">{{template?.generalInformation?.heading}}
                        <span (click)="generalInformationEditBox=true" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of  template.generalInformation?.fields">
                                        <td>{{c?.label}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="generalInformationEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #generalInformationForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="template.generalInformation.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of  template?.generalInformation.fields ; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.label">
                                </md-input-container>

                                <div *ngIf="field.errors">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <button md-raised-button [disabled]="!generalInformationForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(generalInformationForm.form.valid,'generalInformationEditBox','generalInformation')">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('generalInformationEditBox')">
                        Cancel
                </button>
                            </div>
                            <div class="col-md-4 col-xs-5 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields('generalInformation')">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div> -->


                <!--********************************* REFERENCE DETAILS ***************************** -->

                <div class="box box-default" *ngIf="!referenceDetailsEditBox">
                    <div class="box-header box-dark">{{referenceDetails.heading}}
                        <span (click)="onEditClick('referenceDetailsEditBox',referenceDetails);oldHeading=referenceDetails.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of referenceDetails?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="referenceDetailsEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #referenceDetailsForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="referenceDetails.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of addFormFields; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.title">
                                </md-input-container>

                                <div *ngIf="field.errors && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7  col-md-8">
                                <button md-raised-button [disabled]="!referenceDetailsForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(referenceDetailsForm.form.valid,'referenceDetailsEditBox',referenceDetails)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('referenceDetailsEditBox',referenceDetails)">
                        Cancel
                </button>
                            </div>
                            <div class="col-xs-5  col-md-4 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(referenceDetails)">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--********************************* EMPLOYMENT DETAILS ***************************** -->

                <div class="box box-default" *ngIf="!employmentDetailsEditBox">
                    <div class="box-header box-dark">{{employmentDetails?.heading}}
                        <span (click)="onEditClick('employmentDetailsEditBox',employmentDetails);oldHeading=employmentDetails?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of  employmentDetails?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="employmentDetailsEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #employmentDetailsForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="employmentDetails.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of  addFormFields; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.title">
                                </md-input-container>

                                <div *ngIf="field.errors && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7  col-md-8">
                                <button md-raised-button [disabled]="!employmentDetailsForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(employmentDetailsForm.form.valid,'employmentDetailsEditBox',employmentDetails)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('employmentDetailsEditBox',employmentDetails)">
                        Cancel
                </button>
                            </div>
                            <div class="col-xs-5  col-md-4 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(employmentDetails)">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--********************************* APPLICANT DISCRIPTION ***************************** -->

                <div class="box box-default" *ngIf="!applicantDiscriptionEditBox">
                    <div class="box-header box-dark">{{applicantDiscription?.heading}}
                        <span (click)="onEditClick('applicantDiscriptionEditBox',applicantDiscription);oldHeading=applicantDiscription?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of  applicantDiscription?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="applicantDiscriptionEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #applicantDiscriptionForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="applicantDiscription.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of addFormFields; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.title">
                                </md-input-container>

                                <div *ngIf="field.errors && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7  col-md-8">
                                <button md-raised-button [disabled]="!applicantDiscriptionForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(applicantDiscriptionForm.form.valid,'applicantDiscriptionEditBox',applicantDiscription)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('applicantDiscriptionEditBox',applicantDiscription)">
                        Cancel
                </button>
                            </div>
                            <div class="col-xs-5 col-md-4 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(applicantDiscription)">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- EmployeementDetail : Array(0) GeneralInformation : Array(5) ReferenceDetail : Array(6) reference_check_applicant_ability : Array(0) reference_check_applicant_key : Array(0) reference_check_describe_applicant : Array(0) -->

                <!--********************************* APPLICANT KEY ***************************** -->

                <div class="box box-default" *ngIf="!applicantkeyEditBox">
                    <div class="box-header box-dark">{{applicantkey?.heading}}
                        <span (click)="onEditClick('applicantkeyEditBox',applicantkey);oldHeading=applicantkey?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of  applicantkey?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="applicantkeyEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #applicantkeyForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="applicantkey.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of addFormFields; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.title">
                                </md-input-container>

                                <div *ngIf="field.errors && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <button md-raised-button [disabled]="!applicantkeyForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(applicantkeyForm.form.valid,'applicantkeyEditBox',applicantkey)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('applicantkeyEditBox',applicantkey)">
                        Cancel
                </button>
                            </div>
                            <div class="col-xs-5 col-md-4 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(applicantkey)">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--********************************* APPLICANT ABILITY ***************************** -->

                <div class="box box-default" *ngIf="!applicantAbilityEditBox">
                    <div class="box-header box-dark">{{applicantAbility?.heading}}
                        <span (click)="onEditClick('applicantAbilityEditBox',applicantAbility);oldHeading=applicantAbility?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr *ngFor="let c of applicantAbility?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div *ngIf="applicantAbilityEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #gapplicantAbilityForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="applicantAbility.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of addFormFields; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.title">
                                </md-input-container>

                                <div *ngIf="field.errors && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <button md-raised-button [disabled]="!gapplicantAbilityForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(gapplicantAbilityForm.form.valid,'applicantAbilityEditBox',applicantAbility)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('applicantAbilityEditBox',applicantAbility)">
                        Cancel
                </button>
                            </div>
                            <div class="col-xs-5 col-md-4 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(applicantAbility)">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--********************************* KET CRITERIA ***************************** -->

                <div class="box box-default" *ngIf="!keyCriteriaEditBox">
                    <div class="box-header box-dark">{{keyCriteria?.heading}}
                        <span (click)="onEditClick('keyCriteriaEditBox',keyCriteria);oldHeading=keyCriteria?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="box box-default table-box table-responsive">
                            <table class="mdl-data-table">
                                <tbody>
                                    <tr>
                                        <th>S.no</th>
                                        <th>Key criteria</th>
                                    </tr>
                                    <tr *ngFor="let c of keyCriteria?.data">
                                        <td>{{c?.title}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div *ngIf="keyCriteriaEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #keyCriteriaForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="keyCriteria.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h4>fields</h4>

                            </div>
                            <div class="col-md-6" *ngFor="let item of addFormFields; let i=index">
                                <md-input-container class="full-width">

                                    <input required mdInput type="text" #field="ngModel" name="title_{{i}}" [(ngModel)]="item.title">
                                </md-input-container>

                                <div *ngIf="field.errors && (field.dirty || field.touched)">
                                    <div class="alert alert-danger" [hidden]="!field.errors.required">
                                        Please enter field name !
                                    </div>
                                </div>
                        <button class="float-right" md-raised-button color="danger" (click)="deleteField(i);false">Delete</button>
                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-8">
                                <button md-raised-button [disabled]="!keyCriteriaForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(keyCriteriaForm.form.valid,'keyCriteriaEditBox',keyCriteria)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('keyCriteriaEditBox',keyCriteria)">
                        Cancel
                </button>
                            </div>
                            <div class="col-xs-5 col-md-4 text-right">
                                <button md-raised-button color="accent" class="addButton float-right" (click)="addFields(keyCriteria)">
                        <span class="icon">+</span>Add more
                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--********************************* ROLE DISCRIPTION ***************************** -->

                <div class="box box-default" *ngIf="!roleDiscriptionEditBox">
                    <div class="box-header box-dark">{{roleDiscription?.heading}}
                        <span (click)="roleDiscriptionEditBox=true;oldHeading=roleDiscription?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <md-input-container class="full-width">
                            <textarea disabled mdInput></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div *ngIf="roleDiscriptionEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #roleDiscriptionForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="roleDiscription.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button md-raised-button [disabled]="!roleDiscriptionForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(roleDiscriptionForm.form.valid,'roleDiscriptionEditBox',roleDiscription)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('roleDiscriptionEditBox',roleDiscription)">
                        Cancel
                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--********************************* RE-EMPLOY ***************************** -->

                <div class="box box-default" *ngIf="!reEmployEditBox">
                    <div class="box-header box-dark">{{reEmploy?.heading}}
                        <span (click)="reEmployEditBox=true;oldHeading=reEmploy?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <div class="btn-wrapper addUserBtn">
                            <md-checkbox name="new" disabled>Yes </md-checkbox>
                            <md-checkbox name="new" disabled>No </md-checkbox>
                        </div>
                    </div>
                </div>
                <div *ngIf="reEmployEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #reEmployForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="reEmploy.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button md-raised-button [disabled]="!reEmployForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(reEmployForm.form.valid,'reEmployEditBox',reEmploy)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('reEmployEditBox',reEmploy)">
                        Cancel
                </button>
                            </div>
                        </div>
                    </form>
                </div>


                <!--********************************* RE-EMPLOY REJECTION DISCRIPTION ***************************** -->

                <div class="box box-default" *ngIf="!reEmployRejectionDiscriptionEditBox">
                    <div class="box-header box-dark">{{reEmployRejectionDiscription?.heading}}
                        <span (click)="reEmployRejectionDiscriptionEditBox=true;oldHeading=reEmployRejectionDiscription?.heading" class="float-right">
                  <i class="material-icons">border_color</i></span>
                    </div>
                    <div class="box-body">
                        <md-input-container class="full-width">
                            <textarea disabled mdInput></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div *ngIf="reEmployRejectionDiscriptionEditBox" class="box box-default paddingBox editForm">
                    <md-progress-spinner *ngIf="loader" mode="indeterminate" color=""></md-progress-spinner>
                    <form #reEmployRejectionDiscriptionForm="ngForm" *ngIf="!loader">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Heading</h4>

                            </div>
                            <div class="col-md-12">
                                <md-input-container class="full-width">
                                    <input mdInput type="text" class="mainTitle" #heading="ngModel" name="title name" required [(ngModel)]="reEmployRejectionDiscription.heading">
                                </md-input-container>
                                <div *ngIf="heading.errors && (heading.dirty || heading.touched)">
                                    <div class="alert alert-danger" [hidden]="!heading.errors.required">
                                        Heading name is required !
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button md-raised-button [disabled]="!reEmployRejectionDiscriptionForm.form.valid" color="accent" class="addButton float-left" (click)="onSave(reEmployRejectionDiscriptionForm.form.valid,'reEmployRejectionDiscriptionEditBox',reEmployRejectionDiscription)">
                        Save
                </button>
                                <button md-raised-button style="margin-left:1%;" color="default" class="addButton float-left" (click)="onCancel('reEmployRejectionDiscriptionEditBox',reEmployRejectionDiscription)">
                        Cancel
                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </article>
</div>