.table-box {
    &.table-responsive {
        margin-bottom: 0px;
    }
    .mdl-data-table {
        min-width: 600px;
        tr {
            td {
                border: 1px solid #cccccc;
                &:first-child {
                    width: 23%;
                }
                &:last-child {
                    width: 77%;
                }
            }
        }
    }
}

.addUserBtn md-checkbox {
    margin-right: 20px;
}

.editForm {
    md-input-container {
        overflow: hidden;
        .mainTitle {
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .col-md-4 {
        &.text-right {
            text-align: left !important;
            button {
                margin-top: 10px;
                &.float-right {
                    float: left !important;
                }
            }
        }
    }
    .col-md-8 {
        button {
            &:last-child {
                margin-left: 7px !important;
            }
        }
    }
}