.cmpnycontentBox {
    padding: 20px 20px;
    margin-bottom: 20px;
}

h3.heading {
    margin: 0;
    margin-bottom: 16px;
}

.descriptionDetails {
    padding: 0px 15px 20px;
    width: 100%;
    .sub-title {
        font-size: 20px;
        color: #333;
        font-weight: bold;
        .btn-blue {
            background: rgb(100, 195, 250);
            color: #fff;
            font-weight: normal;
        }
    }
    .newindecator {
        display: inline-block;
        margin: 12px 0;
        cursor: pointer;
    }

}

@media screen and (max-width:767px) {
    .heading .btn.btn-primary {
        margin: 7px 0 12px;
        float: none;
    }
}

@media screen and (max-width:479px) {
    .description-list .sub-title .btn-blue {
        margin: 13px 0;
    }
}

// .highlight{
//     position: relative;   
//     -webkit-animation: mymove 5s linear; /* Safari 4.0 - 8.0 */
//     animation: mymove 5s linear;
//     background: rgba(51, 51, 51, 0.37);    
//      &:after{
//     content: 'Deleting...';
//     position: absolute;
//     width: 86px;
//     height: 32px;
//     z-index: 999;
//     color: #fff;
//     font-size: 18px;
//     left: 53%;
//     margin-top: 7px;
//     }
// }
//     @-webkit-keyframes mymove {
//         0%   {opacity:1;}
//         100% {opacity:0; color:#fff;}
//     }
//     /* Standard syntax */
//     @keyframes mymove {
//         0%   {opacity:1;}
//         100% {opacity:0; color:#fff;}
//     }