<div class="full-width row">
</div>

<section class="descriptionDetails">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee/position-description']">Position description</a></li>
        <li class="breadcrumb-item active">detail</li>
        <!-- <li style="padding-right:0 !important;"><button class="btn btn-primary pull-right">Download PDF</button></li> -->

    </ol>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing">
        <div class="cmpnycontentBox">
            <h3 id="pdfheader" style="text-align: center;display:none;">Position description</h3>
            <div class="box">
                <h3 class="heading">{{position?.positionTitle}}</h3>
            </div>
            <div class="box">
                <h3 class="heading">Summary</h3>
                <p [innerHTML]="position.positionSummary"></p>
            </div>
            <div class="box">
                <h3 class="heading">Performance indicators</h3>
                <div class="table-responsive tableWrapper">
                    <div>
                        <table id="notpdftable" class="full-width">
                            <thead>
                                <tr>
                                    <th><b>S.no</b></th>
                                    <th>
                                        <b>Performance indicator</b>
                                    </th>
                                    <th>
                                        <b>Measurement of performance indicator</b>
                                    </th>
                                    <th>
                                        <b>Assessment period</b>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of position.performanceIndicator; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{c?.title}}</td>
                                    <td>{{c?.measure}}</td>
                                    <td>{{c?.duration}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box">
                <h3 class="heading">Other roles and responsibilities</h3>
                <p [innerHTML]="position.rolesAndResponsibilities"></p>
            </div>
            <div class="box">
                <h3 class="heading">Previous experience</h3>
                <p [innerHTML]="position.pastExperience"></p>
            </div>
            <div class="box">
                <h3 class="heading">Education</h3>
                <p [innerHTML]="position.education"></p>
            </div>

            <md-progress-spinner *ngIf="isAccept" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isAction && status=='Pending'" class="footerDiv buttonWrap text-center">
                    <button (click)="onAcceptPosition()" class="btn btn-primary">Accept</button>
                    <!-- <button (click)="onRejectContract()" class="btn btn-default">Reject with a note</button> -->
                </div> 

        </div>
    </div>
</section>