<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">List of industries & Job functions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header box-dark">Industry <span class="float-right sort" (click)="sort=!sort;sortData(sort,'industry')">Sort: A-Z</span></div>
                    <md-progress-spinner *ngIf="industryListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!industryListProcessing" class="box-body">
                        <ul class="industryList">
                            <li ngClass="{'disabled':permission.edit}" *ngFor="let industry of industries;let i=index" (click)="getDataForIndustryUpdate(industry)" class="clearfix">{{industry?.title}}
                                <span *ngIf="permission.delete" md-tooltip="Delete" class="delete float-right" (click)="deleteIndustry(industry.jobIndustryID,i);$event.stopPropagation()"><i class="material-icons">delete</i></span></li>
                        </ul>

                        <form #editIndustry="ngForm">
                            <div class="editIndustry">
                                <ng-container *ngIf="showIndustryEditField">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #title="ngModel" name="title_name" [(ngModel)]="industryList[0].title" required>
                                    </md-input-container>
                                    <span class="editField"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    <div *ngIf="title.errors && (title.dirty || title.touched)">
                                        <div class="alert alert-danger" [hidden]="!(title.errors.required)">
                                            Industry title is required !
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                        <button class="savejobbtn" *ngIf="showIndustryEditField && !addEditIndustryProcessing" [disabled]="!editIndustry.valid" md-raised-button color="primary" (click)="addEditIndustryData()">Save</button>
                        <button color="default" *ngIf="showIndustryEditField && !addEditIndustryProcessing" md-raised-button (click)="onIndustryEditCancel(industryList[0])">Cancel</button>


                        <form #addIndustry="ngForm">
                            <div class="editIndustry" *ngFor="let l of industryList;let i=index">
                                <ng-container *ngIf="hideIndustryField">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #title="ngModel" name="industry_title_name{{i}}" [(ngModel)]="industryList[i].title" required>
                                    </md-input-container>
                                    <div *ngIf="title.errors && (title.dirty || title.touched)">
                                        <div class="alert alert-danger" [hidden]="!(title.errors.required)">
                                            Industry title is required !
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                        <md-progress-spinner *ngIf="addEditIndustryProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div class="text-center" style="margin-bottom:10px;" *ngIf="!addEditIndustryProcessing">
                            <button *ngIf="hideIndustryField" type="submit" [disabled]="!addIndustry.valid" md-raised-button color="primary" (click)="addEditIndustryData()">Add</button>
                            <button *ngIf="hideIndustryField" md-raised-button color="default" style="margin-left:10px;" (click)="onIndustryCancel()">Cancel</button>
                        </div>
                        <div *ngIf="permission.add" class="text-center">
                            <button md-raised-button (click)="addIndustryField()" color="accent" class="theme-button btn-w-md minibtn"><md-icon>add</md-icon> Add industry</button>
                        </div>
                    </div>


                </div>
            </div>


            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header box-dark">Job function <span class="float-right sort" (click)="sort=!sort;sortData(sort,'jobFunction')">Sort: A-Z</span></div>
                    <md-progress-spinner *ngIf="functionListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!functionListProcessing" class="box-body">
                        <ul class="industryList">
                            <ng-container *ngFor="let function of jobFunctions;let i=index">
                                <li ngClass="{'disabled':permission.edit}" (click)="getDataForJobFunctionUpdate(function)" class="clearfix">{{function.title}}
                                    <span *ngIf="permission.delete" md-tooltip="Delete" class="delete float-right" (click)="deleteJobFunction(function.jobFunctionID,i);$event.stopPropagation()"><i class="material-icons">delete</i></span></li>
                            </ng-container>
                        </ul>
                        <form #editFunction="ngForm">
                            <div class="editIndustry">
                                <ng-container *ngIf="showFunctionEditField">
                                    <md-select class="full-width" required [(ngModel)]="functionList[0].jobIndustryID" #industry="ngModel" name="industry" placeholder="Select industry" required>
                                        <md-option *ngFor="let industry of industries;let i=index" [value]="industry?.jobIndustryID">{{industry?.title}}</md-option>
                                    </md-select>
                                    <span class="editField" style="margin-top:-15px;" (click)="addEditData('function')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    <div *ngIf="industry.errors && (industry.dirty || industry.touched)">
                                        <div class="alert alert-danger" [hidden]="!(industry.errors.required)">
                                            Industry is required !
                                        </div>
                                    </div>
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" #title="ngModel" class="mainTitle" name="title_name" [(ngModel)]="functionList[0].title" required>
                                    </md-input-container>
                                    <!-- <span class="editField" (click)="addEditData('function')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> -->
                                    <div *ngIf="title.errors && (title.dirty || title.touched)">
                                        <div class="alert alert-danger" [hidden]="!(title.errors.required)">
                                            Job function title is required !
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                        </form>
                        <button class="savejobbtn" *ngIf="showFunctionEditField && !addEditFunctionProcessing" [disabled]="!editFunction.valid" md-raised-button color="primary" (click)="addEditJobFunctionData()">Save</button>
                        <button color="default" *ngIf="showFunctionEditField && !addEditFunctionProcessing" md-raised-button (click)="onJobFunctionEditCancel(functionList[0])">Cancel</button>

                        <form #addFunction="ngForm">
                            <div class="editIndustry" *ngFor="let l of functionList;let i=index">
                                <ng-container *ngIf="hideFunctionField">
                                    <md-select class="full-width" required [(ngModel)]="functionList[0].jobIndustryID" #industry="ngModel" name="industry" placeholder="Select industry" required>
                                        <md-option *ngFor="let industry of industries;let i=index" [value]="industry?.jobIndustryID">{{industry?.title}}</md-option>
                                    </md-select>
                                    <!-- <span class="editField" (click)="addEditData('function')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> -->
                                    <div *ngIf="industry.errors && (industry.dirty || industry.touched)">
                                        <div class="alert alert-danger" [hidden]="!(industry.errors.required)">
                                            Industry is required !
                                        </div>
                                    </div>
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #title="ngModel" name="location_title_name{{i}}" [(ngModel)]="functionList[i].title" required>
                                    </md-input-container>
                                    <div *ngIf="title.errors && (title.dirty || title.touched)">
                                        <div class="alert alert-danger" [hidden]="!(title.errors.required )">
                                            Job function title is required !
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                        <md-progress-spinner *ngIf="addEditFunctionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div class="text-center" style="margin-bottom:14px;" *ngIf="!addEditFunctionProcessing">
                            <button *ngIf="hideFunctionField" [disabled]="!addFunction.valid" md-raised-button color="primary" (click)="addEditJobFunctionData()">Add</button>
                            <button *ngIf="hideFunctionField" md-raised-button color="default" style="margin-left:10px;" (click)="onFunctionCancel()">Cancel</button>
                        </div>
                        <div class="text-center" *ngIf="permission.add">
                            <button md-raised-button (click)="addJobFunctionField()" color="accent" class="theme-button btn-w-md minibtn"><md-icon>add</md-icon> Add function</button>
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="box box-default">
                    <div class="box-header box-dark">Location <span class="float-right sort" (click)="sort=!sort;sortData(sort,'location')">Sort: A-Z</span></div>
                    <md-progress-spinner *ngIf="locationListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!locationListProcessing" class="box-body">
                        <ul class="industryList">
                            <li ngClass="{'disabled':permission.edit}" *ngFor="let location of locations;let i=index" (click)="getDataForLocationUpdate(location)" class="clearfix">{{location.title}}
                                <span *ngIf="permission.delete" md-tooltip="Delete" class="delete float-right" (click)="deleteLocation(location.jobLocationID,i);$event.stopPropagation()"><i class="material-icons">delete</i></span></li>
                        </ul>

                        <form #editLocation="ngForm">
                            <div class="editIndustry">
                                <ng-container *ngIf="showLocationEditField">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #title="ngModel" name="title_name" [(ngModel)]="locationList[0].title" required>
                                    </md-input-container>
                                    <span class="editField" (click)="addEditLocationData()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    <div *ngIf="title.errors && (title.dirty || title.touched)">
                                        <div class="alert alert-danger" [hidden]="!(title.errors.required )">
                                            Location title is required !
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                        <button class="savejobbtn" *ngIf="showLocationEditField && !addEditLocationProcessing" [disabled]="!editLocation.valid" md-raised-button color="primary" (click)="addEditLocationData()">Save</button>
                        <button *ngIf="showLocationEditField && !addEditLocationProcessing" color="default" md-raised-button (click)="onLocationEditCancel(locationList[0])">Cancel</button>
                        <br>
                        <form #addLocation="ngForm">
                            <div class="editIndustry" *ngFor="let l of locationList;let i=index">
                                <ng-container *ngIf="hideLocationField">
                                    <md-input-container class="full-width">
                                        <input mdInput type="text" class="mainTitle" #title="ngModel" name="location_title_name{{i}}" [(ngModel)]="locationList[i].title" required>
                                    </md-input-container>
                                    <div *ngIf="title.errors && (title.dirty || title.touched)">
                                        <div class="alert alert-danger" [hidden]="!(title.errors.required )">
                                            Location title is required !
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                        <md-progress-spinner *ngIf="addEditLocationProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div class="text-center" style="margin-bottom:14px;" *ngIf="!addEditLocationProcessing">
                            <button *ngIf="hideLocationField" [disabled]="!addLocation.valid" md-raised-button color="primary" (click)="addEditLocationData()">Add</button>
                            <button *ngIf="hideLocationField" md-raised-button color="default" style="margin-left:10px;" (click)="onLocationCancel()">Cancel</button>
                        </div>
                        <div class="text-center" *ngIf="permission.add">
                            <button md-raised-button (click)="addLocationField()" color="accent" class="theme-button btn-w-md minibtn"><md-icon>add</md-icon> Add location</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>