.industryList{
    li{
       padding: 0px 5px;
       border-top: 1px solid #cccccc;
       line-height: 35px;
       cursor:pointer;
        .delete{
            margin-top: 6px;
            line-height: 26px;
            color: #ff8383;
            cursor:pointer;
        }
    }
}
.editIndustry{
    position:relative;
    .editField{
        position:absolute;
        right:10px;
        top:6px;
        font-size:18px;
        cursor:pointer;
    }
}
.box-header{
    .sort{
        color:#64c3fb ;
        cursor:pointer;
    }
}
.savejobbtn{
    margin-right:7px;
}