<div class="bigBox">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm.form.valid)">  

      <h3 class="heading">Reschedule meating</h3>

      <div class="form-group">
            <div class="lftinpt30 text-left">
              <label class="form-inline">Training date</label>
            </div>
           

            <div class="rghtinput">
              <input [readonly]=true   #trainigDate="ngModel"  required 
                    [(ngModel)]="developmentPlan.trainingDate" name="trainingdate"  placeholder="Select date"
                      class="form-control" ngui-datetime-picker date-format="YYYY-MM-DD" date-only=true   [close-on-select]="true"/>
              <div *ngIf="trainigDate.errors && ( (trainigDate.dirty || trainigDate.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(trainigDate.errors.required || trainigDate.errors.whitespace)">
                     Trainig date is required.
                    </div>
                </div>
            </div>

          </div>
          <div style="margin-top:30px;" class="form-group">
            <div class="lftinpt30 text-left">
              <label class="form-inline">Time</label>
            </div>
            <div class="rghtinput">
              <input [readonly]=true   #trainigTimep="ngModel"  required 
                    [(ngModel)]="developmentPlan.trainingTime" name="trainingtimename"  placeholder="Select time"
                      class="form-control" ngui-datetime-picker date-format="hh:mm:ss" time-only=true   [close-on-select]="true"/>
              <div *ngIf="trainigTimep.errors && ( (trainigTimep.dirty || trainigTimep.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(trainigTimep.errors.required || trainigTimep.errors.whitespace)">
                     Trainig time is required.
                    </div>
                </div>
            </div>
          </div>

          
           <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>    

      <button  style="margin-top:30px;" *ngIf="!isProcessing" type="submit" class="btn btn-primary btn-lg">Submit</button>

  </form>
</div>