.leaveStatusView {
    width: 700px;
    position: relative;
    .actionStatus {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 20px;
    }
    .managerNots {
        .managerInfo {
            padding: 10px;
            border: 1px solid #0275d8;
            h4 {
                margin: 10px 0;
            }
            p {
                font-size: 15px;
                margin-bottom: 0;
            }
        }
    }
    @media screen and (max-width: 991px) {
        width: 98%;
    }
    .row {
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
            .title {
                margin-bottom: 10px;
                font-size: 15px;
            }
        }
    }
    .title {
        font-size: 18px;
        color: #555;
    }
    .titleDtl {
        font-size: 16px;
        color: #999;
        textarea.form-control {
            min-height: 100px;
        }
    }
    .form-group {
        .form-control {
            &::-webkit-input-placeholder {
                color: #b7b7b7;
            }
            &::-webkit-input-placeholder {
                color: #b7b7b7;
            }
            &::-webkit-input-placeholder {
                color: #b7b7b7;
            }
        }
    }
}