.boardingList {
    table {
        tr {
            td {
                position: relative;
                &:last-child {
                    width: auto;
                    textarea {
                        width: 100%;
                    }
                }
                &.title {
                    width: 150px;
                    border: 1px solid #cccccc;
                    vertical-align: middle;
                    position: relative;
                    md-icon {
                        position: absolute;
                        top: 14px;
                        float: right;
                        cursor: pointer;
                        right: 5px;
                    }
                }
                md-icon {
                    cursor: pointer;
                    position: absolute;
                    top: 15px;
                    right: 5px;
                }
                .addColdata {
                    width: 180px;
                    padding-right: 40px;
                }
            }
        }
    }
}

.mat-raised-button {
    &.addButton {
        margin-bottom: 10px;
        position: relative;
        top: -5px;
    }
    &.addItemBtn {
        margin-top: 15px;
    }
}

inline-editor-text {
    height: auto !important;
}

.visibletbl {
    overflow-x: inherit !important;
}

.addItemBtn,
.addButton {
    md-icon {
        position: relative;
        top: -1px;
        margin-right: 5px;
    }
}

.mat-dialog-actions {
    display: block !important;
}

.mdl-data-table {
    border: 1px solid #cccccc;
    td {
        border: 1px solid #cccccc;
    }
}

.white-space {
    white-space: pre-line;
    word-break: break-word;
}