<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Master off boarding checklist</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="box box-default boardingList" *ngFor="let c of checkList?.categories;let i = index; ">
            <ng-container *ngIf="!isProcessing">
                <div class="box-header collapseHead" [ngClass]="{'activecollapse':collapsebox[i]}">
                    <span (click)="collapsebox[i]=!collapsebox[i]" class="toggleIcon float-right cursor" style="margin-left:20px;"><i class="fa fa-angle-up"></i></span>
                    <inline-editor [disabled]="!permission.edit" min="0" (onSave)="onHeadingChange(c)" type="textarea" [(ngModel)]="c.title"></inline-editor>
                    <md-icon color="warn" *ngIf="permission.delete" class="cursor" style="float:right" md-tooltip="Delete" (click)="onDeleteCheckListCategory(c?.masterChecklistCategoryID)">delete
                    </md-icon>
                </div>
                <div class="box-body collapseDetail" [ngClass]="{'opencollapse':collapsebox[i]}">
                    <div class="form-group">
                        <div class="table-responsive visibletbl">
                            <table width="100%" class="mdl-data-table">
                                <tbody width="100%">
                                    <ng-container *ngIf="c.columns!=null">
                                        <tr width="100%">
                                            <td class="title" style="width:50%;">
                                                <div class="addColdata">
                                                    <inline-editor [disabled]="!permission.edit" min="0" (onSave)="onColumnChange(c)" type="text" [(ngModel)]="c.columns.columnA"></inline-editor>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="addColdata">
                                                    <inline-editor [disabled]="!permission.edit" min="0" (onSave)="onColumnChange(c)" type="text" [(ngModel)]="c.columns.columnB"></inline-editor>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="addColdata">
                                                    <inline-editor [disabled]="!permission.edit" class="white-space" min="0" (onSave)="onColumnChange(c)" type="text" [(ngModel)]="c.columns.columnC"></inline-editor>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="c.rows.length">
                                        <tr width="100%" *ngFor="let col of c?.rows;let i=index;">

                                            <td style="width:50%;">
                                                <inline-editor [disabled]="!permission.edit" min="0" (onSave)="onItemChange(c?.masterChecklistCategoryID,col)" type="text" [(ngModel)]="col.columnA" class="white-space"></inline-editor>
                                                <md-icon *ngIf="permission.delete" color="warn" style="float:right" class="cursor" md-tooltip="Delete" (click)="onDeleteListitems(col?.masterChecklistCategoryRowID)">delete</md-icon>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                        <table width="100%" class="mdl-data-table">
                            <tbody>

                            </tbody>
                        </table>
                        <button *ngIf="permission.add" md-raised-button color="primary" class="cursor addItemBtn" (click)="onAddItem(c.masterChecklistCategoryID)">
              <md-icon>add</md-icon>Add item
          </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div *ngIf="!checkList?.categories.length && !isProcessing">
            <div class="full-width alert alert-danger text-center">
                No record found
            </div>
        </div>
    </article>
</div>