<div class="page-auth">
    <div class="main-body">
        <div class="logo text-center">
            <a href="javascript:void(0);"><img src="assets/images/logo.png"/></a>
        </div>
        <div class="card bg-color-white">
            <div class="card-content">
                <div class="logo">
                    <a [routerLink]="['/']">Sign up</a>
                </div>

                <form #userForm="ngForm" name="material_signup_form" class="md-form-auth form-validation" (ngSubmit)="submit(userForm.form.valid)">
                    <fieldset>
                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">perm_identity</md-icon>
                                <input [(ngModel)]="user.username" 
                                    required mdInput
                                    #username="ngModel" 
                                    type="text" name="username" 
                                    placeholder="Username">
                            </md-input-container>
                            <div *ngIf="username.errors && (username.dirty || username.touched)">
                                <div class="alert alert-danger" [hidden]="!username.errors.required">
                                    Username is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">mail_outline</md-icon>
                                <input [(ngModel)]="user.email" 
                                    required mdInput 
                                    type="email" name="email"
                                    #email="ngModel" 
                                    placeholder="Email"
                                    pattern=".*@.*\.*[A-Za-z/d]$" >
                            </md-input-container>
                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <div class="alert alert-danger" [hidden]="!email.errors.required">
                                Email is required.
                                </div>
                                <div class="alert alert-danger" [hidden]="!email.errors.pattern">
                                Not a valid email pattern.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">lock_outline</md-icon>
                                <input [(ngModel)]="user.password" 
                                        required mdInput 
                                        type="password"
                                        #password="ngModel" 
                                        name="password" placeholder="Password">
                            </md-input-container>
                            <div *ngIf="password.errors && (password.dirty || password.touched)">
                                <div class="alert alert-danger" [hidden]="!password.errors.required">
                                password is required.
                                </div>
                            </div>
                        </div>
                        <p class="text-small no-margin" style="padding-left: 36px;">By clicking on sign up, you agree to <a href="javascript:;"><i>terms</i></a> and <a href="javascript:;"><i>privacy policy</i></a></p>

                        <div class="divider divider-md"></div>
                        <button md-raised-button type="submit" color="primary" class="float-right">Sign up</button>
                    </fieldset>
                </form>

                <div class="additional-info">
                    <a [routerLink]="['/user/login']">Login</a>
                </div>
            </div>
        </div> 
    </div>
</div>