<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/performance-improvement-plan/reassessment-PIP/create']">Create Re-Assess PIP</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="collapseInfoBox">
                    <h4 (click)="originalPIPToggle=!originalPIPToggle" [ngClass]="{active:originalPIPToggle}">Original Performance Improvement Plan <span class="float-right"><i class="fa fa-angle-down"></i></span></h4>
                    <div class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle}">
                        <div class="cmpnycontentBox">
                            <div class="pipHeader">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <h3 class="heading">Assessment</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">PIP For:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Henry Fisher</h5>
                                                    <div class="designation">Lorem Ipsum</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Assigned manager:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>Henry Fisher</h5>
                                                    <div class="designation">Lorem Ipsum</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Involved Third Parties</div>
                                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                                <input type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                                <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <img src="assets/images/g1.jpg" alt="">
                                                        <div class="empinfo">
                                                            <label>Jenny Nadal</label>
                                                            <div class="userprofile">Employe</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="PIPFormbox detailPIP">
                                <h5>Title ipsum dolor sit amet, consectetur</h5>
                                <div class="row">
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training Date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>12 March 2017 | 9:00 am
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment Date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>17 March 2017 | 9:00 am
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            Two deadlines missed (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit. Phasellus malesuada rhoncus ex sit amet elementum. Suspendisse eget nisi non metus eleifend pellentesque
                                            ac sed ipsum. Morbi id magna ac orci laoreet dignissim lobortis et mi. Duis feugiat mauris lacus, non faucibus mauris tincidunt sit amet) and complaint received from Department X who did not receive a response
                                            to an email sent twice on (insert dates).
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objective</label>
                                        </div>
                                        <div class="rghtinput10">
                                            To effective manage workload on a daily basis, meet deaslines efficiently, priorities tasks and respond to emails in a timely manner.
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action Plan</label>
                                        </div>
                                        <div class="rghtinput10">
                                            Operate daily 'To Do' check list and a diary. To respond to emails received within 3 working days.
                                            <div class="instruction moreTopGap">Created by John Raonic on 12 March 2017 | 9:00 am</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmpnycontentBox trainingNotes">
                            <h5>Training Notes</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">manager Notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit.
                                        <div class="instruction moreTopGap">This event has been triggered on 22 March 2017 at 12:00 am.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmpnycontentBox trainingNotes assessmentbox">
                            <h5>Assessment Notes</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Has the objective been accomplished ?</label>
                                    </div>
                                    <div class="rghtinput10">
                                        Yes
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager Notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet
                                        <div class="instruction moreTopGap">Submitted by John Raonic on 22 March 2017 at 12:00 am.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cmpnycontentBox trainingNotes">
                            <h5>Result</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Result</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <button class="btn btn-danger" [routerLink]="['/app/company-admin/performance-improvement-plan/reassessment-PIP/create']">Re-Assessment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox assessnextbox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Re-Assessment</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">PIP For:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved Third Parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                        <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox detailPIP">
                        <h5>Title ipsum dolor sit amet, consectetur</h5>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training Date</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>12 March 2017 | 9:00 am
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment Date</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>17 March 2017 | 9:00 am
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    Two deadlines missed (Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit. Phasellus malesuada rhoncus ex sit amet elementum. Suspendisse eget nisi non metus eleifend pellentesque
                                    ac sed ipsum. Morbi id magna ac orci laoreet dignissim lobortis et mi. Duis feugiat mauris lacus, non faucibus mauris tincidunt sit amet) and complaint received from Department X who did not receive a response to an
                                    email sent twice on (insert dates).
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10">
                                    To effective manage workload on a daily basis, meet deaslines efficiently, priorities tasks and respond to emails in a timely manner.
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action Plan</label>
                                </div>
                                <div class="rghtinput10">
                                    Operate daily 'To Do' check list and a diary. To respond to emails received within 3 working days.
                                    <div class="instruction moreTopGap">Created by John Raonic on 12 March 2017 | 9:00 am</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox trainingNotes">
                    <h5>Training Notes</h5>
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">manager Notes</label>
                            </div>
                            <div class="rghtinput10">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna ante, egestas sed ligula sit amet, laoreet blandit velit.
                                <div class="instruction moreTopGap">This event has been triggered on 22 March 2017 at 12:00 am.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox trainingNotes assessmentbox">
                    <h5>Assessment Notes</h5>
                    <div class="row">
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Has the objective been accomplished ?</label>
                            </div>
                            <div class="rghtinput10">
                                <div class="customChoice">
                                    <input id="assessment1" type="radio" name="assessmentNote" value="Yes" class="required">
                                    <label for="assessment1">Yes</label>
                                </div>
                                <div class="customChoice">
                                    <input id="assessment2" type="radio" name="assessmentNote" value="No" class="required">
                                    <label for="assessment2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Manager Notes</label>
                            </div>
                            <div class="rghtinput10">
                                <input type="text" class="form-control" name="notes" />
                                <div class="instruction moreTopGap">This event has been triggered on 22 March 2017 at 12:00 am.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center marginTop PIPbuttonWrap">
                <button class="btn btn-success btn-lg">Pass</button>
                <span>
               <angular2-multiselect [data]="dropdropdownListActions" [(ngModel)]="selectedItemsActions" #discoutUser="ngModel" name="duration1" required [selectedItems]="selectedItemsActions" [settings]="dropdownSettingsActions" (onSelect)="onActionsUserSelect($event)"
                  (onDeSelect)="onActionsUserDeSelect($event)">
               </angular2-multiselect>
             </span>
            </div>
        </div>
    </div>
</div>