.selectWrapper{
    padding-bottom: 30px;
    label{
        font-size: 16px;
        font-weight: 400;
        margin-right: 40px;
        @media only screen and (max-width:479px){
            margin-right: 15px;
        }
    }
    .mat-select{
        width: 200px;
        @media only screen and (max-width:479px){
            width: 180px;
        }
    }
}
.buttonWrapp{
    button{
        &:last-child{
            margin-left:5px;
        }
    }
}

    