<div class="container-fluid chapter">
    <article class="article">
        <h2 class="article-title">Set permission</h2>
        <div class="clearfix"></div>
        <div class="setPermissionTable">
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table">
                    <thead>
                        <tr>
                            <th>Modules</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Add</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="isProcessing">
                        <tr>
                            <td colspan="5">
                                <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!isProcessing">

                        <tr *ngFor="let module of modules">
                            <td>{{module.title}}</td>
                            <td>
                                <md-checkbox *ngIf="module.permission.view!=undefined" [checked]="module.permission.view" [(ngModel)]='module.permission.view' disabled></md-checkbox>
                            </td>
                            <td>
                                <md-checkbox *ngIf="module.permission.edit!=undefined" [checked]="module.permission.edit" [(ngModel)]='module.permission.edit' disabled></md-checkbox>
                            </td>
                            <td>
                                <md-checkbox *ngIf="module.permission.add!=undefined" [checked]="module.permission.add" [(ngModel)]='module.permission.add' disabled></md-checkbox>
                            </td>
                            <td>
                                <md-checkbox *ngIf="module.permission.delete!=undefined" [checked]="module.permission.delete" [(ngModel)]='module.permission.delete' disabled></md-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <!-- <md-progress-spinner *ngIf="isUpdateProcessing" mode="indeterminate" color=""></md-progress-spinner>

            <div class="buttonWrapp" *ngIf="!isUpdateProcessing">
                <button md-raised-button type="submit" (click)="updatePermission()" color="primary">Set permissions</button>
                <button md-raised-button color="default" (click)="onCancel()">Cancel</button>
            </div> -->

        </div>
    </article>
</div>