<!--<h4>Commnets</h4>

<h3 *ngFor="let c of comments" >{{c?.note}}</h3>-->
<div class="commentsPanel">
    <div class="commentheading">comments</div>
   <div class="commentFooter">
       <form #commentForm="ngForm">
        <div class="input-group">          
            <textarea class="form-control full-width" name="cmmnt" placeholder="Enter Comment" #comment="ngModel" required [(ngModel)]="reqBody.note" myNoSpaces ></textarea>
                
            <span class="input-group-btn">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <button *ngIf="!isProcessing" (click)='onSendComment(commentForm.form.valid,commentForm)' class="btn btn-info" type="button">SEND</button>
            </span>
            
        </div>
        <div *ngIf="comment.errors && ( (comment.dirty || comment.touched) || commentForm.submitted )">
                    <div class="alert alert-danger" [hidden]="!(comment.errors.required || comment.errors.whitespace)">
                        Comment is required.
                    </div>
                </div>
       </form>
    </div>
    <div class="commentBody">
        <li *ngFor="let c of tempComments; let i = index;" class="commentList">
            <div class="commentInner">
                <a class="pull-left userImgComment" href="#">
                    <img src="{{c?.addedByUser?.imageUrl}}">
                </a>
                <div class="commentInfo white-space-pre">{{c?.note}}<br><small class="text-muted pull-left">{{c?.addedByUser?.name}} | {{c?.insertTime |date : 'mediumDate' }} at {{c?.insertTime |dateFormat : 'shortTime' }}</small></div>
            </div>
            <div class="float-right">
                <md-progress-spinner *ngIf="c['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>
                
            </div>
            <div *ngIf="!c['isProcessing']" class="float-right">
                <button *ngIf="( (loggedInUser.userRole=='companyAdmin') || (loggedInUser.userID == c.addedByUser.userID) ) "  (click)="onEdit(c)" class="btn btn-primary btn-sm" >edit <i  class="fa fa-pencil-square-o"></i></button>
                <button *ngIf="( (loggedInUser.userRole=='companyAdmin') || (loggedInUser.userID == c.addedByUser.userID) ) " (click)="onDelete(c)" class="btn btn-danger btn-sm" >delete <i  class="fa fa-trash"></i></button>
            </div>

        </li>
        
        <div class="alert alert-danger" *ngIf="tempComments.length==0">
            No comments found.
        </div>
        


    </div>
</div>

