.commentsPanel{
    width: 100%;
    border: 1px solid #acacac;
    float: left
}
.commentheading{
    background: #acacac;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.commentFooter{

}
.commentFooter textarea,
.commentFooter textarea:focus{
    border: 1px solid #acacac;
    outline: none;
}
.commentBody{
    float: left;
    width: 100%;
    padding: 10px;
}
.commentBody .commentList{
    float:left;
    width: 100%;
    padding:10px 0;
    border-top: 1px solid #acacac;
    list-style-type: none;   
}
.commentBody .commentList:first-child{
    border-top: none;
}
.commentBody .commentInner{
    position: relative;
    padding-left: 100px;
}
.commentBody .userImgComment{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
}
.commentBody .userImgComment img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.commentBody .commentInfo{

}