md-toolbar.rounded{
    margin-bottom:10px;
    border-radius: 0.2rem !important;  
    border: 1px solid #e0e0e0;
    md-icon{
        cursor:pointer;
    }
   /* &:last-child{
       margin-bottom:0px;
    }*/
}

table{
   tr{
       td{
           padding:0px 0px;
           &#textCenter{
               padding:10px 12px !important;
           }
       }
       &:last-child{
           td{
               padding-top:20px;
               md-toolbar{
                   margin-bottom:0px;
               }
           }
       }
   }
}

md-progress-spinner{
    height: 40px !important;
    width: 40px !important;
    margin:0 auto;    
}



ul {
    &.pagination{
    margin-top:10px !important;
    margin-bottom: 0px !important;
}
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

.mat-dialog-actions{
    button{
        &:first-child{
            margin-right:7px !important;
        }
    }
}
.addUserBtn{
    span{
        position:relative;
        top:0;
    }
}