<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">List of industry
                    <a *ngIf="permission.add" class="addUserBtn float-right"><button md-raised-button color="accent" class="theme-button btn-w-md" (click)="onAddIndustry()"><span class="icon">+ </span>Add new</button><div class="divider divider-sm"></div></a>
                </h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-12">
                <div class="searchbar row">
                    <div class="input-group col-md-12">
                        <input class="form-control" placeholder="Search by industry name" type="text" #searching [(ngModel)]="searchText" (keyup)="onSearch()" maxlength="50" />
                        <div class="input-group-addon">
                            <md-icon>search</md-icon>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="filterProcessing" mode="indeterminate" color=""></md-progress-spinner>

                <div *ngIf="!filterProcessing" class="box contentBox" style="padding-bottom:0px;">

                    <table [mfData]="industries" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" width="100%">
                        <tr *ngFor="let industry of mf.data;let i=index">
                            <td>
                                <md-toolbar class="rounded">
                                    <span (click)=$event.stopPropagation()>{{industry?.industryTitle}}</span>
                                    <span style="flex: 1 1 auto;"></span>
                                    <md-icon *ngIf="permission.edit" (click)="onEditIndustry(industry)" class="material-icons" md-tooltip="Edit">edit</md-icon>
                                    <span class="space"></span>
                                    <md-icon *ngIf="permission.delete" class="material-icons mat-warn" (click)="onDeleteIndustry(industry.industryID,i)" md-tooltip="Delete">delete</md-icon>
                                </md-toolbar>
                            </td>
                        </tr>
                        <tr *ngIf="industries.length==0">
                            <td class="alert alert-danger" id="textCenter">
                                No record found
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </article>
</div>