.marginBottom{
    margin-bottom:20px;
}
.marginTop{
    margin-top:20px;
}
.attendeesList{
    .pipEmpuserPic{
        display:inline-block;
        margin-right:20px;
    }
}
.form-group{
    .lftinpt10 {
       width: 18.5%;
       .form-inline{
            margin-top:0px;
            margin-bottom:0px;
        }
    }
    .rghtinput10 {
      width: 81.5%;
    }
}
.downloads{
    li{
        margin-bottom:4px;
        text-align:center;
        display:inline-block;
        margin-right:20px;
        .downloadfile{
           font-size:30px;
        }
     }
}
.pipHeader{
    .col-md-2{
       flex: 0 0 20%;
       max-width: 20%;
       @media(max-width:1199px){
           max-width: 25%;
           flex: 0 0 25%;
       }
       @media(max-width:767px){
            max-width: 33.33%;
            flex: 0 0 33.33%;
       }
       @media(max-width:575px){
             max-width: 100%;
            flex: 0 0 100%;
       }
    }
  .pipEmploye{
    border-bottom:1px dashed #cccccc;
    padding:3px 0px 5px;
    &:last-child{
        border-bottom:0px;
    }
  }
}
.cmpnycontentBox{
    &.nextStep{
        margin-top:25px;
    }
    h4{
        margin-top:0px;
    }
}