<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/employee/grievance']">Grievance</li>
                    <li class="breadcrumb-item active">Grievance detail</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer grievanceSteps">
                 <app-steps [progress]='progress'></app-steps> 
            </div> -->
            <div *ngIf="!isProcessing && !noResult" class="col-md-12 text-right marginBottom">
                <button class="btn btn-primary" (click)="downloadPDF()">Download report PDF</button>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12 PIPmainBox grievanceMain text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Reported grievance</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Managed by:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img [src]="grievance?.manager[0]?.imageUrl" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{grievance?.manager[0]?.name}}</h5>
                                            <div class="designation">{{grievance?.manager[0]?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                    <span *ngIf="grievance?.manager.length>1">and {{grievance?.manager.length -1}} more.</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Complainer:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img [src]="grievance?.raisedBy?.imageUrl" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{grievance?.raisedBy?.name}}</h5>
                                            <div class="designation">{{grievance?.raisedBy?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Against:</div>
                                    <div class="pipEmpuserPic" *ngFor="let user of grievance?.raisedAgainst">
                                        <div class="profile">
                                            <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{user?.name}}</h5>
                                            <div class="designation">{{user?.position || 'Not specified'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox marginTop">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Title</label>
                                        </div>
                                        <div class="rghtinput10">{{grievance?.title}}</div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Notes from complainer</label>
                                        </div>
                                        <div class="rghtinput10">{{grievance?.complainerNote}}</div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Date & time</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{formatDateTime(grievance?.date)}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Evidence</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <div class="downloads">
                                                <ul>
                                                    <li *ngFor="let item of grievance?.evidence">
                                                        <div class="downloadfile"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                                                        <a class="name" href="{{item.file}}" download>Download</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="grievance?.manager.length >1" class="col-sm-12 form-group">
                                        <div class="lftinpt10" style="margin-top:8px;">
                                            <label class="form-inline">Managed by</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of grievance?.manager">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10" style="margin-top:8px;">
                                            <label class="form-inline">Witness</label>
                                        </div>
                                        <div class="rghtinput10 pipHeader">
                                            <div class="pipEmploye attendeesList">
                                                <div class="pipEmpuserPic" *ngFor="let user of grievance?.witness">
                                                    <div class="profile">
                                                        <div class="adjust"><img [src]="user?.imageUrl" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{user?.name}}</h5>
                                                        <div class="designation">{{user?.position || 'Not specified'}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Result</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <button class="btn btn-primary">{{grievance?.result}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox nextStep" *ngFor="let m of grievance?.meeting">
                    <div class="date float-right">{{formatDateTime(m?.notesInsetTime)}}</div>
                    <h4 *ngIf="m.stage=='1'" class="heading">Manager notes on first meeting with complainer</h4>
                    <h4 *ngIf="m.stage=='2'" class="heading">Manager notes on second meeting with employee that has grievance against them </h4>
                    <h4 *ngIf="m.stage=='3'" class="heading">Manager notes on third meeting with complainer and complaint against them </h4>
                    <div class="row">
                        <div *ngIf="m.stage=='3' && m?.complainerNoteBy" class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Complainer notes</label>
                            </div>
                            <div class="rghtinput10">
                                {{m?.complainerNoteBy}}
                            </div>
                        </div>
                        <div *ngIf="m.stage=='3' && m?.complainerNoteFor" class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Complainant notes</label>
                            </div>
                            <div class="rghtinput10">
                                {{m?.complainerNoteFor}}
                            </div>
                        </div>
                        <div *ngIf="m?.notes" class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Manager notes</label>
                            </div>
                            <div class="rghtinput10">
                                {{m?.notes}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>