<div class="container-fluid userLatterActions admin-panel">

    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div class="UserActionPopup" *ngIf="!isProcessing">
        <h5 class="heading"> {{reqBody?.type}} letter </h5>

        <form #ActionForm="ngForm" class="full-width">
            <div class="form-group">
                <input class="form-control" type="text" name="titlse" [(ngModel)]="reqBody.subject" #title="ngModel" myNoSpaces required>
            </div>
            <div *ngIf="title.errors && ( (title.dirty || title.touched) || isButtonClicked )">
                <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                    Title is required !
                </div>
            </div>
            <app-tinymce name="des" [(ngModel)]="reqBody.body" #description="ngModel" myNoSpaces required></app-tinymce>
            <div *ngIf="description.errors && ( (description.dirty || description.touched) || isButtonClicked )">
                <div class="alert alert-danger" [hidden]="!(description.errors.required || description.errors.whitespace)">
                    Manager note is required !
                </div>
            </div>
            <br>
            <div class="text-center">
                <button *ngIf="!isActionProcessing" class="btn btn-primary" [disabled]="!ActionForm.form.valid" (click)="onSave(ActionForm.form.valid)"> send </button>
                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
            </div>
        </form>
    </div>
</div>