.table {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    th {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    td {
        border: 1px solid rgba(0, 0, 0, 0.1);
        //vertical-align: middle !important;
        .white-space {
            float: left;
            width: 92%;
        }
        span {
            float: right;
            color: #ff8383;
            cursor: pointer;
        }
    }
}

inline-editor {
    display: inline-block;
}
.collapseInfoBox{
    h4{z-index:999;
        position: static;}
}

.collapseInfoBox {
    h4 {
        i {
            &.fa-trash {
                color: #ff8383;
                cursor: pointer;
                margin-left: 5px;
                font-weight: normal;
                z-index: 999;
            }
        }
    }
    .addItemBtn {
        margin-top: 15px;
    }
}

.collapseDetail {
    .form-group {
        margin-bottom: 0px !important;
    }
}

.collapseContentbox table tr td {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

// .addColdata {
//     display: inline-block;
// }