<div class="my-app-header">
    <div class="app-header">
        <div class="app-header-inner bg-color-info"><img src="assets/images/logo.png" width="160"></div>
    </div>
</div>

<div class="page-auth">
    <!-- Modal --><br>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <section *ngIf="!isProcessing" class="welcomeForm">
        <div id="myModal" class="modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h1 class="modal-title"><img src="assets/images/user-profile.png" alt="userPic" /> Hi </h1>
                        </div>
                        <div class="modal-body">
                            <p>Welcome to</p>
                            <img src="assets/images/logo.png" />
                            <br>
                            <br>
                        </div>An email has been sent to you with your login credentials.
                        <div class="modal-footer">
                            <!-- <button type="button" (click)="on()" class="btn btn-default btn-blue full-width"></button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>