.cmpnycontentBox{
    h4{
        margin: 20px 0px 30px;
    }
    &.nextStep{
       margin-top:25px;
    }
    .btnWraper{
        margin-top:10px;
        margin-bottom:30px !important;
        button{
            min-width:100px;
            &:first-child{
              margin-right:100px;
            }
        }
    }
    .form-group{
    .lftinpt10 {
       width: 18.5%;
       .form-inline{
            margin-top:0px;
            margin-bottom:0px;
        }
    }
    .rghtinput10 {
      width: 81.5%;
      textarea{
          resize:none;
          height:90px;
      }
    }
}
}
.nextstepbtn{
    margin-top:25px;
    padding-right:0px;
}
