<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/ohs-listing']">OH&S</li>
                    <li class="breadcrumb-item active">Repair assessment</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing && noResult" class="col-md-12 text-center">
                <div class="cmpnycontentBox"> No result found.</div>
            </div>
            <div *ngIf="!isProcessing && !noResult" class="col-md-12">
                <form name="actionform" #actionform="ngForm">
                    <div class="cmpnycontentBox">
                        <div class="PIPFormbox maxformWidth">
                            <h4 class="heading">Corrective Actions</h4>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Title</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{ohs?.correctiveAction[0]?.title}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Actions or corrective measures</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{ohs?.correctiveAction[0]?.measuresTaken}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Repair & maintenance Booked</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{ohs?.correctiveAction[0]?.booking}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Supplier for repair & maintenance</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{ohs?.correctiveAction[0]?.supply}}
                                    </div>
                                </div>
                                <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                                <div *ngIf="!isProcessingForm" class="col-sm-12 form-group text-center">
                                    <span>
                    <i *ngIf="repair.assessmentStatus=='Fixed'" class="fa fa-check"></i>
                    <button type="button" class="btn btn-success" (click)="repair.assessmentStatus='Fixed'">Fixed</button>
                  </span>
                                    <button type="button" class="btn btn-danger" [routerLink]="['/app/company-admin/ohs/corrective-actions', ohs?.ohsID]">Not fixed</button>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea name="notes" #notes="ngModel" [(ngModel)]="repair.assessmentNote" class="form-control" required></textarea>
                                        <div *ngIf="notes.touched || notes.dirty || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="notes.valid">Please enter a note.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Time Stamp</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <dp-date-picker class="form-control" name="timestamp" #timestamp="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="assessmentTime" [config]="config" required="true" placeholder="Select time"></dp-date-picker>
                                        <div *ngIf="timestamp.touched || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="timestamp.valid">Please enter a time stamp.</div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center nextstepbtn">
                        <button type="submit" (click)="onFixed(actionform.valid)" class="btn btn-lg btn-primary">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>