<div class="container-fluid">
    <h4 class="heading" [hidden]="true">Procedural documents listing</h4>
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Procedural documents</li>
            </ol>
        </div>
    </div>
    <div class="riow">
        <div class="col-md-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <!-- <div class="row">
                <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right">
                    <button [routerLink]="['/app/company-admin/policy-documents/create/pd']" class="btn btn-success full-width">
                   Add new procedural document <i class="fa fa-plus"></i>
                </button>
                </div>
            </div> -->
                    <div class="row">
                        <div class="col-md-4 col-xl-6 col-lg-5">
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input (keyup)="onSearch()" [(ngModel)]="tempReqBody.search" name="title" type="text" class="form-control input-lg" placeholder="Search title" />
                                        <span class="input-group-btn">
                        <button class="btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xl-2 col-lg-2 col-sm-4 text-left">
                            <button [ngClass]="{active:toggleFilter}" (click)="toggleFilter=!toggleFilter" class="btn btn-filter ploicyActions full-width text-left">
                Filters <i [ngClass]="toggleFilter?'fa fa-angle-down':'fa fa-angle-up'"></i>
            </button>
                        </div>
                        <div class="col-md-6 col-xl-4  col-lg-5 col-sm-8 text-right">
                            <button [routerLink]="['/app/company-admin/policy-documents/create/pd']" class="btn btn-success ploicyActions full-width">
                        Add new procedural document <i class="fa fa-plus"></i>
                     </button>
                        </div>

                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">

                            <div class="filterController row">
                                <div class="col-xl-3  col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Version</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" name="vsr" [(ngModel)]="versionSearch" class="form-control input-lg" placeholder="Search version" />
                                                <span class="input-group-btn">
                                        <button class="btn" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isProcessing" class="checkbox over180">
                                        <li *ngFor=" let c of tempReqBody.filter.version |searchByKey:versionSearch:'version' ;let  i = index;">
                                            <label>
                                        <input (click)="isApplyBtnClicked=true" type="checkbox" name="versoion{{i}}" [(ngModel)]="c.isChecked" />
                                        <span>{{c?.version}} </span>
                                    </label>
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Last updated</h3>
                                    <ul class="checkbox">
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int7" /><span>Week ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int30" /><span>Month ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int90" /><span>3 Months ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int180" /><span>6 Months ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int365" /><span>Year ago</span></label></li>
                                    </ul>
                                </div>-->
                                <div class="col-xl- col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox">
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.status.Active" /><span>Active</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.status.Inactive" /><span>Inactive</span></label></li>
                                    </ul>
                                </div>
                                <button (click)="onApplyfilters()" [ngClass]="{'btn-filter'  : !isApplyBtnClicked,'btn-primary' : isApplyBtnClicked}" [disabled]="!isApplyBtnClicked" class="btn btn-default outlined">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>




                </div>
                <br>
                <div class="tableWrapper paddingNone">
                    <table [mfData]="documents" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" class="full-width table" style="border:0;margin:0; padding:0;margin-top:-1px;min-width: 1060px;">
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <thead class="mainHeader">
                            <th style="width:90px">S. no.</th>
                            <th style="width:120px">Status</th>
                            <th style="max-width:245px">Title</th>
                            <!--<th>Last updated</th>-->
                            <th style="width:140px;">Current version</th>
                            <th>Details</th>
                            <th style="width:130px">Action</th>
                        </thead>
                        <tbody [hidden]="hrToggle" *ngIf="(!isProcessing) && documents.length>0">
                            <tr *ngFor="let c of mf.data;let i =index">
                                <td style="width:90px;">{{i+1}}</td>
                                <td style="width:120px;">{{c?.status || 'N/A'}}</td>
                                <td style="max-width:254px;">{{c?.title || 'N/A'}}</td>
                                <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                <td>{{c?.version || 'N/A'}} </td>
                                <td style="width:142px;"><button (click)="onDetails(c.companyProceduralDocumentID)" class="btn btn-default">View details</button></td>
                                <td>
                                    <div *ngIf="c.isNative" class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <button (click)="onEdit(c.companyProceduralDocumentID)" class="dropdown-item btn-none color-info"><i class="fa fa-pencil"></i> Edit</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot [hidden]="hrToggle" colspan="6">
                            <div class="col-sm-12">
                                <mfBootstrapPaginator *ngIf="!isProcessing"></mfBootstrapPaginator>
                            </div>
                            <tr class="danger" style="text-align:center" *ngIf="(!isProcessing) && !documents.length">
                                <td colspan="4"> Record not found.</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>