<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/advertisement/']">Advertisement </a></li>
                    <li class="breadcrumb-item">Update reference check questions</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="cmpnycontentBox">
                    <div class="box" *ngFor="let q of referenceCheckQuestions; let in = index">
                        <h5 class="heading">{{q?.heading}}</h5>
                        <div class="tableWrapper">
                            <table class="border-table">
                                <tbody>
                                    <tr *ngFor="let i of q.data; let x=index;">
                                        <td>{{i?.title}}</td>
                                        <td style="width:50%"></td>
                                        <td style="width:10%">
                                            <i (click)=" q.data.splice(x, 1);" *ngIf="q.referenceID == 7" class="fa fa-trash pull-right color-danger"></i>
                                            <!--<i *ngIf="q.referenceID != 7" class="fa fa-pencil pull-right"></i>-->
                                        </td>
                                    </tr>
                                    <tr *ngIf="(q.referenceID == 8 || q.referenceID == 10)">
                                        <div class="form-group neMessage">
                                            <textarea readonly class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                                        </div>
                                    </tr>
                                    <div *ngIf="q.referenceID == 9">
                                        <div class="customChoice">
                                            <input class="required" id="re-employee1" name="re-employee" type="radio" value="yes">
                                            <label for="re-employee1">yes</label>
                                        </div>
                                        <div class="customChoice">
                                            <input class="required" id="re-employee2" name="re-employee" type="radio" value="yes">
                                            <label for="re-employee2">No</label>
                                        </div>
                                    </div>
                                </tbody>
                                <tfoot *ngIf="editToggle[in]">
                                    <td colspan="3">
                                        <div class="form-group neMessage">
                                            <textarea #Intergrity="ngModel" name="txtattdidtude{{in}}" myNoSpaces [(ngModel)]="temp[q.heading]" required class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                                            <div *ngIf="Intergrity.errors && ( (Intergrity.dirty || Intergrity.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(Intergrity.errors.required || Intergrity.errors.whitespace)">
                                                    Field is required.
                                                </div>
                                            </div>
                                            <button (click)="editToggle[in]=false; onAdd(in,q.heading)" [disabled]="!temp[q.heading]" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </td>
                                </tfoot>
                            </table>
                            <a *ngIf="!(q.referenceID == 8 || q.referenceID == 10 || q.referenceID == 9)" href="javascript:void(0)" class="pull-right" (click)="editToggle[in]=!editToggle[in]"> (+) Add new question</a>
                        </div>
                    </div>


                    <!--<div class="box">
            <h5 class="heading">Reference details <i class="fa fa-pencil pull-right"></i></h5>
            <div class="tableWrapper">
              <table class="border-table">
                <tbody>
                  <tr>
                    <td>Company name</td>
                    <td style="width:60%"></td>
                  </tr>
                  <tr>
                    <td>Contact name</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Contact title</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Phone no.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Relationship to condidate</td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot *ngIf="editToggle[2]">
                  <td colspan="2">
                    <div class="form-group neMessage">
                      <textarea class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                      <button class="btn btn-primary pull-right">Save</button>
                    </div>
                  </td>
                </tfoot>
              </table>
              <a href="javascript:void(0)" class="pull-right" (click)="editToggle[2]=!editToggle[2]"> (+) Add new question</a>
            </div>
          </div>-->
                    <!--<div class="box">
            <h5 class="heading">Employment details <i class="fa fa-pencil pull-right"></i></h5>
            <div class="tableWrapper">
              <table class="border-table">
                <tbody>
                  <tr>
                    <td>Job title when working with referee</td>
                    <td style="width:60%"></td>
                  </tr>
                  <tr>
                    <td>Verify employment dates</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Reason of leaving</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Major responsibilities</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
                    <!--<div class="box">
            <h5 class="heading">Please describe the applicant in relation to thier </h5>
            <div class="tableWrapper">
              <table class="border-table">
                <tbody>
                  <tr>
                    <td>Reliability</td>
                    <td style="width:60%"></td>
                  </tr>
                  <tr>
                    <td>Honesty</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Work Ethic</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Trustworthy</td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot *ngIf="editToggle[3]">
                  <td colspan="2">
                    <div class="form-group neMessage">
                      <textarea class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                      <button class="btn btn-primary pull-right">Save</button>
                    </div>
                  </td>
                </tfoot>
              </table>
              <a href="javascript:void(0)" class="pull-right" (click)="editToggle[3]=!editToggle[3]"> (+) Add new question</a>
            </div>
          </div>-->
                    <!--<div class="box">
            <h5 class="heading">What are the applicant's key</h5>
            <div class="tableWrapper">
              <table class="border-table">
                <tbody>
                  <tr>
                    <td>Strenghts</td>
                    <td style="width:60%"></td>
                  </tr>
                  <tr>
                    <td>Areas for improvement</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
                    <!--<div class="box">
            <h5 class="heading">What are the applicant's key</h5>
            <div class="tableWrapper">
              <table class="border-table">
                <tbody>
                  <tr>
                    <td>Demonstrate company values?</td>
                    <td style="width:60%"></td>
                  </tr>
                  <tr>
                    <td>Ability to build repport with staff and work i..</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Ability to take instruction from management</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Ability to be trusted work autonomously?</td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot *ngIf="editToggle[4]">
                  <td colspan="2">
                    <div class="form-group neMessage">
                      <textarea class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
                      <button class="btn btn-primary pull-right">Save</button>
                    </div>
                  </td>
                </tfoot>
              </table>
              <a href="javascript:void(0)" class="pull-right" (click)="editToggle[4]=!editToggle[4]"> (+) Add new question</a>
            </div>
          </div>-->
                    <!--<div class="box">
            <h5 class="heading">Key criteria</h5>
            <div class="tableWrapper">
              <table class="border-table">
                <thead>
                  <th style="width:90px">S.No.</th>
                  <th>key criteria</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>-->
                    <!--<div class="box">
            <h5 class="heading">Describe the role to the referee and how the candidate would perform in this role and why:</h5>
            <div class="row">
              <div class="form-group neMessage">
                <textarea class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
              </div>
            </div>
          </div>
          <div class="box">
            <h5 class="heading">Would you re-employ this persion?</h5>
            <div class="customChoice">
              <input class="required" id="re-employee1" name="re-employee" type="radio" value="yes">
              <label for="re-employee1">yes</label>
            </div>
            <div class="customChoice">
              <input class="required" id="re-employee2" name="re-employee" type="radio" value="yes">
              <label for="re-employee2">No</label>
            </div>
          </div>
          <div class="box">
            <h5 class="heading">If no, why?</h5>
            <div class="row">
              <div class="form-group neMessage">
                <textarea class="form-control full-width" style="min-width: 100%; height: 76px; margin: 10px 0;"></textarea>
              </div>
            </div>
          </div>-->
                    <div class="buttonWrap text-center">
                        <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <button *ngIf="!isCreateProcessing" (click)="onsubmit()" class="btm btn-success btn-lg">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>