<div class="container-fluid chapter">
    <article class="article">
        <div class="col-md-12 ">
            <h2 class="article-title">{{title}}</h2>
        </div>
        <form #addListForm="ngForm">
            <div class="col-md-12">
                <md-input-container class="full-width">
                    <input [(ngModel)]="item.columnA" required #lname="ngModel" name="title" mdInput placeholder="Question name">
                </md-input-container>
                <div *ngIf="lname.errors && (lname.dirty || lname.touched)">
                    <div style="color:red" [hidden]="!lname.errors.required">
                        Question name is required !
                    </div>
                </div>
            </div>
        </form>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="btn-wrapper col-md-12 addUserBtn" *ngIf="!isProcessing">
            <button md-raised-button [disabled]="!addListForm.form.valid" (click)="onAdd(addListForm.form.valid)" color="accent" class="addButton">{{buttonText}}</button> &nbsp;
            <button md-raised-button (click)="dialogRef.close(false)" color="default">Cancel</button>
        </div>
    </article>
</div>