.create-trophy {
    padding: 0 15px 40px;
    .trophy-links {
        li {
            margin-top: 10px;
            a {
                display: block;
                padding: 4px 12px;
                font-size: 30px;
                color: #333;
                cursor: pointer;
            }
            i {
                vertical-align: middle;
            }
            span {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}

.admin-panel {
    .cmpnycontentBox {
        padding: 40px 15px 20px;
    }
}