<section class="create-trophy">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/app/company-admin']">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a [routerLink]="['/app/company-admin/trophy/trophy-list']">Trophy</a>
        </li>
        <li class="breadcrumb-item active">{{heading}}</li>
    </ol>
    <div class="cmpnycontentBox createTrophy">
        <md-progress-spinner *ngIf="isProcessingData" mode="indeterminate" color=""></md-progress-spinner>
        <form *ngIf="!isProcessingData" name="trophyForm" #trophyForm="ngForm" (ngSubmit)="trophyForm.valid && createTrophy()">
            <div class="row">
                <!--<div class="col-sm-5">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label class="form-inline">Choose from list</label>
                        </div>
                        <div class="col-md-8 choosefromList">
                            <md-progress-spinner *ngIf="isProcessinglist" mode="indeterminate" color=""></md-progress-spinner>
                            <angular2-multiselect *ngIf="!isProcessinglist" name="trophy" [data]="trophyList" [(ngModel)]="selectedTrophy" [settings]="dropdownSettings"
                                [selectedItems]="selectedTrophy" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>-->

                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-3">
                            <label class="form-inline">Choose from list</label>
                        </div>
                        <div class="col-lg-10 col-md-9 choosefromList">
                            <md-progress-spinner *ngIf="isProcessinglist" mode="indeterminate" color=""></md-progress-spinner>
                            <angular2-multiselect *ngIf="!isProcessinglist" name="trophy" [data]="trophyList" [(ngModel)]="selectedTrophy" [settings]="dropdownSettings" [selectedItems]="selectedTrophy" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-3">&nbsp;</div>
                        <div class="col-lg-10 col-md-9">
                            <h2 class="heading text-center" style="margin-top:0px;max-width:600px;">OR</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-3">
                            <label class="form-inline">Add you own title</label>
                        </div>
                        <div class="col-lg-10 col-md-9">
                            <input type="text" name="title" #title="ngModel" [(ngModel)]="trophy.title" class="form-control" required>
                            <div *ngIf="title.dirty || title.touched || trophyForm.submitted">
                                <div class="alert alert-danger" [hidden]="title.valid">
                                    Please enter the title.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-3">
                            <label class="form-inline">Reason</label>
                        </div>
                        <div class="col-sm-10 col-md-9">
                            <input type="text" name="reason" #reason="ngModel" [(ngModel)]="trophy.reason" class="form-control" required>
                            <div *ngIf="reason.dirty || reason.touched || trophyForm.submitted">
                                <div class="alert alert-danger" [hidden]="reason.valid">
                                    Please enter the reason.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-3">
                            <label class="form-inline">Choose your trophy</label>
                        </div>
                        <div class="col-lg-10 col-md-9">
                            <ul class="trophy-links row" style="max-width:600px;">
                                <li class="col-md-2 col-sm-2 col-xs-2" *ngFor="let color of colors">
                                    <div class="trophyClr" (click)="setColor(color)">
                                        <img [src]="color" />
                                        <i class="fa fa-trophy"></i>
                                    </div>
                                    <span *ngIf="trophy.icon==color" class="material-icons">check</span>
                                </li>
                            </ul>
                            <div *ngIf="trophyForm.submitted && !trophy.icon">
                                <div class="alert alert-danger">
                                    Please select a trophy.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-lg-2 col-md-3">
                            <label class="form-inline">Choose award for</label>
                        </div>
                        <div class="col-lg-10 col-md-9">
                            <angular2-multiselect name="award" #award="ngModel" [data]="awardForList" [(ngModel)]="selectedAwardFor" [settings]="dropdownSettings" [selectedItems]="selectedAwardFor" required>
                            </angular2-multiselect>
                            <div *ngIf="award.dirty || award.touched || trophyForm.submitted">
                                <div class="alert alert-danger" [hidden]="award.valid">
                                    Please select a award.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <br>
                    <button *ngIf="!isProcessing" class="btn btn-primary btn-lg" type="submit">Submit</button>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                </div>
            </div>
        </form>
    </div>
</section>