<h4 *ngIf="reqBody.status=='Current'">Request for Change </h4>
<h4 *ngIf="reqBody.status=='Pending'">Update </h4>
<form #requestForm='ngForm'>
    <div style="min-width:500px;" class='row'>
                <div *ngIf="reqBody.type=='Scope'" class=" col-sm-12 form-group">
                    <div class="form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Current scope of work being conducted</label>
                    </div>
                    <div class="rghtinput10">
                        <textarea rows="4" cols="50" [(ngModel)]="tempRequest.newValue"  readonly name="scsdop" type="text" class="form-control"></textarea>
                    </div>
                    </div>
                    <br><br>
                    <div class="lftinpt10">
                        <label class="form-inline">Scope request for work being conducted</label>
                    </div>
                    <div class="rghtinput10">
                        <textarea rows="4" cols="50" [(ngModel)]="reqBody.newValue" myNoSpaces required #scope="ngModel" name="scop" type="text" class="form-control" placeholder="Scope"></textarea>
                        <div *ngIf="scope.errors && ( (scope.dirty || scope.touched) || isButtonClicked )">
                            <div class="alert alert-danger" [hidden]="!(scope.errors.required || scope.errors.whitespace)">
                                Scope is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="reqBody.type=='Rate'"  class="full-width">
                    <div class=" col-sm-12 form-group">
                        <div class="form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Current rate type </label>
                            </div>
                            <div class="rghtinput10">{{this.tempRequest.newValue}}</div>
                        </div>
                        <div class="form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Current rate value </label>
                            </div>
                            <div class="rghtinput10">{{this.tempRequest.rateValue}}</div>
                        </div>
                        
                        
                        <div class="lftinpt10">
                            <label class="form-inline" style="margin-top:0px;">Rate type request</label>
                        </div>
                        <div class="rghtinput10">
                            <div class="halfDD">
                                <angular2-multiselect required [data]="listRateType" [(ngModel)]="selectedRateType" name="rateTypen" #rateTyped="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedRateType">
                                </angular2-multiselect>
                                <div *ngIf="rateTyped.errors && ( (rateTyped.dirty || rateTyped.touched) || isButtonClicked )">
                                    <div class="alert alert-danger" [hidden]="!(rateTyped.errors.required || rateTyped.errors.whitespace)">
                                        Required rate type.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Rate value request</label>
                        </div>
                        <div class="rghtinput10">
                            <input [(ngModel)]="reqBody.rateValue" myNoSpaces required #rValue="ngModel" name="rateValuew" type="text" class="form-control" placeholder="Rate value" />
                            <div *ngIf="rValue.errors && ( (rValue.dirty || rValue.touched) || isButtonClicked )">
                                <div class="alert alert-danger" [hidden]="!(rValue.errors.required || rValue.errors.whitespace)">
                                    Rate value is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                 <div *ngIf="reqBody.type=='Invoice date'" class="full-width">
                    <div class=" col-sm-12 form-group">
                        <div class="form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Current days from invoice </label>
                            </div>
                            <div class="rghtinput10">{{ (tempRequest.newValue=='-1')?tempRequest.invoicePaidOther:tempRequest.newValue }} days from invoice</div>
                        </div>


                         <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Days from invoice request</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        <angular2-multiselect required [data]="listInvoiceType" [(ngModel)]="selectedInvoiceType" name="selectedInvoiceTypew" #selectedInvoice="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedInvoiceType">
                                        </angular2-multiselect>
                                        <div *ngIf="selectedInvoice.errors && ( (selectedInvoice.dirty || selectedInvoice.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(selectedInvoice.errors.required || selectedInvoice.errors.whitespace)">
                                                Required invoice.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedInvoiceType.length>0 && selectedInvoiceType[0].value=='-1'" class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Other days</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="reqBody.invoicePaidOther" myNoSpaces required #invoicePaid="ngModel" name="invoicePaidOtherf" type="text" class="form-control" placeholder="days" />
                                    <div *ngIf="invoicePaid.errors && ( (invoicePaid.dirty || invoicePaid.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(invoicePaid.errors.required || invoicePaid.errors.whitespace)">
                                            Invoice paid required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>

                <div *ngIf="reqBody.type=='Contract'" class="full-width" > 

                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Current contract type </label>
                            </div>
                            <div class="rghtinput10">{{this.tempRequest.newValue}}</div>
                        </div>
                        


                        <div class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Contract type request</label>
                            </div>
                            <div class="rghtinput10">
                                <div class="halfDD">
                                    <angular2-multiselect required [data]="listContractType" [(ngModel)]="selectedContractType" name="listContractType" #selectedContract="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedContractType" (onSelect)="onSelectContractType($event,true)">
                                    </angular2-multiselect>
                                    <div *ngIf="selectedContract.errors && ( (selectedContract.dirty || selectedContract.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(selectedContract.errors.required || selectedContract.errors.whitespace)">
                                            Required contract type.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Own contract types -->
                        <div *ngIf="contractTypeID=='x'" class=" col-sm-6 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Own contract type</label>
                            </div>
                            <div class="rghtinput10">
                                <div class="halfDD">
                                    
                                    <angular2-multiselect   required [data]="ownContractList" [(ngModel)]="selectedOwnContractType" name="listOwnContractType" #selectedOwnContract="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedOwnContractType">
                                    </angular2-multiselect>
                                    <div *ngIf="selectedOwnContract.errors && ( (selectedOwnContract.dirty || selectedOwnContract.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(selectedOwnContract.errors.required || selectedOwnContract.errors.whitespace)">
                                            Required contract type.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end of own contractor type -->
                        <div *ngIf="selectedContractType.length>0 && selectedContractType[0].value == 'Upload'" class=" col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline" style="margin-top:0px;">Upload file</label>
                            </div>
                            <div class="rghtinput10">
                                <div class="halfDD">
                                    <span class="btn btn-lg btn-filter text-center btn-file">
                                        <i class="fa fa-upload"></i>&nbsp;Upload <input required  (change)="fileChange($event)"  accept=".pdf,.doc,.docx,.png,.jpeg,.txt,.odt,.ott,.xml,.rtf" type="file" />
                                    </span>{{filename}}
                                </div>
                            </div>
                        </div>
                    
                        
                </div>
    </div>
  <button [disabled]="isProcessing" class="btn btn-primary" (click) ='onSave(requestForm.form.valid)'>Save</button>
    
  </form>