.collapseInfoBox {
    .collapseContentbox {
        .addNewBtn {
            padding: 10px;
        }
    }
}

.EmpHeader {
    .InviteUser {
        .btn {
            width: 100%;
            height: 39px;
            font-family: 'LatoWebMedium';
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            font-size: 15px;
            padding: 0px 0px;
        }
    }
}

.EmpList .table tbody tr td:first-child {
    width: inherit;
}

@media(max-width:1024px) {
    .EmpList .InviteUser {
        width: 165px;
    }
}

@media(max-width:767px) {
    .admin-panel .filterController {
        margin-bottom: 12px;
    }
}