<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Policy documents</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-5 col-xl-7 col-lg-5">
                            <div class="empSrearch">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input (keyup)="onSearch()" [(ngModel)]="tempReqBody.search" name="title" type="text" class="form-control input-lg" placeholder="Search title" />
                                        <span class="input-group-btn">
                        <button class="btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-2 col-lg-3 col-sm-6 text-left">
                            <button (click)="toggleFilter=!toggleFilter" class="btn btn-filter ploicyActions full-width text-left">
                Filters <i [ngClass]="toggleFilter?'fa fa-angle-down':'fa fa-angle-up'"></i>
            </button>
                        </div>
                        <div class="col-md-4 col-xl-3  col-lg-4 col-sm-6 text-right">
                            <button *ngIf="!isSubCompany" [routerLink]="['/app/company-admin/policy-documents/create']" class="btn btn-success ploicyActions full-width">
               Add new policy <i class="fa fa-plus"></i>
            </button>
                        </div>

                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">

                            <div class="filterController row">
                                <div class="col-xl-3  col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Version</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" name="vsr" [(ngModel)]="versionSearch" class="form-control input-lg" placeholder="Search version" />
                                                <span class="input-group-btn">
                                        <button class="btn" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor=" let c of tempReqBody.filter.versions |searchByKey:versionSearch:'version' ;let  i = index;">
                                            <label>
                                        <input (click)="isApplyBtnClicked=true" type="checkbox" name="versoion{{i}}" [(ngModel)]="c.isChecked" />
                                        <span>{{c?.version}} </span>
                                    </label>
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Last updated</h3>
                                    <ul class="checkbox">
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int7" /><span>Week ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int30" /><span>Month ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int90" /><span>3 Months ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int180" /><span>6 Months ago</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.lastUpdated.int365" /><span>Year ago</span></label></li>
                                    </ul>
                                </div>-->
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Contract type</h3>
                                    <ul class="checkbox">
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.category.hrPolicy" /><span>HR policy</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.category.generalHrPolicy" /><span>General HR policy</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.category.performanceManagement" /><span>Performance management</span></label></li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox">
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.status.Active" /><span>Active</span></label></li>
                                        <li><label><input (click)="isApplyBtnClicked=true" type="checkbox" [(ngModel)]="tempReqBody.filter.status.Inactive" /><span>Inactive</span></label></li>
                                    </ul>
                                </div>
                                <button (click)="onApplyfilters()" [ngClass]="{'btn-filter'  : !isApplyBtnClicked,'btn-primary' : isApplyBtnClicked}" [disabled]="!isApplyBtnClicked" class="btn btn-default outlined">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableWrapper paddingNone">
                    <table class="full-width">
                        <tbody>
                            <tr style="padding:0;border: 0;">
                                <td colspan="7" style="padding:0;">
                                    <div class="collapseInfoBox" style="padding:0;">
                                        <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">HR policy<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox" style="padding:0;">
                                            <div class="paddingBox" style="padding:0;">
                                                <table *ngIf="this.reqBody.filter.category.hrPolicy" [mfData]="hrPolicy" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" class="full-width table" style="border:0;margin:0; padding:0;margin-top:-1px;min-width:1060px;">

                                                    <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                    <thead class="mainHeader">
                                                        <th style="width:90px">S. no.</th>
                                                        <th style="width:120px">Status</th>
                                                        <th style="max-width:245px">Title</th>
                                                        <!--<th>Last updated</th>-->
                                                        <th style="width:140px;">Current version</th>
                                                        <th>Details</th>
                                                        <th style="width:130px">Action</th>
                                                    </thead>
                                                    <tbody [hidden]="hrToggle" *ngIf="(!isOwnContractProcessing) && hrPolicy.length>0">
                                                        <tr *ngFor="let c of mf.data;let i =index">
                                                            <td style="width:90px;">{{i+1}}</td>
                                                            <td style="width:120px;">{{c?.baseStatus || 'N/A'}}</td>
                                                            <td style="max-width:254px;">{{c?.title || 'N/A'}}</td>
                                                            <!--<td>{{c?.insertTime || 'N/A'}}</td>-->
                                                            <td>{{c?.version || 'N/A'}} </td>
                                                            <td style="width:142px;"><button (click)="onPolicyDetails(c)" class="btn btn-default">View policy</button></td>
                                                            <td>
                                                                <label *ngIf="!c.policyDocumentID" class="color-success">  Accepted</label>
                                                                <div *ngIf="c.policyDocumentID && !isSubCompany" class="dropdown actionDroapdown actionDDtbl">
                                                                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                        <button (click)="onAcceptReject(c.policyDocumentID)" *ngIf="c.policyDocumentID" class="dropdown-item btn-none color-danger"><i class="fa fa-times-square-o"></i> Accept / Reject</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot [hidden]="hrToggle" colspan="6">
                                                        <div class="col-sm-12">
                                                            <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                        </div>
                                                        <tr class="danger" style="text-align:center" *ngIf="(!isOwnContractProcessing) && !hrPolicy.length">
                                                            <td colspan="4"> Record not found.</td>
                                                        </tr>
                                                    </tfoot>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="padding:0;border: 0;">
                                <td colspan="7" style="padding:0;">
                                    <div class="collapseInfoBox">
                                        <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">General HR policy<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                        <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox" style="padding:0;">
                                            <div class="paddingBox" style="padding:0;">
                                                <table *ngIf="this.reqBody.filter.category.generalHrPolicy" class="full-width" [mfData]="generalHrPolicy" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" style="border:0;margin:0; padding:0;min-width:1165px;">
                                                    <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                    <thead class="mainHeader">
                                                        <th style="width:90px">S. no.</th>
                                                        <th style="width:120px">Status</th>
                                                        <th style="max-width:245px">Title</th>
                                                        <!--<th>Last updated</th>-->
                                                        <th style="width:140px;">Current version</th>
                                                        <th style="width:142px;">Details</th>
                                                        <th style="width:130px">Action</th>
                                                    </thead>
                                                    <tbody *ngIf="(!isOwnContractProcessing) && generalHrPolicy.length>0">
                                                        <tr *ngFor="let c of mf.data;let i =index">
                                                            <td style="width:80px;">{{i+1}}</td>
                                                            <td style="width:120px;">{{c?.baseStatus || 'N/A'}}</td>
                                                            <td style="max-width:245px;">{{c?.title || 'N/A'}}</td>
                                                            <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                            <td>{{c?.version || 'N/A'}} </td>
                                                            <td><button (click)="onPolicyDetails(c)" class="btn btn-default">View policy</button></td>
                                                            <td>
                                                                <label *ngIf="!c.policyDocumentID" class="color-success">  Accepted</label>
                                                                <div *ngIf="c.policyDocumentID" class="dropdown actionDroapdown actionDDtbl">
                                                                    <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                                        <button (click)="onAcceptReject(c.policyDocumentID)" *ngIf="c.policyDocumentID" class="dropdown-item btn-none color-danger"><i class="fa fa-times-square-o"></i> Accept / Reject</button>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                    <tfoot [hidden]="ownerToggle" colspan="6">
                                                        <div class="col-sm-12">
                                                            <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                        </div>
                                                        <tr *ngIf="(!isOwnContractProcessing) && !generalHrPolicy.length" class="danger" style="text-align:center">
                                                            <td colspan="4"> Record not found</td>
                                                        </tr>
                                                    </tfoot>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="padding:0;border: 0;">
                                <td colspan="7" style="padding:0;">
                                    <div class="collapseInfoBox">
                                        <h4 (click)="collapse['personalinfoCollapse2']=!collapse['personalinfoCollapse2']" [ngClass]="{active:!collapse['personalinfoCollapse2']}">Performance management<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                                        <div [ngClass]="{open:!collapse['personalinfoCollapse2']}" class="collapseContentbox" style="padding:0;">
                                            <div class="paddingBox" style="padding:0;">
                                                <table *ngIf="this.reqBody.filter.category.performanceManagement" class="full-width" [mfData]="performanceManagement" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" style="border:0;margin:0; padding:0;min-width:1165px;">
                                                    <md-progress-spinner *ngIf="isOwnContractProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                    <thead class="mainHeader">
                                                        <th style="width:90px">S. no.</th>
                                                        <th style="width:120px">Status</th>
                                                        <th style="max-width:300px">Title</th>
                                                        <!--<th>Last updated</th>-->
                                                        <th style="width:140px;">Current version</th>
                                                        <th style="width:142px;">Details</th>
                                                    </thead>
                                                    <tbody *ngIf="(!isOwnContractProcessing) && performanceManagement.length>0">
                                                        <tr *ngFor="let c of mf.data;let i =index">
                                                            <td style="width:80px;">{{i+1}}</td>
                                                            <td>{{c?.baseStatus || 'N/A'}}</td>
                                                            <td>{{c?.title || 'N/A'}}</td>
                                                            <!--<td>{{c?.updateTime || 'N/A'}}</td>-->
                                                            <td>{{c?.version || 'N/A'}} </td>
                                                            <td><button (click)="onPolicyDetails(c)" class="btn btn-default">View policy</button></td>
                                                        </tr>
                                                    </tbody>

                                                    <tfoot [hidden]="ownerToggle" colspan="6">
                                                        <div class="col-sm-12">
                                                            <mfBootstrapPaginator *ngIf="!isOwnContractProcessing"></mfBootstrapPaginator>
                                                        </div>
                                                        <tr *ngIf="(!isOwnContractProcessing) && !performanceManagement.length" class="danger" style="text-align:center">
                                                            <td colspan="4"> Record not found</td>
                                                        </tr>
                                                    </tfoot>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>