<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink='/app/{{relPath}}'><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item" routerLink='/app/{{relPath}}/policy-documents'>Policy documents</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </div>
        <div *ngIf="!isProcessing" class="col-md-12 text-right statusBtn labelStats">
            <label class="statsInfo">last updated on {{policy?.updateTime| dateFormat}}</label>
            <button *ngIf="!policy.employeeStatus" (click)="onViewChangedLog()" class="btn btn-primary">View changed logs</button>
            <button (click)="onViewVersions()" class="btn btn-primary">View all versions</button>
            <label class="statsInfo">Version {{policy?.version}}</label>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div class="row" *ngIf="!isProcessing">
        <div class="col-sm-12">
            <section id="printBox" class="note-preview cmpnycontentBox">
                <div class="headerBox">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="logo">
                                <img [src]="companyLogo" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!--<div class="companyDtl">Joe office supplies <span class="date"></span>19/01/2016</div>-->
                        </div>
                    </div>
                </div>
                <div class="headingDiv">
                    <h4 class="heading">{{policy?.title}}</h4>
                    <p class="white-space-pre" [innerHTML]="policy.description"> </p>
                </div>
                <div *ngFor="let s of policy.policySubjects" class="content">
                    <h6 class="heading">{{s?.title}}</h6>
                    <p class="white-space-pre" [innerHTML]="s.description"> </p>
                </div>

                <div class="contentFooter">Copyright &copy; Happy HR</div>
                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isActionProcessing && !policy.employeeStatus" class="actionBtn">
                    <button (click)="onAcceptPolicy()" class="btn btn-primary">I accept this policy document completely</button>
                    <!--<button (click)="onAcceptPolicy()" class="btn btn-default">Reject with a note</button>-->
                </div>
            </section>
        </div>
    </div>
</div>