 .note-preview {
     padding: 20px 15px 10px 40px;
     .content {
         position: relative;
         padding-left: 15px;
         ul {
             padding-left: 20px;
             list-style-type: decimal;
             margin-bottom: 0px;
             padding-bottom: 10px;
             li {
                 padding-left: 5px;
             }
         }
         &:after {
             content: '';
             height: 100%;
             width: 3px;
             background: #e2e2e2;
             position: absolute;
             left: -3px;
             top: 0;
             border-radius: 12px;
         }
         &:before {
             content: '';
             height: 30px;
             width: 3px;
             background: #4cdaaa;
             position: absolute;
             left: -3px;
             top: 0;
             z-index: 1;
             border-radius: 12px;
         }
     }
     .headingDiv {
         border-bottom: 2px dotted #e4e4e4;
     }
     .btnWrapper {
         padding: 20px 0 12px;
     }
     .headerBox {
         img {
             max-width: 250px;
         }
         .companyDtl {
             color: #cccccc;
             span {
                 margin-left: 20px;
             }
         }
     }
 }
 
 .contentFooter {
     border-top: 1px solid #cccccc;
     padding-top: 8px;
     color: #cccccc;
     text-align: center;
 }
 
 .statusBtn {
     &.labelStats {
         margin-bottom: 0px;
     }
     button {
         margin-bottom: 15px;
         margin-right: 7px;
     }
     label {
         margin-bottom: 15px;
         margin-right: 7px;
         display: inline-block;
         padding: 0.6rem 1rem;
         vertical-align: middle;
         background: #acacac;
         line-height: unset;
         color: #ffffff;
     }
 }
 
 @media print {
     .btn,
     button {
         display: none!important;
     }
 }