<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item" [routerLink]="['/app/company-admin/policy-documents']">Policy documents</li>
                <li class="breadcrumb-item" [routerLink]="['/app/company-admin/policy-documents/unused-documents']">Unused document</li>
                <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/policy-documents/procedural-document/detail']">Unused document details</li>
            </ol>
        </div>
        <div *ngIf="!isProcessing" class="col-md-12 text-right statusBtn labelStats">
            <label class="statsInfo">last updated on {{document?.updateTime | dateFormat}}</label>
            <label class="statsInfo">Version {{document?.version}}</label>
        </div>
    </div>

    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing" class="row">
        <div class="col-sm-12">
            <section id="printBox" class="note-preview cmpnycontentBox">
                <div class="headerBox">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="logo"><img width="150" src="{{companyLogo}}" /></div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <div class="headingDiv">
                    <h4 class="heading">{{document?.title || 'N/A'}}</h4>
                    <p [innerHTML]="document.description"> </p>
                </div>
                <div *ngFor="let s of document.policySubjects" class="content">
                    <h6 class="heading 1">{{document?.title || 'N/A'}}</h6>
                    <p [innerHTML]="s.description"></p>
                </div>
                <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isActionProcessing" class="actionBtn">
                    <button (click)="onAcceptDocument()" class="btn btn-primary">I accept this document completely</button>
                    <!--<button (click)="onAcceptPolicy()" class="btn btn-default">Reject with a note</button>-->
                </div>

                <div class="contentFooter">Copyright &copy; Happy HR</div>
            </section>
        </div>
    </div>
</div>