.descriptionVersion{
    //padding:30px 15px;
    .tabing-content{
            padding-right: 180px;
            float: left;
        .tab{          
            
            .header{
                background:#333;
                color:#fff;
                padding:15px;
                float: left;width:100%;
                p{display:inline-block;margin-bottom:6px;}
                h3{
                    font-size:16px;font-weight:normal;margin: 0; display:inline-block;
                }
                .btn-blue{
                            background:rgb(100, 195, 250);
                            color:#fff;
                            font-weight:normal;
                            font-size:18px;
                            margin-top:-22px;
                }               
                
            }
            .description{
                opacity:0.9;
                 background:#fff;                 
                //  width:100%;
                 padding: 20px 15px;
                 float: left;
                 margin: 20px 135px;
                h3{font-size:20px;font-weight:600; margin:0; margin-bottom:12px;}
            }
        }
    }
    .tabing-nav {
    position: fixed;
    right: 0;
    width: 180px;    
    height: 100%;
    overflow: auto;
    background: rgb(235, 235, 235);
    border-left:1px solid #333;
    ul{
        
        li{
            border-bottom:1px solid #333;
            p{
                margin-bottom:0;
            }            
            a{ color:#333;
                padding: 12px 15px;
                display:block;
            &:hover{
                display:block;
                text-decoration:none;
                background:#fff;
            }            
            &:focus{text-decoration:none;}
            }
        }
    }
}
}