<section class="descriptionVersion">
    <div class="tabing-content">
        <div class="tab tab{{vars.version}}" *ngFor="let vars of versionList">

            <div class="header">
                <p>version:{{vars.version}}</p><br>
                <h3>Date: {{vars.date}}</h3>
                <a href="#" class="btn btn-blue pull-right">Restore to this version</a>
            </div>
            <!--V={{vars.version}} cT={{currentTab}}-->
            <div class="description">
                <h3>Testing & quality assurance</h3>
                <p>Our quality proccess is aimed at making the deliverable highly qualititative and meeting the client's expectation,in addition to accept standards.The Process start from the requirment analysis phase and runs as integral part of development
                    Process.
                </p>
                <h3>Requirment walkthrough & test plan definition</h3>
                <p>The phase Involve walk through the details by QA team based on which further testing would be performed.
                    <br> Based on the Requirment Specification, the Test Engineer prepares a test plan independently and uses to test the diliveralble at a time.
                </p>
                <ul>
                    <li>Ensure a cosmetic bug text before delivery.
                    </li>
                    <li>Validate website</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tabing-nav">
        <ul>
            <li *ngFor="let vars of versionList" (click)="onTabing(vars.version)"><a href="javascript:void(0)"><span>Version: {{vars.version}}</span><p>Date: {{vars.date}}</p></a></li>
        </ul>
    </div>
</section>