<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/employee-management']">Employee management</li>
                    <li class="breadcrumb-item active">Additional information</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox registrationForm">
                    <h4 class="heading">Step 3: Additional information</h4>
                    <form #extraInformation="ngForm" class="form-horizontal" (ngSubmit)="extraInformation.valid && saveAndNext()">
                        <div class="row maxformWidth">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Commission structure</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="commision1" type="radio" name="commision" #commision="ngModel" [(ngModel)]="info.commissionOption" value="None" class="required" required>
                                        <label for="commision1">None</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="commision2" type="radio" name="commision" #commision="ngModel" [(ngModel)]="info.commissionOption" value="Percent Commission" class="required" required>
                                        <label for="commision2">% of total sales</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="commision3" type="radio" name="commision" #commision="ngModel" [(ngModel)]="info.commissionOption" value="Sliding Commission" class="required" required>
                                        <label for="commision3">Sliding commision scale</label>
                                    </div>
                                    <div *ngIf="commision.dirty || commision.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="commision.valid">
                                            Please choose Commission option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.commissionOption && info.commissionOption != 'None'">
                                        <textarea class="form-control" name="commissionNote" #commissionNote="ngModel" [(ngModel)]="info.commissionNote" placeholder="Enter commision details" required></textarea>
                                        <div *ngIf="commissionNote.dirty || commissionNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="commissionNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Company bonuses</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="bonus1" type="radio" name="bonus" #bonus="ngModel" [(ngModel)]="info.companyBonusOption" value="Yes" class="required" required>
                                        <label for="bonus1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="bonus2" type="radio" name="bonus" #bonus="ngModel" [(ngModel)]="info.companyBonusOption" value="No" class="required" required>
                                        <label for="bonus2">No</label>
                                    </div>
                                    <div *ngIf="bonus.dirty || bonus.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="bonus.valid">
                                            Please choose Company bonus option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.companyBonusOption && info.companyBonusOption == 'Yes'">
                                        <textarea class="form-control" name="companyBonusNote" #companyBonusNote="ngModel" [(ngModel)]="info.companyBonusNote" placeholder="Enter applicable bonuses" required></textarea>
                                        <div *ngIf="companyBonusNote.dirty || companyBonusNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="companyBonusNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Mobile phone</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="mobilephone1" type="radio" name="mobilephone" #mobilephone="ngModel" [(ngModel)]="info.mobilePhoneOption" value="Fully Subsidized" class="required" required>
                                        <label for="mobilephone1">Yes- Fully subsidised</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="mobilephone2" type="radio" name="mobilephone" #mobilephone="ngModel" [(ngModel)]="info.mobilePhoneOption" value="Partially Subsidized" class="required" required>
                                        <label for="mobilephone2">Yes- Part contribution</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="mobilephone3" type="radio" name="mobilephone" #mobilephone="ngModel" [(ngModel)]="info.mobilePhoneOption" value="None" class="required" required>
                                        <label for="mobilephone3">No</label>
                                    </div>
                                    <div *ngIf="mobilephone.dirty || mobilephone.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="mobilephone.valid">
                                            Please choose mobilephone allowance option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.mobilePhoneOption && info.mobilePhoneOption != 'None'">
                                        <textarea class="form-control" name="mobilePhoneNote" #mobilePhoneNote="ngModel" [(ngModel)]="info.mobilePhoneNote" placeholder="What type of mobile phone has been provided to the employee? Example:Apple iPhone. You may also want to provide Appliance serial number."
                                            required></textarea>
                                        <div *ngIf="mobilePhoneNote.dirty || mobilePhoneNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="mobilePhoneNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.mobilePhoneOption && info.mobilePhoneOption == 'Partially Subsidized'">
                                        <textarea class="form-control" name="mobilehPhoneContribution" #contribution="ngModel" [(ngModel)]="info.mobilePhoneContribution" placeholder="What is employers contribution." required></textarea>
                                        <div *ngIf="contribution.dirty || contribution.touched || contribution.submitted">
                                            <div class="alert alert-danger" [hidden]="contribution.valid">
                                                Please describe employers contribution.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Laptop</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="laptop1" type="radio" name="laptop" #laptop="ngModel" [(ngModel)]="info.laptopOption" value="Yes" class="required" required>
                                        <label for="laptop1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="laptop2" type="radio" name="laptop" #laptop="ngModel" [(ngModel)]="info.laptopOption" value="No" class="required" required>
                                        <label for="laptop2">No</label>
                                    </div>
                                    <div *ngIf="laptop.dirty || laptop.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="laptop.valid">
                                            Please choose laptop allowance option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.laptopOption && info.laptopOption == 'Yes'">
                                        <textarea class="form-control" name="laptopNote" #laptopNote="ngModel" [(ngModel)]="info.laptopNote" placeholder="What type of laptop has been provided to the employee? Example:Apple McBook. You may also want to provide Appliance serial number." required></textarea>
                                        <div *ngIf="laptopNote.dirty || laptopNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="laptopNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Tablet</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="tablet1" type="radio" name="tablet" #tablet="ngModel" [(ngModel)]="info.tabletOption" value="Yes" class="required" required>
                                        <label for="tablet1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="tablet2" type="radio" name="tablet" #tablet="ngModel" [(ngModel)]="info.tabletOption" value="No" class="required" required>
                                        <label for="tablet2">No</label>
                                    </div>
                                    <div *ngIf="tablet.dirty || tablet.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="tablet.valid">
                                            Please choose tablet allowance option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.tabletOption && info.tabletOption == 'Yes'">
                                        <textarea class="form-control" name="tabletNote" #tabletNote="ngModel" [(ngModel)]="info.tabletNote" placeholder="What type of tablet has been provided to the employee? Example:Apple iPad. You may also want to provide Appliance serial number." required></textarea>
                                        <div *ngIf="tabletNote.dirty || tabletNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="tabletNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Vehicle allowance</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="vehicle1" type="radio" name="vehicle" #vehicle="ngModel" [(ngModel)]="info.vehicleAllowanceOption" value="Yes" class="required" required>
                                        <label for="vehicle1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="vehicle2" type="radio" name="vehicle" #vehicle="ngModel" [(ngModel)]="info.vehicleAllowanceOption" value="No" class="required" required>
                                        <label for="vehicle2">No</label>
                                    </div>
                                    <div *ngIf="vehicle.dirty || vehicle.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="vehicle.valid">
                                            Please choose vehicle allowance option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.vehicleAllowanceOption && info.vehicleAllowanceOption == 'Yes'">
                                        <textarea class="form-control" name="vehicleAllowanceNote" #vehicleAllowanceNote="ngModel" [(ngModel)]="info.vehicleAllowanceNote" placeholder="Please enter applicable costs such as total vehicle package or list the vehicle allowance, Vehicle registeration, Insurances, Petrol card, parking Expenses etc. in package"
                                            required></textarea>
                                        <div *ngIf="vehicleAllowanceNote.dirty || vehicleAllowanceNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="vehicleAllowanceNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Other bonuses unique to role or employee</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="otherbonuses1" type="radio" name="otherbonuses" #otherbonuses="ngModel" [(ngModel)]="info.otherBonusOption" value="Yes" class="required" required>
                                        <label for="otherbonuses1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="otherbonuses2" type="radio" name="otherbonuses" #otherbonuses="ngModel" [(ngModel)]="info.otherBonusOption" value="No" class="required" required>
                                        <label for="otherbonuses2">No</label>
                                    </div>
                                    <div *ngIf="otherbonuses.dirty || otherbonuses.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="otherbonuses.valid">
                                            Please choose other bonus option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.otherBonusOption && info.otherBonusOption == 'Yes'">
                                        <textarea class="form-control" name="otherBonusNote" #otherBonusNote="ngModel" [(ngModel)]="info.otherBonusNote" placeholder="Enter other bonuses" required></textarea>
                                        <div *ngIf="otherBonusNote.dirty || otherBonusNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="otherBonusNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Other applicable information that is unique to the role or employee</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="applicable1" type="radio" name="applicable" #applicable="ngModel" [(ngModel)]="info.otherApplicableInformationOption" value="Yes" class="required" required>
                                        <label for="applicable1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="applicable2" type="radio" name="applicable" #applicable="ngModel" [(ngModel)]="info.otherApplicableInformationOption" value="No" class="required" required>
                                        <label for="applicable2">No</label>
                                    </div>
                                    <div *ngIf="applicable.dirty || applicable.touched || extraInformation.submitted">
                                        <div class="alert alert-danger" [hidden]="applicable.valid">
                                            Please choose other applicable information option.
                                        </div>
                                    </div>
                                    <div class="detailField" *ngIf="info.otherApplicableInformationOption && info.otherApplicableInformationOption == 'Yes'">
                                        <textarea class="form-control" name="otherApplicableInformationNote" #otherApplicableInformationNote="ngModel" [(ngModel)]="info.otherApplicableInformationNote" placeholder="Enter other applicable information" required></textarea>
                                        <div *ngIf="otherApplicableInformationNote.dirty || otherApplicableInformationNote.touched || extraInformation.submitted">
                                            <div class="alert alert-danger" [hidden]="otherApplicableInformationNote.valid">
                                                Please describe your answer.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>