.currentEmpoption{
    margin-top:10px;
    .customChoice{
        display:inline-block;
        &:nth-child(2){
           margin:0px 20px;
           @media (max-width: 490px){
               margin:0px 0px;
               margin-right:5px;
           }
        }
    }
}
.detailField{
    margin-top:7px;
    textarea{
        &.form-control{
            height:90px !important;
            resize:none;
            max-width:inherit;
        }
    }
}
.registrationForm{
    h4{
        margin-top:20px;
        margin-bottom:40px;
        padding-left: 20px;
    }
}
.maxformWidth {
    max-width: 90%;
    margin: 0px auto;
}