<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/ohs-listing']">OH&S</li>
                    <li class="breadcrumb-item active">Warning Email</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="PIPFormbox">
                        <form class="maxformWidth" name="mailform" #mailform="ngForm" (ngSubmit)="mailform.valid && sendWarningMail()">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Risk type</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <select style="height:37px;" class="form-control" name="risk" #risk="ngModel" [(ngModel)]="ohs.riskType" required>
                                            <option value="" disabled> Select risk type </option>
                                            <option value="High Risk">High Risk</option>
                                            <option value="Low Risk">Low Risk</option>
                                        </select>
                                        <div *ngIf="risk.dirty || risk.touched || mailform.submitted">
                                            <div class="alert alert-danger" [hidden]="risk.valid">Please select a risk type.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Message</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea name="message" #message="ngModel" [(ngModel)]="ohs.emailBody" class="form-control" required></textarea>
                                        <div *ngIf="message.dirty || message.touched || mailform.submitted">
                                            <div class="alert alert-danger" [hidden]="message.valid">Please enter a message.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!isProcessing" class="col-md-12">
                                <div class="btnwrap text-center">
                                    <button type="submit" class="btn btn-lg btn-primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>