<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
    <div class="col-md-12">
      <h2 class="article-title">API Report</h2>
    </div>
  </div>
  <!--Filter Box-->
   <div class="box box-default  paddingBox">
     <div class="filter-wrapp box box-default contentBox">
       <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span>
    <div class="row">
        <div class="filterColumn">
          <my-date-picker [options]="myDatePickerOptions"(dateChanged)="onDateChangedFrom($event)" placeholder="From"></my-date-picker>
        </div>
        <div class="filterColumn">
           <my-date-picker [options]="myDatePickerOptions"(dateChanged)="onDateChangedTo($event)" placeholder="To"></my-date-picker>
        </div>
      </div>
  </div>  
  </div>
  
      <div class="box box-default table-box table-responsive mdl-shadow--2dp">
          <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> 
          <table *ngIf="!isProcessing" class="mdl-data-table">
            <tbody>
              <tr *ngFor="let r of apiList">
                <td><img src="{{r.logo}}"/></td>
                <td><strong>{{r.count}}</strong></td>
                <td><button md-raised-button color="special" class="addButton" (click)="showCompnayWiseReport(r)"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" (click)="showLogs(r.apiID)"><i class="material-icons">view_list</i> View Log</button></td>
              </tr> 
              <!-- <tr>
                <td><img src="assets/images/xero.png"/></td>
                <td><strong>Total API Calls: 12,865</strong></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/company-wise']"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr>
              <tr>
                <td><img src="assets/images/deputy.png"/></td>
                <td><strong>Total API Calls: 12,865</strong></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/company-wise']"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr>
              <tr>
                <td><img src="assets/images/tanda.png"/></td>
                <td><strong>Total API Calls: 12,865</strong></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/company-wise']"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr>
              <tr>
                <td><img src="assets/images/eway.png"/></td>
                <td><strong>Total API Calls: 12,865</strong></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/company-wise']"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr>
              <tr>
                <td><img src="assets/images/seek.png"/></td>
                <td><strong>Total API Calls: 12,865</strong></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/company-wise']"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr>
              <tr>
                <td><img src="assets/images/pb.png"/></td>
                <td><strong>Total API Calls: 12,865</strong></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/company-wise']"><i class="material-icons">view_list</i> View Company Wise Report</button></td>
                <td><button md-raised-button color="special" class="addButton" [routerLink]="['/app/super-admin/reports/API/log']"><i class="material-icons">view_list</i> View Log</button></td>
              </tr> -->
            </tbody>
            <tfoot>
             </tfoot>
             <div *ngIf="apiList.length==0">
                <div class="text-center">Record not found</div>
              </div>
          </table>
        </div>
  </article>
</div>
