.cvsReport{
    text-align:center;
    i{
        color:#4cdaaa;
        font-size:24px;
        cursor:pointer;
    }
    .iconTitle{
            font-weight: 400;
            font-size: 13px;
            position: relative;
            top: 0px;
            cursor:pointer;
    }
}
.filter-wrapp {
    &.box{
        margin-bottom:0px;
    }
.filterItems {
    overflow-y: visible; 
  }
  .filtericn {
        @media (max-width:479px){
           right: 4px;
           top: 7px;
           font-size: 28px;
        }
     }
}
