<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/development-plan']">Development plan</a></li>
        <li class="breadcrumb-item active">Re-assessment</li>
    </ol>
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 PIPmainBox">
            <div class="collapseInfoBox">
                <h4 (click)="originalPIPToggle=!originalPIPToggle" [ngClass]="{active:originalPIPToggle}">Original development plan <span class="float-right"><i class="fa fa-angle-down"></i></span></h4>
                <div class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle}">
                    <div class="cmpnycontentBox">
                        <div class="pipHeader">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <h3 class="heading">Assessment</h3>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Development plan for:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlan?.developmentFor?.employee}}</h5>
                                                <div class="designation">{{developmentPlan?.developmentFor?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Assigned manager:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{developmentPlan?.assinedBy?.imageUrl}}" alt="" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{developmentPlan?.assinedBy?.employee}}</h5>
                                                <div class="designation">{{developmentPlan?.assinedBy?.employeeProfile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Involved third parties</div>
                                        <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                            <input type="text" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                            <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                <li *ngFor="let e of developmentPlan.thiredParty">
                                                    <img src="{{e?.imageUrl}}" alt="" />
                                                    <div class="empinfo">
                                                        <label>{{e?.employee}}</label>
                                                        <div class="userprofile">{{e?.employeeProfile}}</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="PIPFormbox detailPIP">
                            <div class="float-right">
                                <span>{{developmentPlan?.dpInsetTime}}</span><br><br>
                            </div>
                            <h5>Development plan</h5>
                            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div class="row">
                                <div *ngIf="!isProcessing">
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Development plan title</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.title}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.trainingTime}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment date</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.assessmentTime}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.reason}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action plan</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.actionPlan}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objectives</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{developmentPlan?.objective}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlan?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlan?.trainingTime | dateFormat:'shortTime'}} </span><br><br>
                        </div>
                        <h5>Training Notes</h5>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlan?.managerNote}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Development plan for</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="managerBx">
                                            <div class="roundImgIcon">
                                                <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" />
                                            </div>
                                            <div class="managerDesc">
                                                <strong>{{developmentPlan?.developmentFor?.employee}}</strong>
                                                <span>{{developmentPlan?.developmentFor?.employeeProfile}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmpnycontentBox trainingNotes assessmentbox">
                        <div class="float-right">
                            <span>{{developmentPlan?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlan?.trainingTime | dateFormat:'shortTime'}} </span>
                        </div>
                        <h5>Assessment Notes</h5>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Manager notes</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlan?.assessmentNote}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Development plan for</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="managerBx">
                                            <div class="roundImgIcon">
                                                <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" />
                                            </div>
                                            <div class="managerDesc">
                                                <strong>{{developmentPlan?.developmentFor?.employee}}</strong>
                                                <span>{{developmentPlan?.developmentFor?.employeeProfile}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cmpnycontentBox trainingNotes">
                        <div class="float-right">
                            <span>{{developmentPlan?.trainingTime| dateFormat:'longDate'}} at  {{developmentPlan?.trainingTime | dateFormat:'shortTime'}}</span>
                        </div>
                        <h5>Result</h5>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing">
                            <div class="traingForm">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Result</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="btn btn-primary text-uppercase">{{developmentPlan?.result}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Development plan for</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <div class="managerBx">
                                                <div class="roundImgIcon">
                                                    <img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" />
                                                </div>
                                                <div class="managerDesc">
                                                    <strong>{{developmentPlan?.developmentFor?.employee}}</strong>
                                                    <span>{{developmentPlan?.developmentFor?.employeeProfile}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- ******************************************************** RE-ASSESSMENTS  *****************************************-->

                <div class="cmpnycontentBox assessnextbox reassessmargibtop">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Re-Asses: Result</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Development plan for:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{developmentPlanReAssessment?.developmentFor?.imageUrl}}" alt="" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{developmentPlanReAssessment?.developmentFor?.employee}}</h5>
                                            <div class="designation">{{developmentPlanReAssessment?.developmentFor?.employeeProfile}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{developmentPlanReAssessment?.assinedBy?.imageUrl}}" alt="" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{developmentPlanReAssessment?.assinedBy?.employee}}</h5>
                                            <div class="designation">{{developmentPlanReAssessment?.assinedBy?.employeeProfile}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved third parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                        <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                            <li *ngFor="let e of developmentPlanReAssessment.thiredParty">
                                                <img src="{{e?.imageUrl}}" alt="" />
                                                <div class="empinfo">
                                                    <label>{{e?.employee}}</label>
                                                    <div class="userprofile">{{e?.employeeProfile}}</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>

                    <div class="PIPFormbox detailPIP">
                        <div class="float-right">
                            <span>{{developmentPlanReAssessment?.dpInsetTime}}</span><br><br>
                        </div>
                        <h5>Development plan</h5>
                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessing" class="contentBoxWrap">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Development plan title</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlanReAssessment?.title}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Training date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlanReAssessment?.trainingTime}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assessment date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlanReAssessment?.assessmentTime}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlanReAssessment?.reason}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Action plan</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlanReAssessment?.actionPlan}}
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Objectives</label>
                                    </div>
                                    <div class="rghtinput10">
                                        {{developmentPlanReAssessment?.objective}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="cmpnycontentBox trainingNotes">
                    <div class="float-right">
                        <span>{{developmentPlanReAssessment?.trainingDate| dateFormat:'longDate'}} at  {{developmentPlanReAssessment?.trainingTime }} </span><br><br>
                    </div>
                    <h5>Training Notes</h5>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Manager notes</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanReAssessment?.managerNote}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Development plan for</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="managerBx">
                                        <div class="roundImgIcon">
                                            <img src="{{developmentPlanReAssessment?.developmentFor?.imageUrl}}" alt="" />
                                        </div>
                                        <div class="managerDesc">
                                            <strong>{{developmentPlanReAssessment?.developmentFor?.employee}}</strong>
                                            <span>{{developmentPlanReAssessment?.developmentFor?.employeeProfile}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="cmpnycontentBox trainingNotes">
                    <div class="float-right">
                        <span>{{developmentPlanReAssessment?.trainingDate| dateFormat:'longDate'}} at  {{developmentPlanReAssessment?.trainingTime}} </span><br><br>
                    </div>
                    <h5>Assessment Notes</h5>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="traingForm" *ngIf="!isProcessing">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Manager notes</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanReAssessment?.assessmentNote}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Development plan for</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="managerBx">
                                        <div class="roundImgIcon">
                                            <img src="{{developmentPlanReAssessment?.developmentFor?.imageUrl}}" alt="" />
                                        </div>
                                        <div class="managerDesc">
                                            <strong>{{developmentPlanReAssessment?.developmentFor?.employee}}</strong>
                                            <span>{{developmentPlanReAssessment?.developmentFor?.employeeProfile}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="cmpnycontentBox trainingNotes lastcontentbox">
                    <div class="float-right">
                        <span>{{developmentPlanReAssessment?.trainingDate| dateFormat:'longDate'}} at  {{developmentPlan?.trainingTime }} </span><br><br>
                    </div>
                    <h5>Result</h5>
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div class="traingForm" *ngIf="!isProcessing">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Result</label>
                                </div>
                                <div class="rghtinput10">
                                    {{developmentPlanReAssessment?.result}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Development plan for</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="managerBx">
                                        <div class="roundImgIcon">
                                            <img src="{{developmentPlanReAssessment?.developmentFor?.imageUrl}}" alt="" />
                                        </div>
                                        <div class="managerDesc">
                                            <strong>{{developmentPlanReAssessment?.developmentFor?.employee}}</strong>
                                            <span>{{developmentPlanReAssessment?.developmentFor?.employeeProfile}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button *ngIf="permission?.edit && developmentPlanReAssessment.result=='Re-Assess'" (click)="onReAssessment(developmentPlanReAssessment.developmentPlanID)" class="btn btn-primary text-uppercase">Proceed to re-assess</button>
                </div>
            </div>