.managerListBlock{
    .managerBx{
        display: block;
        margin-top: 15px;
    }
}
.traingForm{
    margin: 10px 0 25px;
    textarea{
        resize: none;
    }
}
.leftAlgn{
    @media (max-width:575px){
        text-align: left!important;
    }
}

.lastcontentbox{
    margin-bottom:20px;
}
.reassessmargibtop{
    margin-top:30px;
}