<md-progress-spinner *ngIf="isProcessing" mode="indeterminate"></md-progress-spinner>
<section *ngIf="!isProcessing" class="descriptionVersion">
    <div class="tabing-content full-width">
        <div class="cmpnycontentBox">

            <md-progress-spinner *ngIf="isContractDetailProcessing" mode="indeterminate"></md-progress-spinner>

            <div class="tabContent" *ngIf="!isContractDetailProcessing">

                <div class="mainTabbing">
                    <div class="header">
                        <p>version:{{contract.version}}</p><br>
                        <h3>Date: {{contract.insertTime | dateFormat }}</h3>
                        <a *ngIf="!isSubCompany" (click)="onRestoreVersion(contract.companyContractID)" class="btn btn-blue pull-right">Restore to this version</a>
                    </div>
                    <!--V={{vars.version}} cT={{currentTab}}-->
                    <div class="description">
                        <h3>{{contract?.title}}</h3>
                        <p [innerHTML]='contract.description'>
                        </p>

                        <div *ngFor="let c of contract.contractSubjects">
                            <h4>{{c?.title}}</h4>
                            <p [innerHTML]='c.description'>
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tabing-nav">
        <ul>
            <li [ngClass]="{'active'  :vars.status=='Active',
                  'local_active'  : vars.localActive==true}" (click)="onVersionSelect(vars.companyContractID)" *ngFor="let vars of versionList; let i = index">
                <a href="javascript:void(0)"><span>Version: {{vars.version}}</span>
            <p>Date: {{vars.insertTime || 'N/A' }}</p>
          </a>
            </li>
        </ul>
    </div>
</section>