.contract-version{
    padding:0px 15px 20px;
    .subhead{  
        margin-bottom:30px;       
        h2{
            padding:0 !important;
        }
        a{color:#333;}
        .btn-default{background:#d4d4d4;}
    }
    .box {
        background: #efefef;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.42);       
        .versionDetails{
            min-height: 234px;
            display: table;
            width: 100%;
            p{display:table-cell;vertical-align:middle;}
        }
        
    }
    .sub-title{font-size:20px;}
    .ql-container .ql-editor{height:200px;}
           
}