<div class="container-fluid admin-panel">
    <ol *ngIf="isEditing" class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/app/employee']">
                <span class="fa fa-home"></span>
            </a>
        </li>
        <li class="breadcrumb-item active">Edit profile</li>
    </ol>
    <div *ngIf="!isEditing" class="row innerAdmins">
        <div class="col-md-12 stepsContainer" style="margin-top:30px;">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing" class="profile">
        <div class="row">
            <div class="col-xl-3 col-md-12">
                <div class="profileBox">
                    <div class="proPic">
                        <div class="adjust">
                            <img [alt]="profile?.name" [src]="profileImage">
                        </div>
                    </div>
                    <div class="">
                        <md-progress-spinner *ngIf="isProcessingImg" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isProcessingImg" class="uploadFile">
                            <input type="file" id="CustomFile" accept="image/png,image/jpg,image/jpeg" name="doc" (change)="handleFileSelect($event)">
                            <label for="CustomFile" class="btn btn-primary">Upload</label>
                            <p>Select file (JPG, JPEG or PNG file). </p>
                            <div *ngIf="profileForm.submitted">
                                <div class="color-danger" [hidden]="profileImage"> Please select an image. </div>
                            </div>
                        </div>
                    </div>
                    <div class="userInfo">
                        <div class="name">
                            <h6>{{profile?.name}}</h6>
                            <div class="designation">{{profile?.positionTitle}}</div>
                        </div>
                        <div class="inforow clearfix">
                            <label>Employee since</label>
                            <span class="values">{{formatDateTime(profile?.employeeSince)}}</span>
                        </div>
                        <div class="inforow clearfix">
                            <label>Status</label>
                            <span class="values">{{profile?.status}}</span>
                        </div>
                        <div class="inforow clearfix">
                            <label>Last login</label>
                            <span class="values">{{formatDateTime(profile?.lastLogin)}}</span>
                        </div>
                        <hr>
                        <div class="inforow clearfix">
                            <table class="full-width">
                                <tr>
                                    <th>Leave type</th>
                                    <th style="width:100px;">Leave balance</th>
                                </tr>
                                <tr *ngFor="let l of profile.leaveType">
                                    <td>{{l.type}}</td>
                                    <td style="text-align:right">{{l.value}}</td>
                                </tr>
                            </table>
                        </div>
                        <div *ngIf="profile.payrollData && profile.payrollData.length" class="inforow clearfix">
                            <table class="full-width">
                                <tr>
                                    <th>Payroll data</th>
                                    <th style="width:100px;">Leave balance</th>
                                </tr>
                                <tr *ngFor="let l of profile.payrollData">
                                    <td>{{l.title}}</td>
                                    <td style="text-align:right">{{l.value}}</td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="col-xl-9 col-md-12">
                <form name="profileForm" #profileForm="ngForm" (ngSubmit)="saveAs('save',profileForm)">
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl1']=!collapse['pfl1']" [ngClass]="{active:!collapse['pfl1'],'heading-danger':checkValidations([firstName,lastName,email,phoneNumber,streetAddress,postalCode,addressSuburb,stateName,dob,userGender])}">Personal information
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl1']}" class="collapseContentbox">
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">

                                        <div class="lftinpt10">
                                            <label class="form-inline">First name</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="profile.personalInformation.firstName"
                                                required>
                                            <div *ngIf="firstName.dirty || firstName.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="firstName.valid"> Please enter the first name. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Last name</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="profile.personalInformation.lastName"
                                                required>
                                            <div *ngIf="lastName.dirty || lastName.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="lastName.valid"> Please enter the last name. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Email id</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="profile.personalInformation.email" required
                                                pattern=".*@.*\.*[A-Za-z/d]$" >
                                            <div *ngIf="email.dirty || email.touched || profileForm.submitted">
                                                <div class="color-danger" *ngIf="!email.value && !email.valid"> Please enter the email. </div>
                                                <div class="color-danger" *ngIf="email.value && !email.valid">Email is not valid.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Phone no.</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="profile.personalInformation.phoneNumber"
                                                required pattern="^((\\+[1-9]{1,4}[ \\-]*)|(\\([0-9]{2,3}\\)[ \\-]*)|([0-9]{2,4})[ \\-]*)*?[0-9]{3,4}?[ \\-]*[0-9]{3,4}?$">
                                            <div *ngIf="phoneNumber.dirty || phoneNumber.touched || profileForm.submitted">
                                                <div class="color-danger" *ngIf="!phoneNumber.value && !phoneNumber.valid"> Please enter the phone number. </div>
                                                <div class="color-danger" *ngIf="phoneNumber.value && !phoneNumber.valid">Phone number is not valid.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Street</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="streetAddress" #streetAddress="ngModel" [(ngModel)]="profile.personalInformation.address.streetAddress"
                                                required>
                                            <div *ngIf="streetAddress.dirty || streetAddress.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="streetAddress.valid"> Please enter the street address. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Postal code</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="postalCode" #postalCode="ngModel" [(ngModel)]="profile.personalInformation.address.postalCode"
                                                required pattern="^[0-9]{0,4}$">
                                            <div *ngIf="postalCode.dirty || postalCode.touched || profileForm.submitted">
                                                <div class="color-danger" *ngIf="!postalCode.value && !postalCode.valid"> Please enter the postal code. </div>
                                                <div class="color-danger" *ngIf="postalCode.value && !postalCode.valid">Postal code is not valid.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Suburb</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="suburb" #addressSuburb="ngModel" [(ngModel)]="profile.personalInformation.address.addressSuburb"
                                                required>
                                            <div *ngIf="addressSuburb.dirty || addressSuburb.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="addressSuburb.valid"> Please enter the suburb. </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">State</label>
                                        </div>
                                        <div class="rghtinput10">

                                                <select class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="profile.personalInformation.address.stateName" [disabled]="disableState">
                                                    <option value="" disabled> Please select state </option>
                                                    <option *ngFor="let s of stateList" [value]="s.itemName">{{s.itemName}}</option>
                                                </select>
                                            <!--<input type="text" class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="profile.personalInformation.address.stateName"
                                                required>-->
                                            <div *ngIf="stateName.dirty || stateName.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="stateName.valid"> Please enter the state. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">DOB</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <div class="dateBx">
                                                <dp-date-picker class="form-control" name="dtaeOfBirth" #dob="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="birthday"
                                                    [config]="config" [required]="true"></dp-date-picker>
                                                <div *ngIf="dob.touched || profileForm.submitted">
                                                    <div class="color-danger" [hidden]="dob.valid"> Please enter the dob. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Gender</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <div class="customchkbox">
                                                <input id="male" type="radio" value="Male" class="required" aria-required="true" name="userGender" #userGender="ngModel"
                                                    [(ngModel)]="profile.personalInformation.userGender" required>
                                                <label for="male">Male</label>
                                            </div>
                                            &nbsp;&nbsp;&nbsp;
                                            <div class="customchkbox">
                                                <input id="female" type="radio" value="Female" class="required" aria-required="true" name="userGender" #userGender="ngModel"
                                                    [(ngModel)]="profile.personalInformation.userGender" required>
                                                <label for="female">Female</label>
                                            </div>
                                            <div *ngIf="userGender.dirty || userGender.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="userGender.valid"> Please select the gender. </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">LinkedIn profile</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="linkedInUrl" #linkedInUrl="ngModel" [(ngModel)]="profile.personalInformation.linkedInUrl">
                                            <!-- <div *ngIf="linkedInUrl.dirty || linkedInUrl.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="linkedInUrl.valid"> Please enter the linkedIn profile url. </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Tell us something interesting about yourself</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="aboutYourself" #aboutMySelf="ngModel" [(ngModel)]="profile.personalInformation.aboutMySelf">
                                            <div *ngIf="aboutMySelf.dirty || aboutMySelf.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="aboutMySelf.valid"> Please enter the something about yourself. </div>
                                            </div>
                                        </div>
                                    </div>
                                       

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl2']=!collapse['pfl2']" [ngClass]="{active:!collapse['pfl2']}">Employment
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl2']}" class="collapseContentbox">
                            <div class="employmentDiv">
                                <div class="row">

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Employment type</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span>{{profile?.employeement?.employeeType}}</span>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Salary</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span>{{profile?.employeement?.salary}}</span>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Type</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span>{{profile?.employeement?.type}}</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Award</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span> {{additionalInfo?.awardName || 'Not specified'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl3']=!collapse['pfl3']" [ngClass]="{active:!collapse['pfl3'],'heading-danger':checkValidations([fundName,membershipNumber,fundType])}">Superannuation
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl3']}" class="collapseContentbox">
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Fund name</label>
                                        </div>
                                        <div  class="rghtinput10 fundName">
                                        <!-- <div class="fundNameField">
                                                <input type="text" class="form-control" name="fundName" #fundName="ngModel" [(ngModel)]="profile.superannuation.fundName" required>
                                                    
                                                    <div *ngIf="fundName.dirty || fundName.touched || profileForm.submitted">
                                                        <div class="color-danger" [hidden]="fundName.valid"> Please enter the fund name. </div>
                                                    </div>  -->
                                                    <div class="fundNameField">
                                                            <input type="text" 
                                                            class="form-control" 
                                                            (keyup)="SearchSuppernnuationList(profile.superannuation.fundName)" 
                                                            autocomplete="off" 
                                                            name="fundName" 
                                                            #fundName="ngModel" 
                                                            [(ngModel)]="profile.superannuation.fundName"
                                                            placeholder="Please enter the fund name"
                                                            required>
                                                    </div>
                                                    <div *ngIf="fundName.dirty || fundName.touched || profileForm.submitted">
                                                            <div class="color-danger" [hidden]="fundName.valid"> Please enter the fund name. </div>
                                                    </div>
                                                    <div *ngIf="!isSuppernnuationListProcessing && profile.superannuation['isDropDown'] && fundNameArr && fundNameArr.length>0" class="fundNameDropDown">
                                                        <ul >
                                                            <li *ngFor="let f of fundNameArr" (click)="profile.superannuation.fundName=f;profile.superannuation['isDropDown']=false;" >{{f}}</li>
                                                        </ul>
                                                    </div>
                                                    <span>
                                                        <md-progress-spinner style="margin-top:20px;" *ngIf="isSuppernnuationListProcessing" mode="indeterminate" color=""></md-progress-spinner>                                       
                                                    </span>       
                                           
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Fund membership no.</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="fundMembershipNumber" #membershipNumber="ngModel" [(ngModel)]="profile.superannuation.membershipNumber"
                                                required>
                                            <div *ngIf="membershipNumber.dirty || membershipNumber.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="membershipNumber.valid"> Please enter the membership number. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Fund type</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <!-- <input type="text" class="form-control" name="fundType" #fundType="ngModel" [(ngModel)]="profile.superannuation.fundType" required>
                                            <div *ngIf="fundType.dirty || fundType.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="fundType.valid"> Please enter the fund type. </div>
                                            </div> -->
                                            <div class="currentEmpoption">
                                                <div style="display:inline-block; width:200px; margin-right:20px;" class="customChoice">
                                                    <input id="rp" type="radio" name="fundType" #fundType="ngModel" [(ngModel)]="profile.superannuation.fundType" value="Self Managed"
                                                        class="required" required>
                                                    <label for="rp">Self Managed</label>
                                                </div>
                                                <div class="customChoice" style="display:inline-block; width:200px;">
                                                    <input id="rp2" type="radio" name="fundType" #fundType="ngModel" [(ngModel)]="profile.superannuation.fundType" value="Regulated"
                                                        class="required" required>
                                                    <label for="rp2">Regulated</label>
                                                </div>
                                            </div>
                                            <div style="width:100%;float:left;" *ngIf="fundType.dirty || fundType.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="fundType.valid">
                                                    Fund type is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="profile.superannuation.fundType && profile.superannuation.fundType == 'Self Managed' ">
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Super bank account BSB</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input type="text" class="form-control" name="accountBsb" #accountBsb="ngModel" [(ngModel)]="profile.superannuation.accountBsb"
                                                    required>
                                                <div *ngIf="accountBsb.dirty || accountBsb.touched || profileForm.submitted">
                                                    <div class="color-danger" [hidden]="accountBsb.valid"> Please enter the account BSB. </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Electronic service address</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input type="text" class="form-control" name="electronicServicesAddress" #electronicServices="ngModel" [(ngModel)]="profile.superannuation.electronicServices"
                                                    required>
                                                <div *ngIf="electronicServices.dirty || electronicServices.touched || profileForm.submitted">
                                                    <div class="color-danger" [hidden]="electronicServices.valid"> Please enter the electronic service address. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Super bank account #</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input type="text" class="form-control" name="superBAnkAccountNumber" #accountNumber="ngModel" [(ngModel)]="profile.superannuation.accountNumber"
                                                    required>
                                                <div *ngIf="accountNumber.dirty || accountNumber.touched || profileForm.submitted">
                                                    <div class="color-danger" [hidden]="accountNumber.valid"> Please enter the account number. </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Super bank account name</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <input type="text" class="form-control" name="superBankAccountName" #accountName="ngModel" [(ngModel)]="profile.superannuation.accountName"
                                                    required>
                                                <div *ngIf="accountName.dirty || accountName.touched || profileForm.submitted">
                                                    <div class="color-danger" [hidden]="accountName.valid"> Please enter the account name. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl4']=!collapse['pfl4']" [ngClass]="{active:!collapse['pfl4'],'heading-danger':checkValidations([bankName,bsbNumber,baccountName,baccountNumber])}">Banking details
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl4']}" class="collapseContentbox">
                            <div>
                                <div class="row">

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline"> Bank name</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="bankName" #bankName="ngModel" [(ngModel)]="profile.bankDetail.bankName" required>
                                            <div *ngIf="bankName.dirty || bankName.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="bankName.valid"> Please enter the bank name. </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">BSB number</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" maxlength="6" name="bsbNumber" #bsbNumber="ngModel" [(ngModel)]="profile.bankDetail.bsbNumber"
                                                required>
                                            <div *ngIf="bsbNumber.dirty || bsbNumber.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="bsbNumber.valid"> Please enter the BSB number. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Bank account name</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="bankAccountName" #baccountName="ngModel" [(ngModel)]="profile.bankDetail.accountName"
                                                required>
                                            <div *ngIf="baccountName.dirty || baccountName.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="baccountName.valid"> Please enter the account name. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Account number</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" minlength="6" maxlength="9" name="bankAccountNumber" #baccountNumber="ngModel" [(ngModel)]="profile.bankDetail.accountNumber"
                                                required>
                                            <div *ngIf="baccountNumber.dirty || baccountNumber.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="baccountNumber.valid"> Please enter the account number. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="employeeDocumentSigned.length>0" class="collapseInfoBox">
                        <h4 (click)="collapse['pfl5']=!collapse['pfl5']" [ngClass]="{active:!collapse['pfl5']}">Employee document
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl5']}" class="collapseContentbox">
                            <div>
                                <div class="row">
                                    <div class="col-md-3 text-center" *ngFor="let doc of employeeDocumentSigned;let i=index;">
                                        <figure>
                                            <i class="fa fa-file-text" style="font-size: 50px;"></i>
                                        </figure>
                                        <figcaption>{{doc?.title}}</figcaption>
                                        <div class="buttonWrap">
                                            <button type="button" class="btn btn-success" (click)="downloadPDF(doc)">Download</button>
                                            <!-- <button class="btn btn-danger" (click)="removeDoc(i)">Remove</button> -->
                                        </div>
                                    </div>
                                    <span *ngIf="!employeeDocumentSigned.length" class="col-md-12 text-center">No record found.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl6']=!collapse['pfl6']" [ngClass]="{active:!collapse['pfl6']}">Upload your document
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl6']}" class="collapseContentbox">
                            <div>
                                <div class="row">
                                    <div class="col-md-3 text-center" *ngFor="let doc of employeeDocumentSubmit;let i=index;">
                                        <figure>
                                            <i class="fa fa-file-text" style="font-size: 50px;"></i>
                                        </figure>
                                        <figcaption>{{doc?.title}}</figcaption>
                                        <figcaption *ngIf="doc?.expiryDate">{{doc?.expiryDate}}</figcaption>
                                        <div class="buttonWrap">
                                            <a class="btn btn-success" *ngIf="doc.fileUrl" href="{{doc.fileUrl}}" download>Download</a>                                            
                                            <a class="btn btn-success" *ngIf="!doc.fileUrl" href="{{doc.edsFile}}" download>Download</a>
                                            <button class="btn btn-danger" type="button" (click)="removeDoc(i)">Remove</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-right">
                                        <div class="text-right">
                                            <button type="button" (click)="onpopup()" class="btn-bs-file btn btn-lg btn-primary">
                                                Upload document&nbsp;
                                                <i class="fa fa-upload"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div  class="collapseInfoBox">
                     <h4 (click)="collapse['pfl12']=!collapse['pfl12']" [ngClass]="{active:!collapse['pfl12'],'heading-danger':docRequired}">Mandatory document
                     <span class="pull-right">
                     <i class="fa fa-angle-down"></i>
                     </span>
                     </h4>
                     <div [ngClass]="{open:!collapse['pfl12']}" class="collapseContentbox">
                        <div>
                           <div class="row">
                              <div style="margin-bottom:5px !important;" class="col-md-3 text-center" *ngFor="let doc of profile.mandatoryDocuments;let i=index;">
                                 <figure>
                                    <i class="fa fa-file-text" style="font-size: 50px;"></i>
                                 </figure>
                                 <figcaption ><div  *ngIf="!doc.file"> Please upload your </div>{{doc?.title}}</figcaption>
                                <figcaption *ngIf="doc?.expiryDate">{{doc?.expiryDate}}</figcaption>
                                 
                                 <div class="buttonWrap">
                                    <div>
                                        <!--<span  class="btn btn-lg btn-filter text-center btn-file">
                                         <i class="fa fa-upload"></i>&nbsp;Upload < input name="file{{doc.mandatoryDocumentID}}"  (change)="uploadDocs($event,doc)"  accept=".pdf,.doc,.docx,.png,.jpeg,.txt,.odt,.ott,.xml,.rtf" type="file" />
                                        </span>-->
                                    <a *ngIf="doc.file"  class="btn btn-success" href="{{doc.fileUrl}}" download>Download</a>                                        
                                    <button type="button" class="btn btn-success" *ngIf="!doc.file" (click)="uploadDocs(doc,i)">Upload </button>
                                    <button class="btn btn-danger"  type="button"  [disabled]="!doc?.file" (click)="onDeleteMandDocs(doc,i)">Remove</button>                                    
                                        <br>{{doc?.file}}
                                            <!--<md-progress-spinner style="margin-top:20px;" *ngIf="doc['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>                                        -->
                                    </div>
                                 </div>
                              </div>
                              <span *ngIf="!profile.mandatoryDocuments.length" class="col-md-12 text-center">No record found.</span>
                           </div>
                        </div>
                     </div>
                  </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl8']=!collapse['pfl8']" [ngClass]="{active:!collapse['pfl8'],'heading-danger':checkValidations([cname,cemail,cmobileNumber,crelation])}">Emergency contact
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl8']}" class="collapseContentbox">
                            <div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Name</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="emergencyContactName" #cname="ngModel" [(ngModel)]="profile.employeeContact.name" required>
                                            <div *ngIf="cname.dirty || cname.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="cname.valid"> Please enter the name. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Email</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="emergencyContactEmail" #cemail="ngModel" [(ngModel)]="profile.employeeContact.email" required
                                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                            <div *ngIf="cemail.dirty || cemail.touched || profileForm.submitted">
                                                <div class="color-danger" *ngIf="!cemail.value && !cemail.valid"> Please enter the email. </div>
                                                <div class="color-danger" *ngIf="cemail.value && !cemail.valid">Email is not valid.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Mobile phone</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="emergencyContactMobileNumber" #cmobileNumber="ngModel" [(ngModel)]="profile.employeeContact.mobileNumber"
                                                required pattern="^((\\+[1-9]{1,4}[ \\-]*)|(\\([0-9]{2,3}\\)[ \\-]*)|([0-9]{2,4})[ \\-]*)*?[0-9]{3,4}?[ \\-]*[0-9]{3,4}?$">
                                            <div *ngIf="cmobileNumber.dirty || cmobileNumber.touched || profileForm.submitted">
                                                <div class="color-danger" *ngIf="!cmobileNumber.value && !cmobileNumber.valid"> Please enter the phone number. </div>
                                                <div class="color-danger" *ngIf="cmobileNumber.value && !cmobileNumber.valid">Phone number is not valid.</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Relation</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="emergencyContactRelation" #crelation="ngModel" [(ngModel)]="profile.employeeContact.employeeRelation"
                                                required>
                                            <div *ngIf="crelation.dirty || crelation.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="crelation.valid"> Please enter the relation. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl9']=!collapse['pfl9']" [ngClass]="{active:!collapse['pfl9']}">Licence details
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl9']}" class="collapseContentbox">
                            <div>
                                <div class="row">

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Licence name</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="licenceTitle" #licenceTitle="ngModel" [(ngModel)]="profile.employeeLicence.licenceTitle"
                                                >
                                            <!--<div *ngIf="licenceTitle.dirty || licenceTitle.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="licenceTitle.valid"> Please enter the licence name. </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Licence expiry</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <dp-date-picker class="form-control" name="expiryDate" #expiryDate="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="licExpiry"
                                                [config]="config" ></dp-date-picker>
                                            <!-- <input type="text" class="form-control" name="expiryDate" #expiryDate="ngModel" [(ngModel)]="profile.employeeLicence.expiryDate"
                                            required> -->
                                            <!--<div *ngIf="expiryDate.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="expiryDate.valid"> Please enter the expiry date. </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Licence number</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="licenceNumber" #licenceNumber="ngModel" [(ngModel)]="profile.employeeLicence.licenceNumber"
                                                >
                                            <!--<div *ngIf="licenceNumber.dirty || licenceNumber.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="licenceNumber.valid"> Please enter the licence number. </div>
                                            </div>-->
                                        </div>
                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Licence country</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <select class="form-control" name="countryID" #lcountry="ngModel" [(ngModel)]="profile.employeeLicence.countryID" >
                                                <option value="" disabled="true">-------Please Select Country--------</option>
                                                <option *ngFor="let country of countryList" [value]="country.countryID">{{country.countryTitle}}</option>
                                            </select>
                                            <!-- <input type="text" class="form-control" name="lcountry" #lcountry="ngModel" [(ngModel)]="profile.employeeLicence.country"
                                            required> -->
                                            <!--<div *ngIf="lcountry.dirty || lcountry.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="lcountry.valid"> Please select a country. </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Licence state</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <input type="text" class="form-control" name="lstateName" #lstateName="ngModel" [(ngModel)]="profile.employeeLicence.stateName"
                                                >
                                            <!--<div *ngIf="lstateName.dirty || lstateName.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="lstateName.valid"> Please enter the state name. </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['pfl10']=!collapse['pfl10']" [ngClass]="{active:!collapse['pfl10'],'heading-danger':checkValidations([usersignature])}">Adopt signature
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['pfl10']}" class="collapseContentbox">
                            <div class="paddingBox">
                                <div class="row">
                                    <!-- <div *ngIf="signature" class="col-md-3 text-center">
                                <figure style="width: 100%;"><img [src]="signature" height="100px" /></figure>
                                <figcaption>Signature</figcaption>
                                <div class="buttonWrap">
                                    <button class="btn btn-success">Download</button>
                                    <button class="btn btn-danger" (click)="signature=null;">Remove</button>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <div class="text-right">
                                    <label>testDemo.txt</label>&nbsp;&nbsp; 
                                    <label class="btn-bs-file btn btn-lg btn-primary">
                                    Upload document
                                    <input type="file" accept="image/png,image/jpg,image/jpeg" (change)="uploadSignature($event)"/>
                                </label>
                                </div>
                            </div> -->
                                    <div class="col-lg-4 col-md-6">
                                        <h6 class="heading">Adopt your signature</h6>
                                        <p>Confirm your name, initial and signature.</p>
                                        <div class="form-group">
                                            <label class="inline-from">Full name</label>
                                            <input class="form-control" name="usersignature" #usersignature="ngModel" [(ngModel)]="signatureText" required>
                                            <div *ngIf="usersignature.dirty || usersignature.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="usersignature.valid"> Please enter a signature. </div>
                                            </div>
                                        </div>
                                        <p>Preview</p>
                                        <!-- <span class="sign1" style="font-size:24px;">{{signature}}</span> -->
                                        <div class="sample_signature" *ngIf="profile?.signature?.type">
                                            <ul style="height: 110px;">
                                                <li style="max-width: 349px;">
                                                    <a class="cursor" href="javascript:void(0)">
                                                        <b>Signed by:</b>
                                                        <span [class]="profile?.signature?.type">{{profile?.signature?.text}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div *ngIf="(!profile?.signature || profile?.signature?.type=='') &&  profileForm.submitted">
                                            <div class="color-danger"> Please select a signature. </div>
                                        </div>
                                        <p>
                                            <!-- By clicking Adopt and Sign, I agree that the signature and initials will be the electronic
                                    representation of my signature and initials for all purpose when I (or my agent) use
                                    them. -->
                                            I {{profile?.personalInformation?.firstName}} {{profile?.personalInformation?.lastName}} understand that the Happy HR induction
                                            and acceptance process will time stamp my acceptance of the Employment Contract,
                                            HR polices and performance management procedures and I agree that this acceptance
                                            process permits the use of Happy HR ("HappyHR.com") to electronically execute
                                            contracts. Where you use Happy HR to execute this Agreement:a) you expressly
                                            consent to the use of an electronic signature as the method of execution for
                                            this Agreement; b) you warrant that the person affixing any electronic signature
                                            to this Agreement has the requisite authority to execute the Agreement on behalf
                                            of the yourself; c) you agree that execution by electronic signature by you using
                                            Happy HR is legally valid and binding.
                                        </p>
                                        <hr>
                                        <div class="buttonWrap">
                                            <input id="sign" type="checkbox" value="Adopt sign" [checked]="adoptSign" class="required" aria-required="true" name="userSign" #userSign="ngModel"
                                                [(ngModel)]="adoptSign" required>
                                            <label for="sign">Adopt signature</label>
                                            <div *ngIf="userSign.dirty || userSign.touched || profileForm.submitted">
                                                <div class="color-danger" [hidden]="userSign.valid"> Please select a signature and mark as adopt. </div>
                                            </div>
                                            <!-- <button class="btn btn-secondary">Adopt sign</button>
                                    <button class="btn btn-default">Cancel</button> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-6">
                                        <div class="sample_signature">
                                            <ul>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign1')">
                                                        <b>Signed by:</b>
                                                        <span class="sign1">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign2')">
                                                        <b>Signed by:</b>
                                                        <span class="sign2">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign3')">
                                                        <b>Signed by:</b>
                                                        <span class="sign3">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign4')">
                                                        <b>Signed by:</b>
                                                        <span class="sign4">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign5')">
                                                        <b>Signed by:</b>
                                                        <span class="sign5">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign6')">
                                                        <b>Signed by:</b>
                                                        <span class="sign6">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign7')">
                                                        <b>Signed by:</b>
                                                        <span class="sign7">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign8')">
                                                        <b>Signed by:</b>
                                                        <span class="sign8">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign9')">
                                                        <b>Signed by:</b>
                                                        <span class="sign9">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign10')">
                                                        <b>Signed by:</b>
                                                        <span class="sign10">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign11')">
                                                        <b>Signed by:</b>
                                                        <span class="sign11">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign12')">
                                                        <b>Signed by:</b>
                                                        <span class="sign12">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign13')">
                                                        <b>Signed by:</b>
                                                        <span class="sign13">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign14')">
                                                        <b>Signed by:</b>
                                                        <span class="sign14">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign15')">
                                                        <b>Signed by:</b>
                                                        <span class="sign15">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="cursor" (click)="selectSignature('sign16')">
                                                        <b>Signed by:</b>
                                                        <span class="sign16">{{signatureText}}</span>
                                                        <!-- <small>332323BT866XXOPJHH..</small> -->
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errors.length>0 && profileForm.submitted">
                            <div class="alert alert-danger" >
                                {{errors[0]}}
                            </div>
                        </div>
                    <md-progress-spinner *ngIf="isSaving" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isSaving" class="buttonWrap text-center">
                        <button *ngIf="!isEditing" style="margin-right:7px;" type="button" (click)="saveAs('draft')" class="btn btn-special btn-lg">Save draft &nbsp;
                            <i class="fa fa-save"></i>
                        </button>
                        <button *ngIf="!isEditing" type="submit" class="btn btn-primary btn-lg">Next &nbsp;
                            <i class="fa fa-angle-double-right"></i>
                        </button>
                        <button *ngIf="isEditing" type="submit" class="btn btn-primary btn-lg">Save &nbsp;
                            <i class="fa fa-save"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>