.positionFilter {
    padding: 0 30px 25px;
    md-input-container {
        width: 100%;
    }
}

.mdl-data-table td.outerTbl:last-of-type {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}

.mdl-data-table td.tableHead {
    font-weight: bold;
    font-size: 15px;
    background-color: #ebebeb;
    color: #808080;
}

.selectWrapper {
    width: 50%;
    md-input-container {
        width: 100%;
    }
}

.positionFilter {
    padding: 15px 13px 25px;
}

.box {
    &:last-child {
        &.box-default {
            .mdl-data-table {
                border-left: 0px;
                border-right: 0px;
                tr {
                    &:hover {
                        background-color: rgba(202, 202, 202, 0.08);
                    }
                    th {
                        border-top: 1px solid #cccccc;
                        border-bottom: 1px solid #ffffff;
                        background: #CCCCCC;
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.addUserBtn {
    span {
        position: relative;
        top: 0;
    }
}

.thead {
    background: #cccccc;
    padding: 15px;
    margin-bottom: 1px;
    margin-top: 30px;
    font-family: 'LatoWebHeavy';
    color: #1b1b1b;
    &:first-child {
        margin-top: 0px;
    }
}
.btn-filter{
    background: #fff;
    border: 1px solid #ddd;
    height: 40px;
    font-size: 15px;
}
.tableWrapper{
    overflow:auto;
    table{
        min-width:751px;
        width:100%;
    }
}