<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">List of letters</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

        <div *ngIf="!isProcessing" class="box box-default  paddingBox policyDetail">
            <div class="row">
                <div class="col-lg-10 col-md-9">
                    <div class="input-group">
                        <input class="form-control" id="inlineFormInputGroup" placeholder="Search" type="text" (keyup)="onSearchKeyChange()" [(ngModel)]="searchKey">
                        <div class="input-group-addon">
                            <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <button class="btn btn-filter text-left full-width" (click)="toggleBtn=!toggleBtn">Filter <i class="fa pull-right" [ngClass]="toggleBtn?'fa-angle-up':'fa-angle-down'"></i></button>
                </div>
            </div>
            <div>
                <div class="filter-wrapp box box-default contentBox positionFilter" *ngIf="toggleBtn">
                    <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span>
                    <div class="row">
                        <div class="filtercolumn">
                            <h5 class="filterTitle">Letter type</h5>
                            <div class="input-group gapleft">
                                <input class="form-control" id="inlineFormInputGroup" placeholder="Search" type="text" [(ngModel)]="searchKeyLetterType" #searching>
                                <div class="input-group-addon">
                                    <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                                </div>
                            </div>
                            <div class="filterItems">
                                <ul>
                                    <li *ngFor="let type of lettersType|searchBy: 'title': searchKeyLetterType;let in=index">
                                        <md-checkbox name="letter_{{in}}" (change)="onFilter()" [(ngModel)]="filters.letterTypeID[type.letterTypeID]">{{type.title}} </md-checkbox>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="positionListTable paddingBox box box-default" *ngIf="!isProcessing">
            <div style="background-color:danger; width:100%" *ngIf="letters.length==0 && !letterProcessing">
                <div class="alert alert-danger" style="width:100%" align="center" id="textCenter">No record found</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tableWrapper">

                        <table class="full-width mdl-data-table" style="border-bottom:0px;">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Date of creation</th>
                                    <th>Last updated</th>
                                </tr>
                            </thead>
                            <ng-container *ngFor="let type of lettersType">
                                <tbody>
                                    <tr>
                                        <td colspan="3" class="thead" style="margin-top:5px">{{type.title}}</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr (click)="onClick(letter.letterID)" class="cursor" *ngFor="let letter of differentLettersData[type.title];let i=index">
                                        <ng-container *ngIf="letter.lettertype?.letterTypeID==type.letterTypeID">

                                            <td>{{letter.title}}</td>
                                            <td>{{letter.insertTime| dateFormat:'longDate'}}</td>
                                            <td>{{letter.updateTime| dateFormat:'longDate'}}</td>
                                        </ng-container>
                                    </tr>
                                </tbody>
                            </ng-container>
                        </table>
                    </div>
                </div>
            </div>
            <div class="full-width text-center">
                <md-progress-spinner *ngIf="letterProcessing" mode="indeterminate" color=""></md-progress-spinner>
            </div>
        </div>
    </article>
</div>