<section class="descriptionVersion">
    <div class="tabing-content full-width">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item" [routerLink]="['/app/employee/position-description']">Positiopn description</li>
            <li class="breadcrumb-item active" [routerLink]="['/app/employee/position-description/version-history']">Version history</li>
        </ol>
        <div class="cmpnycontentBox">
            <div class="tabContent">
                <div class="mainTabbing">
                    <div class="header">
                        <p>version:1.0</p><br>
                        <h3>Date: 22 March 2017</h3>
                        <a class="btn btn-blue pull-right">Restore to this version</a>
                    </div>
                    <div class="description">
                        <h3>testing & quality assurance</h3>
                        <p>
                            Lorem ipsum dolor sit amet, ad vim admodum democritum comprehensam. Sed ad debet tibique tacimates. Antiopam instructior in vim. Quo dicat pericula evertitur cu, eos id nibh prima consetetur, ei mea persius vituperata. Elit liber his ea, cibo utroque
                            nostrum eam in.
                        </p>

                        <div>
                            <h4>Requirement walkthrough & test plan definition</h4>
                            <p>
                                Lorem ipsum dolor sit amet, ad vim admodum democritum comprehensam. Sed ad debet tibique tacimates. Antiopam instructior in vim. Quo dicat pericula evertitur cu, eos id nibh prima consetetur, ei mea persius vituperata. Elit liber his ea, cibo utroque
                                nostrum eam in.
                            </p>
                            <ul>
                                <li>Ensure a cosmetic bug before delivery</li>
                                <li>validate website</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tabing-nav">
        <ul>
            <li>
                <a href="javascript:void(0)"><span>Version: 1.3</span>
             <p>Date: 22 March 2017</p>
          </a>
            </li>
            <li>
                <a href="javascript:void(0)"><span>Version: 1.4</span>
             <p>Date: 22 March 2017</p>
          </a>
            </li>
            <li>
                <a href="javascript:void(0)"><span>Version: 1.5</span>
             <p>Date: 22 March 2017</p>
          </a>
            </li>
            <li>
                <a href="javascript:void(0)"><span>Version: 1.6</span>
             <p>Date: 22 March 2017</p>
          </a>
            </li>
        </ul>
    </div>
</section>