<div class="container-fluid chapter">
    <div>
        <h2 class="article-title">{{title}}</h2>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div class="box contentBox" *ngIf="!isProcessing">
        <div class="col-sm-12 text-right">
            <button md-raised-button (click)="statusChange(template.status)" color={{color}}>{{template.status}}</button>
        </div>
        <div class="clearfix"></div>
        <form #emailTemplateForm="ngForm" name="material_login_form" class="md-form-auth form-validation" (ngSubmit)="addEditEmailTemplate(emailTemplateForm.form.valid)">
            <div class="mat-input-wrapper">
                <md-input-container>
                    <input [(ngModel)]="template.title" required mdInput type="text" #templatename="ngModel" name="templatename" placeholder="Template name">
                </md-input-container>
                <div *ngIf="templatename.errors && (templatename.dirty || templatename.touched)">
                    <div class="alert alert-danger" [hidden]="!templatename.errors.required">
                        Template name is required !
                    </div>
                </div>
            </div>
            <div class="mat-input-wrapper">
                <md-input-container>
                    <input [(ngModel)]="template.subject" required mdInput type="text" #subject="ngModel" name="subject" placeholder="Subject">
                </md-input-container>
                <div *ngIf="subject.errors && (subject.dirty || subject.touched)">
                    <div class="alert alert-danger" [hidden]="!subject.errors.required">
                        Subject is required !
                    </div>
                </div>
            </div>
            <div class="mat-input-wrapper">
                <div class="mat-input-container full-width">
                    <md-input-container class="full-width">
                        <textarea mdInput required style="height:50px;resize:none" [(ngModel)]="template.message" required #message="ngModel" name="message" placeholder="Message"></textarea>
                    </md-input-container>
                    <div *ngIf="message.errors && (message.dirty || message.touched)">
                        <div class="alert alert-danger" [hidden]="!message.errors.required">
                            Message is required !
                        </div>
                    </div>
                </div>
            </div>
            <div class="mat-input-wrapper">
                <md-select [(ngModel)]="template.notification.value" #notification="ngModel" name="notification" placeholder="Select notification" required>
                    <md-option *ngFor="let notification of notificationList" [value]="notification.value">{{notification.title}}</md-option>
                </md-select>
                <div *ngIf="notification.errors && (notification.dirty || notification.touched)">
                    <div class="alert alert-danger" [hidden]="!notification.errors.required">
                        Notification is required !
                    </div>
                </div>
            </div>
            <md-progress-spinner *ngIf="isButtonProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div class="buttonWrapp" *ngIf="!isButtonProcessing">
                <button md-raised-button [disabled]="!emailTemplateForm.valid" type="submit" color="primary">{{buttonText}}</button>
                <button md-raised-button color="default" (click)="onCancel()">Cancel</button>
            </div>
            <div style="margin-top: 20px;">
               Variables: {{template.variable}} 
            </div> 
        </form>

    </div>
</div>