md-input-container{
    display:block;
}
.buttonWrapp{
    button{
        &:first-child{
            margin-right:5px;
        }
    }
}

.mdl-data-table{
    tr{
        td{
            &:first-child{
                width:70px !important;
            }
            &:last-child{
                width:auto !important;
            }
        }
    }
}

textarea{
    min-height:250px;
}
.mdl-data-table td:last-child{
    width:initial;
}