<div class="reschedule-popup">
  <h5>Reschedule developemnt plan</h5>
  <hr>
  <div>
   <form #dp="ngForm">
<div >

              <div class="form-group">
                <div  class="lftinpt30  text-left">
                  <label class="form-inline">Training date</label>
                </div>
                <div class="rghtinput">
                  <input [readonly]=true #trainigDate="ngModel" required [(ngModel)]="developmentPlan.trainingDate" name="trainingdate" placeholder="Select date"
                    class="form-control" ngui-datetime-picker date-format="YYYY-MM-DD" date-only=true [close-on-select]="true"
                  />
                  <div *ngIf="trainigDate.errors && ( (trainigDate.dirty || trainigDate.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(trainigDate.errors.required || trainigDate.errors.whitespace)">
                      Trainig date is required.
                    </div>
                  </div>
                </div>

              </div>
              <br>
              <div class="form-group">
                <div class="lftinpt30 text-left">
                  <label class="form-inline">Training time</label>
                </div>
                <div class="rghtinput">
                  <input [readonly]=true #trainigTimep="ngModel" required [(ngModel)]="developmentPlan.trainingTime" name="trainingtimename"
                    placeholder="Select time" class="form-control" ngui-datetime-picker date-format="hh:mm:ss" time-only=true
                    [close-on-select]="true" />
                  <div *ngIf="trainigTimep.errors && ( (trainigTimep.dirty || trainigTimep.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(trainigTimep.errors.required || trainigTimep.errors.whitespace)">
                      Trainig time is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="lftinpt30 text-left">
                  <label class="form-inline">Assessment date</label>
                </div>
                <div class="rghtinput">

                  <input [readonly]=true #assessmentDate="ngModel" required [(ngModel)]="developmentPlan.assessmentDate" name="assessmentDate1"
                    placeholder="Select date" class="form-control" ngui-datetime-picker date-format="YYYY-MM-DD" date-only=true
                    [close-on-select]="true" />
                  <div *ngIf="assessmentDate.errors && ( (assessmentDate.dirty || assessmentDate.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(assessmentDate.errors.required || assessmentDate.errors.whitespace)">
                      Assessment date is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="lftinpt30 text-left">
                  <label class="form-inline">Assessment time</label>
                </div>
                <div class="rghtinput">
                  <input [readonly]=true #assessmentTime="ngModel" required [(ngModel)]="developmentPlan.assessmentTime" name="assessmentTimeq"
                    placeholder="Select time" class="form-control" ngui-datetime-picker date-format="hh:mm:ss" time-only=true
                    [close-on-select]="true" />
                  <div *ngIf="assessmentTime.errors && ( (assessmentTime.dirty || assessmentTime.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(assessmentTime.errors.required || assessmentTime.errors.whitespace)">
                      Assessment time is required.
                    </div>
                  </div>
                </div>
              </div>

  <div class="form-group col-sm-12 text-center">
   
    <md-progress-spinner class="buttonWrap" *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isActionProcessing" class="buttonWrap">
      <button (click)="OnReschedule(dp.form.valid)" class="btn btn-success">Re-schedule</button>
    </div>
  </div>
</div>
</form>
</div>
</div>