.tableWrapper {
    .table {
        min-width: 1200px;
        .dropdown {
            .dropdown-item {
                display: block;
            }
            .dropdown-menu {
                min-width: 8rem;
            }
        }
    }
}