<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee/survey']">Survey list</a></li>
                <li class="breadcrumb-item active">Employee survey answer/response</li>
            </ol>
        </div>
    </div>
    <h4 class="heading" *ngIf="survey?.anonymous=='Yes'">This is an anonymous survey</h4>
    <div class="row">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="cmpnycontentBoxInner">
                    <div class="header-top">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <h4 class="heading"> Assigned manager</h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xl-3">
                                <div class="media">
                                    <div class="media-left d-flex align-self-center  media-middle d-flex align-self-center">
                                        <img class="img-circle" [src]="survey?.assignedBy?.imageUrl" height="40px" width="40px"></div>
                                    <div class="d-flex align-self-center  media-right d-flex align-self-center">
                                        <p style="margin: 0;padding-left: 12px;"><b>{{survey?.assignedBy?.name}}</b><br>{{survey?.assignedBy?.position || 'Not Specified'}}</p>
                                    </div>
                                </div>
                                <button *ngIf="survey?.assignedBy?.role" class="btn btn-primary">{{survey?.assignedBy?.role || 'Not Specified'}}</button>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="row managerDeatails">
                                    <div class="col-2"><b>Date</b></div>
                                    <div class="col-10">{{formatDate(survey?.surveyDate)}}</div>
                                    <div class="col-2"><b>Time</b></div>
                                    <div class="col-10">{{formatTime(survey?.surveyDate)}}</div>
                                    
                                </div>
                            </div>
                            <div *ngIf="survey?.anonymous!='Yes' && !isAnonymous" class="col-lg-4 col-md-6 col-sm-6" style="display: -webkit-box;">
                                    Anonymous : <md-checkbox type="checkbox" name="anonymous" [checked]="anonymous==true" (change)="toggle()"></md-checkbox>
                                    <div class="anonymous">
                                        <label style="width: 1082px;">ticking this box you can make your survey anonymous so the company admin will not know that the answers you provide have come from you.</label>  
                                    </div>

                                                                                                                                              
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--manager detail-->
            <div class="cmpnycontentBox">
                <div class="cmpnycontentBoxInner">
                    <div *ngFor="let qsn of survey?.data;let i=index;">
                        <div class="empQuesAnsWrapper">
                            <h4 class="heading" style="margin-top:0;">Question {{i+1}}</h4>
                            <p>{{qsn?.questionTitle}}</p>
                        </div>
                        <div class="empQuesAnsWrapper">
                            <div class="editAnswer"><i class="fa fa-edit pull-right"></i></div>
                            <h4 class="heading" style="margin-top:0;">Please answer </h4>
                            <!-- <p *ngIf="!editable[i]">{{qsn?.answer}} </p> -->
                            <textarea class="form-control" rows="4" (ngModelChange)="isDisable=false;" [(ngModel)]="qsn.answer" required></textarea>
                            <div *ngIf="!qsn.answer && submitted" class="alert alert-danger">Required</div>
                        </div>

                    </div>
                    <md-progress-spinner *ngIf="isSubmitting" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isSubmitting" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <button [disabled]="isDisable" (click)="submitted=true; isValid() && submitAnswer()" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>