<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/employee/trophy']">Trophy list</a></li>
        <li class="breadcrumb-item active">Employee voting</li>
    </ol>
    <div class="cmpnycontentBox">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="box">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="heading">Trophy details</h5>
                        <div class="row">
                            <div class="col-xl-6 col-6 form-group"><b>Title</b></div>
                            <div class="col-xl-6 col-6 form-group">{{trophy?.title}}</div>
                            <div class="col-xl-6 col-6 form-group"><b>Award for</b></div>
                            <div class="col-xl-6 col-6 form-group">{{trophy?.awardFor}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <br><br>
                        <figure class="trophy-img">
                            <div class="trophyClr">
                                <i class="fa fa-trophy"></i>
                                <img [src]="trophy.icon" />
                            </div>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="box">
                <br>
                <h5 class="heading">Voting details</h5>

                <div class="row">
                    <!-- <div class="col-sm-2 form-group"><label class="form-inline">Title</label></div>
        <div class="col-sm-9 form-group">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div> -->
                    <div class="col-sm-2 form-group"><label class="form-inline" style="margin:0px 0px;">Reason</label></div>
                    <div class="col-sm-9 form-group">{{trophy.votingReason}} </div>
                </div>
                <br>
                <div class="tlentle">
                    <div class="row">
                        <div class="tableWrapper full-width">
                            <table class="table">
                                <thead>
                                    <th class="text-center">S.no.</th>
                                    <th class="text-center">Employee name</th>
                                    <th class="text-center">Position</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let emp of trophy?.voting;let i=index;">
                                        <td class="text-center">{{i+1}}</td>
                                        <td class="text-center">{{emp.name}}</td>
                                        <td class="text-center">{{emp.position || 'Not Specified'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>