<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/performance-appraisal-listing']">Performance appraisal</a></li>
                    <li class="breadcrumb-item active">Direct assessment</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer">
        <app-steps [progress]='progress'></app-steps>
      </div> -->
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="noResult && !isProcessing" class="cmpnycontentBox text-center">No result found.</div>
        <div *ngIf="!noResult && !isProcessing" class="cmpnycontentBox">
            <h5 class="heading">Assigned to</h5>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <div class="row">
                        <div class="media col-md-3 col-sm-4">
                            <div class="media-left d-flex align-self-center  media-middle">
                                <img class="img-circle" height="40px" [src]="userData?.imageUrl" width="40px">
                            </div>
                            <div class="align-self-center  media-right text-left">
                                {{userData?.name}}
                                <span class="tag">{{userData?.position || 'Not specified'}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="col-sm-12">
                    <br>
                    <br>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">KPIs
                            <span class="pull-right">
                <i class="fa fa-angle-down"></i>
              </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                            <div class="box" *ngFor="let pi of managerResponse?.performanceIndicator;let i=index;">
                                <ul class="indicator">
                                    <li class="lftside">
                                        <h6>Performance indicator</h6>
                                        <label>{{pi?.title}}</label>
                                    </li>
                                    <li class="rghtside">
                                        <h6>Measurement performance indicator</h6>
                                        <label>{{pi?.measure}}</label>
                                    </li>
                                </ul>
                                <br>
                                <h5 class="heading">Manager notes</h5>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin odio sem, Lorem ipsum dolor sit amet, consectetur
                  adipiscing elit. Proin odio sem, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin odio sem</p> -->
                                <textarea class="form-control" style="height: 90px;" [(ngModel)]="pi.managerNote"></textarea>

                                <!-- <div *ngIf="pi.result" class="buttonWrap text-right">
                  <button style="margin-top: 10px;" class="btn" [ngClass]="{'btn-success':pi.result=='Pass','btn-danger':pi.result!='Pass'}">{{pi.result}}</button>
                </div> -->
                                <div class="buttonWrap text-right">
                                    <i *ngIf="pi.result=='Pass'" class="fa fa-check"></i>
                                    <button [disabled]="!pi.managerNote" class="btn btn-success" (click)="pi.result='Pass'">Pass</button>
                                    <i *ngIf="pi.result=='Fail'"  class="fa fa-check"></i>
                                    <button [disabled]="!pi.managerNote" class="btn btn-danger" (click)="pi.result='Fail'">Not passed</button>                                    
                                    <md-progress-spinner *ngIf="pi['isProcessingResult']" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="!pi['isProcessingResult']" class="dropdown btn">
                                        <button [disabled]="!pi.managerNote" class="btn btn-danger" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" (click)="onAction('PIP','kpi',i)">Performance improvement plan</a>
                                            <a class="dropdown-item" (click)="onAction('BPIP','kpi',i)">Behaviour performance improvement</a>
                                            <a class="dropdown-item" (click)="onAction('Disciplinary Action','kpi',i)">Disciplinary action</a>
                                            <a class="dropdown-item" (click)="onAction('Development plan','kpi',i)">Development plan</a>
                                            <a class="dropdown-item" (click)="onAction('Warning','kpi',i)">Warning</a>
                                            <a class="dropdown-item" (click)="onAction('Final Warning','kpi',i)">Final warning</a>
                                            <a class="dropdown-item" (click)="onAction('Terminate','kpi',i)">Terminate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse2']=!collapse['personalinfoCollapse2']" [ngClass]="{active:!collapse['personalinfoCollapse2']}">General manager notes
                            <span class="pull-right">
                <i class="fa fa-angle-down"></i>
              </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse2']}" class="collapseContentbox">
                            <h5 class="heading">Manager notes</h5>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus sem sit amet erat ultricies imperdiet.
                Ut sed imperdiet nulla,.</p> -->
                            <textarea class="form-control" style="height: 90px;" [(ngModel)]="managerResponse.generalManagerNote"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="cmpnycontentBox">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <label class="form-inline">Next assessment date</label>
                </div>
                <div class="col-lg-9 col-md-8 form-group">
                    <dp-date-picker class="form-control" name="nextAssessmentDate" #assessmentDt="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="nextAssessmentDate" [config]="config" placeholder="Assessment date"></dp-date-picker>
                    <!-- <div *ngIf="assessmentDt.touched || submitted">
            <div class="color-danger" [hidden]="assessmentDt.valid">Please select a assessment date.</div>
          </div> -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <label class="form-inline">Reminder date for send self assessment</label>
                </div>
                <div class="col-lg-9 col-md-8 form-group">
                    <dp-date-picker class="form-control" name="reminderDate" #reminderDt="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="reminderDate" [config]="config" placeholder="Reminder date"></dp-date-picker>
                    <!-- <div *ngIf="reminderDt.touched || submitted">
            <div class="color-danger" [hidden]="reminderDt.valid">Please select a reminder date.</div>
          </div> -->
                </div>
            </div>
            <hr>
            <!-- <div class="row">
        <div class="col-lg-3 col-md-4">
          <label class="form-inline">Third parties</label>
        </div>
        <div class="col-lg-9 col-md-8 form-group">
          <p *ngIf="!pa?.thirdParty.length">Not specified</p>
          <div style="display: flex;" *ngFor="let user of pa?.thirdParty">
            <div *ngIf="user?.userID" class="media-left d-flex align-self-center  media-middle">
              <img class="img-circle" height="40px" [src]="user?.userID?.imageUrl" width="40px">
            </div>
            <div *ngIf="user?.userID" class="align-self-center  media-right text-left">
              {{user?.userID?.name}}
              <span class="tag">{{user?.userID?.position || 'Not specified'}}</span>
            </div>
            <div *ngIf="!user?.userID" class="align-self-center  media-right text-left">
              {{user?.email}}
            </div>
          </div>
        </div>
      </div> -->
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <label class="form-inline">Invite third party (Optional)</label>
                </div>
                <div class="col-lg-9 col-md-8 form-group maxDDwidth">
                    <my-multi-select [itemList]="itemList" [modelName]="modelName"></my-multi-select>
                </div>
                <br>
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-lg" (click)="saveManagerResponse()">Complete PI discussion</button>
                </div>
            </div>
        </div>
    </div>