@import '../../performance-appraisal/assessment-by-manager/assessment-by-manager.component.scss';
.buttonWrap {
    margin-top: 8px;
    .btn.dropdown {
        margin: 0px 0px 0px 7px !important;
        padding: 0px 0px;
    }
}