<section class="survey-wrapper">
    <div class="divheader">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/app/company-admin']">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a [routerLink]="['/app/company-admin/survey']">Survey list</a>
            </li>
            <li class="breadcrumb-item active">{{heading}}</li>
        </ol>
    </div>
    <div class="cmpnycontentBox">
        <div class="survey-name">
            <h4>Survey name</h4>
            <div class="nameForm">
                <input class="form-control" #surveyName name="surveyName" [(ngModel)]="survey.title" type="text" placeholder="Survey name"
                    required />
            </div>
        </div>
        <br>

        <div class="collapseInfoBox">
            <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">Survey questions
                <span class="pull-right">
                    <i class="fa fa-angle-down"></i>
                </span>
            </h4>
            <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox" style="overflow: visible;">
                <div class="">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing">
                    <label>Anonymous : <md-checkbox type="checkbox" name="anonymous" [checked]="anonymous==true" (change)="toggle()"></md-checkbox></label>                                                                        
                        <div *ngIf="survey.question.length" class="table-responsive tableWrapper">
                            <table class="full-width table" style="min-width:430px;">
                                <thead>
                                    <!-- <th></th> -->
                                    <th style="width:90px;">S. no.</th>
                                    <th>List of questions</th>
                                    <th>Action</th>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let qsn of survey.question; let i=index;">
                                        <!-- <td><label class="customchkbox"><input type="checkbox" (change)="onCheckQuestion($event,qsn)" /><span></span></label></td> -->
                                        <td>{{i+1}}</td>
                                        <td>
                                            <!-- <inline-editor min="1" style="display:inline-block;" (onSave)="onSave(false,qsn)" type="textarea" [(ngModel)]="qsn.questionTitle"></inline-editor> -->
                                            <div *ngIf="!editable[i]" class="role">{{qsn.questionTitle}}</div>
                                            <textarea class="form-control" rows="4" *ngIf="editable[i]" name="qsnTitle" [(ngModel)]="qsn.questionTitle"></textarea>
                                        </td>
                                        <td *ngIf="qsn['isProcessing']">
                                            <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                                        </td>
                                        <td *ngIf="!qsn['isProcessing']">
                                            <div class="dropdown actionDroapdown actionDDtbl">
                                                <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                                    <button class="dropdown-item color-danger btn-none" *ngIf="!editable[i]" (click)="deleteQuestion(qsn,i)">
                                                        <i class="fa fa-trash-o"></i>&nbsp; Delete</button>
                                                    <button class="dropdown-item color-primary btn-none" *ngIf="!editable[i]" (click)="editable[i]=true;">
                                                        <i class="fa fa-pencil-square-o"></i>&nbsp; Edit question</button>
                                                    <button class="dropdown-item color-success btn-none" *ngIf="editable[i]" (click)="editable[i]=false;">
                                                        <i class="fa fa-floppy-o"></i>&nbsp; Save</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="noRecord" class="text-center alert alert-warning">
                            No record found.
                        </div>
                        <br>
                        <div *ngIf="questionBox.editMode" class="col-sm-12">
                            <div class="form-group add-content text-center surveyQuestion">
                                <div class="col-sm-12">
                                    <angular2-multiselect style="display: inline-block;min-width: 600px;text-align: center;" [data]="superAdminQuestions" [(ngModel)]="selectedQuestion"
                                        [settings]="dropdownSettings2" [selectedItems]="selectedQuestion" (onSelect)="onSelectQuestion($event)"
                                        (onDeSelect)="onDeSelectQuestion($event)">
                                    </angular2-multiselect>
                                </div>


                                <h5 class="text-center heading col-sm-12">
                                    <br>OR</h5>
                                <div class="form-group col-sm-12">
                                    <textarea class="form-control saveBox" autofocus placeholder="Enter your question here.." [(ngModel)]="questionBox.questionTitle"
                                        style="height: 90px;"></textarea>
                                </div>
                            </div>
                            <div class="addNew" class="full-width buttonWrap text-right" style="margin-bottom: 10px;">
                                <button (click)="onSaveQuestion()" class="btn btn-primary ">Add</button>
                                <button (click)="resetQuestionBox(!questionBox.editMode);" class="btn btn-default" style="margin-right: 10px;">Cancel</button>
                                <!-- <button *ngIf="!questionBox.editMode" (click)="resetQuestionBox(!questionBox.editMode);" class="btn btn-primary" style="margin-right: 10px;">
                                Add new question <i class="fa fa-plus"></i>
                            </button> -->

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" *ngIf="!questionBox.editMode">
                                <span (click)="resetQuestionBox(!questionBox.editMode);" class="pull-right color-info cursor color-primary">(+) Add new question</span>
                            </div>
                            <div class="col-sm-12">
                                <md-progress-spinner class="text-center" *ngIf="isSaving" mode="indeterminate" color=""></md-progress-spinner>
                                <div *ngIf="!isSaving" class="btnWrapper text-center">
                                    <button [disabled]="!survey.question.length || !survey.title" (click)="saveSurvey()" class="btn btn-primary btn-lg">Save</button>
                                    <!-- <button type="button" class="btn btn-default btn-lg">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <!--Send to employee-->
        <div class="collapseInfoBox">
            <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">Send to employee
                <span class="pull-right">
                    <i class="fa fa-angle-down"></i>
                </span>
            </h4>
            <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox">
                <div class="full-width">
                    <div class="sendToEmp full-width">
                        <form name="inviteForm" #inviteForm="ngForm" (ngSubmit)="inviteForm.valid && sendSurvey()" class="full-width">
                            <div class="full-width">
                                <div class="completionBx">
                                    <div class="form-group">
                                        <label>
                                            <strong>Completion date</strong>
                                        </label>
                                        <div class="dateBx">
                                            <dp-date-picker class="form-control" name="completion" #completion="ngModel" [theme]="'dp-material'" [mode]="'day'" [(ngModel)]="completionDate"
                                                [config]="config" [required]="active" placeholder="Completion date" [disabled]="!active"></dp-date-picker>
                                            <div *ngIf="completion.touched || inviteForm.submitted">
                                                <div class="alert alert-danger" [hidden]="!active || completion.valid"> Please select the completion date. </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="toggleSwitch">
                                        <label class="switch">
                                            <input type="checkbox" (click)="onChangeSwitch($event)">
                                            <span class="slider round">
                                                <i class="chk">On</i>
                                                <i class="unchk">Off</i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <div class="inviteBox">
                                        <label>
                                            <strong>Invite</strong>
                                        </label>
                                        <div class="inviteSelect">
                                            <angular2-multiselect name="invite" #invite="ngModel" [data]="employeeList" [(ngModel)]="selectedEmployee" [selectedItems]="selectedEmployee"
                                                [settings]="dropdownSettings" required>
                                            </angular2-multiselect>
                                            <div *ngIf="invite.touched || inviteForm.submitted">
                                                <div class="alert alert-danger" [hidden]="selectedEmployee.length"> Please select employee to invite. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <md-progress-spinner *ngIf="isSending" mode="indeterminate" color=""></md-progress-spinner>
                                <div *ngIf="!isSending" class="row">
                                    <button class="btn btn-success pull-right btn-lg myBtn">Start survey</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>