.survey-wrapper {
    padding: 0px 15px 20px;
}

.btn-none {
    background: transparent;
    border: 0;
}

.tableHead {
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4 {
        margin: 5px 0;
        font-size: 22px;
    }
}

.survey-name {
    h4 {
        display: inline-block;
        margin-right: 5%;
        font-size: 22px;
        @media (max-width: 767px) {
            font-size: 18px;
        }
        @media (max-width: 479px) {
            display: block;
        }
    }
    .nameForm {
        display: inline-block;
        width: 400px;
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.customchkbox {
    input[type="checkbox"] {
        &+span {
            padding-left: 0;
            &:before {
                position: static;
                vertical-align: middle;
            }
        }
    }
}

.cmpnycontentBox {
    width: 100%;
    float: left;
}

.assigned-emp {
    padding: 5px 0;
}

.sendToEmp {
    // background-color: #ebebeb;
    margin-top: 30px;
}

.sendToEmpBox {
    border: 1px solid #ccc;
    padding: 30px 20px;
    background: #fff;
    position: relative;
    // float: left;
}

.completionBx {
    width: 58%;
    margin: 0px 0;
    padding-right: 8%;
    position: relative;
    @media (max-width: 1199px) {
        width: 81%;
        padding-right: 13%;
    }
    @media (max-width: 767px) {
        width: 100%;
        padding-right: 0;
    }
    .form-group {
        label {
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
        }
    }
    .dateBx {
        float: right;
        width: 60%;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.toggleSwitch {
    position: absolute;
    right: 0;
    @media (max-width: 1199px) {
        right: 15px;
    }
    @media (max-width:769px) {
        right: 0;
        position: inherit;
    }
}

.inviteBox {
    width: 50%;
    margin: 20px 0 30px;
    @media (max-width: 1199px) {
        width: 68%;
    }
    @media (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
    }
    &>label {
        display: inline-block;
        margin-top: 10px;
    }
    .inviteSelect {
        float: right;
        width: 60%;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.myBtn {
    width: 150px;
    margin: 20px auto 0;
    display: block;
}

.addNew {
    button {
        font-size: 14px;
    }
}

.saveBox {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    .myBtn {
        margin: 0;
        float: right;
    }
    p {
        margin: 0;
    }
}

.cmpnycontentBox {
    padding: 0 20px;
}

.surveyQuestion {
    // max-width: 600px;
    margin: 0 auto;
    float: none !important;
}

.tableWrapper {
    overflow-x: initial !important;
    overflow-y: initial !important;
    table {
        min-width: 100%;
    }
}

button.btn-lg,
a.btn-lg {
    padding: 0.75rem 1.5rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.2rem !important;
}

.collapseContentbox {
    overflow: inherit !important;
}

.listItems {
    max-height: 150px !important;
}

@media (max-width: 767px) {
    width: 100%;
    padding-right: 0;
    .paddingBox {
        padding: 0px 0px;
    }
    .table-responsive {
        overflow-y: auto !important;
    }
    .myclass .pure-checkbox input[type="checkbox"]+label {
        display: inline-block !important;
        overflow: inherit;
    }
}

button[disabled] {
    cursor: not-allowed !important;
    background-color: #64c3fb !important;
}