.serviceList{
    .servicebox{
       padding: 10px 15px;
       background: #333c44;
       color: #ffffff;
       font-size: 15px;
       margin-bottom: 30px;
     }
     button{
         margin-left:15px;
         .icon{
             font-size:25px;
             margin-right:5px;
             position:relative;
             top:-3px;
         }
     }
}
.addUserBtn{
button{
         i{
            font-size: 18px;
            margin-right: 4px;
         }
     }
}