<div class="container-fluid chapter">
  <article class="article">
    <div class="row">
      <div class="col-md-12 pageHead">
        <h2 class="article-title">List of support services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4">
           <div class="messageSidebar">
           <ul class="userType">
            <li [routerLink]="['/app/super-admin/subscription-plans']" >Subscription plans</li>
            <li class="active">Support services</li>
          </ul>
           </div>
        </div>
      <div class="col-lg-9 col-md-8">
        <div class="box box-default paddingBox">
            <div class="serviceList">
               <div class="row">
                
                  <!--<div class="col-md-4" *ngFor="let c of supportServices">
                     <div class="servicebox">{{c?.title}}</div>
                  </div>-->

                  <table [mfData]="supportServices" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10" width="100%">
                  <thead>
                    <tr>
                    <th>Title</th>
                    <th>Description</th>  
                    <th>Action</th>                                        
                    </tr>
                  </thead>
                  <tbody *ngFor="let service of mf.data;let i=index">
                        <tr>
                            <td>{{service?.title}}</td>
                            <td>{{service?.description}}</td>
                            <td>
                                <md-icon (click)="editService(service)" class="material-icons" md-tooltip="Edit">edit</md-icon>
                                <md-icon class="material-icons mat-warn" (click)="onDeleteService(service.serviceID,i)" md-tooltip="Delete">delete</md-icon>
                            </td>
                        </tr>
                        <tr *ngIf="supportServices.length==0">
                            <td class="alert alert-danger" id="textCenter">
                                No record found
                            </td>
                        </tr>
                  </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
               </div>
               <div class="row">
                 <button md-raised-button color="primary" (click)="addServiceField()" class="theme-button">
                                <span class="icon">+</span>  Add service
                </button>
                  <div class="col-md-12" *ngIf="showServiceField" >
                    <form  #supportServiceForm="ngForm" >                  
                          <md-input-container class="full-width">
                            <input mdInput type="text" [(ngModel)]="supportService.title" #title="ngModel" name="title" placeholder="Support Service Title" required>
                          </md-input-container>
                          <div style="margin-top:10px;"  *ngIf="title.errors && (title.dirty || title.touched)">
                            <div class="alert alert-danger" [hidden]="!title.errors.required">
                              Title is required !
                            </div>
                          </div>
                          <md-input-container class="full-width">
                              <textarea mdInput [(ngModel)]="supportService.description" #discription="ngModel" name="discription" placeholder="Description about this Support Service" required></textarea>
                          </md-input-container>
                          <div style="margin-top:10px;"  *ngIf="discription.errors && (discription.dirty || discription.touched)">
                            <div class="alert alert-danger" [hidden]="!discription.errors.required">
                              Description is required !
                            </div>
                          </div>
                          <div class="btn-wrapper col-md-12 text-center addUserBtn">
                            <button md-raised-button color="primary" [disabled]="!supportServiceForm.form.valid" (click)="onAddEditService(supportServiceForm.form.valid,supportServiceForm)" class="theme-button">
                                 {{buttonText}}
                            </button>
                             <button md-raised-button color="default" (click)="onCancel(supportServiceForm,supportService)">
                                 Cancel
                            </button>
                        </div>
                  
                   </form>
                  </div>
               </div>
            </div>
        </div>
        </div>
    </div>
  </article>
</div>