.form-group {
    width: 100% !important;
    .lftinpt10 {
        width: 37%;
        float: left;
    }
    .rghtinput10 {
        width: 63%;
        float: left;
        .customChoice {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.customChoice {
    position: relative;
    input {
        +label {
            padding-left: 25px;
            cursor: pointer;
            font-weight: normal !important;
            &:before {
                content: "";
                height: 19px;
                width: 19px;
                display: inline-block;
                border: 1px solid #acacac;
                position: absolute;
                left: 0px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
            }
        }
        display:none;
        &:checked+label {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                height: 7px;
                width: 7px;
                display: inline-block;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                left: 6px;
                top: 6px;
                background: #444444;
            }
        }
    }
}

@media (min-width: 576px) {
    .form-inline label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block !important;
    }
}