<div>
    <form #managerNoteForm="ngForm" class="full-width">
        <div class="row">
            <div class="col-sm-12 form-group">
                <h5 class="heading" style="margin-top:0px;margin-bottom:0px;">Note</h5>
            </div>
            <div *ngIf="noteDetails.objectiveMet" class=" col-sm-12 form-group">
                <div class="lftinpt10">
                    <label class="form-inline" style="text-align:left !important;display:block;">Has the objective been accomplished ?</label>
                </div>
                <div class="rghtinput10">
                    <div class="customChoice">
                        <input [(ngModel)]="noteDetails.objectiveMet" id="assessment1" type="radio" name="assessmentNote" value="Yes" class="required">
                        <label for="assessment1">Yes</label>
                    </div>
                    <div class="customChoice">
                        <input [(ngModel)]="noteDetails.objectiveMet" id="assessment2" type="radio" name="assessmentNote" value="No" class="required">
                        <label for="assessment2">No</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <textarea style="width:100%;resize:none;margin-top:15px;" class="form-control" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="noteDetails.note" myNoSpaces rows="4"></textarea>
                <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                        Manager note is required.
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center" style="margin-top:15px;">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <button *ngIf="!isProcessing" (click)="onUpdate(managerNoteForm.form.valid)" class="btn btn-primary btn-lg">Save</button>
    </div>
</div>