<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
    <div class="col-md-12">
      <h2 class="article-title">Subscription Plan Details</h2>
    </div>
  </div>
  <div class="box box-default  paddingBox subscriptionDetail">
    <div class="row">
        <div class="col-md-12">
           <a class="addUserBtn float-left">
              <button md-raised-button *ngIf="subscriptionPlan?.status=='1'" color="primary" class="addButton"> Active</button>
              <button md-raised-button *ngIf="subscriptionPlan?.status=='0'" color="default" class="addButton"> Inactive</button>
           </a>
           <a class="addUserBtn float-right edit" [routerLink]="['/app/super-admin/subscription-plans/edit',subscriptionPlan?.id]">
              <i class="material-icons">border_color</i>
           </a>
       </div>
       <div class="col-md-6">
          <div class="generalDetail">
             <div class="listRow">
                <label>Paln Name</label>
                <span class="datainfo">{{subscriptionPlan?.title}}</span>
             </div>
             <div class="listRow">
                <label>Duration</label>
                <span class="datainfo">{{subscriptionPlan?.duration}}</span>
             </div>
             <div class="listRow">
                <label>Per Employee Fee</label>
                <span class="datainfo">{{subscriptionPlan?.employeeFee |currency:'USD':true}}</span>
             </div>
             <div class="listRow">
                <label>Minimum Employee Count</label>
                <span class="datainfo">{{subscriptionPlan?.userCount}}</span>
             </div>
          </div>
       </div>
       <div class="col-md-6 associateService">
          <h4>Associated Support Services</h4>
          <ul>
            <li *ngFor=" let s of subscriptionPlan?.supportServices">{{s?.title}}</li>
          </ul>
       </div>
       <div class="col-md-6">
          <div class="generalDetail finalCalculation">
              <div class="listRow">
                <label>Original Price</label>
                <span class="datainfo">{{ subscriptionPlan?.originalPrice | currency:'USD':true}}</span>
             </div>
             <div class="listRow">
                <label>Discounted Price</label>
                <span class="datainfo">{{subscriptionPlan?.discountedPrice |currency:'USD':true}}</span>
             </div>
             <div class="listRow">
                <label>You Save</label>
                <span class="datainfo">{{subscriptionPlan?.youSave |currency:'USD':true}}</span>
             </div>
          </div>
       </div>
    </div>
   </div>
  </article>
</div>
