.subscriptionDetail{
    .addUserBtn{
        cursor:pointer;
        &.edit{
            color:#000000;
            @media (max-width:767px){
                margin-left:15px;
                float: left !important;
            }
        }
    }
.generalDetail{
    margin-top:30px;
    .listRow{
        padding:5px 0px;
        label{
            font-weight:bold;
            min-width:200px;
        }
    }
    &.finalCalculation{
        background: #f1f1f1;
        padding: 15px 23px;
        border: 1px solid #d4d4d4;
    }
    
}
.associateService{
    h4{
      font-size: 20px;
    }
    ul{
        border:1px solid #d4d4d4;
        li{
          padding:8px 15px;
          border-bottom:1px solid #d4d4d4;
          &:last-child{
              border-bottom:0px;
          }
          &:hover{
              background:#f1f1f1;
          }
        }
    }
}
}