<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/app/employee/activites']">Activites And Approvals </a></li>
                <li class="breadcrumb-item active">Behavioral performance improvement plan details</li>
            </ol>
        </div>
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing">
        <div class="row innerAdmins">
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>

        <!--***************************************************** old PIP ********************************************************-->

        <div *ngFor="let planOld of planOld; let i =index" class="collapseInfoBox">
            <h4 *ngIf="planOld" (click)="originalPIPToggle[i]=!originalPIPToggle[i]" [ngClass]="{active:originalPIPToggle[i]}">{{planOld?.title}}
                <span class="float-right"><i class="fa fa-angle-down"></i></span>
                <div style="font-size: 14px; padding-right: 10px; margin-top: 4px;" class="float-right">Created on : {{planOld?.insertTime| dateFormat}}</div>
                <div style="font-size: 16px; padding-right: 10px; margin-right: 8px;" class="float-right">V {{i+1}}</div>
            </h4>
            <div *ngIf="planOld" class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle[i]}">
                <div class="col-md-12 PIPmainBox">
                    <div class="cmpnycontentBox">
                        <div class="pipHeader">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <h3 class="heading"> BPIP</h3>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">BPIP For:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{planOld?.employee?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{planOld?.employee?.name}}</h5>
                                                <div class="designation">{{planOld?.employee?.position}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Assigned manager:</div>
                                        <div class="pipEmpuserPic">
                                            <div class="profile">
                                                <div class="adjust"><img src="{{planOld?.manager?.imageUrl}}" /></div>
                                            </div>
                                            <div class="info">
                                                <h5>{{planOld?.manager?.name}}</h5>
                                                <div class="designation">{{planOld?.manager?.position}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="pipEmploye">
                                        <div class="title">Involved third parties</div>
                                        <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapseOld}">
                                            <input readonly type="text" class="form-control" value="View Third parties" (click)="invitelistCollapseOld=!invitelistCollapseOld">
                                            <ul class="inviteList" *ngIf="planOld.thirdParty.length > 1" [ngClass]="{open:invitelistCollapseOld}">
                                                <li *ngFor="let c of planOld.thirdParty ">
                                                    <img src="{{c.imageUrl}}" alt="">
                                                    <div class="empinfo">
                                                        <label>{{c?.name}}</label>
                                                        <div class="userprofile">{{c?.position}}</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        <div class="PIPFormbox detailPIP">
                            <h5>{{planOld?.title}}</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Training date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{planOld?.trainingTime | dateFormat}} | {{planOld?.trainingTime | dateFormat:'shortTime'}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Assessment date</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{planOld?.assessmentTime | dateFormat}} | {{planOld?.assessmentTime | dateFormat:'shortTime'}}
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10" [innerHTML]="planOld.reason"> </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Action plan</label>
                                    </div>
                                    <div class="rghtinput10" [innerHTML]="planOld.actionPlan">

                                        <div class="instruction moreTopGap">Created by {{planOld?.employee?.name}} on {{planOld?.insertTime | dateFormat}} | {{planOld?.insertTime | dateFormat:'shortTime'}} </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Objective</label>
                                    </div>
                                    <div class="rghtinput10" [innerHTML]="planOld.objective"> </div>
                                </div>

                            </div>
                        </div>


                        <!--***************************************************** employee notes ***********************************-->
                        <div *ngIf="!isProcessing && (planOld.employeeNotes.length>0) " class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Employee notes</h5>
                            <div *ngIf="planOld.employeeNotes.length>0" class="full-width">

                                <div class="box">
                                    <div class="full-width" *ngFor="let k of planOld.employeeNotes">

                                        <div class="notesList">
                                            <p class="white-space-pre">{{k.note}}</p>
                                            <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--***************************************************** training notes ***********************************-->

                        <div *ngIf="!isProcessing && (planOld.trainingNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Training notes</h5>
                            <div *ngIf="planOld.trainingNotes.length>0" class="full-width">
                                <div class="full-width text-right">
                                    <span><i class="fa fa-caleder"></i>&nbsp; {{planOld?.trainingTime| dateFormat}} at  {{planOld?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of planOld.trainingNotes">
                                        <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                        <div class="notesList">
                                            <p class="white-space-pre">{{k.note}}</p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--***************************************************** assessemnt notes ***********************************-->

                        <div *ngIf="!isProcessing && (planOld.assessmentNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                            <h5>Assessment notes</h5>
                            <div *ngIf="planOld.assessmentNotes.length>0">
                                <div class="full-width text-right">
                                    <span>{{planOld?.assessmentTime| dateFormat:'longDate'}} at  {{planOld?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of planOld.assessmentNotes">
                                        <div class="notesList">
                                            <p class="rghtinput10">Has the objective been accomplished ?
                                                <span [ngClass]="(k.objectiveMet=='Yes')?'badge-success':'badge-danger'" class="badge" [innerHTML]="k.objectiveMet"></span>
                                            </p>
                                            <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div class="cmpnycontentBox trainingNotes" *ngIf="planOld.result">
                            <h5>Result</h5>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Result</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <p *ngIf="planOld.result=='Re-Access'" class="white-space-pre">Re-assess</p>
                                        <p *ngIf="planOld.result!='Re-Access'" class="white-space-pre">{{planOld?.result}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top:50px;" class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">
                                    <span>BPIP</span>

                                </h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">BPIP For:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{plan?.employee?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{plan?.employee?.name}}</h5>
                                            <div class="designation">{{plan?.employee?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{plan?.manager?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{plan?.manager?.name}}</h5>
                                            <div class="designation">{{plan?.manager?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved third parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input readonly type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                        <ul class="inviteList" *ngIf="plan?.thirdParty.length > 1" [ngClass]="{open:invitelistCollapse}">
                                            <li *ngFor="let c of plan.thirdParty ">
                                                <img src="{{c.imageUrl}}" alt="">
                                                <div class="empinfo">
                                                    <label>{{c?.name ||c?.email}}</label>
                                                    <div class="userprofile">{{c.position}}</div>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox detailPIP">
                        <h5>{{plan?.title}}</h5>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training date</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{plan?.trainingTime | dateFormat}} | {{plan?.trainingTime | dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment date</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{plan?.assessmentTime | dateFormat}} | {{plan?.assessmentTime | dateFormat:'shortTime'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10" [innerHTML]="plan.reason"> </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10" [innerHTML]="plan.actionPlan">

                                    <div class="instruction moreTopGap">Created by {{plan?.manager?.name}} on {{plan?.insertTime | dateFormat}} | {{plan?.insertTime | dateFormat:'shortTime'}} </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10" [innerHTML]="plan.objective"> </div>
                            </div>

                        </div>
                    </div>
                    <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isActionProcessing">
                        <div *ngIf="plan.status == 'Awaiting Employee Acceptance'" class="text-center">
                            <button (click)="onAccept(plan)" class="btn btn-primary">Accept</button>
                            <button (click)="onResponseNote(plan)" style="margin:0px 7px;" class="btn btn-special">Send a response note</button>
                            <!--<button (click)="onReSchedule(plan.pipID)" class="btn btn-default">Re-schedule</button>   -->
                        </div>
                    </div>

                    <!--***************************************************** employee notes ***********************************-->
                    <div *ngIf="!isProcessing && (plan.employeeNotes.length>0) " class="cmpnycontentBox trainingNotes">
                        <h5 class="heading">Employee notes</h5>
                        <div *ngIf="plan.employeeNotes.length>0" class="full-width">

                            <div class="box">
                                <div class="full-width" *ngFor="let k of plan.employeeNotes">

                                    <div class="notesList">
                                        <p class="white-space-pre">{{k.note}}</p>
                                        <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--***************************************************** training notes ***********************************-->

                    <div *ngIf="!isProcessing && (plan.trainingNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                        <h5 class="heading">Training notes</h5>
                        <div *ngIf="plan.trainingNotes.length>0" class="full-width">
                            <div class="full-width text-right">
                                <span><i class="fa fa-caleder"></i>&nbsp; {{plan?.trainingTime| dateFormat}} at  {{plan?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                            </div>
                            <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                            <div class="box">
                                <div class="full-width" *ngFor="let k of plan.trainingNotes">
                                    <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                    <div class="notesList">
                                        <p class="white-space-pre">{{k.note}}</p>
                                        <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--***************************************************** assessemnt notes ***********************************-->

                    <div *ngIf="!isProcessing && (plan.assessmentNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                        <h5>Assessment notes</h5>
                        <div *ngIf="plan.assessmentNotes.length>0">
                            <div class="full-width text-right">
                                <span>{{plan?.assessmentTime| dateFormat:'longDate'}} at  {{plan?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                            </div>
                            <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                            <div class="box">
                                <div class="full-width" *ngFor="let k of plan.assessmentNotes">
                                    <div class="notesList">
                                        <p class="rghtinput10">Has the objective been accomplished ?
                                            <span [ngClass]="(k.objectiveMet=='Yes')?'badge-success':'badge-danger'" class="badge" [innerHTML]="k.objectiveMet"></span>
                                        </p>
                                        <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                        <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="cmpnycontentBox trainingNotes" *ngIf="plan.result">
                        <h5>Result</h5>
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Result</label>
                                </div>
                                <div class="rghtinput10">
                                    <p *ngIf="plan.result=='Re-Access'" class="white-space-pre">Re-assess</p>
                                    <button class="btn btn-primary" (click)="onResultDetails(plan)" *ngIf="plan.result!='Re-Access'">{{plan?.result}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>