<div class="message">
<ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!-- <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/message']">File Notes</a></li> -->
        <li class="breadcrumb-item active">Messages</li>
    </ol>
<app-messages></app-messages>
</div>