.cmpnycontentBox {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
    &.detailbox {
        h4 {
            margin-bottom: 20px;
        }
    }
    h4 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .form-group {
        &:last-child {
            margin-bottom: 0px !important;
        }
        .rghtinput10 {
            textarea {
                height: 90px;
                resize: none;
            }
            .form-control {
                max-width: inherit;
            }
        }
        .form-inline {
            margin: 0px 0px;
        }
    }
}

.userList {
    li {
        margin-top: 15px;
        .userName {
            float: left;
            margin-right: 40px;
            img {
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                -ms-border-radius: 50%;
                height: 40px;
                width: 40px;
                float: left;
                margin-right: 5px;
            }
            .name {
                float: left;
                line-height: 20px;
                margin-top: 2px;
                .department {
                    color: #a9a9a9;
                    font-size: 13px;
                }
            }
        }
        .result-action {
            float: left;
            .btn {
                min-width: 80px;
                margin-right: 5px;
            }
            span {
                min-width: 104px;
                display: inline-block;
                text-align: left;
                margin-top: 12px;
            }
        }
        .customchkbox {
            float: left;
            margin-top: 5px;
            input+label:before {
                top: -5px;
                left: inherit;
                right: 0px;
            }
            input:checked+label:after {
                right: 3px;
                top: -6px;
                left: inherit;
            }
            textarea {
                height: 90px;
                resize: none;
                width: 100%;
            }
        }
    }
    &.step3 {
        .userName {
            margin-right: 0px !important;
        }
    }
}

.final-notes {
    textarea {
        height: 200px;
        resize: none;
        width: 100%;
    }
    .btn {
        min-width: 200px;
        margin: 10px auto;
    }
}