.cmpnycontentBox {
    padding-top: 18px;
    // toogle box employee
    .footerBtn {
        padding: 4px 15px;
        background: #efefef;
        margin-top: -5px;
        position: relative;
        z-index: 999;
        border: 1px solid #bbb;
        border-top: 0;
    }
    .inviteEmp {
        .alert {
            top: 36px;
        }
    }
    .itemName {
        word-break: break-all;
    }
    // toogle box employee
}

.admin-panel {
    .PIPbtnBox {
        .btn {
            padding: inherit;
        }
    }
}

.noAlertIcon {
    .alert {
        &::after {
            display: none;
        }
    }
}

.PIPmainBox .PIPFormbox .form-group {
    margin-bottom: 15px !important;
}

.customDDmain .selectedList {
    padding: 0;
    margin: 0;
}