<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page']">Performance improvement plan (PIP)</a></li>
                    <li class="breadcrumb-item active">{{heading}}</li>
                </ol>
            </div>
            <div *ngIf="serviceDetails" class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>

        <div *ngFor="let plan of plan; let i =index" class="collapseInfoBox">
            <h4 *ngIf="plan" (click)="originalPIPToggle[i]=!originalPIPToggle[i]" [ngClass]="{active:originalPIPToggle[i]}">{{plan?.title}}
                <span class="float-right"><i class="fa fa-angle-down"></i></span>
                <div style="font-size: 14px; padding-right: 10px; margin-top: 4px;" class="float-right">Created on : {{plan?.insertTime| dateFormat}}</div>
                <div style="font-size: 16px; padding-right: 10px; margin-right: 8px;" class="float-right">V {{i+1}}</div>
            </h4>
            <div *ngIf="plan" class="collapseContentbox OriginalPIPcontentBox" [ngClass]="{open:originalPIPToggle[i]}">

                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="row">
                    <div class="col-md-12 PIPmainBox">
                        <div class="cmpnycontentBox">
                            <div class="pipHeader">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <h3 class="heading">Training</h3>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">PIP for:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="{{plan?.employee?.imageUrl}}" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>{{plan?.employee?.name}}</h5>
                                                    <div class="designation">{{plan?.employee?.position}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Assigned manager:</div>
                                            <div class="pipEmpuserPic">
                                                <div class="profile">
                                                    <div class="adjust"><img src="{{plan?.manager?.imageUrl}}" /></div>
                                                </div>
                                                <div class="info">
                                                    <h5>{{plan?.manager?.name}}</h5>
                                                    <div class="designation">{{plan?.manager?.position}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="pipEmploye">
                                            <div class="title">Involved third parties</div>
                                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                                <input readonly type="text" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                                <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                                    <li *ngFor="let c of plan.thirdParty">
                                                        <img src="{{c?.imageUrl}}" alt="">
                                                        <div class="empinfo">
                                                            <label>{{c?.name || c?.email}}</label>
                                                            <div class="userprofile">{{c?.position}}</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                            </div>
                            <div class="PIPFormbox detailPIP">

                                <div class="row">

                                    <div style="margin-top: 30px;" class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">PIP title</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.title}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Training time</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{formateDate(plan?.trainingTime) || 'Not specified'}} | {{formateShortTime(plan?.trainingTime) || 'Not specified'}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Assessment time</label>
                                        </div>
                                        <div class="rghtinput10">
                                            <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>{{plan?.assessmentTime | dateFormat}} | {{plan?.assessmentTime| dateFormat:'shortTime'}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Reason</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.reason}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Action plan </label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.actionPlan}}
                                        </div>
                                    </div>
                                    <div class=" col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">Objective</label>
                                        </div>
                                        <div class="rghtinput10">
                                            {{plan?.objective}}
                                            <div class="instruction moreTopGap">Created by {{plan?.creatorUserID?.name}} on {{plan?.insertTime| dateFormat}} | {{plan?.insertTime| dateFormat:'shortTime'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--***************************************************** employee notes ***********************************-->

                        <div *ngIf="!isProcessing && (plan.employeeNotes && plan.employeeNotes.length>0) " class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Employee notes</h5>
                            <div *ngIf="plan.employeeNotes.length>0" class="full-width">
                                <!--<div class="full-width text-right">
                                    <span><i class="fa fa-caleder"></i>&nbsp; {{plan?.trainingTime| dateFormat}} at  {{plan?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                                    </div>-->
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of plan.employeeNotes">
                                        <!-- <div class="col-sm-12">
                                            <label class="form-inline">Manager Notes</label>
                                            </div> -->
                                        <div class="notesList">
                                            <p [innerHTML]="k.note" class="white-space-pre"></p>
                                            <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!--***************************************************** training notes ***********************************-->

                        <div *ngIf="!isProcessing && (plan.trainingNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Training notes</h5>
                            <div *ngIf="plan.trainingNotes.length>0" class="full-width">
                                <div class="full-width text-right">
                                    <span><i class="fa fa-caleder"></i>&nbsp; {{plan?.trainingTime| dateFormat}} at  {{plan?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of plan.trainingNotes">
                                        <div class="notesList">
                                            <p [innerHTML]="k.note" class="white-space-pre"></p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--***********************************************************************Assessment Notes ************************************************-->
                        <div *ngIf="!isProcessing && (plan.assessmentNotes.length>0 )" class="cmpnycontentBox trainingNotes">
                            <h5>Assessment notes</h5>
                            <div *ngIf="plan.assessmentNotes.length>0">
                                <div class="full-width text-right">
                                    <span>{{plan?.assessmentTime| dateFormat:'longDate'}} at  {{plan?.assessmentTime| dateFormat:'shortTime' }} </span><br><br>
                                </div>
                                <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                                <div class="box">
                                    <div class="full-width" *ngFor="let k of plan.assessmentNotes">
                                        <div class="notesList">
                                            <p class="rghtinput10">Has the objective been accomplished ?
                                                <span [ngClass]="(k.objectiveMet=='Yes')?'badge-success':'badge-danger'" class="badge" [innerHTML]="k.objectiveMet"></span>
                                            </p>
                                            <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                            <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div *ngIf="!isProcessing && (plan.status=='Complete')" class="cmpnycontentBox trainingNotes">
                            <h5 class="heading">Result</h5>
                            <div class="full-width">
                                <div class="box">
                                    <div class="full-width">
                                        <div class="notesList">
                                            <p *ngIf="plan.result=='Re-Access'" class="white-space-pre">Re-assess</p>
                                            <p *ngIf="plan.result!='Re-Access'" class="white-space-pre">{{plan?.result}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="clearfix"></div>

        <!--********************************************************** OLD PIP END  ********************************************************************************************-->


        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Training</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">PIP for:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{planNew?.employee?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{planNew?.employee?.name}}</h5>
                                            <div class="designation">{{planNew?.employee?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{planNew?.manager?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{planNew?.manager?.name}}</h5>
                                            <div class="designation">{{planNew?.manager?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved third parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input readonly type="text" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                        <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                            <li *ngFor="let c of planNew.thirdParty">
                                                <img src="{{c?.imageUrl}}" alt="">
                                                <div class="empinfo">
                                                    <label>{{c?.name || c?.email}}</label>
                                                    <div class="userprofile">{{c?.position}}</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox detailPIP">
                        <div *ngIf="permission?.edit && !(planNew.trainingNotes && planNew.trainingNotes.length>0)" class="editBtnBox text-right pull-right"><span><button style="margin-top:15px;" (click)="onEditPIP(planNew.pipID)" class="btn btn-special">Edit <i class="fa fa-pencil cursor"></i></button></span></div>
                        <div class="row">

                            <div style="margin-top: 30px;" class="col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">PIP title</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.title}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training time</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span> {{formateDate(planNew?.trainingTime) || 'Not specified'}} | {{formateShortTime(planNew?.trainingTime) || 'Not specified'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment time</label>
                                </div>
                                <div class="rghtinput10">
                                    <span class="calendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>{{formateDate(planNew?.assessmentTime) || 'Not specified'}} | {{formateShortTime(planNew?.assessmentTime) || 'Not specified'}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.reason}}
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.actionPlan}}
                                </div>

                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10">
                                    {{planNew?.objective}}
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">

                                <div class="instruction moreTopGap">Created by {{planNew?.creatorUserID?.name}} on {{planNew?.insertTime| dateFormat}} | {{planNew?.insertTime| dateFormat:'shortTime'}}</div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--***************************************************** employee notes ***********************************-->


                <div *ngIf="!isProcessing && (planNew.employeeNotes.length>0) " class="cmpnycontentBox trainingNotes">
                    <h5 class="heading">Employee notes</h5>
                    <div *ngIf="planNew.employeeNotes.length>0" class="full-width">
                        <!--<div class="full-width text-right">
              <span><i class="fa fa-caleder"></i>&nbsp; {{planNew?.trainingTime| dateFormat}} at  {{planNew?.trainingTime| dateFormat:'shortTime' }} </span><br><br>
            </div>-->
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div class="box">
                            <div class="full-width" *ngFor="let k of planNew.employeeNotes">
                                <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                <div class="notesList">
                                    <p class="white-space-pre">{{k.note}}</p>
                                    <i class="instruction moreTopGap">This note has been given  on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--***************************************************** training notes ***********************************-->

                <div *ngIf="!isProcessing" class="cmpnycontentBox trainingNotes">
                    <h5 class="heading">Training notes</h5>
                    <div *ngIf="planNew.trainingNotes && planNew.trainingNotes.length>0" class="full-width">
                        <div class="full-width text-right">
                            <span><i class="fa fa-caleder"></i>&nbsp; {{formateDate(planNew?.trainingTime) || 'Not specified'}} at  {{formateShortTime(planNew?.trainingTime) || 'Not specified' }} </span><br><br>
                        </div>
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div class="box" style="padding-bottom:30px;">
                            <div class="full-width" *ngFor="let k of planNew.trainingNotes">
                                <!-- <div class="col-sm-12">
                <label class="form-inline">Manager Notes</label>
                </div> -->
                                <div class="notesList">
                                    <p [innerHTML]="k.note" class="white-space-pre"></p>
                                    <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    <span *ngIf="!(planNew.assessmentNotes && planNew.assessmentNotes.length>0)" class="pull-right"><button class="btn btn-special" (click)="onEditNotes(k,'training')">Edit <i class="fa fa-pencil cursor"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!( (planNew.trainingNotes && planNew.trainingNotes.length>0 &&  !trainingNoteAddPermission) || (planNew.status == 'Complete') )">
                        <form #managerNoteForm="ngForm" class="full-width">
                            <div class="row form-group">
                                <!-- <div class="col-md-12">
                  <label class="form-inline">manager Note</label>
                </div> -->
                                <div class="col-md-9 noAlertIcon">
                                    <textarea class="form-control full-width" style="height:100px;resize:none;max-width:inherit;" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="pipManagerNote.managerTraNote" myNoSpaces rows="4"></textarea>
                                    <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isTraButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                            Manager note is required !
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="text-left">
                            <md-progress-spinner *ngIf="isTraCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isTraCreateProcessing" (click)="onAddManagerTrainingNote(managerNoteForm)" class="btn btn-primary btn-lg">Save</button>
                        </div>
                    </div>
                </div>





                <!--***********************************************************************Assessment Notes ************************************************-->
                <div *ngIf="( (!isProcessing) && ( (planNew.assessmentNotes && planNew.assessmentNotes.length>0) || ( (planNew.status != 'Complete') && (planNew.trainingNotes && planNew.trainingNotes.length>0)  ) ) )" class="cmpnycontentBox trainingNotes">
                    <h5>Assessment notes</h5>
                    <div class="full-width text-right">
                        <span>{{formateDate(planNew?.assessmentTime) || 'Not specified'}} at  {{formateShortTime(planNew?.assessmentTime) || 'Not specified' }} </span><br><br>
                    </div>
                    <div *ngIf="planNew.assessmentNotes && planNew.assessmentNotes.length>0">
                        <!--<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>-->
                        <div class="box" style="padding-bottom:30px;">
                            <div class="full-width" *ngFor="let k of planNew.assessmentNotes">
                                <div class="notesList">
                                    <p class="rghtinput10">Has the objective been accomplished ?
                                        <span [ngClass]="(k.objectiveMet=='Yes')?'badge-success':'badge-danger'" class="badge" [innerHTML]="k.objectiveMet"></span>
                                    </p>
                                    <p class="rghtinput10 white-space-pre" [innerHTML]="k.note"></p>
                                    <i class="instruction moreTopGap">This note has been given by {{k?.noteByUser.name}} on {{k?.time| dateFormat}} at {{k?.time| dateFormat:'shortTime'}}</i>
                                    <span *ngIf="!planNew.result" class="pull-right"><button class="btn btn-special" (click)="onEditNotes(k,'assessment')">Edit <i class="fa fa-pencil cursor"></i></button></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!( (planNew.assessmentNotes && planNew.assessmentNotes.length>0 &&  !assessmentNoteAddPermission) || (planNew.status == 'Complete') )" class="form-inline">
                        <form #managerAssessmentNoteForm="ngForm" class="full-width">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <!--<label class="form-inline"><strong>Manager note</strong></label>-->
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Has the objective been accomplished ?</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div class="customChoice">
                                            <input [(ngModel)]="pipManagerNote.objectiveMet" [checked]="true" id="assessment1" type="radio" name="assessmentNote" value="Yes" class="required">
                                            <label for="assessment1">Yes</label>
                                        </div>
                                        <div class="customChoice">
                                            <input [(ngModel)]="pipManagerNote.objectiveMet" id="assessment2" type="radio" name="assessmentNote" value="No" class="required">
                                            <label for="assessment2">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 noAlertIcon">
                                    <textarea class="form-control" style="height:90px;resize:none;" name="planObjective" placeholder="Enter note" #managerNote="ngModel" required [(ngModel)]="pipManagerNote.managerNote" myNoSpaces rows="4"></textarea>
                                    <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                                            Manager note is required !
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isCreateProcessing" (click)="onAddManagerAssessmentNote(managerAssessmentNoteForm)" class="btn btn-primary btn-lg">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<div class="container-fluid">
    <div *ngIf="!isProcessing && (planNew.status=='Complete')" class="cmpnycontentBox trainingNotes">


        <h5 class="heading">Result</h5>
        <div class="full-width">
            <div class="box">
                <div class="full-width">
                    <div class="notesList">
                        <p *ngIf="planNew.result=='Re-Access'" class="white-space-pre">Re-assess</p>
                        <p *ngIf="planNew.result!='Re-Access' && planNew.result!='Not Passed'" class="white-space-pre">{{planNew?.result}}</p>
                        <p *ngIf="planNew.result=='Not Passed'" class="white-space-pre" style="color: red;">{{planNew?.result}}</p>                                                
                    </div>
                </div>
            </div>

            <button class="btn btn-special" *ngIf="planNew.result=='Re-Access'" (click)="onReassessemnt(planNew.pipID,planNew.employee.userID);">Re-assess</button>
        </div>
    </div>
    <div *ngIf="!isProcessing && (planNew.assessmentNotes && planNew.assessmentNotes.length>0) " class="buttonWrap traningBtn text-center">

        <md-progress-spinner *ngIf="isResultProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isResultProcessing">
            <button *ngIf="planNew.result!='Pass' && planNew.result!='Not Passed'" (click)="onAddResult(planNew.pipID,'Pass')" class="btn btn-success btn-lg">Pass</button>
            <button *ngIf="planNew.result!='Not Passed' && planNew.result!='Pass'" (click)="onAddResult(planNew.pipID,'Fail')" class="btn btn-danger btn-lg">Not Passed</button>            
            <div *ngIf="planNew.result!='Pass' && planNew.result!='Not Passed'" class="dropdown" style="display:inline-block;max-width:200px; width:100%; ">
                <button class="btn btn-default btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action &nbsp; <i class="fa fa-angle-down"></i>
    </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="bottom: 39px; max-width: 220px; top: initial;">
                    <a class="dropdown-item" (click)="onAddResult(planNew.pipID,'Re-Access')">Re-assess</a>
                    <a class="dropdown-item" (click)="onAddResult(planNew.pipID,'Warning')">Warning</a>
                    <a class="dropdown-item" (click)="onAddResult(planNew.pipID,'Final Warning')">Final warning</a>
                    <a class="dropdown-item" (click)="onAddResult(planNew.pipID,'Terminate')">Terminate</a>
                    <a class="dropdown-item" (click)="onAddResult(planNew.pipID,'Disciplinary')">Disciplinary meeting</a>
                </div>
            </div>
        </div>
    </div>
</div>