.trainingNotes {
    margin-top: 25px;
    h5 {
        margin-top: 0px;
        font-weight: 600;
    }
    .instruction {
        color: #acacac;
        margin-top: 5px;
    }
}

.marginTop {
    margin-top: 20px;
}

.trainingNotes {
    margin-bottom: 20px;
    .form-group {
        .form-control {
            height: 100px;
            resize: none;
        }
    }
}

.notesList i.fa-pencil:after {
    display: none;
}

.notesList i:after {
    content: "\f05a";
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 18px;
    font-family: FontAwesome;
    height: 12px;
    font-style: normal;
    color: #f1c645;
}

.trainingNotes .instruction {
    color: #acacac;
    margin-top: 5px;
    position: relative;
    padding-left: 34px;
    display: inline-block;
}

.notesList p {
    font-size: 15px;
    padding-left: 16px;
}

.notesList {
    position: relative;
    margin-bottom: 30px;
}

.box .full-width:last-child .notesList {
    margin-bottom: 0;
}

.notesList:after {
    content: '';
    position: absolute;
    top: 6px;
    width: 2px;
    height: calc(100% - 11px);
    background: #bfbfbf;
    left: 0;
}

.trainingNotes .instruction:before {
    content: '';
    position: absolute;
    width: 2px;
    left: 0;
    top: -2px;
    z-index: 99;
    height: 100%;
    background: #64c3fb;
}

.traningBtn {
    .btn {
        max-width: 140px;
        width: 100%;
        position: relative;
    }
}

.inviteEmpMain .inviteList.open {
    max-height: 180px;
    overflow: auto;
}

.white-space-pre {
    white-space: pre-wrap;
}

.noAlertIcon {
    .alert {
        &::after {
            display: none;
        }
    }
}