<div class="container-fluid chapter">
    <h2 class="article-title">Email template details
    </h2>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
    <div *ngIf="!isProcessing">
        <div class="box contentBox">
            <h5>{{template.subject}}
                <button *ngIf="permission.edit" style="float:right;" md-raised-button color="primary" class="float-right" [routerLink]="['/app/super-admin/email-template/',type,'edit-email-template',template.emailTemplateID]"><md-icon>edit</md-icon> Edit</button>
            </h5>
            <pre class="white-space-pre">{{template.message}}</pre>
        </div>
        <div class="box contentBox email-metadata">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <label>Date of creation:</label> <span>{{(template.insertTime| dateFormat:'longDate')||'--'}}</span>
                </div>
                <div class="col-md-4 col-xs-12">
                    <label>Last update date:</label> <span>{{(template.updateTime| dateFormat:'longDate')||'--'}}</span>
                </div>
                <div class="col-md-4 col-xs-12">
                    <label>Status:</label> <span>{{template.status}}</span>
                </div>
            </div>
        </div>
        <div class="box contentBox emailNotify">
            <div class="row">
                <div class="col-md-6">
                    <div class="card bg-color-dark">
                        <div class="card-content text-center">
                            {{template.notification.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>