.email-metadata{
    font-size:15px;
    label{
        font-weight:600;
        margin-right:5px;
    }
}
.emailNotify{
    .card-content{
       cursor: pointer;
       font-size: 16px;
       padding: 13px 10px; 
    }  
}
.mdl-data-table{
    td{
        &:last-child{
           width:auto !important; 
        }
    }
}