<div class="container-fluid chapter">
    <div class="dashboard article">
        <h2 class="article-title">Companies haven't login from last 30 days or more</h2>       
        <div class="cmpnycontentBox recentActivity">
            <div class="cmpnycontentBoxInner">                   
                <div class="recentActiDateList">
                    <div class="tableWrapper">
                        <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="notLoginInLastThirtyDays" [mfActivePage]=2 #lastLogin="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <th style="width:50px;">
                                    S.no.
                                </th>
                                <th>
                                    Company id
                                </th>
                                <th>
                                    Company name
                                </th>
                                <th>Company type</th>
                                <th>Days</th>
                            </thead>
                            <tbody *ngIf="!isProcessing">
                                <tr *ngFor="let login of lastLogin.data;let i=index;">
                                    <td>{{(lastLogin.activePage -1)*(10)+(i+1)}}</td>
                                    <td>Australia</td>
                                    <td>{{login.companyTitle}}</td>
                                    <td>{{login.companyType}}</td>
                                    <td>{{login.days}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" *ngIf="isProcessing">
                                        <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>

                                    </td>
                                    <td colspan="5" *ngIf="notLoginInLastThirtyDays?.length>10" class="progressSpinner" colspan="10" style="background:#ffffff !important;border-bottom:0px !important;">
                                        <mfBootstrapPaginator></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>        
    </div>
</div>