<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">{{title}}</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate"></md-progress-spinner>
        <form #policyForm="ngForm" name="material_login_form" class="md-form-auth form-validation">
            <div *ngIf="!isProcessing" class="box box-default paddingBox policyDetail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="selectWrapper">
                            <md-select placeholder="Select policy type" name="policyTitleID" [(ngModel)]="policy.policyDocumentTypeID" required #policyType="ngModel">
                                <md-option *ngFor="let pt of policyTypes" [value]="pt.policyDocumentTypeID">{{pt.title}}</md-option>
                            </md-select>
                            <div *ngIf="policyType.errors && (policyType.dirty || policyType.touched)">
                                <div class="alert alert-danger" *ngIf="policyType.errors.required">
                                    Policy type is required !
                                </div>
                            </div>
                            <div class="labelStats float-right">
                                <label class="statsInfo">Version: {{version}}</label>
                                <span *ngIf="id"><button md-raised-button color="{{color}}" (click)="statusChange(status)">{{status}}</button></span>
                            </div>
                        </div>
                        <md-input-container class="full-width">
                            <input name="policyTitle" mdInput placeholder="Policy title" [(ngModel)]="policy.title" required #policyTitle="ngModel">
                        </md-input-container>
                        <div *ngIf="policyTitle.errors && (policyTitle.dirty || policyTitle.touched)">
                            <div class="alert alert-danger" *ngIf="policyTitle.errors.required">
                                Policy title is required !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Policy description *</label>
                        <app-tinymce name="des" [(ngModel)]="policy.description" #policyDescription="ngModel" required></app-tinymce>
                        <div *ngIf="policyDescription.errors && (policyDescription.dirty || policyDescription.touched)">
                            <div class="alert alert-danger" *ngIf="policyDescription.errors.required">
                                Policy description is required !
                            </div>
                        </div>

                        <div class="box box-default subjectBox" *ngFor="let sub of subject;let i=index">
                            <div class="box-header box-dark collapseHead" [ngClass]="{'activecollapse':collapsebox[i]}">
                                <md-input-container>
                                    <input mdInput id="title" name="subjectName{{i}}" placeholder="Subject title" [(ngModel)]="sub.title" type="text" required #subjectName="ngModel">
                                </md-input-container>
                                <div *ngIf="subjectName.errors && (subjectName.dirty || subjectName.touched)">
                                    <div class="alert alert-danger" *ngIf="subjectName.errors.required && (subjectName.dirty || subjectName.touched)">
                                        Subject title is required !
                                    </div>
                                </div>
                                <span (click)="collapsebox[i]=!collapsebox[i]" class="toggleIcon float-right"><i class="fa fa-angle-up"></i></span>
                            </div>
                            <div class="collapseDetail clearfix" style="margin-top:5px;" [ngClass]="{'opencollapse':collapsebox[i]}">
                                <div class="full-width" style="margin-bottom:10px">
                                    <label>Subject description *</label>
                                    <!-- <quill-editor [modules]="editorOptions" name="subjectDescription{{i}}" [(ngModel)]="sub.description" placeholder="Insert text here..." required #subjectDescription="ngModel"></quill-editor> -->
                                    <app-tinymce name="subjectDescription{{i}}" [(ngModel)]="sub.description" placeholder="Insert text here..." required #subjectDescription="ngModel"></app-tinymce>
                                    <div *ngIf="subjectDescription.errors && (subjectDescription.dirty || subjectDescription.touched) ">
                                        <div class="alert alert-danger" *ngIf="subjectDescription.errors.required">
                                            Subject description is required !
                                        </div>
                                    </div>
                                    <button class="float-right" md-raised-button color="danger" (click)="deleteSubject(i);false">Delete</button>
                                </div>
                            </div>

                        </div>
                        <md-progress-spinner *ngIf="isButtonClicked" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isButtonClicked" class="btn-wrapper text-center addUserBtn">
                            <button md-raised-button type="submit" color="accent" [disabled]="!policyForm.form.valid" (click)="addEditPolicy(policyForm.valid);false" class="addButton"><!--<span class="icon">+</span>--> {{buttonText}}</button> &nbsp;
                            <button md-raised-button color="default" (click)="onCancel();false">Cancel</button>
                            <button md-raised-button color="accent" class="addButton float-right" (click)="addSubject();false"><span class="icon">+</span> Add subject</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </article>
</div>