.policyDetail {
    .box-header {
        .form-control {
            width: auto;
            display: inline-block;
        }
        .toggleIcon {
            margin-top: 6px;
        }
    }
    label {
        margin: 0px 0 6px;
        font-weight: bold;
        &.statsInfo {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    }
    .subjectBox {
        margin-top: 20px;
        padding-bottom: 45px;
        &.box {
            padding: 0px;
        }
        .mat-raised-button {
            margin-top: 8px;
        }
    }
    .labelStats {
        label {
            &:first-child {
                margin-right: 7px;
            }
        }
    }
}

.selectWrapper {
    margin-bottom: 15px;
    md-select {
        min-width: 225px;
    }
}

.btn-wrapper {
    margin-top: 15px;
    button {
        &:last-child {
            @media(max-width: 479px) {
                float: none !important;
                margin-top: 10px;
            }
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto;
    margin-top: 20px;
}

.addButton {
    span {
        position: relative;
        top: 2px;
    }
}

.collapseDetail {
    padding: 15px;
}