<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Disciplinary actions</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-6 col-xl-8">
                            <div class="empSrearch topSearchFilter">
                                <div id="custom-search-input">
                                    <div class="input-group">
                                        <input type="text" (keyup)="onSearchKeyEnter()" [(ngModel)]="searchKey" class="form-control" placeholder="Search by title" />
                                        <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-2 col-sm-6">
                            <div class="filter">
                                <div class="form-group">
                                    <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3  col-xl-2 col-sm-6">
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success full-width" (click)="onPopUp()">Create plan <span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchKeyStatus" class="form-control input-lg" placeholder="Search status" />
                                                <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor="let item of filter.status|searchByKey:searchKeyStatus:'title'; let i=index;">
                                            <label><input name="nm{{i}}" (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.title}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Manager</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchKeyManager" class="form-control input-lg" placeholder="Search manager" />
                                                <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor="let item of filter.manager|searchByKey:searchKeyManager:'name'">
                                            <label><input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Employee</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchKeyEmployee" class="form-control input-lg" placeholder="Search employee" />
                                                <span class="input-group-btn">
                        <button class="btn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <md-progress-spinner *ngIf="isFilterDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <ul *ngIf="!isFilterDataProcessing" class="checkbox over180">
                                        <li *ngFor="let item of filter.employee|searchByKey:searchKeyEmployee:'name'">
                                            <label><input (click)="enableFilter=true" type="checkbox" [(ngModel)]="item.isChecked" /><span>{{item.name}}</span></label>
                                        </li>
                                    </ul>
                                </div>
                                <button [disabled]="!enableFilter" (click)="onApplyFilters()" [ngClass]="{'btn-primary':enableFilter,'btn-filter':!enableFilter}" class="btn outlined">Apply filter <i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                <div *ngIf="!isProcessing" class="EmptableList table-responsive tableWrapper">

                    <table class="full-width  table" [mfData]="plans" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead *ngIf="mf.data.length">
                            <th>
                                <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="employee.name">Assigned to &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="manager.name">Assigned manager &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="meetingTime">Meeting time &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>

                            <th>
                                <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:142px;">Details</th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of mf.data">
                                <td>{{d?.title}}</td>
                                <td>{{d?.employee?.name}}</td>
                                <td>{{d?.manager?.name}}</td>
                                <td>{{formateDate(d?.meetingTime)}}</td>
                                <td>{{d?.status}}</td>
                                <td><button *ngIf="d?.status!='Terminated'" (click)="onView(d)" class="btn btn-default">View details</button>
                                    <label *ngIf="d?.status=='Terminated'">Terminated</label>
                                </td>
                                <td *ngIf="!d.isDeleteProcessing">
                                    <!--<span style="font-size:20px; margin-left:10px;" *ngIf="d.status == 'Awaiting Employee Acceptance'" class="color-danger"><i class="fa fa-clock-o"></i></span>-->
                                    <!--<button (click)="OnAction(d)" *ngIf="d.status == 'Under Training'" class="btn btn-special">Training note</button>
                                    <button (click)="OnAction(d)" *ngIf="d.status == 'Under Assessment'" class="btn btn-success">Assisment & Result</button>
                                    <button (click)="OnAction(d)" *ngIf="d.status == 'Complete'" class="btn btn-secondary">View Result</button>-->
                                    <div *ngIf="( (d.status == 'Awaiting Employee Acceptance') || (d.status == 'Reschedule Requested') || (d.status != 'Complete') || (d.status == 'Accepted') ) " class="dropdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button (click)="OnReschedule(d)" *ngIf="( (d.status == 'Awaiting Employee Acceptance') || (d.status == 'Accepted'))" class="dropdown-item btn-none color-info"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp; Re-schedule</button>
                                            <button *ngIf="d.status == 'Reschedule Requested'" (click)="OnRescheduleAcceptReject(d)" class="dropdown-item btn-none color-info"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp; Accept/reject reschedule</button>
                                            <button class="dropdown-item btn-none color-danger" *ngIf="d.status != 'Complete'" (click)="d.isDeleteProcessing=true; OnDelete(d)"><i class="fa fa-trash"></i>&nbsp;&nbsp; Delete</button>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="d.isDeleteProcessing">
                                    <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div class="box" style="text-align:center" *ngIf="!mf.data.length">
                        <span class="danger">Record not found</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>