<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/user-access']">User access</li>
                    <li class="breadcrumb-item active">Permission</li>
                </ol>
            </div>
        </div>
        <div class="cmpnycontentBox">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table style="min-width:600px;" class="table table-border full-width permissionTbl">
                        <thead>
                            <tr>
                                <th>Control</th>
                                <th class="text-center">View</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Add</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="isProcessing">
                            <tr>
                                <td colspan="5">
                                    <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!isProcessing">

                            <tr *ngFor="let module of modules;let i=index">
                                <td>{{module.title}}</td>
                                <td>
                                    <div class="customchkbox permission text-center">
                                        <input disabled id="permission_{{i}}_view" type="checkbox" class="required" *ngIf="module.permission.view!=undefined" [checked]="module.permission.view" [(ngModel)]='module.permission.view'>
                                        <label for="permission_{{i}}_view"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="customchkbox permission text-center">
                                        <input disabled id="permission_{{i}}_edit" type="checkbox" class="required" *ngIf="module.permission.edit!=undefined" [checked]="module.permission.edit" [(ngModel)]='module.permission.edit'>
                                        <label for="permission_{{i}}_edit"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="customchkbox permission text-center">
                                        <input disabled id="permission_{{i}}_add" type="checkbox" class="required" *ngIf="module.permission.add!=undefined" [checked]="module.permission.add" [(ngModel)]='module.permission.add'>
                                        <label for="permission_{{i}}_add"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="customchkbox permission text-center">
                                        <input disabled id="permission_{{i}}_delete" type="checkbox" class="required" *ngIf="module.permission.delete!=undefined" [checked]="module.permission.delete" [(ngModel)]='module.permission.delete'>
                                        <label for="permission_{{i}}_delete"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md-12 text-right btnWrap">
                    <button class="btn btn-primary btn-lg" (click)="updatePermission()">Set permission</button>
                    <button class="btn btn-default btn-lg" (click)="onCancel()">Cancel</button>
                </div> -->
            </div>
        </div>
    </div>
</div>