.permissionTbl {
    border: 1px solid #cccccc;
    th {
        background: #cccccc;
        border-bottom: 0px;
    }
    td {
        border: 1px solid #cccccc;
        vertical-align: middle !important;
    }
    .customchkbox {
        input {
            &+label {
                margin-bottom: 0px;
                padding-left: 0px;
                background: #ff8383;
                border: 1px solid #ff8383;
                height: 20px;
                width: 20px;
                display: inline-block;
                &:before {
                    display: none;
                }
                &:after {
                    color: #ffffff;
                    content: "\f00d";
                    position: absolute;
                    left: 4px;
                    top: -2px;
                    font-family: FontAwesome;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;
                }
            }
            &:checked {
                &+label {
                    background: #4cdaaa;
                    border: 1px solid #4cdaaa;
                    &:before {
                        display: none;
                    }
                    &:after {
                        content: "\f00c";
                        left: 3px;
                        top: -1px;
                    }
                }
            }
        }
    }
}

.selectRole {
    max-width: 300px;
    margin-bottom: 15px;
}

.btnWrap {
    &.text-center {
        @media(max-width: 379px) {
            text-align: left !important;
        }
    }
    .btn {
        &:first-child {
            margin-right: 10px;
            @media(max-width: 379px) {
                margin-right: 0px;
                margin-bottom: 8px;
            }
        }
    }
}