<div class="container-fluid chapter">
  <article class="article">
  <div class="row">
    <div class="col-md-12">
      <h2 class="article-title">Coupon Report
        <span class="cvsReport float-right"><i class="fa fa-share-square-o" aria-hidden="true"></i><div class="iconTitle">Extract CSV</div></span>
      </h2>
    </div>
  </div>
  <!--Filter Box-->
  
 
     <div class="filter-wrapp box box-default contentBox positionFilter">
       <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span>
    <div class="row">
        <div class="filterColumn">
          <h5 class="filterTitle">Status</h5>
          <div class="input-group gapleft">
              <input class="form-control" placeholder="Search" type="text">
              <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
          </div>
         <div class="filterItems">
            <ul>
                <li><md-checkbox name="active" >Active </md-checkbox></li>  
                <li><md-checkbox name="inactive" >InActive </md-checkbox></li>   
              </ul>
          </div>
        </div>
        <div class="filterColumn">
          <h5 class="filterTitle">Location</h5>
          <div class="input-group gapleft">
              <input class="form-control" placeholder="Search" type="text">
              <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
          </div>
         <div class="filterItems">
            <ul>
                <li><md-checkbox name="abc" >ABC </md-checkbox></li>  
                <li><md-checkbox name="xyz" >XYZ </md-checkbox></li>   
              </ul>
          </div>
        </div>
        <div class="filterColumn gapleft">
           <h5 class="filterTitle blankhead"></h5> 
           <my-date-picker [options]="myDatePickerOptions"(dateChanged)="onDateChanged($event)" placeholder="Filter by Date"></my-date-picker>
        </div>
        <div class="filterColumn">
           <h5 class="filterTitle blankhead"></h5> 
           <div class="input-group gapleft">
              <input class="form-control" placeholder="Search by company name" type="text">
              <div class="input-group-addon"><md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon></div>
          </div>
        </div>
    </div>
  </div>  
 
  
      <div class="box box-default table-box table-responsive mdl-shadow--2dp">
          <table class="mdl-data-table">
            <thead>
              <tr>
                  <th>Location</th>
                  <th>Company Code</th>
                  <th>Company Name</th>
                  <th>Company Type</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Date of Use</th>
                  <th>Use Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td> </td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> 
            </tbody>
            <tfoot>
             </tfoot>
          </table>
        </div>
    
    
  
  </article>
</div>
