.cvsReport{
    text-align:center;
    i{
        color:#4cdaaa;
    }
    .iconTitle{
            font-weight: 400;
            font-size: 13px;
            position: relative;
            top: -10px;
    }
}
.positionFilter {
    padding: 20px 30px 20px 10px;
    @media (max-width:589px){
        padding:20px 22px 20px 10px;
    }
}
.filter-wrapp{
    h5{
        &.blankhead{
        margin-bottom:45px;
        }
    }
    .filterItems {
        ul{
            height:auto;
        }
    }
    .input-group {
        @media (max-width:589px){
            min-width: initial;
        }
    }
    .filterColumn {
        @media (max-width:589px){
            max-width: 100%;
            width:100%;
        }
    }
}