<div class="container-fluid">
  <div class="innerAdmins">
    <div class="row">
      <div class="col-md-12 topRow" style="margin-top:20px;">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/subcontractor-management']">Sub contractor</a></li>
  <li class="breadcrumb-item active">Invite</li>
</ol>
</div>

</div>
<md-progress-spinner *ngIf="isGetDetailsProcessing" mode="indeterminate" color=""></md-progress-spinner>
<div *ngIf='!isGetDetailsProcessing' class="row">
  <div class="col-xl-3 col-md-12">
    <div class="profileBox">
      <div class="proPic">
        <div class="adjust">
          <img [alt]="profile?.name" [src]="profileImage">
        </div>
      </div>
      <div class="">
        <md-progress-spinner *ngIf="isProcessingImg" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessingImg" class="uploadFile">
          <input type="file" id="CustomFile" accept="image/png,image/jpg,image/jpeg" name="doc" (change)="handleFileSelect($event)">
          <label for="CustomFile" class="btn btn-primary">Upload</label>
          <p>Select file (JPG, JPEG or PNG file). </p>

        </div>
      </div>
      <div class="userInfo">
        <div class="name">
          <h6>{{profile?.name}}</h6>
          <div class="designation">{{profile?.positionTitle}}</div>
        </div>
        <div class="inforow clearfix">
          <label>Contractor since</label>
          <span class="values">{{formatDateTime(profile?.employeeSince)}}</span>
        </div>
        <div class="inforow clearfix">
          <label>Status</label>
          <span class="values">{{profile?.status}}</span>
        </div>
        <div class="inforow clearfix">
          <label>Last login</label>
          <span class="values">{{formatDateTime(profile?.lastLogin)}}</span>
        </div>
        <hr>

        <div *ngIf="profile.payrollData && profile.payrollData.length" class="inforow clearfix">
          <table class="full-width">
            <tr>
              <th>Payroll data</th>
              <th style="width:100px;">Leave balance</th>
</tr>
<tr *ngFor="let l of profile.payrollData">
  <td>{{l.title}}</td>
  <td style="text-align:right">{{l.value}}</td>
</tr>
</table>
</div>
</div>
</div>
</div>
<div class="col-xl-9 col-md-12">
  <div class="cmpnycontentBox">
    <form #inviteSubForm="ngForm">
      <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<div class="collapseInfoBox">
  <h4 (click)="collapse['c1']=!collapse['c1']" [ngClass]="{active:!collapse['c1'],'heading-danger':checkValidations([companyName,firstName,lastName,phoneNumber,ABN,streetAddress,stateName,postalCode,suburb,email])}">Company profile information
    <span class="pull-right">
                     <i class="fa fa-angle-down"></i>
                     </span>
  </h4>
  <div [ngClass]="{open:!collapse['c1']}" class="collapseContentbox">
    <div class="row">
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Company name</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.companyName" required myNoSpaces name="companyName" #companyName="ngModel" type="text" class="form-control"
            placeholder="Company name" />
          <div *ngIf="companyName.errors && ( (companyName.dirty || companyName.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(companyName.errors.required || companyName.errors.whitespace)">
              Company name is required.
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">First name</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.firstName" name="firstName" required myNoSpaces #firstName="ngModel" type="text" class="form-control"
            placeholder="First name" />
          <div *ngIf="firstName.errors && ( (firstName.dirty || firstName.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(firstName.errors.required || firstName.errors.whitespace)">
              First name is required.
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Last name</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.lastName" required myNoSpaces name="lastName" #lastName="ngModel" type="text" class="form-control"
            placeholder="Last name" />
          <div *ngIf="lastName.errors && ( (lastName.dirty || lastName.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(lastName.errors.required || lastName.errors.whitespace)">
              Last name is required.
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Phone number</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.phoneNumber" required myNoSpaces name="phoneNumber" #phoneNumber="ngModel" type="text" class="form-control"
            placeholder="Phone number" />
          <div *ngIf="phoneNumber.errors && ( (phoneNumber.dirty || phoneNumber.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(phoneNumber.errors.required || phoneNumber.errors.whitespace)">
              Phone number is required.
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">ABN</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.ABN" myNoSpaces required #ABN="ngModel" name="ABN" type="text" class="form-control" placeholder="ABN"
          />
          <!--<div *ngIf="ABN.errors && ( (ABN.dirty || ABN.touched) || isButtonClicked )">
                                    <div class="alert alert-danger" [hidden]="!(ABN.errors.required || ABN.errors.whitespace)">
                                        ABN is required.
                                    </div>
                                    </div>-->
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Company address</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.address" required myNoSpaces name="streetAddress" #streetAddress="ngModel" type="text" class="form-control"
            placeholder="Company address" />
          <div *ngIf="streetAddress.errors && ( (streetAddress.dirty || streetAddress.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(streetAddress.errors.required || streetAddress.errors.whitespace)">
              Company address is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">State</label>
        </div>
        <div class="rghtinput10">
          <select class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="invite.stateName" [disabled]="disableState">
                                 <option value="" disabled> Please select state </option>
                                 <option *ngFor="let s of stateList" [value]="s.itemName">{{s.itemName}}</option>
                                 </select>
          <!--<input type="text" class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="profile.personalInformation.address.stateName"
                                    required>-->
          <div *ngIf="stateName.dirty || stateName.touched || inviteSubForm.submitted">
            <div class="color-danger" [hidden]="stateName.valid"> Please enter the state. </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Postcode</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.postalCode" required myNoSpaces name="postalCode" #postalCode="ngModel" type="text" class="form-control"
            placeholder="Postcode" />
          <div *ngIf="postalCode.errors && ( (postalCode.dirty || postalCode.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(postalCode.errors.required || postalCode.errors.whitespace)">
              Postal code is required.
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Suburb</label>
        </div>
        <div class="rghtinput10">
          <input [(ngModel)]="invite.suburb" myNoSpaces required #suburb="ngModel" name="suburb" type="text" class="form-control" placeholder="Suburb"
          />
          <div *ngIf="suburb.errors && ( (suburb.dirty || suburb.touched) || isButtonClicked )">
            <div class="alert alert-danger" [hidden]="!(suburb.errors.required || suburb.errors.whitespace)">
              Suburb is required.
            </div>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 form-group">
        <div class="lftinpt10">
          <label class="form-inline">Email</label>
        </div>
        <div class="rghtinput10">
          <input type="email" #email="ngModel" required pattern=".*@.*\.*[A-Za-z/d]$" [(ngModel)]="invite.email" name="email" class="form-control"
            placeholder="Email" />
          <!--<div *ngIf="email.errors && (email.dirty || email.touched)">
                                    <div class="alert alert-danger" [hidden]="!email.errors.required">
                                        Email is required.
                                    </div>
                                    <div class="alert alert-danger" [hidden]="!email.errors.pattern">
                                        Not a valid email pattern.
                                    </div>
                                    </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapseInfoBox">
  <h4 (click)="collapse['c4']=!collapse['c4']" [ngClass]="{active:!collapse['c4'],'flash_red': profile?.contractorInformation?.Pending.length>0}">Contractor information
    <span class="pull-right">
                     <i class="fa fa-angle-down"></i>
                     </span>
  </h4>
  <div [ngClass]="{open:!collapse['c4']}" class="collapseContentbox">
    <div class="collapseContentBox">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <!--<h4 [ngClass]="(user.kpis.Pending.length>0) ? 'color-danger':''" class="panel-title" style="padding-left:15px;margin-top:10px;">-->
            <h4 [ngClass]="{'flash_red': profile?.contractorInformation?.Pending.length>0}" class="panel-title" style="padding-left:15px;">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                       Pending
                                    </a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" style="background:#ffffff;">
<thead>
  <tr>
    <th>Type </th>
    <th>Request</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let req of profile?.contractorInformation?.Pending">
    <td>{{req?.type}}</td>
    <td>
      <div *ngIf="req.type == 'Rate'">{{req?.newValue}}</div>
      <div *ngIf="req.type == 'Contract'">{{req?.newValue}}
        <button (click)="onViewContract(req)" class="btn btn-primary">View</button>
      </div>
      <div *ngIf="req.type == 'Scope'">{{req?.newValue}} </div>
      <div *ngIf="req.type == 'Invoice date'" >{{ (req.newValue=='-1')?req.invoicePaidOther:req.newValue}} days from invoice date</div>

    </td>
    <td style="width:90px;">
<md-progress-spinner style="margin-top:20px;" *ngIf="req['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>
<div *ngIf="!req['isProcessing']" class="dropdown actionDDtbl">
  <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <button *ngIf="!req.isByContractor" class="color-info btn-none" (click)="RequestForChange(req)"><i class="fa fa-pencil-square-o "></i> Edit</button>&nbsp;
    <button *ngIf="!req.isByContractor" (click)="onDelete(req)" class="color-danger btn-none"><i class="fa fa-trash"></i>&nbsp;Delete</button>
    <button *ngIf="req.type == 'Contract'" (click)="onViewContract(req)" class="color-danger btn-none"><i class="fa fa-eye"></i>&nbsp;View</button>
    <button *ngIf="req.isByContractor" class="color-info btn-none" (click)="onAcceptReject(req,'Accept')"><i class="fa fa-check "></i> Accept</button>&nbsp;
    <button *ngIf="req.isByContractor" (click)="onAcceptReject(req,'Reject')" class="color-danger btn-none"><i class="fa fa-trash"></i>&nbsp;Reject</button>
  </div>
</div>
<!--<button (click)="RequestForChange(req)" class="btn btn-primary">Edit</button>
                                                 <button (click)="onDelete(req)" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>&nbsp;Delete</button>-->
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title" style="padding-left:15px;">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Current
                                    </a>
</h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" style="background:#ffffff;">
<thead>
  <tr>
    <th>Type </th>
    <th>Current</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let req of profile?.contractorInformation?.Current">
    <td>{{req?.type}}</td>
    <td>
      <div *ngIf="req.type == 'Rate'">{{req?.newValue}} </div>
      <div *ngIf="req.type == 'Contract'">{{req?.newValue}}
        <button (click)="onViewContract(req)" class="btn btn-primary">View</button>
      </div>
      <div *ngIf="req.type == 'Scope'">{{req?.newValue}} </div>
      <div *ngIf="req.type == 'Invoice date'" >{{ (req.newValue=='-1')?req.invoicePaidOther:req.newValue}} days from invoice date</div>      
    </td>
    <td>
        <div ><button (click)="RequestForChange(req)" class="btn btn-primary">Request for change</button> </div>
      

    </td>
  </tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title" style="padding-left:15px;">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                       Historical
                                    </a>
</h4>
</div>
<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table" style="background:#ffffff;">
<thead>
  <tr>
    <th>Type </th>
    <th>Previous</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let req of profile?.contractorInformation?.Historical">
    <td>{{req?.type}}</td>
    <td>
      <div *ngIf="req.type == 'Rate'">{{req?.newValue}}</div>
      <div *ngIf="req.type == 'Contract'">{{req?.newValue}}
      </div>
      <div *ngIf="req.type == 'Scope'">{{req?.newValue}} </div>
      <div *ngIf="req.type == 'Invoice date'" >{{ (req.newValue=='-1')?req.invoicePaidOther:req.newValue}} days from invoice date</div>      
    </td>
    <td>
       <button (click)="onViewContract(req)" class="btn btn-primary">View</button>
    </td>

  </tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="collapseInfoBox">
  <h4 (click)="collapse['c2']=!collapse['c2']" [ngClass]="{active:!collapse['c2'],'heading-danger':docRequired}">Mandatory document
    <span class="pull-right">
                     <i class="fa fa-angle-down"></i>
                     </span>
  </h4>
  <div [ngClass]="{open:!collapse['c2']}" class="collapseContentbox">
    <div>
      <div class="row">
        <div style="margin-bottom:5px !important;" class="col-md-3 text-center" *ngFor="let doc of invite.mandatoryDocuments;let i=index;">
<figure>
  <i class="fa fa-file-text" style="font-size: 50px;"></i>
</figure>
<figcaption *ngIf="doc?.file">{{doc?.title}}</figcaption>
<figcaption *ngIf="!doc?.file">Please upload {{doc?.title}}</figcaption>
<figcaption *ngIf="doc?.expiryDate">{{doc?.expiryDate}}</figcaption>
<div class="buttonWrap">
  <div>
    <!--<span  class="btn btn-lg btn-filter text-center btn-file">
                                           <i class="fa fa-upload"></i>&nbsp;Upload <input name="file{{doc.mandatoryDocumentID}}"  (change)="uploadDocs($event,doc)"  accept=".pdf,.doc,.docx,.png,.jpeg,.txt,.odt,.ott,.xml,.rtf" type="file" />
                                        </span>-->
    <button type="button" class="btn btn-success"  *ngIf="!doc?.file" (click)="uploadDocs(doc,i)">Upload </button>
    <a *ngIf="doc.file" class="btn btn-success" href="{{doc.fileUrl}}" download>Download</a>
    <button type="button" class="btn btn-danger" [disabled]="!doc?.file" (click)="removeManDoc(doc,i)">Remove</button>    
    <br>{{doc?.file}}
    <!--<md-progress-spinner style="margin-top:20px;" *ngIf="doc['isProcessing']" mode="indeterminate" color=""></md-progress-spinner>                                        -->
  </div>
</div>
</div>
<span *ngIf="!invite.mandatoryDocuments.length" class="col-md-12 text-center">No record found.</span>
</div>
</div>
</div>
</div>
<div class="collapseInfoBox">
  <h4 (click)="collapse['c3']=!collapse['c3']" [ngClass]="{active:!collapse['c3']}">Upload your document
    <span class="pull-right">
                     <i class="fa fa-angle-down"></i>
                     </span>
  </h4>
  <div [ngClass]="{open:!collapse['c3']}" class="collapseContentbox">
    <div>
      <div class="row">
        <div class="col-md-3 text-center" *ngFor="let doc of invite.employeeDocumentSubmit;let i=index;">
              <figure>
                <i class="fa fa-file-text" style="font-size: 50px;"></i>
              </figure>
              <figcaption>{{doc?.title}}</figcaption>
              <figcaption *ngIf="doc?.expiryDate">{{doc?.expiryDate}}</figcaption>
              <div class="buttonWrap">
                <a *ngIf="doc.fileUrl" class="btn btn-success" href="{{doc.fileUrl}}" download>Download</a>
                <a *ngIf="!doc.fileUrl" class="btn btn-success" href="{{doc.edsFile}}" download>Download</a>                
                <button class="btn btn-danger" type="button" (click)="removeDoc(i)">Remove</button>
              </div>
        </div>
        <div class="col-sm-12 text-right">
            <div class="text-right">
                <!-- <label>testDemo.txt</label>&nbsp;&nbsp; -->
                <button type="button" (click)="onpopup(2)"class="btn-bs-file btn btn-lg btn-primary">
                    Upload document &nbsp;
                    <i class="fa fa-upload"></i>
                    <!-- <input type="file" /> -->
                </button>
            </div>
        </div>
<div>
  <div class="alert alert-danger" *ngIf='invite.employeeDocumentSubmit.length==0'>
    Documents not found.
  </div>
</div>
<!--<div class="col-sm-12 text-right">
                                 <div class="text-right">
                                    <button type="button" (click)="onpopup()" class="btn-bs-file btn btn-lg btn-primary">
                                    Upload document&nbsp;
                                    <i class="fa fa-upload"></i>
                                    </button>
                                 </div>
                              </div>-->
</div>
</div>
</div>
</div>
<div *ngIf="invite.bankDetail" class="collapseInfoBox">
  <h4 (click)="collapse['c5']=!collapse['c5']" [ngClass]="{active:!collapse['c5'],'heading-danger':checkValidations([bankName,baccountName,bsbNumber,baccountNumber])}">Banking details
    <span class="pull-right">
                                    <i class="fa fa-angle-down"></i>
                                </span>
  </h4>
  <div  [ngClass]="{open:!collapse['c5']}" class="collapseContentbox">
    <div>
      <div class="row">

        <div class="col-sm-12 form-group">
          <div class="lftinpt10">
            <label class="form-inline"> Bank name</label>
          </div>
          <div class="rghtinput10">
            <input type="text" class="form-control" name="bankName" #bankName="ngModel" [(ngModel)]="invite.bankDetail.bankName" required>
            <div *ngIf="bankName.dirty || bankName.touched || inviteSubForm.submitted">
              <div class="color-danger" [hidden]="bankName.valid"> Please enter the bank name. </div>
            </div>
          </div>
        </div>

         <div class="col-sm-12 form-group">
          <div class="lftinpt10">
            <label class="form-inline">Bank account name</label>
          </div>
          <div class="rghtinput10">
            <input type="text" class="form-control" name="baccountName" #baccountName="ngModel" [(ngModel)]="invite.bankDetail.accountName"
              required>
            <div *ngIf="baccountName.dirty || baccountName.touched || inviteSubForm.submitted">
              <div class="color-danger" [hidden]="baccountName.valid"> Please enter the account name. </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 form-group">
          <div class="lftinpt10">
            <label class="form-inline">BSB number</label>
          </div>
          <div class="rghtinput10">
            <input type="text" class="form-control" maxlength="6" name="bsbNumber" #bsbNumber="ngModel" [(ngModel)]="invite.bankDetail.bsbNumber"
              required>
            <div *ngIf="bsbNumber.dirty || bsbNumber.touched || inviteSubForm.submitted">
              <div class="color-danger" [hidden]="bsbNumber.valid"> Please enter the BSB number. </div>
            </div>
          </div>
        </div>
       
        <div class="col-sm-12 form-group">
          <div class="lftinpt10">
            <label class="form-inline">Account number</label>
          </div>
          <div class="rghtinput10">
            <input type="text" class="form-control" minlength="6" maxlength="9" name="baccountNumber" #baccountNumber="ngModel" [(ngModel)]="invite.bankDetail.accountNumber"
              required>
            <div *ngIf="baccountNumber.dirty || baccountNumber.touched || inviteSubForm.submitted">
              <div class="color-danger" [hidden]="baccountNumber.valid"> Please enter the account number. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="errors.length>0 && inviteSubForm.submitted">
  <div class="alert alert-danger" >
      {{errors[0]}}
  </div>
</div>
<div class="text-center">
  <md-progress-spinner style="margin-top:20px;" *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
<button [disabled]="isActionProcessing && inviteSubForm.form.valid" (click)="isButtonClicked= true;register(inviteSubForm)"
  class="btn btn-primary btn-lg">Save
                        </button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>