.profile {
    .customchkbox {
        display: inline-block;
        padding-top: 8px;
    }
    .btn-bs-file {
        position: relative;
    }
    .btn-bs-file input[type="file"] {
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }
    figure {
        width: 100px;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        img {
            height: 100%;
            width: auto;
            margin: 5px auto;
        }
    }
}
.collapse.in{display:block;}
.uploadFile {
    input[type="file"] {
        display: none;
    }
    label {
        margin-top: 7px;
    }
}

.form-inline {
    text-align: right;
}

@media screen and (max-width:767px) {
    .form-inline {
        text-align: left;
        font-weight: bolder;
    }
}

@media screen and (max-width:479px) {
    .paddingBox {
        padding: 0;
    }
    .btn-lg {
        margin: 6px 0;
    }
}

.employmentDiv {
    span {
        padding-top: 8px;
        display: inline-block;
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4 !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4 !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4 !important;
}

.sample_signature {
    ul {
        border-left: 1px solid #d2d2d2;
        padding-left: 12px;
        overflow: auto;
        li {
            &:nth-child(odd) {
                margin-right: 5%;
            }
            max-width: 200px;
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            a {
                color: #4c4c4c;
                display: block;
                overflow: hidden;
                padding-left: 14px;
                height: 86px;
                text-decoration: none;
                &:focus {
                    text-decoration: none;
                }
                span {
                    font-size: 30px;
                    display: block;
                    white-space: nowrap;
                    height: 44px;
                    color: rgb(0, 0, 0);
                    line-height: 44px;
                    padding-left: 12px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 10px;
                    height: 72px;
                    width: 12px;
                    border-radius: 8px 0 0 8px;
                    border: 2px solid #333;
                    border-right: 0;
                }
            }
        }
        @media screen and (max-width:676px) {
            max-height: 300px;
            overflow: auto;
        }
    }
}

@media screen and (max-width:479px) {
    .collapseInfoBox h4 {
        font-size: 17px;
    }
}

.buttonWrap {
    .btn {
        margin: 8px 0px;
    }
}
//*****it cause problem in save button******//
// .collapseInfoBox .collapseContentbox {
//     overflow: visible !important;
// }
//********//
textarea {
    height:100px !important;
}

.collapseContentBox .panel-title>a[aria-expanded="false"]:before {
    float: left !important;
    font-family: FontAwesome;
    content: "\f055";
    padding-right: 8px;
    font-size: 28px;
    margin-top: -4px;
}

.collapseContentBox .panel-title>a[aria-expanded="true"]:before {
    float: left !important;
    content: "\f056";
    font-size: 28px;
    padding-right: 8px;
    margin-top: -4px;
    font-family: FontAwesome;
}
.collapseInfoBox h4 a{color: rgba(0, 0, 0, 0.87);}
.collapseInfoBox h4 a:hover, .collapseInfoBox h4 a:focus{
    text-decoration: none;
}
.dropdown {
    .dropdown-menu {
        right: 0;
        left: inherit;
        button {
            width: 120px;
            background: transparent;
            border: 0;
            text-align: left;
            font-size: 15px;
        }
    }
}
.flash_red{
       background: #ff8383;
        border-color: #ff8383;
        color: #ffffff;
}
.collapseInfoBox .panel-title.flash_red a{
    color:#ffffff;
}
.collapseInfoBox .collapseContentbox.open .panel-title{
    margin-top: 10px;
}
.heading-danger{
    color: white;
    background-color: #ff8383
}
