<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink = '/app/{{relPath}}'><span class="fa fa-home"></span></a></li>
                <li *ngIf="role == 'companyEmployee'" class="breadcrumb-item" routerLink='/app/{{relPath}}/policy-documents'>Policy documents</li>
                <li class="breadcrumb-item active" [routerLink]="['/app/employee/policy-documents/procedural-document']">Procedural documents</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">

                </div>
                <div class="tableWrapper paddingNone">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <table *ngIf="!isProcessing" #mf="mfDataTable" [mfActivePage]=2 [mfData]="documents" [mfRowsOnPage]="10" class="full-width table">
                        <thead>
                            <th>
                                <mfDefaultSorter by="title"> Title &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:260px;">
                                <mfDefaultSorter by="updateTime"> Last Updated &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:121px;">
                                <mfDefaultSorter by="version"> Current Version &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:121px;">
                                <mfDefaultSorter by="status"> Status &nbsp;&nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>Action</th>
                            <!--<th style=" width:135px">Action</th>-->
                        </thead>

                        <tbody>
                            <tr *ngFor="let d of mf.data; let i=index">
                                <td style="cursor: pointer">{{d?.title}}</td>
                                <td>{{d?.updateTime}}</td>
                                <td>{{d?.version}}</td>
                                <td>{{d?.status}}</td>
                                <td><button class="btn btn-default" (click)="onShowDetails(d?.companyProceduralDocumentID)">View details</button></td>
                                <!--<td style="width:135px;">
                                    <div class="dropdown">
                                        <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button class="dropdown-item btn-none color-info" (click)="onEdit(d.companyProceduralDocumentID)"><i class="fa fa-pencil-square-o"></i>&nbsp;  Edit</button>
                                        </div>
                                    </div>
                                </td>-->
                            </tr>
                        </tbody>
                        <tfoot>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                            <tr class="danger" style="text-align:center" *ngIf="!documents.length && !isProcessing">
                                <td colspan="4">Record not found</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>