<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active">Off boarding checklist</li>
                </ol>
            </div>
        </div>
        <div class="row" *ngIf="checklistData?.length">
            <div class="col-md-12 PIPmainBox">

                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h3 class="heading">Off boarding checklist</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Checklist for:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{checklistData[0]?.userDetail?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{checklistData[0]?.userDetail?.name}}</h5>
                                            <div class="designation">{{checklistData[0]?.userDetail?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{checklistData[0]?.managerDetail?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{checklistData[0]?.managerDetail?.position}}</h5>
                                            <div class="designation">{{checklistData[0]?.managerDetail?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 [ngClass]="{active:!collapse['personalinfoCollapse']}" (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']">Questions <span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                            <div class="tableWrapper table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Question</th>
                                            <th>Manager notes</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let c of checklistData">
                                            <td style="width:44%;">
                                                <div class="white-space">{{c?.categories?.columns?.rows[0]?.columnA}}</div>
                                            </td>
                                            <td style="width:47%;">
                                                <div class="white-space">{{c?.categories?.columns?.rows[0]?.columnB}}</div>
                                            </td>
                                            <td style="width:100px;">
                                                <span class="badge badge-success" *ngIf="c?.categories?.columns?.rows[0]?.columnC=='Complete'">{{c?.categories?.columns?.rows[0]?.columnC}}</span>
                                                <span class="badge badge-warning" *ngIf="c?.categories?.columns?.rows[0]?.columnC!='Complete'">{{c?.categories?.columns?.rows[0]?.columnC}}</span>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td>
                                                <div class="white-space">Lorem ipsum dolor sit amet, eos ut tempor.</div>
                                            </td>
                                            <td>
                                                <div class="white-space">Lorem ipsum dolor sit amet, eos ut tempor assentior vituperata. His in ubique semper alienum.</div>
                                            </td>
                                            <td style="width:100px;"><span class="badge badge-warning">Pending</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="white-space">Lorem ipsum dolor sit amet, eos ut tempor assentior vituperata.</div>
                                            </td>
                                            <td>
                                                <div class="white-space">Lorem ipsum dolor sit amet, eos ut tempor assentior vituperata. His in ubique semper alienum, alia abhorreant appellantur et eos, sea natum quando sapientem an.</div>
                                            </td>
                                            <td style="width:100px;"><span class="badge badge-success">Completed</span></td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!checklistData?.length && !isProcessing">
            <div class="full-width alert alert-danger text-center">
                No record found
            </div>
        </div>
    </article>
</div>