.note-preview{
    padding:20px 15px 10px 40px;
    .content{
        position:relative;
        padding-left:15px;       

        p{
            opacity:0.8;
        }
        &:after{
             content:'';
             height:100%;
             width:3px; 
            background: #e2e2e2;
            position: absolute;
            left: -3px;
            top: 0;
            border-radius: 12px;
        }
        &:before{
            content:'';
            height: 30px;
            width: 3px;
            background: #4cdaaa;
            position: absolute;
            left: -3px;
            top: 0;
            z-index: 1;
            border-radius: 12px;
        }
       
    }
    .headingDiv{
        border-bottom: 2px dotted #e4e4e4;
    }
    .btnWrapper{
      padding:20px 0 12px;
    }

}

@media print  {

    .btn, button{display:none!important;}

}