<md-progress-spinner *ngIf="!contract" mode="indeterminate" color=""></md-progress-spinner>
<section id="printBox" *ngIf="contract" class="note-preview">
    <div>
        <div class="headingDiv">
            <h4 class="heading" [innerHTML]="contract.title"></h4>
            <p [innerHTML]="contract.description"></p>
        </div>
        <div class="content" *ngFor="let x of contract.contractSubjects">
            <h6 class="heading" [innerHTML]="x.title"></h6>
            <p [innerHTML]="x.description"></p>

        </div>
        <div class="btnWrapper text-center">
            <button (click)="onPrint()" class="btn btn-lg btn-primary">Print document</button>
        </div>
    </div>
</section>