<div class="container-fluid employee-ohs">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="[(role != 'companyContractor')?'/app/employee':'/app/sub-contractor']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/employee/ohs/report-incident']">Report incident</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox grievanceMain">
                <div class="cmpnycontentBox">
                    <div class="PIPFormbox">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <form name="ohsForm" #ohsForm="ngForm" (ngSubmit)="ohsForm.valid && reportIncident()">
                                        <div class="col-md-12">
                                            <h4 class="heading">Injury, incident & hazard</h4>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Title</label>
                                            </div>
                                            <div class="rghtinput10 txtoutput">
                                                <input class="form-control" name="title" type="text" #title="ngModel" [(ngModel)]="ohs.title" required placeholder="Title" />
                                                <div *ngIf="title.dirty || title.touched || ohsForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="title.valid"> Please enter a title.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Type of issue</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <ul class="issueChoice">
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue1" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Incident" required>
                                                            <label for="issue1">Incident</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue2" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Near Miss" required>
                                                            <label for="issue2">Near miss</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue3" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Accident" required>
                                                            <label for="issue3">Accident</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue4" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Equipment Fault" required>
                                                            <label for="issue4">Equipment fault</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue5" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Unsafe & Inappropriate Behaviour" required>
                                                            <label for="issue5">Unsafe/Inappropriate behaviour</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue6" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Injury" required>
                                                            <label for="issue6">Injury</label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="customChoice">
                                                            <input class="required" id="issue7" name="issue" #issue="ngModel" [(ngModel)]="ohs.issueType" type="radio" value="Other" required>
                                                            <label for="issue7">Other</label>
                                                        </div>
                                                        <div class="otherissue" *ngIf="ohs.issueType=='Other'">
                                                            <input class="form-control" name="otherIssue" #otherIssue="ngModel" [(ngModel)]="ohs.issueOtherType" type="text" required/>
                                                            <div *ngIf="otherIssue.dirty || otherIssue.touched || ohsForm.submitted">
                                                                <div class="alert alert-danger" [hidden]="otherIssue.valid">Please enter other issue.</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li *ngIf="issue.dirty || issue.touched || ohsForm.submitted">
                                                        <div class="alert alert-danger" [hidden]="issue.valid">Please select a type of issue.</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Date & time of incident</label>
                                            </div>
                                            <div class="rghtinput10 dateTimeBox">
                                                <dp-date-picker name="incidentdatetime" #incidentdatetime="ngModel" class="form-control" placeholder="date & time" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="incidentTime" [config]="config" [required]="true"></dp-date-picker>
                                                <div *ngIf="incidentdatetime.touched || ohsForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="incidentdatetime.valid"> Please select an incident time.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Document</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <div class="customchoosefilebtn">
                                                    <span class="form-control">{{ohs.document.length? ohs.document.length+' files':'Choose file'}}</span>
                                                    <label class="btn-bs-file btn btn-lg btn-primary">Upload
                                                    <input name="doc" type="file" accept=".doc,.docx,.pdf,image/png,image/jpg,image/jpeg" multiple (change)="uploadDocument($event)">
                                                    </label>
                                                    <md-progress-spinner *ngIf="isUploading" mode="indeterminate" color=""></md-progress-spinner>
                                                    <!-- <div *ngIf="!ohs.document.length && ohsForm.submitted">
                                                        <div class="alert alert-danger" [hidden]="doc.valid"> Please select a document.</div>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Location</label>
                                            </div>
                                            <div class="rghtinput10 txtoutput">
                                                <input class="form-control" type="text" name="location" #location="ngModel" [(ngModel)]="ohs.incidentLocation" required placeholder="Location" />
                                                <div *ngIf="location.dirty || location.touched || ohsForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="location.valid"> Please enter a location.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Witness</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <angular2-multiselect required name="witness" #witness="ngModel" [data]="employeesList" [(ngModel)]="selectedWitness" [settings]="dropdownSettings" [selectedItems]="selectedWitness">
                                                </angular2-multiselect>
                                                <div *ngIf="witness.dirty || witness.touched || ohsForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="witness.valid"> Please select a witness.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline">Persons involved</label>
                                            </div>
                                            <div class="rghtinput10">
                                                <angular2-multiselect required name="involved" #involved="ngModel" [data]="employeesList" [(ngModel)]="selectedInvolved" [settings]="dropdownSettings" [selectedItems]="selectedInvolved">
                                                </angular2-multiselect>
                                                <div *ngIf="involved.dirty || involved.touched || ohsForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="involved.valid"> Please select a involved persons.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <div class="lftinpt10">
                                                <label class="form-inline"></label>
                                            </div>
                                            <div class="companycontentBox rghtinput10">
                                                <h5 class="heading">Describe what happened and what is being reported</h5>
                                                <textarea type="text" name="description" #description="ngModel" [(ngModel)]="ohs.description" class="form-control" required placeholder="Description"></textarea>
                                                <div class="no-alert" *ngIf="description.dirty || description.touched || ohsForm.submitted">
                                                    <div class="alert alert-danger" [hidden]="description.valid"> Please enter a description.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                        <div *ngIf="!isProcessing" class="col-sm-12 form-group text-center btnWraper">
                                            <button type="submit" class="btn btn-lg btn-primary">Report incident</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>