.marginBottom {
    margin-bottom: 20px;
}

.marginTop {
    margin-top: 20px;
}

.attendeesList {
    .pipEmpuserPic {
        display: inline-block;
        margin-right: 20px;
    }
}

.issueChoice {
    margin-top: 10px;
    .alert{
        &::after{
            display:none;
        }
    }
}

.customchoosefilebtn {
    .form-control {
        width: 260px;
        display: inline-block;
        @media screen and (max-width:479px){
        width: 144px;
        }
    }
    .btn-bs-file {
        left: -7px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 5px 20px;
        top: 2px;
    }
}

.txtoutput {
    margin-top: 8px;
}

.btnWraper {
    button:first-child {
        margin-right: 10px;
    }
}

.description {
    margin-bottom: 20px;
    label {
        font-weight: 600;
    }
}

.dateTimeBox {
    dp-date-picker {
        max-width: 345px;
    }
}

h5 {
    margin-bottom: 5px;
    margin-top: 15px;
}
div.no-alert .alert::after{display:none;}