.pageHead {
    .groupAction {
        a {
            margin-left: 20px;
            color: #000000;
        }
        button {
            &:first-child {
                margin-right: 7px;
            }
        }
    }
}

.policyDetail {
    h5 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.subjectBoxes {
    .box-header {
        font-size: 16px;
        .toggleIcon {
            float: right;
            cursor: pointer;
        }
    }
}
 pre{
        white-space:pre-wrap;       
    }
