<div class="container-fluid chapter contract-SA">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Contract details</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="box box-default paddingBox policyDetail">
            <div class="row">
                <div class="col-md-12">
                    <div class="groupAction text-right float-right">
                        <button style="margin-right:5px;" *ngIf="contractDetails.version!=1 && permission.edit" md-raised-button color="special" (click)="showContractVersions(contractDetails?.contractID)">View changed logs</button>
                        <button *ngIf="permission.edit" md-raised-button color="{{color}}" (click)="statusChange(status)" style="margin-right:4px;">{{status}}</button>
                        <button *ngIf="permission.edit" md-raised-button color="special" (click)="onEdit(contractDetails?.contractID)"><md-icon>edit</md-icon> Edit</button>
                    </div>
                    <div class="labelStats">
                        <label class="statsInfo">Version {{contractDetails?.version}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 listStyleDisc">
                    <h5>Contract title</h5>
                    <p>
                        {{contractDetails?.title}}
                    </p>
                    <h5>Description</h5>
                    <pre [innerHTML]="contractDetails?.description | safe: 'html'"></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default subjectBoxes" *ngFor="let c of contractDetails?.contractSubjects; let i=index;">
                        <div class="box-header box-dark collapseHead" [ngClass]="{'activecollapse':collapsebox[i]}">{{c?.title}} <span (click)="collapsebox[i]=!collapsebox[i]" class="toggleIcon"><i class="fa fa-angle-up"></i></span></div>
                        <div class="box-body collapseDetail listStyleDisc" [ngClass]="{'opencollapse':collapsebox[i]}">
                            <pre [innerHTML]="c?.description | safe: 'html'"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>