<div class="page-auth">
    <div class="main-body">
        <div class="logo text-center">
            <a href="javascript:void(0);"><img src="assets/images/logo.png" /></a>
        </div>
        <div class="card bg-color-white">
            <div class="card-content">

                <h4>Login</h4>
                <form #userForm="ngForm" name="material_login_form" class="md-form-auth form-validation" (ngSubmit)="submit(userForm.form.valid)">
                    <fieldset>


                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">mail_outline</md-icon>
                                <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,9})+$" [(ngModel)]="user.email"
                                    required mdInput #email="ngModel" type="email" color="primary" name="email" placeholder="Email">
                            </md-input-container>
                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <div class="alert alert-danger" [hidden]="!email.errors.required">
                                    Email is required.
                                </div>
                                <div class="alert alert-danger" [hidden]="!email.errors.pattern">
                                    Not a valid email pattern.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <md-input-container class="full-width md-icon-left">
                                <md-icon class="material-icons">lock_outline</md-icon>
                                <input [(ngModel)]="user.password" required mdInput type="password" #password="ngModel" name="password" placeholder="Password">
                            </md-input-container>
                            <div *ngIf="password.errors && (password.dirty || password.touched)">
                                <div class="alert alert-danger" [hidden]="!password.errors.required">
                                    Password is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <md-checkbox color="primary" [(ngModel)]="user.rememberme" name="rememberme" [checked]="false">
                                <strong style="display: inline-block; width: 105px;">Remember me</strong>
</md-checkbox>

</div>

<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<button *ngIf="!isProcessing" md-raised-button type="submit" color="primary" [disabled]="!userForm.form.valid" class="float-right">Login</button>

<div *ngIf="invalidUser" style="color:red">Invalid user</div>

</fieldset>
</form>


<div class="additional-info">
    <!--<a [routerLink]="['/user/signup']">Sign up</a>-->
    <!--<span class="divider-h"></span>-->
    <a [routerLink]="['/user/forgot-password']">Forgot your password?</a>
    <a [routerLink]="['/user/company-registration']">Don't have an account?</a>
</div>

</div>
</div>
</div>
<div class="forgotPassBox">
    <div class="container">
        <div class="cmpnycontentBox" style=" margin-bottom: 50px; ">
<div class="row">
    <div class="col-md-12">
        <h4 class="heading">If you have forgotten your password.</h4>
    </div>
    <div class="col-md-6">
        <h5 class="heading">Company admins:</h5>
        <ul>
            <li>Please go to forget password</li>
            <li>Choose the drop down - Company admin</li>
            <li>Please add in the email you have registered with Happy HR</li>
            <li>Please select the secret question and add in your answer (it is case sensitive)</li>
            <li>A new password will be sent to you</li>
            <li>Please click on the link and change the password</li>
            <li>You will now login via your email and your new password.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h5 class="heading">Employees:</h5>
        <ul>
            <li>Please go to forget password</li>
            <li>Choose the drop down – Employee</li>
            <li>Please add in the email you have registered with Happy HR</li>
            <li>A new password will be sent to you</li>
            <li>Please click on the link and change the password</li>
            <li>You will now login via your email and your new password.</li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>