button[disabled]{
    cursor:not-allowed !important;
    background-color: rgba(0,0,0,0.12 ) !important;
}
.forgotPassBox{
    h4{
            margin: 10px 0px 0px;
    font-size: 28px;
    }
    ul{
li{
        padding-left: 31px;
    position: relative;
    margin-bottom: 5px;
    &:before{
            content: "\f061";
            position:absolute;
            left: 10px;
             top: -1px;
            display:inline-block;
            font-family:fontAwesome;
                color: #6d6d6d;
    }
}
    }
}
