<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/performance-improvement-plan']">PIP</li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/performance-improvement-plan/re-assessment']">Re Assessment</li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/performance-improvement-plan/reassessment/termination-letter/create']">Termination</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Create Termination Letter</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="date">2 March 2017 at 22:00</div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">terminating to:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>paul</h5>
                                            <div class="designation">Sales Depart.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Action Taken By:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Manager</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <form>
                            <div class="row">
                                <div class="col-md-12 text-right actionPopupBtn">
                                    <button class="btn btn-primary" (click)="onClick()">Use termination Lettet Template</button>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Tltle</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Write Incident or Issue</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12 text-center btnwrap">
                                    <button class="btn btn-success btn-lg">Create</button>
                                    <button class="btn btn-default btn-lg" [routerLink]="['/app/company-admin/performance-improvement-plan/re-assessment']">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>