.pipHeader{
    .date{
        margin-top:30px;
    }
}

.actionPopupBtn{
    .btn{
        position:relative;
        top:23px;
        margin-bottom:10px;
    }
}
.btnwrap{
    .btn{
        &:first-child{
            margin-right:7px;
        }
    }
}