<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="['/app/employee/probationary-period-meeting']">Probationary meeting</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
            <div class="col-md-12" *ngIf="!isProcessing">
                <div class="cmpnycontentBox">
                    <div class="row">
                        <div class="col-md-12">
                            <!--<div class="eventDate float-right">
                                This event has been triggered on {{probationDetails?.insertTime | date}} at {{probationDetails?.insertTime | dateFormat:'shortTime'}}
                            </div>-->
                            <h4 class="heading">Probationary period meeting</h4>
                        </div>
                        <!--<div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Start date of probationary period</label>
                            </div>
                            <div class="rghtinput10">
                                {{probationDetails?.startDate | date}}
                            </div>
                        </div>-->
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Date</label>
                            </div>
                            <div class="rghtinput10">
                                {{probationDetails?.endDate | dateFormat }}
                            </div>
                        </div>
                        <div class="col-sm-12 form-group PIPmainBox">
                            <div class="lftinpt10">
                                <label class="form-inline">Assigned manager</label>
                            </div>
                            <div class="rghtinput10 pipHeader">
                                <div class="pipEmploye attendeesList">
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{probationDetails?.managerUser?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{probationDetails?.managerUser?.name}}</h5>
                                            <div class="designation">{{probationDetails?.managerUser?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Notes</label>
                            </div>
                            <div class="rghtinput10">
                                {{probationDetails?.note}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cmpnycontentBox">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="eventDate float-right">{{probationDetails?.resultTime | dateFormat}} at {{probationDetails?.resultTime | dateFormat:'shortTime'}}</div>
                            <h4 class="heading">Result</h4>
                        </div>
                        <div class="col-sm-12 form-group">
                            <div class="lftinpt10">
                                <label class="form-inline">Result</label>
                            </div>
                            <div class="rghtinput10">
                                {{probationDetails?.result}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>