.cmpnycontentBox {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0px;
    }
    .form-group {
        .lftinpt10 {
            width: 19.5%;
            .form-inline {
                margin: 0px 0px;
            }
        }
        .rghtinput10 {
            width: 79.5%;
        }
        .eventDate {
            color: #cccccc;
        }
    }
    .resultlabel {
        .btn {
            min-width: 200px;
        }
    }
}