<div class="container-fluid chapter">
    <article class="article">
        <h2 _ngcontent-c14="" class="article-title">Email templates
            <a *ngIf="permission.add" class="addUserBtn float-right" (click)="onAddButtonClick()"><button md-raised-button color="accent" class="theme-button btn-w-md" ><span class="icon">+</span>Add new template</button><div class="divider divider-sm"></div></a>
        </h2>
        <div class="cmpnycontentBox">
            <div class="searchbar row">
                <div class="input-group col-lg-10 col-md-8">
                    <input class="form-control" placeholder="What do you want to find?" type="text" (keyup)="onFilter()" [(ngModel)]="searchText" #searching maxlength="50" />
                    <div class="input-group-addon">
                        <md-icon>search</md-icon>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter"> Filter <i class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'"></i></button>
                </div>
            </div>

            <!--Filter Box-->
            <div class="box box-default positionFilter" *ngIf="toggleFilter">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3">
                        <h5 class="filterTitle">Status</h5>
                        <div class="filterItems">
                            <ul>
                                <li *ngFor="let s of status">
                                    <md-checkbox name="active" (change)="onFilter()" [(ngModel)]="state[s]"> {{s}} </md-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Filter Box close-->
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">    
                <table class="mdl-data-table" [mfData]="emailTemplates" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <!-- <th>S.no</th> -->
                            <th>Email template name</th>
                            <!-- <th>Notifications</th> -->
                            <th>Status</th>
                            <th style="width:60px;" *ngIf="permission.edit||permission.delete">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isProcessing">
                        <tr (click)="onClick(item);$event.stopPropagation()" class="cursor" *ngFor="let item of mf.data; let i = index;">

                            <!-- <td>{{i+1}}</td> -->
                            <td>{{item?.title}}</td>
                            <!-- <td (click)="onClick(item)">{{item?.notifications}}</td> -->
                            <td>{{item?.status}}</td>
                            <td style="width:60px;" *ngIf="permission.edit||permission.delete">
                                <button *ngIf="permission.edit" style="background:none;border:none;" (click)="onEditButtonClick(item.emailTemplateID)" md-tooltip="Edit"> <md-icon class="theme-button btn-w-md cursor" >edit</md-icon></button>
                                <button *ngIf="permission.delete" style="background:transparent;border:none;background-color: transparent !important;
                    color: #f00 !important;" (click)="onDelete(item.emailTemplateID,i);$event.stopPropagation()"><md-icon class="cursor" md-tooltip="Delete" >delete</md-icon></button>
                            </td>

                        </tr>
                        <tr *ngIf="!emailTemplates?.length">
                            <td colspan="3" style="text-align:center !important" class="alert alert-danger full-width">
                                No record found
                            </td>
                        </tr>
                    </tbody>
                    <tfoot >
                        <tr class="full-width" *ngIf="isProcessing">
                    <td colspan="8">
                    <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
                    </td>
                </tr>
                        <tr *ngIf="emailTemplates?.length>10 && !isProcessing">
                            <td colspan="8">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </article>
</div>