.addUserBtn{
    float:right;
    span{
        font-size: 25px;
        margin-right: 7px;
    }
}

.cursor{
    cursor:pointer;
}
.positionFilter{
    padding: 0 30px 20px 10px;
    md-input-container{
        width:100%;
    }
    .filterItems{
            overflow-y: auto;
         padding: 15px;
        ul {
    height: 80px;
    margin-bottom: 0;
}

    }
}

@media only screen and (max-width: 767px){
.addUserBtn.float-right {
   margin-bottom: 0px;
}
}
.btn-filter{
    background: #fff;
    border: 1px solid #ebebeb;
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    color: #585858;
}

.mdl-data-table td:last-of-type{width:auto !important;}
