/* You can add global styles to this file, and also import other style files */

$blue-color: #64c3fb;
$cancel-color:#c3c3cd;
$text-white:#ffffff;
$color-yellow: #ffcc33;
$color-green: #4cdaaa;
$color-red: #ff8383;
$color-orange: #f69e32;
$color-special: #8a89d9;
html,
body,
h2 .mat-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button {
    font-family: 'LatoWebMedium' !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

.box-header,
.box-heading {
    font-family: 'LatoWebHeavy';
    font-size: 15px;
}

.mat-raised-button,
.mat-button {
    font-size: 15px !important;
}

.mat-primary {
    background-color: $blue-color !important;
}

.mat-button.mat-primary {
    background-color: transparent !important;
    color: $blue-color !important;
    border: 2px solid $blue-color;
}

.rounded,
.rounded .mat-button-ripple {
    border-radius: 20px !important;
}

.mat-raised-button.mat-cancel {
    background: $cancel-color;
    color: $text-white;
}

.mat-button.mat-cancel {
    background-color: transparent;
    color: $cancel-color;
    border: 2px solid $cancel-color;
}

.mat-accent,
.mat-fab,
.mat-mini-fab {
    background-color: $color-green !important;
    color: $text-white !important;
}

.mat-button.mat-accent {
    color: $color-green;
    background-color: transparent !important;
    border: 2px solid $color-green;
}

.mat-danger {
    background-color: $color-red !important;
    color: #ffffff !important;
}

.mat-button.mat-danger {
    color: $color-red !important;
    background-color: transparent !important;
    border: 2px solid $color-red;
}

.mat-button.mat-danger .mat-button-focus-overlay {
    background-color: rgba(255, 131, 131, 0.09);
}

.mat-button.mat-warn {
    color: $color-orange;
    background-color: transparent !important;
    border: 2px solid $color-orange;
}

.mat-button.mat-warn .mat-button-focus-overlay {
    background-color: $color-orange;
}

.mat-button.mat-special {
    color: $color-special;
    background-color: transparent !important;
    border: 2px solid $color-special;
}

.mat-button.mat-special .mat-button-focus-overlay {
    background-color: rgba(138, 137, 217, 0.06);
}

.mat-button.disabled {
    border: 2px solid #e1e1e1;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-button.mat-accent,
.mat-icon-button.mat-accent {
    color: $color-green !important;
}

.mat-button.mat-accent .mat-raised-button.mat-danger,
.mat-fab.mat-danger,
.mat-mini-fab.mat-danger {
    background-color: $color-red;
    color: $text-white;
}

.mat-raised-button.mat-warn {
    background-color: $color-orange !important;
    color: $text-white !important;
}

.mat-raised-button.mat-default {
    background-color: #acacac;
    color: $text-white !important;
}

.mat-button.mat-warn,
.mat-icon-button.mat-warn {
    color: $color-orange !important;
}

.mat-raised-button.mat-special,
{
    background-color: $color-special;
    color: $text-white;
}

.mat-fab.mat-danger,
.mat-mini-fab.mat-danger {
    background-color: $color-red;
}

.mat-raised-button.mat-secondary {
    background-color: $color-yellow;
    color: $text-white;
}

.mat-button.mat-secondary {
    color: $color-yellow;
    border: 2px solid $color-yellow;
}

.mat-button.mat-secondary .mat-button-focus-overlay {
    background-color: rgba(241, 213, 131, 0.18);
}

.mat-button.mat-warn .mat-button-focus-overlay,
.mat-icon-button.mat-warn .mat-button-focus-overlay,
.mat-raised-button.mat-warn .mat-button-focus-overlay,
.mat-fab.mat-warn .mat-button-focus-overlay,
.mat-mini-fab.mat-warn .mat-button-focus-overlay {
    background-color: rgba(246, 158, 50, 0.09) !important;
}

.mat-button.mat-cancel .mat-button-focus-overlay {
    background-color: rgba(195, 195, 205, 0.13);
}

.mat-ink-bar {
    background-color: #ffcc32 !important;
    height: 4px !important;
}

[_nghost-c12] {
    height: 15px !important;
}

.mat-progress-bar-buffer {
    background-color: #dfe0e5 !important;
}

.mat-progress-bar-fill::after {
    background-color: #64c3fb !important;
}

.mat-accent-progress .mat-progress-bar-fill::after {
    background-color: #4cdaaa !important;
}

.mat-warning-progress .mat-progress-bar-fill::after {
    background-color: #f69e32 !important;
}

.mat-danger-progress .mat-progress-bar-fill::after {
    background-color: #ff8383 !important;
}

.mat-progress-spinner path,
.mat-spinner path {
    stroke: #64c3fb !important;
}

.progress-accent .mat-progress-spinner path,
.progress-accent .mat-spinner path {
    stroke: #4cdaaa !important;
}

.progress-warn .mat-progress-spinner path,
.progress-warn .mat-spinner path {
    stroke: #f69e32 !important;
}

.progress-danger .mat-progress-spinner path,
.progress-danger .mat-spinner path {
    stroke: #ff8383 !important;
}

md-checkbox.mat-accent,
md-checkbox.mat-primary,
md-slider.mat-accent,
md-slide-toggle.mat-accent,
md-slide-toggle.mat-primary {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.87)!important;
}

md-input-container.md-icon-left {
    margin-left: -9px !important;
}

button[disabled] {
    cursor: not-allowed !important;
}

.mat-menu-content {
    padding: 0px !important;
    .usersetting.mat-list {
        padding-top: 0px;
        .mat-list-item {
            cursor: pointer;
            h4 {
                line-height: 2;
            }
            &:hover {
                background-color: #f1f1f1;
            }
            .mat-list-avatar {
                height: 20px;
                width: 20px;
            }
        }
    }
}

my-app-customizer {
    #quickview-customizer {
        z-index: 99;
    }
}

.quickview-wrapper {
    display: none !important;
}

my-app-sidenav {
    .mat-button {
        font-weight: 400 !important;
    }
    .bg-color-info {
        background: #000000 !important;
    }
}

h2.article-title {
    padding-top: 20px !important;
    padding-bottom: 10px;
    margin-top: 0px !important;
    border-top: 0px;
    display: block;
    color: #4b4c4d !important;
    width: 100%;
    font-weight: bold !important;
}

.mdl-data-table th {
    background: #ebebeb;
    color: #1b1b1b !important;
    font-size: 14px !important;
}

my-app-header {
    .badge {
        color: #ffffff !important;
    }
    .bg-color-info {
        background-color: #ebebeb;
        color: #000000;
        &:hover {
            background-color: #ebebeb;
            color: #000000;
        }
    }
}

my-app-sidenav {
    .bg-color-info {
        background-color: #0c0e10;
        &:hover {
            background-color: #0c0e10;
        }
    }
    .nav-icon {
        &.fa {
            width: 24px;
            height: 24px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }
    }
}

.app-sidebar .nav a {
    color: #acacac !important;
}

//sidebar text wrap
.app-sidebar .sidebar-content .nav li>a .mat-button-wrapper {
    display: flex;
    span {
        white-space: pre-wrap;
    }
}

//sidebar text wrap
.mdl-data-table {
    td {
        text-align: left !important;
        font-size: 15px;
    }
    th {
        text-align: left !important;
    }
}

.form-main {
    .mat-input-wrapper {
        margin: 1em 0 2em;
    }
    .companyDetail {
        padding: 25px;
        .mat-select {
            display: block;
            height: 50px;
        }
        .mat-select-trigger {
            font-size: 14px;
            height: 36px !important;
            margin-bottom: 15px;
            .mat-select-placeholder.mat-floating-placeholder {
                top: -14px;
                font-size: 14px;
            }
        }
        .alert {
            position: relative;
            top: -20px;
        }
    }
}

.contentBox {
    padding: 25px;
    background-color: #fff;
    h5 {
        margin-top: 0px;
        margin-bottom: 25px;
    }
}

.mat-menu-panel {
    .countryDDlist.mat-list .mat-list-item .mat-list-item-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        font-size: 16px;
        height: 29px;
        padding: 0 4px;
        position: relative;
    }
    .mat-menu-content .countryDDlist.mat-list .mat-list-item {
        padding-bottom: 5px;
        border-bottom: 1px solid #dad9d9;
        &:last-child {
            border-bottom: 0px;
        }
        h4 {
            span {
                width: 70px;
                display: inline-block;
                position: relative;
                top: 3px;
            }
        }
    }
    .mat-menu-content .countryDDlist.usersetting.mat-list {
        padding-top: 0px;
    }
    .countryDDlist.mat-list .mat-list-item .mat-list-item-content h4 span {
        width: 95px;
    }
}

.setPermissionTable {
    .mat-checkbox-background {
        background-image: url('data:image/svg+xml;utf-8,<svg fill="#FFFFFF" height="22" viewBox="0 0 25 25" width="22" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
        background-color: red;
    }
}

.setPermissionTable {
    .mat-checkbox-checked {
        .mat-checkbox-background {
            background-image: none;
        }
    }
}

.mat-dialog-actions button {
    margin-right: 2px;
}

.paddingBox {
    padding: 25px;
    h5 {
        margin-top: 0px;
        font-size: 18px;
    }
}

feedback-detail {
    .listRow {
        width: 100%;
        margin: 20px 0px;
        label {
            min-width: 160px;
            font-weight: bold;
            float: left;
        }
        .datacol {
            padding-left: 170px;
        }
    }
    .mat-dialog-actions {
        display: block;
    }
}

i.ohsicon {
    height: 24px;
    width: 24px;
    text-align: center;
}

.ql-container {
    height: auto;
    .ql-editor {
        background: #ffffff;
        height: 120px;
    }
}

// add button
.addButton {
    .icon {
        font-size: 24px;
        position: relative;
        top: -2px;
        line-height: 0px;
        margin-right: 2px;
    }
}

.mat-tab-labels {
    .mat-tab-label {
        max-width: 170px;
        min-width: initial !important;
        height: initial !important;
        padding: 10px 0px;
        line-height: 23px !important;
        padding: 7px 15px !important;
        text-align: left !important;
        opacity: 1 !important;
        color: #000000;
    }
}

.article-title-style {
    color: rgba(0, 0, 0, 0.87) !important;
}

.mat-input-placeholder {
    color: rgba(0, 0, 0, 0.71) !important;
}

.mat-focused .mat-input-placeholder {
    color: #2196f3 !important;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.mat-input-placeholder.mat-float:not(.mat-empty) {
    font-size: 16px !important;
    letter-spacing: 0.6px;
}

// policy management
.labelStats {
    margin-bottom: 20px;
    .statsInfo {
        padding: 10px 18px;
        margin-bottom: 0px;
        background: #e2e2e2;
        margin-right: 5px;
    }
}

// filter section
.positionFilter {
    padding: 0 30px 20px 10px;
    .mat-input-container {
        .mat-icon.material-icons {
            font-size: 20px;
        }
    }
    .filterTitle {
        padding-left: 15px;
    }
    .filterItems {
        overflow-y: auto;
        padding: 15px;
        ul {
            height: 80px;
            margin-bottom: 0;
        }
    }
    .search-width {
        width: 100%;
        padding-left: 15px;
    }
}

.filter-wrapp {
    .filterColumn {
        margin: 0px 15px;
        max-width: 230px;
    }
    &.box {
        box-shadow: 0px 0px 3px 0px #b7b7b7;
    }
    .filterItems {
        overflow-y: auto;
        ul {
            height: 100px;
        }
    }
    .filtericn {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 36px;
        display: none;
    }
    h5 {
        &.blankhead {
            margin-bottom: 42px;
        }
    }
    .input-group {
        min-width: 215px;
        .mat-icon {
            height: 18px;
            width: 19px;
            line-height: 21px;
        }
    }
}

.mdl-data-table {
    button {
        &.btn-w-md {
            min-width: 80px;
            .material-icons {
                font-size: 21px;
            }
            &.first-child {
                margin-right: 10px;
            }
        }
        &:first-child {
            margin-right: 5px;
        }
    }
    td {
        &:last-child {
            width: 18%;
        }
    }
}

// search
.input-group {
    margin-bottom: 12px;
    .input-group-addon {
        background-color: $color-yellow;
        color: $text-white;
    }
}

.topFilter {
    width: 75%;
    margin-bottom: 12px;
}

// checklist management
.boardingList {
    .box-header {
        .material-icons {
            line-height: 8px;
            position: relative;
            top: 4px;
            left: 12px;
            font-size: 22px;
            &.arrow {
                font-size: 30px;
            }
        }
    }
    table {
        tr {
            td {
                padding: 15px 10px;
                border-bottom: 1px dashed #b5b5b5;
                vertical-align: top;
                &.title {
                    border-bottom: 1px solid #444444;
                    font-weight: 800;
                }
                &:first-child {
                    width: 215px;
                }
                textarea {
                    min-height: 140px;
                    width: 250px;
                    font-size: 12px;
                    text-align: left;
                }
            }
            &:last-child {
                td {
                    border-bottom: 0px;
                }
            }
        }
    }
}

.box .box-dark {
    background-color: #ebebeb !important;
}

// custom multiple select
.customDDMultiSelect {
    position: relative;
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #e0e0e0;
    }
    .droapdown {
        background: #ffffff;
        border: 1px solid #e0e0e0;
        border-top: 0px;
        padding: 10px 15px;
        li {
            padding: 5px 0px;
        }
    }
    .close {
        position: absolute;
        right: 7px;
        top: 9px;
        i {
            font-size: 22px;
        }
    }
}

.gapleft {
    padding-left: 15px;
}

// commom message list
.messageList {
    h5 {
        display: inline-block;
    }
    ul {
        padding-left: 0px !important;
        li {
            list-style-type: none;
            padding-bottom: 25px;
            border-bottom: 1px dashed #bdbdbd;
            margin-bottom: 25px;
            &:last-child {
                border-bottom: 0px;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .mat-primary {
        float: right;
        text-decoration: none;
        margin-top: 25px;
    }
    .user {
        height: 52px;
        width: 52px;
        display: table;
        float: left;
        .adjustsnap {
            height: 100%;
            width: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            img {
                width: 100%;
            }
        }
    }
    .msgDetail {
        padding-left: 80px;
        h5 {
            margin-top: 0px;
            font-size: 19px;
        }
        .dateTime {
            font-size: 12px;
            span {
                margin-left: 15px;
            }
        }
        p {
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }
}

// broadcast pages
.broadcastmain {
    .messageBox {
        padding: 25px;
        h4 {
            margin: 0px 0px;
            padding: 5px 10px;
            border: 1px solid #d4d4d4;
            background: #f5f5f5;
            color: #444444;
            line-height: 32px;
            border-radius: 2px;
            cursor: pointer;
            font-size: 20px;
        }
        .infoMsg {
            text-align: right;
            padding: 5px 0px;
            .msgCount {
                margin-left: 50px;
                width: 90px;
                font-size: 18px;
                font-weight: 600;
            }
        }
        li {
            list-style-type: none;
            padding-bottom: 25px;
            border-bottom: 1px dashed #bdbdbd;
            margin-bottom: 25px;
            &:last-child {
                border-bottom: 0px;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

// inner pages sidebar
.messageSidebar {
    border: 1px solid #cccccc;
    background: #ffffff;
    .searchbar {
        padding: 15px;
        .input-group {
            margin-bottom: 0px;
        }
    }
    .userType {
        margin-bottom: 0px;
        li {
            padding: 8px 15px;
            border-bottom: 1px solid #d4d4d4;
            cursor: pointer;
            display: block;
            &:last-child {
                border-bottom: 0px;
            }
            &:hover {
                background: #f1f1f1;
            }
            &.active {
                background: #f1f1f1;
            }
        }
    }
}

.boldTitle {
    font-weight: bold;
}

.addUserBtn {
    .icon {
        font-size: 25px;
        margin-right: 7px;
        position: relative;
        top: -3px;
        left: -2px;
    }
}

.searchbar {
    margin-bottom: 10px;
}

.box-body {
    .selected-list {
        button {
            box-shadow: 0px 0px 0px #ffffff !important;
            &.c-btn {
                border: 1px solid #e0e0e0;
            }
        }
    }
}

.filtercolumn {
    margin: 10px 20px;
    .input-group {
        margin-bottom: 12px;
        width: 245px !important;
    }
}

// mat checkbox
.mat-checkbox-checked.mat-accent {
    .mat-checkbox-background {
        background-color: #4cdaaa !important;
    }
}

md-tab-group {
    display: block !important;
    height: auto !important;
    &[_nghost-c12] {
        height: auto !important;
    }
}

.boardingList {
    inline-editor-text {
        height: auto !important;
        width: 100%;
        input {
            display: block;
            width: 100%!important;
        }
    }
    .inlineEditForm {
        .form-group {
            margin-bottom: 0px !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    .mat-dialog-container {
        margin: 0 auto;
    }
    .filtercolumn {
        margin: 10px 20px;
        .input-group {
            margin-bottom: 12px;
            width: 100% !important;
            min-width: initial;
        }
    }
    .selectWrapper {
        width: 100% !important;
    }
    .addUserBtn {
        &.float-right {
            float: none !important;
            margin-bottom: 15px;
            display: block;
        }
    }
    .chapter .article-title {
        font-size: 21px !important;
    }
    .chapter .article:nth-of-type(1) .article-title {
        margin: 0 0 14px !important;
    }
    .labelStats {
        margin-top: 20px;
        label {
            &:last-child {
                margin-top: 15px;
            }
        }
    }
    .groupAction {
        &.float-right {
            float: none !important;
        }
        &.text-right {
            text-align: left !important;
        }
    }
    .pageHead {
        button {
            &.float-right {
                float: none !important;
            }
        }
    }
    .labelStats {
        margin-top: 0px;
        label {
            &.statsInfo {
                margin-bottom: 15px !important;
            }
        }
        button {
            &.float-right {
                float: none !important;
                display: block;
            }
        }
    }
    h2 {
        button {
            &.float-right {
                float: none !important;
                margin-top: 15px;
                display: inherit;
            }
        }
        .addUserBtn {
            margin-bottom: 0px;
            margin-top: 15px;
        }
    }
    .labelStats {
        &.float-right {
            float: none !important;
        }
    }
    .messageList {
        .user {
            margin: 0px auto 10px;
            float: none;
        }
        .msgDetail {
            padding-left: 0px;
        }
    }
    .messageSidebar {
        margin-bottom: 12px;
    }
}

// OHS form editor
#inlineEditWrapper {
    position: relative;
    .inlineEditForm {
        box-shadow: 0px 0px 5px 0px #737373;
        -moz-box-shadow: 0px 0px 5px 0px #737373;
        -webkit-box-shadow: 0px 0px 5px 0px #737373;
        padding: 10px;
        background: #ebebeb;
        width: 315px;
        z-index: 999;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        inline-editor-textarea {
            height: auto !important;
            textarea {
                width: 100%;
                height: 80px;
            }
        }
        .inline-editor-button-group {
            margin-top: 10px;
            display: inline-block;
        }
    }
}

.box-header {
    font-size: 16px;
    inline-editor {
        display: inline-block;
    }
    i {
        cursor: pointer;
    }
    span {
        cursor: pointer;
    }
}

// company admin
.registrationForm {
    .mat-tab-list {
        .mat-tab-labels {
            .mat-tab-label {
                font-size: 17px;
                padding: 15px 15px !important;
            }
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto;
}

i {
    cursor: pointer;
}

button {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.app-sidebar {
    &.bg-color-dark {
        background: #333333;
        &:hover {
            background: #333333;
        }
    }
}

.app-sidebar ul.nav .icon-has-ul {
    color: #acacac;
}

.app-sidebar .sidebar-content .nav>li ul li>a>.material-icons {
    margin-right: 5px;
    margin-left: 10px;
}

.app-sidebar ul.nav>li.active>a:after,
.app-sidebar ul.nav>li.open>a:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background: #fbcb27;
    left: 0;
    top: 0;
}

.app-sidebar ul.nav li.active,
.app-sidebar .nav li.open>a,
.app-sidebar .nav li.open>a:hover,
.app-sidebar .nav li.open>a:focus {
    background: #4b4c4d !important;
}

.app-sidebar .sidebar-content .nav>li>a .nav-icon {
    font-size: 21px;
}

.groupAction {
    a {
        margin-left: 20px;
        color: #000000;
    }
    .labelStats {
        display: inline-block;
        margin-left: 5px !important;
        .statsInfo {
            display: block;
            margin-top: 10px;
            text-align: center;
            background-color: #64c3fb;
            color: #fff;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -ms-border-radius: 4px;
        }
    }
}

.labelStats {
    .statsInfo {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -ms-border-radius: 4px;
    }
}

.mat-input-invalid .mat-input-underline {
    border-color: #e0e0e0!important;
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

.mce-branding-powered-by {
    display: none !important;
}

.listStyleDisc {
    table {
        border: 1px solid #cccccc;
        border-collapse: collapse;
        td {
            border: 1px solid #cccccc;
        }
    }
    ul {
        padding-left: 40px !important;
        list-style: disc !important;
    }
}

.white-space-pre {
    white-space: pre-wrap;
}

#inlineEditWrapper .inlineEditForm {
    width: 100%;
    min-width: 200px;
}

.btn.btn-filter,
a.btn-filter,
button.btn-filter {
    background-color: transparent;
    border: 1px solid #acacac;
    color: #4b4c4d;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: 'LatoWebMedium';
    font-size: 15px;
    font-weight: 500;
}

.UserActionPopup iframe {
    height: 300px !important;
    @media screen and (max-width: 767px) {
        height: 150px !important;
    }
}

.ql-editor {
    height: 270px !important;
}