//signature font ---
@import url('https://fonts.googleapis.com/css?family=Allura|Caveat|Dancing+Script|Great+Vibes|Homemade+Apple|Jim+Nightshade|La+Belle+Aurore|Montez|Mr+Dafoe|Mrs+Saint+Delafield|Over+the+Rainbow|Ruthie|Sacramento|Satisfy|Stalemate|Waiting+for+the+Sunrise');
.sign1 {
    font-family: 'Dancing Script', cursive !important;
}

.sign2 {
    font-family: 'Satisfy', cursive !important;
}

.sign3 {
    font-family: 'Great Vibes', cursive !important;
}

.sign4 {
    font-family: 'Sacramento', cursive !important;
}

.sign5 {
    font-family: 'Caveat', cursive !important;
}

.sign6 {
    font-family: 'Homemade Apple', cursive !important;
}

.sign7 {
    font-family: 'Allura', cursive !important;
}

.sign8 {
    font-family: 'Mr Dafoe', cursive !important;
}

.sign9 {
    font-family: 'Montez', cursive !important;
}

.sign10 {
    font-family: 'La Belle Aurore', cursive !important;
}

.sign11 {
    font-family: 'Waiting for the Sunrise', cursive !important;
}

.sign12 {
    font-family: 'Over the Rainbow', cursive !important;
}

.sign13 {
    font-family: 'Stalemate', cursive !important;
}

.sign14 {
    font-family: 'Jim Nightshade', cursive !important;
}

.sign15 {
    font-family: 'Mrs Saint Delafield', cursive !important;
}

.sign16 {
    font-family: 'Ruthie', cursive !important;
}

body {
    font-size: 15px;
}

.app-container-wrapper {
    height: 100%;
    width: 100%;
}

.admin-panel {
    font-size: 15px;
    height: 100%;
    width: 100%;
    a:hover {
        text-decoration: none;
        color: #333;
    }
    //heading custom css
    .heading {
        font-family: 'LatoWebHeavy';
    }
    h1.heading {
        color: #4b4c4d;
        font-size: 36px;
    }
    h2.heading {
        color: #4b4c4d;
        font-size: 28px;
    }
    h3.heading {
        color: #4b4c4d;
        font-size: 24px;
    }
    h4.heading {
        color: #4b4c4d;
        font-size: 20px;
    }
    h5.heading {
        color: #4b4c4d;
        font-size: 18px;
    }
    h6.heading {
        color: #4b4c4d;
        font-size: 16px;
    }
    // breadcrumb css
    .breadcrumb {
        padding: 24px 0 16px !important;
    }
    .breadcrumb li .fa {
        font-size: 23px;
    }
    .breadcrumb li {
        padding-left: 0 !important;
        font-size: 13px !important;
        color: #acacac !important;
        text-transform: none !important;
        font-weight: 800 !important;
        padding-right: 8px !important;
    }
    .breadcrumb a:hover {
        color: #4b4c4d !important;
    }
    .breadcrumb a {
        color: #acacac !important;
        text-decoration: none !important;
        font-size: 13px !important;
    }
    .breadcrumb li.active {
        color: #4b4c4d !important;
    }
    .breadcrumb li.active:before {
        color: #4b4c4d !important;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        content: "\f054" !important;
        font-family: 'FontAwesome' !important;
        font-size: 10px !important;
        padding-left: 4px !important;
    }
    // form structure
    // .registrationForm  .form-group label{font-weight:bold;}
    .registrationForm .form-group .form-control:-moz-placeholder,
    .registrationForm .form-group .form-control:-o-placeholder,
    .registrationForm .form-group .form-control::-webkit-input-placeholder {
        color: #d4d4d4;
    }
    .registrationForm p.help-block.errorMsg {
        color: #ff6d6d;
        position: absolute;
        right: 20px;
    }
    .alert-danger {
        margin-top: 6px
    }
    .top-header {
        width: 100%;
        background-color: black;
        padding: 12px;
    }
    .top-header img {
        margin-left: 180px;
    }
    .form-group {
        float: left;
        width: 100%;
        .lftinpt30 {
            width: 34%;
            float: left;
            display: block;
            text-align: right;
        }
        .form-inline {
            font-size: 15px;
            margin-top: 7px;
            // font-weight: 600;
            color: #4b4c4d;
            max-width: 600px;
            width: 100%;
            padding-right: 18px;
            font-family: 'LatoWebBold';
            display: block;
            padding-right: 12px;
        }
        .lftinpt10 {
            width: 16.5%;
            float: left;
            display: block;
            text-align: right;
        }
        .rghtinput {
            width: 66%;
            float: left;
        }
        .form-control {
            height: 36px;
            width: 100%;
            max-width: 600px;
            border-radius: 4px;
            border: 1px solid #b7b7b7;
            position: relative;
            padding: 0.64rem 0.75rem;
            &::-webkit-input-placeholder {
                color: #b7b7b7;
            }
            &::-o-input-placeholder {
                color: #b7b7b7;
            }
            &::-moz-input-placeholder {
                color: #b7b7b7;
            }
        }
        textarea {
            &.form-control {
                margin-bottom: 0;
                max-width: inherit;
            }
        }
        .form-control:-moz-placeholder,
        .form-control:-o-placeholder,
        .form-control::-webkit-input-placeholder {
            color: #b7b7b7;
        }
        .rghtinput10 {
            width: 83.5%;
            float: left;
        }
        .input-group {
            .form-control {
                border-radius: 0 6px 6px 0;
                max-width: 563px;
            }
            .input-group-addon {
                background: #fc3;
            }
        }
        .alert {
            padding: 0;
            background-color: transparent;
            border: 0;
            position: relative;
            max-width: 600px;
            width: 100%;
            display: block;
        }
        input[type="text"].form-control.ng-invalid.ng-touched {
            border: 1px solid #d53a38;
            &::placeholder {
                color: #d53a38;
            }
        }
        input[type="email"].form-control.ng-invalid.ng-touched {
            border: 1px solid #d53a38;
            &::placeholder {
                color: #d53a38;
            }
        }
        input[type="password"].form-control.ng-invalid.ng-touched {
            border: 1px solid #d53a38;
            &::placeholder {
                color: #d53a38;
            }
        }
        textarea.ng-invalid.ng-touched {
            border: 1px solid #d53a38;
            &::placeholder {
                color: #d53a38;
            }
        }
    }
    // bootstrap button css
    .btn {
        padding: 0.43rem 1rem;
        cursor: pointer;
        font-size: 15px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        font-family: 'LatoWebMedium';
        line-height: 1.6;
        &.btn-lg {
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -ms-border-radius: 5px;
        }
        &.btn-primary {
            background-color: $blue-color;
        }
        &.btn-success {
            background-color: $color-green;
        }
        &.btn-danger {
            background-color: $color-red;
        }
        &.btn-warning {
            background-color: $color-orange;
        }
        &:hover {
            opacity: 0.9;
        }
        &.btn-default {
            background-color: #acacac;
            color: #fff;
        }
        &.btn-special {
            background-color: #8a88d9;
            color: #fff;
        }
        &.btn-secondary {
            background-color: #ffcc33;
        }
        &.btn-filter {
            background-color: transparent;
            border: 1px solid #acacac;
            color: #4b4c4d;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            position: relative;
            .fa {
                position: absolute;
                right: 15px;
                top: 8px;
            }
        }
        .fa {
            font-weight: bold;
            margin-left: 8px;
        }
        .outlined {
            background: transparent;
        }
    }
    button.btn-lg,
    a.btn-lg {
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        border-radius: 0.2rem;
    }
    .innerAdmins {
        h2 {
            &.article-title {
                font-size: 22px;
                margin: 0;
                padding: 10px 0;
                color: #6b6b6b !important;
                margin-bottom: 29px;
                display: block;
                font-weight: 600;
                width: 100%;
            }
        }
    }
    .buttonWrap {
        .btn {
            &:nth-child(2) {
                margin: 0px 10px;
            }
        }
    }
    // custom checkbox
    .customchkbox {
        position: relative;
        input {
            +label {
                padding-left: 28px;
                cursor: pointer;
                font-weight: normal !important;
                position: relative;
                &:before {
                    content: "";
                    height: 18px;
                    width: 18px;
                    background: #ffffff;
                    display: inline-block;
                    border: 1px solid #acacac;
                    position: absolute;
                    left: 0px;
                }
            }
            display:none;
            &:checked+label {
                position: relative;
                &:after {
                    content: "\F00C";
                    position: absolute;
                    left: 2px;
                    top: -1px;
                    font-family: FontAwesome;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;
                }
            }
        }
    }
    // custom choice
    .customChoice {
        position: relative;
        input {
            +label {
                padding-left: 28px;
                cursor: pointer;
                font-weight: normal !important;
                position: relative;
                &:before {
                    content: "";
                    height: 19px;
                    width: 19px;
                    display: inline-block;
                    border: 1px solid #acacac;
                    position: absolute;
                    left: 0px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                }
            }
            display:none;
            &:checked+label {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    height: 7px;
                    width: 7px;
                    display: inline-block;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    left: 6px;
                    top: 6px;
                    background: #444444;
                }
            }
        }
    }
    .padding-top {
        padding-top: 15px;
    }
    h3 {
        &.subhead {
            font-size: 20px;
        }
    }
    // filter box with multiple checkbox
    .filterController {
        padding: 13px 4px;
        background: #fafafa;
        margin: 0 0 20px 0;
        border-radius: 3px;
        border: 1px solid #d0d0d0;
        position: relative;
    }
    .filterController .title {
        font-size: 18px;
        font-family: 'LatoWebHeavy';
        margin: 0 0 12px;
        color: #565555;
    }
    .filterController ul.over180 {
        border-top: 1px solid #acacac;
        max-height: 140px;
        overflow: auto;
    }
    .filterController ul.over250 {
        max-height: 240px;
        overflow: auto;
    }
    .filterController .checkbox label {
        color: #4b4c4d;
        padding-left: 25px;
        position: relative;
        margin: 0 0 4px;
        cursor: pointer;
    }
    .filterController .checkbox input {
        display: none;
    }
    .filterController .checkbox input[type="checkbox"]:checked+span::before {
        content: "\F00C";
        position: absolute;
        left: 3px;
        top: 0px;
        font-family: FontAwesome;
        font-size: 13px;
        font-weight: normal;
        color: #444444;
        z-index: 9;
    }
    .maxformWidth {
        max-width: 90%;
    }
    .filterController .checkbox label span:after {
        content: "";
        height: 18px;
        width: 18px;
        display: inline-block;
        border: 1px solid #acacac;
        position: absolute;
        background: #ffffff;
        left: 0px;
        top: 3px;
    }
    // .filterController button.btn.btn-primary {
    //     position: absolute;
    //     bottom: 0;
    //     right: 20px;
    //     min-width: 157px;
    //     border-radius: 5px;
    //     font-size: 16px;
    //     height: 45px;
    //     background: #64c3fb;
    //     font-family: 'LatoWebMedium' !important;
    //     color: #fff;
    //     border: 1px solid #64c3fb;
    // }
    .filterController button.btn.btn-filter {
        position: absolute;
        bottom: 15px;
        right: 17px;
        min-width: 157px;
        border-radius: 5px;
        font-size: 16px;
        height: 45px;
        background-color: transparent;
        border: 1px solid #acacac;
        color: #4b4c4d;
        transition: all 0.5s ease;
        transition: all 0.5s ease;
        // position: relative;
        font-family: 'LatoWebMedium' !important;
        .fa {
            position: static;
            right: inherit;
            top: inherit;
        }
    }
    .filterController button.btn.btn-default,
    .filterController button.btn.btn-primary {
        position: absolute;
        bottom: 15px;
        right: 17px;
        min-width: 157px;
        border-radius: 5px;
        font-size: 16px;
        height: 45px;
        background: transparent;
        font-family: 'LatoWebMedium' !important;
        color: #acacac;
        border: 1px solid #acacac;
        @media screen and (max-width: 479px) {
            position: initial;
            margin: 0 auto 12px;
        }
    }
    .filterController button.btn.btn-primary {
        background-color: #64c3fb;
        color: #ffffff;
        border-color: #64c3fb;
    }
    .cuppa-dropdown {
        max-width: 600px !important;
        .selected-list {
            button {
                box-shadow: 0px 0px 0px #959595 !important;
                &.c-btn {
                    min-height: 36px;
                }
            }
        }
    }
    .form-group {
        margin-bottom: 15px !important;
    }
    .emailRow {
        .input-group {
            margin-bottom: 0px;
        }
    }
    .material-icons {
        &.next {
            position: relative;
            font-size: 18px;
            top: 3px;
        }
    }
    // filter box with multiple checkbox 
    .box {
        padding: 20px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.42);
        tr {
            td {
                font-size: 16px;
                padding: 15px;
                &.rows {
                    font-size: 16px;
                    font-weight: bold;
                    width: 20%;
                }
            }
        }
        .box-title {
            margin: 0;
            font-size: 18px;
            padding: 12px 15px;
            border-bottom: 1px solid #9a9a9a;
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .subhead {
            h2 {
                &.article-title {
                    padding-top: 20px !important;
                }
            }
            .btn {
                margin-top: 20px;
            }
            .btn-default {
                background: #e2e2e2;
            }
            input {
                margin-top: 12px;
            }
        }
        .togglebox {
            background: #fff;
            padding: 15px;
            p {
                margin: 0;
            }
        }
        .quillEditor {
            background: #fff;
            padding: 12px 15px 0;
            .ql-container {
                border: 0;
            }
            .divfooter {
                padding: 12px 15PX;
            }
        }
        .subhead {
            h2 {
                &.article-title {
                    padding-top: 20px !important;
                }
            }
            .btn {
                margin-top: 20px;
            }
            .btn-default {
                background: #e2e2e2;
            }
            input {
                margin-top: 12px;
            }
        }
    }
    .awardsFilter {
        margin-bottom: 0px;
        padding-right: 40px;
        li {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
            .badge {
                cursor: pointer;
                font-size: 12px;
                padding: 7px 10px;
                min-width: 32px;
            }
        }
    }
    .AwardAlphabet-list {
        .box {
            margin-top: 30px;
            .box-body {
                ul {
                    li {
                        margin: 5px 0px;
                    }
                }
            }
        }
    }
    .tableWrapper {
        overflow: auto;
        table {
            background: #fff;
            border: 0;
            font-size: 15px;
            min-width: 760px;
            width: 100%;
            color: #4b4c4d;
            th {
                font-weight: bold;
                padding: 12px 15px;
                border-bottom: 3PX solid #cbcbcb;
                border-top: 0;
                a {
                    font-weight: bold !important;
                    opacity: 1;
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
                .fa {
                    color: #acacac;
                }
            }
            tr {
                border-bottom: 1PX solid #cbcbcb;
                td {
                    font-size: 15px;
                    padding: 0 15px;
                    height: 54px;
                    vertical-align: middle;
                    .media {
                        .media-left {
                            padding-right: 5px;
                        }
                    }
                    .dropdown {
                        .fa-angle-down {
                            margin-top: 4px;
                        }
                    }
                    &:last-child {
                        .open>.dropdown-menu {
                            left: inherit;
                            right: 0px;
                        }
                    }
                }
                &:nth-child(even) {
                    background: #fafafa;
                }
            }
            &.border-table {
                th {
                    border: 1px solid #cbcbcb;
                    border-bottom: 3PX solid #cbcbcb;
                }
                td {
                    border: 1px solid #cbcbcb;
                }
            }
        }
    }
    .table-advance {
        width: 100%;
        text-align: center;
        max-width: 500px;
        th {
            background-color: #9a9a9a;
            color: #333;
            border: 1px solid #6b6b6b;
        }
        tr {
            td {
                border: 1px solid #dcdcdc;
            }
            &:nth-child(even) {
                background-color: #f7f7f7;
            }
        }
    }
    //progess bar Css
    .progress {
        .step-1 {
            background: #ff8383;
        }
        .step-2 {
            background: #f79e31;
        }
        .step-3 {
            background: #ffcc33;
        }
        .final {
            background: #4cd9aa;
        }
    }
    .empSrearch {
        width: 100%;
        display: inline-block;
        .btn {
            background: #fbcb27;
            color: #fff;
            .fa {
                margin-left: 0px;
            }
        }
        #custom-search-input {
            .input-group {
                border: 1px solid #acacac;
                border-radius: 4px;
                overflow: hidden;
                .form-control {
                    border: 0;
                    border-right: 1px solid #acacac;
                    z-index: 3;
                    height: 36px;
                }
            }
        }
    }
    // .EmpList .table thead th  a{
    //     font-weight:bold !important;
    // }
    .app-sidebar .nav li>a:hover,
    .app-sidebar .nav li>a:focus {
        background-color: #4b4c4d;
    }
    // .app-sidebar ul.nav li.active:after {
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     width: 3px;
    //     top: 0;
    //     background: #fc3;
    //     left: 0;
    // }
    // custom checkbox
    .customchkbox {
        position: relative;
        input {
            &+span {
                padding-left: 28px;
                cursor: pointer;
                font-weight: normal !important;
                &:before {
                    content: "";
                    height: 18px;
                    width: 18px;
                    background: #ffffff;
                    display: inline-block;
                    border: 1px solid #acacac;
                    position: absolute;
                    left: 0px;
                }
            }
            display:none;
            &:checked+span {
                position: relative;
                &:after {
                    content: "\F00C";
                    position: absolute;
                    left: 3px;
                    top: 0px;
                    font-family: FontAwesome;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;
                }
            }
        }
    }
    .roundImgIcon {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .colCenter {
        float: none;
        display: inline-block;
    }
    .toggleSwitch {
        .switch {
            position: relative;
            display: inline-block;
            width: 68px;
            height: 34px;
            input {
                display: none;
            }
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #acacac;
            -webkit-transition: .4s;
            transition: .4s;
            i {
                display: inline-block;
                padding: 7px 10px;
                color: #fff;
                font-style: normal;
            }
            .chk {
                display: none;
                text-align: left;
            }
            .unchk {
                display: block;
                text-align: right;
            }
            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
        input:checked {
            &+.slider {
                background-color: #4cd9aa;
                .chk {
                    display: block;
                }
                .unchk {
                    display: none;
                }
                &:before {
                    -webkit-transform: translateX(33px);
                    -ms-transform: translateX(33px);
                    transform: translateX(33px);
                }
            }
        }
        input:focus+.slider {
            box-shadow: 0 0 1px #4cd9aa;
        }
        .slider.round {
            border-radius: 34px;
            &:before {
                border-radius: 50%;
            }
        }
    }
    // for custom selectbox
    .questionBox {
        margin-top: 20px;
    }
    .questionHeading {
        padding: 20px;
        margin: 0 0 5px;
        border: 1px solid #ccc;
    }
    .answerBx {
        padding: 20px;
        margin: 0;
        border: 1px solid #ccc;
        h5 {
            margin-top: 0;
        }
    }
    /*****/
    .tableHead {
        background-color: #d4d4d4;
        padding: 10px 15px;
        margin-bottom: 10px;
        @media (max-width: 767px) {
            padding: 5px 15px;
        }
        h4 {
            margin: 5px 0;
            font-size: 22px;
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
    .label_head {
        display: inline-block;
        vertical-align: top;
        margin: 10px 3% 0 0;
        line-height: 1em;
    }
    .managerBx {
        display: inline-block;
        vertical-align: middle;
        .roundImgIcon {
            float: left;
        }
        .managerDesc {
            display: block;
            overflow: hidden;
            line-height: 1.4em;
            strong {
                display: block;
            }
            span {
                display: block;
            }
        }
    }
    /*********/
    .developmentBox {
        margin: 30px 0;
        border: 1px solid #cbcbcb;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        position: relative;
        .headingBx {
            padding: 15px 20px;
            background: #ebebeb;
            border-bottom: 1px solid #cecece;
            border-radius: 5px 5px 0 0;
            @media (max-width: 767px) {
                padding: 10px 15px;
            }
            h4 {
                margin: 0;
                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
        .contentBoxWrap {
            padding: 20px;
            background-color: #ffffff;
            border-radius: 0 0 5px 5px;
            &.darkBg {
                background-color: #cbcbcb;
            }
            @media (max-width:767px) {
                padding: 15px;
            }
        }
    }
    .marginBottom {
        margin-bottom: 30px;
        @media (max-width: 575px) {
            margin-bottom: 15px;
        }
    }
    .traingForm {
        .managerListBlock {
            @media (max-width: 767px) {
                margin-top: 15px;
            }
        }
    }
    .media {
        .media-left {
            display: inline-block;
            vertical-align: middle;
        }
        .img-circle {
            border-radius: 50%;
        }
        .media-right {
            display: inline-block;
            vertical-align: middle;
        }
    }
    // .InviteUser .btn {
    //     padding: 9px 12px;
    // }
    .filter {
        .form-group .form-control {
            height: 38px;
            font-weight: 700;
        }
        .fa {
            font-weight: bolder;
            font-size: 17px;
        }
    }
    // .cuppa-dropdown{
    //     .c-btn{
    //      height:36px;
    //     }
    // }
    .empSrearch #custom-search-input .input-group {
        height: 38px;
    }
    .empSrearch div#custom-search-input .input-group .form-control::-webkit-input-placeholder,
    .dp-picker-input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #b7b7b7;
    }
    .empSrearch div#custom-search-input .input-group .form-control::-moz-placeholder,
    .dp-picker-input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: #b7b7b7;
    }
    .empSrearch div#custom-search-input .input-group .form-control:-ms-input-placeholder,
    .dp-picker-input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: #b7b7b7;
    }
    .empSrearch div#custom-search-input .input-group .form-control:-moz-placeholder,
    .dp-picker-input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: #b7b7b7;
    }
    .filterController ul.over180 {
        padding-top: 8px;
    }
    // margin for all paginators
    mfbootstrappaginator {
        margin: 2px 12px;
    }
    // progress bar text max width
    .circle-inner-container {
        .circle-data {
            max-width: 140px;
            @media(max-width: 1135px) {
                max-width: inherit !important;
            }
            text-align: left;
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }
    }
    .breadcrumb span.fa.fa-home {
        position: relative;
        top: -3px;
    }
    // popup css
    .cdk-overlay-container .cdk-overlay-pane {
        @media(max-width: 991px) {
            //  width: 90%;
            .mat-dialog-container {
                max-width: 100%;
            }
        }
    }
    div#cdk-overlay-0.cdk-overlay-pane {
        @media(max-width: 767px) {
            height: 100%;
            margin-top: 20px;
        }
    }
    .white-space-pre {
        white-space: pre-wrap;
    }
}

.app-sidebar .sidebar-content .nav>li {
    position: initial !important;
}

.app-sidebar .sidebar-content .nav>li .slimScrollDiv,
.app-sidebar .sidebar-content .nav>li>ul {
    position: absolute !important;
    top: 0;
    left: 250px;
    background: #333;
    opacity: 0;
    z-index: 99;
    width: 172px !important;
    display: block !important;
    overflow: auto;
    height: 100% !important;
    transition: all 0.3s ease;
}

.app-sidebar .sidebar-content .nav>li ul a {
    background: #444;
    position: relative;
}

.app-sidebar .sidebar-content .nav>li a:hover .fa-angle-right {
    margin-right: -6px;
}

.app-sidebar .sidebar-content .nav>li a .fa-angle-right {
    margin-top: 6px;
    transition: all 0.5s ease;
    position: absolute;
    right: 15px;
}

.app-sidebar .sidebar-content .nav>li ul a .material-icons {
    display: none;
}

.app-sidebar .sidebar-content .nav>li.open ul li.active {
    background: #333 !important;
}

.app-sidebar .sidebar-content .nav>li.open ul li:hover a {
    color: #fff !important;
}

.app-sidebar .sidebar-content .nav>li.open ul li {
    border-bottom: 1px solid #333;
}

.app-sidebar .sidebar-content .nav>li.open ul li:last-child {}

.app-sidebar .sidebar-content .nav>li.open ul {
    display: block !important;
    height: 100%;
    background: #444;
    z-index: 9;
}

.app-sidebar .sidebar-content .nav .material-icons.icon-has-ul {
    display: none;
}

.app-sidebar .sidebar-content .nav>li.open ul,
.app-sidebar .sidebar-content .nav>li.open .slimScrollDiv {
    left: 50px;
    opacity: 1;
    display: block !important;
}

.app-sidebar .sidebar-content .nav>li.open .slimScrollDiv ul {
    left: 0;
    opacity: 1;
    display: block !important;
}

.app-sidebar .sidebar-content .nav span.menuHeading {
    padding: 12px 0 12px 26px;
    display: block;
    font-size: 14px;
    background: #333;
    color: #ffffff;
    font-weight: 500;
    position: relative;
}

.app-sidebar .sidebar-content .nav span.menuHeading:after {
    content: "\F0D9";
    position: absolute;
    left: 15px;
    top: 13px;
    font-family: 'FontAwesome';
    font-size: 13px;
}

.pipLisingPopUp {
    width: 250px;
    .dropdown-list {
        position: relative !important;
    }
    .arrow-up {
        display: none;
    }
    .list-area {
        border: 0 !important;
        border-radius: 0 !important;
        background: #fff;
        /* margin: 0px; */
        box-shadow: none !important;
        width: 100%;
        .pure-checkbox {
            label {
                &::before {
                    border-radius: 50%;
                }
            }
        }
    }
    .cuppa-dropdown {
        margin-left: -15px !important;
        margin-right: -15px !important;
        margin-top: -15px !important;
        margin-bottom: -15px !important;
        //height:36px;
    }
}

.myclass {
    .pure-checkbox {
        width: 100%;
        float: left;
        img {
            width: 40px;
            height: 40px;
            float: left;
            border-radius: 50%;
            margin-right: 10px;
        }
        input[type="checkbox"] {
            &+label {
                display: block!important;
                overflow: hidden;
                padding-left: 0!important;
                line-height: 1.4em;
                span {
                    display: block;
                }
                &:before {
                    left: auto!important;
                    right: 0!important;
                }
                &:after {
                    left: auto!important;
                    right: 4px!important;
                }
            }
        }
    }
    .pure-checkbox.select-all {
        float: none;
    }
}

.cmpnycontentBox {
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border: 1px solid #cbcbcb;
    background: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-list {
    .arrow-up:after {
        content: '';
        border: 0.5px solid #d3d3d3;
        transform: rotate(-43deg);
        position: absolute;
        top: -2px;
        height: 19px;
        right: -6px;
    }
    .arrow-up:before {
        content: '';
        border: 0.5px solid #d3d3d3;
        transform: rotate(41deg);
        position: absolute;
        top: -2px;
        left: -10px;
        height: 19px;
    }
}

.discount-coupon-sa .cuppa-dropdown .selected-list .c-btn {
    height: 36px !important;
}

.app-header {
    .toggleBtn {
        display: none;
        float: right;
        a {
            display: block;
            padding: 8px;
            height: 50px;
            line-height: 34px;
            font-size: 38px;
            color: #333;
            &:hover {
                color: #333;
                background: #e2e2e2;
                height: 49px;
            }
            &:focus {
                color: #333;
                background: #e2e2e2;
                height: 49px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .tophHeaderToggle {
        width: 100%;
        float: right;
        text-align: right;
    }
    .app-header .toggleBtn {
        display: block;
    }
}

@media screen and (max-width:479px) {
    .top-nav-right {
        float: right;
        width: 65%;
        .countryDD {
            .header-btn {
                padding: 0;
            }
        }
    }
}

.countryDDlist h4.mat-line img {
    max-height: 25px;
    width: auto;
    height: 100%;
    max-width: 40px;
}

.employee-ohs .cuppa-dropdown .selected-list .c-btn,
.messages .cuppa-dropdown .selected-list .c-btn,
.saTrophyCotainer .cuppa-dropdown .selected-list .c-btn,
.leaveStatusView .cuppa-dropdown .selected-list .c-btn {
    min-height: 36px;
    height: auto !important;
}

.employee-ohs .cuppa-dropdown .selected-list::before,
.messages .cuppa-dropdown .selected-list::before,
.saTrophyCotainer .cuppa-dropdown .selected-list::before,
.leaveStatusView .cuppa-dropdown .selected-list::before {
    height: 100%;
}

// .collapseInfoBox{
//     &.pendingBox{ 
//         h4 {
//             border-color: #ff8383;
//             background: #fdc5c5;
//         }
//         .collapseContentbox{
//             background: #fff4f4;
//             border-color: #ff8383;
//             table{
//                 background:rgba(255, 255, 255, 0.36);
//             }
//         }
//     }
// }
.selected-list .c-list .c-token {
    margin-bottom: 1px;
}

//arror warning icon start  
.admin-panel .form-group input.form-control+div .alert::after,
.admin-panel .form-group input.form-control+.alert::after {
    content: "\f071";
    position: absolute;
    top: -34px;
    right: 10px;
    font-family: 'fontAwesome';
}

.admin-panel .form-group input.form-control.ng-valid+div {
    max-width: 600px;
    position: relative;
}

.admin-panel .form-group .form-control.ng-invalid.ng-submitted,
.admin-panel .form-group .form-control.ng-invalid.ng-touched {
    border: 1px solid #d53a38;
}

.admin-panel angular2-multiselect+div .alert::after,
.admin-panel textarea.form-control+div .alert::after,
.admin-panel dp-date-picker+div .alert::after,
.admin-panel .customchoosefilebtn+div .alert::after {
    display: none;
}

.admin-panel .form-group input.ng-valid.ng-touched {
    border-color: #4cd9aa;
}

.admin-panel .form-group input.ng-valid.ng-touched+div::after {
    content: "\F00C" !important;
    position: absolute;
    top: -29px;
    right: 10px;
    color: #4cd9aa;
    font-family: 'fontAwesome';
}

.admin-panel .form-group .dp-picker-input.ng-valid {
    border: 1px solid #b7b7b7 !important;
}

.admin-panel .form-group .customchoosefilebtn {
    max-width: 600px;
    position: relative;
}

.admin-panel .form-group .customchoosefilebtn .form-control {
    width: 100% !important;
    display: inline-block;
}

.admin-panel .form-group .customchoosefilebtn .btn-bs-file {
    padding: 4px 33px !important;
    top: 1px !important;
    right: 1px;
    left: initial !important;
    width: 120px;
    position: absolute;
    border-radius: 0 2px 3px 0;
    z-index: 999;
}

.cuppa-dropdown .selected-list:before {
    height: 100%;
}

//arror warning icon end
.app-header {
    .header-icon {
        @media screen and (max-width: 479px) {
            padding: 0;
            min-width: 67px;
        }
    }
    h4.header-title {
        @media screen and (max-width: 767px) {
            max-width: 70%!important;
            text-align: left;
            padding-left: 0;
            display: block;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        @media screen and (max-width:479px) {
            width: 101px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 0;
            font-size: 16px;
            min-width: 204px;
        }
    }
}

.box .full-width .notesList span.pull-right,
.box .full-width .notesList div.clearfix {
    @media(max-width: 991px) {
        float: none !important;
        margin-left: 15px;
        margin-top: 7px;
        display: block;
    }
}

.box .full-width .notesList span.pull-right .btn.pull-right,
.box .full-width .notesList div.clearfix .btn.pull-right {
    @media(max-width: 991px) {
        float: none !important;
    }
}

.discipDD angular2-multiselect .selected-list button {
    padding: 7px !important;
}

.checklistTbl #inlineEditWrapper .inlineEditForm {
    top: -32px !important;
    width: 300px;
}

.checklistMain {
    h4 {
        inline-editor {
            max-width: 84%;
        }
    }
}

.checklistTbl {
    overflow-x: auto;
    table {
        min-width: 767px;
    }
    md-icon {
        float: none !important;
    }
    inline-editor {
        width: 95%;
        word-wrap: break-word;
        // white-space: pre-wrap;
        vertical-align: middle;
        position: relative;
        // top: -7px;
    }
    #inlineEditWrapper {
        .c-inline-editor {
            word-wrap: break-word;
            white-space: pre-wrap;
            float: left;
            inline-editor-text {
                display: block;
                width: 100%;
            }
        }
    }
}

.cdk-overlay-container .mat-dialog-container {
    margin: 0px auto !important;
}

.admin-panel .createTrophy .form-group .form-inline {
    text-align: right !important;
    padding-right: 0px;
    @media(max-width: 767px) {
        text-align: left !important;
    }
}

.admin-panel {
    .Advdetailbox {
        .form-group {
            .form-inline {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
            .rghtinput10 {
                &.marginBottom {
                    margin-bottom: 16px;
                }
            }
        }
        &.cmpnycontentBox {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        h4 {
            margin-top: 5px;
        }
    }
}

.pipEmploye {
    max-width: 320px;
}

.dashboard .recentActivity .recentActiDateList ul li span.module {
    color: #8a88d9;
    font-family: 'LatoWebBold';
}

.dashboard .cmpnycontentBox .cmpnycontentBoxInner table tr td .tgrey:hover a,
.dashboard .cmpnycontentBox .cmpnycontentBoxInner table tr td .tDone:hover a,
.dashboard .cmpnycontentBox .cmpnycontentBoxInner table tr td .tOverdue:hover a {
    color: #ffffff;
}

select {
    &.form-control {
        height: 37px !important;
    }
}

.contractApproval {
    table {
        td {
            padding: 7px 7px;
            p {
                margin-bottom: 5px;
            }
        }
    }
}