body {
    color: #4b4c4d !important;
}

table {
    tr {
        th {
            font-family: 'LatoWebHeavy';
            font-weight: normal !important;
            a {
                font-weight: normal !important;
            }
        }
    }
}

.listingcontent {
    ul {
        list-style-type: disc;
        padding-left: 20px;
        li {
            margin-bottom: 3px;
        }
    }
}

angular2-multiselect {
    .selected-list {
        button {
            padding: 5px !important;
            &.c-btn {
                text-align: left;
                border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                -ms-border-radius: 5px;
                border: 1px solid #B7B7B7;
            }
        }
    }
}

.input-group-addon {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
}

.inlineFields {
    .currentEmpoption {
        float: left;
        margin-right: 20px;
    }
    .symboliconinput {
        float: left;
        width: 79.6%;
        margin-bottom: 0px;
    }
}

// collapse
.collapseInfoBox {
    margin-bottom: 15px;
    h4 {
        border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        background: #ebebeb;
        margin-bottom: 0px;
        padding: 12px 20px;
        margin-bottom: 0px;
        font-size: 20px;
        border: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        -webkit-transition: border-bottom .5s;
        -moz-transition: border-bottom .5s;
        -ms-transition: border-bottom .5s;
        -o-transition: border-bottom .5s;
        transition: border-bottom .5s;
        margin-top: 0px;
        cursor: pointer;
        z-index: 9;
        position: relative;
        span {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
        &.active {
            border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            border-bottom: 1px solid #ffffff;
            span {
                -ms-transform: rotate(180deg);
                /* IE 9 */
                -webkit-transform: rotate(180deg);
                /* Chrome, Safari, Opera */
                transform: rotate(180deg);
            }
        }
        @media(max-width:767px) {
            div {
                &.float-right {
                    float: none !important;
                }
            }
        }
    }
    .collapseContentbox {
        border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -ms-border-radius: 5px;
        border: 1px solid #cbcbcb;
        border-top: 0px;
        background: #ffffff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        z-index: 0;
        .paddingBox {
            opacity: 0;
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }
        &.open {
            max-height: 2000000px;
            opacity: 1;
            padding: 15px;
            z-index: 99;
            overflow: visible;
            position: relative;
            .paddingBox {
                opacity: 1;
            }
        }
    }
}

.profileBox {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 10px;
    .proPic {
        height: 180px;
        width: 180px;
        display: table;
        text-align: center;
        border: 3px solid #e4e4e4;
        border-radius: 4px;
        padding: 2px;
        .adjust {
            height: 100%;
            width: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
    }
    .userInfo {
        .name {
            margin-bottom: 10px;
            h6 {
                margin-top: 10px;
                margin-bottom: 0px;
                font-size: 18px;
                font-weight: bold;
            }
            .designation {
                font-size: 13px;
                color: #828282;
                font-style: italic;
            }
        }
        .inforow {
            margin-top: 5px;
            label {
                font-weight: bold;
                margin-bottom: 0px;
                min-width: 105px;
                margin-right: 5px;
                float: left;
            }
            span {
                float: left;
                font-size: 13px;
            }
        }
    }
}

.listingRow {
    margin-bottom: 5px;
    label {
        float: left;
        font-family: 'LatoWebHeavy';
        min-width: 175px;
        margin-right: 5px;
    }
    span {
        float: left;
    }
    &:last-child {
        margin-bottom: 0px;
    }
}

.customchkbox input+label,
.customchoicebox input+label {
    position: relative;
}

// choose file btn
.customchoosefilebtn {
    .btn-bs-file {
        position: relative;
    }
    .btn-bs-file input[type="file"] {
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
        overflow: hidden;
    }
}

#inlineEditWrapper .inlineEditForm .inline-editor-button-group {
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    button {
        text-align: center;
        span {
            margin-left: 0px;
        }
    }
}

.collapseInfoBox {
    .visibleBoxDD {
        overflow: visible;
        .values {
            .cuppa-dropdown {
                width: 250px;
            }
        }
    }
}

.listingRow .pure-checkbox input[type="checkbox"]+label {
    float: none !important;
}

.empSrearch .btn {
    background: #fbcb27;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    height: 38px;
    width: 39px;
    .fa {
        margin-left: -2px !important;
    }
}

.empSrearch #custom-search-input .input-group .form-control {
    height: 38px;
}

.app-header .app-header-inner {
    height: 50px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.14)!important;
    -moz-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.14)!important;
    -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.14)!important;
    -ms-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.14)!important;
    border-bottom: 1px solid #cbcbcb!important;
}

.top-nav-left li .header-btn.md-button,
.top-nav-right li .header-btn.md-button {
    margin: 0;
    line-height: 47px !important;
}

h4 {
    &.header-title {
        margin: 0px 0px;
        padding-left: 20px;
        float: left;
        line-height: 49px;
        font-family: 'LatoWebHeavy';
        font-size: 20px;
        color: #4b4c4d;
    }
}

.app-content-wrapper {
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.top-nav-left li .header-btn.md-button,
.top-nav-right li .header-btn.md-button {
    line-height: 49px !important;
}

.progressSpinner {
    background: #ffffff;
    padding: 0px 20px !important;
    ul {
        &.pagination {
            margin-bottom: 0px;
        }
    }
}

.top-nav-right {
    span {
        &.name {
            font-weight: bold;
            color: #4b4c4d;
            i {
                font-size: 16px;
                font-weight: bold;
                position: relative;
                top: 2px;
            }
        }
    }
}

.app-sidebar .sidebar-header {
    height: 50px !important;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    .dropdown-item {
        cursor: pointer;
    }
}

.headerList {
    &.dropdown {
        .dropdown-toggle::after {
            display: none;
        }
        .dropdown-menu {
            right: 17px;
            top: 94%;
            min-width: 263px;
            left: inherit;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -ms-border-radius: 5px;
            background: #fafafa;
            .usersetting {
                li {
                    float: none;
                    width: 100%;
                    padding: 6px 18px 12px;
                    font-size: 15px;
                    height: auto;
                    cursor: pointer;
                }
            }
        }
    }
}

.app-sidebar .sidebar-content .nav>li>a {
    padding: 10px 16px !important;
    text-align: left;
    font-size: 13px !important;
}

.app-sidebar .sidebar-content .nav>li ul li>a {
    font-size: 13px !important;
}

//PIP Start
.PIPmainBox {
    .pipHeader {
        .divider {
            border-bottom: 1px solid #cbcbcb;
            margin: 0px -20px;
            height: 1px;
            padding-top: 15px;
        }
        h3 {
            padding-left: 25px;
            @media(max-width: 991px) {
                padding-left: 0px;
            }
        }
        .pipEmploye {
            .title {
                color: #acacac;
                font-style: italic;
                margin-bottom: 5px;
            }
            .pipEmpuserPic {
                .profile {
                    height: 52px;
                    width: 52px;
                    display: inline-block;
                    margin-right: 7px;
                    .adjust {
                        height: 52px;
                        width: 52px;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        background: #ebebeb;
                        border: 1px solid #acacac;
                        border-radius: 50%;
                        img {
                            max-width: 100%;
                            border-radius: 50%;
                            -moz-border-radius: 50%;
                            -webkit-border-radius: 50%;
                            -ms-border-radius: 50%;
                            max-height: 100%;
                        }
                    }
                }
                .info {
                    display: inline-block;
                    vertical-align: top;
                    h5 {
                        margin: 8px 0px 0px 0px;
                        font-weight: bold;
                        font-size: 15px;
                        padding-left: 0px;
                    }
                }
            }
        }
    }
    .PIPFormbox {
        &.detailPIP {
            .form-group {
                .form-inline {
                    margin: 0px 0px;
                    padding-right: 20px;
                }
                .calendar {
                    margin-right: 3px;
                }
            }
        }
        h5 {
            font-weight: bold;
            margin: 40px 0px;
            padding-left: 25px;
            @media(max-width: 991px) {
                padding-left: 0px;
            }
        }
        .form-group {
            margin-bottom: 30px !important;
            &.removebottomGap {
                margin-bottom: 15px !important;
            }
            textarea {
                &.form-control {
                    height: 118px;
                    resize: none;
                    width: 100%;
                    max-width: inherit;
                }
            }
            .instruction {
                color: #acacac;
                margin-top: 5px;
                .name {
                    color: #64c3fa;
                }
                &.topgapremove {
                    margin-top: 0px;
                }
                &.moreTopGap {
                    margin-top: 30px;
                }
            }
            my-date-picker {
                .mydp {
                    max-width: 600px;
                    border: 1px solid #b7b7b7;
                }
            }
        }
    }
}

.admin-panel {
    .empTypeDD {
        &.fullWidthDD {
            .cuppa-dropdown {
                max-width: inherit !important;
                .selected-list {
                    .fa-angle-down {
                        top: 23% !important;
                    }
                    .fa-angle-up {
                        top: 23% !important;
                    }
                }
            }
        }
    }
}

.empTypeDD {
    .cuppa-dropdown {
        max-width: inherit;
        .selected-list {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            .c-btn {
                padding-left: 7px !important;
            }
            .fa-angle-down {
                &:before {
                    content: "" !important;
                    height: 20px;
                    width: 9px;
                    display: inline-block;
                    background: url('../assets/images/arrows.png') no-repeat center center;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}

button.btn-lg {
    line-height: 1.5;
    min-width: 110px;
    font-size: inherit;
}

.cuppa-dropdown {
    max-width: 300px;
    .selected-list {
        position: relative;
        &:before {
            height: 36px;
            width: 35px;
            content: "";
            display: inline-block;
            position: absolute;
            left: 0px;
            border: 1px solid #b7b7b7;
            top: 0px;
            background: #fbcb27;
            border-radius: 4px 0px 0px 4px;
            -moz-border-radius: 4px 0px 0px 4px;
            -webkit-border-radius: 4px 0px 0px 4px;
            -ms-border-radius: 4px 0px 0px 4px;
        }
        &:after {
            content: "";
            background: url(../assets/images/user-white.png) no-repeat 0px 0px;
            position: absolute;
            top: 9px;
            left: 10px;
            width: 16px;
            height: 16px;
            display: block;
        }
        .c-btn {
            padding-left: 40px !important;
        }
    }
}

.inviteEmpMain {
    position: relative;
    &:after {
        content: "";
        width: 1px;
        height: 36px;
        top: 0px;
        right: 37px;
        position: absolute;
        border-left: 1px solid #b7b7b7;
    }
    &:before {
        content: "\F078";
        font-family: FontAwesome;
        height: 20px;
        width: 20px;
        display: block;
        position: absolute;
        top: 8px;
        right: 6px;
        font-weight: normal;
        font-size: 11px;
        cursor: pointer;
    }
    &.form-group {
        margin-bottom: 0px !important;
        .form-control {
            background: transparent;
            cursor: pointer;
        }
    }
    .inviteList {
        margin: 0px;
        padding: 12px 0px;
        border: 1px solid #b7b7b7;
        border-top: 0px;
        border-radius: 0px 0px 5px 5px;
        -moz-border-radius: 0px 0px 5px 5px;
        -webkit-border-radius: 0px 0px 5px 5px;
        -ms-border-radius: 0px 0px 5px 5px;
        position: absolute;
        width: 100%;
        background: #ffffff;
        z-index: 9;
        top: 36px;
        display: none;
        overflow: hidden;
        &.open {
            display: block;
            overflow: visible;
        }
        li {
            padding: 10px 10px;
            cursor: pointer;
            &:hover {
                background: #f1f1f1;
            }
            img {
                width: 40px;
                height: 40px;
                float: left;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                -ms-border-radius: 50%;
            }
            .empinfo {
                display: inline-block;
                margin-left: 15px;
                line-height: 18px;
                label {
                    margin-bottom: 0px;
                    font-weight: 600;
                    margin-top: 2px;
                }
            }
        }
    }
}

.PIPbuttonWrap {
    .btn {
        min-width: 140px;
        margin-right: 15px;
    }
    .cuppa-dropdown {
        width: 320px;
        display: inline-block;
        .selected-list {
            text-align: left;
            button {
                position: relative;
                width: auto !important;
                height: 44px;
                background: #acacac;
                color: #ffffff;
                font-weight: 600;
                padding: 7px 30px !important;
                font-size: 16px;
                text-align: center;
                line-height: 16px;
            }
            .fa-angle-down {
                top: 27% !important;
            }
        }
    }
}

.trainingNotes {
    &.assessmentbox {
        background: #ebebeb;
    }
    margin-top:25px;
    h5 {
        margin-top: 0px;
        font-weight: 600;
    }
    .instruction {
        color: #acacac;
        margin-top: 5px;
    }
    .form-group {
        .form-inline {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-right: 20px;
        }
    }
    .customChoice {
        display: inline-block;
        margin-right: 30px;
        margin-top: 10px;
    }
}

.form-group {
    .managerBx {
        min-width: 198px;
        margin: 4px;
    }
    .ngui-datetime-picker-wrapper {
        position: relative;
        &:before {
            content: "";
            height: 34px;
            width: 35px;
            background: #fbcb27;
            display: inline-block;
            position: absolute;
            top: 1px;
            left: 1px;
        }
        &:after {
            content: "";
            background: url(../assets/images/calendar.png) no-repeat 0px 0px;
            position: absolute;
            top: 11px;
            left: 10px;
            width: 16px;
            height: 16px;
            display: block;
        }
        .form-control {
            &[readonly] {
                background: transparent;
                padding-left: 40px !important;
            }
        }
    }
}

.mat-tab-list {
    .mat-tab-labels {
        .mat-tab-label {
            min-width: 170px !important;
        }
    }
}

.inline-editor-button-group {
    button {
        &:first-child {
            span {
                font-family: 'LatoWebMedium' !important;
                &:after {
                    content: "Save"
                }
                &:before {
                    content: ""
                }
            }
        }
        &:last-child {
            span {
                font-family: 'LatoWebMedium' !important;
                &:after {
                    content: "Cancel"
                }
                &:before {
                    content: ""
                }
            }
        }
    }
}

.pure-checkbox input[type="checkbox"]+label:before {
    color: #64c3fb !important;
    border: 2px solid #64c3fb !important;
}

.pure-checkbox input[type="checkbox"]:checked+label:before {
    background: #64c3fb !important;
}

.mat-dialog-actions {
    display: block !important;
}

.collapseDetail {
    &.opencollapse {
        display: none;
    }
}

.collapseHead {
    .fa {
        font-size: 20px;
    }
    &.activecollapse {
        .fa {
            &.fa-angle-up {
                &:before {
                    content: "\F107";
                }
            }
        }
    }
}

// grivance css
.grievanceSteps {
    .circle-inner-container {
        .circle-data {
            max-width: 140px;
        }
    }
}

.customDDmain {
    .ddBtn {
        padding: 7px 12px;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }
    .selectedList {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 8px;
    }
    .inviteEmpMain {
        border: 1px solid #b7b7b7;
        position: relative;
        &:after {
            content: "";
            height: 36px;
            width: 9px;
            display: inline-block;
            background: url(/assets/images/arrows.png) no-repeat center center;
            border-left: 0px;
            position: absolute;
            right: 10px;
            top: 0px;
        }
        &:before {
            display: none;
        }
        .searchfield {
            padding-left: 40px;
        }
        .inviteList {
            max-height: 300px;
            overflow: auto;
            display: block !important;
            margin-top: 0px;
            position: static;
            li {
                .customchkbox {
                    float: left;
                }
            }
        }
        span {
            &.userIconbtn {
                content: "";
                height: 34px;
                width: 35px;
                background: #fbcb27;
                display: inline-block;
                position: absolute;
                border-right: 1px solid #b7b7b7;
                top: 1px;
                left: 1px;
                z-index: 9;
                border-radius: 4px 0px 0px 4px;
                -webkit-border-radius: 4px 0px 0px 4px;
                -moz-border-radius: 4px 0px 0px 4px;
                -ms-border-radius: 4px 0px 0px 4px;
                &:before {
                    content: "";
                    background: url(../assets/images/user-white.png) no-repeat 0px 0px;
                    position: absolute;
                    top: 9px;
                    left: 10px;
                    width: 16px;
                    height: 16px;
                    display: block;
                }
            }
        }
        .footerBtn {
            border-radius: 0px 0px 5px 5px;
        }
    }
}

.selected-list .fa-angle-down,
.selected-list .fa-angle-up {
    right: 10px;
    top: 0% !important;
}

.selected-list .fa-angle-down:before,
.selected-list .fa-angle-up:before {
    content: "";
    height: 36px;
    width: 9px;
    display: inline-block;
    background: url(/assets/images/arrows.png) no-repeat center center;
}

.thirdPartyList {
    border: 1px solid #cccccc;
    max-height: 200px;
    overflow: auto;
}

.emailRow {
    .input-group-addon {
        padding: 0.5rem 0.64rem;
        .fa-envelope-o {
            &:before {
                content: "" !important;
                height: 13px;
                width: 16px;
                display: block;
                background: url('/assets/images/email.png') 0px 0px no-repeat;
            }
        }
    }
}

dp-date-picker {
    position: relative;
    display: block !important;
    width: 100%;
    max-width: 600px;
    &[_nghost-c12] {
        height: auto !important;
    }
    &:before {
        content: "";
        height: 34px;
        width: 35px;
        background: #fbcb27;
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 9;
        border-radius: 4px 0px 0px 4px;
        -webkit-border-radius: 4px 0px 0px 4px;
        -moz-border-radius: 4px 0px 0px 4px;
        -ms-border-radius: 4px 0px 0px 4px;
    }
    .dp-picker-input {
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -ms-border-radius: 4px;
        border: 1px solid #b7b7b7;
        padding: 0.64rem 0.75rem;
        padding-left: 40px;
        height: 36px !important;
        width: 100% !important;
    }
    &:after {
        content: "";
        background: url('/assets/images/calendar.png') no-repeat 0px 0px;
        position: absolute;
        top: 11px;
        left: 10px;
        width: 16px;
        height: 16px;
        display: block;
        z-index: 10;
    }
    .dp-input-container {
        position: relative;
        &:after {
            content: "";
            height: 36px;
            width: 9px;
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 0px;
            background: url('/assets/images/arrows.png') no-repeat center center;
        }
    }
}

.dp-material .dp-selected {
    background: #fbcb27 !important;
}

.dp-material .dp-current-day {
    border: 1px solid #fbcb27 !important;
}

.dp-material .dp-calendar-month,
.dp-material .dp-calendar-day {
    border-radius: 4px !important;
}

.dp-current-location-btn {
    display: none !important;
}

.form-group {
    .dp-popup {
        position: relative;
        background: #fafafa !important;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.1);
        border-left: 0px solid rgba(0, 0, 0, 0.1);
        border-right: 0px solid rgba(0, 0, 0, 0.1);
        border-bottom: 0px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        dp-day-time-calendar {
            border: 1px solid #cccccc;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -ms-border-radius: 5px;
            padding: 10px;
            dp-day-calendar {
                vertical-align: middle;
                .dp-calendar-nav-container {
                    border: 0px;
                }
            }
            button[disabled] {
                cursor: not-allowed !important;
                opacity: 0.7;
            }
        }
        .dp-material .dp-calendar-weekday {
            height: 25px;
            width: 42px;
            color: #000000;
            border: none;
            font-weight: bold;
        }
        .dp-calendar-day {
            width: 42px;
            height: 30px;
        }
        dp-time-select {
            display: inline-block !important;
            vertical-align: middle;
            margin: 0px 20px;
        }
        .dp-time-select-control {
            margin: 0 14px;
            font-weight: bold;
            font-size: 16px;
            color: #000000;
        }
        .dp-time-select-control-up,
        .dp-time-select-control-down {
            height: 70px;
        }
        .dp-time-select-control-up::before,
        .dp-time-select-control-down::before {
            height: 10px;
            width: 10px;
            border-width: 4px 4px 0px 0;
            color: #fbcb27;
            font-size: 20px;
        }
        .dp-time-select-control-meridiem {
            span {
                background: #fbcb27;
                color: #ffffff;
                padding: 10px 7px;
                border-radius: 5px;
                font-weight: normal;
                font-size: 13px;
            }
        }
        .dp-material dp-time-select,
        .dp-material .dp-calendar-wrapper {
            border: 1px transparent !important;
            border-top: 0;
        }
        .dp-material .dp-calendar-weekday {
            width: 42px !important;
            font-weight: bold;
            color: #000000 !important;
        }
        .dp-material .dp-time-select-control-up:hover,
        .dp-material .dp-time-select-control-down:hover {
            background: transparent !important;
        }
        .dp-material .dp-calendar-nav-container {
            font-size: 20px !important;
            border: 1px solid transparent !important;
        }
        .dp-nav-header {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.EmpList {
    background: #fff;
    padding: 20px 20px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    .profile-round {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    a {
        &.btn {
            padding: 0.5rem 9px;
            height: 36px;
            font-size: 14px;
            &.btn-default {
                &.veiw {
                    background: #a2a2a2;
                    color: #fff;
                    margin: 0 auto;
                    width: 93px;
                    display: inline-block;
                    line-height: inherit;
                    vertical-align: middle;
                }
                &.action {
                    background: #12b4e4;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
    .EmptableList {
        overflow: auto;
    }
    .table {
        border-top: 0;
        border: 0;
        min-width: 1024px;
        tbody {
            tr {
                td {
                    &:first-child {
                        width: 145px;
                        .userName {
                            width: 145px;
                            word-break: initial;
                            img {
                                display: inline-block;
                                width: 40px;
                            }
                            .name {
                                display: inline-block;
                                margin-left: 10px;
                                width: 95px;
                                word-break: initial;
                                vertical-align: middle;
                            }
                        }
                    }
                    &.desig {
                        width: 140px;
                        .desigNation {
                            width: 140px;
                            word-break: initial;
                        }
                    }
                    &.emprole {
                        width: 85px;
                        .role {
                            width: 85px;
                            word-break: initial;
                        }
                    }
                    &.contact {
                        width: 200px;
                        .empContact {
                            width: 200px;
                            word-break: initial;
                        }
                    }
                    &.emplment {
                        width: 100px;
                        .employement {
                            width: 100px;
                            word-break: initial;
                        }
                    }
                    &.empstatus {
                        width: 200px;
                        .status {
                            width: 200px;
                            word-break: initial;
                        }
                    }
                    &:last-child {
                        .dropdown {
                            .btn-primary {
                                min-width: 95px;
                            }
                        }
                    }
                }
                &:nth-child(even) {
                    background: #fafafa;
                }
                td {
                    padding: 6px 12px;
                    vertical-align: middle;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                }
            }
        }
        thead {
            th {
                vertical-align: bottom;
                border-bottom: 3px solid #cbcbcb;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                font-weight: bold;
                a {
                    &.text-nowrap {
                        cursor: pointer;
                    }
                }
                .fa-sort {
                    color: #acacac;
                    top: 1px !important;
                }
                &:last-child {
                    width: 100px;
                }
                .fa {
                    margin-right: 4px;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    .topSearchFilter {
        float: left;
        width: 58%;
        margin-right: 2%;
        @media (max-width: 767px) {
            width: 100%;
            margin-right: 0%;
        }
    }
    .InviteUser {
        width: 19%;
        float: left;
        @media (max-width: 767px) {
            width: 160px;
        }
    }
    .filter {
        float: left;
        width: 19%;
        margin-right: 2%;
        a {
            line-height: 1.4 !important;
            &.active {
                .fa {
                    -ms-transform: rotate(180deg);
                    /* IE 9 */
                    -webkit-transform: rotate(180deg);
                    /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }
            }
        }
        .form-control {
            font-size: 15px;
            height: 39px;
            font-weight: 400;
            line-height: 23px;
            position: relative;
            .fa {
                font-weight: bold;
                font-size: 17px;
                margin-top: 2px;
            }
        }
        @media (max-width:767px) {
            width: 160px;
        }
    }
}

.form-group textarea.ng-invalid.ng-touched::placeholder,
.form-group input.ng-invalid.ng-touched::placeholder {
    color: #b7b7b7 !important;
}

.leaveStatusView {
    .fa {
        &.fa-angle-down,
        &.fa-angle-up {
            font-size: 15pt;
            position: absolute;
            right: 0px !important;
            top: 2% !important;
            &:before {
                content: "" !important;
                height: 36px;
                width: 9px;
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 0px;
                background: url(/assets/images/arrows.png) no-repeat center center;
            }
        }
    }
}

.box {
    &.subjectBoxes {
        padding: 0px 0px;
        pre {
            margin-bottom: 0px;
            p {
                margin-bottom: 0px;
            }
        }
    }
}

.admin-panel {
    .halfDD {
        angular2-multiselect {
            .cuppa-dropdown {
                max-width: 414px !important;
            }
        }
    }
}

.pipLisingPopUp angular2-multiselect .selected-list button {
    padding: 7px !important;
}

// ved css
.candidateManagement {
    .EmpList {
        .table {
            tr {
                td {
                    .tooltip {
                        background: url('../assets/images/smileyIconSprite.png') no-repeat;
                    }
                }
            }
        }
    }
}

.actionsRow {
    font-size: 16px;
    margin-left: 0px !important;
    padding: 5px 8px;
    background: #ebebeb;
    text-align: right;
    md-icon {
        &:first-child {
            margin-right: 5px;
            color: #4cdaaa;
        }
        &:last-child {
            color: #ff8383;
            margin-right: 5px;
        }
    }
}

.actionDroapdown {
    display: inline-block;
    #dropdownMenuLink {
        min-width: 95px;
        i {
            line-height: 24px;
            margin-top: 0px;
        }
    }
    .dropdown-menu {
        a {
            cursor: pointer;
        }
    }
}

.actionDDtbl {
    .dropdown-menu {
        .btn-none {
            i {
                font-weight: normal !important;
            }
            &:hover {
                color: #000;
            }
            &:focus,
            &:active,
            &:visited {
                background-color: transparent;
                border: 0;
                outline: 0;
                box-shadow: inherit;
            }
        }
    }
}

.cmpnycontentBox {
    .EmptableList {
        table {
            thead {
                th {
                    border-top: 0px;
                    border-bottom: 3px solid #cbcbcb;
                }
                tbody {
                    tr {
                        td {
                            border: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }
    }
}

.toplinks {
    label {
        padding: 7px 12px;
        border: 1px solid #cccccc;
        background: #e4e4e4;
    }
}

#dropdownMenuLink {
    min-width: 95px;
}

th {
    mfdefaultsorter {
        a {
            font-weight: bold;
            i {
                color: #acacac;
            }
        }
    }
}

.createTrophy {
    .form-group {
        @media(max-width: 575px) {
            float: none;
            width: auto;
        }
    }
}

.checklistMain h4.active span {
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}

.checklistMain h4.active .arrowIcon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rghtinput10 {
    &.pipHeader {
        @media(max-width: 991px) {
            top: inherit !important;
        }
    }
}

.filter .form-group .form-control {
    text-align: left;
}

.surveyQuestion {
    .pure-checkbox input[type="checkbox"]+label {
        padding-right: 20px !important;
    }
}

.moveToNewPos {
    .list-area {
        ul {
            max-height: 330px !important;
        }
    }
    .cuppa-dropdown {
        max-width: initial !important;
        .selected-list {
            .c-btn {
                padding: 7px 7px 7px 40px !important;
            }
        }
    }
}

.inviteEmpMain {
    .inviteList {
        &.open {
            overflow: auto;
            max-height: 180px;
        }
    }
}

.choosefromList {
    .cuppa-dropdown {
        .selected-list {
            &:before,
            &:after {
                display: none !important;
            }
            .c-btn {
                padding-left: 7px !important;
            }
        }
    }
}


/** media **/

@media (max-width: 1250px) {
    .maxformWidth {
        max-width: inherit;
    }
    .form-group .lftinpt30,
    .form-group .lftinpt10 {
        width: 100%;
        text-align: left;
    }
    .form-group .rghtinput,
    .form-group .rghtinput10 {
        width: 100%;
    }
}

@media(max-width: 1199px) {
    .admin-panel .filterController button.btn.btn-filter.btnStatic {
        position: static !important;
    }
}

@media only screen and (min-width: 992px) {
    .top-nav-left li .header-btn.md-button,
    .top-nav-right li .header-btn.md-button {
        min-width: 41px;
        padding: 0px 16px !important;
    }
}

@media (max-width: 991px) {
    .maxformWidth {
        max-width: inherit !important;
    }
    .form-group .lftinpt30,
    .form-group .rghtinput,
    .form-group .lftinpt10,
    .form-group .rghtinput10 {
        width: 100% !important;
        text-align: left !important;
        .form-inline {
            text-align: left;
        }
    }
    .editBtnBox {
        float: none !important;
    }
}

@media (max-width:767px) {
    .cmpnycontentBox {
        padding: 20px;
    }
    .form-group .dp-popup .dp-material .dp-calendar-weekday {
        width: 42px !important;
    }
    .form-group .dp-popup dp-time-select {
        display: block !important;
        .dp-calendar-day {
            width: 37px;
            height: 30px;
        }
    }
    .registrationForm {
        h4 {
            margin-bottom: 20px !important;
            &.heading {
                font-size: 18px;
            }
        }
    }
    .grievanceMain {
        .form-group {
            .lftinpt10 {
                width: 100% !important;
            }
            .rghtinput10 {
                width: 100% !important;
            }
        }
    }
    .ploicyActions {
        margin-bottom: 12px;
    }
}

.my-app-header {
    margin-bottom: 30px;
    padding-left: 15px;
    .bg-color-info {
        background-color: #ebebeb;
        color: #000000;
        padding-left: 20px;
        img {
            margin-top: 5px;
        }
        &:hover {
            background-color: #ebebeb;
        }
    }
}

.mat-dialog-container {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    h4 {
        margin-bottom: 25px;
        margin-top: 0px;
        padding: 0px 25px 20px;
        border-bottom: 1px solid #dadada;
        margin-left: -24px;
        margin-right: -24px;
    }
    h5 {
        margin-bottom: 25px;
        margin-top: 0px;
        padding: 0px 25px 20px;
        border-bottom: 1px solid #dadada;
        margin-left: -24px;
        margin-right: -24px;
    }
}

.admin-panel .breadcrumb li {
    &.breadcrumb-item {
        cursor: pointer;
    }
    &.active {
        cursor: default !important;
    }
}

.admin-panel {
    .filterController {
        &.perfAppraisalList {
            position: relative;
            button.btn.btn-default {
                bottom: 17px;
                right: 20px;
            }
        }
    }
}

.chooseQuestion {
    .cuppa-dropdown .selected-list:before,
    .cuppa-dropdown .selected-list:after {
        display: none;
    }
    .cuppa-dropdown .selected-list .c-btn {
        padding-left: 7px !important;
    }
    .pure-checkbox {
        input[type="checkbox"]+label {
            padding-right: 35px;
        }
    }
    &.DDaction {
        .pure-checkbox {
            input[type="checkbox"]+label {
                padding-right: 0px;
            }
        }
    }
}

.customDDmain {
    .selectedList {
        .itemName {
            padding: 0 2px;
            margin-bottom: 8px;
            margin-right: 12px;
            border: 1px solid #e4e4e4;
            border-radius: 4px;
            box-shadow: 0px 1px 2px 1px #f7f7f7;
            .fa-close {
                color: #d53a38;
                font-size: 12px;
                font-weight: 100;
                margin: 0 2px;
                margin-left: 8px;
                opacity: 0.8;
            }
        }
    }
}

.rghtinput.pull-right .managerBx>div {
    padding: 7px 7px !important;
}

.innerHtmlpara {
    .rghtinput10 {
        p {
            margin-bottom: 0px !important;
        }
    }
}

// calender css
.fullCalendar {
    .fc-time-grid .fc-slats td {
        height: 65px !important;
    }
    .activityDDpos {
        max-height: 1100px;
        margin-bottom: 20px;
        position: relative;
        &.dshDD {
            .FilterDroapdown {
                top: 19px;
            }
        }
    }
    .fc-time-grid-container {
        width: 101.4%;
    }
    .FilterDroapdown {
        position: absolute;
        right: 282px;
        top: 0px;
        width: 190px;
        .cuppa-dropdown {
            .selected-list {
                .c-btn {
                    background: #ebebeb;
                    .fa {
                        top: 31% !important;
                        right: 14px;
                        font-size: 12px;
                        font-family: FontAwesome;
                        &.fa-angle-down {
                            &:before {
                                content: "\f078";
                                background-image: none;
                            }
                        }
                        &.fa-angle-up {
                            &:before {
                                content: "\f077";
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .fc-event-container {
        .fc-h-event,
        .fc-v-event {
            color: #000000;
            padding: 5px 7px;
            border: 1px solid #ffffff !important;
        }
        .fc-v-event {
            padding: 7px 7px;
        }
    }
    .fc-toolbar {
        .fc-state-down {
            box-shadow: initial !important;
        }
        .fc-center {
            display: inline;
            h2 {
                margin-left: 29px;
                font-size: 23px;
                font-family: 'LatoWebBold';
                margin-top: 5px;
            }
        }
    }
    .fc-left {
        position: relative;
        .fc-today-button {
            position: absolute;
            left: 22px;
            top: 1px;
            width: 85px;
            height: 32px;
            border-radius: 0px;
            background-color: #ffffff !important;
            background-image: none;
            border-left: 1px solid #cbcbcb;
            border-right: 1px solid #cbcbcb;
            border-top: 0px;
            border-bottom: 0px;
            color: #000000;
        }
        .fc-button-group {
            .fc-state-down {
                box-shadow: initial !important;
            }
            border: 1px solid #cbcbcb;
            width: 150px;
            border-radius: 5px;
            .fc-state-default {
                background: #ffffff;
                background-image: none !important;
                border: 0px;
            }
            .fc-prev-button {
                border-radius: 5px 0px 0px 5px;
                -moz-border-radius: 5px 0px 0px 5px;
                -webkit-border-radius: 5px 0px 0px 5px;
                -o-border-radius: 5px 0px 0px 5px;
                -ms-border-radius: 5px 0px 0px 5px;
                padding: 0 .6em;
                &:focus {
                    z-index: initial !important;
                }
                .fc-icon-left-single-arrow:after {
                    content: "\f053" !important;
                    font-family: fontawesome;
                    font-size: 11px;
                }
            }
            .fc-next-button {
                float: right;
                border-radius: 0px 5px 5px 0px;
                -moz-border-radius: 0px 5px 5px 0px;
                -webkit-border-radius: 0px 5px 5px 0px;
                -o-border-radius: 0px 5px 5px 0px;
                -ms-border-radius: 0px 5px 5px 0px;
                padding: 0 .6em;
                &:focus {
                    z-index: initial !important;
                }
                .fc-icon-right-single-arrow:after {
                    content: "\f054" !important;
                    font-family: fontawesome;
                    font-size: 11px;
                }
            }
            .fc-state-hover {
                z-index: initial !important;
                background-color: #ebebeb;
            }
        }
    }
    .fc-right {
        .fc-button-group {
            position: relative;
            border: 1px solid #cbcbcb;
            border-radius: 5px;
            &:before {
                content: "View";
                position: absolute;
                left: -44px;
                top: 7px;
                font-weight: bold;
                font-family: 'LatoWebBold';
            }
            .fc-state-default {
                &:first-child {
                    border-radius: 5px 0px 0px 5px;
                    -moz-border-radius: 5px 0px 0px 5px;
                    -webkit-border-radius: 5px 0px 0px 5px;
                    -o-border-radius: 5px 0px 0px 5px;
                    -ms-border-radius: 5px 0px 0px 5px;
                }
                &:last-child {
                    border-radius: 0px 5px 5px 0px;
                    -moz-border-radius: 0px 5px 5px 0px;
                    -webkit-border-radius: 0px 5px 5px 0px;
                    -o-border-radius: 0px 5px 5px 0px;
                    -ms-border-radius: 0px 5px 5px 0px;
                }
                background: #ffffff;
                background-image: none !important;
                border: 0px;
                border-right: 1px solid #cbcbcb;
                margin-left: 0px !important;
                &:last-child {
                    border-right: 0px;
                }
                &.fc-state-active {
                    box-shadow: initial !important;
                    background: #ebebeb;
                }
            }
        }
    }
    .fc-head-container {
        table {
            tr {
                td {
                    border: 0px !important;
                }
            }
        }
    }
    .fc-widget-header {
        // border: 0px !important;
        border-right-width: 1px !important;
        margin-right: 1px !important;
        table {
            tr {
                &:first-child {
                    th {
                        // border: 0px !important;
                        font-family: 'LatoWebBold';
                        padding: 16px 5px;
                        color: #4b4c4d;
                        span {
                            font-size: 19px;
                            display: inline-block;
                        }
                        &.fc-today {
                            position: relative;
                            background: #fff6f4;
                            &:after {
                                // height: 5px;
                                // bottom: -6px;
                                height: 3px;
                                width: 100%;
                                background: #fe5841;
                                content: "";
                                position: absolute;
                                left: 0px;
                                top: -1px;
                                z-index: 9;
                            }
                        }
                        &.fc-sun,
                        &.fc-sat {
                            color: #cccccc;
                        }
                    }
                }
            }
        }
    }
    .fc-scroller {
        height: 490px !important;
        width: 101.4%;
        .fc-row {
            // height: 140px !important;
        }
    }
    .fc-unthemed td.fc-today {
        background: #ffffff !important;
    }
    td {
        &.fc-sun,
        &.fc-sat {
            background: #f2f2f2 !important;
        }
    }
    .fc-unthemed .fc-content,
    .fc-unthemed .fc-divider,
    .fc-unthemed .fc-list-heading td,
    .fc-unthemed .fc-list-view,
    .fc-unthemed .fc-popover,
    .fc-unthemed .fc-row,
    .fc-unthemed tbody,
    .fc-unthemed td,
    .fc-unthemed th,
    .fc-unthemed thead {
        border-color: #e8e8e8 !important;
    }
    &.newFullCalandar {
        .fc-toolbar {
            .fc-center {
                display: inline-block;
            }
        }
        .FilterDroapdown {
            display: none;
        }
    }
}

.fullCalendar .dshDD .fc-event-container .fc-h-event,
.fullCalendar .dshDD .fc-event-container .fc-v-event {
    color: #4b4c4d;
    padding: 3px 3px;
    border: 1px solid #e4e4e4 !important;
}

.fullCalendar .dshDD .fc-day-grid-event .fc-content {
    white-space: initial;
    overflow: visible;
}

.fullCalendar .fc-event-container .fc-h-event,
.fullCalendar .fc-event-container .fc-v-event {
    span {
        word-break: break-word;
        width: 100%;
        white-space: initial;
    }
    .footer {
        clear: both;
        margin-top: 2px;
        span {
            height: 20px;
            line-height: 22px;
            text-align: center;
            border: 1px solid #ddd;
            &.user {
                white-space: nowrap;
                width: 80px;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                background: #e0f3fe;
                color: #64c3fa;
            }
            &.abb {
                float: right;
                background: #f3f3fb;
                color: #8a88d9;
                text-transform: uppercase;
                max-width: 35px;
                overflow: hidden;
            }
        }
    }
}

.fullCalendar .dshDD .fc-event,
.fullCalendar .dshDD .fc-event-dot {
    background-color: #ebebeb !important;
}

.admin-panel {
    .editorwrap {
        .quillEditor {
            padding: 0px;
            &.ql-snow {
                padding-bottom: 0px;
            }
            .ql-toolbar {
                border: 0;
                border-bottom: 1px solid #d4d4d4;
                .ql-snow {
                    border: 0;
                    border-bottom: 1px solid #d4d4d4;
                }
            }
        }
    }
    .addNewSubject {
        color: #64c3fb !important;
        &:hover {
            color: #4b4b4b !important;
        }
    }
}

.descriptionVersion {
    .tabing-nav {
        ul {
            max-height: 100%;
            overflow: auto;
        }
    }
}

.modulesBtn {
    float: left;
    margin-left: 15px;
    margin-top: 9px;
    .btn {
        padding: 3px 6px;
        color: #ffffff;
        &.active {
            background-color: #8a88d9;
        }
        &.inactive {
            background-color: #acacac;
        }
    }
}

.admin-panel .btn.btn-filter.filterNew {
    @media(max-width: 575px) {
        margin-bottom: 12px;
    }
}

.mat-menu-panel {
    max-height: 450px !important;
}

.actionIcon {
    .trophyClr {
        height: 33px;
        width: 33px;
        i.fa-trophy {
            font-size: 23px;
        }
    }
}

.trophyClr {
    position: relative;
    height: 46px;
    width: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
    }
    i.fa-trophy {
        font-size: 27px;
        color: #ffffff;
        z-index: 99;
        position: relative;
        vertical-align: middle;
        display: inline-block;
        pointer-events: none;
        -webkit-pointer-events: none;
    }
}

.mat-dialog-container {
    max-height: 90vh !important;
}

.dashboard {
    .recentActivity {
        &.shoutOuts {
            h4 {
                margin: 0px;
                font-size: 25px;
            }
            .recentActiDateList {
                padding: 0px 0px 0px 0px !important;
                ul {
                    border-bottom: 0px !important;
                    margin-bottom: 0px !important;
                    li {
                        margin: 0px 18px !important;
                        padding: 18px 0px;
                        border-bottom: 1px solid #cccccc;
                        .actionIcon {
                            float: left;
                            vertical-align: top;
                            margin-top: 10px;
                            margin-right: 8px;
                        }
                        .media {
                            .media-left {
                                float: left;
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                background: #f1f1f1;
                                border: 1px solid #cccccc;
                                vertical-align: middle;
                            }
                            .media-right {
                                float: left;
                                max-width: inherit;
                                margin-top: 6px;
                                h5 {
                                    margin: 0px 0px;
                                    font-size: 19px;
                                }
                                p {
                                    margin-bottom: 0px;
                                    font-size: 15px;
                                    line-height: 19px;
                                    .datetime {
                                        color: #acacac;
                                    }
                                    a {
                                        color: #19a6f9;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.shoutOutPopUp angular2-multiselect .selected-list button {
    padding: 7px !important;
}

.maxDDwidth {
    .customDDmain {
        max-width: 600px !important;
    }
}

.cmpnycontentBoxInner ul li .media {
    display: block;
}

.cmpnycontentBoxInner ul li .media .commentbtnbox {
    float: right;
}

.cmpnycontentBoxInner ul li .media .commentbtnbox .btn {
    padding: 0.43rem .5rem;
    font-size: 13px;
}

.dashboard .recentActivity.shoutOuts .recentActiDateList ul li .media .media-right {
    max-width: 64%;
}

.fullCalendar {
    .col-md-2 {
        padding-right: 0px;
    }
    .col-md-10 {
        padding-left: 0px;
    }
    .cmpnycontentBox {
        &.activityDDpos {
            border: 0px;
            box-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -ms-box-shadow: none;
            -o-box-shadow: none;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            padding: 20px;
        }
    }
}

.calenderleftbar {
    background: #e8ecf5;
    .categories {
        padding: 10px;
        h4 {
            margin-top: 0px;
            font-size: 17px;
        }
        ul {
            li {
                padding-left: 18px;
                position: relative;
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 5px;
                font-size: 15px;
                color: #575757;
                &:before {
                    height: 12px;
                    width: 12px;
                    border-radius: 3px;
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 5px;
                    background: #cccccc;
                }
                &.pip {
                    &:before {
                        background: #519afc;
                    }
                }
                &.bpip {
                    &:before {
                        background: #46c15b;
                    }
                }
                &.devPlan {
                    &:before {
                        background: #9689fd;
                    }
                }
                &.leave {
                    &:before {
                        background: #812828;
                    }
                }
                &.trainingDay {
                    &:before {
                        background: #f645e3;
                    }
                }
                &.pbMeeting {
                    &:before {
                        background: #fe412f;
                    }
                }
                &.disciplinary {
                    &:before {
                        background: #ffd800;
                    }
                }
                &.pApraisal {
                    &:before {
                        background: #f99661;
                    }
                }
                &.gvMeeting {
                    &:before {
                        background: #b5651d;
                    }
                }
                &.companyEvent {
                    &:before {
                        background: #94befc;
                    }
                }
            }
        }
    }
}

.admin-panel {
    .paneldashboard {
        h4 {
            &.heading {
                color: #000000;
                font-size: 24px;
                display: inline-block;
                padding-right: 30px;
                margin-top: 0px;
            }
        }
        span {
            &.collapseIcon {
                padding: 4px 5px 2px 5px;
                line-height: 0px;
                border: 1px solid #000000;
                color: #000000;
                font-weight: bold;
                font-size: 18px;
                margin-top: 2px;
                cursor: pointer;
            }
        }
    }
    .tableWrapper {
        &.newTblStyle {
            margin-bottom: 50px;
            .actions {
                margin-top: 10px;
            }
            table {
                background: transparent;
                min-width: inherit;
                border: 1px solid #cbcbcb;
                tr {
                    td {
                        a {
                            color: #4b4c4d;
                        }
                        .userprofile {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            background: #f1f1f1;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

.calendarFilters {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    .filterscol {
        float: left;
        label {
            font-weight: bold;
        }
        ul {
            display: inline-block;
            li {
                display: inline-block;
                position: relative;
                a {
                    padding: 7px 18px;
                    color: #4b4c4d;
                    font-size: 17px;
                    i {
                        margin-left: 4px;
                    }
                }
                &:after {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    content: "";
                    height: 22px;
                    width: 1px;
                    background: #e6e6e6;
                    display: inline-block;
                }
                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
    .createEvents {
        float: right;
        .btn-event {
            margin-right: 5px;
            color: #ffffff;
            &:hover {
                color: #ffffff;
            }
        }
        .userIcon {
            height: 30px;
            width: 30px;
            display: inline-block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background: #fd7787;
            position: relative;
            top: 9px;
        }
    }
}

.fc-widget-content {
    .fc-week {
        margin-right: 0px !important;
    }
}