h2 {
    button {
        margin-left: 0px;
        margin-bottom: 10px;
        padding: 0px 18px;
        min-width: inherit;
        line-height: 36px;
    }
}

.mdl-data-table {
    margin-bottom: 20px;
}

.box {
    button {
        &:first-child {
            margin-right: 7px;
        }
    }
}

.mdl-data-table td:last-of-type,
.mdl-data-table th:last-of-type {
    padding-right: 250px;
}

.smallTable {
    margin-top: 20px;
    width: 40%;
    margin: auto;
}