<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">List of employment types
                    <!-- <button *ngIf="permission.edit" md-raised-button color="special" (click)="onEdit()" class="theme-button btn-w-md float-right">Edit</button> -->
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-box table-responsive">
                    <form #employmentTypeForm="ngForm">
                        <div class="smallTable">
                            <table class="mdl-data-table full-width">
                                <thead>
                                    <th style="width: 30px;">Serial no.</th>
                                    <th>Employment type</th>
                                    <!-- <th>Status</th> -->
                                </thead>
                                <tbody>
                                    <tr class="cursor">
                                        <td style="width: 30px;">1</td>
                                        <td>Full time</td>
                                        <!-- <td>Active</td> -->
                                    </tr>
                                    <tr class="cursor">
                                        <td style="width: 30px;">2</td>
                                        <td>Part time</td>
                                        <!-- <td>Active</td> -->
                                    </tr>
                                    <tr class="cursor">
                                        <td style="width: 30px;">3</td>
                                        <td>Casual</td>
                                        <!-- <td>Active</td> -->
                                    </tr>
                                    <tr class="cursor">
                                        <td style="width: 30px;">4</td>
                                        <td>Contract</td>
                                        <!-- <td>Active</td> -->
                                    </tr>
                                    <tr class="cursor">
                                        <td style="width: 30px;">5</td>
                                        <td>Volunteer</td>
                                        <!-- <td>Active</td> -->
                                    </tr>
                                    <!--<tbody *ngIf="!isProcessing"> 
                                    <tr class="cursor" *ngFor="let type of employmentTypes;let i=index">
                                    <td>{{i+1}}</td>
                                    <td *ngIf="showEditFields">
                                        <md-input-container class="full-width">
                                            <input name="title_{{i}}" #title="ngModel" myNoSpaces mdInput placeholder="Enter employment type" [(ngModel)]="type.title" required>
                                        </md-input-container>
                                        <div *ngIf="title.errors && (title.dirty || title.touched)">
                                            <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                                                Employment type is required !
                                            </div>
                                        </div>
                                    </td>
                                    <td *ngIf="showEditFields">
                                        <md-select name="selectStatus_{{i}}" placeholder="Select status" [(ngModel)]="type.status" required>
                                            <md-option *ngFor="let state of status;let i=index" value="{{state}}">{{state}}</md-option>
                                        </md-select>
                                    </td>
                                    <td *ngIf="!showEditFields">{{type.title}}</td>
                                    <td *ngIf="!showEditFields">{{type.status}}</td>
                                </tr> -->
                                    <!-- <tr *ngIf="showEditFields">
                                    <td>
                                        <button [disabled]="!employmentTypeForm.valid" md-raised-button color="primary" (click)="updateEmployementType(employmentTypes)">Save</button>
                                        <button color="default" md-raised-button (click)="onCancel()">Cancel</button>
                                    </td>
                                </tr> -->

                                    <!-- <tr class="cursor">
                    <td>7</td>
                    <td>Own Part Time</td>
                    <td></td>
                  </tr> -->
                                </tbody>
                            </table>
                        </div>
                        <!-- <md-progress-spinner *ngIf="isUpdateProcessing&&showEditFields" mode="indeterminate" color=""></md-progress-spinner> -->
                        <div class="col-sm-12">
                            <button *ngIf="!isUpdateProcessing&&showEditFields" [disabled]="!employmentTypeForm.valid" name="saveButton" md-raised-button color="primary" (click)="updateEmployementType(employmentTypes)">Save</button>
                            <button *ngIf="!isUpdateProcessing&&showEditFields" color="default" md-raised-button name="cancelButton" (click)="onCancel()">Cancel</button>
                            <br>
                            <br>
                        </div>
                    </form>
                    <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
                </div>

            </div>
        </div>
    </article>
</div>