<div class="box">
            <h5>Change/Update password</h5>
            <form #ngaccntForm="ngForm" name="user">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Old/Current password</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="password" class="form-control" required name="oldPassword" [(ngModel)]="user.oldPassword" #oldPassword="ngModel" />
                            <div *ngIf="oldPassword.dirty || oldPassword.touched || ngaccntForm.submitted">
                                <span class="alert alert-danger" [hidden]="oldPassword.valid">Please enter your current password.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">New password</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="password" class="form-control" required name="nwpassword" [(ngModel)]="user.newPassword" #nwpassword="ngModel">
                            <div *ngIf="nwpassword.dirty || nwpassword.touched || ngaccntForm.submitted">
                                <span class="alert alert-danger" [hidden]="nwpassword.valid">Please enter your new password.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Confirm password</label>
                        </div>
                        <div class="rghtinput10">
                            <input type="password" class="form-control" required name="cpassword" [(ngModel)]="user.confirmPassword" #cpassword="ngModel">
                            <div *ngIf="cpassword.dirty || cpassword.touched || ngaccntForm.submitted">
                                <span style="color:red" *ngIf="!cpassword.valid">Please confirm your password.</span>
                                <span style="color:red" *ngIf="cpassword.valid && ngaccntForm.submitted && (user.newPassword != user.confirmPassword)">Password not match.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline"></label>
                        </div>
                        <div class="rghtinput10 text-right" style="max-width:600px;">
                            <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isProcessingForm" class="btn btn-success btn-lg" (click)="onChangePassword()">Save &nbsp;
                                <i class="fa fa-lock"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>