.support {
    padding: 0 20px 20px;
    .starBox {
        background: #333;
        // border: 1px solid #000;
        // border-radius: 0 20px 0 0;
        box-shadow: 1px 1px 7px 0px #7d7d7d;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        height: 64px;
        input[type="checkbox"] {
            display: none;
        }
        label {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-left: 25px;
            line-height: 61px;
            font-size: 22px;
            color: #fc3;
            font-weight: 100;
            span {
                position: absolute;
                right: 0;
                top: 0;
                padding: 0 20px;
                background: #fc3;
                height: 100%;
                color: #fff;
                line-height: 70px;
                text-shadow: 1px 1px 1px #797979;
            }
        }
    }
}

.support .starBox input[type="checkbox"]:checked+label {
    border: 2px solid #fc3;
}

.support .starBox input[type="checkbox"]:checked+label:before {
    content: "\f0dd";
    position: absolute;
    left: -23px;
    top: -38px;
    font-size: 83px;
    font-family: 'FontAwesome';
}

h4 {
    margin-top: 7px;
}

table {
    tr {
        td {
            padding: 0px 0px;
        }
    }
}