<div class="support">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">Support services</li>
    </ol>
    <form #supportForm="ngForm">
        <ul class="cmpnycontentBox">
            <h4 class="heading">Support services</h4>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xl-4">
                    <div class="starBox">
                        <input type="checkbox" id="service1" />
                        <label for="service1">
                        Charges per hour
                        <span>$200+GST</span>
                    </label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xl-4 form-group">
                    <label class="form-inline" style="margin-top: 0px;
    margin-bottom: 4px;">Select hours</label>
                    <select class="form-control" required name="cntry" #hours="ngModel" [(ngModel)]="reqBody.hour">
                    <option value="" disabled>Choose hours</option>
                    <option [value]="c" *ngFor="let c of totalHours">{{c}}</option>
                </select>
                    <div *ngIf="hours.errors && ( (hours.dirty || hours.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(hours.errors.required)">
                            Hours is required.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- <div class="box">
                <h4 class="heading">Apply coupon</h4>
                <div class="row">

                    <div class="form-group col-md-4">
                        <input #coupon="ngModel" myNoSpaces class="form-control" name="dddd" [(ngModel)]="reqBody.coupon" required/>
                        <div *ngIf="coupon.errors && ( (coupon.dirty || coupon.touched) || isButtonClicked )">
                            <div class="alert alert-danger" [hidden]="!(coupon.errors.required || coupon.errors.whitespace)">
                                Coupon code is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <md-progress-spinner *ngIf="isChkProcessing" style="margin: 0 !important;display: inline-block !important;vertical-align: top;" mode="indeterminate" color=""></md-progress-spinner>
                        <button (click)="onApplyCouponCode()" *ngIf="reqBody.coupon && !isChkProcessing" class="btn btn-primary" style="padding: 5px 12px;">Apply</button> &nbsp;&nbsp;
                        <span *ngIf="isCouponCodeValid" class="fa fa-check-circle color-success" style="font-size:25px;display:inline-block;vertical-align:middle;"></span>
                    </div>

                </div>
            </div> -->
            <div class="box">
                <h4 class="heading">Taxes</h4>
                <div class="row">
                    <div class="col-sm-6" style="margin-top:5px;">
                        <span class="btn btn-filter full-width text-left">GST (10%)</span>
                    </div>
                    <!-- <div class="col-sm-6" style="margin-top:5px;">
                    <span class="btn btn-filter full-width">Role</span>
                </div> -->
                </div>

            </div>

            <div class="box">
                <div class="row">
                    <div class="col-md-12 table-responsive" style="margin-top:5px;">
                        <table>
                            <tr>
                                <th style="min-width:170px;">Item</th>
                                <th style="width:100px;">Hours</th>
                                <th style="width:100px;">$</th>
                            </tr>
                            <tr>
                                <td>HR support</td>
                                <td>{{reqBody?.hour}}</td>
                                <td>${{200 * reqBody?.hour }}</td>
                            </tr>
                            <tr>
                                <td>Tax (10% GST)</td>
                                <td></td>
                                <td>${{ (200 * reqBody?.hour) * 0.1 }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th>${{ ( (200 * reqBody?.hour) * 0.1 ) + ( 200 * reqBody?.hour ) }}</th>
                            </tr>


                        </table>
                    </div>
                    <!-- <div class="col-sm-6" style="margin-top:5px;">
                    <span class="btn btn-filter full-width">Role</span>
                </div> -->
                </div>

            </div>
            <!-- <div class="box">
            <h4 class="heading">Select you payment</h4>
            <div class="customChoice">
                <input id="paymentOption1" name="currentemploye" type="radio">
                <label for="paymentOption1">Credit Card(1.5% Surchange)</label>
            </div>
            <div class="customChoice">
                <input id="paymentOption2" name="currentemploye" type="radio">
                <label for="paymentOption2">Direct Debit</label>
            </div>

        </div> -->
            &nbsp;
            <div class="customchkbox">
                <input id="privacyPolicy" type="checkbox" [(ngModel)]="isAgree" name="df" class="required" aria-required="true">
                <label for="privacyPolicy"><b>I read and agree</b></label>
                <a href="http://happyhtml.n1.iworklab.com/terms.html" target="_blank">
                    <b> terms and conditions </b></a>.
                <!-- 
                <label>
                    <input #terms="ngModel" name="iagreeterms" [(ngModel)]="iAgree"  required type="checkbox" />
                    <span>I have read and agree to the 
                        <a href="http://happyhtml.n1.iworklab.com/terms.html" target="_blank">
                        <b> Terms and conditions </b></a> and 
                        <a href="http://happyhtml.n1.iworklab.com/privacy.html" target="_blank"><b>Privacy policy </b></a>
                    </span>
                </label> -->


            </div>
            <div class="buttonWrap text-center">
                <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <button *ngIf="isAgree && !isProcessing && supportForm.form.valid" (click)="onSubmit(supportForm.form.valid)" class="btn btn-success">Pay <i class="fa fa-credit-card-alt"></i></button>
            </div>
        </ul>
    </form>
</div>