.instruction{
    color:#a5a5a5;
    font-weight:bold;
}
.currentEmpoption{
    
    .customChoice{
        display:inline-block;
        margin:7px 0px;
        &:first-child{
            margin-right:30px;
        }
     }
     .detailField{
         textarea{
             height:70px;
             resize:none;
             max-width:inherit;
         }
     }
    
}
.control-label{
   color:#4cdaaa;
}
 p{
    &.note{
       color:#ff8383;
     }
 }
 .form-group{
   .rghtinput10{
       width:100%;
   }
 } 
 .registrationForm{
     padding-left:45px;
 }