<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/employee-management']">Employee management</li>
                    <li class="breadcrumb-item active">Confirmation</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="cmpnycontentBox registrationForm">
                    <h4 class="heading">Step 4: Confirmation</h4>
                    <form #proposedForm="ngForm" name="proposedForm" class="form-horizontal" (ngSubmit)="proposedForm.valid && saveAndNext()">
                        <div class="row maxformWidth">
                            <div class="col-md-12">
                                <p class="instruction">
                                    Do you want to check that you are paying your employees correctly? Click on this
                                    <a target="_blank" href="https://calculate.fairwork.gov.au/findyouraward">link</a> to find your award.

                                </p>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <label [ngClass]="{'control-label': roles.sho}">1. Is this user you proposed sexual harassment officer?</label>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="harassment1" type="radio" name="harassment" #harassment="ngModel" [(ngModel)]="info.sexsualHarrassmentOfficer"
                                            value="Yes" class="required" required>
                                        <label for="harassment1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="harassment2" type="radio" name="harassment" #harassment="ngModel" [(ngModel)]="info.sexsualHarrassmentOfficer"
                                            value="No" class="required" required>
                                        <label for="harassment2">No</label>
                                    </div>
                                    <div *ngIf="harassment.dirty || harassment.touched || proposedForm.submitted">
                                        <div class="alert alert-danger" [hidden]="harassment.valid">
                                            Please choose an option.
                                        </div>
                                    </div>
                                    <!--<div class="detailField">
                    <textarea class="form-control"></textarea>
                  </div>-->
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <label [ngClass]="{'control-label': roles.fw}">2. Is this user you proposed fire warden?</label>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="warden1" type="radio" name="warden" #warden="ngModel" [(ngModel)]="info.fireWarden" value="Yes" class="required"
                                            required>
                                        <label for="warden1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="warden2" type="radio" name="warden" #warden="ngModel" [(ngModel)]="info.fireWarden" value="No" class="required"
                                            required>
                                        <label for="warden2">No</label>
                                    </div>
                                    <div *ngIf="warden.dirty || warden.touched || proposedForm.submitted">
                                        <div class="alert alert-danger" [hidden]="warden.valid">
                                            Please choose an option.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <label [ngClass]="{'control-label': roles.ohs}">3. Is this user you proposed OH&S officer?</label>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="smm1" type="radio" name="smm" #smm="ngModel" [(ngModel)]="info.ohsOfficer" value="Yes" class="required" required>
                                        <label for="smm1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="smm2" type="radio" name="smm" #smm="ngModel" [(ngModel)]="info.ohsOfficer" value="No" class="required" required>
                                        <label for="smm2">No</label>
                                    </div>
                                    <div *ngIf="smm.dirty || smm.touched || proposedForm.submitted">
                                        <div class="alert alert-danger" [hidden]="smm.valid">
                                            Please choose an option.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <label [ngClass]="{'control-label': roles.fao}">4. Is this user you proposed first aid officer?</label>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="fao1" type="radio" name="firstaidofficer" #firstaidofficer="ngModel" [(ngModel)]="info.firstAidOfficer" value="Yes"
                                            class="required" required>
                                        <label for="fao1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="fao2" type="radio" name="firstaidofficer" #firstaidofficer="ngModel" [(ngModel)]="info.firstAidOfficer" value="No"
                                            class="required" required>
                                        <label for="fao2">No</label>
                                    </div>
                                    <div *ngIf="firstaidofficer.dirty || firstaidofficer.touched || proposedForm.submitted">
                                        <div class="alert alert-danger" [hidden]="firstaidofficer.valid">
                                            Please choose an option.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="note">*Questions with green color are already assigned!</p>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-success btn-lg">Proceed</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>