<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/listing-page/ohs-listing']">OH&S</li>
                    <li class="breadcrumb-item active">Corrective actions</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="actionform" #actionform="ngForm" (ngSubmit)="actionform.valid && submitAction()">
                    <div class="cmpnycontentBox">
                        <div class="PIPFormbox">
                            <h4 class="heading">Corrective actions</h4>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Title</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="action.title" required/>
                                        <div *ngIf="title.dirty || title.touched || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="title.valid">Please enter a title.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Actions or corrective</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" name="correction" #correction="ngModel" [(ngModel)]="action.measuresTaken" required/>
                                        <div *ngIf="correction.dirty || correction.touched || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="correction.valid">Please enter an action.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Repair & maintenance booked</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" name="repair" #repair="ngModel" [(ngModel)]="action.booking" required/>
                                        <div *ngIf="repair.dirty || repair.touched || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="repair.valid">Please enter a title.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Supplier for repair & maintenance</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" name="supplier" #supplier="ngModel" [(ngModel)]="action.supply" required/>
                                        <div *ngIf="supplier.dirty || supplier.touched || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="supplier.valid">Please enter a supplier.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Time stamp</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <dp-date-picker class="form-control" name="timestamp" #timestamp="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="actionTime"
                                            [config]="config" required="true" placeholder="Select time"></dp-date-picker>
                                        <div *ngIf="timestamp.touched || actionform.submitted">
                                            <div class="alert alert-danger" [hidden]="timestamp.valid">Please enter a time stamp.</div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="cmpnycontentBox nextStep">
                        <h4 class="heading">Set reminders for: Date of repair</h4>
                        <!-- <form class="maxformWidth"> -->
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Date & time</label>
                                </div>
                                <div class="rghtinput10">
                                    <dp-date-picker class="form-control" name="dt" #dt="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="reminderTime"
                                        [config]="remConfig" required="true" placeholder="Select time"></dp-date-picker>
                                    <div *ngIf="dt.touched || actionform.submitted">
                                        <div class="alert alert-danger" [hidden]="dt.valid">Please select a time.</div>
                                    </div>
                                </div>
                            </div>
                            <md-progress-spinner *ngIf="isProcessingForm" mode="indeterminate" color=""></md-progress-spinner>
                            <div *ngIf="!isProcessingForm" class="col-sm-12 text-center form-group btnWraper">
                                <button class="btn btn-lg btn-primary">Set</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- </form> -->
                    </div>
                    <!-- <div class="col-sm-12 text-right nextstepbtn">
            <button class="btn btn-lg btn-primary" [routerLink]="['/app/company-admin/ohs/repair-assessment',action.ohsID]">Next</button>
          </div> -->
                </form>
            </div>
        </div>
    </div>
</div>