.cmpnycontentBox{
    h4{
        margin: 20px 0px 30px;
    }
    &.nextStep{
       margin-top:25px;
    }
    .btnWraper{
        margin-top:10px;
        margin-bottom:0px !important;
        button{
            min-width:100px;
        }
    }
}
.nextstepbtn{
    margin-top:25px;
    padding-right:0px;
}