<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/advertisement']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item">Update advertisement</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isProcessing" class="cmpnycontentBox">
                    <form #advrsForm="ngForm" name="adsForm">
                        <md-progress-spinner *ngIf="isDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div *ngIf="!isDataProcessing" class="box">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline text-left">Location</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="dropDownListLocation" [(ngModel)]="selectedLocation" name="Locatiogh" #Location="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedLocation">
                                        </angular2-multiselect>
                                        <div *ngIf="Location.errors && ( (Location.dirty || Location.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(Location.errors.required || Location.errors.whitespace)">
                                                Field required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline text-left">Employment type</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="dropDownListEmployeementType" [(ngModel)]="selectedEmployeementType" name="EmployeementTypef" #EmployeementType="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedEmployeementType">
                                        </angular2-multiselect>
                                        <div *ngIf="EmployeementType.errors && ( (EmployeementType.dirty || EmployeementType.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(EmployeementType.errors.required || EmployeementType.errors.whitespace)">
                                                Field required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline text-left">Industry</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="dropDownListIndustry" (onSelect)="onIndustrySelect($event)" [(ngModel)]="selectedIndustry" name="Industrydf" #Industry="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedIndustry">
                                        </angular2-multiselect>
                                        <div *ngIf="Industry.errors && ( (Industry.dirty || Industry.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(Industry.errors.required || Industry.errors.whitespace)">
                                                Field required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline text-left">Job function</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <md-progress-spinner *ngIf="isJobFunctionProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                        <div *ngIf="!isJobFunctionProcessing">
                                            <angular2-multiselect required [data]="dropDownListJobFunction" [(ngModel)]="selectedJobFunction" name="JobFunctiond" #JobFunction="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedJobFunction">
                                            </angular2-multiselect>
                                            <div *ngIf="JobFunction.errors && ( (JobFunction.dirty || JobFunction.touched) || isButtonClicked )">
                                                <div class="alert alert-danger" [hidden]="!(JobFunction.errors.required || JobFunction.errors.whitespace)">
                                                    Field required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline text-left">I want to create an advertisement for</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="dropDownListPDs" (onSelect)="onPDSelect($event)" [(ngModel)]="selectedPDs" name="PDs" #PDs="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedPDs">
                                        </angular2-multiselect>
                                        <div *ngIf="PDs.errors && ( (PDs.dirty || PDs.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(PDs.errors.required || PDs.errors.whitespace)">
                                                Field required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box advertisementForm">
                            <h5 class="heading">Fill advertisement form</h5>
                            <md-progress-spinner *ngIf="isFormDataProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <div class="row" *ngIf="!isFormDataProcessing">
                                <div class="col-sm-12  form-group">
                                    <div class="lftinpt10"><label class="form-inline">Title</label></div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" placeholder="Title" name="title" myNoSpaces required #ngtitle="ngModel" [(ngModel)]="adsForm.advertiseName" />
                                        <div *ngIf="ngtitle.errors && ( (ngtitle.dirty || ngtitle.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(ngtitle.errors.required || ngtitle.errors.whitespace)">
                                                Title required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12  form-group">

                                    <div class="lftinpt10"><label class="form-inline">Salary</label></div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" placeholder="Salary" name="advertiseSalaryrdf" myNoSpaces required #advertiseSalary="ngModel" [(ngModel)]="adsForm.advertiseSalary" />
                                        <div *ngIf="advertiseSalary.errors && ( (advertiseSalary.dirty || advertiseSalary.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(advertiseSalary.errors.required || advertiseSalary.errors.whitespace)">
                                                Salary required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12  form-group">
                                    <div class="lftinpt10"><label class="form-inline">Selling point</label></div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" placeholder="Selling point" name="sellingPointd" myNoSpaces required #sellingPoint="ngModel" [(ngModel)]="adsForm.sellingPoint" />
                                        <div *ngIf="sellingPoint.errors && ( (sellingPoint.dirty || sellingPoint.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(sellingPoint.errors.required || sellingPoint.errors.whitespace)">
                                                Selling point required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-12  form-group">

                                    <div class="lftinpt10"><label class="form-inline">Number of requirements</label></div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" placeholder="Enter number of requirements" name="aboutComasdapanyf" myNoSpaces required #AdvertisePositions="ngModel" [(ngModel)]="adsForm.advertisePositions" />
                                        <div *ngIf="AdvertisePositions.errors && ( (AdvertisePositions.dirty || AdvertisePositions.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(AdvertisePositions.errors.required || AdvertisePositions.errors.whitespace)">
                                                Number of requirements required.
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="col-lg-2 col-md-3 no-padding"><label class="form-inline position-change">About the company</label></div>
                                <div class="col-lg-10 col-md-9 form-group">
                                    <quill-editor placeholder="Write about the company" class="form-control full-width" myNoSpaces style="height: inherit; max-width: inherit;" name="aboutCompanyf" 
                                    #aboutCompany="ngModel"  [(ngModel)]="adsForm.aboutCompany" required>
                                    </quill-editor>
                                    <div>
                                        <div *ngIf="aboutCompany.errors && ( (aboutCompany.dirty || aboutCompany.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(aboutCompany.errors.required || aboutCompany.errors.whitespace)">
                                                About the company required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 no-padding"><label class="form-inline position-change">Job benefits and perks</label></div>
                                <div class="col-lg-10 col-md-9 form-group">
                                    <!--<input type="text" class="form-control" placeholder="Write about Job benefits and perks" name="jobBenifitsd" myNoSpaces required
                                        #jobBenifits="ngModel" [(ngModel)]="adsForm.jobBenifits" />-->
                                    <quill-editor placeholder="Write about Job benefits and perks" class="form-control full-width" myNoSpaces 
                                    style="height: inherit; max-width: inherit;" name="jobBenifitsd" 
                                    #jobBenifits="ngModel" [(ngModel)]="adsForm.jobBenifits" required>
                                    </quill-editor>
                                    <div>
                                        <div *ngIf="jobBenifits.errors && ( (jobBenifits.dirty || jobBenifits.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(jobBenifits.errors.required || jobBenifits.errors.whitespace)">
                                                Benifits required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 no-padding"><label class="form-inline position-change">About the role</label></div>
                                <div class="col-lg-10 col-md-9 form-group">
                                    <!--<input type="text" class="form-control" placeholder="Write about the role" name="positionSummaryf" myNoSpaces required #positionSummary="ngModel"
                                        [(ngModel)]="adsForm.positionSummary" />-->

                                        <quill-editor  placeholder="Write about the role" name="positionSummaryf" class="form-control full-width" myNoSpaces 
                                            style="height: inherit; max-width: inherit;" 
                                            #positionSummary="ngModel" [(ngModel)]="adsForm.positionSummary" required>
                                        </quill-editor>
                                    <div>
                                        <div *ngIf="positionSummary.errors && ( (positionSummary.dirty || positionSummary.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(positionSummary.errors.required || positionSummary.errors.whitespace)">
                                                About the role required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 no-padding"><label class="form-inline position-change">Jobs & Responsibility</label></div>
                                <div class="col-lg-10 col-md-9 form-group">
                                    <!--<input type="text" class="form-control" placeholder="write about Jobs & Responsibility" name="positionRoleAndResponsibilitiesrf"
                                        myNoSpaces required #positionRoleAndResponsibilities="ngModel" [(ngModel)]="adsForm.positionRoleAndResponsibilities"
                                    />-->
                                    <quill-editor placeholder="write about Jobs & Responsibility" name="positionRoleAndResponsibilitiesrf" class="form-control full-width" myNoSpaces 
                                            style="height: inherit; max-width: inherit;" 
                                            #positionRoleAndResponsibilities="ngModel" [(ngModel)]="adsForm.positionRoleAndResponsibilities" required>
                                        </quill-editor>
                                    <div>
                                        <div *ngIf="positionRoleAndResponsibilities.errors && ( (positionRoleAndResponsibilities.dirty || positionRoleAndResponsibilities.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(positionRoleAndResponsibilities.errors.required || positionRoleAndResponsibilities.errors.whitespace)">
                                                Role and responsibilities required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 no-padding"><label class="form-inline position-change">About you</label></div>
                                <div class="col-lg-10 col-md-9 form-group">
                                    <!--<input type="text" class="form-control" placeholder="Write about you" name="aboutYoudf" myNoSpaces required #aboutYou="ngModel"
                                        [(ngModel)]="adsForm.aboutYou" />-->

                                        <quill-editor placeholder="Write about you" name="aboutYoudf" class="form-control full-width" myNoSpaces 
                                            style="height: inherit; max-width: inherit;" 
                                            #aboutYou="ngModel" [(ngModel)]="adsForm.aboutYou" required>
                                        </quill-editor>
                                    <div>
                                        <div *ngIf="aboutYou.errors && ( (aboutYou.dirty || aboutYou.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(aboutYou.errors.required || aboutYou.errors.whitespace)">
                                                About you required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 no-padding"><label class="form-inline position-change">Key requirements</label></div>
                                <div class="col-lg-10 col-md-9 form-group">
                                    <!--<input type="text" class="form-control" placeholder="Write about key requirements" name="KeyRequirementsdd" myNoSpaces required
                                        #KeyRequirements="ngModel" [(ngModel)]="adsForm.KeyRequirements" />-->
                                        <quill-editor placeholder="Write about key requirements" name="KeyRequirementsdd" class="form-control full-width" myNoSpaces 
                                            style="height: inherit; max-width: inherit;" 
                                             #KeyRequirements="ngModel" [(ngModel)]="adsForm.KeyRequirements" required>
                                        </quill-editor>
                                    <div>
                                        <div *ngIf="KeyRequirements.errors && ( (KeyRequirements.dirty || KeyRequirements.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(KeyRequirements.errors.required || KeyRequirements.errors.whitespace)">
                                                Key requirements required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-lg-2 col-md-3"><label class="form-inline">Contact</label></div>                
                <div class="col-lg-10 col-md-9 form-group">
                     <input type="text" class="form-control" placeholder="Salary" name="contacts" myNoSpaces required #contact="ngModel" [(ngModel)]="adsForm.contact" />
                        <div *ngIf="contact.errors && ( (contact.dirty || contact.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(contact.errors.required || contact.errors.whitespace)">
                          Contact required.
                        </div>
                      </div> 
                </div>-->
                                <div class="col-sm-12 buttomWrap text-center">
                                    <md-progress-spinner *ngIf="isUpdateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <div *ngIf="!isUpdateProcessing">
                                    <button class="btn btn-primary btn-lg" (click)="onUpdate(advrsForm)">Update</button>
                                    <button [routerLink]="['/app/company-admin/advertisement']" class="btn btn-default btn-lg">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>