<form #doc="ngForm">
    <div style="min-width:250px">
        <span class="btn btn-lg btn-filter text-center btn-file">
            <i class="fa fa-upload"></i>&nbsp;Upload <input  (change)="fileChange($event)"  accept=".pdf,.doc,.docx,.png,.jpeg,.txt,.odt,.ott,.xml,.rtf" type="file" />
        </span>

        <div *ngIf="docError">
            file is required.
        </div>


        <md-progress-bar style="margin: 20px 0px 30px" *ngIf="isProcessing" color="primary" mode="indeterminate" [value]="50" [bufferValue]="75"></md-progress-bar>
        <p style="margin: 20px 0px 30px" *ngIf="!isProcessing">
            {{fileName}}
        </p>
        <div class="heading"><strong>Enter title</strong></div>

        <div>
            <input class="form-control" type="text" name="att" [(ngModel)]="title" #question="ngModel" myNoSpaces required>
        </div>
        <div *ngIf="question.errors && ( (question.dirty || question.touched) )">
            <div class="alert alert-danger" [hidden]="!(question.errors.required || question.errors.whitespace)">
                Title is required !
            </div>
        </div>


        <md-progress-spinner *ngIf="isActionProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <button *ngIf="!isActionProcessing" [disabled]="(!docPath || !doc.form.valid)" (click)="saveDoc()" class="btn btn-success">Save</button>
    </div>
</form>