<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin/listing-page/off-boarding-listing']">Off boarding checklist</a>
                    </li>
                    <li class="breadcrumb-item active">View details</li>
                </ol>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <!-- <ng-container *ngIf="!isProcessing">
            <div class="collapseInfoBox checklistMain" *ngFor="let c of checkList;let i=index;">

                <h4 (click)="collapse[i]=!collapse[i];$event.stopPropagation()" [ngClass]="{active:!collapse[i]}">
                    <div class="pull-right arrowIcon"><i class="fa fa-angle-down"></i></div>
                    {{c?.categories?.title}}
                </h4>
                <div [ngClass]="{open:!collapse[i]}" class="collapseContentbox">

                    <div>
                        <div class="visibletbl checklistTbl">
                            <table width="100%" class="mdl-data-table">
                                <tbody width="100%">
                                    <ng-container *ngIf="c.columns!=null">
                                        <tr>
                                            <th style="width:35%;">Title</th>
                                            <th style="width:45%;">Note</th>
                                            <th style="width:135px;">Status</th>
                                        </tr>
                                        <tr width="100%">
                                            <td style="width:50%">
                                                <div class="addColdata">
                                                    Question
                                                </div>
                                            </td>
                                            <td>
                                                <div class="addColdata">
                                                    Manager Notes
                                                </div>
                                            </td>
                                            <td>
                                                <div class="addColdata">
                                                    Action
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="c?.categories?.columns?.rows.length">
                                        <tr width="100%" *ngFor="let col of c?.categories?.columns?.rows;let i=index;">

                                            <td>
                                                {{col.columnA}}
                                            </td>
                                            <td>
                                                {{col.columnB}}
                                            </td>
                                            <td>
                                                {{col.columnC}}
                                            </td>
                                        </tr>
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                        <table width="100%" class="mdl-data-table">
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </ng-container>
        <div *ngIf="!checkList?.length && !isProcessing">
            <div class="full-width alert alert-danger text-center">
                No record found
            </div>
        </div> -->
        <ng-container *ngIf="!isProcessing">
            <div class="collapseInfoBox checklistMain" *ngFor="let c of checkList; let i = index; ">
                <div *ngIf="c?.categories?.columns?.rows.length">
                    <h4 (click)="collapse[i]=!collapse[i];$event.stopPropagation()" [ngClass]="{active:!collapse[i]}">
                        <div class="pull-right arrowIcon">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        {{c?.categories?.title}}
                    </h4>
                    <div [ngClass]="{open:!collapse[i]}" class="collapseContentbox">
                        <div class="visibletbl checklistTbl">
                            <table class="mdl-data-table full-width">
                                <tbody>
                                    <tr>
                                        <th class="addColdata" style="width:38%;">
                                            {{c?.categories?.columns?.columnA}}
                                        </th>
                                        <th class="addColdata" style="width:44%;">
                                            {{c?.categories?.columns?.columnB}}
                                        </th>
                                        <th class="addColdata" style="width:18%;min-width:145px;">
                                            {{c?.categories?.columns?.columnC}}
                                        </th>
                                    </tr>
                                    <tr *ngFor="let col of c?.categories?.columns?.rows">

                                        <td>
                                            {{col.columnA || 'Not specified'}}
                                        </td>
                                        <td>
                                            {{col.columnB || 'Not specified'}}
                                        </td>
                                        <td>
                                            {{col.columnC || 'Not specified'}}                                            
                                            <!-- <div class="dropdown actionDDtbl">
                                                <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <button (click)="onDelete(col?.companyChecklistCategoryRowID)" class="dropdown-item btn-none color-danger">
                                                        <i class="fa fa-trash"></i>&nbsp;Delete</button>
                                                </div>
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!checkList?.length">
                                <div class="text-center">
                                    No record found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </article>
</div>