<p class="title">{{ title }}</p>
<hr>
<p [innerHTML]="message"></p>
<button md-raised-button color="primary" (click)="dialogRef.close(true)">OK</button>
<button md-button (click)="dialogRef.close(false)">Cancel</button>
