<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item" [routerLink]="['/app/company-admin/policy-documents']">Policy documents</li>
                <li class="breadcrumb-item" [routerLink]="['/app/company-admin/policy-documents/procedural-document']">Procedural document</li>
                <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/policy-documents/procedural-document/detail']">Procedural document detail</li>
            </ol>
        </div>
        <div *ngIf="!isDetailProcessing" class="col-md-12 text-right statusBtn labelStats">
            <!--<label class="statsInfo">Last updated on {{document?.updateTime}}</label>-->
            <button class="btn btn-primary"  style="margin-right:7px;" (click)="onDownloadPDF(document.pdfUrl)">Download pdf</button>
            <label class="statsInfo">Version {{document?.version}}</label>
        </div>
    </div>
    <md-progress-spinner *ngIf="isDetailProcessing" mode="indeterminate" color=""></md-progress-spinner>

    <div *ngIf="!isDetailProcessing" class="row">
        <div class="col-md-12">
            <div class="cmpnycontentBox">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Title</label>
                        </div>
                        <div class="rghtinput10">
                            {{document?.title}}
                        </div>
                    </div>
                    <div class="col-sm-12 form-group innerHtmlpara">
                        <div class="lftinpt10">
                            <label class="form-inline">Description</label>
                        </div>
                        <div *ngIf="document.description" [innerHTML]="document.description" class="rghtinput10">

                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="lftinpt10">
                            <label class="form-inline">Assigned positions</label>
                        </div>
                        <div class="rghtinput10">
                            <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                <input readonly type="text" class="form-control" value="Assigned positions" (click)="invitelistCollapse=!invitelistCollapse">
                                <ul class="inviteList ddNew" [ngClass]="{open:invitelistCollapse}">
                                    <li *ngFor="let c of document.position">
                                        <div class="empinfo">
                                            <label>{{c?.itemName}}</label>
                                            <!-- <div class="userprofile">{{c?.position}}</div> -->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapseInfoBox" *ngFor="let x of document.documentSubjects; let i=index;">
                <h4 (click)="tgl[i]=!tgl[i]" [ngClass]="{active:tgl[i]}">{{x.title}}<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                <div [ngClass]="{open:tgl[i]}" class="collapseContentbox">
                    <div class="col-sm-12">
                        <pre [innerHTML]="x.description"></pre>
                    </div>
                </div>
            </div>

            <!-- <div class="companycontentBox">
                <div class="collapseInfoBox">
                    <h4 (click)="collapse=!collapse" [ngClass]="{active:collapse}">Role accessibility<span class="pull-right"><i class="fa fa-angle-down"></i></span></h4>
                    <div [ngClass]="{open:collapse}" class="collapseContentbox">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="heading">List of user roles have access to this document</h5>
                                        <ul class="userList">
                                            <li>HR <span class="action"><i class="fa fa-trash"></i></span></li>
                                            <li>Accounts <span class="action"><i class="fa fa-trash"></i></span></li>
                                            <li>Sales <span class="action"><i class="fa fa-trash"></i></span></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <div class="lftinpt30">
                                            <label class="form-inline">Provide access to</label>
                                        </div>
                                        <div class="rghtinput">
                                            <angular2-multiselect style="max-width:300px;" required [data]="dropdownListEmployees" [(ngModel)]="selectedItems" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
</div>