@import '../policy-detail/policy-detail.component.scss';
.userList {
    max-width: 300px;
    border: 1px solid #cccccc;
    li {
        border-bottom: 1px solid #cccccc;
        display: block;
        padding: 7px 12px;
        span {
            float: right;
            cursor: pointer;
        }
        &:last-child {
            border-bottom: 0px;
        }
    }
}

.inviteEmpMain {
    max-width: 300px;
}
.inviteEmpMain .inviteList.ddNew{
    z-index: 10;
    position: relative;
    top: 0;
}