<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">Contracts</h2>
            </div>
        </div>
        <!--Filter Box-->
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing">
            <div class="box box-default paddingBox policyDetail">
                <div class="row">
                    <div class="col-lg-7 col-xl-8 col-md-6 col-sm-12">
                        <div class="input-group">
                            <input class="form-control" id="inlineFormInputGroup" (keyup)="onSerchKeyChange()" placeholder="Search" [(ngModel)]="searchKey" #search="ngModel" type="text">
                            <div class="input-group-addon">
                                <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 col-md-3 col-sm-6" *ngIf="permission.add">
                        <a class="addUserBtn full-width" [routerLink]="['/app/super-admin/contract/add']" style="margin-bottom:12px;">
                            <button md-raised-button color="accent" class="addButton full-width"><span class="icon">+</span> Add new</button>
                        </a>
                    </div>
                    <div class="col-lg-2 col-xl-2 col-md-3 col-sm-6">
                        <button class="btn btn-filter full-width text-left" (click)="toggleFilter=!toggleFilter">Filter <i class="fa pull-right" [ngClass]="toggleFilter?'fa-angle-up':'fa-angle-down'"></i></button>

                    </div>
                </div>
                <div class="box" *ngIf="toggleFilter" style="padding:20px 15px;">
                    <!-- <span class="filtericn"><i class="fa fa-filter" aria-hidden="true"></i></span> -->
                    <div class="row">
                        <div *ngIf="status.length" class="col-md-3 col-sm-6">
                            <h5 class="filterTitle">Status</h5>
                            <div class="filterItems">
                                <ul>
                                    <li *ngFor="let c of status |search:searchKeyStatusType">
                                        <md-checkbox (change)="onFilterChange()" [(ngModel)]="filter.status[c]" name="active">
                                            <div *ngIf="c=='Active'">Active</div>
                                            <div *ngIf="c=='Inactive'">Inactive</div>
                                        </md-checkbox>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div *ngIf="type.length" class="col-md-3 col-sm-6">
                            <h5 class="filterTitle">Version</h5>
                            <div class="input-group gapleft">
                                <input class="form-control" id="inlineFormInputGroup" placeholder="Search" [(ngModel)]="searchKeyVersion" #search="ngModel" type="text">
                                <div class="input-group-addon">
                                    <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                                </div>
                            </div>
                            <div class="filterItems">
                                <ul>
                                    <li *ngFor="let c of versions |search:searchKeyVersion">
                                        <md-checkbox (change)="onFilterChange()" [(ngModel)]="filter.version[c]"> {{c}} </md-checkbox>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="type.length" class="col-md-3 col-sm-6">
                            <h5 class="filterTitle">Type</h5>
                            <div class="input-group gapleft">
                                <input class="form-control" id="inlineFormInputGroup" placeholder="Search" [(ngModel)]="searchKeyType" #search="ngModel" type="text">
                                <div class="input-group-addon">
                                    <md-icon role="img" class="material-icons mat-icon" aria-label="search">search</md-icon>
                                </div>
                            </div>
                            <div class="filterItems">
                                <ul>
                                    <li *ngFor="let c of type |searchByTitle:searchKeyType">
                                        <md-checkbox (change)="onFilterChange()" [(ngModel)]="filter.contractTypeIDs[c.contractTypeID]">
                                            <div *ngIf="(c.contractTypeID)==1">Full time</div>
                                            <div *ngIf="(c.contractTypeID)==2">Part time</div>
                                            <div *ngIf="(c.contractTypeID)==3">Casual</div>
                                            <div *ngIf="(c.contractTypeID)==4">Contract</div>
                                            <div *ngIf="(c.contractTypeID)==5">Volunteer</div>
                                        </md-checkbox>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Filter Box close-->
                <div class="positionListTable">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-default table-box table-responsive mdl-shadow--2dp">

                                <table style="border-bottom:0px;" class="mdl-data-table" [mfData]="contracts" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Date of creation</th>
                                            <th>Last updated</th>
                                            <th>Version</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>

                                    <tbody *ngFor="let contract of mf.data;let i=index">
                                        <tr class="cursor" *ngIf="!isFiltering" (click)="onClick(contract.contractID)">
                                            <td>{{contract?.title}}</td>
                                            <td>{{contract?.insertTime | dateFormat:'longDate'}}</td>
                                            <td>{{contract?.updateTime | dateFormat:'longDate'}}</td>
                                            <td>{{contract?.version}}</td>
                                            <td>{{contract?.contracttype?.title}}</td>
                                            <td>{{contract?.status}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr *ngIf="isFiltering">
                                            <td colspan="6">
                                                <md-progress-spinner class="full-width text-center" mode="indeterminate" color=""></md-progress-spinner>
                                            </td>
                                        </tr>
                                        <tr *ngIf="contracts.length>10 && !isFiltering">
                                            <td class="progressSpinner" colspan="6" style="background:#ffffff !important;border-bottom:0px !important;">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <div style="background-color:danger; width:100%" *ngIf="contracts.length==0 && !isFiltering">
                                    <div class="alert alert-danger full-width" align="center" id="textCenter">No record found</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</div>