.selectWrapper {
    width: 50%;
    md-input-container {
        width: 100%;
    }
}

.filterItems {
    overflow-y: auto;
    ul {
        height: 100px;
    }
}

.mdl-data-table td.outerTbl:last-of-type {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}

.filtercolumn {
    margin: 10px 20px 10px 0px;
    .filterTitle {
        padding-left: 5px;
    }
    .gapleft {
        padding-left: 8px;
    }
}

.mdl-data-table td.tableHead {
    font-weight: bold;
    font-size: 15px;
    background-color: #ebebeb;
    color: #808080;
}

.selectWrapper {
    width: 50%;
    md-input-container {
        width: 100%;
    }
}

.topFilter {
    width: 79%;
    @media(max-width: 767px) {
        width: 100%;
    }
}

.positionFilter {
    padding: 15px 30px 20px 10px;
    @media(max-width: 767px) {
        padding: 15px 23px 20px 10px;
    }
}

.filtercolumn {
    @media(max-width: 767px) {
        width: 100%;
    }
}

.btn-wrapper {
    button {
        &:last-child {
            @media(max-width: 479px) {
                float: none !important;
                margin-top: 10px;
            }
        }
    }
}

.box {
    &:last-child {
        &.box-default {
            .mdl-data-table {
                border-left: 0px;
                border-right: 0px;
                tr {
                    &:hover {
                        background-color: rgba(202, 202, 202, 0.08);
                    }
                    th {
                        border-top: 1px solid #cccccc;
                        border-bottom: 1px solid #cccccc;
                        background: #CCCCCC;
                        font-size: 15px !important;
                    }
                }
            }
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.addUserBtn {
    span {
        position: relative;
        top:0;
    }
}

.thead {
    background: #cccccc;
    padding: 15px;
    margin-bottom: 1px;
    font-family: 'LatoWebHeavy';
    color: #1b1b1b;
    font-size: 15px;
}
.btn-filter{
    height:39px;
    @media screen and (max-width:575px){
        margin-bottom:20px;
    }
    
}
.addButton{
    height: 38px; margin-bottom: 20px;
}