<form #statementForm="ngForm">

    <div class="row">

        <div *ngIf="thirdParty" class="col-sm-12 form-group">
            <div *ngIf="!reqBody.disciplinaryStatementID" class="discipDD">
                <angular2-multiselect required [data]="thirdParty" (onSelect)="onItemSelect($event)" [(ngModel)]="selectedThirdParty" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedThirdParty">
                </angular2-multiselect>
                <div *ngIf="ddmanager.errors && ( (ddmanager.dirty || ddmanager.touched) || isButtonClicked )">
                    <div class="alert alert-danger" [hidden]="!(ddmanager.errors.required || ddmanager.errors.whitespace)">
                        thirdparty is required.
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 form-group">
            <textarea class="form-control" name="planObjective" placeholder="Enter statement" #managerNote="ngModel" required [(ngModel)]="reqBody.disciplinaryStatement" myNoSpaces rows="4"></textarea>
            <div *ngIf="managerNote.errors && ( (managerNote.dirty || managerNote.touched) || isButtonClicked )">
                <div class="alert alert-danger" [hidden]="!(managerNote.errors.required || managerNote.errors.whitespace)">
                    Statement is required.
                </div>
            </div>
        </div>

        <div class="col-sm-12 form-group">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

            <button *ngIf="!isProcessing" (click)="onCreate(statementForm.form.valid)" class="btn btn-lg btn-primary">save</button>
        </div>

    </div>


</form>