<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/performance-improvement-plan']">PIP</li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/performance-improvement-plan/re-assessment']">Re Assessment</li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/performance-improvement-plan/reassessment/disciplinary/create']">Disciplinary</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h3 class="heading">Create Disciplinary Meeting</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Development Plan For:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Assigned manager:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="assets/images-demo/avatars/6.png" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>Henry Fisher</h5>
                                            <div class="designation">Lorem Ipsum</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="pipEmploye">
                                    <div class="title">Involved Third Parties</div>
                                    <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                        <input type="text" class="form-control" value="View Third parties" (click)="invitelistCollapse=!invitelistCollapse" readonly>
                                        <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                            <li>
                                                <img src="assets/images/g1.jpg" alt="">
                                                <div class="empinfo">
                                                    <label>Jenny Nadal</label>
                                                    <div class="userprofile">Employe</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <form>
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Tltle</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control"></textarea>
                                        <div class="instruction">
                                            Detail specific dates and examples of where the standards have not been met.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Select Date & Time</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <my-date-picker placeholder="Training Date"></my-date-picker>
                                        <div class="instruction topgapremove">
                                            When would you like to conduct the training with <span class="name">henry</span> ?
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline" style="margin-top:0px;">Invite 3rd party <br>(Optional)</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <angular2-multiselect required [data]="invitedropdownListEmployees" [(ngModel)]="inviteSelectedItems" name="thirdparty" #inviteEmp="ngModel" [settings]="invitedropdownSettings" [selectedItems]="inviteSelectedItems">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center btnwrap">
                                    <button class="btn btn-success btn-lg">Create</button>
                                    <button class="btn btn-default btn-lg" [routerLink]="['/app/company-admin/performance-improvement-plan/re-assessment']">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>