.survey-wrapper {
    padding: 0px 15px 20px;
}

.btn-none {
    background: transparent;
    border: 0;
}

.tableHead {
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4 {
        margin: 5px 0;
        font-size: 22px;
    }
}

.dropdown-menu {
    min-width: 100%;
    padding: 10px;
    .btn-none {
        width: 100%;
        text-align: left;
        &:hover {
            color: #000;
        }
        i {
            margin-right: 4px;
        }
    }
}

.admin-panel .tableWrapper table {
    min-width: 1124px !important;
}