<section class="survey-wrapper">
    <div class="divheader">
        <!-- <h3 class="heading">
      List of 360 degree Survey
    </h3> -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item active">List of 360 degree survey</li>
        </ol>
    </div>
    <!--Table section-->

    <div class="cmpnycontentBox">
        <div class="EmpHeader">
            <div class="row">
                <!--<div class="col-md-6 col-xl-10  col-lg-8">
                   <div class="empSrearch topSearchFilter">
                        <form name="searchForm" #searchForm="ngForm" (ngSubmit)="getTrophyList()">
                            <div id="custom-search-input">
                                <div class="input-group">
                                    <input type="text" name="searchKey" [(ngModel)]="searchKey" class="form-control" placeholder="Search users" />
                                    <span class="input-group-btn">
                        <button class="btn" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>-->

                <div class="col-md-12">
                    <div class="InviteUser">
                        <div class="form-group text-right">
                            <button style="max-width:200px;" *ngIf="permission?.add" class=" btn btn-success full-width" [routerLink]="['/app/company-admin/survey/create-survey']">Create 360 survey<span class="fa fa-plus"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing">
                <div>
                    <div class="tableWrapper">
                        <table class="table table-hover" style="min-width:1110px;" #mf="mfDataTable" [mfData]="surveyList" [mfRowsOnPage]="10">
                            <thead>
                                <th style="width:90px;">S. no.</th>
                                <th>
                                    <mfDefaultSorter by="title">Survey name <i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="createTime">Date of creation <i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="updateTime">Last updated <i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="craetedBy">Created by <i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="questionCount">Question count <i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status <i class="fa fa-sort"></i></mfDefaultSorter>
                                </th>
                                <!-- <th style="width:142px;">Details</th> -->
                                <th style="width: 126px;">Action</th>
                            </thead>

                            <tbody>
                                <tr *ngFor="let survey of mf.data; let i=index;">
                                    <td>
                                        <div style="width:90px;">{{(mf.activePage -1)*(10)+(i+1)}}</div>
                                    </td>
                                    <td>
                                        {{survey.title}}
                                    </td>
                                    <td>{{formatDate(survey.createTime)}}</td>
                                    <td>{{formatDate(survey.updateTime)}}</td>
                                    <td>{{survey.craetedBy}}</td>
                                    <td class="text-center">{{survey.questionCount}}</td>
                                    <td>{{survey.status}}</td>
                                    <!-- <td><button *ngIf="permission?.view" class="btn btn-default" [routerLink]="['/app/company-admin/survey/detail',survey?.companySurveyID]">View details</button></td> -->
                                    <td>
                                        <div class="dropdown actionDroapdown actionDDtbl">
                                            <button *ngIf="permission?.add || permission?.edit || permission?.delete || permission?.view" class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width:198px;">
                                                <button *ngIf="permission?.add" class="color-warning btn-none" title="Duplicate" (click)="duplicateSurvey(survey)"><i class="fa fa-clone"></i>Duplicate</button>
                                                <button *ngIf="permission?.edit && survey.status=='Unused'" class="color-primary btn-none" title="Edit" (click)="editSurvey(survey)"><i class="fa fa-pencil-square-o"></i>Edit</button>
                                                <button *ngIf="permission?.delete && survey.status=='Unused' || survey.status=='Pending'" class="color-danger btn-none" title="Delete" (click)="deleteSurvey(survey)"><i class="fa fa-trash-o"></i>Delete</button>
                                                <button *ngIf="permission?.view && survey.status!=='Unused'" class="color-primary btn-none" title="View" [routerLink]="['/app/company-admin/survey/detail', survey?.companySurveyID]"><i class="fa fa-eye"></i>View employee response(s)</button>
                                                <button *ngIf="permission?.view && survey.status!=='Unused'" class="color-info btn-none" title="View" [routerLink]="['/app/company-admin/survey/all-employee-response', survey?.companySurveyID]"><i class="fa fa-eye"></i>View survey response</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div *ngIf="surveyList.length==0" class="text-center">
                    No record found !
                </div>
            </div>
        </div>
    </div>
</section>