<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                <li class="breadcrumb-item active">Trophy certificates</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="cmpnycontentBox">

                <div class="tableWrapper">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <table [mfData]="list" #mf="mfDataTable" *ngIf="!isProcessing" [mfRowsOnPage]="10" class="full-width table">
                        <thead>
                            <th>
                                <mfDefaultSorter by="name">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="description">Trophy &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="createdBy.name">Employee &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="createdDate">Date & time &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                            </th>
                            <th style="width:126px;">Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let certificate of mf.data">
                                <td>{{certificate.title}}</td>
                                <td>
                                    <div class="trophyClr">
                                        <i class="fa fa-trophy"></i>
                                        <img [src]="certificate.trophyIcon" />
                                    </div>
                                </td>
                                <td>{{certificate.employeeUser?.name}} </td>
                                <td>{{formatDate(certificate.date)}}</td>
                                <td>
                                    <div class="dropdown actionDroapdown actionDDtbl">
                                        <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button class="dropdown-item btn-none color-info" (click)="onView(certificate)"><i class="fa fa-eye"></i>&nbsp;&nbsp; View certificate</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator *ngIf="mf.data.length"></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>