<div class="container-fluid chapter">
    <article class="article innerAdmins">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item" [routerLink]="['/app/company-admin/employee-management']">Employee management</li>
                    <li class="breadcrumb-item active" [routerLink]="['/app/company-admin/employee-management/offer-expired']">Offer expire</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox registrationForm">
                    <h4 class="heading">Re offer</h4>
                    <form class="form-horizontal">
                        <div class="row maxformWidth">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">First name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input class="form-control" name="firstName" type="text" placeholder="First name" required>

                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Last name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input class="form-control" name="lastName" type="text" placeholder="Last name">
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group emailRow">
                                <div class="lftinpt10">
                                    <label class="form-inline">Email</label></div>
                                <div class="rghtinput10">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-envelope-o"></i></span>
                                        <input class="form-control" name="emailID" type="email" placeholder="Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Salary</label>
                                </div>
                                <div class="rghtinput10 inlineFields">
                                    <div class="currentEmpoption">
                                        <div class="customChoice">
                                            <input id="hourly1" type="radio" name="Salary" value="Hourly" class="required" required>
                                            <label for="hourly1">Hourly</label>
                                        </div>
                                        <div class="customChoice">
                                            <input id="annually1" type="radio" name="Salary" value="Annually" class="required" required>
                                            <label for="annually1">Annually</label>
                                        </div>
                                    </div>
                                    <div class="input-group symboliconinput">
                                        <span class="input-group-addon" style="padding:0.5rem 0.9rem;"><i class="fa fa-dollar"></i></span>
                                        <input class="form-control" name="salary" placeholder="Amount" required type="text">
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Offer expiry date</label>
                                </div>
                                <div class="rghtinput10">
                                    <dp-date-picker class="form-control" [theme]="'dp-material'" [mode]="'daytime'" name="datetime" [(ngModel)]="birthday" [config]="config" [required]="true"></dp-date-picker>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">commission structure</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="commision1" type="radio" name="commision" value="None" class="required" required>
                                        <label for="commision1">None</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="commision2" type="radio" name="commision" value="Percent Commission" class="required" required>
                                        <label for="commision2">% of total sales</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="commision3" type="radio" name="commision" value="Sliding Commission" class="required" required>
                                        <label for="commision3">Sliding commission scale</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Company bonuses</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="bonus1" type="radio" name="bonus" value="Yes" class="required" required>
                                        <label for="bonus1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="bonus2" type="radio" name="bonus" value="No" class="required" required>
                                        <label for="bonus2">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" name="companyBonusNote" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Mobile phone</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="mobilephone1" type="radio" name="mobilephone" class="required" required>
                                        <label for="mobilephone1">Yes- Fully subsidised</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="mobilephone2" type="radio" name="mobilephone" class="required" required>
                                        <label for="mobilephone2">Yes- Part contribution</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="mobilephone3" type="radio" name="mobilephone" class="required" required>
                                        <label for="mobilephone3">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" name="mobilePhoneNote" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Laptop</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="laptop1" type="radio" name="laptop" required>
                                        <label for="laptop1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="laptop2" type="radio" name="laptop" required>
                                        <label for="laptop2">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" name="laptopNote" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Tablet</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="tablet1" type="radio" name="tablet" required>
                                        <label for="tablet1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="tablet2" type="radio" name="tablet" required>
                                        <label for="tablet2">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" name="tabletNote" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Vehicle allowance</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="vehicle1" type="radio" name="vehicle" class="required" required>
                                        <label for="vehicle1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="vehicle2" type="radio" name="vehicle" class="required" required>
                                        <label for="vehicle2">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" name="vehicleAllowanceNote" placeholder="Please enter applicable costs such as total vehicle package or list the vehicle allowance, Vehicle registeration, Insurances, Petrol card, parking Expenses etc. in package" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Other bonuses unique to role or employee</label>
                                </div>
                                <div class="rghtinput currentEmpoption">
                                    <div class="customChoice">
                                        <input id="otherbonuses1" type="radio" name="otherbonuses" class="required" required>
                                        <label for="otherbonuses1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="otherbonuses2" type="radio" name="otherbonuses" class="required" required>
                                        <label for="otherbonuses2">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" name="otherBonusNote" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Other applicable information that is unique to the role or employee</label>
                                </div>
                                <div class="rghtinput10 currentEmpoption">
                                    <div class="customChoice">
                                        <input id="applicable1" type="radio" name="applicable" value="Yes" class="required" required>
                                        <label for="applicable1">Yes</label>
                                    </div>
                                    <div class="customChoice">
                                        <input id="applicable2" type="radio" name="applicable" value="No" class="required" required>
                                        <label for="applicable2">No</label>
                                    </div>
                                    <div class="detailField">
                                        <textarea class="form-control" placeholder="Enter other applicable information" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>