<div class="upcomming-payments">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <!--<li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/setting']">Settings</a></li>-->
        <li class="breadcrumb-item active">Upcoming payments</li>
    </ol>
    <ul class="cmpnycontentBox">
        <div class="tableWrapper">
            <!-- <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
            <table style="min-width: 987px" [mfData]="transactionLists" #mf="mfDataTable" *ngIf="!isProcessing" [mfRowsOnPage]="10">
                <thead >
                     <th>
                           <mfDefaultSorter by="memo">Payment for &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                      </th>
                       <th>
                           <mfDefaultSorter by="discount_amount_in_cents">Discount Amount &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                      </th>
                       <th>
                           <mfDefaultSorter by="taxable_amount_in_cents">Taxable Amount &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                      </th>
                       <th>
                           <mfDefaultSorter by="amount_in_cents">Total &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                      </th>
                </thead>
                <tbody>
                    <tr *ngFor="let trans of mf.data">
                        <td> {{ trans.memo}}</td>
                        <td> {{ floatingNumber(trans.discount_amount_in_cents)}}</td>
                        <td> {{ floatingNumber(trans.taxable_amount_in_cents)}}</td>
                        <td> {{ floatingNumber(trans.amount_in_cents)}}</td>
                      
                   
                    </tr>
                </tbody>
            </table>
        </div>
    </ul>
</div>