<div class="container-fluid">
  <div class="innerAdmins">
    <div class="row">
      <div class="col-md-12 topRow">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
          <!-- <li class="breadcrumb-item" [routerLink]="['/app/employee/activites']">Training day</li> -->
          <li class="breadcrumb-item active">Training plan detail</li>
        </ol>
      </div>
      <!--<div class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>-->
    </div>
    <div class="row">
      <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessingDetail" mode="indeterminate" color=""></md-progress-spinner>
      <div *ngIf="!isProcessingDetail && noResult" class="col-md-12">
        <div class="cmpnycontentBox detailbox text-center">No result found.</div>
      </div>
      <div *ngIf="!isProcessingDetail && !noResult" class="col-md-12">
        <div class="cmpnycontentBox detailbox">
          <div class="date text-right"><strong>Training time</strong>&nbsp;&nbsp; {{formatDateTime(trainingPlan?.trainningTime)}} </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="heading">Training plan</h4>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Training plan title</label>
              </div>
              <div class="rghtinput10">
                {{trainingPlan?.title}}
              </div>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Reason</label>
              </div>
              <div class="rghtinput10" [innerHTML]="trainingPlan?.reason |safe:'html'">
                <!-- {{trainingPlan?.reason}} -->
              </div>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Action plan</label>
              </div>
              <div class="rghtinput10" [innerHTML]="trainingPlan?.actionPlan |safe:'html'">
                <!-- {{trainingPlan?.actionPlan}} -->
              </div>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Objective</label>
              </div>
              <div class="rghtinput10" [innerHTML]="trainingPlan?.objective |safe:'html'">
                <!-- {{trainingPlan?.objective}} -->
              </div>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Assigned manager</label>
              </div>
              <div class="rghtinput10 userList">
                <div class="userName">
                  <img class="profile-round" [src]="trainingPlan?.assignedBy?.imageUrl">
                  <div class="name">{{trainingPlan?.assignedBy?.name}}
                    <div class="department">{{trainingPlan?.assignedBy?.position || 'Not specified'}}</div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="cmpnycontentBox detailbox">
          <div class="date text-right"><strong>Completed</strong>&nbsp;&nbsp; {{formatDateTime(trainingPlan?.completedOn)}} </div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="heading">Notes to employees present/done training</h4>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Notes By Manager</label>
              </div>
              <div class="rghtinput10">
                {{trainingPlan?.managerNote || 'Not specified'}}
              </div>
            </div>

            <div *ngIf="trainingPlan?.result" class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Result</label>
              </div>
              <div class="rghtinput10">
                <div class="resultFail" [ngClass]="{'pass': trainingPlan?.result=='Pass'}">{{trainingPlan?.result}}</div>
              </div>
            </div>
            <div class=" col-sm-12 form-group">
              <div class="lftinpt10">
                <label class="form-inline">Assigned to</label>
              </div>
              <div class="rghtinput10 userList">
                <div class="userName">
                  <img class="profile-round" [src]="trainingPlan?.assignedTo?.imageUrl">
                  <div class="name">{{trainingPlan?.assignedTo?.name}}
                    <div class="department">{{trainingPlan?.assignedTo?.position || 'Not specified'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>