.form-group {
    .customchkbox {
        float: left;
        margin-top: -6px;
    }
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
        .form-control {
            max-width: inherit;
            &.signaturebox {
                height: 150px;
                max-width: 300px;
            }
        }
    }
}
.cmpnycontentBox {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0px;
    }
    &.detailbox {
        h4 {
            margin-bottom: 20px;
        }
    }
    h4 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .form-group {
        &:last-child {
            margin-bottom: 0px !important;
        }
        .rghtinput10 {
            textarea {
                height: 90px;
                resize: none;
            }
            .form-control {
                max-width: inherit;
            }
        }
        .form-inline {
            margin: 0px 0px;
        }
    }
}

.userName {
    float: left;
    margin-right: 40px;
    img {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        height: 40px;
        width: 40px;
        float: left;
        margin-right: 5px;
    }
    .name {
        float: left;
        line-height: 20px;
        margin-top: 2px;
        font-family: 'LatoWebHeavy';
        .department {
            color: #a9a9a9;
            font-size: 13px;
            font-family: 'LatoWebMedium';
        }
    }
}

.form-group {
    &:last-child {
        margin-bottom: 0px !important;
    }
    .rghtinput10 {
        textarea {
            height: 90px;
            resize: none;
        }
        .form-control {
            max-width: inherit;
        }
    }
    .form-inline {
        margin: 0px 0px;
    }
}

.trainingdtlList {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #cccccc;
    margin: 10px 15px;
    background: #f7f7f7;
    .viewCertificate {
        color: #64c3fb;
        cursor: pointer;
    }
}
.resultFail{
    padding: 6px 15px;
    background: #d9534f;
    color: #fff;
    width: 100px;
    display: inline-block;
    text-align: center;
}
.resultFail.pass{
    background: #5cb85c;
}