<section class="create- container-fluid">
    <!-- <div class="divheader" [hidden]="true">
    <h4 class="heading">
      Position Description Documents
    </h4>

  </div> -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active"><a [routerLink]="['/app/company-admin/trophy/trophy-list']">Trophy</a></li>
        <li class="breadcrumb-item active">Progress for any particular selected trophy</li>
    </ol>
    <div class="cmpnycontentBox" style="padding:20px 15px;">
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="row">
            <div class="col-6 col-md-4 col-lg-2 form-group"><label class="form-inline">Title</label></div>
            <div class="col-6 col-md-8 col-lg-10">{{trophy?.title}}</div>
            <div class="col-6 col-md-4 col-lg-2 form-group"><label class="form-inline">Award for</label></div>
            <div class="col-6 col-md-8 col-lg-10">{{trophy?.awardFor}}</div>
            <div class="col-6 col-md-4  col-lg-2 form-group"><label class="form-inline">Trophy</label></div>
            <div class="col-6 col-md-8 col-lg-10">
                <div class="trophyClr">
                    <i class="fa fa-trophy"></i>
                    <img [src]="trophy.icon" />
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 form-group"><label class="form-inline">Nominees</label></div>
            <div class="col-12 col-md-12 col-lg-12">
                <table class="table table-advance" #mf="mfDataTable" [mfData]="trophy?.nominatedUserIDs" [mfRowsOnPage]="10">
                    <thead>
                        <th style="width:80px;">S. no.</th>
                        <th>Employee</th>
                        <th>Total votes</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emp of mf.data; let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{emp.NominieeMember?.name}}</td>
                            <td>{{emp.totalVotes}}</td>
                        </tr>
                        <tr>
                    </tbody>
                    <tfoot>
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </tfoot>
                </table>
                <div style="max-width: 500px;" *ngIf="!trophy?.nominatedUserIDs.length && trophy?.nominatedStatus=='Yes'" class="text-center">Waiting for employee response.</div>
                <div style="max-width: 500px;" *ngIf="!trophy?.nominatedUserIDs.length && trophy?.nominatedStatus=='No'" class="text-center">No result found.</div>
                <!-- <br><br> -->
            </div>
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-lg-6 col-md-12">
                        <label style="margin-top: 24px;" class="form-inline color-info">Voting close at <span>{{getTime(trophy?.votingCloseTime)}}</span> on <span>{{getDate(trophy.votingCloseTime)}}</span></label>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <h6 class="heading">Time left</h6>
                        <p>{{timeLeft(trophy?.votingCloseTime)}}</p>
                    </div>
                </div>
            </div>
            <md-progress-spinner *ngIf="isProcessingWinner" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessingWinner" class="col-sm-12 text-center">
                <br>
                <button [disabled]="validateBroadcast()" class="btn btn-primary btn-lg" (click)="onPopup()">Broadcast winner</button>
            </div>
        </div>
    </div>
</section>