.btn-none {
    background: transparent;
    border: 0;
}

.tableHead {
    background-color: #d4d4d4;
    padding: 5px 15px;
    margin-bottom: 10px;
    h4 {
        margin: 5px 0;
        font-size: 22px;
    }
}

.EmpList {
    .table {
        tr {
            td {
                .userName {
                    width: 177px;
                    word-break: initial;
                    img {
                        display: inline-block;
                        width: 40px;
                    }
                    .name {
                        display: inline-block;
                        margin-left: 10px;
                        width: 120px;
                        word-break: initial;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.InviteUser {
    .btn {
        min-width: 200px;
    }
}