<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a *ngIf="loggenInUser=='companyAdmin'" [routerLink]="['/app/company-admin']"> <span class="fa fa-home"></span></a>
                        
                        <a *ngIf="loggenInUser=='companyContractor'" [routerLink]="['/app/sub-contractor']"> <span class="fa fa-home"></span></a></li>
                                                
                <li *ngIf="loggenInUser=='companyAdmin'" class="breadcrumb-item" [routerLink]="['/app/company-admin/training-day']">Master training plan</li>
                <li class="breadcrumb-item active">Training plan listing</li>
            </ol>
        </div>
        <!-- <div class="col-md-12 stepsContainer grievanceSteps">
            <app-steps [progress]='progress'></app-steps>
        </div> -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div style="float: right;">
                                <div class="form-group text-right">
                                    <button *ngIf="permission?.add" class="btn btn-success full-width" [routerLink]="['/app/company-admin/training-day/training-plan/add']">Create training plan<span class="fa fa-plus"></span></button>
                                </div>
                            </div> -->
                            <div class="filter" style="float: right;margin-right:0;">
                                <div class="form-group">
                                    <a href="javascript:void(0)" [ngClass]="{active:!toggleFilter}" class="form-control btn-filter btn full-width" (click)="toggleFilter=!toggleFilter">Filters  <i class="fa fa-angle-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="!toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Assigned manager</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-lg" [(ngModel)]="search['assignedBy']" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let user of managerList | searchBy:'name':search['assignedBy']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,user?.userId,'assignedBy')" /><span>{{user?.name}}</span></label>
                                        </li>
                                        <li *ngIf="!managerList.length">
                                            <label>No result found.</label>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Assigned to</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" [(ngModel)]="search['assignedTo']" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let user of employeeList |searchBy:'name':search['assignedTo']">
                                            <label><input type="checkbox" (change)="onCheckEmp($event,user?.userId,'assignedTo')" /><span>{{user?.name}}</span></label>
                                        </li>
                                        <li *ngIf="!employeeList.length">
                                            <label>No result found.</label>
                                        </li>
                                    </ul>
                                </div> -->
                                <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Due</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search for" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li><label><input type="checkbox" /><span>Today</span></label></li>
                                        <li><label><input type="checkbox" /><span>Tomorrow</span></label></li>
                                        <li><label><input type="checkbox" /><span>Over due</span></label></li>
                                        <li><label><input type="checkbox" /><span>Last week</span></label></li>
                                        <li><label><input type="checkbox" /><span>last month</span></label></li>
                                    </ul>
                                </div> -->
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filters.filter.status.Pending" /><span>Pending</span></label></li>
                                        <li><label><input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filters.filter.status.Completed"/><span>Completed</span></label></li>
                                    </ul>
                                </div>
                                <button (click)="isChecked && getTrainingPlanList()" class="btn pull-right outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
                                <!-- <div class="col-lg-2 col-md-6 col-sm-6">
                                    <h3 class="title">Result</h3>
                                    <ul class="checkbox">
                                        <li><label><input type="checkbox" /><span>Pass</span></label></li>
                                        <li><label><input type="checkbox" /><span>Fail</span></label></li>
                                        <li><label><input type="checkbox" /><span>Re assess</span></label></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="EmptableList">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <div *ngIf="!isProcessing" class="tableWrapper">
                        <table class="table table-bordered table-hover" [mfData]="trainingList" #mf="mfDataTable" [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th>
                                        <mfDefaultSorter by="title">Title &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>Assigned to</th>
                                    <th>
                                        <mfDefaultSorter by="assignedBy.name">Created by &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="trainningTime">Training date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th>
                                        <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                                    </th>
                                    <th style="width:142px;">Details</th>
                                    <th *ngIf="loggenInUser=='companyAdmin'">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let plan of mf.data">
                                    <td style="width:140px;">{{plan?.title}}</td>
                                    <td>
                                        <div class="userName">
                                            <img class="profile-round" [src]="plan?.assignedTo[0]?.traineeDetail?.imageUrl">
                                            <span class="name">{{plan?.assignedTo[0]?.traineeDetail?.name}}</span>
                                            <div *ngIf="plan?.assignedTo.length>1">&nbsp; and {{plan?.assignedTo.length -1}} more.</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userName">
                                            <img class="profile-round" [src]="plan?.assignedBy?.imageUrl">
                                            <span class="name">{{plan?.assignedBy?.name}}</span>
                                        </div>
                                    </td>
                                    <td>{{formatDateTime(plan?.trainningTime)}}</td>
                                    <td style="width:140px;">{{plan?.status}}</td>
                                    <td><button *ngIf="permission?.view"  (click)="viewDetail(plan)" class="btn btn-default">View details</button></td>
                                    <td *ngIf="loggenInUser=='companyAdmin'" class="text-center">


                                        <!-- <button class="btn btn-primary">Re schedule</button> -->
                                        <div *ngIf="permission?.edit" class="dropdown actionDDtbl">
                                            <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <button class="btn-none dropdown-item color-info" [routerLink]="[ '/app/company-admin/training-day/training-plan/edit',plan?.trainningID] "><i class="fa fa-pencil-square-o"></i>&nbsp; Edit</button>
                                                <button class="btn-none dropdown-item color-info" (click)="deletePlan(plan?.trainningID)"><i class="fa fa-trash"></i>&nbsp; Delete</button>                                                
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <br>
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </tfoot>
                        </table>
                        <div class="text-center " *ngIf="!trainingPlanList.length ">
                            No result found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>