@import '../grievance-listing/grievance-listing.component.scss';
.tableWrapper table {
    min-width: 1100px !important;
}
.morreActions {
    .btn {
        margin-bottom: 12px;
        margin-right: 5px;
    }
    .InviteUser {
        display: inline-block;
        margin-right: 5px;
    }
    .filter {
        display: inline-block;
        margin-right: 5px;
        .btn {
            min-width: 200px;
        }
    }
}