<div class="container-fluid">
  <h3 class="heading" [hidden]="true">File notes</h3>
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
      <li class="breadcrumb-item active">Pending Employee Contracts</li>
  </ol>
  <div class="row">
      <div class="col-sm-12">
          <div class="cmpnycontentBox">
            <div class="EmpHeader">
                <div class="row">
                    <!-- <div class="col-md-3  col-xl-3 col-sm-6"></div> -->
                    <div class="col-md-12 text-right morreActions">
                            <div class="filter">
                                <button [ngClass]="{active:toggleFilter}" class="btn btn-filter text-left full-width" (click)="toggleFilter=!toggleFilter">Filters  <i [ngClass]="toggleFilter?'fa-angle-down':'fa-angle-up'" class="fa"></i></button> 
                            </div>
                    </div>
                    <div class="col-md-3 col-xl-3 col-sm-6">

                    </div>
                    <div class="col-md-3  col-xl-4 col-sm-6">

                    </div>
                    
                </div>
                <div class="row" [hidden]="toggleFilter">
                    <div class="col-sm-12">
                        <!--custome filter pop up-->
                        <div class="filterController row">

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <h3 class="title">Employee</h3>
                                <div class="empSrearch">
                                    <div id="custom-search-input">
                                        <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="empSearch['raisedBy']" placeholder="Search employee" />
                                            <span class="input-group-btn">
                                            <button class="btn" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <ul class="checkbox over180">
                                    <li *ngFor="let emp of employeeList | searchBy: 'name' : empSearch['raisedBy']">
                                        <label><input type="checkbox" (change)="onCheckEmp($event,emp?.userId)" /><span>{{emp?.name}}</span></label>
                                    </li>
                                </ul>
                            </div>
                            <button (click)="isChecked && getContractList()" class="btn btn-filter outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter <i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
              <div class="file-notes-list">
                  <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                  <div *ngIf="!isProcessing" class="tableWrapper">
                      <table [mfData]="contract" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                          <thead>
                              <th style="width: 70px;">S. no.</th>
                              <th>
                                  <mfDefaultSorter by="name">Employee &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                              </th>
                              <th>
                                  <mfDefaultSorter by="contractType">Contract type &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                              </th>
                              <th>
                                  <mfDefaultSorter by="date">Date &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                              </th>
                              <th>
                                  <mfDefaultSorter by="status">Status &nbsp;<i class="fa fa-sort"></i></mfDefaultSorter>
                              </th>
                              <th>Action</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let c of mf.data; let i = index">

                                  <td>{{i+1}}</td>
                                  <td>{{c?.employeeID.name }}</td>
                                  <td>{{c?.contractType}}</td>
                                  <td>{{formateDate(c?.insertTime)}}</td>
                                  <td>{{c.status}}</td>
                                  <td>
                                      <!-- <md-progress-spinner mode="indeterminate" *ngIf="items['isDeleteProcessing']" color=""></md-progress-spinner> -->
                                      <div  class="dropdown actionDroapdown actionDDtbl">
                                          <button class="btn btn-primary full-width" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                              <button class="dropdown-item btn-none color-info" (click)="goToDetails(c)" ><i class="fa fa-eye"></i>&nbsp;&nbsp; View Detail</button>
                                              <!-- <button target="_blank" class="dropdown-item btn-none color-warn" >
                                                  <i class="fa fa-archive"></i> Delete</button>
                                              <button  target="_blank" class="dropdown-item btn-none color-warn" >
                                                  <i class="fa fa-circle-o"></i> Accept/reject</button> -->
                                              <!-- <button target="_blank" class="dropdown-item btn-none color-danger">
                                                  <i class="fa fa-ban"></i> Delete</button> -->
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <br>
                              <mfBootstrapPaginator></mfBootstrapPaginator>
                              <tr class="danger" style="text-align:center" *ngIf="!contract.length && isProcessing">
                                  <td colspan="4">Record not found</td>
                              </tr>
                          </tfoot>
                      </table>
                  </div>

              </div>
          </div>
      </div>
  </div>

</div>