<div class="container-fluid chapter">
  <article class="article">
    <div class="row">
      <div class="col-md-12 pageHead">
        <h2 class="article-title">Zoho subscription settings</h2>
      </div>
    </div>
    <div class="box box-default paddingBox">
    <div class="row">
      <div class="col-md-12">
         <h4>API token</h4>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere diam. Nullam malesuada massa et mauris tincidunt ullamcorper. Donec ac sollicitudin nibh. Donec eget tellus a est finibus tempor. Nulla vel turpis metus. Nulla vitae mollis turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean hendrerit urna quis lectus fringilla, id laoreet dui porttitor.</p>
      </div>
    </div>
    </div>
  </article>
</div>