dp-date-picker {
    max-width: 600px;
}

.PIPFormbox {
    padding-top: 30px;
    .attendeesList {
        .pipEmpuserPic {
            display: inline-block;
            margin-right: 20px;
        }
    }
    .proposeTime {
        margin: 20px 0px;
    }
    .form-group {
        .form-inline {
            margin: 0px 0px;
        }
        .dateTimeAlign {
            margin-top: -8px;
        }
    }
}

.cmpnycontentBox {
    &.last {
        margin-top: 20px;
    }
}

.statementsBox {
    textarea {
        display: inline-block;
        height: 90px;
        resize: none;
        margin-right: 12%;
    }
    .pipEmploye {
        display: inline-block;
        vertical-align: top;
        .pipEmpuserPic {
            margin-top: 16px;
        }
    }
    .addMoreBtn {
        max-width: 600px;
        text-align: right;
    }
    .actionsWrap {
        .btn {
            margin-right: 10px;
            @media (max-width: 479px) {
                margin-bottom: 10px;
            }
        }
        .form-control {
            display: inline-block;
            width: 200px;
            height: 44px;
            cursor: pointer;
        }
    }
    .PIPmainBox {
        .PIPFormbox {
            h5 {
                padding-left: 0px !important;
            }
        }
        .box {
            table {
                width: 100%;
                min-width: 768px;
                tr {
                    td {
                        .btn {
                            margin: 5px 0px;
                        }
                        &:nth-child(2) {
                            width: 190px;
                        }
                        &:last-child {
                            width: 130px;
                        }
                        .media {
                            .media-left {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// .btn-primary.dropdown-toggle{
//     background-color: #0069d9;
//     background-image: none;
//     border-color: #0062cc;
// }
// btn-primary.dropdown-toggle {
//     background-color: #4285F4!important;
// }
.dropdown-menu {
    .dropdown-item {
        cursor: pointer;
    }
}

.actionBtn {
    border-radius: 5px !important;
    -moz-border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
}