<section class="contract-version innerAdmins">

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/app/employee/position-description']">Position description</a></li>
            <li class="breadcrumb-item active"><a [routerLink]="['/app/employee/position-description/version/view']">View old/new versions</a></li>
        </ol>
        <div class="col-md-12 text-right statusBtn labelStats">
            <button class="btn btn-primary">View changed logs</button>
            <label class="statsInfo">Version 1.3</label>
        </div>
        <div class="cmpnycontentBox">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Contract title</label>
                    </div>
                    <div class="rghtinput10 addMoreBtn">
                        Lorem ipsum dolor sit amet, at sea tollit cotidieque reformidans, aliquam scripserit vis no. Nam ex mundi virtute evertitur.
                    </div>
                </div>
                <div class="col-sm-12 form-group">
                    <div class="lftinpt10">
                        <label class="form-inline">Contract description</label>
                    </div>
                    <div class="rghtinput10 addMoreBtn">
                        Lorem ipsum dolor sit amet, at sea tollit cotidieque reformidans, aliquam scripserit vis no. Nam ex mundi virtute evertitur. Mel et qualisque principes efficiantur, vix ullum accusata vituperatoribus id. In vel etiam possim, mei quod nemore torquatos
                        at. Duo ei odio soluta, legendos similique deterruisset te vim.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-center">
                <h2 class="sub-title">Current Version 1.1</h2>
                <div class="box">
                    <div class="versionDetails">
                        <p>Cotent goes here</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="sub-title">New updated version 1.4</h2>
                <div class="box">
                    <div class="versionDetails">
                        <p>Cotent goes here</p>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-4 text-center">
                <h2 class="sub-title">Edit</h2>
                <form>
                    <div class="quillEditor">
                        <quill-editor name="discription" required>
                            <div quill-editor-toolbar>
                                <span class="ql-formats">
                    <button class="ql-bold" [title]="'Bold'"></button>
                    <button class="ql-italic" [title]="'Italic'"></button>
                    <button class="ql-underline" [title]="'Underline'"></button>
                    <button class="ql-strike" [title]="'Strike'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-blockquote" [title]="'Block Quote'"></button>
                    <button class="ql-code-block" [title]="'Code Block'"></button>
                </span>
                                <span class="ql-formats">
                    <button class="ql-header" value="1" [title]="'Header 1'"></button>
                    <button class="ql-header" value="2" [title]="'Header 2'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-list" value="ordered" [title]="'Ordered List'"></button>
                  <button class="ql-list" value="bullet" [title]="'Bullet List'"></button>
                </span>

                                <span class="ql-formats">
                  <button class="ql-script" value="sub"[title]="'Subscript'"></button>
                  <button class="ql-script" value="super"[title]="'Superscript'"></button>
                </span>
                                <span class="ql-formats">
                <button class="ql-indent"  value="-1" [title]="'Indent'"></button>
                  <button class="ql-indent"  value="+1" [title]="'Indent'"></button>
                </span>

                                <span class="ql-formats">
                <button class="ql-direction" value="rtl" [title]="'Direction'"></button>
                </span>

                                <span class="ql-formats">
                  <select class="ql-size" [title]="'Size'">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <select class="ql-header" [title]="'Header'">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                    <option value="6"></option>
                    <option selected></option>
                  </select>
                </span>
                                <span class="ql-formats">
                  <select class="ql-color" [title]="'Color picker'">
                    <option value="#ffffff"></option>
                    <option value="#00000"></option>
                    <option value="#e34fff"></option>
                    <option value="#a34565"></option>
                    <option value="#dd4545"></option>
                    <option selected></option>
                  </select>
                </span>
                                <span class="ql-formats">
                  <select class="ql-background" [title]="'Background Color Picker'">
                    <option value="#ffffff"></option>
                    <option value="#00000"></option>
                    <option value="#e34fff"></option>
                    <option value="#a34565"></option>
                    <option value="#dd4545"></option>
                    <option selected></option>
                  </select>
              </span>

                                <span class="ql-formats">
                <select class="ql-font" [title]="'Font'">
                  <option selected></option>
                  <option value="serif"></option>
                  <option value="monospace"></option>
                </select>
              </span>

                                <span class="ql-formats">
                  <select class="ql-align" [title]="'Alignment'">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                  </select>
                </span>

                                <span class="ql-formats">
                  <button class="ql-clean" [title]="'Clean'"></button>
                </span>
                                <span class="ql-formats">
                  <button class="ql-link" [title]="'Link'"></button>
                    <button class="ql-image" [title]="'Image'"></button>
                    <button class="ql-video" [title]="'Video'"></button>
                </span>
                            </div>
                        </quill-editor>
                    </div>
                </form>
            </div>-->
        </div>
        <div class="text-center">
            <button class="btn btn-lg btn-primary">Accept / Save</button>
        </div>
    </div>
</section>