.InviteUser {
    a {
        background: rgb(76, 217, 170);
        color: #fff;
        text-align: center;
        width: 100%;
        font-size: 14px;
        display: block;
        border-radius: 3px;
        font-family: 'LatoWeb';
        height: 43px;
        line-height: 43px
    }
}

.empSrearch div#custom-search-input .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b7b7b7;
}

.empSrearch div#custom-search-input .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #b7b7b7;
}

.empSrearch div#custom-search-input .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #b7b7b7;
}

.empSrearch div#custom-search-input .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #b7b7b7;
}

.EmpList .table tbody tr td.emprole {
    width: 105px;
}

.EmpList .table tbody tr td.emprole .role {
    width: 105px;
    word-break: break-all;
}

.filterController {
    ul.over180 {
        padding-top: 8px;
    }
    ul {
        margin-bottom: 0px;
        -webkit-margin-after: 0px;
    }
}

a.text-nowrap {
    font-weight: bold !important;
}

.EmpList .profile-round {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.filterController {
    padding: 20px 0px;
    background: #fafafa;
    margin: 0px 0px 20px;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.EmpHeader .filter a:hover {
    background: #f5f5f5;
    color: #333;
}

.EmpHeader a:hover,
.EmpHeader a {
    text-decoration: none;
}

.EmpHeader {
    .InviteUser {
        .btn {
            width: 100%;
            height: 39px;
            font-family: 'LatoWebMedium';
            display: inline-block;
            vertical-align: middle;
            line-height: 1.5;
            font-size: 15px;
            padding: 0px 0px;
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto;
}

.action {
    width: 83px;
    padding: 5px 5px;
    height: 36px;
    line-height: 1.7;
    vertical-align: middle;
    display: inline-block;
    .fa {
        position: relative;
        right: 1px;
        top: 1px;
    }
}

.breadcrumb li {
    text-transform: none !important;
}

.dropdown {
    .dropdown-menu {
        right: 0;
        left: inherit;
        button {
            width: 120px;
            background: transparent;
            border: 0;
            text-align: left;
            font-size: 15px;
        }
    }
}