<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="['/app/company-admin']">
                        <span class="fa fa-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item active">Employee management</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="EmpList">
                <div class="EmpHeader">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="empSrearch topSearchFilter">
                                <form name="searchForm" #searchForm="ngForm" (ngSubmit)="getEmployeeListing()">
                                    <div id="custom-search-input">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="searchtxt" [(ngModel)]="searchText" placeholder="Search users" />
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="filter">
                                <div class="form-group">
                                    <a href="javascript:void(0)" [ngClass]="{active:toggleFilter}" class="form-control full-width" (click)="toggleFilter=!toggleFilter">Filters
                                        <i class="fa fa-angle-up pull-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="InviteUser">
                                <div class="form-group text-right">
                                    <button class=" btn btn-success" [routerLink]="['/app/company-admin/organisation-chart']">Invite users
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [hidden]="toggleFilter">
                        <div class="col-sm-12">
                            <!--custome filter pop up-->
                            <div class="filterController row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Employment</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchUser['employment']" class="form-control input-lg" placeholder="Search employement type">
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of filters?.employmentType | searchBy: 'title': searchUser['employment']">
                                            <label>
                                                <input type="checkbox" (change)="onCheckEmp($event,item?.employmentTypeID,'employmentTypeIDs')" />
                                                <span>{{item.title}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Position</h3>
                                    <div class="empSrearch">
                                        <div id="custom-search-input">
                                            <div class="input-group">
                                                <input type="text" [(ngModel)]="searchUser['position']" class="form-control" placeholder="Search position" />
                                                <span class="input-group-btn">
                                                    <button class="btn" type="button">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="checkbox over180">
                                        <li *ngFor="let item of filters?.companyPositions | searchBy: 'title' : searchUser['position']">
                                            <label>
                                                <input type="checkbox" (change)="onCheckEmp($event,item?.positionID,'positionIDs')" />
                                                <span>{{item.title}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <h3 class="title">Status</h3>
                                    <ul class="checkbox over250">
                                        <li *ngFor="let item of statusList">
                                            <label>
                                                <input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filters?.status[item]" />
                                                <span>{{item}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="col-lg-3 col-md-6 col-sm-6">
                                    <h3 class="title">Role</h3>
                                    <ul class="checkbox">
                                        <li *ngFor="let item of roleList">
                                            <label>
                                                <input type="checkbox" (click)="isChecked=true;" [(ngModel)]="filters?.roles[item]" />
                                                <span>{{item}}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>-->
                                <button (click)="isChecked && getEmployeeListing()" class="btn outlined" [ngClass]="{'btn-default': !isChecked, 'btn-primary': isChecked}">Apply filter
                                        <i class="fa fa-check"></i>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="EmptableList">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <table *ngIf="!isProcessing" #mf="mfDataTable" [mfData]="employeeListings" [mfRowsOnPage]="10" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="name">
                                        <span class="fa">
                                            <img src="assets/images/user-icon.png" />
                                        </span> User &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="designation">Position &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <!-- <th>
                                    <mfDefaultSorter by="role">Role &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th> -->
                                <th>Contact details</th>
                                <th>
                                    <mfDefaultSorter by="employment">Employment &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status &nbsp;
                                        <i class="fa fa-sort"></i>
                                    </mfDefaultSorter>
                                </th>
                                <!--<th>Details</th>-->
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of mf.data">
                                <td style="width:150px;">
                                    <div class="userName" style="width:200px;">
                                        <img *ngIf="employee.imageUrl" [src]="employee.imageUrl" class="profile-round">
                                        <span class="name" style="width:136px;">{{employee.name}}</span>
                                    </div>
                                </td>
                                <td class="desig" style="width:100px;">
                                    <div class="desigNation" style="width:100px;">{{employee.designation}}</div>
                                </td>
                                <!-- <td class="emprole">
                                    <div class="role">{{employee.role}}</div>
                                </td> -->
                                <td style="max-width:250px;">
                                    <div style="max-width:250px;white-space: pre-wrap;word-wrap: break-word;">{{employee.email}}</div>
                                </td>
                                <td class="emplment">
                                    <div class="employement">{{employee.employment}}</div>
                                </td>
                                <td>
                                    <div class="status">{{employee.status}}</div>
                                </td>
                                <!-- <td style="width:90px;">
                                    <a (click)="viewDetails(employee)" class="btn btn-default veiw">View details</a>
                                </td> -->
                                <td style="width:90px;">
                                    <div class="dropdown actionDDtbl">
                                        <button class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <i class="fa fa-angle-down"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <button style="width: 120px;background: transparent;border: 0;text-align: left; font-size: 15px;" class="color-info btn-none" (click)="editProfile(employee)">
                                                <i class="fa fa-pencil-square-o "></i> View profile
                                            </button>&nbsp;
                                            <!-- <button class="color-info btn-none" (click)="onEditEmployment(employee)"><i class="fa fa-pencil-square-o "></i> Edit Employment</button>&nbsp; -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <br>
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </tfoot>
                    </table>
                    <div *ngIf="!isProcessing && !employeeListings.length" class="text-center">No result found.</div>
                </div>
            </div>
        </div>
    </div>
</div>