.managerListBlock {
    .managerBx {
        display: block;
        margin-top: 15px;
    }
}

.traingForm {
    margin: 10px 0 25px;
    textarea {
        resize: none;
    }
}

.leftAlgn {
    @media (max-width: 575px) {
        text-align: left!important;
    }
}

.borderTop {
    padding: 40px 0 20px;
    border-top: 1px dashed #ccc;
}

.editPlanDate {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    @media (max-width: 1199px) {
        width: 60%;
    }
    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0;
    }
}

.mobileRight {
    @media (max-width: 767px) {
        float: right;
    }
}

.form-group {
    .lftinpt30,
    .rghtinput {
        @media (max-width: 575px) {
            width: 100%;
        }
    }
}

.btnwrap {
    .btn {
        &:first-child {
            margin-right: 7px;
        }
    }
}

.headDiv {
    margin: 30px 0;
}

.form-group {
    .form-control {
        max-width: inherit;
    }
    textarea {
        &.form-control {
            height: inherit;
            resize: none;
        }
    }
    .lftinpt10,
    .rghtinput10,
    .lftinpt30,
    .rghtinput {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.borderBottom {
    padding-bottom: 30px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 40px;
}

.rghtinput {
    &.pull-right {
        float: right;
        .managerBx {
            margin: 15px 0 20px;
            display: block;
        }
    }
}

.managerBx {
    @media (max-width: 479px) {
        display: block;
        margin-top: 15px;
    }
}

.devPlanForm {
    padding-top: 40px;
    form {
        .borderBottom {
            .form-group {
                .form-inline {
                    text-align: right;
                }
            }
        }
    }
}

.form-control[readonly] {
    background-color: inherit !important;
}

.inviteEmpMain {
    display: none;
    position: relative;
}

.selectItems input:focus+div.inviteEmpMain {
    display: block !important;
}

.selectItems div.inviteEmpMain:hover,
.selectItems div.inviteEmpMain:focus {
    display: block !important;
}

.rghtinput {
    &.pull-right {
        float: right;
        .managerBx {
            margin: 0;
            display: block;
            width: 100%;
            ._emplist {
                padding: 4px 12px;
            }
        }
    }
}

.managerBx {
    @media (max-width: 479px) {
        display: block;
        margin-top: 15px;
    }
}

.devPlanForm {
    padding-top: 40px;
    form {
        .borderBottom {
            .form-group {
                .form-inline {
                    text-align: right;
                }
            }
        }
    }
}

.form-control[readonly] {
    background-color: inherit !important;
}

.inviteEmpMain {
    border: 0;
    height: 36px;
}

.selectItems input:focus+div.inviteEmpMain {
    display: block !important;
}

.selectItems div.inviteEmpMain:hover,
.selectItems div.inviteEmpMain:focus {
    display: block !important;
}

.footerBtn {
    padding: 6px 15px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
}

.customDDmain .inviteEmpMain .inviteList {
    border-bottom: 0;
    border-radius: 0;
}

.customDDmain {
    .selectedList {
        .itemName {
            padding: 0 2px;
            border: 1px solid #e4e4e4;
            border-radius: 4px;
            box-shadow: 0px 1px 2px 1px #f7f7f7;
            .fa-close {
                color: #d53a38;
                font-size: 12px;
                font-weight: 100;
                margin: 0 2px;
                margin-left: 8px;
                opacity: 0.8;
            }
        }
    }
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}

.rghtinput {
    width: 100%;
    float: left;
    max-width: 600px;
}

.inviteEmp {
    .alert {
        top: 36px;
    }
}

.itemName {
    word-break: break-all;
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}

.rghtinput {
    width: 100%;
    float: left;
    max-width: 600px;
}

.inviteEmp {
    .alert {
        top: 36px;
    }
}

.itemName {
    word-break: break-all;
}

.customDDmain .inviteEmpMain .searchfield {
    padding-left: 10px;
}

.instruction {
    color: #c1c1c1;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 100;
    .name {
        color: #61ceff;
    }
}

button.btn-lg,
a.btn-lg {
    padding: 0.75rem 1.5rem !important;
    font-size: 1.25rem !important;
    border-radius: 0.2rem !important;
}

.form-inline {
    text-align: right;
}

.selectItems {
    float: left;
    width: 100%;
}

.customDDmain .selectedList {
    float: left;
    padding: 0;
    margin: 0;
}

.footerBtn {
    .btn {
        padding: 0px 9px;
        font-size: 12px;
        border-radius: 0;
    }
}

.thirdPartyList {
    max-width: 330px;
    .managerBx {
        width: 100%;
        display: block;
    }
}

.PIPmainBox .PIPFormbox .form-group {
    margin-bottom: 15px !important;
}

.customDDmain .selectedList {
    padding: 0;
    margin: 0;
}