<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/development-plan-list']">Development plan</a></li>
        <li class="breadcrumb-item active">Update</li>
    </ol>

    <div class="cmpnycontentBox assessnextbox">
        <div class="PIPmainBox">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing">
                <div class="pipHeader">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <h3 (click)="onEditDevelopmentPlan(developmentPlan.developmentPlanID)" class="heading">Development plan</h3>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Development plan for:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{developmentPlan?.developmentFor?.imageUrl}}" alt="" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{developmentPlan?.developmentFor?.employee}}</h5>
                                        <div class="designation">{{developmentPlan?.developmentFor?.employeeProfile}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Assigned manager:</div>
                                <div class="pipEmpuserPic">
                                    <div class="profile">
                                        <div class="adjust"><img src="{{developmentPlan?.assinedBy?.imageUrl}}" alt="" /></div>
                                    </div>
                                    <div class="info">
                                        <h5>{{developmentPlan?.assinedBy?.employee}}</h5>
                                        <div class="designation">{{developmentPlan?.assinedBy?.employeeProfile}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="pipEmploye">
                                <div class="title">Involved third parties</div>
                                <div class="inviteEmpMain form-group" [ngClass]="{active:invitelistCollapse}">
                                    <input type="text" readonly="true" class="form-control" value="View third parties" (click)="invitelistCollapse=!invitelistCollapse">
                                    <ul class="inviteList" [ngClass]="{open:invitelistCollapse}">
                                        <li *ngFor="let e of developmentPlan.thirdParty">
                                            <img src="{{e?.imageUrl}}" alt="" />
                                            <div class="empinfo">
                                                <label>{{e?.name}}</label>
                                                <div class="userprofile">{{e?.position||'-'}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <div class="PIPFormbox">
                    <h5>Development plan</h5>
                    <form #developmentPlanForm="ngForm" autocomplete="off">
                        <div class="row">
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Development plan title</label>
                                </div>
                                <div class="rghtinput10">
                                    <input style="max-width:600px;" type="text" class="form-control" #planTilte="ngModel" name="title" required [(ngModel)]="developmentPlanReAssessment.title" myNoSpaces placeholder="Enter title" />
                                    <div *ngIf="planTilte.errors && ( (planTilte.dirty || planTilte.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(planTilte.errors.required || planTilte.errors.whitespace)">
                                            Title is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Reason</label>
                                </div>
                                <div class="rghtinput10">
                                    <textarea class="form-control" name="reason" placeholder="Enter reason" #planReason="ngModel" required [(ngModel)]="developmentPlanReAssessment.reason" myNoSpaces rows="4"></textarea>
                                    <div *ngIf="planReason.errors && ( (planReason.dirty || planReason.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(planReason.errors.required || planReason.errors.whitespace)">
                                            Reason is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Action plan</label>
                                </div>
                                <div class="rghtinput10">
                                    <textarea class="form-control" name="ActionPlan" placeholder="Enter action plan" #actionPlan="ngModel" required [(ngModel)]="developmentPlanReAssessment.actionPlan" myNoSpaces rows="4"></textarea>
                                    <div *ngIf="actionPlan.errors && ( (actionPlan.dirty || actionPlan.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(actionPlan.errors.required || actionPlan.errors.whitespace)">
                                            Action plan is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Objective</label>
                                </div>
                                <div class="rghtinput10">
                                    <textarea class="form-control" name="planObjective" placeholder="Enter objective" #Objective="ngModel" required [(ngModel)]="developmentPlanReAssessment.objective" myNoSpaces rows="4"></textarea>
                                    <div *ngIf="Objective.errors && ( (Objective.dirty || Objective.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(Objective.errors.required || Objective.errors.whitespace)">
                                            Objective is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <div class="lftinpt10">
                                    <label class="form-inline">Training date</label>
                                </div>
                                <div class="rghtinput10">
                                    <dp-date-picker [(ngModel)]="tempTrainingTime" name="trainingtime" required (ngModelChange)="ontrainingTimeChange()" class="form-control" #trainingTime="ngModel" placeholder="Select training time" [theme]="'dp-material'" [mode]="'daytime'" [config]="config"></dp-date-picker>
                                    <div *ngIf="trainingTime.errors && ( (trainingTime.dirty && trainingTime.touched) || isButtonClicked )">
                                        <br>
                                        <div class="alert alert-danger" [hidden]="!(trainingTime.errors.required || trainingTime.errors.whitespace)">
                                            Training time is required.
                                        </div>
                                    </div>
                                    <div class="instruction topgapremove">
                                        When would you like to conduct the training with <span style="cursor: pointer" (click)="onViewUserDetails(developmentPlan.developmentFor.employeeID)" class="name">{{developmentPlan?.developmentFor?.employee}}</span>                                        ?
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assessment date</label>
                                </div>
                                <div class="rghtinput10">
                                    <dp-date-picker [(ngModel)]="tempAssessmentTime" required name="assessmentTime" (ngModelChange)="onAssessmentTimeChange()" class="form-control" [disabled]="!this.developmentPlan.trainingTime" placeholder="Select assessment time" [theme]="'dp-material'"
                                        [mode]="'daytime'" #AssessmentTime="ngModel" [config]="assessmentTimeConfig"></dp-date-picker>
                                    <div *ngIf="AssessmentTime.errors && ( (AssessmentTime.dirty && AssessmentTime.touched) || isButtonClicked )">
                                        <br>
                                        <div class="alert alert-danger" [hidden]="!(AssessmentTime.errors.required || AssessmentTime.errors.whitespace)">
                                            Assessment time is required.
                                        </div>
                                    </div>
                                    <div class="instruction topgapremove">
                                        After <span style="cursor: pointer" (click)="onViewUserDetails(developmentPlan.developmentFor.employeeID)" class="name">{{developmentPlan?.developmentFor?.employee}}'s</span> training you conduct an assessment to
                                        determine if the objective has been met.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 removebottomGap">
                                <div class="lftinpt10">
                                    <label class="form-inline">Assign manager</label>
                                </div>
                                <div class="rghtinput10 halfDD">
                                    <angular2-multiselect required [data]="dropdownListEmployees" (onDeSelect)="OnItemDeSelect($event)" (onSelect)="onItemSelect($event)" [(ngModel)]="selectedItems" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                                    </angular2-multiselect>
                                </div>
                                <div *ngIf="ddmanager.dirty || ddmanager.touched || isButtonClicked">
                                    <div class="alert alert-danger" [hidden]="ddmanager.valid">Please select a manager.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="lftinpt30 text-left">
                                        <label class="form-inline">Invite third party</label>
                                    </div>
                                    <div class="rghtinput">
                                        <md-progress-spinner *ngIf="thirdpartyListProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                        <div *ngIf="!thirdpartyListProcessing">
                                            <div class="customDDmain">
                                                <div class="selectedList" *ngFor=" let e of thirdPartyList">
                                                    <div class="itemName" *ngIf="e.isSelected">
                                                        {{e.name}}
                                                        <span style="margin-left:5px; cursor: pointer" (click)="e.isSelected=false;" class="fa fa-close"></span>
                                                    </div>
                                                </div>

                                                <div class="selectItems">

                                                    <div class="inviteEmpMain" style="display:block !important;border:0;">
                                                        <input class="form-control searchfield" style="padding-left:42px;" placeholder="Select third party or enter third party email" name="daste" type="text" (keyup.enter)="onEnterExternalThirdParty(!(email.errors && ( (email.dirty || email.touched) || isEnterPressed )))"
                                                            pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$" (ngModelChange)="isEnterPressed=false" [(ngModel)]="thirdPartyName" #email="ngModel" (click)="isFocused=!isFocused"
                                                            aria-describedby="basic-addon1" on-focus="isFocused=true">

                                                        <span class="input-group-btn userIconbtn"></span>
                                                        <ul class="inviteList" *ngIf="isFocused" style="max-height: 170px; z-index: 99;position: relative;top: 0px;">
                                                            <li (click)="e.isSelected=!e.isSelected" *ngFor=" let e of thirdPartyList |searchByName:thirdPartyName ;let i=index">
                                                                <div class="customchkbox">
                                                                    <input aria-required="true" class="required" type="checkbox" name="customchk1{{i}}" [(ngModel)]="e.isSelected" id="custom{{e.userId}}">
                                                                    <label for="customchk1{{i}}"></label>
                                                                </div>
                                                                <img src="{{e?.imageUrl}}" alt="" />
                                                                <div class="empinfo">
                                                                    <label>{{e?.name}}</label>
                                                                    <div class="userprofile">{{e?.designation || 'N/A'}}</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="footerBtn text-right" *ngIf="isFocused">
                                                            <button class="btn btn-success btn-sm" (click)="isFocused=!isFocused">Ok</button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div *ngIf="email.errors && ( (email.dirty || email.touched) && isEnterPressed )">
                                                    <div class="alert alert-danger" *ngIf="email?.errors?.pattern"> Not a valid email.</div>
                                                </div>
                                                <div *ngIf="isThirdPartyAlreadyExist" class="alert-danger">user already exist with this email address.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="rghtinput pull-right">
                                        <label class="form-inline text-left">Third party</label>
                                        <div class="thirdPartyList">
                                            <div class="managerBx" *ngFor="let c of thirdPartyList">
                                                <div *ngIf="c.isSelected">
                                                    <div class="roundImgIcon">
                                                        <img src="{{c.imageUrl}}" alt="" />
                                                    </div>
                                                    <div class="managerDesc">
                                                        <strong>{{c?.name}}</strong>
                                                        <span>{{c?.designation || '-'}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center btnwrap col-md-12">
                        <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <button *ngIf="!isCreateProcessing" [disabled]="isProcessing" (click)="onUpdate(developmentPlanForm.form.valid)" class="btn btn-primary btn-lg">Update</button>
                        <button *ngIf="!isCreateProcessing" [disabled]="isProcessing" (click)="onCancel()" class="btn btn-default btn-lg">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>