textarea {
    height:100px !important;
}

.Invitetable table tr td, .Invitetable table tr th{
    padding :10px;
    
}
    
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 90%;
    color: #e71414;
}