<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/sub-company']">Sub companies</a></li>
                    <li class="breadcrumb-item active">Invite</li>
                </ol>
            </div>
            <!-- <div class="col-md-12 stepsContainer">
              <app-steps [progress]='progress'></app-steps>
          </div> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="cmpnycontentBox">
                    <form #inviteSubForm="ngForm">
                        <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                        <div class="row">
                             <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Company name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.companyName" required myNoSpaces name="companyName" #companyName="ngModel" type="text" class="form-control" placeholder="Company name" />
                                    <div *ngIf="companyName.errors && ( (companyName.dirty || companyName.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(companyName.errors.required || companyName.errors.whitespace)">
                                            Company name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">First name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.firstName" name="firstName" required myNoSpaces #firstName="ngModel" type="text" class="form-control" placeholder="First name" />
                                    <div *ngIf="firstName.errors && ( (firstName.dirty || firstName.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(firstName.errors.required || firstName.errors.whitespace)">
                                            First name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Last name</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.lastName" required myNoSpaces name="lastName" #lastName="ngModel" type="text" class="form-control" placeholder="Last name" />
                                    <div *ngIf="lastName.errors && ( (lastName.dirty || lastName.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(lastName.errors.required || lastName.errors.whitespace)">
                                            Last name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Phone number</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.phoneNumber" required myNoSpaces name="phoneNumber" #phoneNumber="ngModel" type="text" class="form-control" placeholder="Phone number" />
                                    <div *ngIf="phoneNumber.errors && ( (phoneNumber.dirty || phoneNumber.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(phoneNumber.errors.required || phoneNumber.errors.whitespace)">
                                            Phone number is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">ABN</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.ABN" myNoSpaces required #ABN="ngModel" name="ABN" type="text" class="form-control" placeholder="ABN" />
                                    <div *ngIf="ABN.errors && ( (ABN.dirty || ABN.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(ABN.errors.required || ABN.errors.whitespace)">
                                            ABN is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Company address</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.address" required myNoSpaces name="streetAddress" #streetAddress="ngModel" type="text" class="form-control" placeholder="Company address" />
                                    <div *ngIf="streetAddress.errors && ( (streetAddress.dirty || streetAddress.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(streetAddress.errors.required || streetAddress.errors.whitespace)">
                                            Company address is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-sm-12 form-group">
                                        <div class="lftinpt10">
                                            <label class="form-inline">State</label>
                                        </div>
                                        <div class="rghtinput10">

                                                <select class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="invite.stateName" [disabled]="disableState">
                                                    <option value="" disabled> Please select state </option>
                                                    <option *ngFor="let s of stateList" [value]="s.itemName">{{s.itemName}}</option>
                                                </select>
                                            <!--<input type="text" class="form-control" name="stateName" #stateName="ngModel" [(ngModel)]="profile.personalInformation.address.stateName"
                                                required>-->
                                            <div *ngIf="stateName.dirty || stateName.touched || inviteSubForm.submitted">
                                                <div class="color-danger" [hidden]="stateName.valid"> Please enter the state. </div>
                                            </div>
                                        </div>
                                    </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Postcode</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.postalCode" required myNoSpaces name="postalCode" #postalCode="ngModel" type="text" class="form-control" placeholder="Postcode" />
                                    <div *ngIf="postalCode.errors && ( (postalCode.dirty || postalCode.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(postalCode.errors.required || postalCode.errors.whitespace)">
                                            Postal code is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Suburb</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.suburb" myNoSpaces required #suburb="ngModel" name="suburb" type="text" class="form-control" placeholder="Suburb" />
                                    <div *ngIf="suburb.errors && ( (suburb.dirty || suburb.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(suburb.errors.required || suburb.errors.whitespace)">
                                            Suburb is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Email</label>
                                </div>
                                <div class="rghtinput10">
                                    <input type="email" #email="ngModel" required pattern=".*@.*\.*[A-Za-z/d]$" [(ngModel)]="invite.email" name="email" class="form-control" placeholder="Email" />
                                    <div *ngIf="email.errors && (email.dirty || email.touched)">
                                        <div class="alert alert-danger" [hidden]="!email.errors.required">
                                            Email is required.
                                        </div>
                                        <div class="alert alert-danger" [hidden]="!email.errors.pattern">
                                            Not a valid email pattern.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Scope of work being conducted</label>
                                </div>
                                <div class="rghtinput10">
                                    <textarea rows="4" cols="50" [(ngModel)]="invite.scope" myNoSpaces required #scope="ngModel" name="scop" type="text" class="form-control" placeholder="Scope"></textarea>
                                    <div *ngIf="scope.errors && ( (scope.dirty || scope.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(scope.errors.required || scope.errors.whitespace)">
                                            Scope is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Rate type</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        <angular2-multiselect required [data]="listRateType" [(ngModel)]="selectedRateType" name="rateTypen" #rateTyped="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedRateType">
                                        </angular2-multiselect>
                                        <div *ngIf="rateTyped.errors && ( (rateTyped.dirty || rateTyped.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(rateTyped.errors.required || rateTyped.errors.whitespace)">
                                                Required rate type.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Rate value</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.rateValue" myNoSpaces required #rValue="ngModel" name="rateValuew" type="text" class="form-control" placeholder="Rate value" />
                                    <div *ngIf="LoggedInUser.userRole=='companyAdmin'">"Rate value must be above the minimum award rate for sub-contractors, you must not enter into a sham contract. 
                                            If you require any advice on this contact Happy HR."</div>
                                    <div *ngIf="rValue.errors && ( (rValue.dirty || rValue.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(rValue.errors.required || rValue.errors.whitespace)">
                                            Rate value is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Invoice paid</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        <angular2-multiselect required [data]="listInvoiceType" [(ngModel)]="selectedInvoiceType" name="selectedInvoiceTypew" #selectedInvoice="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedInvoiceType">
                                        </angular2-multiselect>
                                        <div *ngIf="selectedInvoice.errors && ( (selectedInvoice.dirty || selectedInvoice.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(selectedInvoice.errors.required || selectedInvoice.errors.whitespace)">
                                                Required invoice.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedInvoiceType.length>0 && selectedInvoiceType[0].value=='-1'" class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline">Other days</label>
                                </div>
                                <div class="rghtinput10">
                                    <input [(ngModel)]="invite.invoicePaidOther" myNoSpaces required #invoicePaid="ngModel" name="invoicePaidOtherf" type="text" class="form-control" placeholder="days" />
                                    <div *ngIf="invoicePaid.errors && ( (invoicePaid.dirty || invoicePaid.touched) || isButtonClicked )">
                                        <div class="alert alert-danger" [hidden]="!(invoicePaid.errors.required || invoicePaid.errors.whitespace)">
                                            Invoice paid required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Contract type</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        <angular2-multiselect required [data]="listContractType" [(ngModel)]="selectedContractType" name="listContractType" #selectedContract="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedContractType" (onSelect)="onSelectContractType($event,true)" >
                                        </angular2-multiselect>
                                        <div *ngIf="selectedContract.errors && ( (selectedContract.dirty || selectedContract.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(selectedContract.errors.required || selectedContract.errors.whitespace)">
                                                Required contract type.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Own Contract types -->
                            <div *ngIf="contractTypeID=='x'" class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Own contract type</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        <angular2-multiselect required [data]="ownContractList" [(ngModel)]="selectedOwnContractType" name="listOwnContractType" #selectedOwnContract="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedOwnContractType">
                                        </angular2-multiselect>
                                        <div *ngIf="selectedOwnContract.errors && ( (selectedOwnContract.dirty || selectedOwnContract.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(selectedOwnContract.errors.required || selectedOwnContract.errors.whitespace)">
                                                Required Own contract type.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of own contract -->

                            <div *ngIf="selectedContractType.length>0 && selectedContractType[0].value == 'Upload'" class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Contract type</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        <span class="btn btn-lg btn-filter text-center btn-file">
                                            <i class="fa fa-upload"></i>&nbsp;Upload <input  (change)="fileChange($event)"  accept=".pdf,.doc,.docx,.png,.jpeg,.txt,.odt,.ott,.xml,.rtf" type="file" />
                                        </span>

                                        <div *ngIf="docError">
                                            file is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class=" col-sm-12 form-group">
                                <div class="lftinpt10">
                                    <label class="form-inline" style="margin-top:0px;">Mandatory documents (optional)</label>
                                </div>
                                <div class="rghtinput10">
                                    <div class="halfDD">
                                        Would you like to request Mandatory documents from the contractor ? <br>
                                        The documents requested might be a safety card, drivers licence, certificate of currency, first aid etc. <br>
			                            Please click button to request the documents. 
                                        <button type="button" (click)="openMandatoryDocPopup('add',{name:''},null)" class="btn btn-primary btn-md">Request mandatory documents</button>
                                        <br><br>
                                        <div *ngIf="invite.mandatoryDocuments.length>0" class="table-responsive Invitetable">
                                            <table>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Title</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr *ngFor="let s of invite.mandatoryDocuments; let i = index;">
                                                    <td class="white-space-pre">Mandatory document {{i+1}}</td>
                                                    <td>{{s?.name}}</td>
                                                    <td>
                                                        <button type="button" (click)="openMandatoryDocPopup('edit',s,i)" class="btn btn-special btn-sm">Edit <i class="fa fa-pencil"></i></button>
                                                        <button type="button" (click)="onDeleteDoc(i)" class="btn btn-danger btn-sm">Delete <i class="fa fa-trash"></i> </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>




                            <div class=" col-sm-12 form-group text-center">
                               <!-- <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner> -->
                             <button [disabled]="isProcessing && inviteSubForm.form.valid" (click)="isButtonClicked= true;register(inviteSubForm)" class="btn btn-primary btn-lg">Invite</button>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>