<section class="create- container-fluid">
    <!-- <div class="divheader" [hidden]="true">
    <h4 class="heading">
      Position Description Documents
    </h4>

  </div> -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item active"><a [routerLink]="['/app/company-admin/trophy/trophy-list']">Trophy</a></li>
        <li class="breadcrumb-item active">Create trophy nominations</li>
    </ol>
    <div class="cmpnycontentBox" style="padding:20px 15px;">

        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <form [hidden]="isProcessing" name="nominationForm" #nominationForm="ngForm" (ngSubmit)="nominationForm.valid && createNomination()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row marginTop">
                        <div class="col-md-6">
                            <label class="form-inline" style="margin:0px 0px;">Award title</label>
                        </div>
                        <div class="col-md-6">
                            {{trophy?.title}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row marginTop">
                        <div class="col-md-3">
                            <label class="form-inline">Choose employee from list</label>
                        </div>
                        <div class="col-md-3">
                            <md-progress-spinner *ngIf="isProcessinglist" mode="indeterminate" color=""></md-progress-spinner>
                            <angular2-multiselect [hidden]="isProcessinglist" name="employee" [data]="employeeList" #employee="ngModel" [(ngModel)]="selectedEmployee"
                                [settings]="dropdownSettings" [selectedItems]="selectedEmployee">
                            </angular2-multiselect>
                            <div class="alert alert-danger" *ngIf="!askToNominate && selectedEmployee.length==0 && nominationForm.submitted">
                                Please select any employee.
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <h2 class="heading" style="margin:0px 0px;">OR</h2>
                        </div>
                        <div class="col-sm-5">
                            <div class="customchkbox" style="margin-top:5px;">
                                <input id="friday" type="checkbox" #askEmployeeToNominate="ngModel" name="askEmployeeToNominate" [(ngModel)]="askToNominate"
                                    value="friday" (ngModelChange)="selectedEmployee=[];" class="required" aria-required="true">
                                <label for="friday">Ask employee for nomination</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12"> -->
                <!-- <div class="row form-group"> -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-inline">Voting close at</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <dp-date-picker name="voting" #voting="ngModel" [theme]="'dp-material'" [mode]="'daytime'" [(ngModel)]="votingTime" [config]="config"
                                placeholder="Select voting close time" [required]="true"></dp-date-picker>
                            <div *ngIf="voting.touched || nominationForm.submitted">
                                <div class="alert alert-danger" [hidden]="voting.valid"> Please enter the voting close time. </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <!-- </div> -->
                <div class="col-sm-12 text-center">
                    <md-progress-spinner *ngIf="isProcessingNomination" mode="indeterminate" color=""></md-progress-spinner>
                    <br>
                    <button *ngIf="!isProcessingNomination" [disabled]="isDisable" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>