<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin']">
                            <span class="fa fa-home"></span>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/app/company-admin/listing-page/performance-appraisal-listing']">Performance appraisal</a>
                    </li>
                    <li class="breadcrumb-item active">Result</li>
                </ol>
            </div>
            <div class="col-md-12 stepsContainer">
                <app-steps [progress]='progress'></app-steps>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="noResult && !isProcessing" class="cmpnycontentBox text-center">No result found.</div>
        <div *ngIf="!noResult && !isProcessing" class="cmpnycontentBox">
            <div class="row PIPmainBox">
                <div class="col-sm-12 pipHeader">
                    <div class="row">
                        <div class="col-lg 6 col-md-4">
                            <h3 *ngIf="pa.isDirectAssessment !='Yes'" class="heading">Performance appraisal</h3>
                            <h3 *ngIf="pa.isDirectAssessment =='Yes'" class="heading">Direct assessment</h3>
                        </div>


                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye">
                                <div class="title" *ngIf="isValidData(pa?.managerID)">Assigned manager</div>
                                <div class="pipEmpuserPic" *ngIf="isValidData(pa?.managerID)">
                                    <div class="profile">
                                        <div class="adjust">
                                            <img class="img-circle" height="40px" [src]="pa?.managerID?.imageUrl" width="40px">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.managerID?.name}}</h5>
                                        <div class="designation">{{pa?.managerID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-3">
                            <div class="pipEmploye">
                                <div class="title" *ngIf="isValidData(pa?.managerID)">Assigned to</div>
                                <div class="pipEmpuserPic" *ngIf="isValidData(pa?.managerID)">
                                    <div class="profile">
                                        <div class="adjust">
                                            <img class="img-circle" height="40px" [src]="pa?.userID?.imageUrl" width="40px">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <h5>{{pa?.userID?.name}}</h5>
                                        <div class="designation">{{pa?.userID?.position || 'Not specified'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
                <br>
                <div class="col-sm-12">
                    <br>
                    <br>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse']=!collapse['personalinfoCollapse']" [ngClass]="{active:!collapse['personalinfoCollapse']}">KPIs
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse']}" class="collapseContentbox">
                            <div class="box" *ngFor="let pi of pa?.performanceIndicator">
                                <ul class="indicator">
                                    <li class="lftside">
                                        <h6>Performance indicator</h6>
                                        <label>{{pi?.title}}</label>
                                    </li>
                                    <li class="rghtside">
                                        <h6>Measurement performance indicator</h6>
                                        <label>{{pi?.measure}}</label>
                                    </li>
                                </ul>
                                <h5 *ngIf="!directAssessment" class="heading">Employee self assessment </h5>
                                <p *ngIf="!directAssessment">{{pi?.response || 'Not specified'}}</p>

                                <h5 class="heading">Manager notes</h5>
                                <p>{{pi.managerNote || 'Not specified'}}</p>
                                <div *ngIf="pi.result" class="buttonWrap text-right">
                                    <label class="action-status" [ngClass]="{'color-success':pi.result=='Pass','color-danger':pi.result!='Pass'}">{{pi.result || 'Not specified'}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!directAssessment" class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse1']=!collapse['personalinfoCollapse1']" [ngClass]="{active:!collapse['personalinfoCollapse1']}">Answers to survey questions
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse1']}" class="collapseContentbox">
                            <div class="box addIndicator" *ngFor="let qsn of pa?.question;let i=index;">
                                <h5 class="heading">{{qsn?.questionTitle}}</h5>
                                <h6 class="heading">Employee answer</h6>
                                <p>{{qsn?.response || 'Not specified'}}</p>

                                <h6 class="heading">Manager notes</h6>
                                <p> {{qsn.managerNote || 'Not specified'}}</p>
                                <div *ngIf="qsn.result" class="buttonWrap text-right">
                                    <label class="action-status" [ngClass]="{'color-success':qsn.result=='Pass','color-danger':qsn.result!='Pass'}">{{qsn.result || 'Not specified'}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapseInfoBox">
                        <h4 (click)="collapse['personalinfoCollapse2']=!collapse['personalinfoCollapse2']" [ngClass]="{active:!collapse['personalinfoCollapse2']}">General manager notes
                            <span class="pull-right">
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </h4>
                        <div [ngClass]="{open:!collapse['personalinfoCollapse2']}" class="collapseContentbox">
                            <h5 class="heading">Manager notes</h5>
                            <p>{{pa?.generalManagerNote || 'Not specified'}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="cmpnycontentBox">
            <!-- <div class="row">
        <div class="col-lg-3 col-md-4">
          <label class="form-inline">Next assessment date</label>
        </div>
        <div class="col-lg-9 col-md-8 form-group">
          <dp-date-picker class="form-control" name="nextAssessmentDate" #assessmentDt="ngModel" [theme]="'dp-material'" [mode]="'daytime'"
            [(ngModel)]="nextAssessmentDate" [config]="config" placeholder="Assessment date"></dp-date-picker>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <label class="form-inline">Reminder date for send self assessment</label>
        </div>
        <div class="col-lg-9 col-md-8 form-group">
          <dp-date-picker class="form-control" name="reminderDate" #reminderDt="ngModel" [theme]="'dp-material'" [mode]="'daytime'"
            [(ngModel)]="reminderDate" [config]="config" placeholder="Reminder date"></dp-date-picker>
        </div>
      </div>
      <hr> -->
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <label class="form-inline">Third parties</label>
                </div>
                <div class="col-lg-9 col-md-8 form-group">
                    <p *ngIf="!pa?.thirdParty.length">Not specified</p>
                    <div style="display: flex;" *ngFor="let user of pa?.thirdParty">
                        <div *ngIf="user?.userID" class="media-left d-flex align-self-center  media-middle">
                            <img class="img-circle" height="40px" [src]="user?.userID?.imageUrl" width="40px">
                        </div>
                        <div *ngIf="user?.userID" class="align-self-center  media-right text-left">
                            {{user?.userID?.name}}
                            <span class="tag">{{user?.userID?.position || 'Not specified'}}</span>
                        </div>
                        <div *ngIf="!user?.userID" class="align-self-center  media-right text-left">
                            {{user?.email}}
                            <!-- <span class="tag">{{user?.userID?.position || 'Not specified'}}</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
        <div class="col-lg-3 col-md-4"><label class="form-inline">Invite third party (Optional)</label></div>
        <div class="col-lg-9 col-md-8 form-group">
          <my-multi-select [itemList]="itemList" [modelName]="modelName"></my-multi-select>
        </div>
        <br>
        <div class="col-sm-12 text-center">
          <button class="btn btn-primary" (click)="saveManagerResponse()">Complete PI discussion</button>
        </div>
      </div>s -->
        </div>
    </div>