.questionDetailwrap {
    .mdl-data-table {
        &.surveyDetail {
            tr {
                th {
                    text-align: center !important;
                }
                td {
                    text-align: center !important;
                    &:first-child {
                        width: 30px;
                    }
                    &:nth-child(2) {
                        text-align: left !important;
                        button {
                            &:last-child {
                                margin-left: 5px;
                            }
                        }
                    }
                    &:last-child {
                        width: auto;
                    }
                }
            }
        }
    }
    h5 {
        display: inline-block;
        margin-bottom: 20px;
    }
    span.addNew {
        margin-left: 20px;
        display: inline-block;
        margin-bottom: 20px;
        i {
            font-size: 18px;
            margin-right: 4px;
        }
    }
}

.cursor {
    cursor: pointer;
}

.textareaBorder {
    background: none;
    border: none;
}

.addDeleteBtns {
    position: relative;
    button {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.errorMsg {
    span {
        display: inline-block;
    }
}

.saveWrap {
    button {
        &:first-child {
            margin-right: 7px;
        }
    }
}

.positionListTable {
    .table-responsive {
        overflow-x: visible;
    }
}

.inlineEditWrapper {
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
}

.userType {
    li.active {
        background: #64c3fb;
        color: #fff;
    }
}

.visibilityButton {
    visibility: hidden;
}

button.btn-w-md {
    min-width: auto;
}

.messageSidebar {
    max-width: 500px;
    border-bottom: 0;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    .userType {
        li {
            width: 50%;
            display: inline-block;
            @media screen and (max-width: 479px) {
                font-size: 10px;
                padding: 2px 8px;
            }
        }
    }
}

@media screen and (max-width:479px){
 .addDeleteBtns{
    button{
        margin-top:12px;
    }
 }
}