<div class="container-fluid chapter questionDetailwrap">
    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <h2 class="article-title">Detail for any selected category</h2>
                <h5>Survey questionnaire category</h5>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">

                <div class="messageSidebar">
                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                    <ul *ngIf="!isProcessing" class="userType">
                        <li [ngClass]="{'active': selectedIndex == i.surveyCatID}" *ngFor=" let i of categories;let in=index " (click)="getSurveyCategoryDetail(i.surveyCatID) ">{{i.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="positionListTable">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="box contentBox">
                                <div class="box box-default table-box table-responsive">
                                    <table class="mdl-data-table surveyDetail" [mfData]="questions?.questionData" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>List of questions</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="!isListProcessing">
                                            <tr *ngFor="let s of mf.data;let i=index">
                                                <td *ngIf="permission.edit">
                                                    <md-checkbox (change)="selectQuestionsForDelete(s.surveyQuetionnerID,$event,i)"></md-checkbox>
                                                </td>
                                                <td colspan="2">
                                                    <span data-toggle="tooltip" title="{{tooltipValue}}" (click)="tooltipValue=''" class="inlineEditWrapper">
                                                    <inline-editor [disabled]="!permission.edit" data-toggle="tooltip" min="0" style="display:inline-block;" (onSave)="editQuestion(s,questions.surveyCatID)" type="textarea" [(ngModel)]="s.title"></inline-editor>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr *ngIf="!questions?.questionData.length">
                                                <td colspan="3">
                                                    No question in this category
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="!isListProcessing">
                                            <tr>
                                                <td class="progressSpinner" colspan="3" style="background:#ffffff !important;border-bottom:0px !important;">
                                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <md-progress-spinner *ngIf="isListProcessing" mode="indeterminate" color=""></md-progress-spinner>

                                </div>
                                <div class="text-right addDeleteBtns">
                                    <button md-raised-button color="accent" *ngIf="permission.add" [disabled]="disableAddButton" (click)="addNewQuestion()" class="theme-button btn-w-md">
                  <i class="fa fa-plus"></i>  Add new question
                </button>
                                    <md-progress-spinner style="height:40px !important;width:40px !important;top:0;position:absolute;right:100px;" *ngIf="deleteProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                    <span [ngClass]="{visibilityButton:deleteProcessing}">
                                    <button md-raised-button color="danger" *ngIf="permission.delete" [disabled]="disableDeleteButton" (click)="deleteQuestion()" class="theme-button btn-w-md">
                    Delete selected question</button>
                                    </span>
                                </div>
                            </div>
                            <div class="box contentBox" *ngIf="hideAddPanel">
                                <form #addCategory="ngForm">
                                    <md-input-container class="full-width">
                                        <textarea mdInput id="question{{i}}" name="question{{i}}" placeholder="Question" [(ngModel)]="surveyQuestion" #question="ngModel" type="text" required></textarea>
                                    </md-input-container>
                                    <span *ngIf="question.errors && (question.dirty || question.touched) ">
                <span class="alert alert-danger" [hidden]="!(question.errors.required )">
                  Question is required !
                </span>
                                    </span>
                                </form>
                                <md-progress-spinner style="height:40px !important;width:40px !important;display:inline-block;top:16px;position:relative;left:85%;" *ngIf="saveProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <div *ngIf="!saveProcessing" class="saveWrap text-right">
                                    <button md-raised-button color="primary" (click)="saveQuestion()" [disabled]="!addCategory.valid" class="theme-button btn-w-md">Save</button>
                                    <button md-raised-button color="default" (click)="onCancel()" class="theme-button btn-w-md">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>