<md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<div *ngIf="!isProcessing" class="admin-panel">
    <div class="row">
        <div class="col-md-2 col-sm-6">
            <h6 class="heading text-right">Notes given by:</h6>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="media">

                <div>
                    <div class="media-left d-flex align-self-center  media-middle">
                        <img class="img-circle" src="{{notesDetails.noteBy.imageUrl}}" height="40px" width="40px" />
                    </div>
                    <div class="d-flex align-self-center  media-right"></div>
                </div>
                <div class="media-right">
                    <label>{{notesDetails?.noteBy?.name || 'N/A'}}</label>
                    <p>{{notesDetails?.noteBy?.designation || 'N/A'}}</p>
                </div>
            </div>

        </div>
        <div class="col-md-2 col-sm-6">
            <h6 class="heading text-right">Notes for:</h6>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="media">

                <div>
                    <div class="media-left d-flex align-self-center  media-middle">
                        <img class="img-circle" src="{{notesDetails.noteFor.imageUrl}}" height="40px" width="40px" />
                    </div>
                    <div class="d-flex align-self-center  media-right"></div>
                </div>
                <div class="media-right">
                    <label>{{notesDetails?.noteFor?.name || 'N/A'}}</label>
                    <p>{{notesDetails?.noteFor?.designation || 'N/A'}}</p>
                </div>
            </div>
        </div>
    </div>
    <h4>{{notesDetails?.title}}</h4>
    <div class="row">
        <div class="col-sm-12">
            <p class="box white-space-pre" [innerHTML]="notesDetails?.description"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7"></div>
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8 footerDetails">
            <div class="row">
                <div class="col-sm-6">
                    <p><b>Created on</b></p>
                </div>
                <div class="col-sm-6">
                    <p>{{notesDetails?.insertTime | dateFormat}}</p>
                </div>
            </div>
        </div>
    </div>
</div>