.box {
    border: 1px solid #d4d4d4;
    background: #fff;
    box-shadow: none;
    margin-top: 20px;
    padding: 12px 15px;
    max-height: 300px;
    overflow: auto;
}

.media-right {
    label {
        margin-bottom: 0px;
    }
}

.footerDetails {
    margin-top: 40px;
}

h6.heading {
    margin: 0;
}

@media screen and (max-width:767px) {
    .text-right {
        text-align: left !important;
    }
}