<section class="create-notes">
    <h4 class="heading" [hidden]="true">Create note</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/file-notes']">File notes</a></li>
        <li class="breadcrumb-item active">Create notes</li>
    </ol>
    <div class="cmpnycontentBox">
        <div>
            <form #fileNoteFrom="ngForm">
                <md-progress-spinner style="margin-top:20px;" *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

                <div *ngIf="!isProcessing" class="form-group" style="margin-bottom: 35px !important;">
                    <label class="form-inline">Select employee</label>
                    <div class="dropdown form-control" style="padding:0;margin:0; border:0;">
                        <angular2-multiselect required (click)="attactImageAndRolesDropDownList()" [data]="dropdownListEmployees" [(ngModel)]="selectedItems" name="assignMang" #ddmanager="ngModel" [settings]="dropdownSettings" [selectedItems]="selectedItems">
                        </angular2-multiselect>
                        <div *ngIf="ddmanager.errors && ( (ddmanager.dirty || ddmanager.touched) || isButtonClicked )">
                            <div class="alert alert-danger" [hidden]="!(ddmanager.errors.required || ddmanager.errors.whitespace)">
                                Field is required.
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-inline">Title</label>
                    <input name="title" [(ngModel)]="note.title" myNoSpaces #title="ngModel" type="text" class="form-control" placeholder="Enter title here" />
                    <div *ngIf="title.errors && ( (title.dirty || title.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(title.errors.required || title.errors.whitespace)">
                            Title is required.
                        </div>
                    </div>
                </div>
                <div class="form-group no-alert">
                    <label class="form-inline">Note</label>
                    <textarea style="max-width:100%;min-height:100px;resize:none;" name="description" myNoSpaces [(ngModel)]="note.description" myNoSpaces #description="ngModel" class="form-control" placeholder="Enter description here"></textarea>
                    <div *ngIf="description.errors && ( (description.dirty || description.touched) || isButtonClicked )">
                        <div class="alert alert-danger" [hidden]="!(description.errors.required || description.errors.whitespace)">
                            Description is required.
                        </div>
                    </div>
                </div>



                <md-progress-spinner style="margin-top:20px;" *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                <div *ngIf="!isCreateProcessing" class="buttonWrap text-center">
                    <button [disabled]="isProcessing" (click)="onCreateNote(fileNoteFrom.form.valid)" class="btn btn-primary btn-lg">Save </button>
                    <button [routerLink]="['/app/company-admin/file-notes/list']" class="btn btn-default btn-lg">Cancel</button>

                </div>

            </form>
        </div>
    </div>
</section>