textarea{
     max-width:600px;
     width:100%;     
     margin-top:12px;
     border-radius:4px;
     min-height:200px;
     padding:12px;     
}
select{
    max-width:400px;
    width:100%;
    option{
        padding:12px 15px;
        height:42px;
        line-height:42px;
        display:block;
         small{
             display:block;
         }
    }
}
.dropdown{   
    .dropdown-menu{
        padding:0;        
        .toggle-main{       
            max-width:240px;
            overflow:auto;
            max-height: 120px;
        }
    }
        .dropdown-toggle{
            max-width:240px;
            height:36px;
            position:relative;  
            width:100%;
            outline:none;
            background:#fff;
            font-weight: normal;
            font-size: 16px;
            background:transparent;
            border:1px solid gray;
            text-align:left;
            position:relative;       
            .selectItms{
                width:100%;
                overflow:hidden;
                font-size:15px;
                display:block;
                .fa-close{
                    font-size:12px;
                    font-weight:500;
                }            
            }
            &::after{
                    position: absolute;
    top: 17px;
    right: 12px;
    transition:all 0.2s ease;
            }
                       
        }
    
   
    &.open{
        .dropdown-menu{
             display:block;
             max-width:240px;
             width:100%;
        }
        .dropdown-toggle{
            &:after{
                // content: 'x';
                // font-family: 'Lato';
                // font-weight: 600;
                // border: 0;
                // top: 6px;
                // right: 20px;
                // position: absolute;
                transform:rotate(180deg);
                -webkit-transform:rotate(180deg);
                -moz-transform:rotate(180deg);
                -o-transform:rotate(180deg);
            }  
        }
    }
}
.empSrearch #custom-search-input .input-group {
    border-radius: 0;
    overflow: hidden;
    box-shadow: 2px 1px 6px -3px #948f8f;
    border:0;
    position:relative;
}
.empSrearch #custom-search-input .input-group .form-control {
    border: 0;
    border-right: 0;
    z-index: 3;
    height: 37px;
    border-radius: 0;
}
.empSrearch #custom-search-input .input-group::after{
    content:'\f002';
    position:absolute;
    font-family:'FontAwesome';
    right:15px;
    top:6px;
    z-index:5;
    opacity:0.5;
}
.create-notes{
    padding:0px 15px 20px;
    .cmpnycontentBox{
        float:left;
        width:100%;
    }
    .dropdown-menu{
        .media-left{            
            padding-right:12px;
            img{
                margin-top:6px;
                width:30px;
                height:30px;
                border-radius:50%;
            
            }
        }
        .media-right{
            label{
                font-size:14px;
                display:block;
            }
        }
    }
}
.dropdown-menu{
    margin-top:12px !important; 
}
.form-group.no-alert {
    width: 100% !important;
    .alert{
        &::after{
        display:none;
        }
    }
}