<div class="contract-approval container-fluid  admin-panel">
    <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/app/employee']"><span class="fa fa-home"></span></a></li>
    <li class="breadcrumb-item active">Contract approval</li>
  </ol> -->
    <div class="row innerAdmins">
        <div class="col-md-12 stepsContainer" style="margin-top:30px;">
            <app-steps [progress]='progress'></app-steps>
        </div>
    </div>
    <section id="printBox" class="note-preview cmpnycontentBox contractApproval">
        <div *ngFor="let con of contract?.contracts">
            <div class="headingDiv">
                <h4 class="heading">{{con?.title}}</h4>
                <p [innerHTML]="con?.description"></p>
            </div>
            <div class="content" *ngFor="let subject of con?.contractSubjects">
                <h6 class="heading">{{subject?.title}}</h6>
                <p [innerHTML]="subject?.description"></p>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div class="btnWrapper text-center">
            <button *ngIf="!isProcessing" [disabled]="!contract || !contract.contracts.length" class="btn btn-lg btn-primary" (click)="contractApproval()">Approved</button>
        </div>
    </section>
</div>