.cursor {
    cursor: pointer;
}

.mdl-data-table {
    button {
        &.btn-w-md {
            min-width: 80px;
            .material-icons {
                font-size: 21px;
            }
        }
    }
    td {
        &:last-child {
            width: 18%;
        }
    }
}

.searchbar {
    margin-bottom: 10px;
    .input-group {
        .input-group-addon {
            color: #ffffff;
            cursor: pointer;
        }
    }
    .addUserBtn {
        margin-top: 0px;
        text-align: right;
        .icon {
            top: 1px;
        }
    }
}

md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-top: 20px;
}

.mdl-data-table td#textCenter {
    text-align: center !important;
}

.mdl-data-table td:last-child {
    width: auto !important;
}

span.awardBlue {
    position: relative;
    height: 46px;
    width: 70px;
    display: inline-block;
    i.fa.fa-trophy {
        position: absolute;
        color: #ffffff;
        font-size: 24px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    img {
        width: 100%;
        height: 100%;
    }
}