<div class="container-fluid chapter">
    <article class="article">
        <h2 class="article-title">List of trophy</h2>
        <div class="box contentBox">
            <div class="searchbar row">
                <div class="input-group col-lg-9 col-md-9 col-sm-7">
                    <input class="form-control" name="search" id="inlineFormInputGroup" (input)="onSearch()" [(ngModel)]="searchKey" placeholder="Search by title" type="text">
                    <div class="input-group-addon">
                        <md-icon>search</md-icon>
                    </div>
                </div>
                <a *ngIf="permission.add" class="addUserBtn  col-lg-3 col-md-3 col-sm-5" [routerLink]="['/app/super-admin/trophy/add']">
                    <button md-raised-button color="accent" class="theme-button btn-w-md">
                <span class="icon">+</span>Add new trophy
              </button>
                </a>
            </div>

            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <table class="mdl-data-table" [mfData]="trophies" [mfActivePage]=2 #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Award for</th>
                            <th>Trophy</th>
                            <th style="width:60px;" *ngIf="permission.edit||permission.delete">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!isProcessing">
                        <tr *ngFor="let trophy of mf.data;let i=index">
                            <td>{{trophy.title}}</td>
                            <td>
                                <span *ngFor="let award of trophy.awardFor;let in=index">{{award}}<span *ngIf="in<(trophy?.awardFor.length-1)">, </span></span>
                            </td>
                            <td><span class="awardBlue"><i class="fa fa-trophy"></i><img src="{{trophy.icon}}"/></span></td>
                            <td *ngIf="permission.edit||permission.delete">
                                <md-icon *ngIf="permission.edit" [routerLink]="['/app/super-admin/trophy/edit',trophy.baseTrophyID]" class="material-icons cursor" md-tooltip="Edit">edit</md-icon>
                                <md-icon *ngIf="permission.delete" class="material-icons mat-warn cursor" (click)="deleteTrophy(trophy.baseTrophyID,i)" md-tooltip="Delete">delete</md-icon>
                            </td>
                        </tr>
                        <tr *ngIf="!trophies.length">
                            <td colspan="4" class="alert alert-danger" id="textCenter">
                                No record found
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="trophies.length>10">
                            <td colspan="4">
                                <mfBootstrapPaginator></mfBootstrapPaginator>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        </div>
    </article>
</div>