<div class="container-fluid chapter">
    <article class="article">
        <div class="row">
            <div class="col-md-12 pageHead">
                <h2 class="article-title">Policy version</h2>
            </div>
        </div>
        <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
        <div *ngIf="!isProcessing" class="box box-default paddingBox">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="box box-default">
                        <md-tab-group>
                            <md-tab *ngFor="let c of policyVersions" label="Date: {{c.insertTime| dateFormat}} Version : {{c?.version}}">

                                <section class="box box-transparent">
                                    <div class="box-body">
                                        <div class="labelStats">
                                            <label class="statsInfo">Version: {{c?.version}}</label>
                                            <label class="statsInfo">Date: {{c?.insertTime | dateFormat}}</label>
                                            <button md-raised-button color="primary" (click)="restorePolicyVersion(c?.policyDocumentID)" class="float-right">Restore to this version</button>
                                        </div>

                                        <div class="article-title-style" style="margin-top:0px;">
                                            <h5 style="margin-top:0px;">{{c?.type}}</h5>
                                            <p>
                                                {{c?.data?.title}}
                                            </p>
                                            <p class="listStyleDisc" [innerHTML]="c?.data?.description |safe :'html'"></p>
                                            <ul *ngFor="let subject of c.data.policyDocumentSubjects; let i=index;" class="box box-default subjectBoxes">
                                                <li class="box-header box-dark collapseHead" [ngClass]="{'activecollapse':collapsebox[i]}">{{subject.title}} <span (click)="collapsebox[i]=!collapsebox[i]" class="toggleIcon float-right"><i class="fa fa-angle-up"></i></span></li>
                                                <li class="box-body collapseDetail listStyleDisc" [ngClass]="{'opencollapse':collapsebox[i]}">
                                                    <pre [innerHTML]="subject.description | safe: 'html'"></pre></li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </md-tab>

                        </md-tab-group>
                    </div>
                </div>
            </div>
            <button color="default" md-raised-button [routerLink]="['/app/super-admin/policy']">Cancel</button>
        </div>
    </article>
</div>