.change-contract {
    padding: 0px 15px 20px;
    .cmpnycontentBox {
        margin-bottom: 15px;
        padding: 0 15px;
        .box-title {
            padding: 15px 0;
            h6 {
                padding: 0 !important;
                margin: 0;
            }
            a {
                color: #333;
            }
            .btn-default {
                background: #d4d4d4;
            }
        }
        .togglebox {
            padding: 12px 0 0px;
        }
        .cmpnycontentBox {
            box-shadow: none;
        }
    }
}

.topLinks .btn,
.buttonWrap .btn {
    margin: 15px 6px;
}

.btn-sm {
    padding: 3px 12px;
    font-weight: 400;
}

.details {
    .rows {
        width: 150px;
    }
    tr {
        border: 0;
        background: transparent;
        td {
            padding-top: 0px;
            vertical-align: top;
        }
    }
}

.collapseInfoBox {
    a {
        color: #333;
    }
}

.toplinks {
    margin-bottom: 15px;
    label {
        padding: 7px 12px;
        border: 1px solid #cccccc;
        background: #e4e4e4;
    }
}