<section class="change-contract innerAdmins">
    <div class="subhead row">
        <div class="col-md-4 pull-left" [hidden]="true">
            <h2 class="article-title">Contract details</h2>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/contract']">Contract</a></li>
        <li class="breadcrumb-item active">Accept/ Reject change</li>
    </ol>
    <div class="full-width text-right toplinks">
        <!--<button (click)="onVersionList()" class="btn btn-primary">View changed logs</button>-->
    </div>
    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>

    <div *ngIf="!isProcessing" class="cmpnycontentBox">
        <div class="box" style="margin-top:15px;">
            <div class="full-width toplinks">
                <label>Version {{contract?.version}}</label>&nbsp;
                <label>{{contract?.status}}</label>
                <!--<a href="javascript:void(0)" class="btn" style="font-size: 36px;margin: 0;padding: 0;color: #4b4d4d;"><span class="fa fa-pencil-square-o"></span></a>          -->
            </div>
            <table class="full-width details">
                <tr>
                    <td class="rows"><b>Contract title</b></td>
                    <td>{{contract?.title}}</td>
                </tr>
                <tr>
                    <td class="rows"><b>Description</b></td>
                    <td [innerHTML]="contract?.description"></td>
                </tr>
            </table>
        </div>

        <div class="collapseInfoBox" *ngFor="let x of contract.contractSubjects; let i=index;">

            <h4 (click)="tgl[i] = !tgl[i]" [ngClass]="{active:tgl[i]}">{{x.title}}<a href="javascript:void(0)" class="pull-right"><span class="pull-right"><i class="fa fa-angle-down"></i></span></a></h4>

            <div class="collapseContentbox" [ngClass]="{open:tgl[i]}">
                <p [innerHTML]="x?.description">
                </p>
                <div *ngIf="!x.isUpdated" class="buttonWrap text-right">
                    <button (click)="onEditBeforeAccept(x)" class="btn btn-default btn-sm">Edit before accept</button>
                    <button (click)="x.isUpdated=true;x.status='Accepted'" class="btn btn-success btn-sm">Accept</button>
                    <button (click)="x.isUpdated=true;x.status='Rejected'" class="btn btn-danger btn-sm">Reject</button>
                </div>
                <div *ngIf="x.isUpdated" class="buttonWrap text-right">
                    <span [ngClass]="{'btn-success'  : x.status=='Accepted',
                  'btn-danger'  : x.status=='Rejected',
                  'btn-special'  : x.status=='Edited'}" class="btn btn-sm">{{x?.status}}
          </span>
                    <button (click)="x.isUpdated=false" class="btn btn-default btn-sm">Change</button>
                </div>

            </div>
        </div>
        <div *ngIf="isCreateProcessing" class="footerDiv buttonWrap text-center">
            <md-progress-spinner mode="indeterminate" color=""></md-progress-spinner>
        </div>
        <div *ngIf="!isCreateProcessing" class="footerDiv buttonWrap text-center">
            <button *ngIf="isSubjectNew" (click)="onAceeptChangeCompletely()" class="btn btn-success btn-lg">I accept this document completely</button>
            <button *ngIf="!isSubjectNew" (click)="onAceeptChangeCompletely()" class="btn btn-success btn-lg">I accept this document</button>
            <!--<button (click)="onRejectWithNote()" class="btn btn-default btn-lg">Reject with a note</button>-->
        </div>

    </div>


</section>