<md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
<section  *ngIf="!isProcessing" class="change-contract innerAdmins">
  <div class="subhead row">
    <div class="col-md-4 pull-left">
      <h2 class="article-title">Contract Details</h2>
    </div>
    <div class="col-md-8 pull-right text-right">
      <button [routerLink]="/app/company-admin/{{subUrl}}contract/version"  class="btn btn-primary">View Changed Logs</button>&nbsp;&nbsp;
      <div class="btn btn-default">Version {{contract?.version}}</div>&nbsp;&nbsp;
      <button class="btn btn-primary">{{contract?.status}}</button>
      <a href="javascript:void(0)" class="btn"><span class="fa fa-pencil-square-o"></span></a>      
    </div>
  </div>
  <div class="box">
    <div class="tableWrapper">
      <table class="full-width details">
        <tr style="border:0">
          <td class="rows">Contract Title</td>
          <td>{{contract?.title}}</td>
        </tr>
        <tr>
          <td class="rows">Description</td>
          <td [innerHTML]="contract?.description"></td>
        </tr>
      </table>
    </div>
  </div>
   <div class="box" *ngFor="let x of contract.contractSubjects; let i=index;">
    <div class="subhead">
      <h4 class="box-title">{{x?.title}}<a href="javascript:void(0)" class="pull-right" (click)="tgl[i] = !tgl[i]"><span class="fa fa-angle-down"></span></a></h4>
    </div>
    <div class="togglebox" [hidden]="tgl[i]">
      <p [innerHTML]="x?.description"></p>
       <div *ngIf="!x.isUpdated" class="buttonWrap text-right">
          <button (click)="onEditBeforeAccept(x.contractSubjectID)" class="btn btn-primary">Edit before Accept</button>
          <button (click)="x.isUpdated=true;x.status='Accepted'" class="btn btn-primary">Accept</button>
          <button (click)="x.isUpdated=true;x.status='Rejected'" class="btn btn-default">Reject</button> 
       </div>
       <div *ngIf="x.isUpdated" class="buttonWrap text-right">
          <span  [ngClass]="{'btn-success'  : x.status=='Accepted',
                  'btn-danger'  : x.status=='Rejected',
                  'btn-special'  : x.status=='Edited'}"
                 class="btn btn-sm">{{x?.status}}
          </span>
          <button (click)="x.isUpdated=false" class="btn btn-default">Change</button> 
        </div>        
    </div>
  </div>
  <div class="footerDiv buttonWrap text-center">    
    <button class="btn btn-primary">I Accept this Document Completely</button>
    <button class="btn btn-default">Reject with a Note</button>
  </div>
</section>

