dp-date-picker {
    max-width: 600px;
}

.PIPFormbox {
    padding-top: 30px;
    .attendeesList {
        .pipEmpuserPic {
            display: block;
            width: 100%;
            margin-right: 20px;
        }
    }
}

.inviteEmpMain {
    border: 0;
    height: 36px;
}

.selectItems input:focus+div.inviteEmpMain {
    display: block !important;
}

.selectItems div.inviteEmpMain:hover,
.selectItems div.inviteEmpMain:focus {
    display: block !important;
}

.footerBtn {
    padding: 6px 15px;
    background: #f3f3f3;
    border: 1px solid #d3d3d3;
}

.customDDmain .inviteEmpMain .inviteList {
    border-bottom: 0;
    border-radius: 0;
}

.customDDmain {
    .selectedList {
        .itemName {
            padding: 0 2px;
            border: 1px solid #e4e4e4;
            border-radius: 4px;
            box-shadow: 0px 1px 2px 1px #f7f7f7;
            .fa-close {
                color: #d53a38;
                font-size: 12px;
                font-weight: 100;
                margin: 0 2px;
                margin-left: 8px;
                opacity: 0.8;
            }
        }
    }
}

.footerBtn {
    padding: 4px 15px;
    background: #efefef;
    margin-top: -5px;
    position: relative;
    z-index: 999;
    border: 1px solid #bbb;
    border-top: 0;
}

.rghtinput {
    width: 100%;
    float: left;
    max-width: 600px;
}

.inviteEmp {
    .alert {
        top: 36px;
    }
}

.itemName {
    word-break: break-all;
}

#basic-addon1 {
    color: #ffffff;
}

.PopBox {
    min-height: 300px !important;
}