<div class="container-fluid">
    <div class="innerAdmins">
        <div class="row">
            <div class="col-md-12 topRow">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin']"><span class="fa fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/app/company-admin/listing-page/disciplinary-action-listing']">Disciplinary meeting</a></li>
                    <li class="breadcrumb-item active">{{heading}}</li>
                </ol>
            </div>

            <div *ngIf="!damID" class="col-md-12 stepsContainer grievanceSteps">
                <app-steps [progress]='progress'></app-steps>
            </div>

        </div>
        <div class="row" [ngClass]="actionInfo?'PopBox':''">
            <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
            <div *ngIf="!isProcessing" class="col-md-12 PIPmainBox">
                <div class="cmpnycontentBox">
                    <div class="pipHeader">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h3 class="heading">{{heading}} disciplinary meeting</h3>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                <div *ngIf="!isProcessing" class="pipEmploye">
                                    <div class="title">Employee:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{userInfo?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{userInfo?.name}}</h5>
                                            <div class="designation">{{userInfo?.role}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div *ngIf="!isProcessing" class="pipEmploye">
                                    <div class="title">Manager/owner:</div>
                                    <div class="pipEmpuserPic">
                                        <div class="profile">
                                            <div class="adjust"><img src="{{createdBy?.imageUrl}}" /></div>
                                        </div>
                                        <div class="info">
                                            <h5>{{createdBy?.fullName || createdBy?.name}}</h5>
                                            <div class="designation">{{createdBy?.userRole || createdBy?.position}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="divider"></div>
                    </div>
                    <div class="PIPFormbox">
                        <form #damForm="ngForm" autocomplete="off">
                            <div class="row">
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Title</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <input type="text" class="form-control" placeholder="title" #planTilte="ngModel" name="title" required [(ngModel)]="disciplinayMeeting.title" myNoSpaces placeholder="Enter title" />
                                        <div *ngIf="planTilte.errors && ( (planTilte.dirty || planTilte.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(planTilte.errors.required || planTilte.errors.whitespace)">
                                                Title is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Reason</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <textarea class="form-control" #planReason="ngModel" name="reason" required [(ngModel)]="disciplinayMeeting.reason" myNoSpaces placeholder="Enter reason"></textarea>
                                        <div *ngIf="planReason.errors && ( (planReason.dirty || planReason.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(planReason.errors.required || planReason.errors.whitespace)">
                                                Reason is required.
                                            </div>
                                        </div>
                                        <div class="instruction">
                                            Detail specific dates and examples of where the standards have not been met.
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Select date and time</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <dp-date-picker [(ngModel)]="tempDateAndTime" name="trainingtime" required class="form-control" #trainingTime="ngModel" placeholder="Select date and time" [theme]="'dp-material'" [mode]="'daytime'" [config]="config"></dp-date-picker>
                                        <div *ngIf="trainingTime.errors && ( (trainingTime.dirty && trainingTime.touched) || isButtonClicked )">
                                            <div class="alert alert-danger" [hidden]="!(trainingTime.errors.required || trainingTime.errors.whitespace)">
                                                Date & time is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline" style="margin-top:15px;">Invite 3rd party <br>(Optional)</label>
                                    </div>
                                    <div class="rghtinput10">
                                        <div>
                                            <div class="form-group">

                                                <div class="rghtinput">
                                                    <md-progress-spinner *ngIf="isProcessing" mode="indeterminate" color=""></md-progress-spinner>
                                                    <div *ngIf="!isProcessing">
                                                        <div class="customDDmain">
                                                            <div class="selectedList" *ngFor=" let e of thirdPartyList">
                                                                <div class="itemName" *ngIf="e.isSelected">
                                                                    {{e.name}}
                                                                    <span style="margin-left:5px; cursor: pointer" (click)="e.isSelected=false;" class="fa fa-close"></span>
                                                                </div>
                                                            </div>
                                                            <div class="selectItems">
                                                                <!-- <input class="form-control" style="border-radius:0;" aria-describedby="basic-addon1"> -->
                                                                <!--<div class="ddBtn" (click)="isFocused=!isFocused"></div>   -->
                                                                <div class="inviteEmpMain" style="display:block !important;">
                                                                    <input class="form-control searchfield" placeholder="Select third party or enter third party email" name="daste" type="text" (keyup.enter)="onEnterExternalThirdParty(!(email.errors && ( (email.dirty || email.touched) || isEnterPressed )))" pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
                                                                        (ngModelChange)="isEnterPressed=false" [(ngModel)]="thirdPartyName" #email="ngModel" (click)="isFocused=!isFocused" aria-describedby="basic-addon1" on-focus="isFocused=true">
                                                                    <!-- <span class="fa input-group-addon pull-right" [ngClass]="isFocused?'fa-angle-down':'fa-angle-up'" id="basic-addon1"></span>-->
                                                                    <span class="input-group-btn userIconbtn"></span>
                                                                    <ul class="inviteList" *ngIf="isFocused" style="max-height: 170px; z-index: 99;position: relative;top: 0px;">
                                                                        <li (click)="e.isSelected=!e.isSelected;" *ngFor=" let e of thirdPartyList |searchByName:thirdPartyName ;let i=index">
                                                                            <div class="customchkbox">
                                                                                <input aria-required="true" class="required" type="checkbox" name="customchk1{{i}}" [(ngModel)]="e.isSelected" id="custom{{e.userId}}">
                                                                                <label for="customchk1{{i}}"></label>
                                                                            </div>
                                                                            <img src="{{e?.imageUrl}}" alt="" />
                                                                            <div class="empinfo">
                                                                                <label>{{e?.name}}</label>
                                                                                <div class="userprofile">{{e?.employeeProfile || 'N/A'}}</div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="footerBtn text-right" *ngIf="isFocused">
                                                                        <button class="btn btn-success btn-sm" (click)="isFocused=!isFocused">Ok</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div *ngIf="email.errors && ( (email.dirty || email.touched) && isEnterPressed )">
                                                                <div class="alert alert-danger" *ngIf="email?.errors?.pattern"> Not a valid email !</div>
                                                            </div>
                                                            <div *ngIf="isThirdPartyAlreadyExist" class="alert-danger">user already exist with this email address.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Existing attendees</label>
                                    </div>
                                    <div class="rghtinput10 pipHeader">
                                        <div *ngIf="damID" class="pipEmploye attendeesList">
                                            <div class="pipEmpuserPic" *ngFor="let c of tempThirdParty">
                                                <div>
                                                    <div class="profile">
                                                        <div class="adjust"><img src="{{c?.imageUrl}}" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{c?.name || c?.email}}</h5>
                                                        <div class="designation">{{c?.role}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>-->
                                <div class="col-sm-12 form-group">
                                    <div class="lftinpt10">
                                        <label class="form-inline">Attendees</label>
                                    </div>
                                    <div class="rghtinput10 pipHeader">
                                        <div class="pipEmploye attendeesList">
                                            <div class="pipEmpuserPic" *ngFor="let c of thirdPartyList">
                                                <div *ngIf="c.isSelected">
                                                    <div class="profile">
                                                        <div class="adjust"><img src="{{c?.imageUrl}}" /></div>
                                                    </div>
                                                    <div class="info">
                                                        <h5>{{c?.name || c?.email}}</h5>
                                                        <div class="designation">{{c?.role}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="col-md-12 text-center btnwrap">
                            <md-progress-spinner *ngIf="isCreateProcessing" mode="indeterminate" color=""></md-progress-spinner>
                            <button *ngIf="!isCreateProcessing" class="btn btn-success btn-lg" (click)="onCreate(damForm.form.valid)">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>